{% comment %} MEGANTIC SUBCATEGORIES START {% endcomment %}
{% render 'megantic-subcategories-dropdown' %}
{% comment %} MEGANTIC SUBCATEGORIES END {% endcomment %}
{% if collection.title == 'Trapo Classic'
  or collection.title == 'Trapo Eco'
  or collection.title == 'Trapo Hex'
  or collection.title == 'Car Mats'
  or collection.title == 'Sitewide Sale Collection'
%}
  <details class="collapsible-tab">
    <summary class="collapsible-tab__heading"><span>Read More</span></summary>
    <div class="collapsible-tab__text">
      <p>
        Welcome to Trapo, where our high-quality eco-friendly car mats enhance your driving experience. At Trapo, we are
        dedicated to repurposing industrial waste into top-notch automotive products, ensuring that every driver enjoys
        a comfortable and safe driving environment.
      </p>
      <p>
        Why Choose Trapo?<br>
        <br>
        We stock a wide selection for every car make and model, ensuring a perfect fit every time. Whether you own a 5
        seater Perodua Axia, or a 6 seater Proton X90, or a luxury BMW M3, we've got you covered.<br>
        <br>
        We take pride in our commitment to the environment through our eco-friendly innovation. Our car mats are crafted
        from repurposed industrial waste, making them a sustainable choice. By choosing our mats, you not only protect
        your car's interior but also support eco-friendly practices.
      </p>
      <p>
        We believe in delivering nothing but the most premium quality product. Our car mats are lightweight, durable,
        and of the highest quality, ensuring they withstand the test of time while providing superior protection. Our
        car mats are non-toxic, antibacterial, and waterproof, helping maintain a clean and safe driving environment.
        <br>
        <br>
        Plus, they are easy to clean, making maintenance a breeze. <a href="/pages/car-mats">Click here</a> for more
        information on our car mats. We offer free shipping across Malaysia, ensuring that you can enjoy our
        high-quality car mats without any extra cost.<br>
        <br>
        Visit our <a href="/blogs/blog-posts-by-trapo">blog page</a> for informative articles and helpful tips on
        customizing your car, explore our <a href="/community/faqs">FAQ Page</a> for answers to common product
        questions, and contact our friendly team anytime for assistance with orders or inquiries.
        <br>
        <br>
        And alongside protecting your interior, capture every journey on the road, 
        from everyday commutes to long road trips with our range of <a href="/collections/car-dash-cams">dashcams</a> to suit any model.
      </p>
    </div>
  </details>

{% elsif collection.title == 'Car Wipers' %}
  <details class="collapsible-tab">
    <summary class="collapsible-tab__heading"><span>FAQs</span></summary>
    <div class="collapsible-tab__text">
      <p class="title"><strong>1. How to clean car windshield wipers?</strong></p>
      <p>To clean car windshield wipers, you can follow these steps:</p>
      <ul>
        <li>Lift the wiper blades away from the windshield.</li>
        <li>Wipe the rubber blade with a damp cloth or sponge soaked in mild soap and water.</li>
        <li>Gently scrub along the rubber blade to remove dirt, debris, and any buildup.</li>
        <li>Rinse the blade with clean water to remove soap residue.</li>
        <li>Dry the blade with a clean cloth or allow it to air dry before placing it back on the windshield.</li>
      </ul>
      <p class="title"><strong>2. How do car wipers work?</strong></p>
      <p>
        Car wipers are designed to clear rain, dirt, and other debris from the windshield for improved visibility while
        driving. The wiper blades, made of rubber or silicone, are attached to metal arms that move in a sweeping motion
        across the windshield. This motion creates friction, allowing the blades to remove moisture and debris from the
        glass surface.
      </p>
      <p class="title"><strong>3. How to refill water in a car wiper?</strong></p>
      <p>
        Car wipers typically use a washer fluid reservoir, which can be filled with a suitable windshield washer fluid.
        Locate the reservoir under the hood of your car, usually near the windshield. Open the cap and pour the washer
        fluid into the reservoir until it reaches the appropriate level indicated on the reservoir or its dipstick.
      </p>
      <p class="title"><strong>4. How to change car wipers?</strong></p>
      <p>To change car wipers, you can follow these general steps:</p>
      <ul>
        <li>Lift the wiper arm away from the windshield.</li>
        <li>Locate the attachment point where the wiper blade connects to the arm.</li>
        <li>Depress the small tab or button on the attachment and slide the old wiper blade out.</li>
        <li>Align the new wiper blade with the attachment point and slide it in until it clicks into place.</li>
        <li>Gently lower the wiper arm back onto the windshield.</li>
      </ul>
      <p class="title"><strong>5. What does a car wiper do?</strong></p>
      <p>
        Car wipers are essential components of a vehicle's safety system. They are responsible for clearing rain, dirt,
        and other debris from the windshield, ensuring clear visibility for the driver. By maintaining a clear
        windshield, wipers help prevent accidents and improve overall road safety.
      </p>
      <p class="title"><strong>6. What types of wipers are best?</strong></p>
      <p>
        Silicone car wipers, like TRAPO Hydrophobic Car Wipers, are considered the best choice due to their durability,
        smooth operation, hydrophobic properties, all-weather performance, and resistance to streaking.
      </p>
      <p>
        Unlike traditional rubber wipers, silicone wipers are highly resistant to wear, extreme temperatures, and
        chemicals. They provide a smooth and quiet wiping action, repel water effectively, and maintain optimal
        visibility in various weather conditions.
      </p>
      <p>
        With their exceptional performance and longevity, silicone wipers ensure a safer and clearer driving experience,
        making them the top choice for car owners.
      </p>
    </div>
  </details>

{% elsif collection.title == 'Dashcams' %}

  <div class="dashcam-faq">
  <h3>FAQs About Dashcams</h3>

  <details class="collapsible-tab">
    <summary class="collapsible-tab__heading"><span><h3 class="title">1. Are dashcams illegal in Malaysia?</h3></span></summary>
    <div class="collapsible-tab__text">
      <p>No, dashcams are not illegal in Malaysia. In fact, they are encouraged as a way to protect yourself on the road. Just ensure the device is installed properly and does not obstruct your view while driving.</p>
    </div>
  </details>

  <details class="collapsible-tab">
    <summary class="collapsible-tab__heading"><span><h3 class="title">2. What is a dashcam used for?</h3></span></summary>
    <div class="collapsible-tab__text">
      <p>A dashcam records video footage while you're driving and sometimes while parked (if connected to a hardwire kit). It is commonly used to:</p>
      <ul>
        <li>Provide evidence in the event of an accident</li>
<li>Record hit-and-run incidents</li>
<li>Enhance vehicle security when parked</li>
<li>Protect against road scams and false claims</li>
      </ul>
    </div>
  </details>

  <details class="collapsible-tab">
    <summary class="collapsible-tab__heading"><span><h3 class="title">3. Do dashcams use a lot of battery?</h3></span></summary>
    <div class="collapsible-tab__text">
      <p>Not when installed with the right setup. Most dashcams use minimal power when running. If you use a proper hardwire kit like Trapo’s OBD Hardwire Kit, the power draw is controlled and includes a built-in cut-off to protect your car battery from draining.</p>
    </div>
  </details>

  <details class="collapsible-tab">
    <summary class="collapsible-tab__heading"><span><h3 class="title">4. Is it worth having a dashcam?</h3></span></summary>
    <div class="collapsible-tab__text">
      <p>Yes, it’s definitely worth it. A dashcam can help protect you in accidents, prevent disputes, and speed up insurance claims. In today’s traffic conditions, especially in Malaysia, it’s a smart and practical safety tool for every driver.</p>
    </div>
  </details>

  <details class="collapsible-tab">
    <summary class="collapsible-tab__heading"><span><h3 class="title">5. How do I choose the right S-650 dashcam configuration best for me?</h3></span></summary>
    <div class="collapsible-tab__text">
      <p>The TRAPO S-650 dashcam records in 2K at 60fps with HDR, delivering clear footage both day and night. With multiple configurations available, choosing the dashcam that’s best for you will be based on your driving habits; be that how long you drive on a daily basis, and whether you need active parking surveillance:</p>
      <h4><span style="font-weight: 400;">Storage Option:</span></h4>
<ul>
<li style="font-weight: 400;"><strong>64GB</strong><span style="font-weight: 400;"> -</span> <span style="font-weight: 400;">Suitable for regular daily driving (approx. 8-10 hours of footage before looping).</span></li>
<li style="font-weight: 400;"><strong>128GB</strong><span style="font-weight: 400;"> - Recommended if you drive longer hours or prefer a longer recording buffer before footage is overwritten.</span></li>
</ul>
<h4><span style="font-weight: 400;">Installation Type:</span></h4>
<ul>
<li style="font-weight: 400;"><strong>OBD Plug-and-Play</strong><span style="font-weight: 400;"> - Quick installation without tools. Ideal if you want a clean setup with minimal installation time.</span></li>
<li style="font-weight: 400;"><strong>Hardwire Setup</strong><span style="font-weight: 400;"> - Permanent installation that enables continuous parking mode recording for added security when your car is parked.</span></li>
</ul>
    </div>
  </details>
</div>
  
{% endif %}

<style>
  .collapsible-tab__heading{
    width:10%;
    text-transform: uppercase;
    border-bottom:0;
  }
  .dashcam-faq .collapsible-tab__heading{
    width:auto;
  }
  .dashcam-faq h3.title{
    font-size: 16px;
  }
  .collapsible-tab__heading h2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    padding: .5rem 0;
    color: #1b3d6d;
    font-weight: 700;
    width: auto;
    text-transform: uppercase;
    border-bottom: 0;
    font-size: 15px;
  }
  .collapsible-tab__text h3.title{
    font-size: .9rem !important;
    line-height: 1.5;
    text-align: justify;
    margin: 0 0 15px;
    font-style: normal;
  }

  @media screen and (max-width: 479px){
    .collapsible-tab .collapsible-tab__heading{
      width: 100% !important;
    }
  }
</style>
