<section class="section">
  <div class="container announcement-banner center">
    <div class="one-whole column">
      {% if product.type == 'TRAPO CLASSIC REAR'
        or product.type == 'TRAPO HEX REAR'
        or product.type == 'TRAPO ECO REAR'
      %}
        <a href="/pages/complete-your-set">
          <img
            class="lazyload header-announcement-banner"
            data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/minibanner_desktop.jpg?v=1714383722"
            alt="Loyalty Program"
            width="100%"
            loading="lazy"
          >
        </a>
        <a href="/pages/complete-your-set">
          <img
            class="lazyload header-announcement-banner-m"
            data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/minibanner_mobile.jpg?v=1714383736g"
            alt="Loyalty Program"
            width="100%"
            loading="lazy"
          >
        </a>
      {% elsif page.handle == 'spin-the-wheel' %}
        <a href="#">
          <img
            class="lazyload header-announcement-banner"
            data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/header_-_desktop_-_1940x180_ad8ed712-6dc0-4376-99c2-bd539bda7bc7.png?v=1747195935"
            alt="Spin the Wheel"
            width="100%"
            loading="lazy"
          >
        </a>
        <a href="#">
          <img
            class="lazyload header-announcement-banner-m"
            data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/header_-_mobile_-_568x213_bf174bee-34b4-4441-8a21-3bc127d50c9c.png?v=1747195935"
            alt="Spin the Wheel"
            width="100%"
            loading="lazy"
          >
        </a>
        

      {% else %}
        <a href="/pages/loyalty-program">
          <img
            class="lazyload header-announcement-banner"
            data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/desktop_0a17c6fb-5fdb-454d-a85b-05e2a6fc8906.jpg?v=1740679064"
            alt="Loyalty"
            width="100%"
            loading="lazy"
          >
        </a>
        <a href="/pages/loyalty-program">
          <img
            class="lazyload header-announcement-banner-m"
            data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/mobile_317011bb-734d-4a59-b901-842ffb9e5e23.jpg?v=1740679064"
            alt="Loyalty"
            width="100%"
            loading="lazy"
          >
        </a>
      {% endif %}
    </div>
  </div>
</section>

<style>
  .announcement-banner {
  	padding: 20px 0;
  }

  .header-announcement-banner {
  	display: block;
  }

  .header-announcement-banner-m {
  	display: none;
  }

  @media(max-width: 768px) {
  	div.container {
  		padding: 0px 0px;
  	}

  	.header-announcement-banner {
  		display: none;
  	}

  	.header-announcement-banner-m {
  		display: block;
  		margin-top: 2.5rem;
  	}
  }

  @media(max-width: 500px) {
  	.header-announcement-banner-m {
  		display: block;
  		margin-top: 0rem;
  	}
  }
</style>
