<section class="section announcement">
  <div class="container announcement-banner center">
    <div class="one-whole column">
      {% if product.type == 'TRAPO CLASSIC REAR'
        or product.type == 'TRAPO HEX REAR'
        or product.type == 'TRAPO ECO REAR'
      %}
        <a href="/pages/complete-your-set">
          <img
            class="lazyload header-announcement-banner"
            data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/minibanner_desktop.jpg?v=1714383722"
            alt="Loyalty Program"
            width="100%"
            loading="lazy"
          >
        </a>
        <a href="/pages/complete-your-set">
          <img
            class="lazyload header-announcement-banner-m"
            data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/minibanner_mobile.jpg?v=1714383736g"
            alt="Loyalty Program"
            width="100%"
            loading="lazy"
          >
        </a>
        
      {% elsif product.tags contains 'scented-stone' %}

        <a href="/products/trapo-starter-kit">
          <img
            class="lazyload header-announcement-banner"
            data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Quiz-Shop-Banner-Desktop.jpg?v=1754270107"
            alt="Scented Stone"
            width="100%"
            loading="lazy"
          >
        </a>
        <a href="/products/trapo-starter-kit">
          <img
            class="lazyload header-announcement-banner-m"
            data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Quiz-Shop-Banner-Mobile.jpg?v=1754270113"
            alt="Scented Stone"
            width="100%"
            loading="lazy"
          >
        </a>

      {% else %}
        <a href="/pages/launch-2025">
          <img
            class="lazyload header-announcement-banner"
            data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Dekstop-StripBanner-1940x180_c769db51-5cf4-4d6e-b06a-79b95bd84433.png?v=1755050734"
            alt="Launch 2025"
            width="100%"
            loading="lazy"
          >
        </a>
        <a href="/pages/launch-2025">
          <img
            class="lazyload header-announcement-banner-m"
            data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Mobile-StripBanner-600x150_2a125804-194e-4cc8-b7f5-76567a3fa454.png?v=1755050738"
            alt="Launch 2025"
            width="100%"
            loading="lazy"
          >
        </a>
       {% comment %} <a href="/collections/clearance">
          <img
            class="lazyload header-announcement-banner"
            data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Mid_Year_Clearance_June__Dekstop-StripBanner-1940x180.jpg?v=1750409441"
            alt="Loyalty"
            width="100%"
            loading="lazy"
          >
        </a>
        <a href="/collections/clearance">
          <img
            class="lazyload header-announcement-banner-m"
            data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Mid_Year_Clearance_June__Mobile-StripBanner-600x150.jpg?v=1750409447"
            alt="Loyalty"
            width="100%"
            loading="lazy"
          >
        </a>{% endcomment %}
        {% comment %} <a href="/pages/loyalty-program">
          <img
            class="lazyload header-announcement-banner"
            data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/desktop_0a17c6fb-5fdb-454d-a85b-05e2a6fc8906.jpg?v=1740679064"
            alt="Loyalty"
            width="100%"
            loading="lazy"
          >
        </a>
        <a href="/pages/loyalty-program">
          <img
            class="lazyload header-announcement-banner-m"
            data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/mobile_317011bb-734d-4a59-b901-842ffb9e5e23.jpg?v=1740679064"
            alt="Loyalty"
            width="100%"
            loading="lazy"
          >
        </a>{% endcomment %}
        
        
      {% endif %}
    </div>
  </div>
</section>

<style>
  .announcement-banner {
  	padding: 20px 0;
  }

  .header-announcement-banner {
  	display: block;
  }

  .header-announcement-banner-m {
  	display: none;
  }

  @media(max-width: 768px) {
  	div.container {
  		padding: 0px 0px;
  	}

  	.header-announcement-banner {
  		display: none;
  	}

  	.header-announcement-banner-m {
  		display: block;
  		margin-top: 2.5rem;
  	}
  }

  @media(max-width: 500px) {
  	.header-announcement-banner-m {
  		display: block;
  		margin-top: 0rem;
  	}
  }
</style>
