<!--<p class="no-padding">
  <img
    class="lazyload plus-hide-mobile"
    data-expand="-10"
    data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/bnpl-desk.png?v=1747076426"
    alt="Buy Now Pay Later"
  >
  <img
    data-expand="-10"
    class="lazyload plus-hide-desktop"
    data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/bnpl-mob.png?v=1747076422"
    alt="Buy Now Pay Later"
  >
</p>-->

<p class="no-padding">
  <img
    class="lazyload plus-hide-mobile"
    data-expand="-10"
    data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/bnpl-grab-desk.png?v=1747159917"
    alt="Buy Now Pay Later"
  >
  <img
    data-expand="-10"
    class="lazyload plus-hide-desktop"
    data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/bnpl-grab-mob.png?v=1747159916"
    alt="Buy Now Pay Later"
  >
</p>
<style>
  @media screen and (max-width: 768px) {
    .plus-hide-mobile {
        display: none;
    }
}
   @media screen and (min-width: 769px) {
  	.plus-hide-desktop {
  		display: none;
  	}

  }
</style>