<p class="no-padding">
  <img
    class="lazyload plus-hide-mobile"
    data-expand="-10"
    data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/web_e9f671b4-2c12-49f0-8063-3325d5339a81.png?v=1722500735"
    alt="Trapo Classic Free Shipping"
  >
  <img
    data-expand="-10"
    class="lazyload plus-hide-desktop"
    data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/mobile.png?v=1722500752"
    alt=" "
  >

<Div class="dealing_sec">
  <div class="dealing_title">
    <h3>Tired of dealing with these?</h3>
  </div>
  <div class="dealing_wrap">
    <div class="dealing_item">
      <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Rectangle_284_23b6efb9-3f6d-433f-a066-d843ed00c051.png?v=1754058862">
      <div class="text_wrap">
        <h6>Car mats not staying in place?</h6>
      </div>
    </div>
    <div class="dealing_item">
      <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/IMG_20211126_153743_1.png?v=1754058861">
      <div class="text_wrap">
        <h6>Dusty mats triggering allergies?</h6>
      </div>
    </div>
    <div class="dealing_item">
      <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Coil_mat_n_ice_cream_2_1.png?v=1754058862">
      <div class="text_wrap">
        <h6>Sore feet from long drives?</h6>
      </div>
    </div>
  </div>
</Div>

<div class="new_improve">
  <img class="desktop_view" src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_974.png?v=1754059099" />
  <img class="mobile_view" src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_975.png?v=1754059099" />
</div>

<div class="new_improve">
  <img class="desktop_view" src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_977.png?v=1754059099" />
  <img class="mobile_view" src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_976.png?v=1754059098" />
</div>

<div class="new_improve">
  <img class="desktop_view" src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_980.png?v=1754059100" />
  <img class="mobile_view" src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_981.png?v=1754059099" />
</div>
<Div class="dealing_sec easy_to_clean">
  <div class="dealing_title">
    <h3>Easy to clean</h3>
  </div>
  <div class="dealing_wrap">
    <div class="dealing_item">
      <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_815.png?v=1754058862">
    </div>
    <div class="dealing_item">
      <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_821.png?v=1754058862">
    </div>
    <div class="dealing_item">
      <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_822.png?v=1754058862">
    </div>
  </div>
  <p>Traps dirt and washes effortlessly with just water!</p>
</Div>
<div class="new_improve">
  <img  src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_967_1.png?v=1754060627" />
</div>
<style>
.dealing_sec{
    max-width: 1040px;
    margin: 50px auto 30px;
    padding-inline:20px
}
.dealing_sec h3{
    color:#222222;
    text-align: center;
    margin: 0 0 25px;
    font-weight: 600
}
.dealing_sec .dealing_wrap{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:15px;
}
.dealing_sec .dealing_wrap >div{
    display: grid;
    grid-template-rows: auto 1fr;
    justify-content: center;
}
.dealing_sec .dealing_wrap img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover
}
.dealing_sec .text_wrap{
    background-color: #777667;
    padding:15px 20px;
    text-align: center;
}
.dealing_sec .text_wrap h6{
    color: #fff;    
    max-width: 210px;
    margin: 0 auto
}
.new_improve {
    max-width: 1040px;
    margin: 50px auto 30px;
    padding-inline:20px
}
.new_improve img{
    display: block;
    width: 100%;
    height: auto;
    object-fit: contain
}
.dealing_sec p {
    text-align: center;
    margin: 10px 0 0;
}
@media(min-width:768px){
    .mobile_view{
        display: none !important
    }    
}
@media(max-width:767px){
    .desktop_view{
        display: none !important
    }
    .dealing_sec .text_wrap{
        padding: 10px;
        font-size: 14px;
    }
    .dealing_sec .text_wrap h6{
        line-height: 22px;  
    }
    .dealing_sec h3{
        font-size: 16px;
        margin-bottom: 10px;
    }
    .dealing_sec {
        margin: 20px auto;
    }
    .new_improve{
        margin: 30px auto;
    }+
}
      .no-padding {
  	margin: 0px 0px !important;
  	line-height: 0px !important;
  }

  p.desc-content {
  	font-family: 'Roboto';
  	font-size: 22px;
  	line-height: 30px;
  	text-align: center;
  	letter-spacing: 0.19px;
  	width: 72%;
  	margin: 0 auto;
  	margin-top: 40px;
  	margin-bottom: 40px;

  }

  p.desc-content.black {
  	color: #222222;
  }

  h3.desc-title {
  	margin: 40px auto;
  	margin-bottom: 0;
  	text-align: center;
  	font-size: 40px;
  	line-height: 50px;
  	font-weight: 600;
  	letter-spacing: 0.5px;
  	color: #222222;
  }

  h3.desc-title.white,
  p.desc-content.white {
  	color: #fff !important;
  }

  .img-container {
  	position: relative;
  	width: 100%;
  }

  .img-container .content-text {
  	position: absolute;
  	top: 20%;
  	left: 50%;
  	transform: translate(-50%, -50%);
  	width: 100%;
  }

  h4.desc-subtitle {
  	text-align: center;
  	color: #222222;
  	font-size: 26px;
  	line-height: 30px;
  	font-weight: 600;
  }

  .align-left .img-container .content-text {
  	position: absolute;
  	top: 33%;
  	left: 27%;
  	transform: translate(-50%, -50%);
  	width: 100%;
  	width: 45%;
  }

  h4.desc-subtitle.white {
  	color: #fff;
  }

  .features-list {
  	background: #EE2A7B;
  	padding: 35px 0;
  }

  .features-list-ul {
  	list-style: none;
  	display: grid;
  	grid-template-columns: repeat(6, 1fr);
  	gap: 20px;
  	padding: 0 50px;
  }

  .features-list-ul li {
  	text-align: center;
  }

  .features-list-ul li img {
  	width: 75%;
  }

  .features-list-ul li p {
  	color: #fff;
  	font-size: 16px;
  	letter-spacing: 0.5px;
  	padding-top: 0.8rem;
  	line-height: normal;
  	margin-bottom: 0;
  }

  @media screen and (max-width: 768px) {
  	.plus-hide-mobile {
  		display: none;
  	}

  	p.desc-content {
  		width: 100%;
  		font-size: 18px;
  		line-height: 25px;
  	}

  	h3.desc-title {
  		font-size: 21px;
  		line-height: 25px;
  	}

  	.eva-sec {
  		background: #23A474;
  		padding-top: 65px !important;
  	}

  	.eva-sec p.desc-content {
  		width: 95%;
  	}

  	.container .product-container .sixteen.columns {
  		width: 100%;
  		margin: 0 auto;
  	}

  	.rpet-sec,
  	.design-sec {
  		background: #fff;
  		padding-top: 65px !important;
  	}
  	.lining-sec {
  		background: #fff;
  		padding-top: 6.5rem !important;
  	}

  	.rpet-sec p.desc-content,
  	.lining-sec p.desc-content,
  	.design-sec p.desc-content {
  		width: 95%;
  	}

  	h4.desc-subtitle {
  		font-size: 18px;
      padding-bottom: 3rem;
  	}

  	.align-left .img-container .content-text {
  		width: 100%;
  		left: 50%;
  		top: 20%;
  	}

  	.align-left .img-container .content-text h3.desc-title {
  		margin-top: 0;
  	}

  	.features-list-ul {
  		grid-template-columns: repeat(3, 1fr);
  		padding: 0px 30px;
  	}
  }

  @media screen and (min-width: 769px) {
  	.plus-hide-desktop {
  		display: none;
  	}

  }
</style>
