<section class="best_for_sec">
  <div class="container">
    <div class="best_for_sec_left">
        <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_0e30fab8-f763-4ebc-a36c-b960867f3373.png?v=1727708192"/>
        <span>BEST FOR</span>
    </div>
    <div class="best_for_sec_right">
        <ul class="best_for_list">
            <li class="best_for_list_item">
              <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_704.svg?v=1727708199"/>
              <span>Urban <br> Dwellers</span>
            </li>
            <li class="best_for_list_item">
              <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_710.svg?v=1727708199"/>
              <span>New & older <br> Car Owners</span>
            </li>
            <li class="best_for_list_item">
              <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_711.svg?v=1727708200"/>
              <span>Family <br> Vehicles</span>
            </li>
        </ul>
    </div>
  </div>
</section>

<section class="key_features">
  <div class="container">
    <div class="sec_heding">
        <h2 class="sec_heding">KEY FEATURES OF Quik Shield car coating</h2>
    </div>
    <div class="key_feature_top">
        <div class="key_feature_item">
            <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Rectangle_373.png?v=1727708843"/>
            <div class="detail">
              <h5>Corrosion Resistant</h5>
              <p>Keeps your car paint looking new by preventing rust</p>
            </div>
        </div>
        <div class="key_feature_item">
            <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Coating_-_Paint_Correction_Before_After.png?v=1727708843"/>
            <div class="detail">
              <h5>PAINT CORRECTION </h5>
              <p>Enhances your car’s shine and corrects minor paint imperfections.</p>
            </div>
        </div>
    </div>
    <div class="key_feature_bottom">
        <div class="key_feature_item">
            <div class="detail">
              <h5>12-Months Warranty Period</h5>
              <p>Worry-free protection for your car, no matter the shine or rain, for one year.</p>
            </div>
          <div class="img_wrap">
            <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_219.png?v=1727710369"/>
          </div>
        </div>
        <div class="key_feature_item">
            <div class="detail">
              <h5>Hardness Level (H)</h5>
              <p>With 6H hardness, like a steel nail, your car gets lasting protection.</p>
            </div>
          <div class="img_wrap">
            <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_713.png?v=1727710369"/>
          </div>
        </div>
        <div class="key_feature_item">
            <div class="detail">
              <h5>Fast Completion</h5>
              <p>Get your car coated in under half a day! Enjoy shopping, a meal, or a movie while you wait.</p>
            </div>
          <div class="img_wrap">
            <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_712.png?v=1727710368"/>
          </div>
        </div>
        <div class="key_feature_item">
            <div class="detail">
              <h5>1-to-1 Replacement</h5>
              <p>If the coating gets damaged, we’ll replace it at no extra cost.</p>
            </div>
          <div class="img_wrap">
            <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_219_1.png?v=1727710369"/>
          </div>
        </div>
    </div>
  </div>
</section>

<section class="warranty_coverage">
  <div class="sec_heding">
      <h2 class="sec_heding">warranty coverage</h2>
  </div>
  <div class="warranty_coverage_top">
      <div class="warranty_coverage_item">
          <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Rectangle_373_9fe1f6da-5ffb-4c00-ab25-b62072bf95c3.png?v=1727710875"/>
          <div class="detail">
            <h5>Discoloration Prevention</h5>
            <p>Guards against fading. Keeps color vibrant</p>
          </div>
      </div>
      <div class="warranty_coverage_item">
          <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Rectangle_269_b0fc53d1-5be4-4fde-8acd-2e9a407f6e5e.png?v=1727710875"/>
          <div class="detail">
            <h5>Hydrophobic Loss Re-Coat</h5>
            <p>Free hydrophobic coat renewal. Maintains water beading</p>
          </div>
      </div>
      <div class="warranty_coverage_item">
          <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/133033566.png?v=1727710876"/>
          <div class="detail">
            <h5>Oxidation & Corrosion Protection</h5>
            <p>Shields from rust. Prevents surface damage</p>
          </div>
      </div>
      <div class="warranty_coverage_item">
          <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Rectangle_429.png?v=1727710875"/>
          <div class="detail">
            <h5>Accident-Related Knockdown Re-Coat</h5>
            <p>Re-coat after accidents. Restores damaged areas</p>
          </div>
      </div>
  </div>
</section>