<section class="best_for_sec">
  <div class="container">
    <div class="best_for_sec_left">
        <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_0e30fab8-f763-4ebc-a36c-b960867f3373.png?v=1727708192"/>
        <span>BEST FOR</span>
    </div>
    <div class="best_for_sec_right">
        <ul class="best_for_list">
            <li class="best_for_list_item">
              <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_704.svg?v=1727708199"/>
              <span>Urban <br> Dwellers</span>
            </li>
            <li class="best_for_list_item">
              <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_710.svg?v=1727708199"/>
              <span>New & older <br> Car Owners</span>
            </li>
            <li class="best_for_list_item">
              <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_711.svg?v=1727708200"/>
              <span>Family <br> Vehicles</span>
            </li>
        </ul>
    </div>
  </div>
</section>

<section class="key_features">
  <div class="container">
    <div class="sec_heading">
        <h2 class="sec_title">KEY FEATURES OF Quik Shield car coating</h2>
    </div>
    <div class="key_feature_top">
        <div class="key_feature_item">
            <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Rectangle_373.png?v=1727708843"/>
            <div class="detail">
              <h5>Corrosion Resistant</h5>
              <p>Keeps your car paint looking new by preventing rust</p>
            </div>
        </div>
        <div class="key_feature_item">
            <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Coating_-_Paint_Correction_Before_After.png?v=1727708843"/>
            <div class="detail">
              <h5>PAINT CORRECTION </h5>
              <p>Enhances your car’s shine and corrects minor paint imperfections.</p>
            </div>
        </div>
    </div>
    <div class="key_feature_bottom">
        <div class="key_feature_item">
            <div class="detail">
              <h5>12-Months Warranty Period</h5>
              <p>Worry-free protection for your car, no matter the shine or rain, for one year.</p>
            </div>
          <div class="img_wrap">
            <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_219.png?v=1727710369"/>
          </div>
        </div>
        <div class="key_feature_item">
            <div class="detail">
              <h5>Hardness <br> Level (H)</h5>
              <p>With 6H hardness, like a steel nail, your car gets lasting protection.</p>
            </div>
          <div class="img_wrap">
            <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_713.png?v=1727710369"/>
            <a class="contact_us" href="https://api.whatsapp.com/send?phone=60126388285">
              Upgrade Available! Contact us.
            </a>
          </div>
        </div>
        <div class="key_feature_item">
            <div class="detail">
              <h5>Fast<br> Completion</h5>
              <p>Get your car coated in under half a day! Enjoy shopping, a meal, or a movie while you wait.</p>
            </div>
          <div class="img_wrap">
            <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_712.png?v=1727710368"/>
          </div>
        </div>
        <div class="key_feature_item">
            <div class="detail">
              <h5>1-to-1 Replacement</h5>
              <p>If the coating gets damaged, we’ll replace it at no extra cost.</p>
            </div>
          <div class="img_wrap">
            <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_219_1.png?v=1727710369"/>
          </div>
        </div>
    </div>
  </div>
</section>

<section class="warranty_coverage">
  <div class="sec_heading">
      <h2 class="sec_title">warranty coverage</h2>
  </div>
  <div class="warranty_coverage_top">
      <div class="warranty_coverage_item">
          <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Car_Paint_Discoloration_1.png?v=1727719946"/>
          <div class="detail">
            <h5>Discoloration<br> Prevention</h5>
            <p>Guards against fading. Keeps color vibrant</p>
          </div>
      </div>
      <div class="warranty_coverage_item">
          <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Rectangle_269_b0fc53d1-5be4-4fde-8acd-2e9a407f6e5e.png?v=1727710875"/>
          <div class="detail">
            <h5>Hydrophobic<br> Loss Re-Coat</h5>
            <p>Free hydrophobic coat renewal. Maintains water beading</p>
          </div>
      </div>
      <div class="warranty_coverage_item">
          <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/133033566.png?v=1727710876"/>
          <div class="detail">
            <h5>Oxidation & Corrosion<br> Protection</h5>
            <p>Shields from rust. Prevents surface damage</p>
          </div>
      </div>
      <div class="warranty_coverage_item">
          <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Rectangle_429.png?v=1727710875"/>
          <div class="detail">
            <h5>Accident-Related <br>Knockdown Re-Coat</h5>
            <p>Re-coat after accidents. Restores damaged areas</p>
          </div>
      </div>
  </div>
</section>

<section class="free_cancel">
  <ul class="free_cancel_list">
      <li class="free_cancel_item">
          <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_681.png?v=1727713872"/>
          <div class="detail">
            <strong>FREE Cancellation</strong>
            <span>within 7 days of purchase</span>
          </div>
      </li>
    <li class="free_cancel_item">
          <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_681.png?v=1727713872"/>
          <div class="detail">
            <strong>No Hidden Cost</strong>
            <span>what you see is what you pay</span>
          </div>
      </li>
    <li class="free_cancel_item">
          <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_681.png?v=1727713872"/>
          <div class="detail">
            <strong>Free Old Tint Removal</strong>
            <span>no hidden charges</span>
          </div>
      </li>
  </ul>
</section>


<section class="availabel_at">
  <div class="sec_heading">
      <h2 class="sec_title">AVAILABLE AT</h2>
  </div>
  <div class="availabel_at-list">
      <div class="availabel_at_item">
        <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Rectangle_288.png?v=1727714149"/>
        <strong>TRAPO<br> Bangsar Hub</strong>
        <a href="https://www.google.com/maps/place/Trapo+Bangsar+Hub/@3.1310563,101.663889,15z/data=!4m6!3m5!1s0x31cc4929b4ce44b1:0xfd55544ae91447c3!8m2!3d3.1310563!4d101.6726438!15sCgV0cmFwbyIDiAEBkgEVY2FyX2FjY2Vzc29yaWVzX3N0b3Jl?shorturl=1">View location</a>
      </div>
      <div class="availabel_at_item">
        <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Mask_group_3f879425-f772-4978-af26-4c64924e6ac0.png?v=1727714148"/>
        <strong>TRAPO<br> Taman Daya JB Hub</strong>
        <a href="https://www.google.com/maps?q=TRAPO+Taman+Daya+Hub+(Car+Mats+%26+Accessories),+TD+Central,+5F,+Jalan+Sagu+21,+Taman+Daya,+81100+Johor+Bahru,+Johor&ftid=0x31da6d9dc26cacb9:0x957492f0cdcb0e17&entry=gps&lucs=,94222349,47071704,47069508,94218635,94203019,47084304,94208458,94208447&g_ep=CAISDTYuMTE3LjEuNjI5MjAYACCenQoqSCw5NDIyMjM0OSw0NzA3MTcwNCw0NzA2OTUwOCw5NDIxODYzNSw5NDIwMzAxOSw0NzA4NDMwNCw5NDIwODQ1OCw5NDIwODQ0N0ICTVk%3D&g_st=com.alibaba.dingtalklite.ShareExtension">View location</a>
      </div>
      <div class="availabel_at_item">
        <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Mask_group_1_cdf0601e-8f7e-4eae-92dd-a5a769c4008c.png?v=1727714149"/>
        <strong>TRAPO<br> Glenmarie Hub</strong>
        <a href="https://www.google.com/maps/place/TRAPO+Glenmarie+Hub/@3.0879705,101.5782913,15z/data=!4m5!3m4!1s0x0:0xe04a194044664a7!8m2!3d3.0879705!4d101.5782913">View location</a>
      </div>
  </div>
</section>
<section class="redeem_sec">
  <div class="sec_heading">
      <h2 class="sec_title">HOW TO REDEEM</h2>
  </div>
  <ul class="redeem_list">
    <li class="redeem_list_item">
        Complete a purchase on this page. Our Trapo team will contact you within 24 hours to schedule your appointment.
    </li>
    <li class="redeem_list_item">
        OR if you'd prefer to schedule your appointment immediately, feel free to reach out to our <a href=#>customer service team here.</a>
    </li>
    <li class="redeem_list_item">  
      When contacting us, please provide your purchase details and your preferred appointment date.
    </li>
    <li class="redeem_list_item">
      We look forward to seeing you soon at our Trapo hubs!
    </li>
  </ul>
</section>
<style>

  .best_for_sec{
    background-color: #F8F8F8;
    padding:20px;
    margin-bottom: 60px;
}
.best_for_sec .container{
    align-items: center;
    display: grid;
    grid-template-columns: 43% 1fr;
    gap:22px;
    color: #1B3D6D;
}
.best_for_sec .best_for_sec_left{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.best_for_sec .best_for_sec_left img{
    max-width: 225px;
    width: 100%;
    object-fit: contain
}
.best_for_sec .best_for_sec_left span{
    font-weight: bold
}
.best_for_sec_right .best_for_list{
    gap:15px;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}
.best_for_sec_right .best_for_list span{
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.19px;
}
.best_for_sec_right .best_for_list .best_for_list_item{
    display: flex;
    align-items: center;
    gap:15px;
    margin: 0
}
.key_features .container{
    display: block;
}
.sec_heading .sec_title{
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 28px;
    letter-spacing: 5px;
    margin: 0 0 50px;
}
.key_feature_top{
    display: flex;
    align-items: center;
    gap:30px;
    margin-bottom: 55px;
}
.key_feature_item{
    display: flex;
    align-items: center;
    flex: 1;
    gap:20px;
    color: #1B3D6D
}
.key_feature_top .key_feature_item h5{
    margin: 0;
    padding: 0;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase
}
.key_feature_top .key_feature_item p{
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.19px;
    margin: 0
}
.key_feature_bottom{
    display: flex;
    gap:20px;
    margin-bottom: 50px;
}
.key_feature_bottom .key_feature_item{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px;
    background-color: #DEDEDE;
    border-radius: 12px;
}
.key_feature_bottom h5{
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0.19px;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: capitalize;
    margin: 0 0 20px;
    padding: 0
}
.key_feature_bottom .img_wrap{
    margin-top: auto;
}
.key_feature_bottom .contact_us{
    background-color: #E82276;
    color: #fff;
    padding: 1px 10px;
    border-radius: 4px;
    display: block;
    margin-top: 5px;
}
.key_feature_bottom .img_wrap img{
    display: block;
    margin: 0 auto
}

.warranty_coverage{
    background-color: #F8F8F8;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
    padding:50px 20px;
  margin-bottom:75px;
}

.warranty_coverage p{
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.19px;
    width: 65%;
    margin: 0 auto;
}
.warranty_coverage_top{
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 730px;
    width: 100%; 
    margin: 0 auto;
    gap:70px 25px
}
.warranty_coverage_top .warranty_coverage_item{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align:center;
    color: #1B3D6D
}
.warranty_coverage_top .warranty_coverage_item h5{
 margin: 0;
    padding: 0;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: capitalize;
    line-height: 30px;
    margin-bottom: 10px;
}
.warranty_coverage_top .warranty_coverage_item img{
    width: 100%;
    margin-bottom: 20px;
}
.free_cancel {
    margin-bottom: 75px;
}
.free_cancel .free_cancel_list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
}
.free_cancel .free_cancel_list .free_cancel_item{
    display: grid;
    grid-template-columns: 44px 1fr;
    gap:20px;
    align-items: center;
    color: #414042
}
.free_cancel .free_cancel_list .detail strong{
    display: block;
    font-size: 22px;
    line-height: 24px;
    letter-spacing: 2px;
}
.free_cancel .free_cancel_list .detail span{
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 1.5px;
}
.availabel_at{
    background-color: #DEDEDE;
    padding: 25px 0 64px;
    margin-bottom: 27px;
}
.availabel_at-list{
 max-width: 583px;
    width: 100%;
    margin: 0 auto;
    display: grid;
    justify-content: space-between;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    gap:40px;
    color: #222222
}
.availabel_at-list strong{
    display: block;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.24px;
}
.availabel_at-list img{
    display: block;
    margin: 0 auto 16px;
}
.availabel_at-list a{
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 0.5px;
    text-decoration: underline;
    color: inherit;
}
.redeem_list{
    max-width: 580px;
    width: 100%;
    margin: 0 auto;
    list-style: numbers
}
.redeem_list li{
    font-size: 16px;
    color: #1B3D6D;
    line-height: 18px;
    letter-spacing: 0.2px;
    margin-bottom: 15px;
}
  .key_feature_top .key_feature_item h5{
    position: relative;
    padding-left: 25px
}
.key_feature_top .key_feature_item h5:before{
    content: '';
    background-image: url('https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_363.svg?v=1727718387');
    width: 18px;
    height: 18px;
    position: absolute;
    left: 0;
    top: 4px;
    background-size: 100%;
    background-repeat: no-repeat;
}
@media(max-width:1366px){
    .best_for_sec .container{
        grid-template-columns: 35% 1fr
    }
    .best_for_sec_right .best_for_list{
        justify-content: space-between
    }
    .sec_heading .sec_title{
        letter-spacing: 3px;
        margin-bottom: 30px;
    }
    .warranty_coverage_top .warranty_coverage_item h5,
    .key_feature_top .key_feature_item h5{
        font-size: 20px;
        line-height: 1.2;
        margin-bottom: 10px;
    }
  .warranty_coverage_top .warranty_coverage_item h5{
    margin-left: 0;
  }
    .warranty_coverage_top{
        gap:30px 15px;
    }
    .free_cancel .free_cancel_list .detail strong{
        font-size: 20px;
    }
    .free_cancel .free_cancel_list .detail span{
        font-size: 16px;
    }
    .free_cancel {
        margin-bottom: 50px;
    }
    .availabel_at-list{
        gap:20px;
    }
}
@media(max-width:1024px){
    .best_for_sec .container{
        grid-template-columns: 1fr;
    }
    .best_for_sec .best_for_sec_left{
        flex-direction: column;
        gap:20px;
    }
    .best_for_sec .best_for_sec_left img{
                max-width: 220px;
        margin-top: 25px;
        margin-bottom: 25px;
    }
    .key_feature_top .key_feature_item{
        flex-direction: column;
        text-align: center;
    }
    .key_feature_bottom{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .warranty_coverage{
        padding-block:25px;
        margin-bottom: 40px
    }
    .free_cancel .free_cancel_list .free_cancel_item{
        gap:10px;       
        grid-template-columns: 30px 1fr;
        margin: 0;
    }
    .free_cancel .free_cancel_list .detail strong{
        font-size: 16px;
        letter-spacing: 0.2px
    }
    .free_cancel .free_cancel_list .detail span{
        letter-spacing: 0.2px;
    }
}

@media(max-width:767px){
  .warranty_coverage p{
    width:100%;
  }
  .best_for_sec .best_for_sec_left span{
    font-size: 24px;
  }
    .best_for_sec{
        margin-inline:-20px
    }
    .best_for_sec_right .best_for_list .best_for_list_item{
        flex-direction: column;
        text-align: center
    }
    .key_feature_top{
        flex-direction: column;
    }
    .key_feature_top .key_feature_item img{
        width: 100%;
    }
    .sec_heading .sec_title{
        font-size: 20px;
    }
    .key_feature_bottom{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .key_feature_bottom .key_feature_item{
        flex: unset;
    }
    .key_feature_bottom .key_feature_item:first-child{
        width: 100%;
    }
    /*.key_feature_bottom .key_feature_item:first-child .img_wrap{
        display: none;
    }*/
    .key_feature_bottom .key_feature_item:nth-child(2){
        width: 46%;
    }
    .key_feature_bottom .key_feature_item:nth-child(3){
        width: 46%;
    }
    .key_feature_bottom .key_feature_item p{
        margin: 0
    }
   /* .key_feature_bottom .key_feature_item:nth-child(4) .img_wrap{
        display: none
    }*/
    .warranty_coverage_top{
        grid-template-columns: 1fr;
        gap:20px
    }
    .warranty_coverage_top .warranty_coverage_item{
        display: grid;
        grid-template-columns: 50% 1fr;
        gap:16px;
        text-align: left;
    }
    .warranty_coverage_top .warranty_coverage_item h5, .key_feature_top .key_feature_item h5{
        font-size: 20px;
        word-break: break-word;
    }
    .warranty_coverage_top .warranty_coverage_item img{
        margin: 0;
        height: 100%;
        min-height: 150px;
    }
    .free_cancel{
        border: 1px solid #D9D9D9;
        padding: 20px 30px;
        border-radius: 12px
    }
    .free_cancel .free_cancel_list{
        flex-direction: column;
        align-items: flex-start;
        gap:20px;
    }
    .availabel_at-list{
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
        gap:20px 10px;
    }
    .availabel_at-list .availabel_at_item{
        width: 45%
    }
  .availabel_at{
    margin-inline: -20px;
    padding:25px 0
  }
}
















</style>