{% if product.handle == "trapo-i-sight-s650-dashcam" %}

    <div class="dashcam_wrap">
    <div class="dashcam">
        <h2>Are you any one of these people and looking <br> for a dashcam?</h2>
        <div class="suffering_problem">
        <div class="suffering_pro_item">
            <picture>
            <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/S550_-_PD_2025_D-24_1.png?v=1765174135" alt="Wiper flying off mid use" >
            </picture>
            <span>Non-ADAS  <br> Car Owners</span>
        </div>
        <div class="suffering_pro_item">
            <picture>
            <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/S550_-_PD_2025_D-25_1.png?v=1765174136" alt="Squeaky wipers" >
            </picture>
            <span>Safety-Conscious  <br> Drivers</span>
        </div>
        <div class="suffering_pro_item">
            <picture>
            <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/S550_-_PD_2025_D-26_1.png?v=1765174136" alt="Blurry Windshields" >
            </picture>
            <span>High-Mileage  <br> Drivers</span>
        </div>
        </div>
    </div>
    <div class="dashcam_bottom">
        <picture class="image_1">
        <source media="(min-width:767px)" srcset="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/S650---PD-_2025_-M_S6-01_1.webp?v=1765193990">
        <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/S650---PD-_2025_-M_S6-01_1_1.webp?v=1765193989" alt="Dashcam_S650" >
        </picture>
        <div class="feature_highlights">
            <div class="sec_heading mb__3">
                <h2>Feature Highlights</h2>
            </div>
            <div class="feature_high_list">
                <div class="feature_high_item">
                    <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Isolation_Mode.svg?v=1765256977" alt="2K + 1080P (HDR) Sharp Vision">
                    <span>2K + 1080P (HDR) <br>Sharp Vision</span>
                </div>
                <div class="feature_high_item">
                    <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Layer_1.svg?v=1765256977" alt="60 FPS">
                    <span>60 FPS</span>
                </div>
                <div class="feature_high_item">
                    <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Layer_1_1.svg?v=1765256975" alt="ADAS">
                    <span>ADAS</span>
                </div>
                <div class="feature_high_item">
                    <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Layer_1_3.svg?v=1765257054" alt="Motion Detection">
                    <span>Motion <br> Detection</span>
                </div>
                <div class="feature_high_item">
                    <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_2_36b7b59d-5777-4ea2-9092-89889793ace5.svg?v=1765256977" alt="Super Night Vision">
                    <span>Super Night <br> Vision</span>
                </div>
                <div class="feature_high_item">
                    <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_3_86551979-ec7e-4a28-9684-c703444dc427.svg?v=1765256977" alt="G-Sensor Detection">
                    <span>G-Sensor <br> Detection</span>
                </div>
                <div class="feature_high_item">
                    <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Layer_1_2.svg?v=1765256977" alt="Smart Voice Command">
                    <span>Smart Voice <br> Command</span>
                </div>
                <div class="feature_high_item">
                    <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_859.svg?v=1765256977" alt="Parking Monitoring">
                    <span>Parking <br> Monitoring</span>
                </div>
                <div class="feature_high_item">
                    <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_861.svg?v=1765257054" alt="Loop Recording">
                    <span>Loop <br> Recording</span>
                </div>
                <div class="feature_high_item">
                    <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_860.svg?v=1765256977" alt="Built-in GPS">
                    <span>Built-in <br> GPS</span>
                </div>
                <div class="feature_high_item">
                    <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_5.svg?v=1765256977" alt="Wi-Fi Function">
                    <span>Wi-Fi <br> Function</span>
                </div>
            </div>
        </div>
        <div class="camera_view">
            <h2>2 Channel Camera Views</h2>
            <picture class="image_2 small_container">
                <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/S650_-_PD_2025_M_Artboard_2_1_1_3c01911a-8ae1-430e-81cf-a7ce602b7e84.webp?v=1766985125" alt="2 Channel Camera Views" >
            </picture>
        </div>  
        <div class="hdr_view">
            <div class="sec_heading">
                <h2>2K+HDR</h2>
                <span>Every frame, every detail. Perfectly captured</span>
            </div>
            <picture class="image_4">
                <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_1031_1.webp?v=1766985124" alt="Every frame, every detail. Perfectly captured" >
            </picture>
        </div>  
        <div class="detail_recording_view">
            <div class="sec_heading mb__3">
                <h2>60 FPS: Smooth and Detailed Recording</h2>
                <span>Enjoy ultra-smooth 60 FPS video playback</span>
            </div>
            <picture class="image_5 small_container">
                <source media="(min-width:767px)" srcset="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/S650_-_PD_2025_M-06_1.webp?v=1765276671">
                <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/S650_-_PD_2025_M-06_1_1.webp?v=1765276086" alt="Enjoy ultra-smooth 60 FPS video playback" >
            </picture>
        </div>  
        <div class="adas_view">
            <div class="sec_heading mb__3">
                <h2>ADAS Technology</h2>
            </div>
            <picture class="image_6 small_container">
                <source media="(min-width:767px)" srcset="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/S650_-_PD_2025_M-08_1_2.webp?v=1765278174">
                <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/S650_-_PD_2025_M-08_1_1.webp?v=1765276085" alt="ADAS Technology" >
            </picture>
            <picture class="image_7">
                <source media="(min-width:767px)" srcset="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/S650_-_PD_2025_M-09_1.webp?v=1765276086">
                <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/S650_-_PD_2025_M-09_1_1.webp?v=1765276084" alt="ADAS Technology" >
            </picture>
        </div>  
        <div class="voice_control">  
            <h2>Voice Control and Alert (For ADAS)</h2>
            <picture class="image_8 small_container">
                <source media="(min-width:767px)" srcset="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/S650_-_PD_2025_M-10_1.webp?v=1765279193">
                <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/S650_-_PD_2025_M-10_1_1.webp?v=1765279326" alt="Voice Control and Alert (For ADAS)" >
            </picture>
        </div>  
        <div class="super_capacitor">  
            <h2>Super Capacitor</h2>
            <picture class="image_8">
                <source media="(min-width:767px)" srcset="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/oznk0hn9ffdrpdyiqntp.webp?v=1765279739">
                <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Frame_4.webp?v=1765279807" alt="Super Capacitor" >
            </picture>
        </div>  
        <div class="precision_gps_view">
            <div class="sec_heading">
                <h2>Built-In High-Precision GPS</h2>
                <span>Supports Trapo APP to check driving tracks, and can retrace driving time, speed, geographical location, driving route and vehicle status with one click</span>
            </div>
            <picture class="image_9">
                <source media="(min-width:767px)" srcset="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Frame_2_1_-elementor-io-optimized.webp?v=1765280425">
                <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_872-elementor-io-optimized.webp?v=1765280424" alt="Built-In High-Precision GPS" >
            </picture>
        </div>  
        <div class="g_sensor_view">
            <div class="sec_heading">
                <h2>G-Sensor</h2>
                <span>Automatically records emergency footage when a collision is detected</span>
            </div>
            <picture class="image_10 small_container">
                <source media="(min-width:767px)" srcset="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/S650_-_PD_2025_M_S6-11_1-elementor-io-optimized.webp?v=1765280327">
                <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/S650_-_PD_2025_M_S6-11_1_1_-elementor-io-optimized.webp?v=1765280325" alt="G-Sensor" >
            </picture>
        </div>  
        <div class="parking_survei">  
            <h2>24h Parking Surveillance</h2>
            <picture class="image_11 ">
                <source media="(min-width:767px)" srcset="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_870.webp?v=1765279194">
                <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_896-elementor-io-optimized.webp?v=1765372892" alt="24h Parking Surveillance" >
            </picture>
        </div>  
        <div class="app_support">  
            <h2>APP Support</h2>
            <picture class="image_12 small_container">
                <source media="(min-width:767px)" srcset="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/S650_-_PD_2025_M_S6-13_1-elementor-io-optimized.webp?v=1765281256">
                <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/S650_-_PD_2025_M_S6-13_1-elementor-io-optimized_e28a2eef-cb6c-4ab9-a201-f8e02aabd59c.webp?v=1765373011" alt="24h Parking Surveillance" >
            </picture>
        </div>  
        <div class="sd_card_view">
            <div class="sec_heading">
                <h2>SD Card</h2>
                <span>TRAPO’s A2 card handles 4K video with zero stutter or delay</span>
            </div>
            <picture class="image_13 small_container">
                <source media="(min-width:767px)" srcset="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/S550_-_PD_2025_D-20_1-elementor-io-optimized.webp?v=1765282131">
                <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/S550_-_PD_2025_D-20_1_1_-elementor-io-optimized.webp?v=1765282130" alt="G-SD Card" >
            </picture>
        </div>  
        <div class="comparison_chart">  
            <h2>Comparison Chart</h2>
            <picture class="image_14 small_container">
                <source media="(min-width:767px)" srcset="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_876-elementor-io-optimized.webp?v=1765282133">
                <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_877-elementor-io-optimized.webp?v=1765282130" alt="Comparison Chart" >
            </picture>
        </div>  
        <picture class="image_15 small_container">
            <source media="(min-width:767px)" srcset="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/S550_-_PD_2025_D-22_1-elementor-io-optimized.webp?v=1765284463">
            <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/S550_-_PD_2025_D-22_1_1_-elementor-io-optimized.webp?v=1765284463" alt="" >
        </picture>
        <picture class="image_16">
            <source media="(min-width:767px)" srcset="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/S650_-_PD_2025__11_1-elementor-io-optimized.webp?v=1765284465">
            <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/S650_-_PD_2025__11_1_1_-elementor-io-optimized.webp?v=1765284463" alt="" >
        </picture>
    </div>
    </div>

    <style>
        .dashcam_wrap{max-width:1180px;width:100%;margin: 0 auto;color:#222222}
        .dashcam_wrap .dashcam{ background-color: #003A70; color: #fff; padding: 70px; margin-top:30px;max-width:1180px;}
        .dashcam_wrap h2{ font-size: 40px; font-size: clamp(1.25rem, -1.0714rem + 4.8426vw, 2.5rem);  line-height: 47px; color: inherit; margin: 0 0 20px; text-align: center; font-weight: 600 }
        .suffering_problem{ display: grid; grid-template-columns: 1fr 1fr 1fr; gap:33px; text-align: center; }
        .suffering_problem span{ font-size: clamp(1rem, 0.3036rem + 1.4528vw, 1.375rem); line-height: 26px; margin-top: 23px; display: block; } 
        .dashcam_wrap .image_1 img{ border-radius: 20px 20px 0 0; overflow: hidden; margin-top: -20px;margin-bottom:30px}
        .mb__3{margin-bottom:30px}
        .feature_high_list{ display: flex; flex-wrap: wrap; justify-content: center; max-width: 750px; width: 100%; margin: 0 auto; gap:30px 10px; margin-bottom: 89px; }
        .feature_high_list .feature_high_item{ display: flex; flex-direction: column; width: 100%; flex: 0 0 calc(25% - 9px); text-align: center; font-size: clamp(0.625rem, -0.7679rem + 2.9056vw, 1.375rem); }
        .feature_high_list img{ width: 100%; max-width: 100px; margin: 0 auto 10px; display: block; }
        .sec_heading span{ font-size: clamp(1rem, 0.3036rem + 1.4528vw, 1.375rem); text-align: center; display: block; }
        .sec_heading h2{ margin-bottom: 10px; }
        .camera_view h2{ margin-bottom: 35px; }
        .hdr_view{ margin-bottom: 50px; }
        .hdr_view .sec_heading{ margin-bottom: 35px; }
        .small_container img{ max-width:1038px; width: 100%; margin: 0 auto; display: block; }
        .detail_recording_view{ position: relative; background-image: url('https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_40feb54c-e6f3-4951-9654-62cc3d0f0fe8.svg?v=1765276797'); background-position: center bottom 100px; background-repeat: no-repeat; background-size: 100%; margin-bottom: 65px; }
        .adas_view{ position: relative; }
        .adas_view:before{ content: ''; width: 100%; height: 60%; position: absolute; top: -28%; left: 0; background: linear-gradient(180deg, rgba(78, 86, 92, 0) 18.85%, rgba(70, 77, 83, 0.31) 44.61%, #353C41 90.41%); opacity: 0.15; clip-path: polygon(50% 0%, 100% 0, 100% 87%, 50% 100%, 0 87%, 0 0); pointer-events: none }
        .image_6{ position: relative } 
        .image_7 img{ margin-top: -12% }
        .super_capacitor{ margin-bottom: 40px }
        .voice_control{ margin-block: 30px 20px; }
        .super_capacitor h2, .voice_control h2{ margin-bottom: 30px; }
        .precision_gps_view { margin-bottom: 30px }
        .precision_gps_view span{ max-width: 850px; width: 100%; display: block; margin: 0 auto }
        .g_sensor_view .sec_heading{ margin-bottom: 40px; }
        .g_sensor_view{ position: relative; margin-bottom: 50px; }
        .g_sensor_view:before{ content: ''; width: 100%; height: 100%; position: absolute; bottom: 120px; left: 0; background: linear-gradient(180deg, rgba(78, 86, 92, 0) 18.85%, rgba(70, 77, 83, 0.31) 44.61%, #353C41 90.41%); opacity: 0.15; clip-path: polygon(50% 0%, 100% 0, 100% 87%, 50% 100%, 0 87%, 0 0); pointer-events: none; }
        .g_sensor_view .image_10{ position: relative }
        .parking_survei{ margin-bottom: 40px; }
        .app_support{ position: relative; margin-bottom: 50px; }
        .app_support:before{ content: ''; width: 100%; height: 100%; position: absolute; bottom: 23%; left: 0; background: linear-gradient(180deg, rgba(78, 86, 92, 0) 18.85%, rgba(70, 77, 83, 0.31) 44.61%, #353C41 90.41%); opacity: 0.15; clip-path: polygon(50% 0%, 100% 0, 100% 87%, 50% 100%, 0 87%, 0 0); pointer-events: none; }
        .app_support .image_12{ position: relative }
        .sd_card_view { margin-bottom: 30px; }
        .sd_card_view .sec_heading{ margin-bottom: 40px; }
        .comparison_chart { margin-bottom: 64px }
        .comparison_chart h2{ margin-bottom: 30px; }
        .image_16 img,
        .image_15 img{ margin-bottom: 62px }
        .camera_view{margin-bottom:40px}

        @media(max-width:1024px){
            .dashcam_wrap .dashcam {padding: 25px 25px 50px;}
            .dashcam_wrap h2{ line-height:1.2 }
        }
        @media(min-width:768px){
            {% comment %} .dashcam_wrap span br:not(.hydrophobic_wipe_item br){ display:none } {% endcomment %}
        }
        @media(max-width:767px){
            .dashcam_wrap .dashcam{padding-inline:15px}
            .dashcam_wrap .sec_heading h2{margin-bottom:8px}
            .dashcam_wrap{ margin-inline:-18px; width: calc(100% + 38px); }
            .dashcam br{ display: none; }
            .suffering_problem{ gap:10px; }
            .suffering_problem span{ margin-top: 10px; line-height: normal }
            .suffering_problem img{ display: block; }
            .suffering_problem span br{ display: none }
            .dashcam_wrap .image_1 img{ margin-bottom: 0 }
            .feature_high_list img{ max-width: 45px; }
            .feature_high_list{ padding-inline:10px; row-gap: 10px; column-gap: 5px; }
            .feature_high_list .feature_high_item{ line-height: normal; }
            .feature_high_list .feature_high_item { flex: 0 0 calc(25% - 5px); }
            .feature_high_list{ margin-bottom: 40px }
            .camera_view h2 { margin-bottom: 10px; }
            .camera_view { margin-bottom: 20px; }
            .hdr_view .sec_heading { margin-bottom: 10px; }
            .hdr_view { margin-bottom: 10px; }
            .detail_recording_view .sec_heading h2{ max-width: 200px; margin-inline:auto; }
            .mb__3 { margin-bottom: 10px; }
            .image_6 img,
            .image_2 img,
            .detail_recording_view img{ padding-inline:23px; }
            .detail_recording_view{ background-image: unset }
            .voice_control { margin-block: 15px 20px; }
            .voice_control h2{ max-width: 220px; margin-inline:auto; margin-bottom: 15px; }
            .super_capacitor h2{ margin-bottom: 15px; }
            .sd_card_view .sec_heading{margin-bottom: 15px;padding-inline:22px; }
            .precision_gps_view .sec_heading{ padding-inline:22px; }
            .g_sensor_view{ padding-inline:20px; margin-bottom: 20px; }
            .g_sensor_view:before{ bottom: 30px; }
            .app_support:before{ display: none }
            .comparison_chart { margin-bottom: 30px; }
            .voice_control img{padding-inline:23px;}
            .image_15  img{ padding-inline:23px; margin-bottom: 10px; }
            .image_16 img{ margin-bottom: 30px; }
            .precision_gps_view,
            .g_sensor_view .sec_heading,
            .app_support .sec_heading,
            .parking_survei,
            .app_support,
            .detail_recording_view,
            .super_capacitor { margin-bottom: 15px; }
            .sd_card_view { margin-bottom: 0; }
            .comparison_chart h2 { margin-bottom: 10px; }
        }
        @media(max-width:390px){
            .dashcam_wrap .dashcam {padding: 15px;}
            .dashcam_wrap .dashcam { padding-bottom: 40px; }
        }
        
        @media(max-width:330px){
        }
    </style>
{% comment %} 
{% elsif product.handle == "trapo-dashcam-i-sight-s550" %}

    <div class="dashcam_wrap">
        <div class="dashcam">
            <h2>Are you any one of these people and looking <br> for a dashcam?</h2>
            <div class="suffering_problem">
            <div class="suffering_pro_item">
                <picture>
                <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/S550_-_PD_2025_D-24-elementor-io-optimized.webp?v=1765354308" alt="Wiper flying off mid use" >
                </picture>
                <span>Daily Drivers</span>
            </div>
            <div class="suffering_pro_item">
                <picture>
                <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/S550_-_PD_2025_D-25-elementor-io-optimized.webp?v=1765354308" alt="Squeaky wipers" >
                </picture>
                <span>Parent</span>
            </div>
            <div class="suffering_pro_item">
                <picture>
                <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/S550_-_PD_2025_D-26-elementor-io-optimized.webp?v=1765354308" alt="Blurry Windshields" >
                </picture>
                <span>E-hailing Drivers</span>
            </div>
            </div>
        </div>
        <div class="dashcam_bottom">
            <picture class="image_1">
            <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/S550---PD-_2025_-D_Artboard-1a_1-elementor-io-optimized.webp?v=1765354485" alt="Dashcam_S650" >
            </picture>
            <div class="feature_highlights">
                <div class="sec_heading mb__3">
                    <h2>Feature Highlights</h2>
                </div>
                <div class="feature_high_list">
                    <div class="feature_high_item">
                        <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_af7458a7-5f98-47f8-be91-b3e9d1a13d47.svg?v=1765356549" alt="4K + 1080P Sharp Vision">
                        <span>4K + 1080P <br>Sharp Vision</span>
                    </div>
                    <div class="feature_high_item">
                        <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_1_bc196a84-6cc7-431b-aa7b-9365a8d7fc2c.svg?v=1765356548" alt="3-Channel View">
                        <span>3-Channel <br>View</span>
                    </div>
                    <div class="feature_high_item">
                        <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_2_667de6de-c7bc-4d01-b7ab-933f2ff7c2c5.svg?v=1765356548" alt="IPS Screen Display">
                        <span>IPS Screen<br> Display</span>
                    </div>
                    <div class="feature_high_item">
                        <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_3_cc02e380-ac21-41c9-8876-a99d7b8862a3.svg?v=1765356547" alt="Super Night Vision">
                        <span>Super Night <br>Vision</span>
                    </div>
                    <div class="feature_high_item">
                        <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_4.svg?v=1765356548" alt="Built-in GPS">
                        <span>Built-in <br>GPS</span>
                    </div>
                    <div class="feature_high_item">
                        <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_5_ede33fa3-9147-41df-91cc-bc8351fbd460.svg?v=1765356548" alt="Loop Recording">
                        <span>Loop <br>Recording</span>
                    </div>
                    <div class="feature_high_item">
                        <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_6.svg?v=1765356548" alt="G-Sensor Detection">
                        <span>G-Sensor <br>Detection</span>
                    </div>
                    <div class="feature_high_item">
                        <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_878.svg?v=1765356548" alt="Magnetic Mount">
                        <span>Magnetic <br>Mount</span>
                    </div>
                    <div class="feature_high_item">
                        <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_7.svg?v=1765356548" alt="Parking Monitoring">
                        <span>Parking<br> Monitoring</span>
                    </div>
                    <div class="feature_high_item">
                        <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_8.svg?v=1765356548" alt="Wi-Fi Function">
                        <span>Wi-Fi <br> Function</span>
                    </div>
                </div>
            </div>
            <div class="camera_view">
                <h2>Triple Channel Camera Views</h2>
                <picture class="image_2 small_container">
                    <source media="(min-width:767px)" srcset="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/S550_-_PD_2025_D-03_1-elementor-io-optimized.webp?v=1765357409">
                    <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/S550_-_PD_2025_D-03_1_1_-elementor-io-optimized.webp?v=1765357408" alt="Triple Channel Camera Views" >
                </picture>
            </div>  
            <div class="hdr_view">
                <div class="sec_heading">
                    <h2>4K Ultra Clear Image Quality</h2>
                </div>
                <picture class="image_4">
                    <source media="(min-width:767px)" srcset="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Frame_5-elementor-io-optimized.webp?v=1765358407">
                    <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Frame_6-elementor-io-optimized.webp?v=1765358405" alt="4K Ultra Clear Image Quality" >
                </picture>
            </div>  
            <div class="detail_recording_view">
                <div class="sec_heading mb__3">
                    <h2>Simultaneous Recording</h2>
                    <span>Multi-lens wide angle recording</span>
                </div>
                <picture class="image_5 small_container">
                    <source media="(min-width:767px)" srcset="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_882-elementor-io-optimized.webp?v=1765358562">
                    <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_883-elementor-io-optimized.webp?v=1765358562" alt="Simultaneous Recording" >
                </picture>
            </div>  
            <div class="amazing_night_view">
                <div class="sec_heading mb__3">
                    <h2>Amazing Night Clarity</h2>
                    <span>Enhanced vision with super large F2.0 aperture</span>
                </div>
                <picture class="image_6 small_container">
                    <source media="(min-width:767px)" srcset="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_884-elementor-io-optimized.webp?v=1765358991">
                    <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_885-elementor-io-optimized.webp?v=1765358990" alt="Amazing Night Clarity" >
                </picture>
            </div>  
            <div class="adas_view">
                <div class="sec_heading mb__3">
                    <h2>Infrared Mode</h2>
                    <span>Rotateable wide angle camera that automatically switches to infrared (grayscale) mode during low light</span>
                </div>
                <picture class="image_77 small_container">
                    <source media="(min-width:767px)" srcset="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/S550_-_PD_2025_D-08_1_1_-elementor-io-optimized.webp?v=1765358991">
                    <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/S550_-_PD_2025_D-08_1-elementor-io-optimized.webp?v=1765358990" alt="Infrared Mode" >
                </picture>
            </div>  
            <picture class="image_66">
                <source media="(min-width:767px)" srcset="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/S550_-_PD_2025_D-09_1-elementor-io-optimized.webp?v=1765358991">
                <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/S550_-_PD_2025_D-09_1_1_-elementor-io-optimized.webp?v=1765358990" alt="" >
            </picture>
            <div class="infrared_mod_feature">
                <div class="infrared_mod_feature_list">
                    <div class="infrared_mod_feature_item">
                        <span>Detachable</span>
                        <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/S550_-_PD_2025_D-10-elementor-io-optimized.webp?v=1765370005" alt="Detachable" >
                    </div>
                    <div class="infrared_mod_feature_item">
                        <span>120⁰ Angle Rotation</span>
                        <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/S550_-_PD_2025_D-11-elementor-io-optimized.webp?v=1765370004" alt="120⁰ Angle Rotation" >
                    </div>
                    <div class="infrared_mod_feature_item">
                        <span>Detachable cabin camera</span>
                        <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/S550_-_PD_2025_D-12-elementor-io-optimized.webp?v=1765370005" alt="Detachable cabin camera" >
                    </div>
                    <div class="infrared_mod_feature_item">
                        <span>Adjustable cabin lens</span>
                        <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/S550_-_PD_2025_D-13-elementor-io-optimized.webp?v=1765370005" alt="Adjustable cabin lens" >
                    </div>
                    <div class="infrared_mod_feature_item">
                        <span>Super Capacitor</span>
                        <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/S550_-_PD_2025_D-14-elementor-io-optimized.webp?v=1765370005" alt="Super Capacitor" >
                    </div>
                </div>
            </div>
            <div class="g_sensor_view">
                <div class="sec_heading">
                    <h2>Built-In High-Precision GPS</h2>
                    <span>Supports Trapo APP to check driving tracks, and can retrace driving time, speed, geographical location, driving route and vehicle status with one click</span>
                </div>
                <picture class="image_10 ">
                    <source media="(min-width:767px)" srcset="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_892-elementor-io-optimized.webp?v=1765368488">
                    <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_893-elementor-io-optimized.webp?v=1765368488" alt="Built-In High-Precision GPS" >
                </picture>
            </div>  
            <div class="parking_survei">  
                <h2>24h Parking Surveillance</h2>
                <picture class="image_11 small_container">
                    <source media="(min-width:767px)" srcset="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Frame_8-elementor-io-optimized.webp?v=1765367457">
                    <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Frame_10-elementor-io-optimized.webp?v=1765367456" alt="24h Parking Surveillance" >
                </picture>
            </div>  
            <div class="app_support">  
                <h2>APP Support</h2>
                <picture class="image_12 ">
                    <source media="(min-width:767px)" srcset="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Frame_7-elementor-io-optimized.webp?v=1765367456">
                    <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Frame_9-elementor-io-optimized.webp?v=1765367455" alt="24h Parking Surveillance" >
                </picture>
            </div>  
            <div class="wifi_connection">  
                <h2>5G WiFi Connection</h2>
                <picture class="image_12 small_container">
                    <source media="(min-width:767px)" srcset="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/S550_-_PD_2025_D-19_1-elementor-io-optimized.webp?v=1765367456">
                    <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/S550_-_PD_2025_D-19_1_1_-elementor-io-optimized.webp?v=1765367455" alt="5G WiFi Connection" >
                </picture>
            </div>  
            <div class="sd_card_view">
                <div class="sec_heading">
                    <h2>SD Card</h2>
                    <span>TRAPO’s A2 card handles 4K video with zero stutter or delay</span>
                </div>
                <picture class="image_13 small_container">
                    <source media="(min-width:767px)" srcset="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/S550_-_PD_2025_D-20_1-elementor-io-optimized.webp?v=1765282131">
                    <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/S550_-_PD_2025_D-20_1_1_-elementor-io-optimized.webp?v=1765282130" alt="G-SD Card" >
                </picture>
            </div>  
            <div class="comparison_chart">  
                <h2>Comparison Chart</h2>
                <picture class="image_14 small_container">
                    <source media="(min-width:767px)" srcset="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_886-elementor-io-optimized.webp?v=1765360217">
                    <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_887-elementor-io-optimized.webp?v=1765360220" alt="Comparison Chart" >
                </picture>
            </div>  
            <picture class="image_15 small_container">
                <source media="(min-width:767px)" srcset="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/S550_-_PD_2025_D-22_1-elementor-io-optimized.webp?v=1765284463">
                <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/S550_-_PD_2025_D-22_1_1_-elementor-io-optimized.webp?v=1765284463" alt="" >
            </picture>
            <picture class="image_16">
                <source media="(min-width:767px)" srcset="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/S650_-_PD_2025__11_1-elementor-io-optimized.webp?v=1765284465">
                <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/S650_-_PD_2025__11_1_1_-elementor-io-optimized.webp?v=1765284463" alt="" >
            </picture>
        </div>
    </div>

    <style>
        .dashcam_wrap{max-width:1180px;width:100%;margin: 0 auto;color:#222222}
        .dashcam_wrap .dashcam{ background-color: #003A70; color: #fff; padding: 70px; margin-top:30px;max-width:1180px;}
        .dashcam_wrap h2{ font-size: 40px; font-size: clamp(1.25rem, -1.0714rem + 4.8426vw, 2.5rem);  line-height: 47px; color: inherit; margin: 0 0 20px; text-align: center; font-weight: 600 }
        .suffering_problem{ display: grid; grid-template-columns: 1fr 1fr 1fr; gap:33px; text-align: center; }
        .suffering_problem span{ font-size: clamp(1rem, 0.3036rem + 1.4528vw, 1.375rem); line-height: 26px; margin-top: 23px; display: block; } 
        .dashcam_wrap .image_1 img{ border-radius: 20px 20px 0 0; overflow: hidden; margin-top: -20px;margin-bottom:30px}
        .mb__3{margin-bottom:30px}
        .feature_high_list{ display: grid;grid-template-columns:1fr 1fr 1fr 1fr 1fr;  max-width: 1000px; width: 100%; margin: 0 auto 90px; gap:30px 10px;}
        .feature_high_list .feature_high_item{ display: flex; flex-direction: column; text-align: center; font-size: clamp(0.625rem, -0.7679rem + 2.9056vw, 1.375rem); }
        .feature_high_list img{ width: 100%; max-width: 100px; margin: 0 auto 10px; display: block; }
        .sec_heading span{ font-size: clamp(1rem, 0.3036rem + 1.4528vw, 1.375rem); text-align: center; display: block; }
        .sec_heading h2{ margin-bottom: 10px; }
        .camera_view h2{ margin-bottom: 35px; }
        .hdr_view{ margin-bottom: 50px; }
        .hdr_view .sec_heading{ margin-bottom: 35px; }
        .small_container img{ max-width:1038px; width: 100%; margin: 0 auto; display: block; }
        .image_6{ position: relative } 
        .image_7 img{ margin-top: -12% }
        .super_capacitor{ margin-bottom: 40px }
        .voice_control{ margin-block: 30px 20px; }
        .super_capacitor h2, .voice_control h2{ margin-bottom: 30px; }
        .precision_gps_view { margin-bottom: 30px }
        .precision_gps_view span{ max-width: 850px; width: 100%; display: block; margin: 0 auto }
        .g_sensor_view .sec_heading{ margin-bottom: 40px; }
        .parking_survei{ margin-bottom: 40px; }
        .app_support{ position: relative; margin-bottom: 50px; }
        .app_support .image_12{ position: relative }
        .sd_card_view { margin-bottom: 30px; }
        .sd_card_view .sec_heading{ margin-bottom: 40px; }
        .comparison_chart { margin-bottom: 64px }
        .comparison_chart h2{ margin-bottom: 30px; }
        .image_16 img,
        .image_15 img{ margin-bottom: 62px }
        .camera_view{margin-bottom:40px}
        .amazing_night_view{ margin-block: 114px 67px; }
        .g_sensor_view .sec_heading, .adas_view .sec_heading{ max-width: 850px; margin-inline:auto; }
        .g_sensor_view{ margin-top: 72px; }
        .parking_survei{ margin-block: 40px 80px; }
        .wifi_connection{ margin-bottom: 50px; }
        .infrared_mod_feature_list{ display: flex; flex-wrap: wrap; gap:0 40px; justify-content: center; padding-inline:70px; position: relative; }
        .infrared_mod_feature_item{ flex: 0 0 calc(50% - 22px); text-align: center; font-size: clamp(0.875rem, 0.081rem + 1.6563vw, 1.375rem); }
        .infrared_mod_feature_item span{ display: block; margin-bottom: 20px; }
        .infrared_mod_feature{ position: relative; }
        .infrared_mod_feature:before{ content: ''; width: 100%; height: 100%; position: absolute; bottom: 13%; left: 0; background: linear-gradient(180deg, rgba(78, 86, 92, 0) 18.85%, rgba(70, 77, 83, 0.31) 44.61%, #353C41 90.41%); opacity: 0.15; clip-path: polygon(50% 0%, 100% 0, 100% 87%, 50% 100%, 0 87%, 0 0); pointer-events: none; }



        @media(max-width:1024px){
            .dashcam_wrap .dashcam {padding: 25px 25px 50px;}
            .dashcam_wrap h2{ line-height:1.2 }
        }
        @media(min-width:768px){
            {% comment %} .dashcam_wrap span br:not(.hydrophobic_wipe_item br){ display:none } {% endcomment %}
        }
        @media(max-width:767px){
            .dashcam_wrap .dashcam{padding-inline:15px}
            .dashcam_wrap .sec_heading h2{margin-bottom:8px}
            .dashcam_wrap{ margin-inline:-18px; width: calc(100% + 38px); }
            .dashcam br{ display: none; }
            .suffering_problem{ gap:10px; }
            .suffering_problem span{ margin-top: 10px; line-height: normal }
            .suffering_problem img{ display: block; }
            .suffering_problem span br{ display: none }
            .dashcam_wrap .image_1 img{ margin-bottom: 0 }
            .feature_high_list img{ max-width: 45px; }
            .feature_high_list{ padding-inline:10px; row-gap: 10px; column-gap: 5px; }
            .feature_high_list .feature_high_item{ line-height: normal; }
            .feature_high_list .feature_high_item { flex: 0 0 calc(25% - 5px); }
            .feature_high_list{ margin-bottom: 40px }
            .camera_view h2 { margin-bottom: 10px; }
            .camera_view { margin-bottom: 20px; }
            .hdr_view .sec_heading { margin-bottom: 10px; }
            .hdr_view { margin-bottom: 10px; }
            .mb__3 { margin-bottom: 10px; }
            .image_6 img,
            .voice_control { margin-block: 15px 20px; }
            .voice_control h2{ max-width: 220px; margin-inline:auto; margin-bottom: 15px; }
            .super_capacitor h2{ margin-bottom: 15px; }
            .sd_card_view .sec_heading{ padding-inline:22px; margin-bottom:10px; }
            .precision_gps_view .sec_heading{ padding-inline:22px; }
            .g_sensor_view{ margin-block:10px 20px; }
            .g_sensor_view:before{ bottom: 30px; }
            .app_support:before{ display: none }
            .comparison_chart { margin-bottom: 30px; }
            .image_15  img{ padding-inline:23px; margin-bottom: 10px; }
            .image_16 img{ margin-bottom: 30px; }
            .feature_high_list{ display: flex; flex-wrap: wrap; justify-content: center; gap:10px;}
            .feature_high_list .feature_high_item{ width: 100%; flex: 0 0 calc(25% - 9px); }
            .g_sensor_view .sec_heading { margin-bottom: 10px; }
            .image_2 img{ padding-inline:22px; }
            .amazing_night_view { margin-block: 34px 0; }
            .g_sensor_view span, .adas_view span{ padding-inline:20px; }
            .parking_survei { margin-block: 10px 80px; margin-bottom: 20px; }
            .adas_view img,
            .wifi_connection img, .parking_survei img{ padding-inline:22px; }
            .app_support{ margin-bottom: 10px; }
            .infrared_mod_feature_list{ padding-inline:14px; gap:0 14px; }
            .infrared_mod_feature_item { flex: 0 0 calc(50% - 9px); }
            .infrared_mod_feature_item span{ margin-bottom: 5px; }
            .infrared_mod_feature:before{ bottom: 7%; clip-path: polygon(50% 0%, 100% 0, 100% 94%, 50% 100%, 0 94%, 0 0); }
            .comparison_chart h2 { margin-bottom: 10px; }
            .sd_card_view { margin-bottom: 0px; }
        }
        @media(max-width:390px){
            .dashcam_wrap .dashcam {padding: 15px;}
            .dashcam_wrap .dashcam { padding-bottom: 40px; }
        }
        
        @media(max-width:330px){
        }
    </style>
    
{% else %}
  <p>No custom description available for this product.</p> {% endcomment %}


{% endif %}

