<div class="row justify-content-center main-img mb-5 availabel_at-list">
        <h3 class="l-main-title">Available at:</h3>
        <div class="col-lg-2 col-6 location-item">
          <img
            class="lazyload"
            data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Bangsar_Hub.png?v=1721795818"
          >
          <p class="l-title">
            TRAPO <br>
            Bangsar Hub
          </p>
          <a
            class="l-link"
            href="https://www.google.com/maps/place/Trapo+Bangsar+Hub/@3.1310563,101.663889,15z/data=!4m6!3m5!1s0x31cc4929b4ce44b1:0xfd55544ae91447c3!8m2!3d3.1310563!4d101.6726438!15sCgV0cmFwbyIDiAEBkgEVY2FyX2FjY2Vzc29yaWVzX3N0b3Jl?shorturl=1"
            >View Location</a
          >
        </div>
        {% if page.handle == 'trapo-ppf'  %}
          <div class="col-lg-2 col-6 location-item" style="position: relative;">
            <img
              class="lazyload"
              data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/TD_Hub.png?v=1721795821"
            >
            <p class="l-title">
              TRAPO <br>
              Taman Daya JB Hub
            </p>
            <a
              class="l-link"
              href="https://www.google.com/maps?q=TRAPO+Taman+Daya+Hub+(Car+Mats+%26+Accessories),+TD+Central,+5F,+Jalan+Sagu+21,+Taman+Daya,+81100+Johor+Bahru,+Johor&ftid=0x31da6d9dc26cacb9:0x957492f0cdcb0e17&entry=gps&lucs=,94222349,47071704,47069508,94218635,94203019,47084304,94208458,94208447&g_ep=CAISDTYuMTE3LjEuNjI5MjAYACCenQoqSCw5NDIyMjM0OSw0NzA3MTcwNCw0NzA2OTUwOCw5NDIxODYzNSw5NDIwMzAxOSw0NzA4NDMwNCw5NDIwODQ1OCw5NDIwODQ0N0ICTVk%3D&g_st=com.alibaba.dingtalklite.ShareExtension"
              >View Location</a
            >
            <div class="overlay-ppf">
            <span class="overlayppf-text">Currently Not Available</span>
        </div>
          </div>
          
        {% else %}
          <div class="col-lg-2 col-6 location-item">
          <img
            class="lazyload"
            data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/TD_Hub.png?v=1721795821"
          >
          <p class="l-title">
            TRAPO <br>
            Taman Daya JB Hub
          </p>
          <a
            class="l-link"
            href="https://www.google.com/maps?q=TRAPO+Taman+Daya+Hub+(Car+Mats+%26+Accessories),+TD+Central,+5F,+Jalan+Sagu+21,+Taman+Daya,+81100+Johor+Bahru,+Johor&ftid=0x31da6d9dc26cacb9:0x957492f0cdcb0e17&entry=gps&lucs=,94222349,47071704,47069508,94218635,94203019,47084304,94208458,94208447&g_ep=CAISDTYuMTE3LjEuNjI5MjAYACCenQoqSCw5NDIyMjM0OSw0NzA3MTcwNCw0NzA2OTUwOCw5NDIxODYzNSw5NDIwMzAxOSw0NzA4NDMwNCw5NDIwODQ1OCw5NDIwODQ0N0ICTVk%3D&g_st=com.alibaba.dingtalklite.ShareExtension"
            >View Location</a
          >
          
        </div>
        {% endif %}
        <div class="col-lg-2 col-6 location-item">
          <img
            class="lazyload"
            data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Mask_group_a0428f7f-3ee6-4eed-b5d8-5968b4c891ba.png?v=1756057560"
          >
          <p class="l-title">
            TRAPO KL North  <br>
            (Millennium Hub KL)
          </p>
          <a
            class="l-link"
            href="https://www.google.com/maps/place/TRAPO+KL+North+Hub+(Millennium+KL)/data=!4m2!3m1!1s0x0:0x9bc3ac552927c3e9?sa=X&ved=1t:2428&ictx=111&cshid=1755489271289809"
            >View Location</a
          >
        </div>
        <div class="col-lg-2 col-6 location-item">
          <img
            class="lazyload"
            data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Trapo_Glenmarie_Profile_Pic.png?v=1723711380"
          >
          <p class="l-title">
            TRAPO <br>
            Glenmarie Hub
          </p>
          <a
            class="l-link"
            href="https://www.google.com/maps/place/TRAPO+Glenmarie+Hub/@3.0879705,101.5782913,15z/data=!4m5!3m4!1s0x0:0xe04a194044664a7!8m2!3d3.0879705!4d101.5782913"
            >View Location</a
          >
        </div>
        <div class="col-lg-2 col-6 location-item">
          <img
            class="lazyload"
            data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/george_town_new.png?v=1750991984"
          >
          <p class="l-title">
            Proton CS Prima 3S<br>
            Georgetown
          </p>
          <a
            class="l-link"
            href="https://maps.app.goo.gl/F8Wot9pdATB69tLQ6"
            >View Location</a
          >
        </div>
        
      </div>

      <style>
        .availabel_at-list .overlay-ppf {
            position: absolute;
            top: 0;
            left: 10px;
            width: 90%;
            height: 68%;
            background-color: rgba(0, 0, 0, 0.7);
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 10;
            border-radius: 13px;
        }

         .availabel_at-list .overlayppf-text {
            color: white;
            font-weight: bold;
            font-size: 16px;
            text-align: center;
            padding: 10px;
        }
        @media (max-width: 767px){
    .availabel_at-list .overlay-ppf {
    height: 69%;
    }
    .availabel_at-list p.l-title {
        max-width: none;
        margin: 0 auto;
    }
    .location-item{
    margin-bottom:15px;
  }
  }
      </style>