{% if product.tags contains 'trapo-ppf' or product.tags contains 'headlamp-ppf' or product.tags contains 'door-ppf'  %}
  <div class="import_wrap">
  <span><img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_2.svg?v=1734455651" />IMPORTANT</span>
  <span>Only available at TRAPO Bangsar, Glenmarie Detailing Hubs</span>
</div>
{% else %}
<div class="import_wrap">
  <span><img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_2.svg?v=1734455651" />IMPORTANT</span>
  <span>Only available at TRAPO Bangsar, Glenmarie and Taman Daya JB Detailing Hubs</span>
</div>
{% endif %}
<style>
  .import_wrap{
    background-image: url('https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_1.svg?v=1734455549');
    background-repeat: no-repeat;
    background-position: center;
    background-size: containe;
    max-width: 1000px;
    width: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 27% 1fr;
    margin: 0 auto;
    min-height: 51px
}
.import_wrap span{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:10px;
    font-size: 18px;
}
.import_wrap span:first-child{
    font-size: 20px;
    color: #F8ED31;
}

@media(max-width:992px){
    .import_wrap{
        max-width: 390px;
        min-height: 110px;
        background-image: url('https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_3.svg?v=1734456245');
        grid-template-columns: 1fr;
        text-align: center;
        padding: 0 15px
    }
    .import_wrap span{
        font-size: 16px;
    }
    .import_wrap span:first-child{
        font-size: 18px
    }
    .import_wrap span img{
        width: 23px
    }
}






</style>