<div class="import_wrap">
  <span><img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_2.svg?v=1734455651" />IMPORTANT</span>
  <span>Only available at TRAPO Bangsar, Glenmarie and Taman Daya JB Detailing Hubs</span>
</div>