<div class="plus-hide-mobile">
 <p class="no-padding">
    <img data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Door_PPF-01.jpg?v=1733979375" alt="Your Car's Most Vulnerable.Spots-Always at Risk.Door edges are prone to scratches, dings, and paint chips from tight parking spaces, while door handle cups often bear unsightly scratches caused by keys, nails, and frequent use. These small damages add up, ruining your car's sleek appearance over time." data-expand="10" class="img-size lazyload">
  </p>
    <p class="no-padding">
    <img data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Door_PPF-02.jpg?v=1733979375" alt="Start Smart with the Door Protection Combo.Protect your car's most vulnerable areas with the Door Protection Combo, featuring Door Edge PPF and Door Handle Cup PPF. Affordable and suitable for any car, it's the perfect first step toward professional-grade protection without breaking the bank." data-expand="10" class="img-size lazyload">
  </p>
   <p class="no-padding">
    <img data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Door_PPF-03.jpg?v=1733979375" alt="Why Choose Both?.How Door Edge PPF Protects Your Car.Parking in tight spaces.Shields edges from scrapes, dings, or chips in crowded lots.Careless Passengers" data-expand="10" class="img-size lazyload">
  </p>
    <p class="no-padding">
    <img data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Door_PPF-04.jpg?v=1733979375" alt="Protect Now, Save Later.With the Door Protection Combo, you'll enjoy peace of mind knowing the most common scratch zones are safe." data-expand="10" class="img-size lazyload">
  </p>
  
</div>
<div class="plus-hide-desktop">
  <p class="no-padding">
    <img data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Door_PPF-01.jpg?v=1733979375" alt="Your Car's Most Vulnerable.Spots-Always at Risk.Door edges are prone to scratches, dings, and paint chips from tight parking spaces, while door handle cups often bear unsightly scratches caused by keys, nails, and frequent use. These small damages add up, ruining your car's sleek appearance over time." data-expand="10" class="img-size lazyload">
  </p>
    <p class="no-padding">
    <img data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Door_PPF-02.jpg?v=1733979375" alt="Start Smart with the Door Protection Combo.Protect your car's most vulnerable areas with the Door Protection Combo, featuring Door Edge PPF and Door Handle Cup PPF. Affordable and suitable for any car, it's the perfect first step toward professional-grade protection without breaking the bank." data-expand="10" class="img-size lazyload">
  </p>
   <p class="no-padding">
    <img data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Door_PPF-03.jpg?v=1733979375" alt="Why Choose Both?.How Door Edge PPF Protects Your Car.Parking in tight spaces.Shields edges from scrapes, dings, or chips in crowded lots.Careless Passengers" data-expand="10" class="img-size lazyload">
  </p>
    <p class="no-padding">
    <img data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Door_PPF-04.jpg?v=1733979375" alt="Protect Now, Save Later.With the Door Protection Combo, you'll enjoy peace of mind knowing the most common scratch zones are safe." data-expand="10" class="img-size lazyload">
  </p>
</div>

	 <style>
	  .no-padding{
	  margin: 0px 0px !important;
	  line-height: 0px !important;
	  }
.no-padding img{
width:100%
}
	  
	  
	  @media screen and (max-width: 768px) {
		 .plus-hide-mobile {
			display: none;
		 }
	  }
	  @media screen and (min-width: 769px) {
   .plus-hide-desktop {
     display: none;
   }
 }
	  </style>