<p class="no-padding">
  <img class="lazyload plus-hide-mobile" data-expand="-10" data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/web_e9f671b4-2c12-49f0-8063-3325d5339a81.png?v=1722500735" alt="Trapo Classic Free Shipping">
  <img data-expand="-10" class="lazyload plus-hide-desktop" data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/mobile.png?v=1722500752" alt=" ">
  <img
    class="lazyload plus-hide-mobile"
    data-expand="-10"
    data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Trapo_ECO-Compare-Web-Aug.webp"
    alt="Trapo Eco Compare Table"
  >
  <img
    data-expand="-10"
    class="lazyload plus-hide-desktop"
    data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Trapo_ECO-Compare-Mob-Aug.webp"
    alt="Trapo Eco Compare Table"
  >

  <div class="video">
    <div class="wrapper">
      <div data-embed="zKgod6fMgL8" class="youtube" style="margin-bottom: 0;">
        <div class="play-button"></div>
      </div>
    </div>
  </div>

  <img
    class="lazyload plus-hide-mobile"
    data-expand="-10"
    data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Trapo_ECO-Content-Web-Aug-0.webp"
    alt="TRAPO Eco"
  >
  <img
    data-expand="-10"
    class="lazyload plus-hide-desktop"
    data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Trapo_ECO-Content-Mob-Aug-0.webp"
    alt="TRAPO Eco"
  >
</p>
<p class="desc-content black">
  Sustainability has always been at the core of our car mat. Utilising up to 75% recycled foam polymer, Trapo ECO III is
  our greenest car mat yet, ensuring great driving pleasure for our generation and the next.
</p>
<p class="no-padding">
  <img
    class="lazyload plus-hide-mobile"
    data-expand="-10"
    data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Trapo_ECO-Content-Web-Aug-2.webp"
    alt="Sustainability has always been at the core of our car mat"
  >
  <img
    data-expand="-10"
    class="lazyload plus-hide-desktop"
    data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Trapo_ECO-Content-Mob-Aug-2.webp"
    alt="Sustainability has always been at the core of our car mat"
  >
</p>
<h3 class="desc-title">Better Anti-Slip Function with WAVE</h3>
<p class="desc-content black" style="margin-top: 1.5rem;">
  Trapo Eco features WAVE Anti-Slip Technology, a modern alternative to Velcro. Unlike Velcro, which can damage car
  floorboards over time, WAVE ensures 50% MORE stability with none of the fuzzy floorboard aftermath. Plus, Trapo Eco’s
  textured surface design prevents slipping, providing a secure footing, even in wet conditions.
</p>
<p class="no-padding">
  <img
    class="lazyload plus-hide-mobile"
    data-expand="-10"
    data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Trapo_ECO-Content-Web-Aug-4.webp"
    alt="Better Anti-Slip Function with WAVE"
  >
  <img
    data-expand="-10"
    class="lazyload plus-hide-desktop"
    data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Trapo_ECO-Content-Mob-Aug-4.webp"
    alt="Better Anti-Slip Function with WAVE"
  >
</p>
<div class="img-with-text no-padding eva-sec">
  <div class="img-container">
    <div class="content-text">
      <h3 class="desc-title white">Recycled EVA foam</h3>
      <p class="desc-content white" style="margin-top: 1.5rem;">
        Utilising waste materials from the EVA foam manufacturing, we repurpose these polymers through our in-house
        processes and give them a new lease on life. Overall, reducing our carbon footprint.
      </p>
    </div>

    <img
      class="lazyload plus-hide-mobile"
      data-expand="-10"
      data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Trapo_ECO-Content-Web-Oct-5.webp?v=1728972795"
      alt="Recycled EVA foam"
    >
    <img
      data-expand="-10"
      class="lazyload plus-hide-desktop"
      data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Trapo_ECO-Content-Mob-Oct-5.webp?v=1728968828"
      alt="Recycled EVA foam"
    >
  </div>
</div>
<div class="img-with-text no-padding rpet-sec">
  <div class="img-container">
    <div class="content-text">
      <h3 class="desc-title">RPET Lining</h3>
      <p class="desc-content" style="margin-top: 1.5rem;">
        RPET, or more commonly known as plastic bottles, are also repurposed in the manufacturing process of the ECO
        III. Making up the outer lining of our car mats, each set contains up to 12 recycled 500ml plastic bottles. So
        rest assured, your next set is paving the way for a greener future.
      </p>
    </div>

    <img
      class="lazyload plus-hide-mobile"
      data-expand="-10"
      data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Trapo_ECO-Content-Web-Oct-6.webp?v=1728970488"
      alt="RPET Lining"
    >
    <img
      data-expand="-10"
      class="lazyload plus-hide-desktop"
      data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Trapo_ECO-Content-Mob-Oct-6.webp?v=1728970486"
      alt="RPET Lining"
    >
  </div>
</div>
<div class="img-with-text no-padding lining-sec">
  <div class="img-container">
    <div class="content-text">
      <h3 class="desc-title" style="margin-top:0">Make ECO your own</h3>
      <p class="desc-content black" style="margin-top: 1.5rem;">
        Personalize your ride with Trapo Eco mats, now available in 6 customizable lining colors. Choose from sleek Grey or warm Brown base options, exclusively available at our official site and stores.
      </p>
      <h4 class="desc-subtitle">Create the look you desire</h4>
    </div>

    <img
      class="lazyload plus-hide-mobile"
      data-expand="-10"
      data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Trapo_ECO-Content-Web-Oct-7.webp?v=1728971155"
      alt="Creative the look you desire"
    >
    <img
      data-expand="-10"
      class="lazyload plus-hide-desktop"
      data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Trapo_ECO-Content-Mob-Oct-7.webp?v=1728971154"
      alt="Creative the look you desire"
    >
  </div>
</div>
<div class="img-with-text align-left no-padding design-sec">
  <div class="img-container">
    <div class="content-text">
      <h3 class="desc-title">Designed to make a difference</h3>
      <p class="desc-content black" style="margin-top: 1.5rem;">
        Trapo ECO mats offer an affordable and eco-friendly option for those seeking a perfect blend of functionality,
        price, and quality. Discover the difference in quality with Trapo Eco – the ideal choice for value-conscious
        consumers looking for reliable car mats.
      </p>
    </div>

    <img
      class="lazyload plus-hide-mobile"
      data-expand="-10"
      data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Trapo_ECO-Content-Web-Oct-8.webp?v=1728972659"
      alt="Designed to make a difference"
    >
    <img
      data-expand="-10"
      class="lazyload plus-hide-desktop"
      data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Trapo_ECO-Content-Mob-Oct-8.webp?v=17289712657"
      alt="Designed to make a difference"
    >
  </div>
</div>
<div class="features-list">
  <h4 class="desc-subtitle white">All Trapo Car Mats are:</h4>
  <ul class="features-list-ul">
    <li>
      <img
        class="lazyload"
        data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/lightweight.png?v=1729098276"
        alt="Lightweight"
      >
      <p>Lightweight</p>
    </li>
    <li>
      <img
        class="lazyload"
        data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Eco-friendly.png?v=1729098276"
        alt="Eco-friendly"
      >
      <p>Eco-friendly</p>
    </li>
    <li>
      <img
        class="lazyload"
        data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/High-quality.png?v=1729098277"
        alt="High quality"
      >
      <p>High quality</p>
    </li>
    <li>
      <img
        class="lazyload"
        data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Non-toxic_materials.png?v=1729098276"
        alt="Non-toxic material"
      >
      <p>
        Non-toxic<br>
        material
      </p>
    </li>
    <li>
      <img
        class="lazyload"
        data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Easy_to_clean_98a82937-4563-4229-8397-ca09b0cb946b.png?v=1729098275"
        alt="Easy to clean"
      >
      <p>
        Easy to<br>
        clean
      </p>
    </li>
    <li>
      <img
        class="lazyload"
        data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Waterproof_73eb42aa-3c9b-48a2-8bc9-0c5e8c3d8ba6.png?v=1729098276"
        alt="Waterproof"
      >
      <p>Waterproof</p>
    </li>
  </ul>
</div>
<style>
      .no-padding {
  	margin: 0px 0px !important;
  	line-height: 0px !important;
  }

  p.desc-content {
  	font-family: 'Roboto';
  	font-size: 22px;
  	line-height: 30px;
  	text-align: center;
  	letter-spacing: 0.19px;
  	width: 72%;
  	margin: 0 auto;
  	margin-top: 40px;
  	margin-bottom: 40px;

  }

  p.desc-content.black {
  	color: #222222;
  }

  h3.desc-title {
  	margin: 40px auto;
  	margin-bottom: 0;
  	text-align: center;
  	font-size: 40px;
  	line-height: 50px;
  	font-weight: 600;
  	letter-spacing: 0.5px;
  	color: #222222;
  }

  h3.desc-title.white,
  p.desc-content.white {
  	color: #fff !important;
  }

  .img-container {
  	position: relative;
  	width: 100%;
  }

  .img-container .content-text {
  	position: absolute;
  	top: 20%;
  	left: 50%;
  	transform: translate(-50%, -50%);
  	width: 100%;
  }

  h4.desc-subtitle {
  	text-align: center;
  	color: #222222;
  	font-size: 26px;
  	line-height: 30px;
  	font-weight: 600;
  }

  .align-left .img-container .content-text {
  	position: absolute;
  	top: 33%;
  	left: 27%;
  	transform: translate(-50%, -50%);
  	width: 100%;
  	width: 45%;
  }

  h4.desc-subtitle.white {
  	color: #fff;
  }

  .features-list {
  	background: #EE2A7B;
  	padding: 35px 0;
  }

  .features-list-ul {
  	list-style: none;
  	display: grid;
  	grid-template-columns: repeat(6, 1fr);
  	gap: 20px;
  	padding: 0 50px;
  }

  .features-list-ul li {
  	text-align: center;
  }

  .features-list-ul li img {
  	width: 75%;
  }

  .features-list-ul li p {
  	color: #fff;
  	font-size: 16px;
  	letter-spacing: 0.5px;
  	padding-top: 0.8rem;
  	line-height: normal;
  	margin-bottom: 0;
  }

  @media screen and (max-width: 768px) {
  	.plus-hide-mobile {
  		display: none;
  	}

  	p.desc-content {
  		width: 100%;
  		font-size: 18px;
  		line-height: 25px;
  	}

  	h3.desc-title {
  		font-size: 21px;
  		line-height: 25px;
  	}

  	.eva-sec {
  		background: #23A474;
  		padding-top: 65px !important;
  	}

  	.eva-sec p.desc-content {
  		width: 95%;
  	}

  	.container .product-container .sixteen.columns {
  		width: 100%;
  		margin: 0 auto;
  	}

  	.rpet-sec,
  	.design-sec {
  		background: #fff;
  		padding-top: 65px !important;
  	}
  	.lining-sec {
  		background: #fff;
  		padding-top: 6.5rem !important;
  	}

  	.rpet-sec p.desc-content,
  	.lining-sec p.desc-content,
  	.design-sec p.desc-content {
  		width: 95%;
  	}

  	h4.desc-subtitle {
  		font-size: 18px;
      padding-bottom: 3rem;
  	}

  	.align-left .img-container .content-text {
  		width: 100%;
  		left: 50%;
  		top: 20%;
  	}

  	.align-left .img-container .content-text h3.desc-title {
  		margin-top: 0;
  	}

  	.features-list-ul {
  		grid-template-columns: repeat(3, 1fr);
  		padding: 0px 30px;
  	}
  }

  @media screen and (min-width: 769px) {
  	.plus-hide-desktop {
  		display: none;
  	}

  }
</style>
