<div class="plus-hide-mobile">
  <p class="no-padding">
    <img
      class="lazyload"
      data-expand="-10"
      data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/web_e9f671b4-2c12-49f0-8063-3325d5339a81.png?v=1722500735"
      alt="Trapo Classic"
    >
  </p>
  <p class="no-padding">
    <img
      class="lazyload"
      data-expand="-10"
      data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Trapo_ECO-Compare-Web-Aug.webp?v=1709887192"
      alt=""
    >
  </p>
  <div class="video">
    <div class="wrapper">
      <div data-embed="zKgod6fMgL8" class="youtube" style="margin-bottom: 0;">
        <div class="play-button"></div>
      </div>
    </div>
  </div>
  <p class="no-padding">
    <img
      class="lazyload"
      data-expand="-10"
      data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Trapo_ECO-Content-Web-Aug-0.webp"
      alt=""
    >
  </p>
  <p class="no-padding">
    <img
      class="lazyload"
      data-expand="-10"
      data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Trapo_ECO-Content-Web-Aug-1.webp"
      alt=""
    >
  </p>
  <p class="no-padding">
    <img
      class="lazyload"
      data-expand="-10"
      data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Trapo_ECO-Content-Web-Aug-2.webp"
      alt=""
    >
  </p>
  <p class="no-padding">
    <img
      class="lazyload"
      data-expand="-10"
      data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Trapo_ECO-Content-Web-Aug-3.webp"
      alt=""
    >
  </p>
  <p class="no-padding">
    <img
      class="lazyload"
      data-expand="-10"
      data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Trapo_ECO-Content-Web-Aug-4.webp"
      alt=""
    >
  </p>
  <p class="no-padding">
    <img
      class="lazyload"
      data-expand="-10"
      data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Trapo_ECO-Content-Web-Aug-5.webp"
      alt=""
    >
  </p>
  <p class="no-padding">
    <img
      class="lazyload"
      data-expand="-10"
      data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Trapo_ECO-Content-Web-Aug-6.webp"
      alt=""
    >
  </p>
  <p class="no-padding">
    <img
      class="lazyload"
      data-expand="-10"
      data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Trapo_ECO-Content-Web-Aug-7.webp"
      alt=""
    >
  </p>
  <p class="no-padding">
    <img
      class="lazyload"
      data-expand="-10"
      data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Trapo_ECO-Content-Web-Aug-8.webp"
      alt=""
    >
  </p>
  <p class="no-padding">
    <img
      class="lazyload"
      data-expand="-10"
      data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Trapo_ECO-Content-Web-Aug-9.webp"
      alt=""
    >
  </p>
</div>

<div class="plus-hide-desktop">
  <p class="no-padding">
    <img
      data-expand="-10"
      class="lazyload"
      data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/mobile.png?v=1722500752"
      alt=" "
    >
  </p>
  <p class="no-padding">
    <img
      data-expand="-10"
      class="lazyload"
      data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Trapo_ECO-Compare-Mob-Aug.webp"
      alt=" "
    >
  </p>
  <div class="video">
    <div class="wrapper">
      <div data-embed="LVhaVZxfE6g" class="youtube" style="margin-bottom: 0;">
        <div class="play-button"></div>
      </div>
    </div>
  </div>
  <p class="no-padding">
    <img
      data-expand="-10"
      class="lazyload"
      data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Trapo_ECO-Content-Mob-Aug-0.webp"
      alt=" "
    >
  </p>
  <p class="no-padding">
    <img
      data-expand="-10"
      class="lazyload"
      data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Trapo_ECO-Content-Mob-Aug-1.webp"
      alt=" "
    >
  </p>
  <p class="no-padding">
    <img
      data-expand="-10"
      class="lazyload"
      data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Trapo_ECO-Content-Mob-Aug-2.webp"
      alt=" "
    >
  </p>
  <p class="no-padding">
    <img
      data-expand="-10"
      class="lazyload"
      data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Trapo_ECO-Content-Mob-Aug-3.webp"
      alt=" "
    >
  </p>
  <p class="no-padding">
    <img
      data-expand="-10"
      class="lazyload"
      data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Trapo_ECO-Content-Mob-Aug-4.webp"
      alt=" "
    >
  </p>
  <p class="no-padding">
    <img
      data-expand="-10"
      class="lazyload"
      data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Trapo_ECO-Content-Mob-Aug-5.webp"
      alt=" "
    >
  </p>
  <p class="no-padding">
    <img
      data-expand="-10"
      class="lazyload"
      data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Trapo_ECO-Content-Mob-Aug-6.webp"
      alt=" "
    >
  </p>
  <p class="no-padding">
    <img
      data-expand="-10"
      class="lazyload"
      data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Trapo_ECO-Content-Mob-Aug-7.webp"
      alt=" "
    >
  </p>
  <p class="no-padding">
    <img
      data-expand="-10"
      class="lazyload"
      data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Trapo_ECO-Content-Mob-Aug-8.webp"
      alt=" "
    >
  </p>
  <p class="no-padding">
    <img
      data-expand="-10"
      class="lazyload"
      data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Trapo_ECO-Content-Mob-Aug-9.webp"
      alt=" "
    >
  </p>
</div>

<style>
  .no-padding {
    margin: 0px 0px !important;
    line-height: 0px !important;
  }

  @media screen and (max-width: 768px) {
    .plus-hide-mobile {
  	display: none;
    }
  }

  @media screen and (min-width: 769px) {
    .plus-hide-desktop {
  	display: none;
    }
  }
</style>
