<div class="container featuredon-section">
  <div class="featuredon_title">
    <h3 class="heading-title">Featured On</h3>
  </div>
  <div class="featuredon-slider">
    <div class="main-slide">
      <a
        href="https://autobuzz.my/2022/07/27/you-can-now-get-your-70mai-dashcams-professionally-installed-at-trapo-outlets"
        target="_blank"
      >
        <img
          loading="lazy"
          class="lazyload"
          data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Autobuzz.png"
          alt="Autobuzz"
        >
      </a>
    </div>
    <div class="main-slide">
      <a
        href="https://www.carlist.my/news/trapo-car-mats-you-owe-it-to-yourself-and-your-vehicle-82998/82998"
        target="_blank"
      >
        <img
          loading="lazy"
          class="lazyload"
          data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Carlist_2563a58e-8a20-4a73-952c-8bf6e9d19c0c.png"
          alt="Carlist"
        >
      </a>
    </div>
    <div class="main-slide">
      <a
        href="https://www.nst.com.my/news-cars-bikes-trucks/2023/04/896000/trapo-malaysia-products-now-available-touch-n-go-ewallet"
        target="_blank"
      >
        <img
          loading="lazy"
          class="lazyload"
          data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/NST.png"
          alt="New Strait Times"
        >
      </a>
    </div>
    <div class="main-slide">
      <a href="https://www.theweddingvowsg.com/best-dash-cam-malaysia-2024/" target="_blank">
        <img
          loading="lazy"
          class="lazyload"
          data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/tmw-logo.png?v=1717132902"
          alt="The Wedding Vow"
        >
      </a>
    </div>
    <div class="main-slide">
      <a
        href="https://www.thestar.com.my/metro/metro-news/2018/11/15/pitching-their-way-to-top-placing/"
        target="_blank"
      >
        <img
          loading="lazy"
          class="lazyload"
          data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/TheStar_5c54502a-4306-42f5-a43a-48cb94557f4e.png"
          alt="The Star"
        >
      </a>
    </div>
    <div class="main-slide">
      <a
        href="https://paultan.org/2021/10/28/ad-trapo-launches-next-generation-of-its-classic-eco-and-hex-car-mats-now-up-to-10-times-more-durable/"
        target="_blank"
      >
        <img
          loading="lazy"
          class="lazyload"
          data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Paultan.png"
          alt="Paultan"
        >
      </a>
    </div>
    <div class="main-slide">
      <a href="#" target="_blank">
        <img
          loading="lazy"
          class="lazyload"
          data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Autoworld_0f6dd03a-79da-470a-a446-30d85730daa1.png"
          alt="Autoworld"
        >
      </a>
    </div>
    <div class="main-slide">
      <a
        href="https://worldofbuzz.com/sanitizing-your-hands-is-not-enough-6-items-in-msians-cars-that-collect-tons-of-bacteria/"
        target="_blank"
      >
        <img
          loading="lazy"
          class="lazyload"
          data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/World-Of-Buzz.png"
          alt="World of Buzz"
        >
      </a>
    </div>
    <div class="main-slide">
      <a href="https://themalaysianreserve.com/2020/07/08/keeping-the-car-clean-and-virus-free/" target="_blank">
        <img
          loading="lazy"
          class="lazyload"
          data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/The_Malaysian_Reserve.png"
          alt="The Malaysian Reserve"
        >
      </a>
    </div>
    <div class="main-slide">
      <a
        href="https://soyacincau.com/2021/07/15/trapo-floor-mat-review-malaysia-classic-mark-ii-2/"
        target="_blank"
      >
        <img
          loading="lazy"
          class="lazyload"
          data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/SoyaCincau.png?v=1691382243"
          alt="SoyaCincau"
        >
      </a>
    </div>
    <div class="main-slide">
      <a href="https://says.com/my/lifestyle/trapo-passes-endeavor-s-local-selection-panel-2021" target="_blank">
        <img
          loading="lazy"
          class="lazyload"
          data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Says_57945f1f-5743-418c-8bc7-35db23bb9c5a.png"
          alt="Says"
        >
      </a>
    </div>
    <div class="main-slide">
      <a
        href="https://www.freemalaysiatoday.com/category/leisure/2021/10/07/local-brand-trapo-impresses-business-leaders-with-recyclable-car-mats/"
        target="_blank"
      >
        <img
          loading="lazy"
          class="lazyload"
          data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/FMT_811a5191-5593-4fdd-8969-e6dbb34a5972.png"
          alt="FMT"
        >
      </a>
    </div>
    <div class="main-slide">
      <a href="https://productnation.co/my-bm/28397/wiper-kereta-terbaik-malaysia/#p-118383" target="_blank">
        <img
          loading="lazy"
          class="lazyload"
          data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/ProductNation_Logo_Original.webp?v=1713931820"
          alt="Productnation"
          style="filter: grayscale(100%);"
        >
      </a>
    </div>
  </div>
</div>


<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css">
<style>
              .sub_title { margin-bottom: 25px; color: #1B3D6D; font-size: 24px; font-weight: bold; line-height: 28px; letter-spacing: 2px; text-align: left; }
                    .testimonial-main .testimonial-row .testimonial-item{ background-color: #1B3D6D; border-radius: 12px; color: #fff;padding: 0 20px 20px; text-align: left;margin:0 10px; }
                    .testimonial-main .testimonial-row .testimonial-item img{ background-color: #fff; padding: 10px; border-radius: 50%; margin: 0 auto; display: block; margin-top: -65px; }
                    .testimonial-main .testimonial-row .testimonial-item h6{ color: #fff; font-size: 22px; line-height: 24.6px; letter-spacing: 0; margin-top: 20px }
                    .testimonial-main .testimonial-row .testimonial-item p{ text-align: left; font-size: 14px; letter-spacing: 0.19px; line-height: 20px; max-width: 300px; width: 100%; margin: 0 auto; font-weight:300 !important; }
              .testimonial-main .testimonial-row{ width: 80%; margin: 0 auto; }
              .testimonial-main .testimonial-row .customer-name{margin-top:15px}
              .featuredon-section .featuredon_title h2 {
                margin: 0;
                text-transform: uppercase;
                font-size: 16px;
                color: #a0a0a0;
                font-family: "Roboto" !important;
                font-weight: 700;
                letter-spacing: 5px;
                padding-top: 13px;
                margin-bottom: 15px;
            }
                .featuredon-section {
                  padding-block: 30px;
              }

            .featuredon-section .featuredon_title {
                  text-align: center;
                  position: unset;
                  transform: unset;
              }
          .featuredon-section .featuredon-slider {
            width: 80%;
            margin: 0 auto;
        }

            .featuredon-section .prev-arrow {
              position: absolute;
              top: 50%;
              left: -40px;
              transform: translate(0, -50%);
          }
            .featuredon-section .next-arrow {
              position: absolute;
              top: 50%;
              right: -40px;
              transform: translate(0, -50%);
          }
            .featuredon-slider .slick-arrow {
              padding: 0;
              width: 30px;
              height: 25px;
              background: transparent;
              border: 0;
              box-shadow: none;
          }

                .featuredon-slider .slick-track {
                  gap: 0px;
              }
            .featuredon-section .slick-list .slick-slide {
                  padding-inline: 5px;
              }
            .featuredon-section .main-slide img {
              width: 100%;
          }
        .featuredon-section .slick-track {
          display: flex;
          align-items: center;
      }
      .featuredon-slider .slick-arrow::after {
        content: "";
        position: absolute;
        left: 10px;
        z-index: 11;
        display: block;
        width: 15px;
        height: 15px;
        border-top: 3px solid #808080;
        border-left: 3px solid #808080;
        transform: rotate(-45deg);
    }
    .featuredon-slider .next-arrow::after {
      transform: rotate(-225deg);
      left: 5px;
  }
</style>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery.slick/1.4.1/slick.min.js"></script>
<script>
  $(".testimonial-row").slick({
            speed: 1000,
            dots: false,
            centerMode: true,
            focusOnSelect: true,
            prevArrow: false,
            nextArrow: false,
            infinite: true
        });
  $('.featuredon-slider').slick({
            dots: false,
            infinite: false,
            speed: 300,
            slidesToShow: 3,
            slidesToScroll: 1,
            prevArrow: '<button class="slick-arrow prev-arrow"></button>',
            nextArrow: '<button class="slick-arrow next-arrow"></button>'
        });
  $('.video-gallery').slick({
      speed: 1000,
            dots: false,
            centerMode: true,
            focusOnSelect: true,
            prevArrow: false,
            nextArrow: false,
            infinite: true
  });
</script>
