{%- assign variant = product.selected_or_first_available_variant -%}
<div class="fontSize-m footer-pricing sticky-price p-l-40 p-r-40 p-t-20 p-b-20 full-width color-white">
  <div class="footer-p-title">
    <span class="">{{product.title}}</span>
  </div>

  <div class="footer-p-price">
   <span itemprop="price" >
      <span data-pricing="{{variant.price | money }}" data-price="{{variant.price}}" class="current_price customise_money {% if product.available == false %}hidden{% endif %}">
        <span class="money">{{ variant.price | money }}</span>
      </span>
	  <span class="was-price"></span>
    </span>
  </div>
</div>
<style>
  .footer-pricing.sticky-price {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    padding: 1rem;
}
  .sticky-price.open, .mobile-sticky-price.open {
    opacity: 1;
    -moz-transition: all .4s ease-out;
    -o-transition: all .4s ease-out;
    -webkit-transition: all .4s ease-out;
    -ms-transition: all .4s ease-out;
    transition: all .4s ease-out;
}
  .sticky-price {
    bottom: 0;
    position: fixed;
    z-index: 998;
    background: #ee2a7b;
    left: 0;
    opacity: 1;
    -moz-transition: all .4s ease-out;
    -o-transition: all .4s ease-out;
    -webkit-transition: all .4s ease-out;
    -ms-transition: all .4s ease-out;
    transition: all .4s ease-out;
    box-shadow: 0px 2px 10px #27272780;
    -webkit-box-shadow: 0px 2px 10px #27272780;
    -moz-box-shadow: 0px 2px 10px #27272780;
}
  .footer-pricing.sticky-price .footer-p-title {
    margin-right: 10px;
}
  .footer-pricing.sticky-price .footer-p-title,.footer-pricing.sticky-price .footer-p-price {
    font-family: Roboto!important;
    font-weight: 600;
    color: #fff;
    font-size: 16px;
}
.footer-pricing.sticky-price .footer-p-price .was-price{
font-size: 14px;
    text-decoration: line-through;
}
  .footer-pricing.sticky-price {
    display: flex;
    justify-content: center;
    text-align: center;
}
</style>