<div class="plus-hide-mobile">
 <p class="no-padding">
    <img data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/PD_1.jpg?v=1733456735" alt="Struggling with dull yellowing headlights?or Looking to protect Your Brand New-Ones?" data-expand="10" class="img-size lazyload">
  </p>
    <p class="no-padding">
    <img data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/PD-02.jpg?v=1733456736" alt="Here's how PPf can help your headlights." data-expand="10" class="img-size lazyload">
  </p>
   <p class="no-padding">
    <img data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/PD-03.jpg?v=1733456739" alt="Choose PPF for your headlight for RM399" data-expand="10" class="img-size lazyload">
  </p>
  
</div>
<div class="plus-hide-desktop">
  <p class="no-padding">
    <img data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/PD_1.jpg?v=1733456735" alt="Struggling with dull yellowing headlights?or Looking to protect Your Brand New-Ones?" data-expand="10" class="img-size lazyload">
  </p>
    <p class="no-padding">
    <img data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/PD-02.jpg?v=1733456736" alt="Here's how PPf can help your headlights." data-expand="10" class="img-size lazyload">
  </p>
   <p class="no-padding">
    <img data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/PD-03.jpg?v=1733456739" alt="Choose PPF for your headlight for RM399" data-expand="10" class="img-size lazyload">
  </p>
</div>

	 <style>
	  .no-padding{
	  margin: 0px 0px !important;
	  line-height: 0px !important;
	  }
.no-padding img{
width:100%
}
	  
	  
	  @media screen and (max-width: 768px) {
		 .plus-hide-mobile {
			display: none;
		 }
	  }
	  @media screen and (min-width: 769px) {
   .plus-hide-desktop {
     display: none;
   }
 }
	  </style>