<h1 class="hub-location-head">Or drop by one of our hubs</h1>
<div class="hub_location">
  
  <div class="container">
    <div class="full_row">
        
        <div class="right">
          <h4>Hop on over to one of our 5 installation hubs<br>to see what else we have to offer you.</h4>
          <ul class="services">
            <li>
              <div class="img_wrapper">
                <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/2-8.png?v=1635179725">
              </div>
              <h3 class="title">Free installation Service</h3>
            </li>
            <li>
              <div class="img_wrapper">
                <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/3-8.png?v=1635179725">
              </div>
              <h3 class="title">Free Vacuuming Service</h3>
            </li>
            <li>
              <div class="img_wrapper">
                <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/4-8.png?v=1635179724">
              </div>
              <h3 class="title">Nanopro Coating Service</h3>
            </li>
          </ul>
          <div class="btn-wrapper center">
          {% if section.settings.button_label != blank and section.settings.button_link != blank %}
              <a href="{{ section.settings.button_link }}" class="action_button continue-button btn">
                {{ section.settings.button_label | escape }}
              </a>
            {% endif %}
    		</div>
		</div>
      <div class="left">
          <ul class="location_slider">
            <li>
              <div class="img-wrapper">
                <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/1-8.png?v=1635179724" />
                <span class="text-tag">trapo melaka Raya hub</span>
              </div>
              <div class="locaddress">
                <p class="addressmain">
                   No.177, Jalan Merdeka, <br>
    			  Taman Melaka Raya, 75000 Melaka. 
                 </p>
                  <a href="https://www.google.com/maps/place/TRAPO+Car+Mats+Melaka+Raya+Hub/@2.1884185,102.2525614,17z/data=!3m1!4b1!4m5!3m4!1s0x31d1ee1e06dbaf4f:0x3a672560b928eef7!8m2!3d2.1884131!4d102.2547501" target="_blank" class="action_button direction">Directions</a>
              </div>
            </li>
            <li>
              <div class="img-wrapper">
                <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/location-4.png?v=1635928465" />
                <span class="text-tag">Trapo Glenmarie Hub</span>
              </div>
              <div class="locaddress">
              <p class="addressmain">
                 17-G, Jalan Penguasa A U1/53A,<br>
				Temasya Glenmarie, 40150 Shah Alam, <br>
                 Selangor. 
               </p>
                <a href="https://www.google.com/maps/place/TRAPO+Glenmarie+Hub/@3.0879705,101.5782913,15z/data=!4m5!3m4!1s0x0:0xe04a194044664a7!8m2!3d3.0879705!4d101.5782913" target="_blank" class="action_button direction">Directions</a>
              </div>
            </li>
            <li>
              <div class="img-wrapper">
                <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/location-3.png?v=1635928465" />
                <span class="text-tag">Trapo Cheras Hub</span>
              </div>
              <div class="locaddress">
              <p class="addressmain">
                 No.15, Jalan Jejaka 3, <br>
				 Taman Maluri, Cheras, 55100<br>
                 Kuala Lumpur. 
               </p>
                <a href="https://www.google.com/maps/place/TRAPO+Car+Mats+Cheras+Maluri+Hub/@3.1274414,101.7276613,17z/data=!3m1!4b1!4m5!3m4!1s0x31cc37472e5a4411:0xc8496c81ae70994!8m2!3d3.127436!4d101.72985" target="_blank" class="action_button direction">Directions</a>
              </div>
            </li>
            <li>
              <div class="img-wrapper">
                <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/location-4.png?v=1635928465" />
                <span class="text-tag">Trapo Desa Park Hub</span>
              </div>
              
              <div class="locaddress">
              <p class="addressmain">
                 GF-28, Persiaran Residen, <br>
				 Desa Park City, 52200 Kuala Lumpur.
               </p>
                <a href="https://www.google.com/maps/place/TRAPO+Car+Mats+The+Waterfront+Hub+@+Desa+ParkCity/@3.1878394,101.6297491,15z/data=!4m5!3m4!1s0x0:0x23ddf4a554e99cff!8m2!3d3.1873091!4d101.6272332" target="_blank" class="action_button direction">Directions</a>
              </div>
            </li>
            <li>
              <div class="img-wrapper">
                <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/location-5.png?v=1635928465" />
                <span class="text-tag">Trapo Mid Valley Kiosk</span>
              </div>
              
              <div class="locaddress">
              <p class="addressmain">
                  SK-12,Level 2 Mid Valley Megamall,<br>
				  Lingkaran Syed Putra, 59200 <br>
                 Kuala Lumpur.
               </p>
                <a href="https://www.google.com/maps/place/TRAPO+KL+Car+Mats+Mid+Valley+Hub/@3.1167409,101.6773089,15z/data=!4m2!3m1!1s0x0:0x9fd5987c7f45168a?sa=X&amp;ved=2ahUKEwjPltzuzt32AhUzzjgGHVtqATgQ_BJ6BAgUEAU" target="_blank" class="action_button direction">Directions</a>
              </div>
            </li>
            <li>
              <div class="img-wrapper">
                <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/location-6.png?v=1635928465" />
                <span class="text-tag">Trapo Mid Valley Installation Point</span>
              </div>
              
              <div class="locaddress">
              <p class="addressmain">
                 SP1-07, P1 South, Mid Valley Megamall,<br>
				 Lingkaran Syed Putra, 59200<br> 
                 Kuala Lumpur. 
               </p>
                <a href="https://www.google.com/maps/place/TRAPO+KL+Car+Mats+Mid+Valley+Hub/@3.1167409,101.6773089,15z/data=!4m2!3m1!1s0x0:0x9fd5987c7f45168a?sa=X&amp;ved=2ahUKEwjPltzuzt32AhUzzjgGHVtqATgQ_BJ6BAgUEAU" target="_blank" class="action_button direction">Directions</a>
              </div>
            </li>
            <li>
              <div class="img-wrapper">
                <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/bangsar.jpg?v=1636532917" />
                <span class="text-tag">Trapo Bangsar Hub</span>
              </div>
              
              <div class="locaddress">
              <p class="addressmain">
                  75, Jalan Maarof, Bangsar,<br>
                 Wilayah Persekutuan Kuala Lumpur, <br>
                 59000 Kuala Lumpur. 
               </p>
                <a href="https://www.google.com/maps/place/Trapo+Bangsar+Hub/@3.1310563,101.663889,15z/data=!4m6!3m5!1s0x31cc4929b4ce44b1:0xfd55544ae91447c3!8m2!3d3.1310563!4d101.6726438!15sCgV0cmFwbyIDiAEBkgEVY2FyX2FjY2Vzc29yaWVzX3N0b3Jl?shorturl=1" target="_blank" class="action_button direction">Directions</a>
              </div>
            </li>
            <li>
              <div class="img-wrapper">
                <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/location-6.png?v=1635928465" />
                <span class="text-tag">Trapo Mid Valley Southkey JB Hub</span>
              </div>
              
              <div class="locaddress">
              <p class="addressmain">
                 FK-02, First Floor,<br>
				The Mall Midvalley Southkey, <br>
                 80150 Johor Bahru, Johor. 
               </p>
                <a href="https://www.google.com/maps/place/TRAPO+Midvalley+Southkey+Johor+Hub/@1.500349,103.7778871,15z/data=!4m2!3m1!1s0x0:0x4b73c55e8bfb7bc0?sa=X&amp;ved=2ahUKEwjXxKSRz932AhXHwjgGHfM-D08Q_BJ6BAgdEAU" target="_blank" class="action_button direction">Directions</a>
              </div>
            </li>
            <li>
              <div class="img-wrapper">
                <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/penang.png?v=1666855940" />
                <span class="text-tag">Trapo Pulau Tikus Hub</span>
              </div>
              
              <div class="locaddress">
              <p class="addressmain">
                2, Persiaran midlands,<br>
                 Pulau tikus, <br>
                 10250 Georgetown, Pulau Pinang 
               </p>
                <a href="https://goo.gl/maps/WbMyBWAxoGyBSFEbA" target="_blank" class="action_button direction">Directions</a>
              </div>
            </li>
           <li>
              <div class="img-wrapper">
                <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/1U-Hub-480-by-321.jpg?v=1677576885" />
                <span class="text-tag">Trapo 1 Utama</span>
              </div>
              
              <div class="locaddress">
              <p class="addressmain">
                 Lot S202D, Second Floor,1 Utama Shopping Centre <br>
                 S139, Lebuh Bandar Utama<br>
                 Petaling Jaya, 47800 Selangor
               </p>
                <a href="https://www.google.com/maps/place/Trapo+1+Utama/@3.147911,101.6137664,17z/data=!3m1!4b1!4m6!3m5!1s0x31cc49671097e591:0xf513c3d1ace68fb3!8m2!3d3.147911!4d101.6159551!16s%2Fg%2F11tp9pm3gn?hl=en-RO" target="_blank" class="action_button direction">Directions</a>
              </div>
            </li>
              <li>
              <div class="img-wrapper">
                <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/DSCF1471.jpg?v=1681457037" />
                <span class="text-tag">Trapo Balakong</span>
              </div>
              
              <div class="locaddress">
              <p class="addressmain">
                27-G Jalan Simfoni 1 Balakong, <br>
                43300 Seri Kembangan, Selangor
               </p>
                <a href="https://www.google.com/maps/dir//trapo+balakong/@3.0261575,101.6811952,12z/data=!3m1!4b1!4m9!4m8!1m1!4e2!1m5!1m1!1s0x31cdcbbc553478cd:0x6b3b20173218dc8d!2m2!1d101.7512358!2d3.0261598" target="_blank" class="action_button direction">Directions</a>
              </div>
            </li>
            <!--<li>
              <div class="img-wrapper">
                <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/loc1.png?v=1635761150" />
              </div>
              <span class="text-tag">trapo zervex hub</span>
            </li>-->
          </ul>
        </div>
  	</div>
    
  </div>
</div>
<style>
  .hub_location {
    background: #173f6d;
    border-radius: 15px;
    display: inline-block;
    width: 100%; 
    margin: auto;
}

.hub_location .container {
    max-width: 900px;
	padding: 0;
}
.hub_location h2 {
    color: #fff;
    clear: both;
}

.hub_location .full_row {
    width: 100%;
}

.hub_location  .left {
    width: 40%;
    display: inline-block;
}

.hub_location .right {display: inline-block;width: 60%;}

.hub_location .left ul.location_slider {
    margin: auto;
    padding: 0;
}

.hub_location .left ul.location_slider li {
    list-style: none;
    margin: auto;
    position: relative;
}

.hub_location .left ul.location_slider li span.text-tag {
    position: relative;
    bottom: 29px;
    left: 0;
    padding: 5px;
    background: #fff;
    text-transform: capitalize;
    float: left;
}

.hub_location .left ul.location_slider div.img-wrapper {
    line-height: 0;
}
.hub_location .left ul.location_slider div.img-wrapper img {
    width: 100%;
}

.hub_location {
    background: #173f6d;
    border-radius: 15px;
    display: inline-block;
    width: 100%;
    margin: auto;
}

.hub_location h2 {
    color: #fff;
    clear: both;
}

.hub_location .full_row {
    width: 100%;
}

.hub_location  .left {
    width: 43%;
    display: inline-block;
}

.hub_location .right {
	display: inline-block;width: 57%;
}

.hub_location .left ul.location_slider {
    margin: auto;
    padding: 0;
}

.hub_location .left ul.location_slider li {
    list-style: none;
    margin: auto;
    position: relative;
}

.hub_location .left ul.location_slider li span.text-tag {
    position: absolute;
    bottom: 0;
    left: 0;
    background: #fff;
    text-transform: capitalize;
    float: left;
    padding: 15px;
  font-size: 12px;
}

.hub_location .left ul.location_slider div.img-wrapper {
    line-height: 0;
      position: relative;
}

.hub_location .container {
    max-width: 900px;
}

.hub_location .right h4 {
    color: #fff;
    max-width: 360px;
    text-align: center;
    margin: auto;
  	font-weight: 300;
    line-height: normal;
    text-transform: inherit;
    letter-spacing: 0;
}

.hub_location .left ul.location_slider div.img-wrapper img {
    width: 100%;
}

.hub_location .right ul.services {
    margin: auto;
    padding: 10px 0 0;
    font-size: 0;
    line-height: 0;
}

.hub_location .right ul.services li {
    position: relative;
    list-style: none;
    display: inline-block;
    width: 33.33%;
    padding: 0 0 0 10px;
    margin: auto;
}


.hub_location .right ul.services li .img_wrapper img {
    width: 100%;
}

.hub_location .right ul.services li h3.title {
	color: #fff;
    font-size: 11px;
    text-align: center;
    background: #ee2a7b;
    margin: auto;
    padding: 5px;
    font-weight: 300;
    text-transform: capitalize;
    letter-spacing: 1px;
}
  .location_slider .flickity-prev-next-button{
  opacity: 1;
  background: transparent;
}
.hub_location .btn-wrapper{
  display: inline-block;
    width: 100%;
}
.hub_location .btn-wrapper a{
  width: auto;
    background: #ee2a7b;
    color: #fff;
    border: 1 px solid #ee2a7b;
    padding: 0 20 px;
    text-align: center;
    cursor: pointer;
    min-height: 44 px;
    height: 40 px;
    line-height: 20px;
    vertical-align: top;
    font-family: Roboto,sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 18px;
    text-transform: none;
    letter-spacing: 1px;
    border-radius: 5px;
    padding: 10px 40px;
    text-transform: uppercase;
}
.location-content h1 {
    font-family: Roboto,sans-serif;
    font-style: normal;
    font-size: 30px;
    text-transform: none;
    line-height: 1.5;
    color: #173f6d;
    display: block;
    letter-spacing: 0;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0 auto 15px;
    clear: both;
    font-weight: 700;
    padding-top: 4px;
}
  
  .hub_location{
    border-radius:0px;
    padding: 25px;
  }
  .hub_location .left{
    width:50%;
  }
  .hub_location .right{
    width:50%;
    padding-right:10px;
  }
  .hub_location .right{
    float:left;
  }
  .hub_location .btn-wrapper a{
    font-size:20px;
    border-radius: 15px;
    padding: 24px 35px;
    width: 60%;
  }
  .hub_location .right h4 {
    color: #fff;
    max-width: 360px;
    text-align: left;
    margin: auto;
    font-weight: 400;
    line-height: normal;
    font-size: 18px;
        padding-top: 0;
  }
  .hub_location .right ul.services li h3.title {
    color: #fff;
    font-size: 9px;
    text-align: center;
    background: #ee2a7b;
    margin: auto;
    padding: 5px;
    font-weight: 300;
    text-transform: capitalize;
    letter-spacing: 0.5px;
}
  .locaddress{
    text-align:left
  }
  .container.content  p.addressmain{
    text-align:left;
    color: #fff;
    font-size: 14px;
    padding-top: 10px;
    margin-bottom: 5px;
  }
  .container.content .locaddress a{
    color: #fff;
    border-radius: 30px;
    background: #e82276;
    padding: 10px 20px;
    margin-top: 10px;
    border: 1px solid #ee2a7b;
    text-align: center;
    cursor: pointer;
    min-height: 44px;
    height: 40px;
    line-height: 1.2;
    vertical-align: top;
    font-family: Roboto,sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 14px;
    text-transform: none;
    letter-spacing: 0px;
  }
  .container.content .locaddress a:hover{
    background: #ee2a7b;
  }
  .location-content #contactFormMessage{
  width:98%;
}
.sec-callus-inner .mobile img{
    display:none;
  }

  .location_slider .flickity-prev-next-button .arrow{
    fill:#e82276;
  }
  .location_slider .flickity-prev-next-button{
    width:11%;
  }
  .location_slider .flickity-prev-next-button.next{
    right:0;
  }
  @media screen and (max-width: 767px){
    .location-content h1 {
    font-size: 28px;
}
    .sec-callus-inner .desktop img{
    display:none;
  }
  .sec-callus-inner .mobile img{
    display:block;
  }
    .hub_location {
    border-radius: 0px;
    padding: 0px;
    }
    .hub_location .left{
    width:100%;
  }
  .hub_location .right{
    width:100%;
    padding-right:0px;
  }
    .hub_location .btn-wrapper a{
      width:85%;
    }
    .hub_location .right h4{
      font-size:15px;
          text-align: center;
    margin-top: 20px;
    }
    .hub_location>.container {
    padding: 0 15px;
    padding-bottom: 15px;
}
  }
 
</style>


