<div class="mets_the_eyes">
  <div class="container">
      <div class="sec_heading">
          <h2 class="title">
              More than meets the eye
          </h2>
        <div class="description">
            <p>
              What you don’t see often lies in plain sight. Our car mats are proven to effectively and significantly reduce bacteria and other harmful microorganism growth from day-to-day use. Simply rinse with water to active the Classic Mark IV’s antibacterial properties.
            </p>
        </div>
      </div>
    <div class="sec_content">
        <div class="mets_the_eyes_row">
            <div class="mets_the_eyes_item">
              <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/12_906ba6ef-b65e-464e-a1b0-7777478c945e.png?v=1731860289"/>
              <p>Swab test done on a<br> used Trapo car mat</p>
            </div>
            <div class="mets_the_eyes_item">
              <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/13.png?v=1731860290" />
              <p>High RLU <br> reading of 9460</p>
            </div>
            <div class="mets_the_eyes_item">
              <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/14.png?v=1731860290" />
              <p>Car mat washed <br> with clean water</p>
            </div>
            <div class="mets_the_eyes_item">
              <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/15.png?v=1731860289" />
              <p>Instantly eliminates <br>bacteria and germs</p>
            </div>
        </div>
      <div class="mets_the_eyes_right">
        <div class="top">
          <div class="left">
              <h3>Kikkoman Lumitester SMART</h3>
              <p>
                The new Kikkoman Lumitester Smart is a compact yet powerful device which give you a realtime view of the microorganisms present on a surface. With a single swab, it utilises light rays to reveal unseen bacteria, fungus and other microorganisms not seen by the naked eye.
              </p>
          </div>
          <div class="right">
              <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/16_1.png?v=1731860289" />
          </div>
        </div>
        <div class="bottom">
              <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/17_1.png?v=1731860294" />
        </div>
      </div>
    </div>
  </div>
</div>
<style>
.mets_the_eyes{
    background-color: #666666;
    padding:50px 20px;
    color: #fff;
}
.mets_the_eyes .sec_heading{
    text-align: center;
    max-width: 900px;
    width: 100%;
    margin-inline:auto;
    margin-bottom: 30px
}
.mets_the_eyes .sec_heading .title{
    color: inherit;
    font-size: 40px;
    line-height: 50px;
    margin: 0 0 20px;
  font-weight:700;
}
.mets_the_eyes .sec_heading .description{
    font-size: 22px;
    line-height: 30px;
    letter-spacing: 0.19px;
}
.mets_the_eyes_row{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:23px;
    text-align: center;
    font-size: 22px;
    line-height: 28px;
    letter-spacing: 0.19px;
}
.mets_the_eyes_row p{
    margin: 0
}
.mets_the_eyes .sec_content{
    display: grid;
    grid-template-columns: 52% 40%;
    gap:8%
}
.mets_the_eyes .top{
    display: grid;
    grid-template-columns: 50% 1fr;
    margin-bottom: 50px;
    gap:40px;
    align-items: center;
}
.mets_the_eyes_right h3{
    color: inherit;
    font-size: 30px;
    line-height: 35px;
    font-weight: 600;
    margin: 0 0 10px
}
.mets_the_eyes_right  p{
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.19px;
}
.mets_the_eyes_right .top img{
    width: 100%;
    display: block;
}
.mets_the_eyes_right .bottom img{
    max-width: 364px;
    width: 100%;
    display: block;
    
}
.mets_the_eyes_item img{
    display: block;
    width: 100%;
    margin-bottom: 11px;
}


@media(max-width:1199px){
    .mets_the_eyes .sec_content {
    grid-template-columns: 55% 40%;
    gap: 5%;
}
}
@media(max-width:982px){
    .mets_the_eyes .top{
        margin-bottom: 10px
    }
    .mets_the_eyes .top img{
    }
    .mets_the_eyes_right p,
    .mets_the_eyes_row{
        font-size: 14px;
        line-height: 18px;
        height: fit-content
    }
    .mets_the_eyes_right h3{
        font-size: 22px;
        font-weight: 500;
        line-height: 1.3;
        margin: 0
    }
    .mets_the_eyes .sec_heading .description{
        font-size: 16px;
        line-height: 23px;
    }
    .mets_the_eyes .sec_heading .title{
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 5px
    }
    .mets_the_eyes .sec_heading{
        margin-bottom:10px
    }
}
@media(max-width:767px){
    .mets_the_eyes .sec_content .mets_the_eyes_right{
        display: none;
    }
    .mets_the_eyes .sec_content{
        grid-template-columns: 1fr
    }
  .mets_the_eyes{
    padding:30px 20px;
}
}
</style>
