<div class="icon-more-info question_info"><i style="cursor: pointer;" class="fontSize-s far fa-question-circle"></i>
  <p style="cursor: pointer;" class="fontSize-s inline">Click here for more info</p>
</div>
