    <div class="offer-block">
    <div class="get_off">
        <div class="get_off_img">
            <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_196.png?v=1711977300" alt="">
            <div class="get_off_content">
                <strong>Get RM5 OFF</strong>
                <span>Use Code: TPMAY5</span>
            </div>
        </div>
        <p class="get_off_valid">No min. spend.</p>
    </div>
    <div class="get_off">
        <div class="get_off_img">
            <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_196.png?v=1711977300" alt="">
            <div class="get_off_content">
                <strong>Get RM10 OFF</strong>
                <span>Use Code: TPMAY10</span>
            </div>
        </div>
        <p class="get_off_valid">Min. spend RM199</p>
    </div>
    <div class="get_off">
        <div class="get_off_img">
            <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_196.png?v=1711977300" alt="">
            <div class="get_off_content">
                <strong>Get RM15 OFF</strong>
                <span>Use Code: TPMAY15</span>
            </div>
        </div>
        <p class="get_off_valid">Min. spend RM250</p>
    </div>
    <div class="get_off">
        <div class="get_off_img">
            <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_196.png?v=1711977300" alt="">
            <div class="get_off_content">
                <strong>Get RM25 OFF</strong>
                <span>Use Code: TPMAY25</span>
            </div>
        </div>
        <p class="get_off_valid">Min. spend RM350</p>
    </div>
      <div class="get_off">
        <div class="get_off_img">
            <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_196.png?v=1711977300" alt="">
            <div class="get_off_content">
                <strong>Get RM35 OFF</strong>
                <span>Use Code: TPMAY35</span>
            </div>
        </div>
        <p class="get_off_valid">Min. spend RM450</p>
    </div>
    </div>
    <style>
        .offer-block {
            display: grid;
    grid-gap: 10px;
    padding: 5px 0px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-flow: column;
    grid-auto-columns: minmax(200px, 1fr);
    overflow-x: auto;
    margin-bottom: 15px;
}
        .get_off{ background-color: #F8F8F8; padding: 10px 12px; border-radius: 11px;margin-block: 3px }
        .get_off .get_off_img{ display: flex; margin-bottom: 10px; gap:10px; align-items: center }
        .get_off .get_off_img img{ display: block; height: 35px; }
        .get_off .get_off_img strong{ font-size: 16px; line-height: 19px; font-weight: bold; color: #956464 }
        .get_off .get_off_img span{ color: #956464; font-size: 14px; line-height: 1; display: block; margin-bottom: 4px }
        .get_off p{ color: #BA8A8A; line-height: 1; font-size: 14px; margin-bottom: 0 }
         
    </style>