<div class="offer-block">
  <!--
    <div class="get_off">
      <div class="get_off_img">
        <div>
          <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_196.png?v=1711977300" alt="">
          <span>BEST DEAL</span>
        </div>
        <strong>Get $15 OFF</strong>
      </div>
      <div class="get_off_content modal-toggle">
        <span>Use Code: TEAM15 </span> |
        <span class="get_off_valid">Min. spend $199.Valid till 24.06.2024</span>
      </div>
    </div>
  -->
  {% if product.handle == 'trapo-premium-microfiber' %}
    <div class="get_off">
      <div class="get_off_img">
        <strong>Use Code</strong>
        <div>
          <img
            src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/offer_icon_938fdd41-2f8e-45c8-9e87-07d1f063cb34.png?v=1720708542"
            alt=""
          >
          <span>FREECLOTH</span>
        </div>
      </div>
      <div class="get_off_content"><span class="get_off_valid">Buy 2 Cloth, Get 1 FREE!</span><span></span></div>
    </div>
  {% else %}
    <div class="get_off">
      <div class="get_off_img">
        <strong>Use Code</strong>
        <div>
          <img
            src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/offer_icon_938fdd41-2f8e-45c8-9e87-07d1f063cb34.png?v=1720708542"
            alt=""
          >
          <span>BUY2GET30</span>
        </div>
      </div>
      <div class="get_off_content"><span class="get_off_valid">Best deal. Buy 2 get RM30 OFF!</span><span></span></div>
    </div>
    <div class="get_off shopback" style="display:none">
      <div class="get_off_img">
        <div>
          <img
            src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/shopback_logo.svg?v=1726116826"
            alt=""
          >
        </div>
      </div>
      <div class="get_off_content"><span class="get_off_valid">Get Extra RM15 OFF!</span></div>
      <div class="get_off_content second">
      <!-- <span class="till-date">Valid till 09.09.2024</span> -->
      <span class="terms" onclick="showPopup()">T&C</span>
    </div>
    </div>
  {% endif %}
  <!--
    <div class="view_all">
      <strong>+2 more </strong>
      <a href="#" class="modal-toggle">View all</a>
    </div>
  -->
</div>

<!--
  <div class="offer-modal">
    <div class="modal-overlay modal-toggle"></div>
    <div class="modal-wrapper modal-transition">
      <div class="modal-header">
        <button class="modal-close modal-toggle">
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            class="inline-block h-6 w-6 "
          >
            <path fill-rule="evenodd" clip-rule="evenodd" d="M18.364 5.636a.663.663 0 00-.938 0L12 11.062 6.574 5.636a.663.663 0 00-.938.938L11.062 12l-5.426 5.426a.663.663 0 10.938.938L12 12.938l5.426 5.426a.663.663 0 00.938-.938L12.938 12l5.426-5.426a.663.663 0 000-.938z" fill="#262626"></path>
          </svg>
        </button>
        <h2 class="modal-heading">Vouchers</h2>
      </div>

      <div class="modal-body">
        <div class="modal-content">
          <p></p>
          <div class="offer-block">
            <div class="get_off">
              <div class="get_off_img">
                <div>
                  <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_196.png?v=1711977300" alt="">
                  <span>BEST DEAL</span>
                </div>
                <strong>Get $15 OFF</strong>
              </div>
              <div class="get_off_content modal-toggle">
                <span>Use Code: TEAM15 </span> |
                <span class="get_off_valid">Min. spend $199.Valid till 24.06.2024</span>
              </div>
            </div>
            <div class="get_off">
              <div class="get_off_img">
                <div>
                  <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_196.png?v=1711977300" alt="">
                  <span>BEST DEAL</span>
                </div>
                <strong>Get $30 OFF</strong>
              </div>
              <div class="get_off_content modal-toggle">
                <span>Use Code: TEAM30 </span> |
                <span class="get_off_valid">Min. spend $249.Valid till 24.06.2024</span>
              </div>
            </div>
            <div class="get_off">
              <div class="get_off_img">
                <div>
                  <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_196.png?v=1711977300" alt="">
                  <span>BEST DEAL</span>
                </div>
                <strong>Get $45 OFF</strong>
              </div>
              <div class="get_off_content modal-toggle">
                <span>Use Code: TEAM45 </span> |
                <span class="get_off_valid">Min. spend $319.Valid till 24.06.2024</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
-->
<style>
  .offer-block { display: grid; grid-gap: 10px; padding: 5px 0px; grid-template-columns: 1fr 80px; overflow-x: auto; margin-bottom: 15px; }
  .get_off { background-color: #e82276;
    padding: 8px 15px;
    min-height: 72px;
    border-radius: 11px;
    width: max-content; }
  .get_off .get_off_img { display: flex; gap: 10px; align-items: center; margin-bottom: 10px }
  .get_off .get_off_img img{ height: 25px; display: block; }
  .get_off .get_off_img div { display: flex;
    gap: 10px;
    align-items: center;
    background-color: #1b3d6d;
    padding: 3px 15px 3px 5px;
    border-radius: 6px;}
  .get_off .get_off_img img { display: flex;
    align-items: center;
    width: 20px;
    height: 20px; }
  .get_off .get_off_img strong { font-size: 14px; line-height: 1; font-weight: bold; color: #fff; }
  .get_off .get_off_img span { font-weight: bold; color: #fff; font-size: 12px; line-height: 1; display: block; opacity: 0.9;white-space:nowrap}
  .get_off p { color: #ba8a8a; line-height: 1; font-size: 14px; margin-bottom: 0; }
  .view_all { background-color: #f8f8f8; padding: 10px 12px; border-radius: 11px; margin-block: 3px; text-align: center; display: flex; flex-direction: column; justify-content: center; align-items: center; }
  .view_all strong { display: block; color: #fff; font-size: 14px; }
  .view_all a { text-decoration: underline; font-size: 12px; display: block; color: #fff !important; }
  .get_off_content{ font-size: 12px; line-height: 1.3; color: #fff; }
  .get_off_content.second{
          display: flex;
      justify-content: flex-end;
    }
    .terms{
      font-size: 11px !important;
    text-decoration: underline;
    font-weight: normal !important;
    cursor: pointer !important;
    padding-top: 5px;
    }
  .get_off_content span:first-child{ font-weight: 600;cursor: text; }
  .offer-modal{ position: fixed; top: 0; right: -100%; max-width: 400px; width: 100%; z-index: 999999; margin: 0; border-radius: 12px 0 0 12px; display: block; transition: all 0.3s ease-in-out; background-color:#fff; height:100%; }
  .modal-open:before{ content: ''; position: fixed; top: 0; right: 0; width: 100%; height: 100%; z-index: 99999; transition: all 0.3s ease-in-out; background-color: rgba(0,0,0,0.4); }
  .modal-content .offer-block{ display: flex; flex-direction: column; gap:16px }
  .offer-modal.is-visible{ right: 0; }
  .modal-header{ display: flex; align-items: center; gap:15px; padding: 16px; border-bottom: 1px solid #e5e7eb }
  .modal-header h2{ margin: 0; font-size: 18px; }
  .modal-close { margin: 0; padding: 0; background-color: transparent; display: flex; }
  .modal-content{ padding: 16px; }
  .modal-content > p{ font-size: 14px; margin-bottom:10px }
  @media(max-width:767px){
    .offer-modal{
      max-width:351px
    }
  }
</style>
