<div class="coupon-container"
  {% if product.type contains 'REAR' or product.type == 'TRAPO x MRDIY' or product.type == 'PACKAGE MAT' or product.handle == 'trapo-style-ring' %}
    style="display:none"
  {% endif %}
  style="display:none"
  >
  
  <div class="coupon">
    <div class="coupon-content">
      <div class="coupon-header">
        <div class="gear-icon">
          <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/offer-icon.svg?v=1736249354" alt="Gear Icon">
        </div>
        <div class="code-section">
          <div class="use-code">USE CODE</div>
          <div class="coupon-code">BUY2GET30</div>
        </div>
      </div>
      <div class="coupon-text">Buy 2 get RM30 OFF!</div>
    </div>
  </div>
  <div class="coupon">
    <div class="coupon-content">
      <div class="coupon-header">
        <div class="gear-icon">
          <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/offer-icon.svg?v=1736249354" alt="Gear Icon">
        </div>
        <div class="code-section">
          <div class="use-code">USE CODE</div>
          <div class="coupon-code">BUY3GET50</div>
        </div>
      </div>
      <div class="coupon-text">Buy 3 get RM50 OFF!</div>
    </div>
  </div>
  
</div>

<style>
      .coupon-container {
              display: flex;
    gap: 12px;
    padding-bottom: 10px;
      }

      .coupon {
          position: relative;
          width: max-content;
          background-color: white;
          border-radius: 12px;
          display: flex;
          align-items: center;
          padding: 10px 10px 10px 35px;;
          box-shadow: 0 2px 8px rgba(0,0,0,0.05);
          border: 1.5px solid #4274AF;
      }

      .coupon::before {
          content: '';
  position: absolute;
  left: 23px;
  top: 50%;
  transform: translateY(-50%);
  height: 86%;
  width: 1px;
  background-image: linear-gradient(to bottom, #4285f4 50%, transparent 50%);
  background-size: 2px 8px;
      }

      /* Left side circle */
      .coupon::after {
          content: '';
  position: absolute;
  left: -12px;
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
  border: 1.6px solid #4274AF;
  border-top-color: transparent;
  border-left-color: transparent;
  transform: rotate(-45deg);
      }

      .coupon-content {
          flex-grow: 1;
      }

      .coupon-header {
          display: flex;
          align-items: center;
          gap: 5px;
          margin-bottom: 7px;
      }

      .gear-icon {
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 4px;
        padding-left: 0;
      }

      .gear-icon img {
          width: 20px;
      }

      .gear-icon svg {
          width: 100%;
          height: 100%;
          fill: #4274AF;
      }

      .code-section {
          display: flex;
          flex-direction: column;
      }

      .use-code {
          color: #4274AF;
          font-size: 10px;
          font-weight: 500;
        line-height: 12px;
        letter-spacing: 0.2px;
      }

      .coupon-code {
          color: #E82276;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.5px;
      }

      .coupon-text {
          color: #4274AF;
    font-size: 11px;
    font-weight: normal;
    line-height: 1;
    letter-spacing: 0.5px;
      }
  .get_off_content {
    display: flex;
    padding-top: 8px;
        justify-content: space-between;
  }
  .till-date{
    font-size: 10px;
    color: #222;
    line-height: normal;
  }
</style>
