{% comment %}
  {% assign menuhandle = collection.handle %}
  {% if linklists[menuhandle].links == empty %}
    <style>
      .popular-search{
        display:none!imoportant;
      }
    </style>
  {% endif %}
{% endcomment %}
{% if collection.handle == 'car-mats' %}
  <div class="one-whole column">
    <div class="popular-search">
      <div class="h3"><span>Popular Searches:</span></div>
      <ul class="popular-search-grid">
        <li class="p-cat">
          <a href="/collections/proton-car-mats">Proton</a>
        </li>
        <li class="p-cat">
          <a href="/collections/perodua-car-mats">Perodua</a>
        </li>
        <li class="p-cat">
          <a href="/collections/honda-car-mats">Honda</a>
        </li>
        <li class="p-cat">
          <a href="/collections/toyota-car-mats">Toyota</a>
        </li>
      </ul>
    </div>
  </div>
{% elsif collection.handle == 'car-wipers' %}
  <div class="one-whole column">
    <div class="popular-search">
      <div class="h3"><span>Popular Searches:</span></div>
      <ul class="popular-search-grid">
        <li class="p-cat">
          <a href="/collections/proton-car-wipers">Proton</a>
        </li>
        <li class="p-cat">
          <a href="/collections/perodua-car-wipers">Perodua</a>
        </li>
        <li class="p-cat">
          <a href="/collections/honda-car-wipers">Honda</a>
        </li>
        <li class="p-cat">
          <a href="/collections/toyota-car-wipers">Toyota</a>
        </li>
      </ul>
    </div>
  </div>
{% endif %}
<style>
  .popular-search{
    display: flex;
    justify-content: start;
    align-items: center;
  }
  .popular-search div.h3{
    margin: 0;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 0.5px;
  }
  ul.popular-search-grid{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 15px;
    align-items: center;
    margin: 0;
    padding-left: 15px;
  }
   ul.popular-search-grid li.p-cat{
     margin: 0;
    border: 1px solid #1b3d6d;
    padding: 0px 13px;
    border-radius: 25px;
    padding-top: 3px;
   }
  ul.popular-search-grid li.p-cat a{
     color: #1b3d6d;
    font-size: 18px;
    text-transform: uppercase;
    line-height: 24px;
   }
   @media(max-width:767px){
     .popular-search{
       flex-wrap: wrap;
     }
     .popular-search div.h3{
       font-size:16px;
     }
     ul.popular-search-grid{
        gap: 10px;
        flex-wrap: wrap;
        justify-content: start;
        padding-left: 0;
        margin-top: 10px;
     }
     ul.popular-search-grid li.p-cat a{
       font-size:15px;
     }
     ul.popular-search-grid li.p-cat{
           padding: 0px 10px;
    padding-top: 2px;
     }
   }
</style>
