<div class="plus-hide-mobile">
    <p class="no-padding">
        <img data-expand="-10" class="lazyload plus-hide-mobile" data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/web_e9f671b4-2c12-49f0-8063-3325d5339a81.png?v=1722500735" alt="Trapo Classic Free Shipping">
  <img data-expand="-10" class="lazyload plus-hide-mobile" data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Wiper_2-10.jpg?v=1762749388" />
  <img data-expand="-10" class="lazyload plus-hide-mobile" data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Wiper_1-11.webp?v=1759153507" />
  <img data-expand="-10" class="lazyload plus-hide-mobile" data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Wiper_2-12.jpg?v=1762749387" />
  <img data-expand="-10" class="lazyload plus-hide-mobile" data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Wiper_1-13.webp?v=1759153507" />
  <img data-expand="-10" class="lazyload plus-hide-mobile" data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Wiper_1-14.webp?v=1759153507" />
  <img data-expand="-10" class="lazyload plus-hide-mobile" data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Wiper_1-15.webp?v=1759153507" />
  <img data-expand="-10" class="lazyload plus-hide-mobile" data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Wiper_1-16.webp?v=1759153507" />
    </p>
</div>

<div class="plus-hide-desktop">
  <p class="no-padding">
    <img data-expand="-10" class="lazyload plus-hide-desktop" data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/mobile.png?v=1722500752" alt="Trapo Classic Free Shipping">
  <img data-expand="-10" class="lazyload plus-hide-mobile" data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Wiper_3-28.webp?v=1759153585" />
  <img data-expand="-10" class="lazyload plus-hide-mobile" data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Wiper_3-29.webp?v=1759153585" />
  <img data-expand="-10" class="lazyload plus-hide-mobile" data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Wiper_3-30.webp?v=1759153585" />
  <img data-expand="-10" class="lazyload plus-hide-mobile" data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Wiper_3-31.webp?v=1759153585" />
  <img data-expand="-10" class="lazyload plus-hide-mobile" data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Wiper_3-32.webp?v=1759153585" />
  <img data-expand="-10" class="lazyload plus-hide-mobile" data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Wiper_3-33.webp?v=1759153585" />
  <img data-expand="-10" class="lazyload plus-hide-mobile" data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Wiper_3-34.webp?v=1759153585" />
  <img data-expand="-10" class="lazyload plus-hide-mobile" data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Wiper_3-35.webp?v=1759153585" />
  </p>
</div>
<style>
  img.plus-hide-desktop,img.plus-hide-mobile{
    width:100%;
  }
</style>


