<img class="lazyload plus-hide-mobile" data-expand="-10" data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/web_e9f671b4-2c12-49f0-8063-3325d5339a81.png?v=1722500735" alt="Trapo Classic Free Shipping">
<img data-expand="-10" class="lazyload plus-hide-desktop" data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/mobile.png?v=1722500752" alt="Trapo Classic Free Shipping">

<section class="uncertain_weather">
  <div class="img_wrap">
    <img class="lazyload plus-hide-mobile" data-expand="-10" data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/20_1.png?v=1729612518" alt="Driving is a risk in uncertain weather">
    <img class="lazyload plus-hide-desktop" data-expand="-10" data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_1_09bc4137-c2a9-48cf-ab17-616f9bf687fe.png?v=1729612517" alt="Driving is a risk in uncertain weather">
  </div>
  <div class="sec_content">
    <h2 class="title">Driving is a risk in uncertain weather</h2>
    <div class="detail">
        <p>Do you remember how scary it feels to drive when you can’t really see what’s in front of you?</p>
    </div>
  </div>
</section> 

<section class=" drive_vision">
  <div class="sec_content">
    <h2 class="title">Drive with clear vision</h2>
    <div class="detail">
        <p>Hydrophobic wipers are designed to create strong water-repellent coatings on your windshield with every swipe. This produces an intense water-beading effect to prevent water build-up. Now, your vision stays clear even during heavy rain. </p>
    </div>
  </div>
  <div class="img_wrap">
    <img class="lazyload plus-hide-mobile" data-expand="-10" data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/18_2.png?v=1729612747" alt="Drive with clear vision">
    <img class="lazyload plus-hide-desktop" data-expand="-10" data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/18_3.png?v=1729612746" alt="Drive with clear vision">
  </div>
</section>

<section class="long_lasting_effect">
  <div class="sec_content">
    <h2 class="title">Long lasting effect</h2>
    <div class="detail">
        <p>Trapo Hydrophobic Wiper features water-repellent properties infused in its blades. This is why Trapo Hydrophobic Wiper lasts 24 months longer than the average rubber wiper.</p>
    </div>
  </div>
  <div class="img_wrap">
    <img class="lazyload" data-expand="-10" data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/17.png?v=1729612902" alt="Long lasting effect">
    <img class="lazyload" data-expand="-10" data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/16.png?v=1729612903" alt="Long lasting effect">
  </div>
</section>

<section class="swipe_everything">
  <div class="sec_content">
    <h2 class="title">Get an even swipe everytime</h2>
    <div class="detail">
        <p>Balanced wiper arm structure which applies even pressure throughout for excellent wiping performance. </p>
    </div>
  </div>
  <div class="img_wrap">
    <img class="lazyload" data-expand="-10" data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/15_1.png?v=1729613252" alt="Get an even swipe everytime">
  </div>
  <div class="sec_content sec_content_2">
    <h2 class="title">No more wiper lifting on scorching days!</h2>
    <div class="detail">
        <p>Heat resistance up to 250⁰C, built tough for years of unstoppable use!</p>
    </div>
  </div>
</section>
<section class="swipe_everything_mb">
  <div class="sec_content">
    <h2 class="title">No more wiper lifting on scorching days!</h2>
    <div class="detail">
        <p>Heat resistance up to 250⁰C, built tough for years of unstoppable use!</p>
    </div>
  </div>
  <div class="img_wrap">
    <img class="lazyload" data-expand="-10" data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/24_1.png?v=1729704032" alt="Heat resistance up to 250⁰C, built tough for years of unstoppable use">
  </div>
</section>
<section class="skip_swapping">
  <div class="sec_content">
    <h2 class="title">Skip swapping wipers every half year!</h2>
    <div class="detail">
        <p>Did you know that conventional wipers need replacement every 6 to 12 months for optimal performance? With the Trapo Hydrophobic car wiper, you'll be amazed to discover it only needs changing once every two years. Start saving time and effort today!</p>
    </div>
  </div>
  <div class="img_wrap">
    <img class="lazyload" data-expand="-10" data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/14_2.png?v=1729616116" alt="Skip swapping wipers every half year">
  </div>
</section>
<section class="longer_run">
  <div class="sec_content" style="z-index:999">
    <h2 class="title">Save more in the longer run</h2>
    <div class="detail">
        <p>Trapo Hydrophobic Wiper blades feature sturdy metal arms, which allows for refills to extend its longevity, reducing waste and saving of up to 30%!</p>
    </div>
  </div>
  <div class="img_wrap" style="z-index:10">
    <img class="lazyload" data-expand="-10" data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_3_a1e7f13d-e66d-4398-915b-2667368931ca.png?v=1729616116" alt="Save more in the longer run">
  </div>
</section>
<section class="suit_your_ride">
  <div class="sec_content">
    <h2 class="title">Comes with many clips and types to suit your ride</h2>
  </div>
  <div class="img_wrap">
    <img class="lazyload" data-expand="-10" data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_4_1.png?v=1729618897" alt="Comes with many clips and types to suit your ride">
    <img class="lazyload" data-expand="-10" data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/03_1.png?v=1729618895" alt="Comes with many clips and types to suit your ride">
  </div>
</section>
<section class="car_models ">
  <div class="sec_content">
    <h2 class="title">Compatible with most car models*</h2>
    <div class="detail">
        <p>Plug and play. Quick and easy to install. </p>
    </div>
  </div>
  <div class="img_wrap">
    <img class="lazyload" data-expand="-10" data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/04_4.png?v=1729617723" alt="Compatible with most car models">
  </div>
  <a href="javascript:void()" style="cursor: default;color: #1b3d6d;">AND MANY MORE MODELS</a>
</section>
<section class="instalation_made">
  <div class="sec_content">
    <h2 class="title">Installation made easy</h2>
  </div>
  <div class="instalation_made_main">
    <span>Front</span>
    <div class="instalation_made_wrap">
      <div class="instalation_made_item">
        <div class="img_wrap">
            <img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/wiper_front_1.png?v=1729699454" alt="Remove plastic cover from your brand new wiper blades" />
        </div>
        <div class="top"> 
            <span>1</span>
          <p>Remove plastic cover from your brand new wiper blades.</p>
        </div>
      </div>
      <div class="instalation_made_item">
        <div class="img_wrap">
            <img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/wiper_front_2.png?v=1729704240" alt="Ensure compatible  adapter clip is attached to the wiper" />
        </div>
        <div class="top"> 
            <span>2</span>
          <p>Ensure compatible  adapter clip is attached to the wiper.</p>
        </div>
      </div>
      <div class="instalation_made_item">
        <div class="img_wrap">
            <img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/wiper_front_3.png?v=1729704240" />
        </div>
        <div class="top"> 
            <span>3</span>
          <p>Line wiper blade with the metal arm and allow metal hook to go through the hole in the blade.</p>
        </div>
      </div><div class="instalation_made_item">
        <div class="img_wrap">
            <img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/wiper_front_4.png?v=1729704240" alt="Line wiper blade with the metal arm and allow metal hook to go through the hole in the blade" />
        </div>
        <div class="top"> 
            <span>4</span>
          <p>Pull up on the blade until it clicks into place.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="instalation_made_main">
    <span>rear</span>
    <div class="instalation_made_wrap">
      <div class="instalation_made_item">
        <div class="img_wrap">
            <img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/wiper_rear_1.png?v=1729704308" alt="Ensure compatible clip is attached to the wiper (Type C only)" />
        </div>
        <div class="top"> 
            <span>1</span>
          <p>Ensure compatible clip is attached to the wiper (Type C only)</p>
        </div>
      </div>
      <div class="instalation_made_item">
        <div class="img_wrap">
            <img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/wiper_front_1.png?v=1729699454" alt="Remove plastic cover from your brand new wiper blades"/>
        </div>
        <div class="top"> 
            <span>2</span>
          <p>Remove plastic cover from your brand new wiper blades.</p>
        </div>
      </div>
      <div class="instalation_made_item">
        <div class="img_wrap">
            <img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/wiper_rear_2.png?v=1729704308" alt="Install the new wiper blade and lock it in place" />
        </div>
        <div class="top"> 
            <span>3</span>
          <p>Install the new wiper blade and lock it in place.</p>
        </div>
      </div><div class="instalation_made_item">
        <div class="img_wrap">
            <img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/wiper_rear_4.png?v=1729704308" alt="Place the wiper on the rear windshield" />
        </div>
        <div class="top"> 
            <span>4</span>
          <p>Place the wiper on the rear windshield.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="years_lifespan">
  <div class="img_wrap">
      <img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_763.png?v=1729617907" />
  </div>
</section>
<section class="lifespan_wrap">
  <div class="lifespan_list">
      <div class="lifespan_item">
          <div class="img_wrap">
              <img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/08_6964675d-0335-44f9-8000-32c24fcb8d62.png?v=1729618584" alt="Resistant to extreme temperatures" />
          </div>
          <p>
            Resistant to extreme temperatures
          </p>
      </div>
      <div class="lifespan_item">
          <div class="img_wrap">
              <img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/09_3d70c476-b97f-41ec-b98a-b0ea23a08e60.png?v=1729704537" alt="High wiping durability" />
          </div>
          <p>
            High wiping durability
          </p>
      </div>
      <div class="lifespan_item">
          <div class="img_wrap">
              <img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/10.png?v=1729704536" alt="Forms waterproof coating" />
          </div>
          <p>
            Forms waterproof coating
          </p>
      </div>
      <div class="lifespan_item">
          <div class="img_wrap">
              <img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/11.png?v=1729704537" alt="Clearer vision" />
          </div>
          <p>
           Clearer vision
          </p>
      </div>
      <div class="lifespan_item">
          <div class="img_wrap">
              <img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/12.png?v=1729704537" alt="Smear free wiping" />
          </div>
          <p>
            Smear free wiping
          </p>
      </div>
  </div>
</section>

<style>

  .uncertain_weather {
      position: relative
  }
  .img_wrap img{
      display: block;
      width: 100%;
  }
  .uncertain_weather .sec_content{
      position: absolute;
      top: 100px;
      left: 50%;
      transform: translate(-50%,0);
      text-align: center;
      color: #fff;
  }
  .sec_content{
      text-align: center;
      width: 100%;
      margin: 0 auto;
    padding-inline:20px
  }
  .sec_content .title{
      font-size: 40px;
      line-height: 50px;
      margin: 0 0 5px;
      font-weight: 600;
    color:#222222;
  }
  .sec_content .detail{
      font-size: 22px;
      line-height: 30px;
  }
  .uncertain_weather .sec_content .title{
      color: #fff;
      
  }
  .drive_vision .sec_content{
        max-width: 820px;
      margin-bottom: 50px
  }
  .long_lasting_effect .sec_content{
        max-width: 860px;
      margin-bottom: 50px
  }
  .long_lasting_effect .img_wrap{
      display: grid;
      grid-template-columns: 1fr 1fr;
      max-width: 772px;
      margin: 0 auto;
      margin-bottom: 80px;
  }
  .swipe_everything{    
      background-image: url('https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_2_3f19dc5a-003a-4750-96d8-254383b5ac7c.png?v=1729615438');
      background-size: 100% 100%;
      background-repeat: no-repeat;
      height: 1260px;
      padding-top: 100px;
  }
  .swipe_everything .img_wrap{
      max-width: 1014px;
      margin: 0 auto;
  }
  .swipe_everything .sec_content{
      max-width: 870px;
      margin-bottom: 60px;
  }
  .swipe_everything .sec_content .title{
      color: #fff;
  }
  .swipe_everything .sec_content .detail{
      color: #fff;
  }
  .swipe_everything{
    position: relative;
}
.swipe_everything .sec_content_2{
    position: absolute;
    bottom: 60px;
    right: 30px;
    max-width: 450px;
    width: 100%
}
  .skip_swapping{
    padding-block: 50px;
}
.skip_swapping .sec_content{
 max-width: 795px;
    width: 100%;
}
  .longer_run{
    position: relative;
}
.longer_run .sec_content{
    position: absolute;
    bottom: 40px;
    max-width: 810px;
    left: 50%;
    transform: translate(-50%, 0);
}
.longer_run .sec_content .title{
    color: #222222;
    margin-bottom: 10px
}
.suit_your_ride{
    margin-block:50px;
}
.suit_your_ride .sec_content{
    margin-bottom: 50px;
}
.suit_your_ride .img_wrap img{
    margin-bottom: 30px;
}
.car_models  {
    margin-bottom: 100px;
    
}
.car_models  .sec_content .title{
    color: #222222;
}
.car_models a{
    text-align: center;
    display: block;
    font-size: 22px;
}
  
.instalation_made{
    background-image: url('https://cdn.shopify.com/s/files/1/0234/7089/9277/files/pd_content.png?v=1729617872');
background-size: 100% 100%;
    background-repeat: no-repeat;
    padding-top: 100px;
    height: 1315;
    padding: 100px 50px;
      display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.instalation_made_wrap{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.instalation_made_item .top{
    display: grid;
    grid-template-columns: 53px 1fr;
}
.instalation_made_item .top span{
    font-size: 80px;
    font-weight: 500;
    color: #fff;
    display: block;
    line-height: 1
}
.instalation_made_item .top p{
    color: #222222;
    font-size: 22px;
    line-height: 30px;
  max-width:146px
  
}
.instalation_made_main > span{
    display: block;
    margin: 0 auto;
    width: fit-content;
    margin-top: 20px;
    font-weight: 500;
    font-size: 30px;
    background-color: #e82276;
    color: #fff;
    padding: 5px;
    border-radius: 6px;
    text-transform: uppercase;
}
.years_lifespan{
    margin-top: 50px;
}
.lifespan_list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 30px;
    margin-top: 50px;
    max-width: 830px;
    margin-inline: auto;
}
.lifespan_list .img_wrap{
    padding: 5px;
    margin-bottom: 20px;
}
.lifespan_list .lifespan_item p{
    text-align: center;
    font-size: 22px;
    
}

  @media(max-width:1199px){
    .sec_content .title{
    font-size: 30px;
      line-height:1.2
}
.sec_content .detail p{
    font-size: 20px;
    line-height: 1.3
}
.uncertain_weather .sec_content{
    top: 70px;
}
.swipe_everything{
    padding-top: 60px;
}
.swipe_everything .img_wrap{
    padding-inline:50px
}
.swipe_everything .sec_content_2{
    margin-bottom: 30px;
}
.skip_swapping {
    padding-block: 20px;
}
.instalation_made{
    padding: 50px 30px;
  height:1000px
}
.instalation_made_item .top p{
    font-size: 20px;
    line-height: 1.3;
}
.instalation_made_item .top span{
    font-size: 70px
}
.lifespan_list .img_wrap{
    margin-bottom: 10px
}
.lifespan_list .lifespan_item p{
    font-size: 20px;
    line-height: 1.2
}
    .swipe_everything{
      height:820px
    }
    .instalation_made_main > span{
      font-size:20px
    }
    .car_models {
    margin-bottom: 50px;
}
  }
  @media(max-width:992px){
        .swipe_everything .sec_content {
        margin-bottom: 0;
    }
    .drive_vision .sec_content {
    margin-bottom: 30px;
}
    .swipe_everything .sec_content {
    margin-bottom: 0;
}
    .sec_content .title {
    font-size: 25px;
}
    .sec_content .detail p {
    font-size: 18px;
}
    .longer_run .sec_content {
    bottom: 15px;
}
    .suit_your_ride .sec_content {
    margin-bottom: 20px;
}
    .instalation_made_item .top p {
    font-size: 18px;
}
    .years_lifespan {
    margin-top: 30px;
}
    .lifespan_list {
    gap: 30px;
    margin-top: 20px;
}
    .lifespan_list .lifespan_item p {
    font-size: 18px;
}
  }
  @media(min-width:768px){
    .swipe_everything_mb,
      .plus-hide-desktop{
          display: none !important;   
      }
  }
  @media(max-width:767px){
      .plus-hide-mobile{
          display: none !important;
      }
    .sec_content{
    padding: 0 15px
}
.sec_content .title{
    font-size: 20px;
    margin-bottom: 10px;
    color: #222222
}
.sec_content .detail p{
    font-size: 16px;
    line-height: 1.3
}
.uncertain_weather .sec_content {
    top: 40px;
}
.uncertain_weather{
    margin-bottom: 30px;
}
.long_lasting_effect{
    margin-top: 30px;
}
.long_lasting_effect .img_wrap{
    margin-bottom: 50px
}
.swipe_everything .img_wrap {
    padding-inline: 15px;
}
.swipe_everything{
    background-image: url('https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_1_1.png?v=1729702803');
    height: auto;
    padding: 60px 0;
    margin-bottom: 20px
}
.swipe_everything .sec_content_2{
    display: none
}
.swipe_everything .sec_content{
    max-width: 320px;
    margin-bottom: 30px;
}
.skip_swapping .sec_content .title{
    max-width: 250px;
    margin-inline:auto;
}
.longer_run{
    display: flex;
    flex-direction: column-reverse;
}
.longer_run .sec_content{
    background-color: #D9D9D9;
    position: unset;
    margin: 0;
    transform: unset;
    margin-top: -50px;
    border-radius: 6px;
    padding-bottom: 20px;
}
.suit_your_ride .sec_content .title{
    max-width: 280px;
    margin-inline:auto;
}
.car_models a{
    font-size: 16px;
    color: #222222;
    margin-top: 20px;
}
.instalation_made_wrap{
    grid-template-columns: 1fr 1fr;
    gap:0 10px
}
.instalation_made{
    height: auto;
    background-image: url('https://cdn.shopify.com/s/files/1/0234/7089/9277/files/pd_content_1.png?v=1729703492');
    padding: 60px 20px;
}
.instalation_made_main > span{
    font-size: 18px;
    padding: 2px 4px
}
.instalation_made_item .top p{
    font-size: 16px;
}
.instalation_made_item .top {
    grid-template-columns: 40px 1fr;
    gap:5px
}
.lifespan_list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:20px
}
.lifespan_list .lifespan_item{
    max-width: 27%;
}
.lifespan_list .lifespan_item p{
    font-size: 16px;
}
.swipe_everything_mb .sec_content{
    margin-bottom: 30px
}

  }
  
  

</style>


