<div class="wiper_front_wrap">
  <picture class="image_22">
    <source media="(min-width:767px)" srcset="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/desktop_1.webp?v=1766473367">
    <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/mobile_abccedfc-d110-4802-95ac-b96355db5937.webp?v=1766473366" alt="Trapo hydrophobic wiper" >
  </picture>
  <div class="wiper_front">
    <h2>Suffering from these problems?</h2>
    <div class="suffering_problem">
      <div class="suffering_pro_item">
        <picture>
          <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Wiper_-_PD_2025_M-05_110397d3-e160-4021-9f97-3f86dc03916c.png?v=1764927565" alt="Wiper flying off mid use" >
        </picture>
        <span>Squeaky wipers</span>
      </div>
      <div class="suffering_pro_item">
        <picture>
          <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Wiper_-_PD_2025_M-02_8e9cf7a0-9682-4cd5-9375-3374a1077d05.png?v=1764927565" alt="Squeaky wipers" >
        </picture>
        <span>Blurry Windshields</span>
      </div>
      <div class="suffering_pro_item">
        <picture>
          <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Wiper_-_PD_2025_M-03_1fd22a2d-0b2f-4d96-acfb-cc9db337325b.png?v=1764927565" alt="Blurry Windshields" >
        </picture>
        <span>Lifting your wipers to avoid heat damage</span>
      </div>
      <div class="suffering_pro_item">
        <picture>
          <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Wiper_-_PD_2025_M-04_62a9210a-2ddd-4a68-a954-a50231f51be3.png?v=1764927565" alt="Lifting your wipers to avoid heat damage" >
        </picture>
        <span>No easy replacement available</span>
      </div>
    </div>
  </div>
  <div class="hydrophobic_wiper">
    <picture class="image_1">
      <source media="(min-width:767px)" srcset="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Wiper_Rear_-_PD_2025_M-06_1_1.png?v=1766485175">
      <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Wiper_Rear_-_PD_2025_M-06_1_1.png?v=1766485175" alt="Trapo hydrophobic wiper" >
    </picture>
    <div class="sec_heading">
      <h2>Infused Coating Technology</h2>
      <span>Designed for Longer Coating Durability</span>
    </div>
    <picture class="image_2">
      <source media="(min-width:767px)" srcset="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Wiper_-_PD_2025_M-07_1.png?v=1764826773">
      <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Wiper_-_PD_2025_M-07_1_1.png?v=1764826771" alt="Infused Coating Technology" >
    </picture>
    <h2>Hydrophobic Wipe</h2>
    <picture class="image_3">
      <source media="(min-width:767px)" srcset="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_1295.png?v=1764826844">
      <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_1296.png?v=1764826840" alt="Hydrophobic Wipe" >
    </picture>
    <div class="hydrophobic_wipe_list">
      <div class="hydrophobic_wipe_item">
        <picture>
          <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Wiper_-_PD_2025_M-09_3.png?v=1764928157" alt="Obstructed vision from rain and watermarks" >
        </picture>
        <span>Obstructed vision from <br> rain and watermarks</span>
      </div>
      <div class="hydrophobic_wipe_item">
        <picture>
          <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Wiper_-_PD_2025_M-09_4.png?v=1764928156" alt="Crystal clear, unobstructed vision" >
        </picture>
        <span>Crystal clear, <br> unobstructed vision</span>
      </div>
    </div>
    <h2>High Quality Silicone Material</h2>
    <picture class="image_4">
      <source media="(min-width:767px)" srcset="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_1298.png?v=1764841830">
      <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Frame_1135.png?v=1764841828" alt="High Quality Silicone Material" >
    </picture>
    <div class="sec_heading mb__3">
      <h2>Even Wiping Pressure</h2>
      <span>Metal bridges keep blades in full  <br> contact for smooth, even wipes</span>
    </div>
    <picture class="image_5">
      <source media="(min-width:767px)" srcset="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_1320.png?v=1764926667">
      <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_1319.png?v=1764926519" alt="Even Wiping Pressure" >
    </picture>
    {% comment %} <div class="sec_heading mb__3">
      <h2>Sturdy Construction, <br> Will Never Snap!</h2>
      <span>High quality materials and <br> sturdy construction</span>
    </div>
    <picture class="image_6">
      <source media="(min-width:767px)" srcset="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_1307.png?v=1764841949">
      <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_1310.png?v=1764841948" alt="Sturdy Construction, Will Never Snap!" >
    </picture> {% endcomment %}
    <div class="tech_certification">
      <h2>Technology Certification</h2>
      <picture class="image_3">
        <source media="(min-width:767px)" srcset="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Wiper_Rear_-_PD_2025_M-15_1.png?v=1764842528">
        <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Wiper_Rear_-_PD_2025_M-15_1_8315fd20-6e4f-415e-ba1f-b6015f68e696.png?v=1764926899" alt="Technology Certification" >
      </picture>
    </div>
    <div class="compat_wrap">
      <h2>99% Compatibility</h2>
      <picture class="image_7">
        <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Wiper_-_PD_2025_M-17_1.png?v=1764852241" alt="99% Compatibility" >
      </picture>
      <picture class="image_8">
        <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/CarLogo_Artboard_1_1.png?v=1764852241" alt="99% Compatibility" >
      </picture>
      <picture class="image_9">
        <source media="(min-width:767px)" srcset="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Wiper_Rear_-_PD_2025_M-17_1.png?v=1764927061">
        <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Wiper_Rear_-_PD_2025_M-17_1_1.png?v=1764927060" alt="front Wiper" >
      </picture>
    </div>
    <div class="installation_steps">
      <h2>Installation Steps</h2>
      <div class="rear_wiper">
        <div class="inst_steps_list">
          <div class="inst_steps_item">
            <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Wiper_-_PD_2025_M-19_1.png?v=1764906104" alt="Wiper" >
            <p>Remove plastic cover from your brand new wiper blades.</p>
          </div>
          <div class="inst_steps_item">
            <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Wiper_-_PD_2025_M-20_1.png?v=1764906104" alt="Wiper" >
            <p>Ensure compatible  adapter clip is attached to the wiper.</p>
          </div>
          <div class="inst_steps_item">
            <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Wiper_-_PD_2025_M-21_1.png?v=1764906104" alt="Wiper" >
            <p>Line wiper blade with the metal arm and allow metal hook to go through the hole in the blade.</p>
          </div>
          <div class="inst_steps_item">
            <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Wiper_-_PD_2025_M-22_1.png?v=1764906104" alt="Wiper" >
            <p>Pull up on the blade until it clicks into place.</p>
          </div>
        </div>
      </div>
      <picture class="image_12">
        <source media="(min-width:767px)" srcset="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Wiper_-_PD_2025_M-27_1.png?v=1764912476">
        <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Wiper_-_PD_2025_M-27_1_1.png?v=1764912476" alt="Wiper" >
      </picture>
    </div>
    <picture class="image_14">
      <source media="(min-width:767px)" srcset="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Wiper_-_PD_2025_M-28_1.png?v=1764912631">
      <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Wiper_-_PD_2025_M-28_1_1.png?v=1764912629" alt="Feature" >
    </picture>
  </div>
</div>


<style>
  .wiper_front_wrap .wiper_front{ background-color: #003A70; color: #fff; padding: 70px;}
  .wiper_front_wrap h2{ font-size: 40px; font-size: clamp(1.25rem, -1.0714rem + 4.8426vw, 2.5rem);  line-height: 47px; color: inherit; margin: 0 0 20px; text-align: center; font-weight: 600 }
  .wiper_front_wrap .suffering_problem{ display: grid; grid-template-columns: 1fr 1fr; gap:26px 40px; text-align: center; font-size: 22px; font-size: clamp(1rem, 0.3036rem + 1.4528vw, 1.375rem); line-height: 26px; }
  .wiper_front_wrap .suffering_problem img{ width: 100%; }
  .wiper_front_wrap .image_1 img{ border-radius: 20px 20px 0 0; overflow: hidden; margin-top: -20px }
  .wiper_front_wrap .sec_heading{ text-align: center; font-size: clamp(1rem, 0.3036rem + 1.4528vw, 1.375rem); }
  .hydrophobic_wipe_list{ display: grid; grid-template-columns: 1fr 1fr; margin-block: 20px 50px; gap:30px; text-align: center;font-size: clamp(0.875rem, -0.0536rem + 1.937vw, 1.375rem); line-height: 1.2; }
  .sec_heading.mb__3 { margin-bottom: 30px; }
  .tech_certification{ position: relative; margin-block: 40px 100px; }
  .tech_certification h2{ position: absolute; top: 9%; text-align: center; color: #fff; width: 100%; }
  .wiper_front_wrap img{ display:block; }
  .installation_steps{ margin-top: 75px; }
  .inst_steps_list{ display: grid; grid-template-columns: 1fr 1fr 1fr 1fr; gap:36px; text-align: center; max-width: 1060px; margin: 0 auto; } 
  .front_wiper{ margin-bottom: 50px } 
  .installation_steps h4 { text-transform: uppercase; text-align: center; width: fit-content; background: linear-gradient(90deg, #272B2E 0%, #25292C 60%, #1F2225 81%, #15161A 97.01%, #121317 100.01%); color: #fff; font-weight: 600; margin: 0 auto 15px; padding: 0; font-size: clamp(0.75rem, -0.4107rem + 2.4213vw, 1.375rem); min-width: 119px; border-radius: 14px 0 14px 0; padding-block: 3px; font-style:italic}
  .inst_steps_list .inst_steps_item p{ margin:12px 0 0; font-size: clamp(0.9rem, 0.0179rem + 1.8402vw, 1.375rem); line-height: normal }
  .image_12 img{ margin-block:70px 100px;padding-inline:69px }
  .wiper_front_wrap .suffering_problem span{ margin-top: 20px; display: block }
  .image_7 img{ max-width:906px; margin: 0 auto; }
  .compat_wrap { padding-inline: 69px; }
  .image_5 img{margin-top:50px}
  @media(max-width:1024px){
    .wiper_front_wrap .wiper_front {padding: 25px 25px 50px;}
    .wiper_front_wrap .suffering_problem span{ margin-top: 10px; }
    .wiper_front_wrap h2{ line-height:1.2 }
    .installation_steps { margin-top: 55px; }
    .padding-inline,
    .compat_wrap { padding-inline: 40px; }
  }
  @media(min-width:768px){
    .wiper_front_wrap .sec_heading br,
    .wiper_front_wrap span br:not(.hydrophobic_wipe_item br){ display:none }
    .image_5 img,
    .image_4 img{margin-bottom:20px}
  }
  @media(max-width:767px){
    .wiper_front_wrap .suffering_problem{ gap:15px }
    .wiper_front_wrap{ margin-inline:-9px; }
    .wiper_front_wrap .wiper_front{padding-inline:15px}
    .wiper_front_wrap .sec_heading h2{margin-bottom:8px}
    .image_1 img, .image_2 img{ margin-bottom: 20px; }
    .hydrophobic_wipe_list{ padding-inline:20px; gap:10px; margin-block: 10px 30px }
    .sec_heading.mb__3{ margin: 0 }
    .tech_certification h2{ top: 6% }
    .tech_certification{ margin-block:40px 30px; }
    .compat_wrap{ padding-inline:20px }
    .image_7 img{ max-width:291px; }
    .inst_steps_list{ grid-template-columns: 1fr 1fr; gap:20px; padding-inline:20px }
    .installation_steps h4 { min-width: 79px; padding-block: 4px; }
    .installation_steps h2{ margin-bottom: 10px; }
    .front_wiper { margin-bottom: 30px; }
    .image_12 img { margin-block: 30px; padding-inline:20px; }
    .image_5 img {
    margin-top: 25px;
}
  }
  @media(max-width:390px){
    .wiper_front_wrap .wiper_front {padding: 15px;}
    .wiper_front_wrap .wiper_front { padding-bottom: 40px; }
  }
  
  @media(max-width:330px){
    .suffering_pro_item span br{ display:none}
  }
</style>