<div class="plus-hide-mobile">
    <p class="no-padding">
        <img data-expand="-10" class="lazyload plus-hide-mobile" data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/web_e9f671b4-2c12-49f0-8063-3325d5339a81.png?v=1722500735" alt="Trapo Classic Free Shipping">
  <img data-expand="-10" class="lazyload plus-hide-mobile" data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Wiper_2-10.webp?v=1759153507" />
  <img data-expand="-10" class="lazyload plus-hide-mobile" data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Wiper_2-11.webp?v=1759153507" />
  <img data-expand="-10" class="lazyload plus-hide-mobile" data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Wiper_2-12.webp?v=1759153507" />
  <img data-expand="-10" class="lazyload plus-hide-mobile" data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Wiper_2-13.webp?v=1759153507" />
  <img data-expand="-10" class="lazyload plus-hide-mobile" data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Wiper_2-14.webp?v=1759153507" />
  <img data-expand="-10" class="lazyload plus-hide-mobile" data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Wiper_2-15.webp?v=1759153507" />
  <img data-expand="-10" class="lazyload plus-hide-mobile" data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Wiper_2-16.webp?v=1759153507" />
    </p>
</div>

<div class="plus-hide-desktop">
  <p class="no-padding">
    <img data-expand="-10" class="lazyload plus-hide-desktop" data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/mobile.png?v=1722500752" alt="Trapo Classic Free Shipping">
  <img data-expand="-10" class="lazyload plus-hide-desktop" data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Wiper_4-28.webp?v=1759153585" />
  <img data-expand="-10" class="lazyload plus-hide-desktop" data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Wiper_4-29.webp?v=1759153585" />
  <img data-expand="-10" class="lazyload plus-hide-desktop" data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Wiper_4-30.webp?v=1759153585" />
  <img data-expand="-10" class="lazyload plus-hide-desktop" data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Wiper_4-31.webp?v=1759153585" />
  <img data-expand="-10" class="lazyload plus-hide-desktop" data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Wiper_4-32.webp?v=1759153585" />
  <img data-expand="-10" class="lazyload plus-hide-desktop" data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Wiper_4-33.webp?v=1759153585" />
  <img data-expand="-10" class="lazyload plus-hide-desktop" data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Wiper_4-34.webp?v=1759153585" />
  <img data-expand="-10" class="lazyload plus-hide-desktop" data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Wiper_4-35.webp?v=1759153585" />
  </p>
</div>
<style>
  img.plus-hide-desktop,img.plus-hide-mobile{
    width:100%;
  }
</style>


