{% render 'refresh-package-notice' %}
<div class="plus-hide-mobile">
  <p class="no-padding">
    <img
      data-src="https://cdn.shopify.com/s/files/1/0549/4112/2809/files/refresh-desc-desk.webp?v=1740666227"
      alt="Trapo Refresh Package – The Easy Upgrade for Older Cars"
      data-expand="10"
      class="img-size lazyload"
    >
  </p>
</div>
<div class="plus-hide-desktop">
  <p class="no-padding">
    <img
      data-src="https://cdn.shopify.com/s/files/1/0549/4112/2809/files/refresh-desc-mob.webp?v=1740666226"
      alt="Trapo Refresh Package – The Easy Upgrade for Older Cars"
      data-expand="10"
      class="img-size lazyload"
    >
  </p>
</div>

<style>
  @media screen and (max-width: 768px) {
    	.plus-hide-mobile {
    		display: none;
    	}
  }
  @media screen and (min-width: 769px) {
  	.plus-hide-desktop {
  		display: none;
  	}

  }
</style>
