  <div class="desktop-only">
  <div id="sparq-container">
    <div class="sq-app">
      <sq-config
          app-id="WWHVLJUE9GEDQYI9XN1LD5DK"
          collection-id="MLLQGSCV3BLNBQDNGA4PSFAN"
          search-token="F1JB7PN3KKUMVP1JHR6JEUY5"
  ></sq-config>
      <sq-url-manager v-once></sq-url-manager>

      <div class="sq-heading-home">Search Your Car Model</div>
      <sq-filter-group></sq-filter-group>
      <sq-dropdown
            class="sq-filter-body"
            :parent="`.sq-filter-title-tags_brand_u7o52s8y6lzdgk23zhoyn81w`"
            closeEvt="click"
            openEvt="click">
            <slot>
              <sq-filter
                v-if="filter.userInterfaceType != UserInterfaceType.RangeSlider"
                v-bind="getFilterOption('tags_brand_u7o52s8y6lzdgk23zhoyn81w')"
                :uniqueId="tags_brand_u7o52s8y6lzdgk23zhoyn81w"
                :facet="tags_brand_u7o52s8y6lzdgk23zhoyn81w"></sq-filter>
            </slot>
          </sq-dropdown>
      <div class="sq-home" style="display:none;">
        <div class="sq-row-container">
          <div class="sq-filter-home">
            <div class="sq-fix-row">
              <div class="sq-row">
                <div class="sq-col sq-label">Brand</div>
                <div class="sq-col">
                  <select @change="window.sq.brandValue(store, $event.target.value,'tags_brand_u7o52s8y6lzdgk23zhoyn81w')">
                    <option value="" selected disabled>--Select--</option>
                    <option
                      v-for="opt in window.sq.brandOptions(store,'tags_brand_u7o52s8y6lzdgk23zhoyn81w')"
                      :value="opt.label"
                      :key="opt.label"
                      class="sq-custom"
                    >
                      {% raw %}{{ opt.displayLabel.toUpperCase() }}{% endraw %}
                    </option>
                  </select>
                </div>
              </div>
            </div>
          </div>
           <div class="sq-filter-home">
            <div class="sq-fix-row">
              <div class="sq-row">
                <div class="sq-col sq-label">Model</div>
                <div class="sq-col">
                  <select @change="window.sq.brandValue(store, $event.target.value,'tags_model_yid1zsi8u8ok6nozp2vb5zg9')">
                    <option value="" selected disabled>--Select--</option>
                    <option
                      v-if="window.sq.brandSelected()"
                      v-for="opt in window.sq.brandOptions(store,'tags_model_yid1zsi8u8ok6nozp2vb5zg9')"
                      :value="opt.label"
                      :key="opt.label"
                      class="sq-custom"
                    >
                      {% raw %}{{ opt.displayLabel.toUpperCase() }}{% endraw %}
                    </option>
                  </select>
                </div>
              </div>
            </div>
          </div>
           <div class="sq-filter-home">
            <div class="sq-fix-row">
              <div class="sq-row">
                <div class="sq-col sq-label">Year</div>
                <div class="sq-col">
                  <select @change="window.sq.brandValue(store, $event.target.value,'tags_model_cx9fhj5cuqpozs1ac828aoho')">
                    <option value="" selected disabled>--Select--</option>
                    <option
                      v-for="opt in window.sq.brandOptions(store,'tags_model_cx9fhj5cuqpozs1ac828aoho')"
                      :value="opt.label"
                      :key="opt.label"
                      class="sq-custom"
                    >
                      {% raw %}{{ opt.displayLabel.toUpperCase() }}{% endraw %}
                    </option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="sq-socks">
            <button class="sq-button" onclick="window.location.href='/search'+window.location.search">Search</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>