<div class="desktop-only">
  <div id="sparq-container">
    <div class="sq-custom-app">
      <div class="sq-heading-home">Search Your Car Model</div>
      <sq-filter-app></sq-filter-app>
    </div>
  </div>
</div>
