{% comment %}
  <section class="liked_trapo">
    <div class="container">
      <div class="sec_title">
        <h2>
          PEOPLE WHO ALSO LIKED TRAPO <br>
          @TRAPOMALAYSIA
        </h2>
      </div>
      <div class="sec_content">
        <div class="liked_trapo_row">
          {% if product.type == 'TRAPO CLASSIC'
            or product.type == 'TRAPO ECO'
            or product.type == 'TRAPO HEX'
            or product.type == 'TRAPO HEX ULTIMATE'
            or product.type == 'TRAPO XTREME'
          %}
            <div class="item">
              <a href="https://www.instagram.com/p/C0l6Kstpm_G/" target="_blank">
                <video autoplay="autoplay" width="250" muted loop playsinline="true">
                  <source
                    src="https://cdn.shopify.com/videos/c/o/v/baf679103e314591ab3a4bfa09ec6e9c.webm"
                    type="video/webm"
                  >
                </video>
              </a>
            </div>

            <div class="item">
              <a href="https://www.tiktok.com/@afiqasn/video/7335720385754795265?q=trapo&t=1715314155103" target="_blank">
                <video autoplay="autoplay" width="250" muted loop playsinline="true">
                  <source
                    src="https://cdn.shopify.com/videos/c/o/v/25e48e4f615346698b725eec47835a39.webm"
                    type="video/webm"
                  >
                </video>
              </a>
            </div>

            <div class="item">
              <a href="https://www.tiktok.com/@nmeelaj/video/7240798486562639105?q=trapo&t=1715314155103" target="_blank">
                <video autoplay="autoplay" width="250" muted loop playsinline="true">
                  <source
                    src="https://cdn.shopify.com/videos/c/o/v/6e3e7168d5524aa9bb34bf3aab10a1d9.webm"
                    type="video/webm"
                  >
                </video>
              </a>
            </div>

            <div class="item">
              <a
                href="https://www.tiktok.com/@saga_latte/video/7216200955220512005?q=trapo&t=1715314155103"
                target="_blank"
              >
                <video autoplay="autoplay" width="250" muted loop playsinline="true">
                  <source
                    src="https://cdn.shopify.com/videos/c/o/v/6611e51432a34cf3ae13229ae6e5162a.webm"
                    type="video/webm"
                  >
                </video>
              </a>
            </div>

            <div class="item">
              <a
                href="https://www.tiktok.com/@sharinarichie/video/7208155837762637083?q=trapo&t=1715314155103"
                target="_blank"
              >
                <video autoplay="autoplay" width="250" muted loop playsinline="true">
                  <source
                    src="https://cdn.shopify.com/videos/c/o/v/1a5fab8875844f01a096982ef71d2840.webm"
                    type="video/webm"
                  >
                </video>
              </a>
            </div>

            <div class="item">
              <a href="https://www.instagram.com/p/CxxT37MyIHJ/" target="_blank">
                <video autoplay="autoplay" width="250" muted loop playsinline="true">
                  <source
                    src="https://cdn.shopify.com/videos/c/o/v/efad2af846a5431ebf4a5e4ee56ce60a.webm"
                    type="video/webm"
                  >
                </video>
              </a>
            </div>

          {% elsif product.type == 'TRAPO DASHCAM' %}
            <div class="item">
              <a href="https://www.instagram.com/p/C4nVycDSSma/" target="_blank">
                <video autoplay="autoplay" width="250" muted loop playsinline="true">
                  <source
                    src="https://cdn.shopify.com/videos/c/o/v/0aaa451e43974bac9c71a82edf4bda20.webm"
                    type="video/webm"
                  >
                </video>
              </a>
            </div>

            <div class="item">
              <a
                href="https://www.tiktok.com/@aishanajeha/video/7346834123320823048?q=trapo%20dashcam&t=1715314309253"
                target="_blank"
              >
                <video autoplay="autoplay" width="250" muted loop playsinline="true">
                  <source
                    src="https://cdn.shopify.com/videos/c/o/v/e0828e78ed2746d390a1ca49de13d4d2.webm"
                    type="video/webm"
                  >
                </video>
              </a>
            </div>

            <div class="item">
              <a
                href="https://www.tiktok.com/@iylafadzila/video/7346584606591765761?q=trapo%20dashcam&t=1715314309253"
                target="_blank"
              >
                <video autoplay="autoplay" width="250" muted loop playsinline="true">
                  <source
                    src="https://cdn.shopify.com/videos/c/o/v/fb29d19c0cc04a9faf7493396458f639.webm"
                    type="video/webm"
                  >
                </video>
              </a>
            </div>

            <div class="item">
              <a
                href="https://www.tiktok.com/@afinayeeha_/video/7347239164775075073?q=trapo%20dashcam&t=1715314309253"
                target="_blank"
              >
                <video autoplay="autoplay" width="250" muted loop playsinline="true">
                  <source
                    src="https://cdn.shopify.com/videos/c/o/v/bb6f59c1a5fc481dbef12f1896ff1c2e.webm"
                    type="video/webm"
                  >
                </video>
              </a>
            </div>

            <div class="item">
              <a href="https://www.instagram.com/p/DAIs4nRSt2u/" target="_blank">
                <video autoplay="autoplay" width="250" muted loop playsinline="true">
                  <source
                    src="https://cdn.shopify.com/videos/c/o/v/70e5bd2b7b0f4f5cae3d94c16438860e.webm"
                    type="video/webm"
                  >
                </video>
              </a>
            </div>

            <div class="item">
              <a href="http://xhslink.com/A/JVeK4h" target="_blank">
                <video autoplay="autoplay" width="250" muted loop playsinline="true">
                  <source
                    src="https://cdn.shopify.com/videos/c/o/v/f8a55aaf902847aa8e37bf652b846cac.webm"
                    type="video/webm"
                  >
                </video>
              </a>
            </div>
          {% elsif product.type == 'WIPER' %}
            <div class="item">
              <a
                href="https://www.tiktok.com/@afiqasn/video/7348741814125382913?q=trapo%20wiper&t=1715314506860"
                target="_blank"
              >
                <video autoplay="autoplay" width="250" muted loop playsinline="true">
                  <source
                    src="https://cdn.shopify.com/videos/c/o/v/1bb620af24c3471e92cca6ed3617b17d.webm"
                    type="video/webm"
                  >
                </video>
              </a>
            </div>

            <div class="item">
              <a
                href="https://www.tiktok.com/@gear.tech.digital/video/7135153993176632602?q=trapo%20wiper&t=1715314506860"
                target="_blank"
              >
                <video autoplay="autoplay" width="250" muted loop playsinline="true">
                  <source
                    src="https://cdn.shopify.com/videos/c/o/v/05ed232568a94762b44abe704c076342.webm"
                    type="video/webm"
                  >
                </video>
              </a>
            </div>

            <div class="item">
              <a
                href="https://www.tiktok.com/@atiradriana/video/7364248055157099794?q=trapo%20wiper&t=1715314506860"
                target="_blank"
              >
                <video autoplay="autoplay" width="250" muted loop playsinline="true">
                  <source
                    src="https://cdn.shopify.com/videos/c/o/v/ad27ac10d0e14904a397507a1c865c3f.webm"
                    type="video/webm"
                  >
                </video>
              </a>
            </div>

            <div class="item">
              <a href="https://www.tiktok.com/@blqszaki_/video/7311581380771581185" target="_blank">
                <video autoplay="autoplay" width="250" muted loop playsinline="true">
                  <source
                    src="https://cdn.shopify.com/videos/c/o/v/044b20e9b100455ba7718a5e7e0247e0.webm"
                    type="video/webm"
                  >
                </video>
              </a>
            </div>

            <div class="item">
              <a href="https://www.instagram.com/reel/C_xoMvFykSf/?igsh=MW9kOXJkN3pza2gwYg==" target="_blank">
                <video autoplay="autoplay" width="250" muted loop playsinline="true">
                  <source
                    src="https://cdn.shopify.com/videos/c/o/v/0b53981f025642b992160ec1ead5bb14.webm"
                    type="video/webm"
                  >
                </video>
              </a>
            </div>

            <div class="item">
              <a href="https://www.instagram.com/reel/C_sHIVoRssX/?igsh=MXF5bnQ3b2FlZjF5OA==" target="_blank">
                <video autoplay="autoplay" width="250" muted loop playsinline="true">
                  <source
                    src="https://cdn.shopify.com/videos/c/o/v/0e9b3f87b926449b8d59010ecf7dc963.webm"
                    type="video/webm"
                  >
                </video>
              </a>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </section>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css">
  <style>
    .sec_title{
                  text-align: center;
                  font-size: 24px;
                  font-weight: 600;
                  line-height: 28px;
                  letter-spacing: 5px;
                text-transform: uppercase;
              }
    .liked_trapo_row .prev-arrow {
                      position: absolute;
                      top: 50%;
                      left: 5px;
                      transform: translate(0, -50%);
                  }

                  .liked_trapo_row .next-arrow {
                      position: absolute;
                      top: 50%;
                      right: 15px;
                      transform: translate(0, -50%);
                  }
    .liked_trapo_row .slide-arrow {
                      padding: 0;
                      width: 30px;
                      height: 25px;
                      background: transparent;
                      border: 0;
                      box-shadow: none;
                  }

                  .liked_trapo_row  .slide-arrow::after {
                      content: "";
                      position: absolute;
                      left: 10px;
                      z-index: 11;
                      display: block;
                      width: 20px;
                      height: 20px;
                      border-top: 4px solid #e82276;
                      border-left: 4px solid #e82276;
                      transform: rotate(-45deg)
                  }

                  .liked_trapo_row .next-arrow::after {
                      transform: rotate(-225deg);
                      left: 5px
                  }
    .liked_trapo .container{
                  display: block;
              }
    .liked_trapo h2{
                text-align: center;
                font-size: 24px;
                letter-spacing: 5px;
                text-transform: uppercase;
                font-weight: bold;
                line-height: 1.3;
      color: #1b3d6d;
            }
    .liked_trapo_row video{
                  width: 100%;
                  display: block;
                  border-radius: 10px;
              }
              .liked_trapo{
                  margin-bottom: 80px;
              }
    .slick-initialized .slick-slide.item{
      padding:0 5px;
    }
    @media(max-width:1400px){
      .liked_trapo {
                  margin-bottom: 50px;
        width:100%;
              }
    }
    @media(max-width:1199px){
      .liked_trapo h2{
                      font-size: 20px;
                      letter-spacing: 3px;
                  }
    }
     @media(max-width:767px){
       .liked_trapo .container{
          padding: 0;
      }
      .liked_trapo .container .slick-track {
          padding-left: 30px;
      }
     }
  </style>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/jquery.slick/1.4.1/slick.min.js"></script>
  <script>
    $('.liked_trapo_row').slick({
          dots: false,
          infinite: true,
          speed: 300,
      autoplay: true,
      autoplaySpeed: 3000,
          slidesToShow: 4,
          slidesToScroll: 1,
          prevArrow: '<button class="slide-arrow prev-arrow"></button>',
          nextArrow: '<button class="slide-arrow next-arrow"></button>',
          responsive: [
              {
              breakpoint: 1024,
              settings: {
                  slidesToShow: 3
              }
              },
              {
              breakpoint: 600,
              settings: {
                  slidesToShow: 2
              }
              },
              {
              breakpoint: 480,
              settings: {
                  slidesToShow: 2,
                  slidesToScroll: 1
              }
              }
          ]
      });
  </script>
{% endcomment %}
