<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css">
<div class="container testimonial-main">
  <h6 class="sub_title">OUR HAPPY CUSTOMERS</h6>
  <div class="testimonial-row">
    <div class="testimonial-item">
      <div>
        <h6>Great product!</h6>
        <p>
          Strong pressure wiping, crystal clear view during rain, has coating on wipers to create a mild hydrophobic
          effect, looks sturdy and solid too. Overall great purchase. Curious to see how long can it last vs
          conventional wipers.
        </p>
        <p class="customer-name">- Christopher O.</p>
      </div>
    </div>
    <div class="testimonial-item">
      <div>
        <h6>Great product!</h6>
        <p>
          Strong pressure wiping, crystal clear view during rain, has coating on wipers to create a mild hydrophobic
          effect, looks sturdy and solid too. Overall great purchase. Curious to see how long can it last vs
          conventional wipers.
        </p>
        <p class="customer-name">- Christopher O.</p>
      </div>
    </div>
    <div class="testimonial-item">
      <div>
        <h6>Great product!</h6>
        <p>
          Strong pressure wiping, crystal clear view during rain, has coating on wipers to create a mild hydrophobic
          effect, looks sturdy and solid too. Overall great purchase. Curious to see how long can it last vs
          conventional wipers.
        </p>
        <p class="customer-name">- Christopher O.</p>
      </div>
    </div>
    <div class="testimonial-item">
      <div>
        <h6>Great product!</h6>
        <p>
          Strong pressure wiping, crystal clear view during rain, has coating on wipers to create a mild hydrophobic
          effect, looks sturdy and solid too. Overall great purchase. Curious to see how long can it last vs
          conventional wipers.
        </p>
        <p class="customer-name">- Christopher O.</p>
      </div>
    </div>
  </div>
</div>

<style>
              .sub_title { margin-bottom: 25px; color: #1B3D6D; font-size: 24px; font-weight: bold; line-height: 28px; letter-spacing: 2px; text-align: left; }
                    .testimonial-main .testimonial-row .testimonial-item{ background-color: #1B3D6D; border-radius: 12px; color: #fff;padding: 0 20px 20px; text-align: left;margin:0 10px; }
                    .testimonial-main .testimonial-row .testimonial-item img{ background-color: #fff; padding: 10px; border-radius: 50%; margin: 0 auto; display: block; margin-top: -65px; }
                    .testimonial-main .testimonial-row .testimonial-item h6{ color: #fff; font-size: 22px; line-height: 24.6px; letter-spacing: 0; margin-top: 20px }
                    .testimonial-main .testimonial-row .testimonial-item p{ text-align: left; font-size: 14px; letter-spacing: 0.19px; line-height: 20px; max-width: 300px; width: 100%; margin: 0 auto; font-weight:300 !important; }
              .testimonial-main .testimonial-row{ width: 80%; margin: 0 auto; }
              .testimonial-main .testimonial-row .customer-name{margin-top:15px}
              .featuredon-section .featuredon_title h2 {
                margin: 0;
                text-transform: uppercase;
                font-size: 16px;
                color: #a0a0a0;
                font-family: "Roboto" !important;
                font-weight: 700;
                letter-spacing: 5px;
                padding-top: 13px;
                margin-bottom: 15px;
            }
                .featuredon-section {
                  padding-block: 30px;
              }

            .featuredon-section .featuredon_title {
                  text-align: center;
                  position: unset;
                  transform: unset;
              }
          .featuredon-section .featuredon-slider {
            width: 80%;
            margin: 0 auto;
        }

            .featuredon-section .prev-arrow {
              position: absolute;
              top: 50%;
              left: -40px;
              transform: translate(0, -50%);
          }
            .featuredon-section .next-arrow {
              position: absolute;
              top: 50%;
              right: -40px;
              transform: translate(0, -50%);
          }
            .featuredon-slider .slick-arrow {
              padding: 0;
              width: 30px;
              height: 25px;
              background: transparent;
              border: 0;
              box-shadow: none;
          }

                .featuredon-slider .slick-track {
                  gap: 0px;
              }
            .featuredon-section .slick-list .slick-slide {
                  padding-inline: 5px;
              }
            .featuredon-section .main-slide img {
              width: 100%;
          }
        .featuredon-section .slick-track {
          display: flex;
          align-items: center;
      }
      .featuredon-slider .slick-arrow::after {
        content: "";
        position: absolute;
        left: 10px;
        z-index: 11;
        display: block;
        width: 15px;
        height: 15px;
        border-top: 3px solid #808080;
        border-left: 3px solid #808080;
        transform: rotate(-45deg);
    }
    .featuredon-slider .next-arrow::after {
      transform: rotate(-225deg);
      left: 5px;
  }
</style>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery.slick/1.4.1/slick.min.js"></script>
<script>
  $(".testimonial-row").slick({
            speed: 1000,
            dots: false,
            centerMode: true,
            focusOnSelect: true,
            prevArrow: false,
            nextArrow: false,
            infinite: true
        });
  $('.featuredon-slider').slick({
            dots: false,
            infinite: false,
            speed: 300,
            slidesToShow: 3,
            slidesToScroll: 1,
            prevArrow: '<button class="slick-arrow prev-arrow"></button>',
            nextArrow: '<button class="slick-arrow next-arrow"></button>'
        });
  $('.video-gallery').slick({
      speed: 1000,
            dots: false,
            centerMode: true,
            focusOnSelect: true,
            prevArrow: false,
            nextArrow: false,
            infinite: true,
      variableWidth: true,
  });
</script>
