<section class="tint_table">
  <div class="container_md">
    <table>
      <thead>
        <th></th>
        <th>
          <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/tint-logo-crystal-1.svg?v=1737380689" class="desk_img" alt="">
          <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/tint-logo-crystal-mob-1.svg?v=1737380689" class="mobile_img" alt="">
        </th>
        <th class="bg-active">
          <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/tint-logo-dfend-1.svg?v=1737380693" class="desk_img" alt="">
          <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/tint-logo-dfend-mob-1.svg?v=1737380693" class="mobile_img" alt="">
        </th>
         <th class="">
          <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/tint-logo-chroma-desk.svg?v=1747900195" class="desk_img" alt="">
          <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/tint-logo-chroma-mob.svg?v=1747900194" class="mobile_img" alt="">
        </th>
        
      </thead>
      <tbody>
        <tr>
          <td class="col_1">
            <div>
              <span>Technology</span>
              <a class="modal-toggle1" href="#"
                ><img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_355.png?v=1717173807" alt=""
              ></a>
            </div>
          </td>
          <td class="col_2" style="color: #1B3D6D;">Nano Ceramic</td>
          <td class="col_3 bg-active">Nano Metal Hybrid</td>
          <td class="col_3" style="color: #1B3D6D;">Metalized</td>
        </tr>
        <tr>
          <td class="col_1">
            <div>
              <span>Mil</span>
              <a class="modal-toggle2" href="#"
                ><img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_355.png?v=1717173807" alt=""
              ></a>
            </div>
          </td>
          <td class="col_2" style="color: #1B3D6D;">2 Mil</td>
          <td class="col_3 bg-active">4 Mil</td>
          <td class="col_3" style="color: #1B3D6D;">3 Mil</td>
        </tr>
        <tr>
          <td class="col_1">
            <div>
              <span>IRR</span>
              <a class="modal-toggle3" href="#"
                ><img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_355.png?v=1717173807" alt=""
              ></a>
            </div>
          </td>
          <td class="col_2" style="color: #1B3D6D;">92%</td>
          <td class="col_3 bg-active">95%</td>
          <td class="col_3" style="color: #1B3D6D;">97%</td>
        </tr>
        <tr>
          <td class="col_1">
            <div>
              <span>UVR</span>
              <a class="modal-toggle4" href="#"
                ><img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_355.png?v=1717173807" alt=""
              ></a>
            </div>
          </td>
          <td class="col_2" style="color: #1B3D6D;">≥99%</td>
          <td class="col_3 bg-active">≥99%</td>
          <td class="col_3">≥99%</td>
        </tr>
        <tr>
          <td class="col_1">
            <div>
              <span>VLT</span>
              <a class="modal-toggle5" href="#"
                ><img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_355.png?v=1717173807" alt=""
              ></a>
            </div>
          </td>
          <td class="col_2" style="color: #1B3D6D;">5/20/50/70</td>
          <td class="col_3 bg-active">5/20/50/70</td>
          <td class="col_3" style="color: #1B3D6D;">5/20/50/70</td>
        </tr>
        <tr>
          <td class="col_1">
            <div>
              <span>Warranty Period</span>
            </div>
          </td>
          <td class="col_2" style="color: #1B3D6D;">5 Years</td>
          <td class="col_3 bg-active">7 Years</td>
          <td class="col_3" style="color: #1B3D6D;">10 Years</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="modal model-1">
    <div class="modal-overlay modal-toggle"></div>
    <div class="modal-wrapper modal-transition">
      <div class="modal-header">
        <button class="modal-close modal-toggle modal-toggle1">
          <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_419.png?v=1717383520">
        </button>
      </div>

      <div class="modal-body">
        <div class="modal-content">
          <h2>Technology (Nano vs Metallized)</h2>
          <p>
            Nano-ceramic tint acts like clear sunscreen for your car, shielding it from heat and UV rays without
            changing its appearance or affecting electronic devices. Metallized tint functions akin to reflective
            sunglasses, deflecting heat from your car's interior to keep it cooler but potentially causing a mirrored
            effect and electronic interference.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="modal model-2">
    <div class="modal-overlay modal-toggle"></div>
    <div class="modal-wrapper modal-transition">
      <div class="modal-header">
        <button class="modal-close modal-toggle modal-toggle2">
          <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_419.png?v=1717383520">
        </button>
      </div>

      <div class="modal-body">
        <div class="modal-content">
          <h2>Mil</h2>
          <p>
            This refers to the thickness of the window tint film. It's measured in mils, which are thousandths of an
            inch. Essentially, the higher the mil, the thicker and more durable the film. So, the higher the mil, the
            harder it is to break through the tint.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="modal model-3">
    <div class="modal-overlay modal-toggle"></div>
    <div class="modal-wrapper modal-transition">
      <div class="modal-header">
        <button class="modal-close modal-toggle modal-toggle3">
          <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_419.png?v=1717383520">
        </button>
      </div>

      <div class="modal-body">
        <div class="modal-content">
          <h2>IRR (Infrared Rejection)</h2>
          <p>
            This indicates the window tint's ability to block or reduce the amount of infrared radiation (heat) that
            enters your car through the windows. Higher IRR percentages mean more heat is being rejected, resulting in a
            cooler interior.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="modal model-4">
    <div class="modal-overlay modal-toggle"></div>
    <div class="modal-wrapper modal-transition">
      <div class="modal-header">
        <button class="modal-close modal-toggle modal-toggle4">
          <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_419.png?v=1717383520">
        </button>
      </div>

      <div class="modal-body">
        <div class="modal-content">
          <h2>UVR (Ultraviolet Rejection)</h2>
          <p>
            This measures the window tint's effectiveness in blocking ultraviolet (UV) radiation from the sun. UV rays
            can cause damage to your skin and the interior of your car, such as fading upholstery and dashboard
            deterioration. A higher UVR percentage means more UV rays are being blocked, providing better protection.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="modal model-5">
    <div class="modal-overlay modal-toggle"></div>
    <div class="modal-wrapper modal-transition">
      <div class="modal-header">
        <button class="modal-close modal-toggle modal-toggle5">
          <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_419.png?v=1717383520">
        </button>
      </div>

      <div class="modal-body">
        <div class="modal-content">
          <h2>VLT (Visible Light Transmission)</h2>
          <p>
            This refers to the amount of visible light that can pass through the window tint. It's usually expressed as
            a percentage. For example, a VLT of 50% means that half of the visible light is transmitted through the
            tint, while the other half is blocked. The VLT percentage helps you choose the level of darkness or
            lightness for your window tint based on your preference for privacy and visibility.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  .tint_table .container_md{
                max-width: 1000px;
                width: 100%;
                margin: 0 auto;
            }
  .tint_table table{
     margin: 0 auto;
  }
  .bg-active{
    background: linear-gradient(270deg, #0D527C 0%, #049FBB 75%);
  }
  .col_3.bg-active{
    color:#fff;
  }
  .tint_table table:not(#customer-orders):not(#order-details) th, .tint_table table:not(#customer-orders):not(#order-details) td{
    padding: 20px;
  }
            .tint_table thead tr th{
                background-color: transparent !important
            }
            .tint_table tbody tr:nth-child(odd){
                background-color: #F8F8F8;
            }
            .tint_table th,
            .tint_table tr,
            .tint_table td{
                border: 0 !important;
            }
            .tint_table th img{
                width: 100%;
            }
            .tint_table .col_1{
                width: 30% !important;
            }
            .tint_table .col_1 div{
                display: flex;
                align-items: center;
                justify-content: space-between;
                color: #808080
            }
            .tint_table .col_1 div img{
                width: 21px;
            }
            .tint_table td{
                text-align: center;
                font-size: 18px;
                color: #808080;
                line-height: 19px;
                padding: 30px !important;
              min-width:180px
            }
            .tint_table .col_2 {
    border-inline: 1px solid #DEDEDE !important;
}
  .tint_table .modal-content h2{
                font-size:20px;
                line-height:21px;
                letter-spacing:2px;
                color:#fff;
              }
              .tint_table .modal-content p{
                font-size:16px;
                line-linehgt:24px;
                color:#fff;
              }
              .tint_table .modal {
                position: absolute;
                z-index: 10000; /* 1 */
                top: 0;
                left: 0;
                visibility: hidden;
                width: 100%;
                height: 100%;
              }

              .tint_table .modal-overlay {
                position: fixed;
                z-index: 10;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: hsla(0, 0%, 0%, 0.5);
                visibility: hidden;
                opacity: 0;
                transition: visibility 0s linear 0.3s, opacity 0.3s;
              }

              .tint_table .modal.is-visible .modal-overlay {
                opacity: 1;
                visibility: visible;
                transition-delay: 0s;
              }

              .tint_table .modal-wrapper {
      position: fixed;
      z-index: 9999;
      top: 20%;
      left: 50%;
      width: calc(100% - 30px);
      background-color: #E82276;
      box-shadow: 0 0 1em hsla(0, 0%, 0%, 0.25);
      border-radius: 12px;
      overflow: hidden;
      transform: translate(-50%, -20%);
      max-width: 500px;
  }

            .tint_table .modal-transition {
              transition: all 0.3s 0.12s;
              opacity: 0;
            }

            .tint_table .modal.is-visible .modal-transition {
              opacity: 1;
              visibility: visible;
            }

              .tint_table .modal-header,
              .tint_table .modal-content {
                background-color: #E82276;
                  text-align: center;
                  padding: 15px 20px 20px;
                  border: 0;
              }

              .tint_table .modal-header {
                position: relative;
                background-color: #E82276;
                border-bottom: 0;
              }

              .tint_table .modal-close {
                position: absolute;
                top: 15px;
                right: 15px;
                padding: 0;
                color: #aaa;
                background: none;
                border: 0;
                  z-index: 999
              }

              .tint_table .modal-close:hover {
                color: #777;
              }

              .tint_table .modal-heading {
                font-size: 1.125em;
                margin: 0;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
              }

              .tint_table .modal-content > *:first-child {
                margin-top: 0;
              }

              .tint_table .modal-content > *:last-child {
                margin-bottom: 0;
              }
  @media(max-width:1024px){
    .tint_table td{
                    padding: 20px !important
                }
  }
  @media(max-width:767px){
    .tint_table {
                    width: calc(100% - 20px);
                    margin: 0 auto;
                }
                .tint_table .col_1 {
                    min-width: 125px;
        padding: 10px !important;
                }
    .tint_table td{
      font-size:14px;
    }
    .tint_table .col_2 {
    border-inline: 0;
    padding: 10px !important;
    min-width: 105px;
}
    .tint_table .col_3 {
    border-inline: 0;
    padding: 10px !important;
    min-width: 105px;
}
        .tint_table .modal-content {
        margin: 0 auto;
        width: 100%;
    }

  }
</style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script>
  $('.modal-toggle1').on('click', function(e) {
        e.preventDefault();
        $('.model-1').toggleClass('is-visible');
      });
      $('.modal-toggle2').on('click', function(e) {
        e.preventDefault();
        $('.model-2').toggleClass('is-visible');
      });
      $('.modal-toggle3').on('click', function(e) {
        e.preventDefault();
        $('.model-3').toggleClass('is-visible');
      });
      $('.modal-toggle4').on('click', function(e) {
        e.preventDefault();
        $('.model-4').toggleClass('is-visible');
      });
      $('.modal-toggle5').on('click', function(e) {
        e.preventDefault();
        $('.model-5').toggleClass('is-visible');
      });
</script>