<section class="tint_table">
  <div class="container_md">
    <table>
      <thead>
        <th></th>
        <th>
          <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/tint-logo-crystal_1.png?v=1717173642" alt="">
        </th>
        <th>
          <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/tint-logo-dfend_1.png?v=1717173642" alt="">
        </th>
        <th>
          <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/tint-logo-chroma_1.png?v=1717173642" alt="">
        </th>
      </thead>
      <tbody>
        <tr>
          <td class="col_1">
            <div>
              <span>Technology</span>
              <a class="modal-toggle1" href="#"
                ><img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_355.png?v=1717173807" alt=""
              ></a>
            </div>
          </td>
          <td class="col_2">Nano Ceramic</td>
          <td class="col_3">Nano Ceramic</td>
          <td class="col_4">Metalized</td>
        </tr>
        <tr>
          <td class="col_1">
            <div>
              <span>Mil</span>
              <a class="modal-toggle2" href="#"
                ><img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_355.png?v=1717173807" alt=""
              ></a>
            </div>
          </td>
          <td class="col_2">2 Mil</td>
          <td class="col_3">4 Mil</td>
          <td class="col_4">3 Mil</td>
        </tr>
        <tr>
          <td class="col_1">
            <div>
              <span>IRR</span>
              <a class="modal-toggle3" href="#"
                ><img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_355.png?v=1717173807" alt=""
              ></a>
            </div>
          </td>
          <td class="col_2">92%</td>
          <td class="col_3">95%</td>
          <td class="col_4">97%</td>
        </tr>
        <tr>
          <td class="col_1">
            <div>
              <span>UVR</span>
              <a class="modal-toggle4" href="#"
                ><img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_355.png?v=1717173807" alt=""
              ></a>
            </div>
          </td>
          <td class="col_2">≥99%</td>
          <td class="col_3">≥99%</td>
          <td class="col_4">≥99%</td>
        </tr>
        <tr>
          <td class="col_1">
            <div>
              <span>VLT</span>
              <a class="modal-toggle5" href="#"
                ><img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_355.png?v=1717173807" alt=""
              ></a>
            </div>
          </td>
          <td class="col_2">15/50/70</td>
          <td class="col_3">20/50/70</td>
          <td class="col_4">20/50/70</td>
        </tr>
        <tr>
          <td class="col_1">
            <div>
              <span>Warranty Period</span>
            </div>
          </td>
          <td class="col_2">5 Years</td>
          <td class="col_3">7 Years</td>
          <td class="col_4">10 Years</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="modal model-1">
    <div class="modal-overlay modal-toggle"></div>
    <div class="modal-wrapper modal-transition">
      <div class="modal-header">
        <button class="modal-close modal-toggle modal-toggle1">
          <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_419.png?v=1717383520">
        </button>
      </div>

      <div class="modal-body">
        <div class="modal-content">
          <h2>Technology (Nano vs Metallized)</h2>
          <p>
            Nano-ceramic tint acts like clear sunscreen for your car, shielding it from heat and UV rays without
            changing its appearance or affecting electronic devices. Metallized tint functions akin to reflective
            sunglasses, deflecting heat from your car's interior to keep it cooler but potentially causing a mirrored
            effect and electronic interference.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="modal model-2">
    <div class="modal-overlay modal-toggle"></div>
    <div class="modal-wrapper modal-transition">
      <div class="modal-header">
        <button class="modal-close modal-toggle modal-toggle2">
          <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_419.png?v=1717383520">
        </button>
      </div>

      <div class="modal-body">
        <div class="modal-content">
          <h2>Mil</h2>
          <p>
            This refers to the thickness of the window tint film. It's measured in mils, which are thousandths of an
            inch. Essentially, the higher the mil, the thicker and more durable the film. So, the higher the mil, the
            harder it is to break through the tint.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="modal model-3">
    <div class="modal-overlay modal-toggle"></div>
    <div class="modal-wrapper modal-transition">
      <div class="modal-header">
        <button class="modal-close modal-toggle modal-toggle3">
          <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_419.png?v=1717383520">
        </button>
      </div>

      <div class="modal-body">
        <div class="modal-content">
          <h2>IRR (Infrared Rejection)</h2>
          <p>
            This indicates the window tint's ability to block or reduce the amount of infrared radiation (heat) that
            enters your car through the windows. Higher IRR percentages mean more heat is being rejected, resulting in a
            cooler interior.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="modal model-4">
    <div class="modal-overlay modal-toggle"></div>
    <div class="modal-wrapper modal-transition">
      <div class="modal-header">
        <button class="modal-close modal-toggle modal-toggle4">
          <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_419.png?v=1717383520">
        </button>
      </div>

      <div class="modal-body">
        <div class="modal-content">
          <h2>UVR (Ultraviolet Rejection)</h2>
          <p>
            This measures the window tint's effectiveness in blocking ultraviolet (UV) radiation from the sun. UV rays
            can cause damage to your skin and the interior of your car, such as fading upholstery and dashboard
            deterioration. A higher UVR percentage means more UV rays are being blocked, providing better protection.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="modal model-5">
    <div class="modal-overlay modal-toggle"></div>
    <div class="modal-wrapper modal-transition">
      <div class="modal-header">
        <button class="modal-close modal-toggle modal-toggle5">
          <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_419.png?v=1717383520">
        </button>
      </div>

      <div class="modal-body">
        <div class="modal-content">
          <h2>VLT (Visible Light Transmission)</h2>
          <p>
            This refers to the amount of visible light that can pass through the window tint. It's usually expressed as
            a percentage. For example, a VLT of 50% means that half of the visible light is transmitted through the
            tint, while the other half is blocked. The VLT percentage helps you choose the level of darkness or
            lightness for your window tint based on your preference for privacy and visibility.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>