{% render 'detailing-notice' %}
<div class="plus-hide-mobile">
  <p class="no-padding">
    <img data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/PD_8bb1f4cd-6787-4d4e-80be-a59e2a09d116.jpg?v=1729750101" alt="Struggling on watemark on your windscreen.See how much better your view can be.Drive Safer With Clear Window" data-expand="10" class="img-size lazyload">
  </p>
</div>
<div class="plus-hide-desktop">
  <p class="no-padding">
    <img data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/PD_8bb1f4cd-6787-4d4e-80be-a59e2a09d116.jpg?v=1729750101" alt="Struggling on watemark on your windscreen.See how much better your view can be.Drive Safer With Clear Window." data-expand="10" class="img-size lazyload">
  </p>
</div>

<style>
  @media screen and (max-width: 768px) {
  	.plus-hide-mobile {
  		display: none;
  	}
  }
  @media screen and (min-width: 769px) {
  	.plus-hide-desktop {
  		display: none;
  	}
  }
</style>