<div class="plus-hide-mobile">
    <p class="no-padding">
        <img data-expand="-10" class="lazyload plus-hide-mobile" data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/web_e9f671b4-2c12-49f0-8063-3325d5339a81.png?v=1722500735" alt="Trapo Classic Free Shipping">
  <img data-expand="-10" class="lazyload plus-hide-mobile" data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Wiper_1-01.webp?v=1759153507" />
  <img data-expand="-10" class="lazyload plus-hide-mobile" data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Wiper_1-02.webp?v=1759153507" />
  <img data-expand="-10" class="lazyload plus-hide-mobile" data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Wiper_1-03.webp?v=1759153507" />
  <img data-expand="-10" class="lazyload plus-hide-mobile" data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Wiper_1-04.webp?v=1759153507" />
  <img data-expand="-10" class="lazyload plus-hide-mobile" data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Wiper_1-05.webp?v=1759153507" />
  <img data-expand="-10" class="lazyload plus-hide-mobile" data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Wiper_1-06.webp?v=1759153507" />
  <img data-expand="-10" class="lazyload plus-hide-mobile" data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Wiper_1-07.webp?v=1759153507" />
  <img data-expand="-10" class="lazyload plus-hide-mobile" data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Wiper_1-08.webp?v=1759153507" />
  <img data-expand="-10" class="lazyload plus-hide-mobile" data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Wiper_1-09.webp?v=1759153507" />
    </p>
</div>

<div class="plus-hide-desktop">
  <p class="no-padding">
    <img data-expand="-10" class="lazyload plus-hide-desktop" data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/mobile.png?v=1722500752" alt="Trapo Classic Free Shipping">
  <img data-expand="-10" class="lazyload plus-hide-mobile" data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Wiper_3-17.webp?v=1759153585" />
  <img data-expand="-10" class="lazyload plus-hide-mobile" data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Wiper_3-18.webp?v=1759153585" />
  <img data-expand="-10" class="lazyload plus-hide-mobile" data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Wiper_3-19.webp?v=1759153585" />
  <img data-expand="-10" class="lazyload plus-hide-mobile" data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Wiper_3-20.webp?v=1759153585" />
  <img data-expand="-10" class="lazyload plus-hide-mobile" data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Wiper_3-21.webp?v=1759153585" />
  <img data-expand="-10" class="lazyload plus-hide-mobile" data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Wiper_3-22.webp?v=1759153585" />
  <img data-expand="-10" class="lazyload plus-hide-mobile" data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Wiper_3-23.webp?v=1759153585" />
  <img data-expand="-10" class="lazyload plus-hide-mobile" data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Wiper_3-24.webp?v=1759153585" />
  <img data-expand="-10" class="lazyload plus-hide-mobile" data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Wiper_3-25.webp?v=1759153585" />
  <img data-expand="-10" class="lazyload plus-hide-mobile" data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Wiper_3-26.webp?v=1759153585" />
  <img data-expand="-10" class="lazyload plus-hide-mobile" data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Wiper_3-27.webp?v=1759153585" />
  </p>
</div>
<style>
  img.plus-hide-desktop,img.plus-hide-mobile{
    width:100%;
  }
</style>


