<div class="container video-container">
  <h3 class="heading-title">As Seen On Social Media</h3>
  <div class="video-gallery">
    <div class="main-video-slide">
      <video controls width="250">
        <source src="https://cdn.shopify.com/videos/c/o/v/22c5a4fd3c0b49c6b34cddf3e533fa6d.webm" type="video/webm">
      </video>
    </div>
    <div class="main-video-slide">
      <video controls width="250">
        <source src="https://cdn.shopify.com/videos/c/o/v/22c5a4fd3c0b49c6b34cddf3e533fa6d.webm" type="video/webm">
      </video>
    </div>
    <div class="main-video-slide">
      <video controls width="250">
        <source src="https://cdn.shopify.com/videos/c/o/v/22c5a4fd3c0b49c6b34cddf3e533fa6d.webm" type="video/webm">
      </video>
    </div>
    <div class="main-video-slide">
      <video controls width="250">
        <source src="https://cdn.shopify.com/videos/c/o/v/22c5a4fd3c0b49c6b34cddf3e533fa6d.webm" type="video/webm">
      </video>
    </div>
    <div class="main-video-slide">
      <video controls width="250">
        <source src="https://cdn.shopify.com/videos/c/o/v/22c5a4fd3c0b49c6b34cddf3e533fa6d.webm" type="video/webm">
      </video>
    </div>
    <div class="main-video-slide">
      <video controls width="250">
        <source src="https://cdn.shopify.com/videos/c/o/v/22c5a4fd3c0b49c6b34cddf3e533fa6d.webm" type="video/webm">
      </video>
    </div>
    <div class="main-video-slide">
      <video controls width="250">
        <source src="https://cdn.shopify.com/videos/c/o/v/22c5a4fd3c0b49c6b34cddf3e533fa6d.webm" type="video/webm">
      </video>
    </div>
  </div>
</div>

<style>
  .video-container .video-gallery{
    width: 80%;
            margin: 0 auto;
  }
  .video-container .video-gallery .main-video-slide{
    padding: 0 5px 20px;
    margin: 0 10px;
  }
      .video-gallery .slick-arrow{
        padding: 0;
        width: 30px;
        height: 25px;
        background: transparent;
        box-shadow: none;
        border: 0;
        position: absolute;
        top: 45%;
        left: 30px;
        transform: translate(0, -50%);
        z-index: 1;
    }
     .video-gallery .prev-arrow::after{
        content: "";
        position: absolute;
        left: 0;
        z-index: 11;
        display: block;
        width: 20px;
        height: 20px;
        border-top: 3px solid #d82477;
        border-left: 3px solid #d82477;
        transform: rotate(-45deg);
    }

      .video-gallery .next-arrow{
        right: 20px;
        left: auto;
    }
     .video-gallery .next-arrow::after{
        content: "";
        position: absolute;
        left: 0;
        z-index: 11;
        display: block;
        width: 20px;
        height: 20px;
        border-top: 3px solid #d82477;
        border-left: 3px solid #d82477;
        transform: rotate(-225deg);
    }
    .sec_title {
      text-align: center;
      font-size: 24px;
      line-height: 28px;
      letter-spacing: 5px;
      font-weight: 700;
      font-family: "Roboto" !important;
      text-transform: uppercase;
  }
  .video-gallery .slick-track { transition: all 0.3s ease; }
    @media (max-width: 767px) {
      .sec_title {
          font-size: 22px;
          letter-spacing: 2px;
      }
  }
</style>
