<p class="no-padding">
  <img class="lazyload plus-hide-mobile" data-expand="-10" data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/web_e9f671b4-2c12-49f0-8063-3325d5339a81.png?v=1722500735" alt="Trapo Classic Free Shipping">
  <img data-expand="-10" class="lazyload plus-hide-desktop" data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/mobile.png?v=1722500752" alt=" ">
  
  <img
    class="lazyload plus-hide-mobile"
    data-expand="-10"
    data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Trapo_XTE-Compare-Web-New.webp?v=1709887192"
    alt="Trapo Xtreme Compare Table"
  >
  <img
    data-expand="-10"
    class="lazyload plus-hide-desktop"
    data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Trapo_XTE-Compare-Mob-New.webp"
    alt="Trapo Classic Compare Table"
  >

  <div class="video">
    <div class="wrapper">
      <div data-embed="LVhaVZxfE6g" class="youtube" style="margin-bottom: 0;">
        <div class="play-button"></div>
      </div>
    </div>
  </div>

  <img
    class="lazyload plus-hide-mobile"
    data-expand="-10"
    data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Trapo_XTE-Content-Web-New-0.webp"
    alt="TRAPO Classic"
  >
  <img
    data-expand="-10"
    class="lazyload plus-hide-desktop"
    data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Trapo_XTE-Content-Mob-New-0.webp"
    alt="TRAPO Classic"
  >
</p>
<p class="desc-content black">
  Trapo HEX Ultimate brings durability to an all-new level. Now 10X more durable than ever, you get to enjoy supreme protection with supreme coverage. Plus, with the patented FIX anti-slip technology, you get to experience the most powerful car mat model ever designed.
</p>
<p class="no-padding">
  <img
    class="lazyload plus-hide-mobile"
    data-expand="-10"
    data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Trapo_XTE-Content-Web-New-2.webp"
    alt="Trapo HEX Ultimate brings durability to an all-new level"
  >
  <img
    data-expand="-10"
    class="lazyload plus-hide-desktop"
    data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Trapo_XTE-Content-Mob-New-2.webp"
    alt="Trapo HEX Ultimate brings durability to an all-new level"
  >
</p>
<h3 class="desc-title">Lifetime durability</h3>
<p class="desc-content black" style="margin-top: 1.5rem;">
   Trapo Xtreme is built to withstand the test of time, providing you with a reliable car mat solution for years to come. Drive with confidence, knowing that your investment is safeguarded and your car interior protected by Trapo Xtreme's unmatched resilience. Experience its durability and quality, backed by a lifetime warranty, ensuring its long-lasting performance.
</p>
<p class="no-padding">
  <img
    class="lazyload plus-hide-mobile"
    data-expand="-10"
    data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Trapo_XTE-Content-Web-New-4.webp"
    alt="Trapo Xtreme is built to withstand the test of time"
  >
  <img
    data-expand="-10"
    class="lazyload plus-hide-desktop"
    data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Trapo_XTE-Content-Mob-New-4.webp"
    alt="Trapo Xtreme is built to withstand the test of time"
  >
</p>
<h3 class="desc-title">Anti bacterial</h3>
<p class="desc-content black" style="margin-top: 1.5rem;">
  Thoughtfully crafted to keep you protected and comfortable at all times, this 3D car mat eliminates 99.99% of bacteria thanks to the Japanese Silver-Ion technology specially infused in its material.
</p>
<p class="desc-content black" style="margin-top: 1.5rem;">
With this innovative feature, you can have peace of mind knowing that your car interior is protected against harmful bacteria and germs, ensuring a clean and healthy driving environment for you and your loved ones. Embrace the comfort of knowing that Trapo Xtreme provides exceptional performance while prioritizing your safety and well-being on the road.
</p>
<p class="no-padding">
  <img
    class="lazyload plus-hide-mobile"
    data-expand="-10"
    data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Trapo_XTE-Content-Web-New-6.webp"
    alt="Thoughtfully crafted to keep you protected and comfortable at all times"
  >
  <img
    data-expand="-10"
    class="lazyload plus-hide-desktop"
    data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Trapo_XTE-Content-Mob-New-6.webp"
    alt="Thoughtfully crafted to keep you protected and comfortable at all times"
  >
</p>
<h3 class="desc-title">Total coverage</h3>
<p class="desc-content black" style="margin-top: 1.5rem;">
   Trapo Xtreme car mat goes above and beyond, offering comprehensive coverage to your vehicle's floorboard. With its precision-fit design and high-quality materials, Trapo Xtreme ensures every nook and cranny of your car's floor is protected. Say goodbye to worries about dirt, spills, and wear and tear – Trapo Xtreme has you covered
</p>
<p class="no-padding">
  <img
    class="lazyload plus-hide-mobile"
    data-expand="-10"
    data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Trapo_XTE-Content-Web-New-8.webp"
    alt="Trapo Xtreme car mat goes above and beyond"
  >
  <img
    data-expand="-10"
    class="lazyload plus-hide-desktop"
    data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Trapo_XTE-Content-Mob-New-8.webp"
    alt="Trapo Xtreme car mat goes above and beyond"
  >
</p>

<h3 class="desc-title">Extreme quality, extreme durability</h3>
<p class="desc-content black" style="margin-top: 1.5rem;">
   Designed to withstand any weather or temperature, Trapo Xtreme is perfectly designed for those who requires longevity and durability to suit their lifestyle. Enjoy unmatched 3D car mat performance, worry-free.
</p>
<p class="no-padding">
  <img
    class="lazyload plus-hide-mobile"
    data-expand="-10"
    data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Trapo_XTE-Content-Web-New-8-Oct.webp?v=1729606529"
    alt="Extreme quality, extreme durability"
  >
  <img
    data-expand="-10"
    class="lazyload plus-hide-desktop"
    data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Trapo_XTE-Content-Mob-New-8-Oct.webp?v=1729606528"
    alt="Extreme quality, extreme durability"
  >
</p>


<div class="features-list">
  <h4 class="desc-subtitle white">Trapo Xtreme</h4>
  <ul class="features-list-ul">
    <li>
      <img
        class="lazyload"
        data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/1-lifetime.png?v=1729682799"
        alt="Lifetime durability"
      >
      <p>Lifetime<br>durability</p>
    </li>
    <li>
      <img
        class="lazyload"
        data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/2-antibacterial.png?v=1729682799"
        alt="Antibacterial"
      >
      <p>Antibacterial</p>
    </li>
    <li>
      <img
        class="lazyload"
        data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/3-totalcoverage.png?v=1729682799"
        alt="Total coverage"
      >
      <p>Total<br>coverage</p>
    </li>
    <li>
      <img
        class="lazyload"
        data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/4-antislip.png?v=1729682799"
        alt="Anti-slip"
      >
      <p>Anti-slip</p>
    </li>
    <li>
      <img
        class="lazyload"
        data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/5-easyclean.png?v=1729682799"
        alt="Easy to clean"
      >
      <p>
        Easy to<br>
        clean
      </p>
    </li>
    <li>
      <img
        class="lazyload"
        data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/6-odourless.png?v=1729682799"
        alt="Odourless"
      >
      <p>Odourless</p>
    </li>
  </ul>
</div>
<style>
      .no-padding {
  	margin: 0px 0px !important;
  	line-height: 0px !important;
  }

  p.desc-content {
  	font-family: 'Roboto';
  	font-size: 22px;
  	line-height: 30px;
  	text-align: center;
  	letter-spacing: 0.19px;
  	width: 72%;
  	margin: 0 auto;
  	margin-top: 40px;
  	margin-bottom: 40px;

  }

  p.desc-content.black {
  	color: #222222;
  }

  h3.desc-title {
  	margin: 40px auto;
  	margin-bottom: 0;
  	text-align: center;
  	font-size: 40px;
  	line-height: 50px;
  	font-weight: 600;
  	letter-spacing: 0.5px;
  	color: #222222;
  }

  h3.desc-title.white,
  p.desc-content.white {
  	color: #fff !important;
  }

  .img-container {
  	position: relative;
  	width: 100%;
  }

  .img-container .content-text {
  	position: absolute;
  	top: 20%;
  	left: 50%;
  	transform: translate(-50%, -50%);
  	width: 100%;
  }

  h4.desc-subtitle {
  	text-align: center;
  	color: #222222;
  	font-size: 26px;
  	line-height: 30px;
  	font-weight: 600;
  }

  .align-left .img-container .content-text {
  	position: absolute;
  	top: 33%;
  	left: 27%;
  	transform: translate(-50%, -50%);
  	width: 100%;
  	width: 45%;
  }

  h4.desc-subtitle.white {
  	color: #fff;
  }

  .features-list {
  	background: #EE2A7B;
  	padding: 35px 0;
  }

  .features-list-ul {
  	list-style: none;
  	display: grid;
  	grid-template-columns: repeat(6, 1fr);
  	gap: 20px;
  	padding: 0 50px;
  }

  .features-list-ul li {
  	text-align: center;
  }

  .features-list-ul li img {
  	width: 75%;
    display: block;
    margin: 0 auto;
  }

  .features-list-ul li p {
  	color: #fff;
  	font-size: 16px;
  	letter-spacing: 0.5px;
  	line-height: normal;
  	margin-bottom: 0;
  }

  @media screen and (max-width: 768px) {
  	.plus-hide-mobile {
  		display: none;
  	}

  	p.desc-content {
  		width: 100%;
  		font-size: 18px;
  		line-height: 25px;
  	}

  	h3.desc-title {
  		font-size: 21px;
  		line-height: 25px;
  	}

  	.eva-sec {
  		background: #23A474;
  		padding-top: 65px !important;
  	}

  	.eva-sec p.desc-content {
  		width: 95%;
  	}

  	.container .product-container .sixteen.columns {
  		width: 100%;
  		margin: 0 auto;
  	}

  	.rpet-sec,
  	.design-sec {
  		background: #fff;
  		padding-top: 65px !important;
  	}
  	.lining-sec {
  		background: #fff;
  		padding-top: 6.5rem !important;
  	}

  	.rpet-sec p.desc-content,
  	.lining-sec p.desc-content,
  	.design-sec p.desc-content {
  		width: 95%;
  	}

  	h4.desc-subtitle {
  		font-size: 18px;
      padding-bottom: 3rem;
  	}

  	.align-left .img-container .content-text {
  		width: 100%;
  		left: 50%;
  		top: 20%;
  	}

  	.align-left .img-container .content-text h3.desc-title {
  		margin-top: 0;
  	}

  	.features-list-ul {
  		grid-template-columns: repeat(3, 1fr);
  		padding: 0px 30px;
  	}
  }

  @media screen and (min-width: 769px) {
  	.plus-hide-desktop {
  		display: none;
  	}

  }
</style>
