<a name="pagecontent" id="pagecontent"></a>
<div class="container page-content text-left px-3">
  <h1 class="page-title">Trapo Affiliate Program</h1>

  <div class="row my-2 justify-content-center">
    <div class="col-12">
      <img
        src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/af-d-1.jpg?v=1646219154"
        width=""
        height=""
        style=""
        alt=""
        class="d-none d-lg-block img-fluid"
      >
    </div>
    <div class="col-12">
      <p style="text-align: justify; line-height: 22px; max-width: 700px; margin: 0 auto;">
        Thank you for your interest in being our affiliate. You are just a few steps away from getting started. Start
        promoting Trapo products and earn with every order.
      </p>
    </div>
    <!--
      <div class="col-12 text-center ">
                   <h4 class="mt-1"><span>3 SIMPLE STEPS TO JOIN</span></h4>

                        <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/af-d-2.jpg?v=1646219154" class="img-fluid d-none d-lg-block" style="margin: auto;">
      <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/af-m-2.jpg?v=1646219154" class="img-fluid d-lg-none" style="margin: auto;">

            </div>
    -->

    <!--
      <div class="col-12 row text-center">
              <a href="http://app.impact.com/campaign-campaign-info-v2/Trapo-MY.brand" target="_blannk" class="impact-btn">
                      GET STARTED NOW
                    </a>
      </div>
    -->
    <!--
      <div class="col-12 text-center">
                     <h4 class="mt-1"><span>PROGRAM HIGHLIGHT</span></h4>

                     <img width="" height="" style="" alt="" class="d-none d-lg-block img-fluid" src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/af-d-6.jpg?v=1646219154">
      <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/af-m-6.jpg?v=1646219154" class="img-fluid d-lg-none">
              </div>
    -->
          <div class="col-12 text-center">
                  <!-- <h4 class="mt-1 text-center"><span>Why Trapo Malaysia?</span></h4> -->
                   <p style="text-align: justify; line-height: 22px; max-width: 700px; margin: 0 auto;">
            Earn a <strong>10% commission</strong> on every completed order simply by sharing your unique affiliate link.
            It's easy to get started—sign up today, link your social media accounts, and start earning with Trapo!</p>
      </div>
   
    <div class="col-12 row text-center my-4">
      <a href="http://app.impact.com/campaign-campaign-info-v2/Trapo-MY.brand" target="_blannk" class="impact-btn">
        GET STARTED NOW
      </a>
    </div>
  </div>
</div>
<style>
    .container.page-content{
          max-width: 900px;
        }
    .col-md-6{
    	display: flex;
      justify-content: center;
    }
    h4{
      font-family: Roboto;
      font-size: 24px;
      margin-top:20px;
      font-weight:700;
      letter-spacing:0;
    }
    .mt-1{
      margin-bottom: 0;
    }
    .page-content p{
      font-size: 18px;
      text-align: center;
      font-weight:normal;
    }
    .page-content p strong {
      margin: 0 0 15px;
      color: #d82477;
  }
    .page-content a.impact-btn{
      background: #ee2a7b;
      width: auto;
      margin: 0 auto;
      color: #fff;
      padding: 15px 30px;
      font-size: 20px;
      border-radius: 5px;
    }
</style>
