<form
  method="post"
  action="/cart/add"
  id="flexi-box-form"
  accept-charset="UTF-8"
  class="shopify-product-form"
  enctype="multipart/form-data"
  novalidate="novalidate"
  data-type="add-to-cart-form"
>
  <input type="hidden" name="form_type" value="product"><input type="hidden" name="utf8" value="✓">
  <div class="tab-menu sticky-header center">
    <ul class="tab-items">
      <li class="tab-item">
        <a href="javascript:void(0);" class="tab active-tab" data-id="tab1">
          <div class="sticky-header-bubble">
            <h5>STEP 1</h5>
            <span id="checkbox_count_tab_1_product" style="display:none;"></span>
            <p>Any 1 Car Mat</p>
          </div>
        </a>
      </li>

      <li class="tab-item">
        <a href="javascript:void(0);" class="tab" data-id="tab2">
          <div class="sticky-header-bubble">
            <h5>STEP 2</h5>
            <span id="checkbox_count_tab_2_product" style="display:none;"></span>
            <p>Any 1 Wiper</p>
          </div>
        </a>
      </li>

      <li class="tab-item">
        <a href="javascript:void(0);" class="tab" data-id="tab3">
          <div class="sticky-header-bubble">
            <h5>STEP 3</h5>
            <span id="checkbox_count_tab_3_product" style="display:none;"></span>
            <p>Any 1 Dashcam</p>
          </div>
        </a>
      </li>
    </ul>
  </div>
</form>
