<section class="giveway-content">
  <div class="container">
    <h3>
      Trapo's Largest<br>
      Giveaway of 2024!
    </h3>
    <p>
      Stand a chance to experience the full Trapo Exosystem when you win a brand new<br>
      <strong>BYD Dolphin (Standard Version)</strong> fully-equipped with Trapo items, all worth over
    </p>
    <p class="byd-price">RM112,000!</p>
    <p>Got a receipt already?</p>
    <a class="entry-btn" href="/pages/spendbigwinbig">SUBMIT YOUR ENTRY</a>
  </div>
</section>

<section class="price-break">
  <div class="container">
    <h3 class="split-title"><span>PRIZE BREAKDOWN</span></h3>
    <img
      class="lazyload img-desktop byd-car-img"
      data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/byd-dolphin-desktop.png?v=1719561232"
      alt="BYD Dolphin Standard Version"
    >
    <img
      class="lazyload img-mobile byd-car-img"
      data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/byd-dolphin-mobile.png?v=1719561231"
      alt="BYD Dolphin Standard Version"
    >
  </div>
</section>

<style>
        .breadcrumb-container-page{
          display:none;
        }

      .giveway-content{
        background-color:#1b3d6d;
        padding: 30px 0;
      }
      .giveway-content .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
        .giveway-content h3 {
          font-size: 40px;
      line-height: 50px;
      letter-spacing: 2px;
      font-weight: 700;
      color: #fff;
      margin: 0 auto;
      margin-bottom: 25px;
      text-align: center;
      }
    .giveway-content p{
          font-size: 16px;
      color: #fff;
      text-align: center;
      line-height: 24px;
      letter-spacing: 0.36px;
    }
    .giveway-content p.byd-price{
      color: #E82276;
      font-weight: 700;
      font-size: 54px;
      margin: 25px 0;
      font-style: italic;
      line-height: 60px;
      letter-spacing: 0.44px;
    }
    .giveway-content a.entry-btn{
      display: block;
      max-width: fit-content;
      font-size: 14px;
      margin: 0 auto;
      width: 100%;
      background-color: #e82276;
      padding: 14px 25px;
      border-radius: 50px;
      color: #fff;
      text-align: center;
      font-weight: 700;
      letter-spacing: 0.5px;
    }
    .price-break{
        background-color:#1b3d6d;
        padding: 30px 0;
      }
    .price-break .container{

    }
    h3.split-title {
     width: 100%;
    text-align: center;
    border-bottom: 2px solid #fff;
    line-height: 0.1em;
    margin: 10px 0 45px;
    color: #fff;
    font-size: 30px;
    font-style: italic;
    font-weight: 700;
    letter-spacing: 0.5px;
  }

  h3.split-title span {
          padding: 0 25px;
    background: #1b3d6d;

  }
  .price-break img.byd-car-img{
    width:100%;
  }
    @media (min-width:768px) {
      .img-mobile{
        display: none;
      }
    }
     @media (max-width:767px) {
      .img-desktop{
        display: none;
      }
     }
</style>
