<!--
  <section class="spend-txt">
    <div class="marquee">
      <div>
        <span
          ><img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Attract-Texts-Web_6.png?v=1719562157"
        ></span>
        <span
          ><img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Attract-Texts-Web_6.png?v=1719562157"
        ></span>
        <span
          ><img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Attract-Texts-Web_6.png?v=1719562157"
        ></span>
        <span
          ><img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Attract-Texts-Web_6.png?v=1719562157"
        ></span>
        <span
          ><img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Attract-Texts-Web_6.png?v=1719562157"
        ></span>
        <span
          ><img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Attract-Texts-Web_6.png?v=1719562157"
        ></span>
      </div>
    </div>
  </section>
-->
<section class="giveway-content">
  <div class="container">
    <h3>
      Trapo's Largest<br>
      Giveaway of 2024!
    </h3>
    <p>
      Stand a chance to experience the full Trapo Exosystem when you win a brand new<br>
      <strong>BYD Dolphin (Standard Version)</strong> fully-equipped with Trapo items, all worth over
    </p>
    <p class="byd-price">RM112,000!</p>
    <p>Got a receipt already?</p>
    <a class="entry-btn" href="/pages/spendbigwinbig">SUBMIT YOUR ENTRY</a>
  </div>
</section>

<section class="price-break">
  <div class="container">
    <h3 class="split-title"><span>PRIZE BREAKDOWN</span></h3>
    <img
      class="lazyload img-desktop byd-car-img"
      data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/byd-dolphin-desktop.png?v=1719561232"
      alt="BYD Dolphin Standard Version"
    >
    <img
      class="lazyload img-mobile byd-car-img"
      data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/byd-dolphin-mobile.png?v=1719561231"
      alt="BYD Dolphin Standard Version"
    >
  </div>
</section>
<section class="trapo_plus">
  <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_105_2_1.png?v=1719854259" alt="">
</section>
<section class="sec-products">
  <div class="container">
    <div class="plus-products-1">
      <div class="left-img">
        <img
          class="lazyload"
          data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/1-full-front-ppf.png?v=1719545321"
        >
        <div class="pp-details">
          <div class="left">Full Front PPF Film</div>
          <div class="right">
            Worth <br>
            <strong>RM3,700</strong>
          </div>
        </div>
      </div>
      <div class="right-img">
        <img
          class="lazyload"
          data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/2-demand-car-detailing.png?v=1719545424"
        >
        <div class="pp-details">
          <div class="left">Diamond Car Coating</div>
          <div class="right">
            Worth <br>
            <strong>RM3,600</strong>
          </div>
        </div>
      </div>
    </div>

    <div class="plus-products-2">
      <div class="p-grid">
        <img
          class="lazyload"
          data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/3-chroma-tint-film.png?v=1719545321"
        >
        <div class="pp-details">
          <div class="left">
            Chroma Tint<br>
            Film
          </div>
          <div class="right">
            Worth <br>
            <strong>RM3,200</strong>
          </div>
        </div>
      </div>
      <div class="p-grid">
        <img
          class="lazyload"
          data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/4-trapo-dashcam.png?v=1719545424"
        >
        <div class="pp-details">
          <div class="left">
            Trapo Dashcam <br>
            T550
          </div>
          <div class="right">
            Worth <br>
            <strong>RM689</strong>
          </div>
        </div>
      </div>
      <div class="p-grid">
        <img
          class="lazyload"
          data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/5-car-mats.png?v=1719545321"
        >
        <div class="pp-details">
          <div class="left">
            Classic Mark IV <br>
            Car Mats
          </div>
          <div class="right">
            Worth <br>
            <strong>RM349.90</strong>
          </div>
        </div>
      </div>
      <div class="p-grid">
        <img
          class="lazyload"
          data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/6-air-purifier.png?v=1719545424"
        >
        <div class="pp-details">
          <div class="left">
            Air Purifier<br>
            Classic
          </div>
          <div class="right">
            Worth <br>
            <strong>RM299.90</strong>
          </div>
        </div>
      </div>
    </div>

    <div class="plus-products-3">
      <div class="p-grid"></div>
      <div class="p-grid">
        <img
          class="lazyload"
          data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/7-wiper-blade.png?v=1719545321"
        >
        <div class="pp-details">
          <div class="left">
            Hydrophobic Wiper <br>
            Blades
          </div>
          <div class="right">
            Worth <br>
            <strong>RM139.90</strong>
          </div>
        </div>
      </div>
      <div class="p-grid">
        <img
          class="lazyload"
          data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/8-phone-holder.png?v=1719545424"
        >
        <div class="pp-details">
          <div class="left">
            Premium Foldable<br>
            Phone Holder
          </div>
          <div class="right">
            Worth <br>
            <strong>RM99</strong>
          </div>
        </div>
      </div>
      <div class="p-grid"></div>
    </div>
    <div class="sec_product_bottom">
      <p>
        For more info about our <b> Trapo Exosystem </b> and what we offer,
        <a href="/pages/trapo-exosystem"> click here</a>
      </p>
    </div>
  </div>
</section>
<section class="win-steps">
  <div class="container">
    <h3 class="split-title"><span>Steps to Winning</span></h3>
    <div class="steps">
      <div class="step-item">
        <img
          class="lazyload"
          data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/step-1.svg?v=1719568369"
          alt=""
          height="125px"
          width="125px"
        >
        <h6>Step 1</h6>
        <p>
          Spend over RM300* to qualify for an entry. <br>
          <span>*Must be in a single receipt.</span>
        </p>
      </div>
      <div class="step-item">
        <img
          class="lazyload"
          data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/step-2.svg?v=1719568369"
          alt=""
          height="125px"
          width="125px"
        >
        <h6>Step 2</h6>
        <p>Submit your entry using this form <a href="/pages/spendbigwinbig">here</a>.</p>
      </div>
      <div class="step-item">
        <img
          class="lazyload"
          data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/step-3.svg?v=1719568369"
          alt=""
          height="125px"
          width="125px"
        >
        <h6>Step 3</h6>
        <p>
          That's it! Spend more to increase<br>
          your chances of winning!
        </p>
      </div>
    </div>
    <a class="entry-btn" href="/collections/car-mats">Shop Now</a>
  </div>
</section>

<section class="submit_entry">
  <div class="container">
    <div class="submit_entry_content">
      <p>Already shopped today? Test your chances!</p>
      <a href="/pages/spendbigwinbig">Submit Your Entry</a>
      <a
        href="/pages/giveaway-terms-and-conditions"
        class="terms"
        ><span>To learn more about this giveaway visit our Terms and Conditions here.</span></a
      >
    </div>
  </div>
</section>
<style>
                  .breadcrumb-container-page{
                    display:none;
                  }
            .marquee {
              overflow: hidden;
              position: relative;
              height: 30px;
          }
            .marquee div {
              display: block;
              width: 200%;
              position: absolute;
              overflow: hidden;
              animation: marquee 20s linear infinite;
              display: flex;
          }
          .marquee div img{
            height:30px;
          }
          @keyframes marquee {
              0% { left: 0; }
              100% { left: -100%; }
          }

                .giveway-content{
                  background-color:#1b3d6d;
                  padding: 30px 0;
                }
                .giveway-content .container {
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  justify-content: center;
              }
                  .giveway-content h3 {
                    font-size: 40px;
                line-height: 50px;
                letter-spacing: 2px;
                font-weight: 700;
                color: #fff;
                margin: 0 auto;
                margin-bottom: 25px;
                text-align: center;
                }
              .giveway-content p{
                    font-size: 16px;
                color: #fff;
                text-align: center;
                line-height: 24px;
                letter-spacing: 0.36px;
              }
              .giveway-content p.byd-price{
                color: #E82276;
                font-weight: 700;
                font-size: 54px;
                margin: 25px 0;
                font-style: italic;
                line-height: 60px;
                letter-spacing: 0.44px;
              }
              .giveway-content a.entry-btn,.win-steps a.entry-btn{
                display: block;
                max-width: fit-content;
                font-size: 14px;
                margin: 0 auto;
                width: 100%;
                background-color: #e82276;
                padding: 14px 25px;
                border-radius: 50px;
                color: #fff;
                text-align: center;
                font-weight: 700;
                letter-spacing: 0.5px;
                text-transform:uppercase;
              }
              .price-break{
                  background-color:#1b3d6d;
                  padding: 30px 0;
                }
              .price-break .container{

              }
              h3.split-title {
               width: 100%;
              text-align: center;
              border-bottom: 2px solid #fff;
              line-height: 0.1em;
              margin: 10px 0 45px;
              color: #fff;
              font-size: 30px;
              font-style: italic;
              font-weight: 700;
              letter-spacing: 0.5px;
                    text-transform: uppercase;
            }

            h3.split-title span {
                    padding: 0 25px;
              background: #1b3d6d;

            }
            .price-break img.byd-car-img{
              width:100%;
            }
        .sec-products{
                  background-color:#1b3d6d;
                  padding: 30px 0;
                }
        .sec-products .plus-products-1{
          display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 15px;
            margin-top: 40px;
        }
        .sec-products .plus-products-2{
          display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            gap: 15px;
            margin-top: 20px;
        }
        .sec-products .plus-products-3{
          display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            gap: 15px;
            margin-top: 20px;
        }
          .plus-products-1 img, .plus-products-2 img, .plus-products-3 img{
            width:100%;
          }
        .win-steps{
          margin:50px 0;
        }
        .win-steps h3.split-title{
          color:#1B3D6D;
          border-bottom: 2px solid #1B3D6D;
        }
        .win-steps h3.split-title span{
          background:#fff;
        }
        .steps{
          display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
        width: 100%;
              margin-bottom: 30px;
        }
        .steps .step-item{
          background-color: #DEDEDE;
          border-radius: 12px;
          color: #fff;
          padding: 20px 15px;
          text-align: center;
        }
        .steps .step-item img{
          width: 120px;
        }
        .steps .step-item h6{
             color: #D82477;
          font-size: 24px;
          font-weight: 700;
          letter-spacing: 0.8px;
          margin: 0;
        }
        .steps .step-item p{
      font-size: 14px;
          color: #16406D;
          margin: 0;
        }
        .steps .step-item p span{
      font-size: 12px;
          font-style: italic;
        }
        .sec-products :is(.left-img, .right-img),
  .sec-products .p-grid{
      position: relative;
  }
  .sec-products :is(.left-img, .right-img) .pp-details{
      display: flex;
      align-items: center;
      width: 100%;
      justify-content: space-between;
  }
  .sec-products :is(.p-grid .pp-details, .pp-details){
      background: rgba(22, 64, 109, 0.5);
      position: absolute;
      width: 100%;
      bottom: 0;
      color: #fff;
      padding:20px 20px;
      border-radius: 16px;
  }
  .sec-products :is(.left-img, .right-img) .pp-details .right,
  .sec-products .p-grid .pp-details .right{
      display: flex;
      flex-direction: column;
      line-height: 1;
      text-align: right;
      font-weight: 300
  }
  .sec-products .p-grid .pp-details .left{
      font-weight: 600;
    line-height:normal;
  }
  .sec-products{
      position: relative;
      z-index: -1;
  }
  .trapo_plus{
      background-color: #1b3d6d;
      display: flex;
      align-items: center;
      justify-content: center
  }
  .trapo_plus img{
      display: block;
      margin: -60px 0 -90px;
      width: calc(100% - 100px);
    max-width: 50%;
      z-index: 9;
  }
  .sec_product_bottom{
      width: 100%;
      text-align: center;
      margin-top: 30px;
      color: #FFF;
      font-weight: 300
  }
  .sec_product_bottom a{
      color: #fff;
      text-decoration: underline;
  }
  .submit_entry .container{
      width: 100%;
  }
  .submit_entry .submit_entry_content{
      position: relative;
      width: 100%;
      min-height: 200px;
      margin-bottom: -40px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      color: #fff;
      gap:20px;
      border-radius: 16px 16px 0 0;
      overflow: hidden;
  }
  .submit_entry .submit_entry_content:after {
      content: '';
      width: 100%;
      position: absolute;
      height: 100%;
      left: 0;
      top: 0;
      background-image: url('https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Rectangle_136_1.png?v=1719855087');
      background-size: cover;
      z-index: -1;
      background-repeat: no-repeat;
      background-position: top center;
  }
  .submit_entry .submit_entry_content p{
      margin: 0;
      font-size: 19px
  }
  .submit_entry .submit_entry_content span{
      font-size: 14px;
      font-weight: 300;
    color:#fff;
  }
  .submit_entry .submit_entry_content a{
      color: #fff;
      text-decoration: underline;
  }
  .submit_entry .submit_entry_content a.terms{
    color: #fff;
    text-decoration: none;
  }








              @media (min-width:768px) {
                .img-mobile{
                  display: none;
                }
              }
              @media (max-width:1024px){
                  .sec-products .plus-products-3,
                  .sec-products .plus-products-2 {
                      grid-template-columns: 1fr 1fr;
                  }
                  .steps .step-item img {
                      width: 80px;
                      height: auto;
                  }
                  .submit_entry .submit_entry_content{
                      min-height: 150px;
                      gap: 10px;
                  }
                  .giveway-content p.byd-price {
                      margin: 10px 0;
                      font-size: 40px;
                      line-height: 1;
                  }

                  .giveway-content h3 {
                      font-size: 30px;
                      line-height: 1.2;
                      margin-bottom: 15px;
                  }
                  .sec-products .plus-products-3 .p-grid:first-child,
                  .sec-products .plus-products-3 .p-grid:last-child{
                      display: none;
                  }
              }
               @media (max-width:767px) {
                .img-desktop{
                  display: none;
                }
                .sec-products :is(.p-grid .pp-details, .pp-details) {
                  padding: 10px;
                  display: flex;
                  align-items: center;
                  line-height: 1.2;
              }
              .win-steps h3.split-title,
              h3.split-title{
                  border: 0;
              }
              .sec-products .plus-products-1{
                  margin-top: 0;
              }
              .trapo_plus img {
                  margin: -90px 0 -75px;
              }
              .sec-products{
                  padding-top: 20px;
              }
              .sec-products .plus-products-3, .sec-products .plus-products-2{
                  margin-top: 10px;
              }
              .steps{
                  grid-template-columns: 1fr;
              }
              .submit_entry .submit_entry_content span {
      max-width: 275px;
      text-align: center;
      line-height: 1.3;
  }
  .submit_entry .submit_entry_content {
      min-height: 190px;
  }
               }
</style>
