<section class="giveway-content">
  <div class="container">
    <h3>Trapo's Largest Giveaway of 2024!</h3>
    <p>
      Stand a chance to experience the full Trapo Exosystem when you win a brand new
      <span>BYD Dolphin (Standard Version)</span> fully-equipped with Trapo items, all worth over
    </p>
    <p class="byd-price">RM112,000!</p>
    <p>Got a receipt already?</p>
    <a class="entry-btn"></a>
  </div>
</section>

<style>
    .breadcrumb-container-page{
      display:none;
    }

  .giveway-content{
    background-color:#1b3d6d;
    padding: 0 30px;
  }
    .giveway-content h3 {
      font-size: 32px;
      line-height: 30px;
      letter-spacing: 2px;
      margin-bottom: 14px;
      font-weight: 600;
      text-transform: uppercase;
      color:#fff;
  }
</style>
