<section class="special_deal"> 
  <div class="container">
    <div class="sec_header">
      <h1 class="title">
        malaysia day special deals 
      </h1>
      <span class="date">16 - 18 sep</span>
    </div> 
  </div>
  <div class="home_banner">
      <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/home_banner.png?v=1725978306">
  </div>
</section>

<section class="highlignt_sec">
  <div class="sec_header_2">
    <h4 class="title">highlights</h4>
  </div>
  <div class="container">
    <div class="sec_content">
      <ul class="list">
        <li class="item"> Deals up to RM60 OFF </li>
        <li class="item">Exclusive Voucher for Perodua & Proton Car Mats</li>
        <li class="item">Deals as low as RM16.90 ONLY!</li>
        <li class="item"><strong>IN-STORE EXCLUSIVE</strong>: Trade-in old wipers to get Trapo wipers at RM119.90. (+ FREE Window Coating and FREE installation!)</li>
        <li></li>
      </ul>
    </div>
  </div>
</section>


<section class="vouchers_sec">
  <div class="sec_header_2">
    <h4 class="title">vouchers</h4>
  </div>
  <div class="container">
    <div class="sec_content">
      <ul class="list">
        <li class="item"> 
          <div class="left">
            <strong>Use Code : <span>MY16</span></strong>
            <p>Save RM16 (Min. Spend RM90)</p>
            <small>Valid till 18.09.2024</small>
          </div>
          <div class="t_and_c"> 
            <a href="#">T&C</a>
          </div>
        </li>
        <li class="item"> 
          <div class="left">
            <strong>Use Code : <span>MY30</span></strong>
            <p>Save RM30 (Min. Spend RM250)</p>
            <small>Valid till 18.09.2024</small>
          </div>
          <div class="t_and_c"> 
            <a href="#">T&C</a>
          </div>
        </li>
        <li class="item"> 
          <div class="left">
            <strong>Use Code : <span>MY60</span></strong>
            <p>Save RM60 (Min. Spend RM450)</p>
            <small>Valid till 18.09.2024</small>
          </div>
          <div class="t_and_c"> 
            <a href="#">T&C</a>
          </div>
        </li>
        <li class="item"> 
          <div class="left">
            <strong>Use Code : <span>BOLEHJUGA</span></strong>
            <p>Proton & Perodua Exclusive* <br>Save RM76.90  (Min. Spend RM450)</p>
            <small>Valid till 18.09.2024</small>
          </div>
          <div class="t_and_c"> 
            <a href="#">T&C</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>



<section class="special_deal"> 
   <div class="sec_header_2">
    <h4 class="title">deals</h4>
  </div>
  <div class="container">
    <div class="sec_header">
      <h1 class="title">
        RM 16.90 SPECIAL DEALS!
      </h1>
      <span class="date">Save up to 83%! While stocks last.</span>
    </div> 
  </div>
  <div class="special_deal_content">
      <ul class="special_deal_list">
        <li class="item">
          <div class="item_wrap">
            <div class="top">
              <span class="save_offer">SAVE 83%!</span>
              <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Car_Charger-95W.png?v=1725980462">
            </div>
            <div class="bottom">
                <h6 class="product_title">DuraCharge Car Charger 95W</h6>
                <span class="comper_price">RM 99.90</span>
                <span class="sale_price">RM 16.90 ONLY!</span>
            </div>
          </div>
        </li>
        <li class="item">
          <div class="item_wrap">
            <div class="top">
              <span class="save_offer">SAVE 83%!</span>
              <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Car_Charger-95W.png?v=1725980462">
            </div>
            <div class="bottom">
                <h6 class="product_title">DuraCharge Car Charger 95W</h6>
                <span class="comper_price">RM 99.90</span>
                <span class="sale_price">RM 16.90 ONLY!</span>
            </div>
          </div>
        </li>
        <li class="item">
          <div class="item_wrap">
            <div class="top">
              <span class="save_offer">SAVE 83%!</span>
              <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Car_Charger-95W.png?v=1725980462">
            </div>
            <div class="bottom">
                <h6 class="product_title">DuraCharge Car Charger 95W</h6>
                <span class="comper_price">RM 99.90</span>
                <span class="sale_price">RM 16.90 ONLY!</span>
            </div>
          </div>
        </li>
        <li class="item">
          <div class="item_wrap">
            <div class="top">
              <span class="save_offer">SAVE 83%!</span>
              <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Car_Charger-95W.png?v=1725980462">
            </div>
            <div class="bottom">
                <h6 class="product_title">DuraCharge Car Charger 95W</h6>
                <span class="comper_price">RM 99.90</span>
                <span class="sale_price">RM 16.90 ONLY!</span>
            </div>
          </div>
        </li>
      </ul>
      <div class="btn_wrap">
          <span class="promo_text">Check out all our items on promotion:</span>
          <a href="" class="btn shop_now">SHOP NOW</a>
      </div>
  </div>
</section>

<section class="win_car">
   <div class="sec_header_2">
      <h4 class="title">highlights</h4>
    </div>
    <div class="container">
      <div class="win_car_img">
        <img  src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/win_a_car.png?v=1725980870">
        <a href="" class="btn shop_now">VIEW MORE</a>
      </div>
    </div>
    <img class="win_car_bg" src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/win_a_car_bg.png?v=1725981013">
</section>

<section class="why_buy">
  <div class="container">
      <div class="sec_small_header">
        <h6 class="title">WHY BUY FROM US?</h6>
      </div>
      <ul class="why_buy_list">
        <li class="item">
          <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/free_shipping.svg?v=1725981387">
          <span>Free Shipping <br> (West Malaysia)</span>
        </li>
        <li class="item">
          <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/support.svg?v=1725981387">
          <span>Online Customer <br> Support</span>
        </li>
        <li class="item">
          <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/return_police.svg?v=1725981387">
          <span>7 Days Return <br> Policy</span>
        </li>
        <li class="item">
          <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/warranty_b893564d-3c06-49f9-bae5-47dc9dd568bb.svg?v=1725981386">
          <span>Up to Lifetime <br> Warranty</span>
        </li>
      </ul>
      <div class="sec_small_header">
        <h6 class="title">TERMS & CONDITIONS</h6>
      </div>
      <ul class="terms_condition">
          <li>Get RM16 OFF min spend RM90. RM30 OFF ms RM250. RM60 OFF ms RM450.</li>
          <li>RM16.90 Deals Applies to DuraCharge, BlitzOFF, Leatherguard, Star Wars Phone Holder, Microfiber Cloth, Diatomite Coaster. (While Stocks Last).</li>
          <li>The RM76.90 OFF with a minimum spend of RM450, exclusively for Proton and Perodua car mats. Use code: BOLEHJUGA</li>
          <li>Trapo reserves the right to change or end promotions, discounts, or terms at any time without notice.</li>
          <li><strong>Only 1 discount or deal is applicable per receipt.</strong></li>
      </ul>
  </div>
</section>



