<section class="special_deal"> 
  <div class="container">
    <div class="sec_header">
      <h1 class="title">
        NEW YEAR SALE
      </h1>
      <span class="date">29 - 31 DEC</span>
    </div> 
  </div>
  <div class="home_banner">
    <a href="/collections/car-mats">
      <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/campaing-main-banner.webp?v=1735111253">
    </a>
  </div>
</section>

<section class="highlignt_sec">
  <div class="sec_header_2">
    <h4 class="title"> <span>highlights</span></h4>
  </div>
  <div class="container">
    <div class="sec_content">
      <ul class="list">
        <li class="item"><strong>STOREWIDE VOUCHERS</strong> Get RM144 Worth of Cash Vouchers!</li>
        <li class="item"><strong>BEST VALUE DEALS</strong>  Save 30% OFF on Car Care Bundles</li>
        <li class="item"><strong>BUY NOW, PAY LATER</strong>  Save EXTRA RM20 when you pay with Atome (min. spend RM500)</li>
        <li class="item"><strong>VISA DEALS</strong>  Save EXTRA RM20 on your order when you use Visa on Shopback!</li>
        <li class="item"><strong>CAR COAT PROMO</strong> Save Up To 65% OFF on Enhanced Car Coating (worth up to RM1,450) </li>
        <li></li>
      </ul>
    </div>
  </div>
</section>


<section class="vouchers_sec">
  <div class="sec_header_2">
    <h4 class="title"><span>EXTRA SAVINGS</span></h4>
  </div>
  <div class="container">
    <a href="#" class="apply_checkout">Apply at Checkout</a>
    <div class="sec_content">
      <ul class="list">
        <li class="item"> 
          <div class="item_wrap">
            <div class="left">
              <strong>Use Code : <span>NEWYEAR9</span></strong>
              <p>Save RM9 with minimum spend RM50.</p>
              <small>Valid till 31 Dec 2024</small>
            </div>
            <div class="t_and_c"> 
              <a href="javascript:void(0)" class="scroll-tc">T&C</a>
            </div>
          </div>
        </li>
        <li class="item"> 
          <div class="item_wrap">
            <div class="left">
              <strong>Use Code : <span>NEWYEAR20</span></strong>
              <p>Save RM20 with minimum spend RM150.</p>
              <small>Valid till 31 Dec 2024</small>
            </div>
            <div class="t_and_c"> 
              <a href="javascript:void(0)" class="scroll-tc">T&C</a>
            </div>
          </div>
        </li>
        <li class="item"> 
          <div class="item_wrap">
            <div class="left">
              <strong>Use Code : <span>NEWYEAR50</span></strong>
              <p>Save RM50 with minimum spend RM50.</p>
              <small>Valid till 31 Dec 2024</small>
            </div>
            <div class="t_and_c"> 
              <a href="javascript:void(0)" class="scroll-tc">T&C</a>
            </div>
          </div>
        </li>
        <li class="item"> 
          <div class="item_wrap">
            <div class="left">
              <strong>Use Code : <span>NEWYEAR65</span></strong>
              <p>Save RM65 with minimum spend RM450.</p>
              <small>Valid till 31 Dec 2024</small>
            </div>
            <div class="t_and_c"> 
              <a href="javascript:void(0)" class="scroll-tc">T&C</a>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="sec_content">
      <p class="sec_content_title">STACK YOUR SAVINGS:</p>
      <ul class="list two-column">
        <li class="item shopee"> 
          <div class="item_wrap">
            <div class="left">
              <strong>Use: <span>SHOPBACK APP</span></strong>
              <p>Save EXTRA RM20 when you pay with Visa on Shopback </p>
              <small>Valid till 31 Dec 2024</small>
            </div>
            <div class="t_and_c"> 
              <a href="javascript:void(0)" class="scroll-tc">T&C</a>
            </div>
          </div>
        </li>
        <li class="item atome"> 
          <div class="item_wrap">
            <div class="left">
              <strong>Use: <span>ATOME APP</span></strong>
              <p>Save EXTRA RM20 with minimum spend RM500 </p>
              <small>Valid till 31 Dec 2024</small>
            </div>
            <div class="t_and_c"> 
              <a href="javascript:void(0)" class="scroll-tc">T&C</a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>

<section class="special_deal">
  <div class="sec_header_2">
    <h4 class="title"><span>deals</span></h4>
  </div>
  <div class="container">
    <div class="sec_header">
      <h1 class="title">BUY MORE, SAVE MORE</h1>
      <span class="date">Check out how to save on these best-sellers of all time</span>
    </div>
  </div>
  <div class="deals_wrap">
    <div class="deals_wrap_row">
      <div class="deals__item">
        <div class="img_wrap">
          <img
            class="lazyload"
            data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Mask_group_2c18d644-38e6-45a0-8e3c-958b7281ec06.png?v=1729792683"
          >
        </div>
        <div class="detail">
          <h6>
            TRAPO Classic <br>
            Car Mats (Front + Rear)
          </h6>
          <span class="old_price">RM 349.00</span>
          <strong class="new_price">RM 328.20 ONLY!</strong>
        </div>
      </div>
      <div class="deals__item pluse_1">
        <div class="img_wrap">
          <img
            class="lazyload"
            data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/plus-icon-1.svg?v=1727165207"
          >
        </div>
      </div>
      <div class="deals__item">
        <div class="img_wrap">
          <img
            class="lazyload"
            data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/2-wiper.png?v=1729833283"
          >
        </div>
        <div class="detail">
          <h6>
            TRAPO Hydrophobic<br>
            Wiper Blade
          </h6>
          <span class="old_price">RM 139.90</span>
          <strong class="new_price">RM 118.20 ONLY!</strong>
        </div>
      </div>
      <div class="deals__item pluse_2">
        <div class="img_wrap">
          <img
            class="lazyload"
            data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/plus-icon-1.svg?v=1727165207"
          >
        </div>
      </div>
      <div class="deals__item">
        <div class="img_wrap">
          <img
            class="lazyload"
            data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/charger-12.png?v=1733750485"
          >
        </div>
        <div class="detail">
          <h6>
            TRAPO DuraCharge Car<br>
            Charger 90W
          </h6>
          <span class="old_price">RM 49.90</span>
          <strong class="new_price">RM 28.20 ONLY!</strong>
        </div>
      </div>
    </div>
    <div class="save_price">
      <div class="left_price">
        <span class="old_price">RM 539.70</span>
        <strong class="new_price">RM 474.70 ONLY!</strong>
      </div>
      <div class="save_label">
        <span>SAVE RM65</span>
      </div>
    </div>
    <div class="shop_back">
        <div class="shop_back_wrap">
          <span>RM 454.70 ONLY</span>
          <small>WITH</small>
          <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/BRANDMARK.png?v=1733757954" />
        </div>
    </div>
  </div>

  <div class="deals_wrap">
    <div class="deals_wrap_row">
      <div class="deals__item">
        <div class="img_wrap">
          <img
            class="lazyload"
            data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/slimcharger-12.png?v=1733750640"
          >
        </div>
        <div class="detail">
          <h6>
            TRAPO SlimCharge Car<br>
            Charger 90W 
          </h6>
          <span class="old_price">RM 99.90</span>
          <strong class="new_price">RM 93.20 ONLY!</strong>
        </div>
      </div>
      <div class="deals__item pluse_1">
        <div class="img_wrap">
          <img
            class="lazyload"
            data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/plus-icon-1.svg?v=1727165207"
          >
        </div>
      </div>
      <div class="deals__item">
        <div class="img_wrap">
          <img
            class="lazyload"
            data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/rainguard-12.png?v=1733750640"
          >
        </div>
        <div class="detail">
          <h6>
            TRAPO Rainguard<br>
            Repellant
          </h6>
          <span class="old_price">RM 29.90</span>
          <strong class="new_price">RM 23.20 ONLY!</strong>
        </div>
      </div>
      <div class="deals__item pluse_2">
        <div class="img_wrap">
          <img
            class="lazyload"
            data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/plus-icon-1.svg?v=1727165207"
          >
        </div>
      </div>
      <div class="deals__item">
        <div class="img_wrap">
          <img
            class="lazyload"
            data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/magesafe-12.png?v=1733750640"
          >
        </div>
        <div class="detail">
          <h6>
            TRAPO Premium Foldable<br>
            Magsafe Car Phone Holder
          </h6>
          <span class="old_price">RM 99.90</span>
          <strong class="new_price">RM 93.20 ONLY!</strong>
        </div>
      </div>
    </div>
    <div class="save_price">
      <div class="left_price">
        <span class="old_price">RM 229.70</span>
        <strong class="new_price">RM 209.70 ONLY!</strong>
      </div>
      <div class="save_label">
        <span>SAVE RM20</span>
      </div>
    </div>
    <div class="shop_back">
        <div class="shop_back_wrap">
          <span>RM 189.70 ONLY</span>
          <small>WITH</small>
          <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/BRANDMARK.png?v=1733757954" />
        </div>
    </div>
  </div>


  <div class="deals_wrap">
    <div class="deals_wrap_row">
      <div class="deals__item">
        <div class="img_wrap">
          <img
            class="lazyload"
            data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/bundle-1.png?v=1735113515"
          >
        </div>
        <div class="detail">
          <h6>
            Water Stain<br>
            Eraser Kit
          </h6>
          <span class="old_price">RM 109.70</span>
          <strong class="new_price">RM 76.70 ONLY!</strong>
        </div>
      </div>
      <div class="deals__item pluse_1" style="visibility: hidden;">
        <div class="img_wrap">
          <img
            class="lazyload"
            data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/plus-icon-1.svg?v=1727165207"
          >
        </div>
      </div>
      <div class="deals__item">
        <div class="img_wrap">
          <img
            class="lazyload"
            data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/bundle-2.png?v=1735113515"
          >
        </div>
        <div class="detail">
          <h6>
            Pro Wash and<br>
            Shine Kit
          </h6>
          <span class="old_price">RM 149.60</span>
          <strong class="new_price">RM 104.70 ONLY!</strong>
        </div>
      </div>
      <div class="deals__item pluse_2" style="visibility: hidden;">
        <div class="img_wrap">
          <img
            class="lazyload"
            data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/plus-icon-1.svg?v=1727165207"
          >
        </div>
      </div>
      <div class="deals__item">
        <div class="img_wrap">
          <img
            class="lazyload"
            data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/bundle-3.png?v=1735113515"
          >
        </div>
        <div class="detail">
          <h6>
            Heavy Duty Paint<br>
            Care Kit
          </h6>
          <span class="old_price">RM 159.60</span>
          <strong class="new_price">RM 111.70 ONLY!</strong>
        </div>
      </div>
    </div>
    <div class="save_price bundle_price">
      <div class="left_price">
        <strong class="new_price">SAVE 30%<br>on Car Care Bundles!</strong>
      </div>
    </div>
    <div class="shop_back">
        <div class="shop_back_wrap">
          <span>Save EXTRA RM20</span>
          <small>WITH</small>
          <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/BRANDMARK.png?v=1733757954" />
        </div>
    </div>
  </div>
  
  <div class="shop_now">
    <a href="/pages/car-mats">Shop Now</a>
  </div>
</section>

<section class="win_car">
  <div class="sec_header_2">
    <h4 class="title"><span>SPOTLIGHT</span></h4>
  </div>
  <div class="container">
    <div class="charging_car">
      <img
        class="lazyload"
        data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/shopback-12.png?v=1733750848"
      >
      <a href="/collections/car-mats" class="btn shop_now" style="margin-bottom:2.5rem;">Buy Now</a>

      <img
        class="lazyload"
        data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/quick-shield-campaign.webp?v=1735114235"
      >
      <a href="/products/trapo-quik-shield-car-coating" class="btn shop_now" style="margin-bottom:2.5rem;" >Buy Now</a>

      <img
        class="lazyload"
        data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/atome-campaign.webp?v=1735114235"
      >
      <a href="/collections/car-mats" class="btn shop_now">Buy Now</a>

    </div>
    <div class="win_car_img">
      <img
        class="lazyload"
        data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/win_a_car.png?v=1725980870"
      >
      <a href="/pages/byd-giveaway" class="btn shop_now">View More</a>
    </div>
  </div>
  <img
    class="win_car_bg lazyload"
    data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/win_a_car_bg.png?v=1725981013"
  >
</section>

<section class="why_buy">
  <div class="container">
      <div class="sec_small_header">
        <h6 class="title">WHY BUY FROM US?</h6>
      </div>
    <div  class="why_buy_list">
      <ul>
        <li class="item">
          <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/free_shipping.svg?v=1725981387">
          <span>Free Shipping <br> (West Malaysia)</span>
        </li>
        <li class="item">
          <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/support.svg?v=1725981387">
          <span>Online Customer <br> Support</span>
        </li>
        <li class="item">
          <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/return_police.svg?v=1725981387">
          <span>7 Days Return <br> Policy</span>
        </li>
        <li class="item">
          <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/warranty_b893564d-3c06-49f9-bae5-47dc9dd568bb.svg?v=1725981386">
          <span>Up to Lifetime <br> Warranty</span>
        </li>
      </ul>
    </div>
      <div class="sec_small_header">
        <h6 class="title">TERMS & CONDITIONS</h6>
      </div>
    <div  class="terms_condition" id="terms_condition">
      <ul>
        <li><strong>Promotion Period:</strong> Valid from 29 December 2024 to 31 December 2024.</li>
<li><strong>Discount:</strong> Discount vouchers not valid on Detailing services or already discounted items. Shopback EXTRA RM20 is stackable on top of any existing discount. Discount vouchers are valid for use on all Trapo items, including on 30% OFF discounted Car Care bundles.</li> 
<li><strong>Detailing Discount:</strong> Save Up To 65% only applies to QuikShield Coating bundle with the 2-Step Car Paint Correction (QuikShield + ) which is an ADD-ON service. The 65% OFF discount does not apply to any detailing services as an ala carte option.</li>
<li><strong>Non-Stackable Offers:</strong> Discount vouchers cannot be combined with Loyalty points, cash rebates, or other ongoing promo codes. </li>
<li><strong>Voucher Usage:</strong> Minimum spend requirements apply as outlined above. Offers are not valid with any Gift Cards or Detailing services.</li>
<li><strong>Reservation of Rights:</strong> Trapo reserves the right to modify, suspend, or cancel the promotion at any time without prior notice due to unforeseen circumstances.</li>
      </ul>
    </div>
  </div>
</section>

<section class="search-bottom">
  <div class="container">
  <h1 class="title">Ready to find your car mat?</h1>
  <h5 class="subtitle">Search Your Car Model Now</h5>
    <div id="gf-form"></div>
  </div>
</section>








<style>
  div.deals_wrap{
      padding-bottom: 0
  }
  .shop_back{
      background-image: url('https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_643_1.png?v=1733757639');
      background-position: center top;
      background-repeat: no-repeat;
      background-size: 469px;
      min-height: 70px;
      width: 100%;
      max-width: 470px;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 30px auto 0;
  }
  .shop_back_wrap{
      display: flex;
      align-items: start;
      gap:5px;
  }
  .shop_back_wrap span{
      font-size: 28px;
      font-weight: bold;
  }
  .shop_back_wrap small{
      font-size: 15px;
      line-height: 1
  }
  .shop_back_wrap img{
      display: block;
      margin-top: -11px;
      margin-left: 5px
  }
  @media(max-width:1024px){
      .shop_back_wrap span{
          font-size: 22px;
      }
      .shop_back{
          background-size: 400px;
          min-height: 54px;
          max-width: 400px;
          margin: 20px auto 0;
  }
  
  }
  @media(max-width:1024px){
      .shop_back_wrap span{
          font-size: 19px;
      }
      .shop_back{
          background-size: 100%;
          padding-inline:20px;
      }
      .shop_back_wrap small{
          font-size: 13px;
      }
      .shop_back_wrap img{
          height: 27px;
          margin-top: -7px
      }
  }
  .sec_header{
      width: 100%;
      text-align: center;
      margin-bottom: 30px;
    padding-inline:15px;
  }
  .sec_header .title{
      color: #E82276;
      line-height: 1;
      margin: 0;
      text-transform: uppercase;
      font-weight: bold;
      font-style: italic;
      font-size: 45px;
  }
  .sec_header .date{
      font-size: 20px;
      color: #1B3D6D;
      line-height: 34px;
      letter-spacing: 6px;
      text-transform: uppercase;
      font-weight: 600
  }
  .special_deal{
      margin-bottom: 57px;
  }
  .special_deal .home_banner img{
      width: 100%;
  }
  .sec_header_2{
      text-align: center;
      background: linear-gradient(180deg, rgba(222, 222, 222, 0) 35.15%, rgba(222, 222, 222, 0.7) 100%);
      margin-bottom: 37px;
  }
  .sec_header_2 .title{
      width: fit-content;
      margin:0 auto;
      position: relative;
      z-index: 9;
      padding: 0;
      padding-inline:60px;
      font-size: 20px;
      color: #fff;
      text-transform: uppercase;
      height: 45px;
      display: flex;
      align-items: center;
      font-weight: 600;
      letter-spacing: 3px;
      width: 260px;
      justify-content: center;
  }
  
  
  .sec_header_2 .title:before{
      height: 45px;
      content:'';
      position: absolute;
      width: 100%;
      left: 0;
      top: 2px;
      background-image: url('https://cdn.shopify.com/s/files/1/0234/7089/9277/files/title_bg.svg?v=1725982901');
      z-index: -1;
      background-position:center;
      background-repeat: no-repeat;
      background-size: 260px ;
  }
  .sec_header_2 .title span{
      margin-bottom: -6px
  }
  .highlignt_sec{
      margin-bottom: 66px;
  }
  .highlignt_sec .container .sec_content{
      max-width:850px;
      width: 100%;
      margin: 0 auto;
      background-color: #F8F8F8;
      border-radius: 12px;
      padding: 30px 40px;
  }
  
  .highlignt_sec .sec_content .list{
      list-style: none;
      margin: 0;
      padding: 0;
  }
  .highlignt_sec .sec_content .list .item{
      font-size: 18px;
      line-height: 23px;
      letter-spacing: 0.3px;
      color: #1B3D6D;
      margin-bottom: 15px;
      position: relative;
      padding-left: 30px;
  }
  .highlignt_sec .sec_content .list .item:last-child{
      margin-bottom: 0 
  }
  .highlignt_sec .sec_content .list .item:before{
      content: '';
      width: 16px;
      height: 16px;
      background-image: url('https://cdn.shopify.com/s/files/1/0234/7089/9277/files/right_arrow.svg?v=1725983534');
      position: absolute;
      left: 0;
      top: 3px;
  }
  .vouchers_sec{
      margin-bottom: 100px
  }
  .vouchers_sec .container{
      max-width:1398px;
      width: 100%;
      margin: 0 auto;
      display: block;
    padding-inline:15px;
  }
  .vouchers_sec .sec_content p.sec_content_title{
    text-align: center;
    font-size: 19px;
    line-height: 23px;
    color: #1B3D6D;
    margin-bottom: 20px;
    font-weight: 700;
    margin-top: 45px;
    letter-spacing: 0.57px;
  }
  .vouchers_sec .sec_content .list{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      list-style: none;
      padding: 0;
      margin: 0;
      gap:14px;
  }
  .vouchers_sec .sec_content .list.two-column{
      display: grid;
      grid-template-columns: 1fr 1fr;
      list-style: none;
      padding: 0;
      margin: 0 20%;
      gap:14px;
  }
  .vouchers_sec .sec_header_2 .title {
    width: 315px;
}
  .vouchers_sec .sec_header_2 .title:before {
    background-image: url(https://cdn.shopify.com/s/files/1/0234/7089/9277/files/bg-extra.png?v=1727430247);
    background-size: 290px;
}
  .vouchers_sec .sec_content .list .item-img{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
  }
  .vouchers_sec .sec_content .list .item.shopee{
    background: #FF3407;
  }
  .vouchers_sec .sec_content .list .item.atome{
    background: #F0FF5F;
  }
  .vouchers_sec .sec_content .list .item{
      display: flex;
      align-items: end;
      box-shadow: 2px 2px 4px 0px #00000040;
      border-radius: 11px;
      padding: 4px;
      position: relative;
      margin: 0;
    background:#f8f8f8;
  }
  .vouchers_sec .sec_content .list .item:{
      
  }
  .vouchers_sec .sec_content .list .item_wrap{
      border: 3px solid #4274AF;
      height: 100%;
      width: 100%;
      border-radius: 8px;
      padding: 10px 22px;
      display: flex;
      align-items: end;
  }
  .vouchers_sec .sec_content .list .shopee .item_wrap{
      border: 3px solid #fff;
  }
  .vouchers_sec .sec_content .list .atome .item_wrap{
      border: 3px solid #000;
  }
  
  .vouchers_sec .sec_content .list .left{
      flex: 1;
  }
  .vouchers_sec .sec_content .list .left strong{
      font-size: 16px;
      color: #1B3D6D
  }
  .vouchers_sec .sec_content .list .shopee .left strong{
      font-size: 16px;
      color: #fff;
  }
  .vouchers_sec .sec_content .list .atome .left strong{
      font-size: 16px;
      color: #000;
  }
  .vouchers_sec .sec_content .list .left strong  span{
      color: #E82276
  }
  .vouchers_sec .sec_content .list .shopee .left strong  span{
      color: #fff
  }
  .vouchers_sec .sec_content .list .atome .left strong  span{
      color: #000
  }
  .vouchers_sec .sec_content .list .left p{ 
      font-size: 12px;
      line-height: 1.2;
      margin-bottom: 0;
      min-height: 29px;
      color: #414042
  }
  .vouchers_sec .sec_content .list .shopee .left p{
    color:#fff
  }
  .vouchers_sec .sec_content .list .atome .left p{
    color:#000
  }
  .vouchers_sec .sec_content .list .left small{
      color: #808080;
      font-size: 12px;
      line-height: 1.2;
  }
  .vouchers_sec .sec_content .list .shopee .left small{
    color:#fff
  }
  .vouchers_sec .sec_content .list .atome .left small{
    color:#000
  }
  .vouchers_sec .sec_content .list .t_and_c a{
      font-size: 14px;
      color: #808080;
      line-height: 1.2;
      text-decoration: underline;
  }
  .vouchers_sec .sec_content .list .shopee .t_and_c a{
    color:#fff
  }
  .vouchers_sec .sec_content .list .atome .t_and_c a{
    color:#000
  }
  .special_deal_content{
      background-color: #DEDEDE;
      max-width: 1265px;
      width: 100%;
      margin: 0 auto;
      padding: 30px;
  }
  .special_deal_list{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      list-style: none;
  }
  .special_deal .date{
      letter-spacing: 0;
      font-size: 19px;
      margin-top: 10px;
  }
  .special_deal_list .top .save_offer{
      width: 83px;
      height: 83px;
      background-color: #E82276;
      display: block;
      border-radius: 50px;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
      font-size: 18px;
      line-height: 20px;
      font-weight: bold;
      letter-spacing: 2px;
      margin-left: auto
  }
  .special_deal_list .top img{ 
      max-width: 200px;
      margin-top: -25px
  }
  .special_deal_list  .item{
      max-width: 230px;
      width: 100%;
      margin: 0 auto;
      text-align: center;
  }
  .special_deal_list a.product_title {
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    max-width: 165px;
    margin: 0 auto;
    line-height: 1.2;
    margin-bottom: 5px;
    color: #1b3d6d;
    display: block;
    padding: 7px 0;
}
  .special_deal_list .comper_price{
      color: #808080;
      font-size: 15px;
      display: block;
      line-height: 1;
     text-decoration: line-through;
  }
  .special_deal_list .sale_price{
      color: #E82276;
      font-size: 18px;
      font-weight: bold;
  }
  .special_deal .btn_wrap{
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      margin-top: 30px;
  }
  .special_deal .btn_wrap .promo_text{
      color: #1B3D6D;
      font-size: 16px;
      line-height: 23px;
      margin-bottom: 15px;
  }
  .shop_now{
      font-size: 16px;
      background-color: #EE2A7B;
      padding: 16px 40px;
      text-transform: uppercase;
      color: #fff !important;
      font-weight: 600;
      border-radius: 50px;
      letter-spacing: 1px;
      width: fit-content;
      margin: 0 auto;
  }
  .win_car {
      position: relative;
      padding-bottom: 70px;
  }
  .win_car_img{
      width: 100%;
      text-align: center;
      display: flex;
      flex-direction: column;
  }
  .win_car .container{
      max-width: 1024px;
      margin: 0 auto;
      width: 100%;
  }
  .win_car img{
      width: 100%;
  }
  .win_car .win_car_bg{
      position: absolute;
      top: 86%;
      z-index: -1
  }
  .charging_car{
    box-shadow: 0px 4px 10px 0px #00000080;
    border-radius: 10px;
    padding: 30px 50px 44px;
    margin-bottom: 50px;
    background: #F8F8F8;
}
.charging_car .shop_now{
    margin-top: 30px;
    display: block
}
  .why_buy{
      
  }
  .why_buy .container{
      display: block;
      max-width: 1337px;
      width: 100%;
      margin: 0 auto;
    padding-inline:15px;
  }
  .sec_small_header .title{
      color: #1B3D6D;
      font-size: 24px;
      line-height: 28px;
      letter-spacing: 5px;
      font-weight: bold;
      margin-bottom: 33px;
      padding: 0;
      text-align: center
  }
  .why_buy_list{
      padding: 40px ;
      background-color: #1B3D6D;
      margin-bottom: 117px
  }
  .why_buy_list ul{
      color: #fff;
      list-style: none;
      margin: 0;
      padding: 0;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      gap:15px
  }
  .why_buy_list .item{
      display: grid;
      grid-template-columns: 65px 1fr;
      gap:48px;
      align-items: center;
      margin: 0;
      font-size: 20px;
      font-weight: 500;
      letter-spacing: 0.5px;
  }
  .terms_condition{
      max-width: 763px;
      width: 100%;
      margin: 0 auto;
  }
  .terms_condition ul{
      list-style: num;
  }
  .terms_condition ul li{
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.18px;
      color: #222222;
  }
  .search-bottom{
    margin-top: 6rem;
    padding-top: 50px;
    -webkit-box-shadow: 0px -14px 17px 0px rgba(222,222,222,1);
-moz-box-shadow: 0px -14px 17px 0px rgba(222,222,222,1);
box-shadow: 0px -14px 17px 0px rgba(222,222,222,1);
  }
  .search-bottom .container{
    display: block;
    margin: 0 auto;
    text-align: center;
  }
  #gf-form h2{
    display:none !important;
  }
  #gf-form.loaded, .gf-YMM-forms.loaded{
    background: transparent !important;
  }
  .apply_checkout{
    display: none
}
  .search-bottom .title{
        font-size: 40px;
    letter-spacing: 3px;
    color: #E82276;
    font-weight: 700;
    font-style: italic;
    margin-bottom: 0;
  }


  .deals_wrap + .deals_wrap{
    margin-top:20px
  }
    .deals_wrap{
      max-width:1246px;
      width: calc(100% - 40px);
      margin: 0 auto;
      background-color: #DEDEDE;
      padding: 33px 33px 20px;
      border-radius: 22px;
  }
  .deals_wrap_row.two-row {
    grid-template-columns: 1fr 67px 1fr;
    max-width: 64%;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 20px;
}
  .deals_wrap_row{
      display: grid;
      grid-template-columns: 1fr 67px 1fr 67px 1fr;
      gap:13px;
      align-items: center;
      margin-bottom: 20px;
  }
  .deals__item:nth-child(odd){
      background-color: #F8F8F8;
      box-shadow: 4px 7px 11.8px -4px #00000040;
      border-radius: 20px;
      text-align: center;
      padding: 15px;
  }
  .deals__item h6{
      font-size: 16px;
      font-weight: 600;
      margin: 0 0 5px;
      line-height: 1.2
  }
  .deals__item .img_wrap{
      max-width: 200px;
      width: 100%;
      margin: 0 auto;
  }
  .deals__item .img_wrap img{
      width: 100%;
  }
  .deals__item .detail{
      display: flex;
      flex-direction: column
  }
  .deals__item .old_price {
      text-decoration: line-through;
      color: #808080;
      display: block;
      line-height: 1
  }
  .deals__item .new_price{
      color: #E82276;
      font-size: 18px;
      font-weight: 600;
  }
  .deals_wrap .save_price{
      text-align: center;
      display: flex;
      justify-content: center;
      flex-direction: row;
      align-items: center;
  }
  .deals_wrap .left_price{
      display: flex;
      flex-direction: column;
      padding: 0 10px;
  }
  .deals_wrap .left_price .old_price{
      color: #808080;
    text-decoration: line-through;
  }

  .deals_wrap .left_price .new_price{
      color: #E82276;
      font-size: 18px;
      font-weight: 600;
  }
  .deals_wrap .save_label{
      background-color: #E82276;
      width: 75px;
      height: 75px;
      font-size: 18px;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      line-height: 1.1;
      border-radius: 50px;
      padding: 0 10px;
      font-weight: 600
  }

  .special_deal .shop_now{
      margin-top: 32px;
  }
  .special_deal .shop_now a{
      color: #fff
  }
@media(max-width:1260px){
    .win_car_img{
        padding-inline:20px
    }
    .why_buy_list .item{
        gap:20px;
        grid-template-columns: 50px 1fr;
        font-size: 18px
    }
    .why_buy_list .item img{
        width: 100%;
    }
  .special_deal_list{
        margin: 0;
        padding: 0
    }
  .deals_wrap_row {
      grid-template-columns: 1fr 40px 1fr 40px 1fr;
  }
}

@media(max-width:1024px){
    .why_buy_list ul{
/*         grid-template-columns: 1fr 1fr; */
    }
    .why_buy_list{
        padding: 20px 20px;
    }
    .why_buy_list .item{
        grid-template-columns: 1fr;
        text-align: center;
    }
    .why_buy_list .item img{
        max-width: 60px;
        margin: 0 auto
    }
    .vouchers_sec .sec_content .list{
        grid-template-columns: 1fr 1fr
    }
  .vouchers_sec .sec_content .list.two-column{
        grid-template-columns: 1fr 1fr
    }
}
@media(max-width:767px){
  .deals_wrap_row.two-row{
    max-width: 100%;
  }
    .deals__item h6{
          overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      max-height: 46px;
    }
    .deals__item .new_price{
          font-size: 16px;
    }
    .win_car .win_car_bg{
        top: 74%
    }
  .charging_car{
    padding: 20px 20px 20px;
    margin:10px auto 40px;
    width: calc(100% - 20px)
}
.charging_car .shop_now{
    margin-top: 20px;
}
    .why_buy_list{
        margin-inline:-15px;
        padding-block:50px;
        margin-bottom: 50px
    }
    .why_buy_list .item{
        grid-template-columns:60px 1fr;
        text-align: left;
        gap:40px;
        font
    }
    .why_buy_list ul{
        grid-template-columns: 1fr;
        max-width: 250px;
        margin: 0 auto;
        gap:20px;
    }
    .special_deal_list{
        grid-template-columns: 1fr 1fr;
        gap:30px 20px
    }
    .sec_header{
        margin-bottom: 25px;
    }
    
    .special_deal .date{
        font-size: 16px;
    }
    .special_deal .sec_header .title{
        font-size: 37px;
        max-width: 300px;
        width: 100%;
        margin: 0 auto;
    }
    .special_deal_list .top .save_offer{
        font-size: 14px;
        width: 58px;
        height: 58px;
        line-height: 14px;
        z-index: 9999
    }
    .special_deal_list .comper_price,
    .special_deal_list .sale_price,
    .special_deal_list a.product_title{
        font-size: 14px;
        display: block;
    }
    .sec_header_2{
        margin-bottom: 17px;
    }
    .sec_header_2 .title{
        font-size: 16px;
        overflow: hidden;
        font-size: 16px
    }
    .vouchers_sec {
        margin-bottom: 80px;
    }
    .vouchers_sec .sec_content .list{
        grid-template-columns: 1fr;
        max-width: 339px;
        width: 100%;
        margin: 0 auto
    }
  .vouchers_sec .sec_content .list.two-column{
        grid-template-columns: 1fr;
        max-width: 339px;
        width: 100%;
        margin: 0 auto
    }
    .highlignt_sec {
        margin-bottom: 56px;
    }
    .highlignt_sec .container{
        padding-inline:15px;
    }
    .highlignt_sec .container .sec_content{
        padding: 30px 25px 20px;
    }
    .highlignt_sec .sec_content .list .item{
        font-size: 16px;
        margin-bottom: 8px;
    }
    .special_deal {
        margin-block:20px 52px;
    }
    .special_deal .sec_header{
        margin-bottom: 5px
    }
    .shop_now{
        font-size: 15px;
        padding-block:11px
    }
    .vouchers_sec .sec_header_2{
        margin-bottom: 6px;
    }
    .apply_checkout{
        display: block;
        text-align: center;
        margin-bottom: 17px;
        color: #1B3D6D !important;
        font-size: 16px;
        line-height: 24px;
    }
    .sec_small_header .title {
      font-size: 18
        px;
      margin-bottom: 15px;
  }
  .search-bottom .title{
        font-size: 36px;
    width: 65%;
    line-height: 35px;
  }
  .deals_wrap_row{
      display: flex;
      flex-wrap: wrap;
      position: relative;
      gap:0 10px
  }
  .deals_wrap_row .pluse_2{
      display: none;
  }
  .deals_wrap_row .deals__item:nth-child(1){
      width: 100%;
      margin-bottom: 10px
  }
  .deals_wrap_row .deals__item:nth-child(3),
  .deals_wrap_row .deals__item:nth-child(5){
      flex: 1;
    padding: 9px;
  }
  .pluse_1{
  /*     position: absolute */
      width: 100%;
      text-align: center
  }
  .deals__item.pluse_1 .img_wrap{
      height: 0;
      margin-top: -40px;
      z-index: 99;
      position: relative
  }
  .deals__item.pluse_1 .img_wrap img{
      width: 67px;
      width: 60px;
          position: relative;
          top: 5px;
  }
  .deals_wrap{
      padding: 15px;
  }
  .deals_wrap .save_price{
      justify-content: space-between;
  }
  .deals_wrap .save_price.bundle_price{
      justify-content: center;
    margin: 30px 0;
  }
  .deals_wrap .left_price{
      text-align: left;
  }
  .deals_wrap .save_price.bundle_price .left_price{
      text-align: center;
      line-height:30px;
  }
  .deals_wrap .left_price .old_price{
      font-size: 22px;
  }
  .deals_wrap .left_price .new_price{
      font-size: 27px
  }
}

</style>





