<div class="container main content">
  <div class="sixteen columns page clearfix">
<section class="container banner text-center section">
  <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Car-Club-banner.webp?v=1655883675"
       alt="Car Club Purchase">
</section>
<section class="container text text-center">
  <div class="desc">
    <p>Trapo Car Club started December 2021 to support Automotive Industries in Malaysia.
      Car clubs have been a form of gathering car aficionados for many years that focus a passion for a
      certain type of car or driving activity. </p>            
  </div>
  <div class="key-benefits">
    <div class="py-3"><span class="title">Key Benefits</span></div>
    <div class="row">
      <div class="col-lg-3 col-6 k-b">
        <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Car-Club-Benefit-1.webp"
             alt=""><span class="k-t">Exclusive Discount</span>
      </div>
      <div class="col-lg-3 col-6 k-b">
        <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Car-Club-Benefit-2.webp"
             alt=""><span class="k-t">Website Exposure</span>
      </div>
      <div class="col-lg-3 col-6 k-b">
        <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Car-Club-Benefit-3.webp"
             alt=""><span class="k-t">Special Campaign</span>
      </div>
      <div class="col-lg-3 col-6 k-b">
        <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Car-Club-Benefit-4.webp"
             alt=""><span class="k-t">Personalised Service</span>
      </div>

    </div>
  </div>
</section>
<section class="container car-club">
  <div class="content text-center">
    <div class="py-3"><span class="title">Car Club Collaborated</span></div>
    <div class="row">
      <div class="col-lg-3 col-6 c-c-c">
        <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Car-Club-1.webp?v=1655883417"
             alt="">
      </div>
      <div class="col-lg-3 col-6 c-c-c">
        <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Car-Club-2.webp?v=1655883417"
             alt="">
      </div>
      <div class="col-lg-3 col-6 c-c-c">
        <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Car-Club-3.webp?v=1655883417"
             alt="">
      </div>
      <div class="col-lg-3 col-6 c-c-c">
        <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Car-Club-4.webp?v=1655883417"
             alt="">
      </div>
      <div class="col-lg-3 col-6 c-c-c">
        <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Car-Club-5.webp?v=1655883417"
             alt="">
      </div>
      <div class="col-lg-3 col-6 c-c-c">
        <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Car-Club-6.webp?v=1656036397"
             alt="">
      </div>
      <div class="col-lg-3 col-6 c-c-c">
        <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Car-Club-7.webp?v=1656036397"
             alt="">
      </div>

    </div>
  </div>
</section>
<section class="container car-club-form text-center">
  <div class="py-2"><span class="title">Form</span></div>
  <div style="margin:0 auto;" class="pxFormGenerator" id="xwoEGCTvAtA75qNM76wHbg"></div>
  <div>
  <p>Scan the QR code below to talk to a representative.</p>
  <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/car-club-whatsapp-qr.webp?v=1655895032" alt="https://wa.me/message/YTOBQKO4RFOCH1">
  <br><span style="font-weight:600">OR</span><br><br>
  <a href="https://wa.me/message/YTOBQKO4RFOCH1" class="btn-click">Click here to talk to a representative</a>
  </div>
</section>
</div>
</div>

<style>
  .container.text.text-center,.container.car-club-form{
    display:unset;
  }
  .car-club-form img{
    width: 25%;
  }
  
  .btn-click{
    padding: 10px;
    border-radius: 50px;
    color: white !important;
    border: none;
    width: 130px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Roboto';
    background-color: #E12B7B;
    font-weight: 600;
    font-size:12px;
  }
  
  .container{
    padding-left: unset;
    padding-right: unset;

  }
  .container .key-benefits div .title,
  .car-club .content div .title,
  .car-club-form .title{
    background-color: #173f6d;
    color: white;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 2rem;
    padding: 10px;
    border-radius: 10px;
    font-family: 'Roboto' !important;
    margin: 0 auto;    
    display: block;    
    inline-size: fit-content;
  }
  .text .title{width: 20%}
  .car-club .title{width: 40%}
  .car-club-form .title{width: 15%}

  .banner img {
    width: 100%;    
  }

  .text .desc p,
  .container .key-benefits .row,
  .container .car-club {
    padding: 1% 8%;
  }

  .container .key-benefits .row .k-b img {
    width: 50px;
    vertical-align: middle;
  }
  .container .key-benefits .row .k-b span{
    font-size: 1rem;
    padding: 0 0 0 5px;
  }

  .container .key-benefits .row {
    padding: 0 15%;
  }

  .container .car-club .row>* {
    padding-left: unset;
    padding-right: unset;
  }

  section.container.car-club .content .row .c-c-c img {
    width: 100%;
    padding: 5px;
  }

.car-club-form{
  margin-bottom:25px;
}
  @media screen and (max-width: 500px) {
    .banner{
      margin-top: 0;
    }
    .car-club-form img{
      width: 50%;
    }
    .banner img {
      width: 100%;
      height: auto;
    }
    .text .title{width: 50%}
    .car-club .title{width: 70%}
    .car-club-form .title{width: 30%}

    .container .text .desc,
    .container .key-benefits .row,
    .container .car-club,
    section.container.car-club .content .row {
      padding: 0 0;
      --bs-gutter-x: 0.5rem;
    }

    section.container.car-club .content .row .c-c-c img {
      width: 100%;
      padding: 6px 0px 0px;
    }

    .container .key-benefits .row .k-b {
      display: flex;
      align-content: center;
      justify-content: center;
      align-items: center;
      padding: 10px 15px;
    }

    .container .key-benefits div .title,
    section.car-club .content div .title,
    .car-club-form .title{
      font-size: 1.3rem;
    }
  }
</style>


{% schema %}
{
"name": "Car Club",
"settings": [],
"presets": [
{
"name": "Car Club",
"category": "Additional Sections"
}
]
}
{% endschema %}

