<section class="new_car">
  <div class="container">
    <img
      class="lazyload new_car_logo"
      data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/new_car_package_1.png?v=1717602578"
      alt=""
    >
    <h2 class="new_car_title">just got a new car?</h2>
    <p class="new_car_desc">
      Feeling overwhelmed about where to start to get the best driving experience? <br>
      Explore our all-in-one new car packages for a hassle-free solution.
    </p>
    <div class="btn_list">
      <span
        ><img
          class="lazyload"
          data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_476.png?v=1717602784"
          alt=""

        >Tint</span
      >
      <span
        ><img
          class="lazyload"
          data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_476.png?v=1717602784"
          alt=""

        >PPF</span
      >
      <span
        ><img
          class="lazyload"
          data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_476.png?v=1717602784"
          alt=""

        >Coat</span
      >
      <span
        ><img
          class="lazyload"
          data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_476.png?v=1717602784"
          alt=""

        >Car Mat</span
      >
      <span
        ><img
          class="lazyload"
          data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_476.png?v=1717602784"
          alt=""

        >Dashcam</span
      >
    </div>
    <h3 class="starting_from">Starting from <span>RRP RM2867.90</span></h3>
    <h2 class="rm_price">RM 1,999.90 ONLY!*</h2>
  </div>
</section>

<section class="car_blk">
  <div class="container">
    <div class="image-wrap">
      <div class="image">
        <img
          class="lazyload desk_view"
          data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/1438971374_-_Car_Top_View_1_e52ce07a-4d82-4af5-b839-e47eca671186.png?v=1717602665"
          alt=""
        >
        <img
          class="lazyload mobile_view"
          data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/1438971374_-_Car_Top_View_1_2.png?v=1717641089"
          alt=""
        >
      </div>
      <div class="shoppable_blk">
        <div class="shoppable-wrapper" style="top:30%;left:25%;">
          <div class="dot_wrap">
            <span class="dot"></span>
          </div>
          <a class="ing_tooltip" href="/pages/car-mats">
            <div class="left">
              <p class="productname">Car Mats</p>
              <span class="short-description">Trapo Eco Mat (Driver + Front Passenger)</span>
              <small class="price">RRP: From RM 199.90</small>
            </div>
          </a>
        </div>
        <div class="shoppable-wrapper" style="top:66%;left: 9%;">
          <div class="dot_wrap">
            <span class="dot"></span>
          </div>
          <a class="ing_tooltip" href="/pages/trapo-ppf">
            <div class="left">
              <p class="productname">PPF Film</p>
              <span class="short-description">Headlights, side mirror & door cup</span>
              <small class="price">RRP: From RM 760</small>
            </div>
          </a>
        </div>
        <div class="shoppable-wrapper dashcam" style="top:44%;left: 41%;">
          <div class="dot_wrap">
            <span class="dot"></span>
          </div>
          <a class="ing_tooltip" href="/products/trapo-i-sight-t350-dashcam">
            <div class="left">
              <p class="productname">Dashcam</p>
              <span class="short-description">T-350 (Front-Only)</span>
              <small class="price">RRP: From RM 219</small>
            </div>
          </a>
        </div>
        <div class="shoppable-wrapper" style="top:15%;right: 22%;">
          <div class="dot_wrap">
            <span class="dot"></span>
          </div>
          <a class="ing_tooltip" href="/pages/trapo-car-tint">
            <div class="left">
              <p class="productname">Tint Film</p>
              <span class="short-description">Trapo Crystal Tint</span>
              <small class="price">RRP: From RM 750</small>
            </div>
          </a>
        </div>
        <div class="shoppable-wrapper" style="top:72%;right: 14%;">
          <div class="dot_wrap">
            <span class="dot"></span>
          </div>
          <a class="ing_tooltip" href="/pages/trapo-car-coating">
            <div class="left">
              <p class="productname">Car Coating</p>
              <span class="short-description">Trapo Quik Coat</span>
              <small class="price">RRP: From RM 699</small>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="package_incl">
  <h2>
    <img
      class="lazyload"
      data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_476.png?v=1717602784"
      alt=""

    >PACKAGE INCLUDE:
  </h2>
  <div class="container">
    <div class="package_incl_row">
      <div class="item tint_film">
        <h6>
          TRAPO crystal <br>
          tint film
        </h6>
        <div class="img">
          <img
            class="lazyload"
            data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/tnt.png?v=1717664760"
            alt=""
          >
        </div>
        <p>
          Our self-healing film protects your car from minor bumps and scrapes. Heat activates the film to make
          scratches disappear.
        </p>
      </div>
      <div class="item ppf_film">
        <h6>
          TRAPO pro+ <br>
          PPF FILM
        </h6>
        <div class="img">
          <img
            class="lazyload"
            data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/ppf.png?v=1717664760"
            alt=""
          >
        </div>
        <p>
          Protect yourself from the heat and UV rays that are harmful to your skin and can cause your car interior to
          fade and crack over time.
        </p>
      </div>
      <div class="item crystal_tint">
        <h6>
          TRAPO QUIK COAT <br>
          SPRAY COATING
        </h6>
        <div class="img">
          <img
            class="lazyload"
            data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/coat.png?v=1717664764"
            alt=""
          >
        </div>
        <p>Keep your car's original paint looking new for longer with our protective paint coatings.</p>
      </div>
      <div class="item eco_tint">
        <h6>
          TRAPO ECO III <br>
          CAR MAT
        </h6>
        <div class="img">
          <img
            class="lazyload"
            data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/image_71.png?v=1717602664"
            alt=""
          >
        </div>
        <p>
          Upgrade your interior with our anti-bacterial car mats. Protect your car floorboards with our advanced
          anti-slip technology.
        </p>
      </div>
      <div class="item front_dashcam">
        <h6>
          TRAPO I-SIGHT t350 <br>
          front dashcam
        </h6>
        <div class="img">
          <img
            class="lazyload"
            data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/image_72.png?v=1717602664"
            alt=""
          >
        </div>
        <p>
          Upgrade your vehicle's security with our dashcams. Enjoy advanced surveillance, heat-resistant technology, and
          convenient voice activation for effortless control and peace of mind.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="tint_brochure">
  <div class="container">
    <div class="top">
      <h3 class="starting_from">Starting from <span>RRP RM2867.90</span></h3>
      <h2 class="rm_price">RM 1,999.90 ONLY!*</h2>
      <span class="main-span">Get in touch with us to learn all about our package prices and what's included</span>
      <a href="https://wa.link/0d7xvv" class="cstm_btn">BOOK NOW</a>
    </div>
    <div class="bottom">
      <h2>0% INSTALLMENT AVAILABLE!*</h2>
      <img
        class="lazyload desk_view"
        data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_461_1.png?v=1717178734"
        alt=""
      >
      <img
        class="lazyload mobile_view"
        data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_261.png?v=1717348111"
        alt=""
      >
      <span>AND MANY MORE BANKS</span>
    </div>
  </div>
</section>

<h2 class="tint_exo_title">And that's not all.</h2>
<section class="tint_exo">
  <div class="container">
    <img
      class="lazyload"
      data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Layer_3.png?v=1717641061"
      alt=""
    >
    <p>Discover how the Trapo Exosystem can further elevate your experience on the road.</p>
    <a href="/pages/trapo-exosystem">EXPLORE NOW</a>
  </div>
</section>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css">
<script data-src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script data-src="https://cdn.jsdelivr.net/jquery.slick/1.4.1/slick.min.js"></script>

<style>
    .new_car{
      padding-bottom: 60px;
      margin-top: 20px;
    }
    .new_car .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center
    }
    .new_car .new_car_logo{
      display: block;
      margin: 0 auto 68px;
      width: 100%;
      max-width: 500px;
    }
    .new_car .new_car_title{
      font-size: 32px;
      line-height: 30px;
      letter-spacing: 2px;
      margin-bottom: 14px;
        font-weight: 600;
        text-transform: uppercase;
    }
    .new_car .new_car_desc{
      margin-bottom: 50px;
        color: #1B3D6D;
        text-align: center;
        font-size: 16px;
        line-height: 24px;
    }
    .new_car .btn_list{
      display: flex;
      align-items: center;
      gap: 10px;
      margin-bottom: 27px;
      flex-wrap: wrap;
      justify-content: center;
    }
    .new_car .btn_list span{
      display: flex;
      align-items: center;
      gap: 6px;
      border: 1px solid #D9D9D9;
      border-radius: 13px;
      font-size: 21px;
      line-height: 26px;
      letter-spacing: 3px;
      color: #414042;
        min-height: 50px;
        padding: 10px;
        font-weight: 600
    }
    .starting_from{
      font-size: 34px;
      display: flex;
      align-items: center;
      line-height: 51px;
      color: #1B3D6D;
        justify-content: center;
        margin: 0;
        gap:10px;
        font-weight: 300
    }
    .starting_from span{
      color: #808080;
      text-decoration: line-through;
    }
    .rm_price{
      font-size: 59px;
      line-height: 68px;
      color: #E82276;
        margin: 0;
        font-weight: bold;
    }

    .image-wrap{
        max-width: 912px;
        width: 100%;
        position: relative;
        margin: 0 auto;
    }
    .image-wrap img{
        width: 100%
    }
        .shoppable-wrapper{
            position: absolute;
            top: 0;
        }

        .shoppable-wrapper .dot{
            width: 28px;
            height: 28px;
            background-color: #E81F76;
            border: 7px solid #fff;
            display: block;
            border-radius: 50px;
        }
        .shoppable-wrapper .dot:before{
            content: '';
            width: 34px;
            height: 34px;
            border: 1px solid #fff;
            position: absolute;
            top: -3px;
            right: -3px;
            border-radius: 50px;
        }
        .shoppable-wrapper .ing_tooltip{
            position: absolute;
            background-color: #fff;
            filter: drop-shadow(-2px 4px 4px rgba(0, 0, 0, 0.45));
            border-radius: 11px;
            min-width: 172px;
            overflow: hidden;
            display: grid;grid-template-columns: 1fr 33px;
            margin-top: 10px;
            left: -50px;
            opacity: 0;
            visibility: hidden;
            pointer-events: none;
            transition: all 0.3s ease-in-out;
            z-index: 99;
        }
        .shoppable-wrapper .ing_tooltip .left{
            padding: 9px 10px 10px 15px;
        }
        .shoppable-wrapper .ing_tooltip .productname{
            margin-bottom: 2px;
            font-size: 13px;
            line-height: 19px;
            color: #1B3D6D;
            font-weight: 600;
        }
        .shoppable-wrapper .ing_tooltip .short-description{
            font-size: 11px;
            color: #1B3D6D;
            display: block;
            line-height: 1;
            margin-bottom: 5px;
        }
        .shoppable-wrapper .ing_tooltip .price{
            font-size: 10px;
            line-height: 1;
            color: #808080;
            display: block;
        }
        .shoppable-wrapper .ing_tooltip .right{
            background-color: #E82276;
            display: flex;
            align-items: center;
            justify-content: center
        }
        .shoppable-wrapper .ing_tooltip .right img{
            width: 10px;
        }
        .shoppable-wrapper:hover{
            padding: 0 0 20px;
        }
        .shoppable-wrapper:hover .ing_tooltip{
            opacity: 1;
            visibility: visible;
            pointer-events: all
        }
        .package_incl .container{
        max-width: 1730px;
    }
    .package_incl .package_incl_row{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        gap:10px;
        text-align: center;;
    }
    .package_incl .package_incl_row img{
        width: 100%;
        display: block;
        max-height: 190px;
        object-fit: cover;
        aspect-ratio:1/1;
        margin-bottom: 19px;
    }
    .package_incl .package_incl_row .item{
        min-height: 456px;
        padding-top: 30px;
        border-radius: 12px;
    }
    .package_incl .package_incl_row h6{
        font-size: 20px;
        font-weight: bold;
        line-height: 21px;
        letter-spacing: 2px;
        margin: 0 auto 14px;
        color: #fff
    }
    .package_incl .package_incl_row p{
        font-size: 16px;
        line-height: 24px;
        padding: 0 20px;
        color: #fff
    }
    .tint_film{
        background-color: #DEDEDE
    }
    .ppf_film{
        background-color: #1B3D6D
    }
    .crystal_tint{
        background-color: #222222
    }
    .eco_tint{
        background-color: #414042
    }
    .front_dashcam{
        background-color: #E82276
    }
    .package_incl .tint_film :is(h6, p){
        color: #1B3D6D
    }
    .package_incl h2{
        text-align: center;
        display: flex;
        align-items: center;justify-content: center;
        gap:10px;
        font-size: 32px;
        font-weight: 600;
        line-height: 30px;
        letter-spacing: 2px;
        margin-bottom: 44px;
    }
    .tint_brochure .rm_price{
        margin-bottom: 50px
    }
    .tint_brochure .top > span{
        margin-bottom: 30px
    }
    .tint_exo_title{
      margin-top: 50px;
      font-size: 20px;
      line-height: 21px;
      letter-spacing: 2px;
      margin-bottom: 30px;
      text-transform: uppercase;
      font-weight: 600;
      text-align: center;
    }
    .tint_exo{
        background-image: url('https://cdn.shopify.com/s/files/1/0234/7089/9277/files/web_header_bg_3.png?v=1717602707');
        min-height: 185px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
          display: flex;
        align-items: center;
    }
    .tint_exo .container{
        display: grid;
        height: 100%;
        align-items: center;
        max-width: 1000px;
        width: 100%;
        margin: 0 auto;
        gap:50px;
        color: #fff;
        grid-template-columns: auto 1fr 24%
    }
    .tint_exo p{
        font-size: 16px;
        line-height: 24px;
    }
    .tint_exo a{
        border: 1px solid #fff;
        text-align: center;
        width: 100%;
        padding: 15px 10px;
        font-size: 14px;
        line-height: 16px;
        color: #fff;
        border-radius: 9px;
    }
    .tint_exo h2{

    }



    .car_blk{
      margin-bottom: 0px;
    }

    .tint_brochure {
        margin-top: 89px;
    }
    .tint_brochure .container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .tint_brochure .top {
        margin-bottom: 50px;
    }
    .tint_brochure .top h1{
        font-size: 60px;
        font-weight: bold;
        line-height: 68px;
    }
    .tint_brochure .top span{
        color: #808080;
        text-transform: normal;
        display: block;

    }

  .tint_brochure .top span.main-span{
    width: 75%;
    margin: 0 auto;
    margin-bottom: 25px;
  }
    .tint_brochure .cstm_btn{
        display: block;
        max-width: 210px;
        font-size: 14px;
        margin: 0 auto;
        width: 100%;
        background-color: #e82276;
        padding: 14px;
        border-radius: 50px;
        color: #fff;
    }
    .tint_brochure .bottom h2{
        font-size: 24px;
        line-height: 24px;
        letter-spacing: 2px;
        margin-bottom: 42px;
        font-weight: bold;
    }
    .tint_brochure .bottom img{
        margin-bottom: 42px;
        width: 100%;
    }
    .tint_brochure .bottom span{
        font-size: 16px;
        color: #808080;
        display: block;
        margin-bottom: 30px
    }
      .how_its_done_row .col img {
        width: 100%;
    }
    .package_incl_row .slide-arrow {
      padding: 0;
      width: 30px;
      height: 25px;
      background: transparent;
      box-shadow: none;
      border: 0;
      position: absolute;
      top: 50%;
      left: 30px;
      transform: translate(0, -50%);
      z-index: 1;
  }
    .package_incl_row .next-arrow {
      right: 20px;
      left: auto;
  }

    .package_incl_row .next-arrow::after {
      content: "";
      position: absolute;
      left: 0;
      z-index: 11;
      display: block;
      width: 20px;
      height: 20px;
      border-top: 3px solid #fff;
      border-left: 3px solid #fff;
      transform: rotate(-225deg);
  }
    .package_incl_row .prev-arrow::after {
      content: "";
      position: absolute;
      left: 0;
      z-index: 11;
      display: block;
      width: 20px;
      height: 20px;
      border-top: 3px solid #fff;
      border-left: 3px solid #fff;
      transform: rotate(-45deg);
  }
  .footer{
    margin-top:0 !important;
  }
</style>

<style>
    @media (min-width:768px) {
    .mobile_view{
      display: none;
    }
  }
  @media (max-width:1280px) {
    .new_car .new_car_logo{
      margin-bottom: 30px
    }
    .starting_from{
        font-size: 28px
    }
    .rm_price{
        font-size: 50px
    }
    .car_blk{
        margin-bottom: 0px;
        overflow: hidden;
    }
    .tint_brochure .top{
        margin-bottom: 70px
    }
    .tint_brochure .rm_price {
        margin-bottom: 30px;
    }
    .tint_exo_title,
    .tint_brochure{
        margin-top: 50px;
    }
  }
  @media (max-width:1024px) {
    .package_incl .package_incl_row{
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
  @media (max-width:767px) {
    .shoppable-wrapper.dashcam{
    top: 54% !important;
  }
    .tint_brochure .top span.main-span{
      width:100%;
    }
    .desk_view{
      display: none;
    }
    .package_incl .package_incl_row{
      grid-template-columns: 1fr
    }

    .new_car .new_car_logo{
      max-width: 265px;
      margin-bottom: 25px;
  }
  .new_car .new_car_title{
      font-size: 20px
  }
  .new_car .new_car_desc{
      max-width: 300px;
      margin-inline:auto;
      width: 100%
  }
  .new_car .new_car_desc br{
      display: none;
  }
  .new_car .btn_list span{
      font-size: 16px;
      min-height: 36px;
      padding: 0 10px
  }
  .starting_from{
      font-size: 16px;
      line-height: 1;
      margin-bottom: 5px;
  }
  .rm_price{
      font-size: 28px;
      line-height: 1;
  }
  .package_incl h2{
      font-size: 20px;
      line-height: 1;
      margin-bottom: 20px
  }
  .tint_brochure .bottom h2{
      max-width: 300px;
      font-size: 20px;
      margin-bottom: 20px
  }
  .tint_brochure .bottom img{
      margin-bottom: 30px;
  }
  .tint_exo {
      background-image: url('https://cdn.shopify.com/s/files/1/0234/7089/9277/files/web_header_bg_4.png?v=1717602730');
      min-height: 387px;
  }
  .tint_exo .container{
      grid-template-columns: 1fr;
      justify-content: center;
      text-align: center;
      gap:20px
  }
  .tint_exo .container p{
      margin:0 auto 40px;
      max-width: 259px;
      width: 100%
  }
  .tint_exo .container img{
      margin: 0 auto
  }
  .tint_exo a{
      max-width: 233px;
      margin: 0 auto
  }
  }
</style>

<script>
  $('.package_incl_row').slick({
    slidesToShow: 1,
    slidesToScroll: 1,
    mobileFirst: true,
    prevArrow: '<button class="slide-arrow prev-arrow"></button>',
    nextArrow: '<button class="slide-arrow next-arrow"></button>',
    responsive: [
          {
                  breakpoint: 768,
                  settings: 'unslick'
          }
    ]
  });
</script>
<!--
  <script>
    mobileOnlySlider(".package_incl_row", true, false, 767);

    function mobileOnlySlider($slidername, $dots, $arrows, $breakpoint) {
    	var slider = $($slidername);
    	var settings = {
    		mobileFirst: true,
    		dots: $dots,
        slidesToShow: 1,
        slidesToScroll: 1,
    		responsive: [
    			{
    				breakpoint: $breakpoint,
    				settings: "unslick"
    			},
          {
            breakpoint:992,
            settings: {
              slidesToShow: 3,
            }
          }
    		]
    	};

    	slider.slick(settings);

    	$(window).on("resize", function () {
    		if ($(window).width() > $breakpoint) {
    			return;
    		}
    		if (!slider.hasClass("slick-initialized")) {
    			return slider.slick(settings);
    		}
    	});
    } // Mobile Only Slider
  </script>
-->
