<div class="page-caracc-custom-outer">
    <section class="car_main_banner">
        <div class="container">
            <div class="accessories_detail">
                <h1>Enhance Style and Functionality: <br> Explore our Range of Car Accessories</h1>
                <a href="/collections/car-accessories" class="shop_defualt">shop car accessories</a>
            </div>
        </div>
    </section>
    <section class="clear_vision">
        <h1 class="accessories_title">A safer drive for your loved ones.</h1>
        <div class="clear_vision_block">
            <div class="img_box">
                <img class="desk_view lazyload" data-src="https://cdn.shopify.com/s/files/1/0549/4112/2809/files/clearvision-1687841817897.png?v=1695963257" alt="">
                <img class="mobile_view1 lazyload" data-src="https://cdn.shopify.com/s/files/1/0549/4112/2809/files/clear-vision-mobile.png" alt="">
            </div>
            <div class="clear_vision_detail">
                <h4>Clear vision, clearer mind.</h4>
                <p>Stay safe with a reliable wiper that provides hydrophobic coating to your windshield.</p>
                <a href="/collections/car-wipers" class="shop_defualt">Explore wipers</a>
            </div>
        </div>
    </section>

    <section class="boost_sec car_accessories">
        <div class="container">
            <h2>Ready-steady-go.</h2>
            <div class="row">
                <div class=" col-lg-9 col-md-8">
                    <div class="clear_vision">
                        <div class="clear_vision_block">
                            <div class="img_box">
                                <img class="desk_view lazyload" data-src="https://cdn.shopify.com/s/files/1/0549/4112/2809/files/Dashcam_for_Accessories_Page.webp?v=1696835215" alt="">
                                <img class="mobile_view1 lazyload" data-src="https://cdn.shopify.com/s/files/1/0549/4112/2809/files/t550-for-website-thumbnail-mobile.webp" alt="">
                            </div>
                            <div class="clear_vision_detail">
                                <h4>Built to take the, Malaysian heat</h4>
                                <p>Super capacitor-powered Trapo Dashcams excel in extreme temperatures.</p>
                                <a href="/collections/car-dash-cams" class="shop_defualt">Explore Trapo Dashcams</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class=" col-lg-3 col-md-4">
                    <div class="boost_col ">
                        <div class="img_box">
                            <img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0549/4112/2809/files/phone-1.png?v=1696835096" alt="Phone Accessories">
                        </div>
                        <div class="boost_detail">
                            <h3>Phone Accessories</h3>
                            <p>Drive with confidence knowing your phone is safe and secure.</p><br><br>
                            <a href="/collections/car-phone-holders">Explore Phone Accessories</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class=" col-lg-3 col-md-6 ">
                    <div class="boost_col ">
                        <div class="img_box">
                            <img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0549/4112/2809/files/purifier.png?v=1695963454" alt="Purify the air">
                        </div>
                        <div class="boost_detail">
                            <h3>Purify the air</h3>
                            <p>Breathe in a wonderland of cleaner air with our specially designed air purifiers.</p><br>
                            <a href="/products/car-motion-sensing-air-purifier">Discover Purifiers</a>
                        </div>
                    </div>
                </div>
                <div class=" col-lg-3 col-md-6 ">
                    <div class="boost_col ">
                        <div class="img_box">
                            <img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0549/4112/2809/files/vaccum.png?v=1695963494" alt="Dust away">
                        </div>
                        <div class="boost_detail">
                            <h3>Dust away</h3>
                            <p>Remove pesky dust effortlessly with our specially designed products.</p><br>
                            <a href="/products/car-cordless-vacuum-pro">Explore Vacuums</a>
                        </div>
                    </div>
                </div>
                <div class=" col-lg-3 col-md-6 ">
                    <div class="boost_col ">
                        <div class="img_box">
                            <img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0549/4112/2809/files/antibac_5a967911-d809-435f-a7df-72b893aeaf8f.png?v=1695963580" alt="Bye-bye germs">
                        </div>
                        <div class="boost_detail">
                            <h3>Bye-bye germs</h3>
                            <p>Eliminate bacteria once and for all with these range of products!</p><br>
                            <a href="/products/car-anti-bacteria-spray">Discover Antibacs</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 ">
                    <div class="boost_col ">
                        <div class="img_box">
                            <img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0549/4112/2809/files/diomite-coaster.png?v=1695963431" alt="Keep it dry">
                        </div>
                        <div class="boost_detail">
                            <h3>Keep it dry</h3>
                            <p>Enjoy your cold beverages without the dripping mess.</p><br>
                            <a href="/products/diatomite-car-coaster">Discover Diatomite Coaster</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="boost_sec car_accessories">
        <div class="container">
            <h2>Car detailing at the comfort of your porch.</h2>
            <div class="row">
                <div class=" col-lg-12">
                    <div class="clear_vision looking_new">
                        <div class="clear_vision_block">
                            <div class="img_box">
                                <img class="desk_view lazyload" data-src="https://cdn.shopify.com/s/files/1/0549/4112/2809/files/car-detailing.png?v=1695963638" alt="">
                                <img class="mobile_view1 lazyload" data-src="https://cdn.shopify.com/s/files/1/0549/4112/2809/files/car-care-banner-mobile.png?v=1695964585" alt="">
                            </div>
                            <div class="clear_vision_detail">
                                <h4>Looking new, always.</h4>
                                <p>Loving that gloss and shine on your car? Check out these bundles, specifically curated to keep your ride beaming 24/7</p>
                                <a href="/collections/car-care-products" class="shop_defualt">Explore car care</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class=" col-lg-3 col-md-6 ">
                    <div class="boost_col ">
                        <div class="img_box">
                            <img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0549/4112/2809/files/dirtoff.png?v=1695963669" alt="Clean and coat">
                        </div>
                        <div class="boost_detail">
                            <h3>Clean and coat</h3>
                            <p>Ultimate car hygiene <br>starts here!</p>
                            <a href="/products/trapo-dirtoff">Discover DirtOFF</a>
                        </div>
                    </div>
                </div>
                <div class=" col-lg-3 col-md-6 ">
                    <div class="boost_col ">
                        <div class="img_box">
                            <img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0549/4112/2809/files/plastguard-new.png?v=1695963695" alt="Bring back that black">
                        </div>
                        <div class="boost_detail">
                            <h3>Bring back that black</h3>
                            <p>Restore and protect your car exterior with Plastiguard</p>
                            <a href="/products/plastiguard-car-coating">Explore PlastiGuard</a>
                        </div>
                    </div>
                </div>
                <div class=" col-lg-3 col-md-6 ">
                    <div class="boost_col ">
                        <div class="img_box">
                            <img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0549/4112/2809/files/streakoff-new.png?v=1695963729" alt="Bye-bye germs">
                        </div>
                        <div class="boost_detail">
                            <h3>Bye-bye germs</h3>
                            <p>Besides windshields, StreakOFF works on shower glass too.</p>
                            <a href="/products/trapo-streakoff">Learn about StreakOFF</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 ">
                    <div class="boost_col ">
                        <div class="img_box">
                            <img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0549/4112/2809/files/customise-1687508597924.png?v=1695962777" alt="Not just for cars">
                        </div>
                        <div class="boost_detail">
                            <h3>Not just for cars</h3>
                            <p>Eliminate stubborn grease and rust once and for all.</p>
                            <a href="/products/ironoff">View IronOFF</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="boost_sec">
        <div class="container">
            <h2>Exciting Partnerships</h2>
            <div class="row">
                <div class=" col-md-6">
                    <div class="boost_col ">
                        <div class="img_box">
                            <img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0549/4112/2809/files/starwars-1687929694118.png?v=1695963849" alt="Star Wars">
                        </div>
                        <div class="boost_detail">
                            <h3>Star Wars</h3>
                            <p>Join the dark side with our limited edition<br>Star Wars car accessories collection!</p>
                            <a href="/collections/star-wars">Shop Now</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="boost_col ">
                        <div class="img_box">
                            <img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0549/4112/2809/files/ctek-1687942373129.png?v=1695963913" alt="CTEK">
                        </div>
                        <div class="boost_detail">
                            <h3>CTEK</h3>
                            <p>Fast. Effective. Versatile. Never go without<br>battery, even on longer road trips.</p>
                            <a href="/products/ctek-time-to-go">Shop Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="boost_sec car_accessories">
        <div class="container">
            <h2>Sharing is Caring</h2>
            <div class="row">
                <div class=" col-lg-12">
                    <div class="clear_vision find_girl">
                        <div class="clear_vision_block">
                            <div class="img_box">
                                <img class="desk_view lazyload" data-src="https://cdn.shopify.com/s/files/1/0549/4112/2809/files/sharing.png?v=1695963988" alt="">
                                <img class="mobile_view1 lazyload" data-src="https://cdn.shopify.com/s/files/1/0549/4112/2809/files/gift-mobile_caa38e74-aa9a-429a-be60-612012ac590d.png?v=1695964668" alt="">
                            </div>
                            <div class="clear_vision_detail">
                                <h4>Find the Perfect Gift!</h4>
                                <p class="gift-p">We've got a little bit of everything for everyone! Explore our bundles and gift card selection for the perfect present.</p>
                                <a href="/products/gift-card" class="shop_defualt">browse selection</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class=" col-lg-3 col-md-6 ">
                    <div class="boost_col ">
                        <div class="img_box">
                            <img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0549/4112/2809/files/egift.png?v=1695964024" alt="eGift Card">
                        </div>
                        <div class="boost_detail">
                            <h3>eGift Card</h3>
                            <p>Can’t decide what they like? Let them choose instead! Send a gift card to a loved one today</p>
                            <a href="/products/gift-card">Shop Now</a>
                        </div>
                    </div>
                </div>
                <div class=" col-lg-3 col-md-6 ">
                    <div class="boost_col ">
                        <div class="img_box">
                            <img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0549/4112/2809/files/carcare.png?v=1695964050" alt="Pick your mix!">
                        </div>
                        <div class="boost_detail">
                            <h3>Pick your mix!</h3>
                            <p>Enjoy choosing the perfect match to your car care needs<br><br></p>
                            <a href="/collections/bundle">Shop Car Care Series</a>
                        </div>
                    </div>
                </div>
                <div class=" col-lg-3 col-md-6 ">
                    <div class="boost_col ">
                        <div class="img_box">
                            <img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0549/4112/2809/files/carspa.png?v=1695964069" alt="Car Spa DIY Kit">
                        </div>
                        <div class="boost_detail">
                            <h3>Car Spa DIY Kit</h3>
                            <p>Indulge your car with a glossy experience.<br><br></p>
                            <a href="/products/bundle-at-home-car-spa-diy-kit">Shop Car Spa Bundle</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 ">
                    <div class="boost_col ">
                        <div class="img_box">
                            <img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0549/4112/2809/files/joinstarwars.png?v=1695964090" alt="Join the Dark Side!">
                        </div>
                        <div class="boost_detail">
                            <h3>Join the Dark Side!</h3>
                            <p>Expand your Star Wars geeky collection with our Disney limited edition car accessories</p>
                            <a href="/collections/star-wars">Shop Star Wars Collection</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% comment %}<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
{{ 'jquery.magnific-popup.js' | asset_url | script_tag }}
{{ 'magnific-popup.css' | asset_url | stylesheet_tag }}
<script>

    $('.popup-youtube').magnificPopup({
        disableOn: 700,
        type: 'iframe',
        mainClass: 'mfp-fade',
        removalDelay: 160,
        preloader: false,
        fixedContentPos: true
    });

</script>{% endcomment %}
<style>
  .car_main_banner .container{
  background-image:url('https://my.trapo.asia/cdn/shop/files/header_accessories-1689326700499.webp?v=1690782923') ;
}
  .page-caracc-custom-outer .container{
        position: relative;
    margin: 0 auto;
    display: inherit;
  }
    .car_main_banner{
        margin-inline: 0;
        max-width: unset;
    }
.car_main_banner .container{
    max-width: unset;
    background-size: cover;
    padding-block:155px;
    text-align: center;
    background-repeat: no-repeat;
}

.car_main_banner h1{
    font-size: 60px;
    color: #fff;
    font-family: "Roboto" !important;
    font-weight: 400 !important;
    line-height: 112%;
    margin-bottom: 40px;
  text-transform: inherit;
      letter-spacing: 0;
}
.shop_defualt{
    font-size: 16px !important;
    line-height: 1.5em !important;
    font-family: "Roboto" !important;
    font-weight: 500 !important;
    color: #fff !important;
    border: 1px solid #fff;
    padding: 10px 25px;
    border-radius: 4px;
  text-transform: capitalize;
    letter-spacing: 0;
}
.car_main_banner .accessories_detail .shop_defualt{
    text-transform: uppercase;
}
.accessories_title {
    font-family: "Roboto" !important;
    font-weight: 400;
    color: #16406d;
    font-size: 46px;
    margin-block:50px 20px;
    text-align: center;
    line-height: 112%;
    text-align: center;
  text-transform: inherit;
    letter-spacing: 0;
}
.clear_vision.find_girl
.clear_vision.looking_new,
.boost_sec.car_accessories .clear_vision{
    padding-inline: 5px;
}
.clear_vision .clear_vision_block{
    position: relative
}
.clear_vision .img_box img {
    width: 100%;
    max-height: 435px;
    display: block;
    object-fit: cover;
}
.clear_vision .clear_vision_detail{
    position: absolute;
    top: 40%;
    left: 10%;
    transform: translate(-10%, -40%);
}
.clear_vision h4{
    font-size: 46.64px;
    color: #fff;
    font-family: "Roboto" !important;
    font-weight: 700 !important;
    line-height: 112%;
    margin-bottom: 30px;
    max-width: 350px;
  text-transform: inherit;
    letter-spacing: 0;
}
.clear_vision p{
    font-size: 22px !important;
    font-family: "Roboto" !important;
    font-weight: 500;
    color: #fff;
    max-width: 400px;
    text-align: left !important;
    line-height: 122% !important;
    padding-bottom: 30px;
}
.boost_sec .boost_col img{
    width: 100%;
    display: block;
}
.boost_sec .boost_col{
    background: #f7f7f7;
    text-align: center;
    height: 100%;
}
.boost_sec .boost_col .boost_detail{
    padding-inline:25px;
}
.boost_sec .boost_col h3{
    color: #000;    
    padding-bottom: 0;
    line-height: 26px;
    padding-top: 20px;
    font-family: "Roboto" !important;
    font-weight: 600;
    font-size: 24px;
      text-transform: inherit;
    letter-spacing: 0;
}
.boost_sec .boost_col p {
    text-align: center;
    font-size: 15px !important;
    line-height: 18px !important;
    color: #000 !important;
    font-family: "Roboto" !important;
    font-weight: 400 !important;
    padding: 0 !important;
  margin-bottom:2rem;
}
.boost_sec .boost_col a{
    font-size: 16px;
    color: #000;
    margin-bottom: 15px;
    display: block;
    text-decoration: underline;
    font-family: "Roboto" !important;
    font-weight: 600 !important;
    letter-spacing: 1px;
}
.boost_sec h2{        
        font-family: "Roboto" !important;
        font-weight: 400;
        color: #16406d;
        font-size: 46px;
        margin-bottom: 15px;
        text-align: center;
        line-height: 112%;
        text-align: center;  
  text-transform: inherit;
    letter-spacing: 0;
    }
    .car_accessories .clear_vision .clear_vision_block{
    padding: 0
}
.clear_vision.find_girl, .clear_vision.looking_new {
    padding-bottom: 20px;
}
.clear_vision.find_girl p,
.clear_vision.find_girl h4{
    color: #000;
}
.clear_vision.find_girl a.shop_defualt{
    color: #000 !important;
    border-color: #000;
    text-transform: capitalize;
    display: inline-block;
}
.boost_sec :is(.col-lg-3 , .col-lg-6, .col-lg-9, .col-lg-12) {
    padding-inline: 5px;
}
@media(max-width:1440px){
  .page-caracc-custom .page-caracc-custom-outer .container{
    max-width:100% !important;
    padding-inline: 20px;
  }
	.clear_vision p{
	    padding-bottom: 10px;
	    font-size: 20px !important;
	}
	
	.clear_vision h4 {
	    font-size: 46.64px;
	    line-height: normal;
	    margin-bottom: 10px;
	    max-width: 350px;
	}
    .car_accessories .clear_vision, .clear_vision :is(.clear_vision_block, .img_box, img) {
    height: 100%;
}
.car_main_banner .container {
    background-repeat: no-repeat;
}
}
@media(max-width:1024px){
    .car_main_banner {
    margin-inline: 0;
    max-width: unset;
}
}
@media(max-width:991px){
    .clear_vision h4 {
        font-size: 34px;
    }
    .clear_vision:is(.find_girl, .looking_new) {
        padding: 0 5px 20px;
    }
    .boost_sec :is(.col-lg-3 , .col-lg-6, .col-lg-9, .col-lg-12) {
        padding-inline: 10px;
    }
    .clear_vision.find_girl
    .clear_vision.looking_new, .boost_sec.car_accessories .clear_vision {
        padding-inline: 0;
    }
    .boost_sec .row {
        margin-inline: -20px;
    }
}
@media(min-width:768px){
    .mobile_view1{
        display: none !important;
    }
}
@media(max-width:767px){
  .car_main_banner h1{
        font-size: 28px;
    font-weight: 600 !important;
    line-height: 32px;
    text-align: center;
  }
  .accessories_title{
    font-size: 32px;
        padding-inline: 25px;
  }
    .desk_view{
        display: none !important;
    }
    .boost_sec .row {
        margin-inline: -10px;
        margin-bottom: 0;
    }
    .boost_sec :is(.col-lg-3 , .col-lg-6, .col-lg-9, .col-lg-12, .col-md-6){
        padding-bottom: 20px;
    }
    .clear_vision .clear_vision_detail {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, -20%);
        padding-inline: 30px;
        text-align: center;
        width: 100%;
    }
    .clear_vision h4{
        max-width: 230px;
    margin: 0 auto;
    margin-bottom: 10px!important;
    text-align: center!important;
    font-size: 30px!important;
    line-height: 34px!important;
    }
    .container.content p{
        text-align: center !important;
        margin: 0 ;
    }
    .clear_vision .clear_vision_detail {
        position: absolute;
        bottom: 0;
        left: 50%;
        top: unset;
        transform: translate(-50%, -20%);
        padding-inline: 30px;
        text-align: center;
        width: 100%;
    }
    .clear_vision:is(.find_girl, .looking_new) {
    padding: 0;
}
.boost_sec h2{
    font-size: 32px;
}
.clear_vision:is(.find_girl, .looking_new) .img_box{
    overflow: hidden;
}
.clear_vision:is(.find_girl, .looking_new) .img_box img{
    width: auto;
    max-height: unset;
}
.boost_sec.car_accessories .clear_vision p,.clear_vision p{
    color: #fff !important;
    margin-bottom: 20px;
    text-align: center !important;
    font-size: 16px!important;
    line-height: 18px!important;
    font-weight: 400!important;
}
.clear_vision .clear_vision_detail p.gift-p{
  color:#000 !important;
}
.car_main_banner .container{
  background-image:url(https://cdn.shopify.com/s/files/1/0549/4112/2809/files/accessories-main-banner.png);
}
}
</style>