<!-- Section 1 Start -->
<section class="bgimage">
<img data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/trapo-careers.webp" alt="Join Us Be Part of the Trapoers!" style="width:100%;" class="lazyload">
<div class="centered">
  <h1>Join Us</h1>
  <h3>Be Part of the Trapoers!</h3>
</div>
</section>
<!-- Section 1 End -->

<!-- Section 2 Start -->
<section class="intro-sec py-2">
<div class="container pt-3 text-center">
  <p class="text-blue">A talent or a fresh graduate? No problem.<br>
Join us in our mission to become the #1 leading car accessories provider today!</p>
  <p class="">At TRAPO, we provide innovative solutions to elevate our customer’s driving
experience. With premium quality products and services, we make driving a
rewarding adventure for everyone.</p>
  <p class="">Ready to become part of this exciting venture? Join us today!</p>
</div>
</section>
<!-- Section 2 End -->

<!-- Section 3 Start -->
<section class="who-sec py-2">
<div class="container">
  <div class="" style="width: 100%;">
  <h2 class="section-title">Who are we?</h2>
  </div>
  <div class="row g-2">
    <div class=" col-lg-6">
      <img data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/who-we-are-1.webp" alt="" class="img-fluid lazyload">
    </div>
    <div class=" col-lg-6">
      <img data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/who-we-are-2.webp" alt="" class="img-fluid lazyload">
    </div>
    <div class=" col-lg-6">
      <img data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/who-we-are-3.webp" alt="" class="img-fluid lazyload">
    </div>
    <div class=" col-lg-6">
      <img data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/who-we-are-4.webp" alt="" class="img-fluid lazyload">
    </div>
  </div>
  <p class="pt-3 text-center">
    At TRAPO, we’re a team of vibrant, young, and ambitious people committed to setting a new
    benchmark within the car accessories industry. Our age group comprise mainly of Millennials
    and Gen Z (so I guess that makes us pretty trendy too!). 
  </p>
  <p class="text-center">
    Basically, we believe in having fun while we work so expect to have a blast while we hustle
towards achieving new milestones together!
  </p>
</div>
</section>
<!-- Section 3 End -->

<!-- Section 4 Start -->
<section class="core-sec py-2">
<div class="container">
  <div class="" style="width: 100%;">
  <h2 class="section-title">Our Core Values</h2>
  </div>
  <div class="inner-core-sec">
    <img data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/core-value.webp" alt="Core Value" class="img-fluid lazyload">
  </div>
  <p class="pt-4">
    Our core values revolve around 3 main categories; personal growth, teamwork, and work ethic.
We value the power of <strong>community</strong>, where we encourage <strong>being nice to each other</strong> and emphasize
having a <strong>work-life balance</strong>. We encourage you to <strong>keep learning</strong>, and to <strong>identify domino</strong> which is
to find an opportunity that’ll cascade into more opportunities. Have a pro-active work attitude
embodied by the <strong>mamba mentality</strong>. Also to <strong>take ownership</strong> of your own actions, and to <strong>do it well
(or not do it at all)</strong> so that everything is given your full effort. It’s important to <strong>only give it when
you own it</strong>, which means that you ensure that your own cup is full before pouring help into others.
Most importantly, to <strong>celebrate every milestone!</strong>
  </p>
</div>
</section>
<!-- Section 4 End -->

<!-- Section 5 Start -->
<section class="loc-sec py-2">
<div class="container">
  <div class="inner-loc-sec">
    <h2 class="section-title">MALAYSIAN BORN, GROWING GLOBALLY</h2>
  <div class="row g-0">
    <div class="col-lg-6 loc-img">
      <img data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/indonesia.webp" alt="" class="img-fluid lazyload">
      <div class="centered">
        <h1>INDONESIA</h1>
      </div>
    </div>
    <div class=" col-lg-6 loc-img">
      <img data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/singapore.webp" alt="" class="img-fluid lazyload">
      <div class="centered">
        <h1>SINGAPORE</h1>
      </div>
    </div>
    <div class=" col-lg-6 loc-img">
      <img data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/thailand.webp" alt="" class="img-fluid lazyload">
      <div class="centered">
        <h1>THAILAND</h1>
      </div>
    </div>
    <div class=" col-lg-6 loc-img">
      <img data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/malasiya.webp" alt="" class="img-fluid lazyload">
      <div class="centered">
        <h1>MALAYSIA</h1>
      </div>
    </div>
  </div>
  </div>
  <p class="text-blue text-center">Same goal. Different countries.</p>
  <p class="text-center">If you’re after career growth, this is it!</p>
  <p class="pb-4 text-center">Though TRAPO started in Malaysia, we’ve branched out to Singapore, Thailand, and
Indonesia as of 2022. Become part of a rapidly expanding community.</p>
</div>
</section>
<!-- Section 5 End -->

<!-- Section 6 Start -->
<section class="life-sec py-2">
<h2 class="section-title">LIFE AT TRAPO</h2>
<div class="container">
  <div class="row">
    <div class="col-md-4 col-12">
       <img data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/goal.png?v=1659314320" width="" height="" style="" alt="" class="img-icon lazyload">
    <h5 class="text-1">Clear career roadmap </h5>
      <p class="text-3 text-center">Set direction,goals together and hold each other accountable to achieve them.</p>
    </div>
    <div class="col-md-4 col-12">
        <img data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/location.png?v=1659314300" width="" height="" style="" alt="" class="img-icon lazyload">
    <h5 class="text-1">Strategic Office Location </h5>
       <p class="text-3 text-center">Easily access public transport and endless options for lunch via the shopping malls nearby.</p>
    </div>
    <div class="col-md-4 col-12">
        <img data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/medical.png?v=1659314320" width="" height="" style="" alt="" class="img-icon lazyload">
       <h5 class="text-1"> Medical Benefits </h5>
       <p class="text-3 text-center">Enjoy insurance, optical, dental and outpatient medical claims as a confirmed employee.</p>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-2 col-12">
    </div>
    <div class="col-md-4 col-12">
      <img data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/free.png?v=1659314320" width="" height="" style="" alt="" class="img-icon lazyload">
      <h5 class="text-1"> Get a FREE Gift  </h5>
     <p class="text-3 text-center"> Upon confirmation, you'll get to enjoy 1 set of premium Trapo HEX Combo worth MYR 500 car mats as a token of appreciation from us.</p>
    </div>
    <div class="col-md-4 col-12">
        <img data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/birthday.png?v=1659314319" width="" height="" style="" alt="" class="img-icon lazyload">
     <h5 class="text-1"> Birthday Perk </h5>
       <p class="text-3 text-center">You'll get to clock out 2 hours earlier on your birthday! </p> 
    </div>
    <div class="col-md-2 col-12"></div>
  </div>
</div>
</section>
<!-- Section 6 End -->

<!-- Section Positions Start -->

<section class="position-sec py-2" style="display:none">
  <div class="container">
    <div class="accordion accordion-flush" id="accordionFlushExample">
      <h2 class="section-title">Open Positions</h2>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingOne">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
            Performance Marketing Specialist
          </button>
        </h2>
        <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
           <div class="accordion-body"></div>
             <p class="text-2">Responsibility</p>
             <p class="text-2">Do the terms CPC, CTR, CPA and attribution live in your vocabulary? If so, we'd love to have a chat! Being in the automotive space, which often times is seen as a relatively traditional space, we pride ourselves on being ahead of the curve in terms of how we share our brand with consumers. 
                We're looking for a passionate and driven Digital Marketing expert to assist us in bullet-proofing our paid media strategy. If you're familiar with marketing funnels, an genius at Facebook Ads Manager and a ninja on Google Ads, you're in the right place! 
                You'll be working alongside our other young and creative minds in the marketing team to craft awesome always-on and tactical campaigns to support the larger company-wide marketing strategy. This will entail day-to-day task such as: -
             <ul class="text-2">
                <li> Assisting in the formulation of strategies to build a lasting digital connection with consumers.</li>
                <li>Contributing ideas and strategy on how to increase brand awareness and drive conversion.</li>
                <li>Setting up and maintaining KPIs on Facebook & Google Ads.</li>
                <li>Familiarizing yourself with programmatic advertising (if you're already an expert, extra brownie points).</li>
                <li>Generating periodic performance reports on key KPIs for tracking and suggest optimizations to further bolster performance.</li>
                <li>Market research on the latest trends in the digital space.</li>
                <li>Collaborating with designers to produce eye catching visuals.<</li>
                <li>Measuring the performance of digital marketing efforts using a variety of web analytics tools.</li>
             </ul>
             <p class="text-2">Requirement</p>
             <ul class="text-2">
                <li>	Analytic in nature and comfortable with numbers.</li>
                <li> Self-starter and able to work with minimal supervision..</li>
                <li> Passionate about marketing, and technology..</li>
                <li> Well-versed in the concepts and best practices surrounding digital marketing and how the internet can become a strong asset to securing growing revenue.</li>
                <li> Tech-savvy and intuitive with great ideas to reinforce the marketing campaigns.</li>
                <li> Experience on Facebook Business Manager.</li>
                <li> Experience on Google Ads Manager</li>
                <li> Experience with web analytics tools. (e.g. Google Analytics).</li>
                <li> Analytical mindset and critical thinking.</li>
                <li> Communication and interpersonal skills </li>
                <li> Minimum 2 years of experience in Ads Space </li>
                <li> Familiar with E-comm platforms such as Shopify / WooCom etc </li>
                <li> Background in Performance-driven E-Comm companies is a plus. </li>
                <li>Good written and spoken English</li>
             </ul>
             </p>
          </div>
        </div>
      </div>
    </div>
</section>

<!-- Section 7 Start -->
<section class="form-sec py-2">
  <div class="container">
    <h2 class="section-title">JOIN OUR TRAPO TEAM!</h2>
    <p class="text-center text-1">Check out if there's a position for you - we’re hiring! </p>
    <p class="text-center text-2">Please fill in the application form and we will contact you for the next hiring process .</p>
    <p class="text-center text-2">All information collected from respondents is kept strictly confidential. </p>
  
    <div class="col-lg-8 col-11" style="margin:0 auto;">  
      <div style="margin:0 auto;" class="pxFormGenerator" id="qN7jU6syndUqi1zOeXoP5g"></div>
    </div>
  </div>
</section>
<!-- Section 7 End -->

<!-- Section 8 Start -->
<section class="call-sec py-2">
<div class="container">
  <p class="text-1 text-center">
    If you have any inquiries, please do contact our HR Team (only text) or<br>
reach out to us at <a href="mail-to:career@trapo.com">career@trapo.com</a> today!
  </p>
  <div class="whatsapp-icon">
    <div class="lp-whatsapp-icon-bar">
       <a href="https://api.whatsapp.com/send?phone=0126388267">
         <img data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/whatsapp-icon.png?v=1660220353" width="60" class="lazyload">
       </a>
    </div>
  </div>
  <h4>If opportunity doesn't knock, build a door! <br/>We look forward to speaking to you soon!</h4>
</div>
</section>
<!-- Section 8 End -->

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<script>
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.display === "block") {
      panel.style.display = "none";
    } else {
      panel.style.display = "block";
    }
  });
}
</script>

<style>
.container.main.content {
  width: 100%;
  max-width: 100%;
}
  
.img-fluid{
  width: 100% !important;
}
  .page-career-new .container .container{
    padding:5px 0;
  }

/* Section 1 */
.bgimage{
  position: relative;
  text-align: center;
  color: white;
  background: black;
  overflow: hidden;
  display: grid;
}
.bgimage img{
  object-fit: cover;
  opacity: 0.6;
}
.bgimage .centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.bgimage h1 {
  color: #fff;
  font-size: 125px;
  line-height: 100px;
  text-transform: uppercase;
  font-weight:700;
}
.bgimage h3 {
  color: #fff;
  text-transform: uppercase;
  font-size: 50px;
  font-weight:700;
}
  .text-2 li{
    font-size:1rem;
  }
  .page-career-new .accordion-flush .accordion-item .accordion-button{
    font-family: "Roboto" !important;
    background: transparent;
    color:#173f6d;
  }
  .page-career-new .accordion-button:focus{
    border:0px;
  }
  .page-career-new .accordion-header{
    margin-top:0;
  }

/* Section 2*/
.page-career-new .intro-sec p.text-blue{
  color: #173f6d;
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  font-family: "Roboto" !important;
  width:100%;
}
.page-career-new .intro-sec p{
 font-family: Roboto!important;
  font-weight: normal;
  font-size: 20px;
  width: 60%;
  margin: auto;
  line-height:25px;
}

/* Section 3 */
.section-title{
  text-align: center;
    margin-top: 0;
    font-weight: 700;
    font-style: normal;
    font-size: 32px;
    text-transform: none;
    line-height: 1.5;
    color: #173f6d;
    display: block;
    letter-spacing: 0;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-bottom: 0.75em;
  text-transform:uppercase;
}
  .who-sec .container{
    
  }
.page-career-new .who-sec p{
  font-family: Roboto!important;
  font-weight: 400!important;
  color: #000!important;
  font-size: 20px;
  line-height: 25px;
  width: 95%;
  margin: auto;
}

/* Section 4 */
.page-career-new .core-sec p{
  font-family: Roboto!important;
  font-weight: 400!important;
  color: #000!important;
  font-size: 20px;
  line-height: 25px;
  text-align:justify;
}
.core-sec .inner-core-sec{
  border: 2px solid #000;
  padding: 75px 30px 65px 30px;
}

/* Section 5*/
.loc-img{
  position: relative;
  text-align: center;
  color: white;
  background: white;
  overflow: hidden;
  display: grid;
}
.loc-img img{
  object-fit: cover;
  opacity: 0.3;
  width: 100%;
}
.loc-img:nth-child(1) img{
  border-left: 2px solid #000;
  border-top: 2px solid #000;
}
.loc-img:nth-child(2) img{
  border-right: 2px solid #000;
  border-top: 2px solid #000;
}
.loc-img:nth-child(3) img{
  border-left: 2px solid #000;
  border-bottom: 2px solid #000;
}
.loc-img:nth-child(4) img{
  border-right: 2px solid #000;
  border-bottom: 2px solid #000;
}
.loc-img .centered {
  position: absolute;
  top: 53%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.loc-img h1 {
  color: #ee2a7b;
  font-size: 70px;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 0;
  padding: 0;
}
.page-career-new .loc-sec p.text-blue{
  color: #173f6d;
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  font-family: "Roboto" !important;
  width:100%;
}
.page-career-new .loc-sec p{
  font-family: Roboto!important;
    font-weight: 400!important;
    color: #000!important;
  font-size: 20px;
  width: 60%;
  margin: auto;
  line-height:25px;
}

/* Section 6 */
.img-icon
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}
.life-sec .container .row{text-align: center !important;}
.page-career-new h5.text-1{
  text-align:center;
  padding-top:10px;
  padding-bottom:0;
}
.page-career-new p.text-2{
 font-size:13px;
}
.page-career-new p.text-3{
  font-size: 15px;
  font-style: normal;
  line-height: 1.6em;
  width: 60%;
  margin: auto;
}

/* Section 7 */
.form-sec .section-title {
  text-align: center;
  color: #173f6d;
  text-transform: uppercase;
  font-size: 50px;
  margin-bottom: 10px;
}
  .form-sec .container{
    display:unset;
  }
.page-career-new .form-sec p.text-1{
  color: #000;
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  font-family: 'Roboto' !important;
  width:100%;
}
.page-career-new .form-sec p.text-2{
  font-family: 'Roboto' !important;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 0;
}

/* Section 8 */
.call-sec{
  text-align: center;
  background: #c9c9c9;
}
.call-sec .container{
  display:unset;
}
.page-career-new .call-sec p.text-1{
  font-family: 'Roboto' !important;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 0;
  text-align: center;
  font-weight: 600;
  color: #383737;
}
.call-sec h4{
  font-weight: 500;
  font-size: 27px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: 'Roboto' !important;
  color: #383737;
}
.whatsapp-icon .lp-whatsapp-icon-bar{
  position: inherit;
  padding: 25px 0;
}
@media screen and (max-width: 479px){
  .section-title{
    font-size: 24px;
    line-height: normal;
    margin: 10px 0;
  }
  .page-career-new .container.content p {
    padding-left:10px;
    padding-right:10px;
  }
  .container.main.content {
      padding-top: 40px;
  }
  .bgimage h1 {
      color: #fff;
      font-size: 35px;
      line-height: 20px;
      text-transform: uppercase;
  }
  .bgimage h3 {
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
  }
  .page-career-new .intro-sec p.text-blue {
      font-size: 18px;
      line-height: 22px;
      width: 90%;
    font-family: Roboto !important;
  }
  .page-career-new .intro-sec p {
      font-size: 16px;
      width: 80%;
      line-height: 20px;
    font-family: Roboto !important;
    color:#000!important;
  }
  .page-career-new .who-sec p {
      font-size: 16px;
      line-height: 20px;
    font-family: Roboto !important;
    color:#000!important;
  }
  .core-sec .inner-core-sec {
      padding: 10px 10px 5px 10px;
  }
  .page-career-new .core-sec p {
      font-size: 16px;
      line-height: 20px;
      width: 90%;
      margin: auto;
    font-family: Roboto !important;
    color:#000!important;
  }
  .loc-img h1 {
      font-size: 50px;
  }
  .page-career-new .loc-sec p {
      font-size: 16px;
      width: 90%;
      line-height: 20px;
    font-family: Roboto !important;
    color:#000!important;
  }
  .page-career-new p.text-3{
    padding-bottom:20px;
  }
  .page-career-new .call-sec p.text-1{
    width: 90%;
    margin: auto;
  }
  .whatsapp-icon .lp-whatsapp-icon-bar {
      padding: 5px 0;
  }
  .call-sec h4 {
      font-size: 21px;
      line-height: 24px;
      width: 90%;
      margin: auto;
  }
  .form-sec .section-title {
      font-size: 32px;
  }
  .page-career-new .form-sec p.text-1 {
      font-size: 20px;
      line-height: 24px;
    font-family: Roboto !important;
  }
  .page-career-new .form-sec p.text-2 {
      font-size: 16px;
      line-height: 20px;
    font-family: Roboto !important;
  }
}
</style>