
<div class="
      container
      content
      page
    ">
  <section class="your_interior">
    <div class="your_interior_detail">
      <h1>Enhance Your Interior: Discover the Perfect Car Mats</h1>
      <img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0549/4112/2809/files/Car_Mat_Line_Up-min.png?v=1693807592" alt="">
    </div>
    <div class="action">
      <a class="shop_btn" href="/collections/car-mats">shop car mats</a>
    </div>
  </section>
  <section class="boost_sec">
    <div class="container">
      <h2>Boost your car aesthetics</h2>
      <div class="beforeAfter desk_view">
            <img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/beforeAfter-coil.jpg?v=1687756610" />
            <img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/beforeAfter-trapo.jpg?v=1687756610" />
        </div>
        <div class="beforeAfter mobile_view">
            <img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/beforeAfter-mobile-coilmat.jpg?v=1687760125" />
            <img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/beforeAfter-mobile-trapoMat.jpg?v=1687760124" />
        </div>
      <div class="boost_row">
        <div class="boost_col">
          <div class="img_box">
            <img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0549/4112/2809/files/easyclean-1687508540695.png?v=1695962433" alt="">
          </div>
          <div class="boost_detail">
            <h3>Easy to clean</h3>
            <p>No more elbow grease!</p>
            <p>Our car mats are lightweight and designed for easy cleaning, so that you can enjoy driving in perfect comfort</p>
            <a class="popup-youtube" href="https://www.youtube.com/watch?v=4xCW0y9i85U">Watch Cleaning Guide</a>
          </div>
        </div>
        <div class="boost_col">
          <div class="img_box">
            <img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0549/4112/2809/files/durable-1687508573156.png?v=1695962763" alt="">
          </div>
          <div class="boost_detail">
            <h3>Super durable</h3>
            <p>We believe in quality over quantity.</p>
            <p>Your set of car mats will stand the test of time without compromising style or performance<br><br></p>
            <a class="popup-youtube" href="https://www.youtube.com/watch?v=Y2NFOB8fY7o">Watch Durability Test</a>
          </div>
        </div>
        <div class="boost_col">
          <div class="img_box">
            <img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0549/4112/2809/files/antislip-1687508594239.png?v=1695962757" alt="">
          </div>
          <div class="boost_detail">
            <h3>Our anti-slip tech</h3>
            <p>Your safety is our utmost priority.</p>
            <p>Experience unmatched anti-slip technology that keeps our mats securely in place.<br><br></p>
            <a class="popup-youtube" href="https://www.youtube.com/watch?v=vCGL16sh_MQ">Watch Anti-Slip Tech</a>
          </div>
        </div>
        <div class="boost_col">
          <div class="img_box">
            <img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0549/4112/2809/files/customise-1687508597924.png?v=1695962777" alt="">
          </div>
          <div class="boost_detail">
            <h3>Customisability</h3>
            <p>Why not express your individuality?</p>
            <p>Available in 3 base colors and 5 lining shades. Your car mats, your choice.</p>
            <a href="#"></a>
          </div>
        </div>
      </div>
      <br>
      <h2>Shield your car from the harshest impacts</h2>
      <div class="beforeAfter desk_view">
        <img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/xtreme_desktop_before.webp?v=1693807074" />
        <img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/xtreme_desktop_after.webp?v=1693807074" />
      </div>
      <div class="beforeAfter mobile_view">
        <img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/xtreme_mobile_before.webp?v=1693807073" />
        <img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/xtreme_mobile_after.webp?v=1693807073" />
      </div>
      <div class="boost_row">
        <div class="boost_col">
          <div class="img_box">
            <img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0549/4112/2809/files/1-life-durability.png?v=1692941990" alt="">
          </div>
          <div class="boost_detail">
            <h3>Lifetime Durability</h3>
            <p>Ultra durable material provides you the ultimate protection against all external elements. With a lifetime warranty, Trapo Xtreme guarantees long-lasting performance at peak quality.</p>
          </div>
        </div>
        <div class="boost_col">
          <div class="img_box">
            <img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0549/4112/2809/files/2-anti-bacterial.png?v=1692942008" alt="">
          </div>
          <div class="boost_detail">
            <h3>Anti Bacterial</h3>
            <p>Infused with Japanese Silver-Ion Technology, Trapo Xtreme 3D Car Mats prevent any mildew or odour by eliminating 99.99% of bacteria. Enjoy a cleaner and more hygienic car interior.</p>
          </div>
        </div>
        <div class="boost_col">
          <div class="img_box">
            <img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0549/4112/2809/files/3-total-coverage.png?v=1692942025" alt="">
          </div>
          <div class="boost_detail">
            <h3>Total Coverage</h3>
            <p>Feel safe knowing that every inch of your car dashboard is protected against harsh external elements. A seamless fit for your peace of mind.</p>
          </div>
        </div>
        <div class="boost_col">
          <div class="img_box">
            <img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0549/4112/2809/files/4-easy-to-clean.png?v=1692942042" alt="">
          </div>
          <div class="boost_detail">
            <h3>Easy to Clean</h3>
            <p>Experience hassle-free maintenance with easy-to-clean features, freeing you from scrubbing and odors for a fresh driving ambiance.</p>
          </div>
        </div>
      </div>
      <div class="boost_row trapo_most">
        <div class="boost_col">
          <div class="img_box">
            <img class="prod_img lazyload" data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/pic_-_xtreme.png?v=1713931033" alt="">
            <img class="prod_logo lazyload" data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/logo_-_xtreme.png?v=1713931036" alt="">
          </div>
          <div class="boost_detail">
            <span>From RM 469.90*</span>
            <div class="action">
              <a class="shop_btn" href="/collections/trapo-xtreme-car-mats">shop now</a>
            </div>
          </div>
        </div>
        <div class="boost_col">
          <div class="img_box">
            <img class="prod_img lazyload" data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/pic_-_hex2.png?v=1713931034" alt="">
            <img class="prod_logo lazyload" data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/logo_-_hex2.png?v=1713931033" alt="">
          </div>
          <div class="boost_detail">
            <span>From RM 229.90*</span>
            <div class="action">
              <a class="shop_btn" href="/collections/car-mats">shop now</a>
            </div>
          </div>
        </div>
        <div class="boost_col">
          <div class="img_box">
            <img class="prod_img lazyload" data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/pic_-_classic4.png?v=1713931034" alt="">
            <img class="prod_logo lazyload" data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/logo_-_classic4.png?v=1713931033" alt="">
          </div>
          <div class="boost_detail">
            <span>From RM 135.90*</span>
            <div class="action">
              <a class="shop_btn" href="/collections/car-mats">shop now</a>
            </div>
          </div>
        </div>
        <div class="boost_col">
          <div class="img_box">
            <img class="prod_img lazyload" data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/pic_-_eco3.png?v=1713931034" alt="">
            <img class="prod_logo lazyload" data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/logo_-_eco3.png?v=1713931033" alt="">
          </div>
          <div class="boost_detail">
            <span>From RM 115.90*</span>
            <div class="action">
              <a class="shop_btn" href="/collections/car-mats">shop now</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="Xtreme_sec">
    <div class="tabel_img">
      <img class="desk_view lazyload" data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Table_of_Comparison.png?v=1713931034" alt="">
      <img class="mobile_view lazyload" data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Table_of_Comparison_Mobile.png?v=1713931033" alt="">
    </div>
  </section>
  <section class="doyouknow_sec">
    <div class="container">
      <div class="doyouknow_detail">
        <h2>Do you know?</h2>
        <p>TRAPO includes sustainable steps in all car mats production to adhere with the global SDG and contribute to all green effort.</p>
        <a href="/pages/corporate-social-responsibility">learn more</a>
      </div>
      <div class="doyouknow_img">
        <img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0549/4112/2809/files/doyouknow-1687512852512.png?v=1695962926" alt="">
      </div>
    </div>
  </section>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
{{ 'beforeafter.jquery-1.0.0.min.js' | asset_url | script_tag }}
{{ 'jquery.magnific-popup.js' | asset_url | script_tag }}
{{ 'magnific-popup.css' | asset_url | stylesheet_tag }}
<script>
      $('.beforeAfter').beforeAfter({
          movable: true,
          clickMove: true,
          position: 40,
          separatorColor: '#ffffff',
          bulletColor: '#ffffff',
          arrowColor: '#F02A7D',
          opacity: 1,
          hoverOpacity: 1,
          onMoveStart: function(e) {
              console.log(event.target);
          },
          onMoving: function() {
              console.log(event.target);
          },
          onMoveEnd: function() {
              console.log(event.target);
          },
      });
</script>

<script>

    $('.popup-youtube').magnificPopup({
        disableOn: 700,
        type: 'iframe',
        mainClass: 'mfp-fade',
        removalDelay: 160,
        preloader: false,
        fixedContentPos: true
    });

</script>
  
<style>
  .boost_sec .container{
        position: relative;
    margin: 0 auto;
    display: inherit;
  }
.beforeAfter img{
  max-width:none !important;
}
.your_interior_detail:before {
	content: '';
	background: #f7f7f7;
	width: 100vw;
	height: 100%;
	position: absolute;
	left: 50%;
	top: 0;
	z-index: -1;
	right: 50%;
	margin-left: -50vw;
	margin-right: -50vw;
}

.your_interior_detail {
	position: relative;
	text-align: center;
	padding-top: 30px;
	margin-bottom: 100px
}

.your_interior img {
	max-width: 550px;
	width: 100%;
	margin: 0 auto -75px;
}

.your_interior h1 {
	font-family: "Roboto";
	font-weight: 400;
	margin-top: 0;
	color: #16406d;
	font-size: 60px;
	margin-bottom: 15px;
	text-align: center;
	line-height: 112%;
	max-width: 825px;
	text-transform: capitalize;
	letter-spacing: 0;

}

.your_interior .action {
	text-align: center;
}

.shop_btn {
	color: #fff !important;
	font-size: 14px;
	background-color: #d82477;
	border-radius: 20px;
	box-shadow: rgba(0, 0, 0, .51) 4px 4px 16px;
	font-weight: 400;
	letter-spacing: 1px;
	line-height: 1;
	padding: 12px 20px;
	text-transform: uppercase;
	padding-inline: 30px;
	display: block;
	margin: 0 auto;
	width: fit-content;
}

.boost_sec h2 {
	font-family: "Roboto" !important;
	font-weight: 400;
	color: #16406d;
	font-size: 46px;
	margin-bottom: 15px;
	text-align: center;
	line-height: 112%;
	text-align: center;
	text-transform: inherit;
	letter-spacing: 0;
}

.boost_sec .boost_row {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	gap: 10px;
}

.boost_sec .boost_row img {
	width: 100%;
	display: block;
}

.boost_sec .boost_col {
	background: #f7f7f7;
	text-align: center;
}

.boost_sec .boost_col .boost_detail {
	padding-inline: 10px;
}

.boost_sec .boost_col h3 {
	color: #000;
	padding-bottom: 0;
	line-height: 26px;
	padding-top: 20px;
	font-family: "Roboto" !important;
	font-weight: 600;
	font-size: 24px;
	letter-spacing: 0;
	text-transform: inherit;
}

.boost_sec .boost_col p {
	text-align: center;
	font-size: 16px !important;
	line-height: 18px !important;
	color: #000 !important;
	font-family: "Roboto" !important;
	font-weight: 400 !important;
	padding: 0 !important;
}
.boost_detail p:last-child{
  min-height:50px;
}

.boost_sec .boost_col a {
	font-size: 16px;
	color: #000;
	margin-bottom: 15px;
	display: block;
	text-decoration: underline;
	font-family: "Roboto" !important;
	font-weight: 600 !important;
	letter-spacing: 1px;
}
.boost_sec .boost_col a.shop_btn{
  font-size: 12px;
      text-decoration: none;
}

.trapo_most {
	margin-top: 60px
}

.boost_row.trapo_most .boost_col {
	background: #fff;
}

.trapo_most .boost_col .prod_img {
	max-height: 200px;
	height: 100%;
	width: auto;
	margin: 0 auto;
	display: block;
	margin-bottom: 25px
}

.trapo_most .boost_col .prod_logo {
	height: 40px;
	object-fit: contain;
	max-width: 250px;
	margin: 0 auto;
}

.boost_sec .boost_col .boost_detail span {
	font-size: 16px;
	display: block;
	margin: 25px auto;
	font-family: "Roboto" !important;
	font-weight: 600 !important;
}

.Xtreme_sec .tabel_img img {
	width: 100%;
	margin-block: 50px 30px;
}

.doyouknow_sec {
	background: #f7f7f7;
	margin-bottom: 0px;
}

.doyouknow_sec .container {
	display: grid;
	grid-template-columns: 1fr 475px;
	padding: 0;
	align-items: center;
}

.doyouknow_sec .doyouknow_img img {
	width: 100%;
	display: block;
}

.doyouknow_sec .doyouknow_detail {
	padding-inline: 90px
}

.doyouknow_sec .doyouknow_detail h2 {
	font-family: "Roboto" !important;
	margin: 0 auto 10px;
	font-weight: 400 !important;
	color: #000 !important;
	line-height: 1.3em !important;
	font-size: 34px !important;
	text-align: left !important;
	letter-spacing: 0px;
	text-transform: inherit;
}

.doyouknow_sec .doyouknow_detail p {
	font-family: "Roboto" !important;
	font-size: 16px;
	color: #000;
	font-weight: 400;
	margin-bottom: 80px;
  width:75%;
}

.doyouknow_sec .doyouknow_detail a {
	font-size: 16px;
	text-transform: uppercase;
	color: #000;
	font-family: "Roboto" !important;
	text-underline-offset: 4px;
	text-decoration: underline;
}

@media (max-width:1199px) {
	.trapo_most .boost_col .prod_img {
		max-height: unset;
		height: 180px;
		width: 100%;
		object-fit: contain;
	}
}

@media (max-width:991px) {
	.boost_sec .boost_row {
		grid-template-columns: 1fr 1fr;
		gap: 30px;
	}

	.your_interior_detail {
		margin-bottom: 80px;
	}

	.doyouknow_sec .container {
		display: block;
	}

	.doyouknow_sec .doyouknow_detail {
		padding-inline: 30px;
		width: 100%;
		padding-top: 25px;
	}

	.doyouknow_sec .doyouknow_detail p {
		margin-bottom: 30px;
      width:100%;
	}
}

@media (min-width:768px) {
	.mobile_view {
		display: none;
	}
}

@media (max-width:767px) {
	.boost_sec .boost_row:not(.trapo_most) {
		grid-template-columns: 1fr;
	}

	.desk_view {
		display: none;
	}

	.your_interior h1,
	.boost_sec h2 {
		font-size: 32px;
	}

	.your_interior_detail {
		margin-bottom: 30px;
		padding-bottom: 20px;
	}

	.your_interior img {
		margin: 0;
	}

	div.container.main.content .doyouknow_sec .container {
		display: block;
	}

	.doyouknow_img {
		margin-top: 35px;
		width: 100%;
	}

	.boost_sec .boost_col .boost_detail {
		padding-inline: 0;
	}

	.doyouknow_sec {
		margin-bottom: 0;
	}
}   
</style>



