<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css">
<style>
      .tin_service_container{ max-width: 1130px; margin: 0px auto 30px; width: 100%; }
      .ppf_section .ppf_banner{ background-color: rgba(0, 0, 0, 1); padding: 60px 20px 25px; text-align: center; }
      .ppf_section .ppf_banner img{ width: 100%;max-width: 940px;margin: 0 auto; }
      .ppf_section .ppf_video_sec .sec_container{ max-width: 1090px; width: 100%; margin: 0 auto; padding: 45px 20px 60px; text-align: center; }
      .ppf_section .ppf_video_sec .ppf_video_desc{ max-width: 794px; width: 100%; margin: 0 auto 42px; font-size: 19px; letter-spacing: 0.19px; line-height: 27px; color: #1B3D6D; }
      .ppf_section .our_partners .sec_container{ max-width: 1090px; width: 100%; margin: 0 auto; padding: 0 20px 77px; text-align: center; }
      .ppf_section .ppf_video_sec .video_content > img{ width: 100%; }
      .ppf_section .our_partners .sec_title h2{ font-size: 24px; font-weight: bold; line-height: 28px; letter-spacing: 2px; color: #1B3D6D; margin: 0 0 36px; }
      .ppf_section .our_partners .our_partners_raw{ display: flex; gap:12px; }
      .ppf_section .our_partners .our_partners_raw .our_partner_item{ background-color: #1B3D6D; color: #fff; padding: 40px 20px 30px; border-radius: 12px; }
      .ppf_section .our_partners .our_partners_raw .our_partner_item span{ font-size: 11px; line-height: 16.8px; font-weight: bold; display: block; margin: 10px 0; text-transform: uppercase; }
      .ppf_section .our_partners .our_partners_raw .our_partner_item p{ font-size: 16px; line-height: 24px; letter-spacing: 0.19px; width: 100%; }
      .ppf_section .our_partners .our_partners_raw .our_partner_item:last-child{ display: flex; flex-wrap: wrap; justify-content: center; gap:0 20px }
      .intallment_sec .intallment_row .intallment_icons{ display: flex; align-items: center; justify-content: space-evenly; gap:20px; }
      .intallment_sec .intallment_row a:not(.ppf_btn){ font-size: 16px; line-height: 16px; color: #808080; font-weight: bold; text-transform: uppercase; margin: 45px auto 105px; display: block; }
      a.ppf_btn{ font-size: 14px; line-height: 16.8px; color: #fff; text-transform: uppercase; background-color: #EE2A7B; display: block; padding: 15px 40px; margin: 0 auto; width: fit-content; border-radius: 50px; min-width: 219px; }
      .ppf_slider .sec_container{ max-width: 1090px; width: 100%; margin: 0 auto; padding: 45px 20px 60px; text-align: center; }
      #ppf_slider .slide-item img{ width: 100%; }
      #ppf_slider .slide-arrow{ position: absolute; top: 27%; left: 130px; width: 90px; height: 90px; background-color: transparent; background-size: 100%; padding: 0; background-position: center; background-repeat: no-repeat; }
      #ppf_slider .prev-arrow{ background-image: url('https://cdn.shopify.com/s/files/1/0234/7089/9277/files/left_arrow.png?v=1705596438') }
      #ppf_slider .next-arrow{ left: unset; background-image: url('https://cdn.shopify.com/s/files/1/0234/7089/9277/files/right_arrow.png?v=1705596438'); right: 130px; }
      .blog_post_container{ max-width: 1210px; width: 100%; margin: 0 auto ; padding: 0 20px;}
      .blog_post_blk{ display: flex; align-items: center; background-image: url('https://cdn.shopify.com/s/files/1/0234/7089/9277/files/post_bg.png?v=1705597485'); background-size: cover; background-repeat: no-repeat; background-position:  right 100px top; padding: 27px 0 15px 47px; margin-block:92px 77px}
      .blog_post_blk .blog_post_content{ padding-right: 40px }
      .blog_post_blk .blog_post_content strong{ font-size: 13px; line-height: 19.2px; color: #fff; margin-bottom: 14px; display: block; font-weight: 400 !important; }
      .blog_post_blk .blog_post_content h6{ font-size: 22px; line-height: 24.6px; color: #fff; margin:0 0 14px; font-weight: 500 !important }
      .blog_post_blk .blog_post_content p{ font-size: 19px; line-height: 27px; letter-spacing: 0.19px; color: #fff; margin:0 0 10px; font-weight: 300 !important; }
      .blog_post_blk .blog_post_content span{ font-size: 19px; line-height: 27px; letter-spacing: 0.19px; color: #fff; }
      .blog_post_blk .blog_post_img{ margin-top: -150px }
      .tint_service_tab{ margin-bottom: 65px; }
      .tint_service_tab #tabs-nav{ list-style-type: none; display: flex; justify-content: space-evenly; margin: 0 20px 50px; border-bottom: 3px solid #DEDEDE; padding: 0; }
      .tint_service_tab #tabs-nav li{ margin: 0; }
      .tint_service_tab #tabs-nav li a{font-weight: 600; font-size: 19px; line-height: 16.8px; color: #E82276; position: relative; cursor: pointer; }
      .tint_service_tab #tabs-nav li.active a:after{ content: ''; position: absolute; width: 100%; height: 3px; background-color: #E82276; bottom: -5px; left: 0 }
      .tint_service_tab #tabs-content .tab-content .tab_img{ display: grid; grid-template-columns: 1fr 1fr 1fr; gap:15px; }
      .tint_service_tab #tabs-content img{ width: 100%; }
      .tint_service_tab .ppf_btn{ margin-bottom: 40px; }
      .tint_film{ max-width: 960px; width: 100%; margin: 0 auto 0; padding-top: 45px }
      .tint_film_row{ display: grid; grid-template-columns: 1fr 1fr 1fr; gap:20px; }
      .tint_film_row .tint_film_item{ box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.25); border-radius: 12px; padding: 40px 20px 20px; text-align: center; position: relative; background-color: #fff; }
      .tint_film_row .tint_film_item.active:before{ content: 'OUR BEST COAT!'; position: absolute; top: -45px; left: 0; height: 55px; background-color: #E82276; width: 100%; font-size: 18px; line-height: 22.4px; font-weight: 300; color: #fff; display: flex; align-items: center; justify-content: center; border-radius: 12px; z-index: -1; padding-bottom: 15px }
      .tint_film_row .tint_film_item .tint_film_desc { margin: 20px 0 30px }
      .tint_film_row .tint_film_item .tint_film_desc span{ display:block; font-size: 18px; line-height: 51px; color: #808080; font-weight: 600; }
      .tint_film_row .tint_film_item button{ width: 100%; border-radius: 12px; color: #1B3D6D; border: 1px solid #1B3D6D; background-color: transparent; font-size: 14px; line-height: 16.8px; font-weight: 500; height: auto; padding: 18px 10px }
      .tint_film_row .tint_film_item.active button{ border-color: #DEDEDE; background-color: #E82276; color: #fff; }
      .tint_film .tint_film_desc { margin-top: 34px }
      .tint_film .tint_film_desc p{ font-size: 13px; line-height: 22px; letter-spacing: 0.19px; color: #808080 !important; text-align: center; }
      .tint_film_row .tint_film_item img { object-fit: contain; height: 50px; width: 100%;}
      a.tint_film_btn{ border: 1px solid #173f6d; border-radius: 5px; width: 100%; max-width: 100%;color: #173f6d; display: block; padding: 15px; font-size: 14px; line-height: 16px; font-weight: 700; }
      a.tint_film_btn.active{ background: #E82276; color: #fff; border: 1px solid #E82276; }

      .ppf_banner_link{
      max-width: 720px;
      padding: 0 ;
      width: calc(100% - 40px);
      margin: 40px auto 0;
      border-bottom: 2px solid #D9D9D9;
      display: flex;
      justify-content: space-between;
        position: relative;
  }
  .ppf_banner_link .ppf_banner_link_item{
      font-size: 16.8px;
      line-height: 19px;
      color: #fff;
      text-transform: uppercase;
      font-weight: bold;
      display: block;
      flex: 1;
      position: relative;
      padding-bottom: 1px;
  }
  .ppf_banner_link .ppf_banner_link_item.active{
      color: #E82276;
  }
  .ppf_banner_link .ppf_banner_link_item.active:before{
      content: '';
      position: absolute;
      bottom: -2.5px;
      width: 100%;
      background-color: #E82276;
      height: 2px;
      left: 0;
  }
    .video{
    width: 80%;
      margin: 0 auto;
      margin-top: 50px;
      -webkit-box-shadow: 0px 0px 34px -10px rgba(0,0,0,0.75);
      -moz-box-shadow: 0px 0px 34px -10px rgba(0, 0, 0, 0.75);
      box-shadow: 0px 0px 34px -10px rgba(0,0,0,0.75);
  }
    .video_icons_sec img{
      width:15%;
    }
    .ppf_section .our_partners .our_partners_raw .our_partner_item img{
          width: 125px
    }
    .ppf_rating .ppf_rating_text a{
      pointer-events:none;
    }
    img.ppf-main-logo{
      width:30%;
    }
      @media(max-width:1199px){
          .blog_post_blk { background-position: right 60px top; }
          .blog_post_blk .blog_post_content{ width: 50%; }
          .blog_post_blk .blog_post_img{ width: 50%; margin-top:-200px }
          .blog_post_blk .blog_post_img img{ width: 100%; height: auto; }
          #ppf_slider .slide-arrow{ width: 60px; height: 60px; }
      }
      @media(max-width:992px){
          .blog_post_blk{ flex-wrap: wrap; flex-direction: column-reverse; background-position: center; gap:20px; padding: 27px 0 27px 47px; border-radius: 8px }
          .blog_post_blk .blog_post_img { margin-top: -150px; text-align: right; margin-inline: auto; width: 80%; }
          .blog_post_container{ margin-top: 170px; }
          .blog_post_blk .blog_post_content { padding-right: 120px; width: 100%; }
          .tint_service_tab #tabs-nav{ margin: 0 20px 15px }
          .tint_service_tab #tabs-content .tab-content .tab_img{ gap:10px }
          #ppf_slider .slide-arrow{ width: 40px; height: 40px; }
          .tint_film_row .tint_film_item .tint_film_desc span{ line-height: 40px }
          .tint_film_row .tint_film_item .tint_film_desc { margin: 15px 0 ; }
          .tint_film_row .tint_film_item .tint_film_desc.desc-2 { margin-top: 20px; }
          .tint_film_row .tint_film_item{ padding: 20px 15px }
      }
      @media(max-width:767px){
          .ppf_section .ppf_banner{padding: 0;}
          .blog_post_container { margin-top: 150px; }
          .blog_post_blk .blog_post_content p{ color: #fff !important; margin: 0 }
          .blog_post_blk .blog_post_content{ padding-right: 47px }
          .blog_post_blk .blog_post_content h6{ margin: 0; padding: 0 }
          .tint_service_tab #tabs-nav li a{ font-size: 16px; }
          .ppf_section .our_partners .our_partners_raw { flex-wrap: wrap; gap:20px 4%}
          .ppf_section .our_partners .our_partners_raw .our_partner_item:nth-child(1),
          .ppf_section .our_partners .our_partners_raw .our_partner_item:nth-child(2){ width: 48%; }
          .intallment_sec .intallment_row .intallment_icons{ display: grid; grid-template-columns: 1fr 1fr 1fr; gap: 10px; }
          .tint_film .tint_film_desc { margin-top: 20px; }
          .tint_film_row .tint_film_item .tint_film_desc span { line-height: 16px; font-size: 12px;margin-bottom: 10px; }
          .tint_film_row .tint_film_item.active:before{ font-size: 16px; height: 45px; top: -40px }
          .action .tint_btn{ padding: 10px; margin: 0 auto; }
          .tint_film_row .tint_film_item button{ padding: 10px }
          a.tint_film_btn{padding: 10px 15px;margin-top: auto;}
          .tint_film_row .tint_film_item{ display: flex; flex-direction: column; }
          .tin_service_container{ padding: 0 10px; }
        .video{
          margin: 0 -18px 25px;
      width: calc(100% + 58px);
        }
        .video_icons_sec img {
      width: 35%;
  }
      }
      @media(min-width:577px){
              .mobile_view{ display: none !important; }
      }
      @media(max-width:576px){
          .desc_view{ display: none !important; }
          .tint_service_tab #tabs-content .tab-content .tab_img { grid-template-columns: 1fr; gap:0; }
          .tint_service_tab #tabs-nav li a { font-size: 19px; }
          .tint_service_tab #tabs-nav{ margin-bottom: 25px; border-bottom: 2px solid #DEDEDE; }
          .tint_service_tab #tabs-nav li.active a:after{ height: 2px; bottom: -2px }
          #ppf_slider .slide-arrow { width: 40px; height: 40px; top: 15%; left: 35px; }
          #ppf_slider .next-arrow.slide-arrow { left: unset; right: 35px; }
          .ppf_section .ppf_video_sec .sec_container{ padding-block: 25px 49px; }
          .ppf_section .ppf_video_sec .sec_container > img{ max-width: 225px; width: 100%; margin-bottom: 25px }
          .ppf_section .ppf_video_sec .video_content > img{ margin:0 -20px 25px; width: calc(100% + 40px); }
          .ppf_section .ppf_video_sec .ppf_video_desc{ margin-bottom: 30px }
          .ppf_section .ppf_video_sec .video_icons_sec{ display: flex; flex-wrap: wrap; justify-content: center; }
          .ppf_section .our_partners .our_partners_raw{ margin:0 -20px 0; width: calc(100% + 40px); gap:5px; }
          .ppf_section .our_partners .our_partners_raw .our_partner_item:nth-child(1), .ppf_section .our_partners .our_partners_raw .our_partner_item:nth-child(2){ flex: 1; }
          .ppf_section .our_partners .our_partners_raw .our_partner_item p { font-size: 12px; line-height: 20px; letter-spacing: 0.19px; width: 100%; text-align: justify; margin-bottom: 0; }
          .ppf_section .our_partners .our_partners_raw .our_partner_item{ padding: 30px 18px; }
          .ppf_section .our_partners .our_partners_raw .our_partner_item img{ height: 22px }
          .ppf_section .our_partners .our_partners_raw .our_partner_item:last-child{ gap: 0 40px; }
          .ppf_section .our_partners .sec_container{ padding-bottom: 0 }
          .ppf_slider .sec_container{ padding-top: 25px }
          .intallment_sec .intallment_row .intallment_icons{ padding: 0 20px; gap:20px }
          .intallment_sec .intallment_row .intallment_icons img{ width: 100%; height: 20px; object-fit: contain }
          .ppf_section .our_partners.intallment_sec .sec_title h2{ margin-bottom: 20px }
          .intallment_sec .intallment_row a:not(.ppf_btn){ margin: 25px 0 55px; }
          .blog_post_blk .blog_post_img{ margin-top: -100px; width: 100%; }
          .blog_post_blk{ padding: 0 20px 40px 30px; border-radius: 0; margin-bottom: 60px }
          .blog_post_container:not(.tint_service_blk){ padding: 0; }
          .blog_post_blk .blog_post_content{ text-align: center; padding-inline:15px 25px; }
          .blog_post_blk .blog_post_content p{ margin-block: 20px; }
          .tint_service_blk{ margin-top: 0; padding: 0; }
          .tint_service_tab { margin-bottom: 38px; }
          .tint_service_tab #tabs-nav li a{ font-weight: bold }
          .tint_service_tab #tabs-nav li.active a:after{ bottom: -5px; }
          .tint_service_tab #tabs-content #tab2{ padding: 0 20px }
          .tint_film_row{ gap:10px; }
          .tint_film_row .tint_film_item { box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.25); padding: 19px 5px 7px; border-radius: 8px; }
          .tint_film_row .tint_film_item.active:before { font-size: 11px; height: 25px; top: -23px; }
          .tint_film_row .tint_film_item button { font-size: 11px; padding:6px 5px ; min-height: unset; border-radius: 4px; }
          .tint_film .tint_film_desc p{ color: #808080 !important; font-size: 11px!important; line-height: 16px !important; }
        .ppf_banner_link{
          margin:-50px auto 20px;
        }
      }
</style>
<div class="ppf_section">
  <section class="ppf_banner">
    <div class="ppf_banner_img">
      <img
        class="desc_view"
        src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_303_1.png?v=1708967941"
        alt=""
      >
      <img
        class="mobile_view"
        src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/mobile_header_ppf.png?v=1709109286"
        alt=""
      >
    </div>
    <div class="ppf_banner_link">
      <a href="https://my.trapo.asia/pages/trapo-ppf" class="ppf_banner_link_item">new</a>
      <a href="https://my.trapo.asia/pages/trapo-car-coating" class="ppf_banner_link_item active">well-used</a>
    </div>
  </section>
  <section class="ppf_video_sec">
    <div class="sec_container">
      <img
        src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/logo_coat.png?v=1709617447"
        class="ppf-main-logo"
        alt="PPFL7"
      >
      <div class="video_content">
        <div class="video">
          <div class="wrapper">
            <div data-embed="3IsF7BJ_584" class="youtube">
              <div class="play-button"></div>
            </div>
          </div>
        </div>
        <p class="ppf_video_desc">
          Discover reliable protection with Trapo Car Coating. Our expertly applied formula guards against scratches, chips, and environmental wear without compromising your car's appearance. Trust in our certified professionals to maintain your vehicle's value and resilience against debris while you enjoy every drive.
        </p>

        <div class="video_icons_sec">
          <img
            src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/logo_ppf_usp_longDurability.png?v=1709109063"
            alt="PPFI5"
          >
          <img
            src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/logo_ppf_usp_supremeHardness.png?v=1709109063"
            alt="PPFI4"
          >
          <img
            src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/logo_ppf_usp_reducesWatermark.png?v=1709109063"
            alt="PPFI3"
          >
          <img
            src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/logo_ppf_usp_greatWaterBeading.png?v=1709109063"
            alt="PPFI2"
          >
          <img
            src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/logo_ppf_usp_highSolidContent.png?v=1709109063"
            alt="PPFI1"
          >
        </div>
      </div>
    </div>
  </section>
  <section class="tin_service_container">
    <div class="tint_film">
      <div class="tint_film_row">
        <div class="tint_film_item">
          <img
            class="desc_view"
            src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group.png?v=1708261152"
            height="50px"
          >
          <img
            class="mobile_view"
            src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/logo_mobile_coat_quikshield.png?v=1709110442"
          >
          <div class="tint_film_desc">
            <span>3-hours Speed Detailing</span>
            <span>Graphene Spray Coating</span>
            <span>Removes light scratches</span>
            <span>Up to 12-Months Protection</span>
            <span>1 Year Warranty</span>
          </div>
          <a href="https://wa.link/v7t6iv" target="_blank" class="tint_film_btn">MORE INFO</a>
        </div>
        <div class="tint_film_item">
          <img
            class="desc_view"
            src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_1.png?v=1708261152"
            height="50px"
          >
          <img
            class="mobile_view"
            src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/logo_mobile_coat_proshield.png?v=1709110442"
          >
          <div class="tint_film_desc desc-2">
            <span>9H Ceramic Coating </span>
            <span> Bodygard S60 + S36 </span>
            <span>Prevents scratches & swirls </span>
            <span>Up to 5 Years Protection </span>
            <span>3 Years Warranty</span>
          </div>
          <a href="https://wa.link/v7t6iv" target="_blank" class="tint_film_btn">MORE INFO</a>
        </div>
        <div class="tint_film_item active">
          <img
            class="desc_view"
            src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_2.png?v=1708261180"
            height="50px"
          >
          <img
            class="mobile_view"
            src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/logo_mobile_coat_diamond.png?v=1709110442"
          >
          <div class="tint_film_desc">
            <span>10Hx2 Graphene Coating </span>
            <span>Kuro Paint Coating </span>
            <span>Prevents scratches & swirls </span>
            <span> Up to 5 Years Protection </span>
            <span>4 Years Warranty</span>
          </div>
          <a href="https://wa.link/v7t6iv" target="_blank" class="tint_film_btn active">MORE INFO</a>
        </div>
      </div>
    </div>
  </section>
  <section class="ppf_slider">
    <div class="sec_container">
      <div id="ppf_slider">
        <div class="slide-item">
          <img
            class="desc_view"
            src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/coat-slider-1.png?v=1711337161"
            alt="Value-Conscious, Wallet-Friendly Designed for those looking to improve visibility and privacy of their car interior without sacrificing style or comfort. The aesthetics of ceramic film's non-reflective finish allows you to enjoy a much cooler protected interior while in broad daylight, fully protected from the sun's glare. With proper UV rays protection and heat-resistance, you'll get better fuel efficiency from a car that stays cooler for longer."
          >
          <img
            class="mobile_view"
            src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/coat-slider-m-1.png?v=1711337160"
            alt="Value-Conscious, Wallet-Friendly Designed for those looking to improve visibility and privacy of their car interior without sacrificing style or comfort. The aesthetics of ceramic film's non-reflective finish allows you to enjoy a much cooler protected interior while in broad daylight, fully protected from the sun's glare. With proper UV rays protection and heat-resistance, you'll get better fuel efficiency from a car that stays cooler for longer."
          >
        </div>
        <div class="slide-item">
          <img
            class="desc_view"
            src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/coat-slider-2.png?v=1711337161"
            alt="Ultimate Heat Rejection Made up of tiny nanometallic particles, this window tint offers maximum security while adding a touch of class and elegance. With ultra heat-rejection capabilities and impressive shatter-resistant features, this luxury model of window tint secures your privacy at all times while allowing you to indulge in the comforts of a thermo-regulated atmosphere."
          >
          <img
            class="mobile_view"
            src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/coat-slider-m-2.png?v=1711337160"
            alt="Ultimate Heat Rejection Made up of tiny nanometallic particles, this window tint offers maximum security while adding a touch of class and elegance. With ultra heat-rejection capabilities and impressive shatter-resistant features, this luxury model of window tint secures your privacy at all times while allowing you to indulge in the comforts of a thermo-regulated atmosphere."
          >
        </div>
        <div class="slide-item">
          <img
            class="desc_view"
            src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/coat-slider-3.png?v=1711337161"
            alt="Secure Break-Safe Shield In the event of a crash or a break-in, Trapo DFEND safeguards you from harmful glass shards thanks to the tiny nanoparticles that are tightly bound to make this model of ceramic window tint highly durable. Along with added privacy, you'll feel safer with the ultra protection while indulging in the comfort of a glare-free, pleasantly cool car interior."
          >
          <img
            class="mobile_view"
            src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/coat-slider-m-3.png?v=1711337160"
            alt="Secure Break-Safe Shield In the event of a crash or a break-in, Trapo DFEND safeguards you from harmful glass shards thanks to the tiny nanoparticles that are tightly bound to make this model of ceramic window tint highly durable. Along with added privacy, you'll feel safer with the ultra protection while indulging in the comfort of a glare-free, pleasantly cool car interior."
          >
        </div>
      </div>
    </div>
  </section>
  <section class="our_partners intallment_sec">
    <div class="sec_container">
      <div class="sec_title">
        <h2>0% INSTALLMENT AVAILABLE!*</h2>
      </div>
      <div class="intallment_row">
        <div class="intallment_icons">
          <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/IAI1.png?v=1707926919" alt="">
          <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/IAI2.png?v=1707926919" alt="">
          <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/IAI3.png?v=1707926919" alt="">
          <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/IAI4.png?v=1707926919" alt="">
          <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/IAI5.png?v=1707926919" alt="">
          <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/IAI6.png?v=1707926919" alt="">
        </div>
        <a href="#" style="pointer-event:none">and many more banks</a>
        <a href="https://wa.link/v7t6iv" class="ppf_btn">book now</a>
      </div>
    </div>
  </section>
  <section class="blog_post_container">
    <div class="blog_post_blk">
      <div class="blog_post_content">
        <strong>TRAPO QUIK SHIELD COAT</strong>
        <h6>Ready for my next move!</h6>
        <p>
          <i
            >“Received amazing service from the coating team! Despite my car being older, their standards were
            top-notch. The quick coat package I chose wasn't just fast; you can really see the difference it made. 🔥”</i
          >
        </p>
        <span>-Andrew L.</span>
      </div>
      <div class="blog_post_img">
        <img
          src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_315.png?v=1708261910"
          alt="Trapo Car Tint hooked up my beast ride! Installation was smooth.. thank you Trapo team~ No more heat vibes from sunny day. Glare's down for the fam, and the sleek look is lit. Everyone felt safer with their belongings!"
          width="700px"
        >
      </div>
    </div>
  </section>
  <section class="blog_post_container tint_service_blk">
    <div class="tint_service_tab">
      <ul id="tabs-nav">
        <li><a class="active" href="#tab1">Our Process</a></li>
        <li><a href="#tab2">FAQ</a></li>
      </ul>
      <div id="tabs-content">
        <div id="tab1" class="tab-content">
          <div class="tab_img">
            <img
              src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/ourProcess_coat_1.png?v=1709564799"
              alt="Cleaning the Glass"
            >
            <img
              src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/ourProcess_coat_2.png?v=1709564799"
              alt="Installing Tint Film"
            >
            <img
              src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/ourProcess_coat_3.png?v=1709564799"
              alt="Drying and Quality Check"
            >
          </div>
        </div>
        <div id="tab2" class="tab-content">
          <p class="faq-title"><strong>1) How long does the coating can last?</strong></p>
          <p>
            - Quick shield coating = 1 year protection <br>
            - Pro shield coating = 4 year protection <br>
            - Diamond shield coating = 5 year protection
          </p>
          <p class="faq-title"><strong>2) Does the coating comes with self healing function?</strong></p>
          <p>
            - Pro Shield / Diamond Shield comes with self healing function, it’s able to regenerate (When exposed under
            Sun directly for 30 minutes) lite scratch caused by : Cat / Dust / Sand / Finger Nail .
          </p>

          <p class="faq-title"><strong>3) Do old car need coating or coating is only for new car?</strong></p>
          <p>
            - Both old / new car will need coating, as coating is made for car paint protection function, it’s able to
            prolong the lifespan of car paint and make sure it’s at optimum condition like Day 1. For Old car, we will
            do polishing to remove the dirt / marks on the paint and then just coat it up, providing a fresh new look
            again!
          </p>

          <p class="faq-title"><strong>3) Can we polish the car after coating?</strong></p>
          <p>
            - Within the warranty period, please do not polish the car as it will void the warranty. Please bring the
            car for maintenance within the warranty period and let our professionals to maintain it at optimum
            condition.
          </p>
        </div>
      </div>
    </div>
    <a href="https://wa.link/v7t6iv" class="ppf_btn">DROP BY OUR HUB FOR ASSESSMENT</a>
  </section>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery.slick/1.4.1/slick.min.js"></script>
<script>
  $("#ppf_slider").slick({
          speed: 1000,
          dots: false,
          centerMode: false,
          focusOnSelect: true,
          prevArrow: '<button class="slide-arrow prev-arrow"></button>',
          nextArrow: '<button class="slide-arrow next-arrow"></button>',
          infinite: true,
          speed: 500,
      });
  $('#tabs-nav li:first-child').addClass('active');
      $('.tab-content').hide();
      $('.tab-content:first').show();
      $('#tabs-nav li').click(function(){
          $('#tabs-nav li').removeClass('active');
          $(this).addClass('active');
          $('.tab-content').hide();
          var activeTab = $(this).find('a').attr('href');
          $(activeTab).fadeIn();
          return false;
      });
      $(document).ready(function() {
          $(".ppf_banner_link .ppf_banner_link_item").click(function () {
              $(".ppf_banner_link .ppf_banner_link_item").removeClass("active");
              $(this).addClass("active");
          });
      });
      $(document).ready(function() {
          $(".ppf_banner_link .ppf_banner_link_item").click(function () {
              $(".ppf_banner_link .ppf_banner_link_item").removeClass("active");
              $(this).addClass("active");
          });
      });
</script>
