<div class="container">

    <div class="our_collab">
        <div class="our_collab_title">
            <h1>Find Out Trapo Deals Near You</h1>
            <p>Discover exclusive offers by our collaborators here, specially curated for you.</p>
        </div>
        <div class="our_collab_row">
            <div class="our_collab_item">
                <div class="our_collab_img">
                    <img src="https://cdn.shopify.com/s/files/1/0549/4112/2809/files/Carsome_Ad.jpg?v=1702538890" alt="Enjoy Up to RM15,000 Discount and Rewards with CARSOME's Year End Sale Promo!">
                </div>
                <div class="our_collab_detail"> 
                    <div class="detail_inside"> 
                        <h4>Enjoy Up to RM15,000 Discount and Rewards with CARSOME's Year End Sale Promo!</h4>
                        <span class="our_collab_date">1 Dec - 31 Dec 2023</span>
                        <div class="our_collab_desc">
                            <p>Celebrate the New Year with CARSOME Certified Car & Get Up to RM15,000 for discount and rewards! This year end promotion is valid for purchase made on CARSOME website or Mobile App, and it is applicable only for CARSOME Certified Cars only.</p>
                            <p>Please note that this promotion starts from 1 to 31 December 2023. So hurry up and don't miss out and visit CARSOME now. Don't miss out on this exclusive year end promotion!</p>
                        </div>
                    </div>
                    <div class="detail_inside">
                        <h6>*T&C Apply</h6>
                        <a href="https://www.carsome.my/news/item/monthly-car-promo" target="_blank" class="our_collab_btn">explore offer</a>
                    </div>
                </div>
            </div>
            <div class="our_collab_item">
                <div class="our_collab_img">
                    <img src="https://cdn.shopify.com/s/files/1/0332/5801/2811/files/Flux_Ad_1.png?v=1702012254" alt="Enjoy RM700 OFF your first month of car rental with Flux!">
                </div>
                <div class="our_collab_detail"> 
                    <div class="detail_inside"> 
                        <h4>Enjoy RM700 OFF your first month of car rental with Flux!</h4><br>
                        <span class="our_collab_date">1 Dec - 31 Dec 2023</span>
                        <div class="our_collab_desc">
                            <p>Need a car ASAP? Subscribe to Flux car rental to enjoy RM700 a month on your first month. Plus, enjoy a FREE set of TRAPO car mats and a dashcam with your offer.</p>
                            <p>USE CODE: TRAPO23FLUX50 to redeem.</p>
                        </div>
                    </div>
                    <div class="detail_inside">
                        <h6>*T&C Apply</h6>
                        <a href="https://driveflux.com/cars/malaysia?planType=plan36&utm_source=Trapo+EDM&utm_medium=Email&utm_campaign=TrapoXFLUX" target="_blank" class="our_collab_btn">explore offer</a>
                    </div>
                </div>
            </div>
            <div class="our_collab_item">
                <div class="our_collab_img">
                    <img src="https://cdn.shopify.com/s/files/1/0549/4112/2809/files/Parkit_Ad_1-new.png?v=1703239197" alt="Get 10% OFF your first month of parking with PARKIT!">
                </div>
                <div class="our_collab_detail"> 
                    <div class="detail_inside">
                        <h4>Get 10% OFF your first month of parking with PARKIT!</h4><br><br>
                        <span class="our_collab_date"></span>
                        <div class="our_collab_desc">
                            <p>We know how important it is to save up on your monthly expenses. This exclusive offer allows you to get 10% OFF your first month of parking with PARKIT!</p>
                            <p>USE CODE: PIxTRAPO10OFF after a bay has been allocated to your account.</p>
                        </div>
                    </div>
                    <div class="detail_inside">
                        <h6>*T&C Apply</h6>
                        <!--<a >More Info</a>-->
                        <a href="https://www.parkitmy.com/find-parking/search" target="_blank" class="our_collab_btn">explore offer</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="our_collab_footer">
            <p>Interested to be featured here too? Join us and become our partner!</p>
            <a href="https://www.autogoodies.asia/account/register" class="our_collab_btn">BECOME OUR PARTNER</a>
        </div>
    </div>
</div>

<style>
    .our_collab{
    /* max-width: 1170px;
    margin: 0 auto;
    width: 100%;
    padding-inline:15px */
}
.our_collab_title {
    text-align: center;
    margin:30px 0 60px
}
.our_collab_title h1{
    font-family: Roboto;
    font-weight: 600;
    margin-top: 0;
    color: #16406d;
    margin-bottom: 0;
    text-align: center;
    line-height: 112%;
    font-size: 36px;
}
.our_collab_title p{
        font-size: 15px;
    margin: 0 0 15px;
    font-style: normal;
    line-height: 1.6em;
    font-weight: 400;
}
.our_collab_row {
    display: flex;
    flex-wrap: wrap;
    gap:20px;
    justify-content: space-between;
    padding-bottom: 30px
}
.our_collab_row .our_collab_item{
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column
}
.our_collab_row .our_collab_item .our_collab_img img{
    width: 100%;
}
.our_collab_row .our_collab_detail {
    padding: 30px 20px 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.our_collab_row .our_collab_detail h4{
    font-family: Roboto;
    font-weight: 700;
    text-align: left;
    color: #1b3d6d;
    font-size: 20px;
    line-height: 22px;
    margin: 0 0 15px;
    padding: 0
}
.our_collab_row .our_collab_detail .our_collab_date{
    font-size: 15px;
    margin: 0 0 15px;
    font-style: normal;
    line-height: 1.6em;
    font-weight: 700;
    display: block;
}
.our_collab_row .our_collab_detail .our_collab_desc p{
    font-size: 14px;
    line-height: 18px;
    text-align: left;
    font-weight: 400;
    margin: 0 0 15px;
}
.our_collab_row .our_collab_detail h6{
    font-size: 15px;
    margin: 0 0 15px;
    font-style: normal;
    line-height: 1.6em;
    font-weight: 400;
    color: #c5c5c5;
    margin-bottom: 4px;
}
a.our_collab_btn{
        background-color: #ee2a7b!important;
    color: #fff !important;
    display: table;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
    font-family: Roboto;
    font-weight: 700;
    border-radius: 50px;
    line-height: 20px;
    letter-spacing: .5px;
    font-size: 14px !important;
    padding: 12px 20px;
    text-transform: uppercase;
    text-decoration-line: none !important;
}
.our_collab_row .our_collab_detail a{
        cursor: pointer;
    color: #ee2a7b;
    margin-bottom: 0;
    text-decoration-line: underline;
    padding-bottom: 8px;
    font-size: 12px
}
.our_collab_item{
    background-color: #f7f7f7
}
.our_collab_footer{
    padding-top: 20px
}
.our_collab_footer p{
    font-size: 15px;
    text-align: center;
    margin: 0 0 15px;
    font-style: normal;
    line-height: 1.6em;
    font-weight: 400;
}
.our_collab_footer .our_collab_btn{
    margin-top: 0;
  color:#fff;
}
@media(max-width:1024px){
    .our_collab_title {
        margin-bottom: 40px;
    }
    .our_collab_row .our_collab_item:not(:last-child) {
        flex: unset;
        width: 48%;
    }
}
@media(max-width:1024px){
    .our_collab_row .our_collab_item:not(:last-child) {
        width: 100%;
    }
}
</style>