

<div class="smart_safe">
  <div class="container">
    <div class="smart_heading">
      <span class="acent">WE STRIVE TO BE</span>
      <h2>Smart. Safe.<br><span>Sustainable.</span></h2>
    </div>
    <div class="smart_safe_slider_wrap">
      <div>
        <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_1023.png?v=1756398232" class="desktop_view">
        <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_1023.png?v=1756398232" class="mobile_view">
      </div>
      <div>
        <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_1023.png?v=1756398232" class="desktop_view">
        <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_1023.png?v=1756398232" class="mobile_view">
      </div>
      <div>
        <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_1023.png?v=1756398232" class="desktop_view">
        <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_1023.png?v=1756398232" class="mobile_view">
      </div>
    </div>
    <div class="trapo_takes_this">
      <div class="sec_heading">
        <h2>Trapo takes this matter very seriously.</h2>
        <p>From using recycled materials to reducing waste in our production, we design and create with the planet in mind. From using recycled materials to reducing waste in our production, we design and create with the planet in mind.</p>
        <span>Tap on a pink dot to find out more:</span>
      </div>
      <div class="trapo_takes_this_grid">
        <div class="item">
          <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_1004.png?v=1756400580" />
          <span>Our Car Mats</span>
        </div>
        <div class="item">
          <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_1032.png?v=1756400580  " />
          <span>Car Mat Packaging</span>
        </div>
        <div class="item">
          <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_1033.png?v=1756400580"/>
          <span>Wiper Packaging</span>
        </div>
        <div class="item">
          <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Ellipse_24.png?v=1756400771"/>
          <span>Car Mat<br>Trade-In</span>
        </div>
        <div class="item">
          <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Ellipse_23.png?v=1756400771"/>
          <span>Wiper<br>Refills</span>
        </div>
        <div class="item">
          <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Ellipse_25.png?v=1756400771"/>
          <span>Dashcam<br>Recycle</span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="better_from_wallet">
  <div class="small_container">
    <div class="smart_heading">
      <h2>Better for your wallet, better for the planet.</h2>
      <span class="acent">Exclusive discounts when you trade in for greener upgrades.</span>
    </div>
    <div class="better_from_content">
      <div class="img_wrap">
        <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_12396.png?v=1756648369"/>
      </div>
      <h2 class="sec_title">How we recycle Trapo Car Mats?</h2>
      <div class="recycle_slider_desktop">
        <div class="item">
          <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_1016.png?v=1756648579" />
        </div>
        <div class="item">
          <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_1018.png?v=1756648579" />
        </div>
        <div class="item">
          <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_1017.png?v=1756648579"/>
        </div>
        <div class="item">
          <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_1019.png?v=1756648579"/>
        </div>
        <div class="item">
          <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_1020.png?v=1756648578"/>
        </div>
      </div>
    </div>
    <div class="smart_heading">
      <h2>How we recycle your old wipers?</h2>
      <span class="acent">We carefully separate the parts and work with trusted recycling partners to <br> make sure materials are reused in a safe and sustainable way.</span>
    </div>
    <div class="smart_heading">
      <h2>How we recycle your old dashcams?</h2>
      <span class="acent">We decommission devices and collaborate with licensed e-waste <br> specialists to recover components safely and prevent harmful <br> impact on the environment.</span>
    </div>
    <div class="smart_heading">
      <h2>Just finished your car care bottle?</h2>
      <span class="acent">Don’t toss them away! Get a refill at any Trapo Hub—and enjoy 50% OFF while you’re at it!</span>
    </div>
    <div class="smart_heading">
      <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/box_blue.png?v=1756652578">
      <span class="acent">The longer you keep using your bottles and spray heads, the less <br> plastic piles up in our landfills—small habit, big impact.</span>
    </div>
  </div>
</div>





<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap" rel="stylesheet">

<script>
$('.smart_safe_slider_wrap').slick({
  dots: false,
  slidesToShow: 1,
  slidesToScroll: 1,
  prevArrow:"<button type='button' class='slick-prev pull-left'><img src='https://cdn.shopify.com/s/files/1/0234/7089/9277/files/btn_right_fde85769-4956-4557-9841-dc84c5925da7.png?v=1756399608' /></button>",
  nextArrow:"<button type='button' class='slick-next pull-right'><img src='https://cdn.shopify.com/s/files/1/0234/7089/9277/files/btn_right_1.png?v=1756399608'/></button>"
});
</script>
<script>
$('.recycle_slider_desktop').slick({
  dots: false,
  slidesToShow: 3,
  slidesToScroll: 1,
  arrows: false,
  centerPadding: '60px',
  auto:true
});

  </script>
<style>
 .shopify-section--header{
display:none !important
}
  @font-face {
    font-family: 'fontjekregular';
    src: url('https://cdn.shopify.com/s/files/1/0234/7089/9277/files/fontjek-webfont.woff2?v=1683571516') format('woff2'),
         url('https://cdn.shopify.com/s/files/1/0234/7089/9277/files/fontjek-webfont.woff?v=1683571516') format('woff');
    font-weight: normal;
    font-style: normal;

  } 
  .smart_safe {
      background: linear-gradient(180deg, #358D3F 0%, #216F3A 100%);
      color: #fff;
      padding-block: 50px 100px;
  }
  .smart_safe .container{
      max-width: 1200px;
      margin: 0 auto;
      width: 100%;
      display: block ;
      text-align: center
  }
  .smart_safe img{
      width: 100%;
      display: block;
  }
  .smart_safe h2{
      color: #fff;
      margin: 0;
      font-family: 'fontjekregular' !important;
      font-size: 60px;
      line-height: 1;
      margin-top: 10px;
  }
  .smart_safe h2 span{
      display: block;margin-top: -10px;
      font-size: 75px;
  }
  .smart_safe .heading{
      text-align: center
  }
  .smart_safe .acent{
      letter-spacing: 2px;
      font-size: 20px;
  }
  .smart_safe_slider_wrap{
      padding-top: 14px;
      position: relative;
      margin-block: 30px 60px;
  }
  .smart_safe_slider_wrap:before{
      content: '';
      background-image: url('https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_1014.png?v=1756400050');
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      width: 360px;
      height: 36px;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translatex(-50%)
  }
  .smart_safe_slider_wrap .slick-arrow{
      background-color: transparent;
      position: absolute;
      top: 50%;
      transform: translatey(-50%);
      z-index: 9
  }
  .smart_safe_slider_wrap .slick-prev{
      left: 24px;
  }
  .smart_safe_slider_wrap .slick-next{
      right: 24px;
  }
  .trapo_takes_this_grid{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap:100px;
      margin-top:20px
  }
  .trapo_takes_this_grid img{
      width: 100%;
      display: block;
      aspect-ratio:1/1;
      object-fit: contain;
  }
  .trapo_takes_this_grid span{
      font-size: 20px;
      display: block;
      margin-top: 10px;
  }
  .trapo_takes_this .sec_heading p{
      margin-block: 50px;
      font-size: 18px;
      max-width: 685px;
      margin-inline:auto;
  }
  .trapo_takes_this .sec_heading span{
      font-size: 24px;
      font-weight: bold;
  }
  .better_from_wallet{
      background: radial-gradient(50.16% 50.16% at 50% 49.84%, #3377C9 0%, #0E4271 94.44%);   
      color: #fff;
      text-align: center;
      padding: 50px 0;
  }
  .better_from_wallet h2{
      color: inherit;
      font-family: 'fontjekregular' !important;;
      line-height: 67px;
      font-size: 51px;
      margin: 0 0 18px;
  }
  .better_from_wallet .acent{
      font-size: 19px;
      line-height: 27px;
      margin-block: 20px;
      display: block;
  }
  .better_from_wallet .img_wrap{
      max-width: 1100px;
      margin: 0 auto
  }
  .better_from_wallet .img_wrap img{
      display: block;
      width: 100%;
  }
  .better_from_wallet .sec_title{
      margin-bottom: 40px;
  }
  .recycle_slider_desktop{
      max-width: 1300px;
      margin: 0 auto 62px;
      
  }
  .recycle_slider_desktop img{
      width: 100%;
      display: block;
  }
  .recycle_slider_desktop .slick-list{
      overflow:visible
  }
  .recycle_slider_desktop .slick-list .item{
      padding-right: 30px
  }
  .smart_heading img{
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 644px;
}
  @media(min-width:768px){
      .mobile_view{
        display: none !important  
      }
  }
  @media(max-width:767px){
      .desktop_view{
          display: none !important
      }
  }
</style>