
<div class="csr-outer">
    <div class="container">
      <div class="page-text">
            <h3 class="plus-hide-mobile"><span class="effra-1">Sustainability</span> <span class="effra-2">starts with</span> <span class="effra-3">you.</span></h3>
        <h3 class="plus-hide-desktop"style="line-height:25px;margin-top:40px;"><span class="effra-1">Sustainability</span><br><span class="effra-2">starts with</span><br><span class="effra-3">you.</span></h3>
            <p class="subtitle-1">Did you know?</p>
      </div>
    </div>

    <div class="slider-banner-desktop plus-hide-mobile">
      <div class="image">
          <img data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/desktop_Banner_1.webp" class="img-size lazyload">
      </div>
      <div class="image">
          <img data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/desktop_Banner_2.webp" class="img-size lazyload">
      </div>
      <div class="image">
          <img data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/desktop_Banner_3.webp" class="img-size lazyload">
      </div>
    </div>
    <div class="slider-banner-mobile plus-hide-desktop">
      <div class="image">
          <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/mobile_Banner_1-new.webp">
      </div>
      <div class="image">
          <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/mobile_Banner_2-new.webp">
      </div>
      <div class="image">
          <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/mobile_Banner_3-new.webp">
      </div>
    </div>

    <div class="container" style="display: unset;">
      <div class="page-text">
            <p style="padding:0 10px;color:#003A70">If we don’t recycle any of these, we would eventually run out of space on earth!</p>
      </div>
      <p class="no-padding" style="text-align:center;">
        <img data-src='https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Earth-new.webp?v=1683619914' style="width:400px !important" alt="Earth" data-expand="10" class="img-size lazyload plus-hide-mobile">
        <img data-src='https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Earth-new.webp?v=1683619914' style="width:75% !important" alt="Earth" data-expand="10" class="img-size lazyload plus-hide-desktop">
      </p>
  
      <div class="page-text">
            <h3 class="new-title plus-hide-mobile">Trapo takes this matter <span style="color:#EC247C">very seriously.</span></h3>
            <h3 class="new-title plus-hide-desktop">Trapo takes this matter<br><span style="color:#EC247C">very seriously.</span></h3>
            <p style="padding:0 10px;">That’s why we’ve designed our products around using these recyclable materials.<br>So that there can still be a future for humanity.</p>
      </div>
  
      <p class="no-padding" style="text-align:center;position:relative">
        <img data-src='https://cdn.shopify.com/s/files/1/0234/7089/9277/files/trapoMat_anatomy.webp?v=1683272078' style="width: 70% !important;" alt="Trapo takes this matter very seriously." data-expand="10" class="img-size lazyload plus-hide-mobile">
        <a href="#click1" class="click1"></a>
        <a href="#click2" class="click2"></a>
        <img data-src='https://cdn.shopify.com/s/files/1/0234/7089/9277/files/trapoMat_anatomy-mobile-new-1.webp?v=1683621535' alt="Trapo takes this matter very seriously." data-expand="10" class="img-size lazyload plus-hide-desktop">
      </p>

      <div class="video">
        <div class="wrapper">
          <div class="youtube" data-embed="KFfhJSko-zM">
            <div class="play-button"></div>
          </div>
        </div>
      </div>
      
      <div class="page-text">
            <h3 class="new-title"><span style="color:#EC247C">Life cycle</span> of a Trapo mat</h3>
            <p style="padding:0 10px;">Once these car mats have served their time well for the duration of ownership, they can be<br> repurposed again. Simply return any pre-loved TRAPO mats so that they can be continuously<br> recycled and reinvented for the next owner!</p>
      </div>
  
      <p class="no-padding" style="text-align:center">
        <img data-src='https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Trapo_Life_Cycle_1.webp?v=1683272458' style="width:50% !important" alt="Trapo Life Cycle" data-expand="10" class="img-size lazyload plus-hide-mobile">
        <img data-src='https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Trapo_Life_Cycle_1.webp?v=1683272458' alt="Trapo Life Cycle" data-expand="10" class="img-size lazyload plus-hide-desktop">
      </p>
  
      <div class="page-text">
            <h3 class="new-title">Join us in <span style="color:#EC247C">our cause</span></h3>
            <p>Experience an elevated driving experience while helping to save the planet.<br>You can make a difference today.</p>
      </div>
    </div>

    <p class="no-padding" style="position:relative">
      <img data-src='https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Trapo_Trade-In_Programme_desktop-new.webp' alt="Trapo trade in Programme" data-expand="10" class="img-size lazyload plus-hide-mobile">
      <img data-src='https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Trapo_Trade-In_Programme_mobile-new_4d5e10e6-2aca-4138-bdee-d0a52a5e60aa.webp' alt="Trapo trade in Programme" data-expand="10" class="img-size lazyload plus-hide-desktop">
      
        <a href="https://api.whatsapp.com/send?phone=60126388285" class="btn1">Trade-in<br></br>Your Old Car Mats</a>
        <a href="https://my.trapo.asia/collections/car-mats" class="btn2">Purchase<br></br>Car Mats</a>
     
    </p>

    <div class="container" style="display: unset;">
      <div class="page-text" id="click1">
            <h3 class="new-title plus-hide-mobile"><span style="color:#EC247C">How we recycle</span> your old Trapo car mat?</h3>
        <h3 class="new-title plus-hide-desktop"><span style="color:#EC247C">How we recycle</span><br>your old Trapo car mat?</h3>
            <p style="padding:0 10px;">TRAPO went the extra mile just to ensure all procedures are enviromentally friendly<br> while adhering to strict SOPs.</p>
      </div>
  
      <p class="no-padding" style="text-align:center;">
        <img data-src='https://cdn.shopify.com/s/files/1/0234/7089/9277/files/pic_recycleTrapoMat-new.webp?v=1683620045' style="width: 80% !important;" alt="How we recycle your old Trapo car mat?" data-expand="10" class="img-size lazyload plus-hide-mobile">
        <img data-src='https://cdn.shopify.com/s/files/1/0234/7089/9277/files/pic_recycleTrapoMat_mobile-new.webp?v=1683620045' alt="How we recycle your old Trapo car mat?" data-expand="10" class="img-size lazyload plus-hide-desktop">
      </p>
  
      <div class="page-text" id="click2" style="margin-bottom:0">
            <p style="padding:0 10px;">Our recycling process is meticulous, all for the sake of a better future.</p>
      </div>
  
      <div class="page-text">
            <h3 class="new-title">Making use of <span style="color:#EC247C">rice husk</span></h3>
            <p style="padding:0 10px;">As part of social responsibility, we are giving back by helping our local farmers from<br> Kedah paddy field to manage rice husk wastage.</p>
      </div>
  
      <p class="no-padding" style="text-align:center">
        <img data-src='https://cdn.shopify.com/s/files/1/0234/7089/9277/files/pic_riceHusk-new.webp?v=1683620113' style="width: 70% !important;" alt="Making use of rice husk" data-expand="10" class="img-size lazyload plus-hide-mobile">
        <img data-src='https://cdn.shopify.com/s/files/1/0234/7089/9277/files/pic_riceHusk_mobile-new.webp?v=1683620113' alt="Making use of rice husk" data-expand="10" class="img-size lazyload plus-hide-desktop">
      </p>
      <div class="page-text">
            <p class="plus-hide-mobile" style="padding:0 10px;">We are committed to ensuring that our future generation<br> benefits from our thorough process.</p>
         <p class="plus-hide-desktop" style="padding:0 10px;">We are committed to ensuring that our future<br>generation benefits from<br> our thorough process.</p>
      </div>
  
      <div class="page-text">
            <h3 class="new-title">Still reading?</h3>
            <p>Here’s some more food for thought!</p>
            <p class="review-text" style="padding:0 10px;">“We are the first generation to feel the sting of climate change, and<br> we are the last generation that can do something about it.”</p>
            <p class="review-author">- Jay Inslee</p>
      </div>
  
      <div class="page-text">
            <h3 class="new-title">As of today...</h3>
            <p>Trapo has reused 250 tons of EVA Foam wastage.</p>
      </div>
  
      <p class="no-padding" style="text-align:center">
        <img data-src='https://cdn.shopify.com/s/files/1/0234/7089/9277/files/pic_EVAwaste.webp?v=1683273640' alt="Trapo reuses 250 tons of EVA Foam wastage." data-expand="10" class="img-size lazyload plus-hide-mobile" style="width: 50% !important;">
        <img data-src='https://cdn.shopify.com/s/files/1/0234/7089/9277/files/pic_EVAwaste.webp?v=1683273640' alt="Trapo reuses 250 tons of EVA Foam wastage." data-expand="10" class="img-size lazyload plus-hide-desktop">
      </p>
  
      <div class="page-text">
            <h3 class="new-title plus-hide-mobile">Towards Becoming <span style="color:#EC247C">Even More Sustainable</span></h3>
        <h3 class="new-title plus-hide-desktop">Towards Becoming<br><span style="color:#EC247C">Even More Sustainable</span></h3>
            <p class="plus-hide-mobile" style="color:#003A70;padding:0 10px;">As a company, we are aligned with the United Nation’s Sustainable<br> Development Goal No.12 and thus, champion green and sustainable<br> business practices in all aspects of our business.</p>
        <p class="plus-hide-desktop" style="color:#003A70;padding:0 10px;">As a company, we are aligned with the United<br>Nation’s Sustainable Development <br>Goal No.12 and thus, champion <br>green and sustainable business<br>practices in all aspects of our business.</p>
      </div>
  
      <p class="no-padding" style="text-align:center">
        <img data-src='https://cdn.shopify.com/s/files/1/0234/7089/9277/files/csr-d-7.jpg?v=1646221469' alt="UN Logos" data-expand="10" class="img-size lazyload plus-hide-mobile" style="width: 570px !important;">
        <img data-src='https://cdn.shopify.com/s/files/1/0234/7089/9277/files/csr-d-7.jpg?v=1646221469' alt="UN Logos" data-expand="10" class="img-size lazyload plus-hide-desktop" style="width: 334px !important;">
      </p>
    </div>
</div>

<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap" rel="stylesheet">

<script>
  $('.slider-banner-desktop,.slider-banner-mobile').slick({
  dots: true,
  infinite: false,
  prevArrow:"<button type='button' class='slick-prev pull-left'><img src='https://cdn.shopify.com/s/files/1/0234/7089/9277/files/btn_left-new.png?v=1683611771' /></button>",
  nextArrow:"<button type='button' class='slick-next pull-right'><img src='https://cdn.shopify.com/s/files/1/0234/7089/9277/files/btn_right-new.png?v=1683611771'/></button>"
});
</script>
<style>
* {
  	margin: 0 0;
  	padding: 0 0;
  }
  
  .footer ul {
  	list-style: none !important
  }
  .wrap {
  	line-height: 0 !important
  }
  
  div p {
  	text-align: center;
  }
  
  .desktop {
  	display: block;
  }
    .no-padding {
    	margin: 0px 0px !important;
    	line-height: 0px !important;
    }
    
    .no-padding img {
    	width: 100% !important;
    }
    
    .page-text {
    	margin: 50px auto;
    	width: 80%;
    }
    .page-text-bg{
      background: #E5E7E9;
      padding: 0;
      width: 100%;
    }
    .page-text-bg h3{
      margin:0;
      color: #16406d;
      font-size: 2.81rem;
      line-height: 54px;
      text-align: center;
      font-weight: 400;
    }
  .page-text h3 span.effra-1{
      font-family:'Roboto' !important;
      font-weight: 700;
    }
   .page-text h3 span.effra-2{
      font-family: "Roboto" !important;
      font-weight: 400;
    }
   .page-text h3 span.effra-3{
      font-family:'Roboto' !important;
      font-weight: 700;
     color:#EC247C;
    }
    .page-text.white-text {
    	background-color: #CECECE;
    	padding: 50px 0;
    	width: 100%;
    	margin: auto;
    }
    
    .page-text h3 {
    	color: #16406d;
    	font-size: 2.81rem;
    	line-height: 54px;
    	text-align: center;
    	font-weight: 400;
    }
    
    .page-text p {
    	color: #333333;
    	font-size: 1.3rem;
    	line-height: 30px;
    	text-align: center;
    }
    .btn-shop-now {
      text-align:center !important;
    }
    .btn-shop-now a img{
       width:30% !important;
    }

/* New CSS */

@font-face {
    font-family: 'fontjekregular';
    src: url('https://cdn.shopify.com/s/files/1/0234/7089/9277/files/fontjek-webfont.woff2?v=1683571516') format('woff2'),
         url('https://cdn.shopify.com/s/files/1/0234/7089/9277/files/fontjek-webfont.woff?v=1683571516') format('woff');
    font-weight: normal;
    font-style: normal;

}


  div.container.main.content{
    max-width:100%;
  }

   div.container.main.content div.container{
    padding:0;
   }
  
.page-text p.subtitle-1{
  font-family: 'fontjekregular' !important;
  font-size: 35px;
  font-weight: 400;
  line-height: 46px;
  letter-spacing: 0em;
  color:#16406D;
}

   .page-text p.review-text{
  font-family: 'Lora', serif !important;
    font-size: 27px;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: center;
    color: #EC247C;
}
  h3.new-title, h3.new-title span{
    font-family: 'fontjekregular' !important;
    font-weight: normal;
    font-size: 35px;
  line-height: 46px;
  letter-spacing: 0em;
  }
   a.click1{
    position: absolute;
    left: 17%;
    top: 58%;
    width: 13%;
    height: 50px;
    display: block;
  }
   a.click2{
    position: absolute;
    right: 17%;
    top: 58%;
    width: 13%;
    height: 50px;
    display: block;
  }

   a.btn1{
    position: absolute;
    right: 13%;
    top: 31%;
    background: #EC247C;
    color: #fff;
    width: 13%;
    height: auto;
    text-align: center;
    padding: 10px 25px;
    line-height: 8px;
    border-radius: 50px;
    font-size: 14px;
  }
   a.btn2{
    position: absolute;
    right: 13%;
    top: 51%;
    background: #EC247C;
    color: #fff;
    width: 13%;
    height: auto;
    text-align: center;
    padding: 10px 25px;
    line-height: 8px;
    border-radius: 50px;
    font-size: 14px;
  }
  .video{
    width: 70%;
    margin: 0 auto;
    margin-top: 2rem;
  }
    
    @media screen and (max-width: 768px) {
    	.plus-hide-mobile {
    		display: none;
    	}
    
    	.container.breadcrumb-container-page {
    		padding-top: 13px;
    	}
    
    	.page-text {
    		margin: 20px auto;
    		width: 100%;
    	}
    
    	.page-text h3 {
    		font-size: 1.5rem;
    		line-height: 40px;
          margin-top:0 !important;
    	}
      h3.new-title, h3.new-title span{
      font-family: 'fontjekregular' !important;
      font-weight: normal;
      font-size: 35px;
    line-height: 46px;
    letter-spacing: 0em;
    }
        .page-text-bg {
    		width: 100%;
    	}
        .page-text-bg h3 {
    		font-size: 1.5rem;
    		line-height: 40px;
    	}
        .page-text.white-text p{
            width: 85%;
            margin: auto;
        }
        .btn-shop-now a img{
            width:50% !important;
        }
         .page-text.last-p p{
            font-size: 1rem;
            line-height: 20px;
        }
         .page-text p{
            font-size: 1rem;
            line-height: 24px;
        }
       a.click1{
        left: 5%;
      bottom: 2%;
      width: 40%;
        top: unset;
      }
        a.click2{
        right: 5%;
      bottom: 2%;
      width: 40%;
         top: unset;
      }
       a.btn1{
        right:unset;
        left:3%;
        top:87%;
        width:46%;
      }
       a.btn2{
        right:3%;
        top:87%;
        width:46%;
      }
      .video{
    width: 100%;
    margin: 0 auto;
    margin-top: 2rem;
  }

    }

  @media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
 a.btn1{
        right:unset;
        left:3%;
        top:87%;
        width:46%;
      }
       a.btn2{
        right:3%;
        top:87%;
        width:46%;
      }
}
    
    @media screen and (min-width: 769px) {
    	.plus-hide-desktop {
    		display: none;
    	}

         .page-text p.review-text{
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0em;
}
       
    }

  /* Slick CSS */

  @charset 'UTF-8';

/* Icons */
@font-face
{
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;

    src: url('{{ "slick.eot" | asset_url }}');
    src: url('{{ "slick.eot" | asset_url }}') format('embedded-opentype'), url('{{ "slick.woff" | asset_url }}') format('woff'), url('{{ "slick.ttf" | asset_url }}') format('truetype')
}
/* Arrows */
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: block;

    width: 35px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.slick-slide img{
  display: block;
    width: 100%;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    color: transparent;
    outline: none;
    background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: .25;
}

.slick-prev:before,
.slick-next:before
{
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;

    opacity: .75;
    color: white;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev
{
    left: 0px;
    z-index: 99;
}
[dir='rtl'] .slick-prev
{
    right: -25px;
    left: auto;
}
.slick-prev:before
{
    content: '';
}
[dir='rtl'] .slick-prev:before
{
    content: '';
}

.slick-next
{
    right: 0px;
}
[dir='rtl'] .slick-next
{
    right: auto;
    left: -25px;
}
.slick-next:before
{
    content: '';
}
[dir='rtl'] .slick-next:before
{
    content: '';
}

/* Dots */
.slick-dotted.slick-slider
{
    margin-bottom: 30px;
}

.slick-dots
{
    position: absolute;
    bottom: -25px;

    display: block;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
}
.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: '•';
    text-align: center;

    opacity: .25;
    color: black;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    opacity: .75;
    color: black;
}
  .slick-prev img,.slick-next img{
    width:100%;
  }
  .slick-dots{
    bottom:0;
  }
  .slick-dots li button:before{
    content:'';
    border: 1px solid #888888;
    border-radius: 50%;
    height: 18px;
    width: 18px;
  }
  .slick-dots li.slick-active button:before {
    opacity: .75;
    color: black;
    background: #888888;
    border-radius: 50%;
    height:18px;
    width:18px;
    border:0;
}
 @media only screen and (max-width: 600px){
   .csr-outer{
     margin:0 10px;
   }
 }
</style>