

<div class="smart_safe">
  <div class="container">
    <div class="smart_heading">
      <span class="acent">WE STRIVE TO BE</span>
      <h2>Smart. Safe.<br>Sustainable.</h2>
    </div>
    <div class="smart_safe_slider_wrap">
      <div>
        <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_1023.png?v=1756398232" class="desktop_view">
        <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_1023.png?v=1756398232" class="mobile_view">
      </div>
    </div>
  </div>
</div>


<style>
  .shopify-section--header{
    display:none !important
  }
</style>