

<div class="smart_safe">
  <div class="container">
    <div class="smart_heading">
      <span class="acent">WE STRIVE TO BE</span>
      <h2>Smart. Safe.<br>Sustainable.</h2>
    </div>
    <div class="smart_safe_slider_wrap">
      <div>
        <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_1023.png?v=1756398232" class="desktop_view">
        <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_1023.png?v=1756398232" class="mobile_view">
      </div>
      <div>
        <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_1023.png?v=1756398232" class="desktop_view">
        <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_1023.png?v=1756398232" class="mobile_view">
      </div>
      <div>
        <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_1023.png?v=1756398232" class="desktop_view">
        <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_1023.png?v=1756398232" class="mobile_view">
      </div>
    </div>
  </div>
</div>




<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap" rel="stylesheet">

<script>
  $('.smart_safe_slider_wrap').slick({
    dots: true,
    item:1,
    prevArrow:"<button type='button' class='slick-prev pull-left'><img src='https://cdn.shopify.com/s/files/1/0234/7089/9277/files/btn_left-new.png?v=1683611771' /></button>",
    nextArrow:"<button type='button' class='slick-next pull-right'><img src='https://cdn.shopify.com/s/files/1/0234/7089/9277/files/btn_right-new.png?v=1683611771'/></button>"
});
</script>

<style>
  @font-face {
    font-family: 'fontjekregular';
    src: url('https://cdn.shopify.com/s/files/1/0234/7089/9277/files/fontjek-webfont.woff2?v=1683571516') format('woff2'),
         url('https://cdn.shopify.com/s/files/1/0234/7089/9277/files/fontjek-webfont.woff?v=1683571516') format('woff');
    font-weight: normal;
    font-style: normal;

  } 
  .shopify-section--header{
    display:none !important
  }
  .smart_safe {
    background: linear-gradient(180deg, #358D3F 0%, #216F3A 100%);
    color: #fff;
}
.smart_safe .container{
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    display:block
}
.smart_safe img{
    width: 100%;
    display: block;
}
.smart_safe h2{
    color: #fff;
    margin: 0
}
@media(min-width:768px){
    .mobile_view{
      display: none !important  
    }
}
@media(max-width:767px){
    .desktop_view{
        display: none !important
    }
}
</style>