
<link src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.8/slick-theme.min.css"></link>
<link src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.8/slick.min.css" ></link>
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.8/slick.min.js"></script>

<div class="smart_safe">
  <div class="smart_heading">
    <span class="acent">WE STRIVE TO BE</span>
    <h2>Smart. Safe.<br>Sustainable.</h2>
  </div>
  <div class="smart_safe_slider">
    
  </div>
</div>