
<link src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.8/slick-theme.min.css"></link>
<link src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.8/slick.min.css" ></link>
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.8/slick.min.js"></script>

<div class="smart_safe">
  <div class="smart_heading">
    <span class="acent">WE STRIVE TO BE</span>
    <h2>Smart. Safe.<br>Sustainable.</h2>
  </div>
  <div class="smart_safe_slider">
    <div class="smart_safe_slider_wrap">
      <div>
        <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_1023.png?v=1756398232">
      </div>
      <div>
        <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_1023.png?v=1756398232">
      </div>
      <div>
        <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_1023.png?v=1756398232">
      </div>
      <div>
        <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_1023.png?v=1756398232">
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function(){
    $('.smart_safe_slider_wrap').slick({
      slidesToShow: 3,
      dots:true,
      centerMode: true,
    });
  });
</script>