<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css">
<div class="container">
  <div class="dashcam-head container">
    <img
      class="head-image lazyload"
      src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/dashcam-head.png"
      alt=""
      height=""
      width="230px"
    >
  </div>
  <div class="dashcam-1">
    <img
      class="head-image lazyload"
      src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/dashcam-1.jpg"
      alt=""
      height=""
      width="500px"
    >
  </div>
  <div class="dashcam-features" style="padding: 2rem 0 1rem">
    <h1 class="heading-title" style="color: #4274AF">
      BUILT TO TAKE THE <br>
      MALAYSIAN HEAT
    </h1>
    <ul class="d1-list">
      <li class="features">Heat Resistant (Up to 80°C)</li>
      <li class="features">Built-in GPS</li>
      <li class="features">Voice Command</li>
    </ul>
  </div>
  <div class="stars">
    <img
      src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/stars.png?v=1717075743"
      alt=""
      width="150px"
      height=""
    >
    <span class="over-1k">Over 1,000 5-star reviews!</span><br>
    <img
      src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/shop-now-1.png?v=1717076523"
      width="281px"
      height=""
      alt=""
      class="lazyload"
    >
  </div>

  {% render 'wiper-testimonials-video' %}
  {% render 'featured-brands' %}

  <div class="upgrade py-5">
    <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/dashcam-2.jpg" alt="" width="" height="">
  </div>
  <div class="effect">
    <h3 class="heading-title">Super Capacitor</h3>
    <p class="sub-text">
      The super capacitor not only lasts longer than lithium batteries but also ensures your dashcam consistently
      captures crucial moments. It's the perfect choice for those who want reliable performance and durability, no
      matter the weather.
    </p>
  </div>
  <div class="py-5">
    <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/dashcam-3.png" alt="" width="100%" height="">
  </div>

  {% render 'dashcam-filter' %}
</div>
{% render 'text-testimonial-slider' %}
<style>
  html {
    overflow-x: hidden;
  }

  .body {
    /* width: 500px; */
  }

  .shopify-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  header,
  footer,
  .shopify-section--mega-menu,
  .container.breadcrumb-container-page {
    display: none !important;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 500px;
    padding: 0 0;
  }

  .dashcam-head {
    background-color: #17406d;
    height: 92px;
    padding: 0 0 !important;
    margin: 0 0 !important;
  }

  .d1-list {
    list-style-type: none;
    margin: 0 0;
    padding: 0 0;
  }

  .dashcam-features .features {
    background: url(https://cdn.shopify.com/s/files/1/0234/7089/9277/files/icon_478a929f-cd39-4405-954e-a6e78d86e43e.png) no-repeat left center;
    padding-left: 30px;
  }
  .stars{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding-bottom: 3rem;
  }
  .over-1k {
    font-weight: 900;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #4274AF;
  }

  .shop-now {}

  .ratings .rat-left {
    padding: 0px 3.5px 0px 15px !important;
    margin: 0px 0px !important;
  }

  .ratings .rat-right {
    padding: 0px 15px 0px 3.5px !important;
    margin: 0px 0px !important;
  }

  .ratings .row {
    --bs-gutter-x: 1rem !important;
    --bs-gutter-y: 1rem !important;
    margin-top: 2rem;
  }

  h1.heading-title {
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: #17406d;
    font-style: italic;
  }

  h3.heading-title {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    line-height: 30px;
    letter-spacing: 4px;
    color: #17406d;
  }

  .sub-text {
    color: #17406d;
    font-size: 16px;
    text-align: center;
    padding: 0 25px;
    font-weight: 400;
  }

  .featured-on,
  .upgrade,
  .effect {
    flex-direction: column;
    align-content: center;
  }

  .effect {
    padding: 0 30px;
  }
  .r-form-button-group button{
      color: #FFFFFF !important;
      border-radius: 30px;
      background: #e12c7b !important;
      font-weight: bold !important;
      text-transform: uppercase !important;
      box-shadow: none;
      cursor: pointer;
      text-align: center;
      font-size: 14px !important;
      border: 1px solid #e12c7b !important;
      margin: 0;
      padding: 0 0;
      line-height: 1.2;
      float: left;
      flex: 1 1 48%;
      appearance: none;
      width: 337px;
      height: 60px;
  }
</style>

{% schema %}
{
"name": "Car Wiper Page for Ads",
"settings": []
}
{% endschema %}

<!--
  <div class="dashcam-img py-5">
    <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/dashcam-banner.png" alt="" height="100%" width="">
  </div>

  <div class="ratings">
    <div class="row">
      <div class="col-6 justify-content-center rat-left">
        <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/ratings-1.png" alt="" width="100%" height="">
      </div>
      <div class="col-6 justify-content-center rat-right">
        <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/ratings-2.png" alt="" width="100%" height="">
      </div>

      <div class="col-6 justify-content-center rat-left">
        <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/ratings-3.png" alt="" width="100%" height="">
      </div>
      <div class="col-6 justify-content-center rat-right">
        <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/ratings-4.png" alt="" width="100%" height="">
      </div>
    </div>
  </div>
    {% comment %} <div class="py-3">
    <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/dashcam-features.jpg" alt="" width="" height="">
  </div> {% endcomment %}
-->
