<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css">
<section class="trapo_ecosystem">
  <div id="gf-form"></div>
  <div class="container">
    <div class="left">
      <div class="img">
        <img
          src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_448.png?v=1720028129"
          alt="An ecosystem with Trapo Exosystem"
        >
      </div>
      <h2>An ecosystem with Trapo Exosystem</h2>
      <p>
        From interior to exterior, prioritizing safety, protection, hygiene and convenience, we aim to be your trusted
        go-to brand for all things car accessories.
      </p>
      <a href="{% if shop.locale == 'ms' %}/ms{% endif %}/pages/trapo-exosystem">Discover Now</a>
    </div>
    <div class="right">
      <img
        src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_439.png?v=1718645317"
        alt="An ecosystem with Trapo Exosystem"
      >
    </div>
  </div>
</section>

<section class="cars_shop">
  <div class="container">
    <h2 class="sec_title">Best Selling Car Models</h2>
    {% include 'what-hot-2' %}
  </div>
</section>

<section class="full_range">
  <div class="marquee">
    <div>
      <span
        ><img
          src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/explore-range-new.png?v=1720638657"
          alt="explore full range"
      ></span>
      <span
        ><img
          src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/explore-range-new.png?v=1720638657"
          alt="explore full range"
      ></span>
    </div>
  </div>
  <div class="container">
    <div class="full_range_content">
      <div class="inside_wrap">
        <div class="item">
          <a href="{% if shop.locale == 'ms' %}/ms{% endif %}/collections/car-mats">
            <div class="img">
              <img
                src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/1_-_Car_Mats.png?v=1720430042"
                alt="Car Mats"
              >
            </div>
            <span>Car Mats</span>
          </a>
        </div>
        <div class="item">
          <a href="{% if shop.locale == 'ms' %}/ms{% endif %} /pages/trapo-car-tint">
            <div class="img">
              <img
                src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/2_-_Tint_Films.png?v=1720430042"
                alt="Tint Films"
              >
            </div>
            <span>Tint Films</span>
          </a>
        </div>
      </div>
      <div class="inside_wrap_2">
        <div class="item">
          <a href="{% if shop.locale == 'ms' %}/ms{% endif %}/pages/trapo-ppf">
            <div class="img">
              <img
                src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/3_-_PPF_Films.png?v=1720430042"
                alt="PPF Films"
              >
            </div>
            <span>PPF Films</span>
          </a>
        </div>
        <div class="item">
          <a href="{% if shop.locale == 'ms' %}/ms{% endif %}/collections/car-dash-cams">
            <div class="img">
              <img
                src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/4_-_Dashcams.png?v=1720430042"
                alt="Dashcams"
              >
            </div>
            <span>Dashcams </span>
          </a>
        </div>
        <div class="item">
          <a href="{% if shop.locale == 'ms' %}/ms{% endif %}/pages/trapo-car-coating">
            <div class="img">
              <img
                src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/5-_Car_Coat.png?v=1720430042"
                alt="Car Coating"
              >
            </div>
            <span> Car Coating</span>
          </a>
        </div>
        <div class="item">
          <a href="{% if shop.locale == 'ms' %}/ms{% endif %}/collections/car-wipers">
            <div class="img">
              <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/6_-_Wiper.png?v=1720430041" alt="Wiper">
            </div>
            <span>Wiper </span>
          </a>
        </div>
        <div class="item">
          <a href="{% if shop.locale == 'ms' %}/ms{% endif %}/collections/car-phone-holders">
            <div class="img">
              <img
                src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/7_-_Phone_Holder.png?v=1720430045"
                alt="Air Purifier"
              >
            </div>
            <span>Phone Holders </span>
          </a>
        </div>
        <div class="item">
          <a href="{% if shop.locale == 'ms' %}/ms{% endif %}/products/trapo-premium-motion-sensor-car-air-purifier">
            <div class="img">
              <img
                src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/8_-_Air_Purifier.png?v=1720430042"
                alt=""
              >
            </div>
            <span>Air Purifier </span>
          </a>
        </div>
        <div class="item">
          <a href="{% if shop.locale == 'ms' %}/ms{% endif %}/collections/car-care-products">
            <div class="img">
              <img
                src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/9_-_Car_Care.png?v=1720430041"
                alt="Car Care"
              >
            </div>
            <span> Car Care</span>
          </a>
        </div>
        <div class="item">
          <a href="{% if shop.locale == 'ms' %}/ms{% endif %}/collections/car-accessories">
            <div class="img">
              <img
                src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/10_-_Other_Accessories_2.png?v=1723637430"
                alt="Other Accessories"
              >
            </div>
            <span>Other Accessories </span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="new_car">
  <img
    class="m_view"
    src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/image_75.png?v=1720109630"
    alt="View New Car Package"
  >
  <img
    class="d_view"
    src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/image_74.png?v=1720027401"
    alt="View New Car Package"
  >

  <div class="container">
    <div class="content">
      <h2>Got a new car?</h2>
      <p>Start preserving its value today! Check out our complete New Car Package (starting from RM1,990 ONLY).</p>
      <a href="{% if shop.locale == 'ms' %}/ms{% endif %}/pages/trapo-new-car-package">View New Car Package</a>
    </div>
  </div>
</section>
<section class="liked_trapo">
  <div class="container">
    <div class="sec_title">
      <h2>
        PEOPLE WHO ALSO LIKED TRAPO <br>
        @TRAPOMALAYSIA
      </h2>
    </div>
    <div class="sec_content">
      <div class="liked_trapo_row">
        <div class="item">
          <a href="http://xhslink.com/B/bo6wRT" target="_blank">
            <video autoplay="autoplay" width="250" muted loop playsinline="true">
              <source
                src="https://cdn.shopify.com/videos/c/o/v/1cd39dc5ea4840969cda008e09a29e09.webm"
                type="video/webm"
              >
            </video>
          </a>
        </div>
        <div class="item">
          <a
            href="https://www.instagram.com/p/DAIY75tyTTh/"
            target="_blank"
          >
            <video autoplay="autoplay" width="250" muted loop playsinline="true">
              <source
                src="https://cdn.shopify.com/videos/c/o/v/67b9020ab07a40279f3b01015b909e06.webm"
                type="video/webm"
              >
            </video>
          </a>
        </div>
        <div class="item">
          <a
            href="http://xhslink.com/a/rjdRHOuZPeCV"
            target="_blank"
          >
            <video autoplay="autoplay" width="250" muted loop playsinline="true">
              <source
                src="https://cdn.shopify.com/videos/c/o/v/555c512f78a84e17a99b18fa2ebfa28e.webm"
                type="video/webm"
              >
            </video>
          </a>
        </div>
        <div class="item">
          <a
            href="https://www.instagram.com/reel/C_kwQa0S3mq/"
            target="_blank"
          >
            <video autoplay="autoplay" width="250" muted loop playsinline="true">
              <source
                src="https://cdn.shopify.com/videos/c/o/v/6dcaeb256fa942ba9aa18f1cd441205f.webm"
                type="video/webm"
              >
            </video>
          </a>
        </div>
        <div class="item">
          <a
            href="http://xhslink.com/A/PVgRWc"
            target="_blank"
          >
            <video autoplay="autoplay" width="250" muted loop playsinline="true">
              <source
                src="https://cdn.shopify.com/videos/c/o/v/342679837c2449ec9ed6625f23dd992d.webm"
                type="video/webm"
              >
            </video>
          </a>
        </div>
        
        
        <div class="item">
          <a
            href="https://www.instagram.com/p/C_5ZsvPS6OA/"
            target="_blank"
          >
            <video autoplay="autoplay" width="250" muted loop playsinline="true">
              <source
                src="https://cdn.shopify.com/videos/c/o/v/fc9c7630d59246bc901b8c41f3622328.webm"
                type="video/webm"
              >
            </video>
          </a>
        </div>
        <div class="item">
          <a
            href="http://xhslink.com/B/7tjwR2"
            target="_blank"
          >
            <video autoplay="autoplay" width="250" muted loop playsinline="true">
              <source
                src="https://cdn.shopify.com/videos/c/o/v/300a4d20ab7e4eec9e20848fc555f00f.webm"
                type="video/webm"
              >
            </video>
          </a>
        </div>
        <div class="item">
          <a href="http://xhslink.com/a/2jnOfKdUI6DV" target="_blank">
            <video autoplay="autoplay" width="250" muted loop playsinline="true">
              <source
                src="https://cdn.shopify.com/videos/c/o/v/5f322e607554462185c9ac0a4c4f7106.webm"
                type="video/webm"
              >
            </video>
          </a>
        </div>
        <div class="item">
          <a href="http://xhslink.com/A/oVfRZe" target="_blank">
            <video autoplay="autoplay" width="250" muted loop playsinline="true">
              <source
                src="https://cdn.shopify.com/videos/c/o/v/f51c7e23b8854470b7a41d410dc31510.webm"
                type="video/webm"
              >
            </video>
          </a>
        </div>
        <div class="item">
          <a href="http://xhslink.com/a/q1WsBW4uyUBV" target="_blank">
            <video autoplay="autoplay" width="250" muted loop playsinline="true">
              <source
                src="https://cdn.shopify.com/videos/c/o/v/ea76ae61888e4568ac239cc2c890ff24.webm"
                type="video/webm"
              >
            </video>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="trusted_by">
  <div class="container">
    <div class="shop-title">
      <span>Our </span>
      <h1>&nbsp;Car Accessories Shop</h1>
    </div>
    <h2>is Trusted By</h2>
    <img
      class="d_view"
      src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_439_1.png?v=1720027480"
      alt="Trusted By Logos"
    >
    <img
      class="m_view"
      src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Frame_2.png?v=1720111600"
      alt="Trusted By Logos"
    >
  </div>
</section>
<section class="featuredon-section">
  <div class="container">
    <div class="featuredon_row">
      <div class="featuredon_title">
        <h2>Featured On</h2>
      </div>
      <div class="featuredon_block">
        <div class="featuredon-slider">
          <div class="main-slide">
            <a
              href="https://autobuzz.my/2022/07/27/you-can-now-get-your-70mai-dashcams-professionally-installed-at-trapo-outlets"
              target="_blank"
            >
              <img
                loading="lazy"
                class="lazyload"
                data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Autobuzz.png"
                alt="Autobuzz"
              >
            </a>
          </div>
          <div class="main-slide">
            <a
              href="https://www.carlist.my/news/trapo-car-mats-you-owe-it-to-yourself-and-your-vehicle-82998/82998"
              target="_blank"
            >
              <img
                loading="lazy"
                class="lazyload"
                data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Carlist_2563a58e-8a20-4a73-952c-8bf6e9d19c0c.png"
                alt="Carlist"
              >
            </a>
          </div>
          <div class="main-slide">
            <a
              href="https://www.nst.com.my/news-cars-bikes-trucks/2023/04/896000/trapo-malaysia-products-now-available-touch-n-go-ewallet"
              target="_blank"
            >
              <img
                loading="lazy"
                class="lazyload"
                data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/NST.png"
                alt="New Strait Times"
              >
            </a>
          </div>
          <div class="main-slide">
            <a href="https://www.theweddingvowsg.com/best-dash-cam-malaysia-2024/" target="_blank">
              <img
                loading="lazy"
                class="lazyload"
                data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/tmw-logo.png?v=1717132902"
                alt="The Wedding Vow"
              >
            </a>
          </div>
          <div class="main-slide">
            <a
              href="https://www.thestar.com.my/metro/metro-news/2018/11/15/pitching-their-way-to-top-placing/"
              target="_blank"
            >
              <img
                loading="lazy"
                class="lazyload"
                data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/TheStar_5c54502a-4306-42f5-a43a-48cb94557f4e.png"
                alt="The Star"
              >
            </a>
          </div>
          <div class="main-slide">
            <a
              href="https://paultan.org/2021/10/28/ad-trapo-launches-next-generation-of-its-classic-eco-and-hex-car-mats-now-up-to-10-times-more-durable/"
              target="_blank"
            >
              <img
                loading="lazy"
                class="lazyload"
                data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Paultan.png"
                alt="Paultan"
              >
            </a>
          </div>
          <div class="main-slide">
            <a
              href="http://autoworld.com.my/news/2019/08/13/trapo-asia-launches-mark-ii-car-mat-with-bactekiller-technology-from-japan/"
              target="_blank"
            >
              <img
                loading="lazy"
                class="lazyload"
                data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Autoworld_0f6dd03a-79da-470a-a446-30d85730daa1.png"
                alt="Autoworld"
              >
            </a>
          </div>
          <div class="main-slide">
            <a
              href="https://worldofbuzz.com/sanitizing-your-hands-is-not-enough-6-items-in-msians-cars-that-collect-tons-of-bacteria/"
              target="_blank"
            >
              <img
                loading="lazy"
                class="lazyload"
                data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/World-Of-Buzz.png"
                alt="World of Buzz"
              >
            </a>
          </div>
          <div class="main-slide">
            <a
              href="https://themalaysianreserve.com/2020/07/08/keeping-the-car-clean-and-virus-free/"
              target="_blank"
            >
              <img
                loading="lazy"
                class="lazyload"
                data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/The_Malaysian_Reserve.png"
                alt="The Malaysian Reserve"
              >
            </a>
          </div>
          <div class="main-slide">
            <a
              href="https://soyacincau.com/2021/07/15/trapo-floor-mat-review-malaysia-classic-mark-ii-2/"
              target="_blank"
            >
              <img
                loading="lazy"
                class="lazyload"
                data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/SoyaCincau.png?v=1691382243"
                alt="SoyaCincau"
              >
            </a>
          </div>
          <div class="main-slide">
            <a
              href="https://says.com/my/lifestyle/trapo-passes-endeavor-s-local-selection-panel-2021"
              target="_blank"
            >
              <img
                loading="lazy"
                class="lazyload"
                data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Says_57945f1f-5743-418c-8bc7-35db23bb9c5a.png"
                alt="Says"
              >
            </a>
          </div>
          <div class="main-slide">
            <a
              href="https://www.freemalaysiatoday.com/category/leisure/2021/10/07/local-brand-trapo-impresses-business-leaders-with-recyclable-car-mats/"
              target="_blank"
            >
              <img
                loading="lazy"
                class="lazyload"
                data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/FMT_811a5191-5593-4fdd-8969-e6dbb34a5972.png"
                alt="FMT"
              >
            </a>
          </div>
          <div class="main-slide">
            <a
              href="https://productnation.co/my-bm/28397/wiper-kereta-terbaik-malaysia/#p-118383"
              target="_blank"
            >
              <img
                loading="lazy"
                class="lazyload"
                data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/ProductNation_Logo_Original.webp?v=1713931820"
                alt="Productnation"
                style="filter: grayscale(100%);"
              >
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="experience">
  <div class="container">
    <div class="experience_block">
      <div class="left">
        <h3 class="expe_title">
          Experience the <br>
          range today.
        </h3>
        <p class="expe_desc">Find the nearest Trapo retail near you.</p>
        <a href="{% if shop.locale == 'ms' %}/ms{% endif %}/pages/location" class="locate_us">locate us</a>
      </div>
      <div class="right">
        <div class="left-sec">
          <ul class="map-items-wrapper">
            <li>
              <div class="map-item">
                <a class="map-heading" data-id="location-1">Mid Valley Hub</a>
                <div class="map-body">
                  <div>
                    <p>SK-12, 2nd Floor Mid Valley City, Lingkaran Syed Putra, Mid Valley City</p>
                    <a
                      href="https://www.google.com/maps/place/TRAPO+KL+Car+Mats+Mid+Valley+Hub/@3.1167409,101.6773089,15z/data=!4m2!3m1!1s0x0:0x9fd5987c7f45168a?sa=X&amp;ved=2ahUKEwjPltzuzt32AhUzzjgGHVtqATgQ_BJ6BAgUEAU"
                      target="_blank"
                      class="action_button direction"
                      >Direction</a
                    >
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="map-item" style="display: block;">
                <a class="map-heading" data-id="location-2">Trapo 1 Utama</a>
                <div class="map-body">
                  <div>
                    <p>
                      1 Utama Shopping Centre, 1, Lebuh Bandar Utama, Bandar Utama, 47800 Petaling Jaya, Selangor,
                      Malaysia
                    </p>
                    <a
                      href="https://www.google.com/maps/place/Trapo+1+Utama/@3.147911,101.6137664,17z/data=!3m1!4b1!4m6!3m5!1s0x31cc49671097e591:0xf513c3d1ace68fb3!8m2!3d3.147911!4d101.6159551!16s%2Fg%2F11tp9pm3gn?hl=en-RO"
                      target="_blank"
                      class="action_button direction"
                      >Direction</a
                    >
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="map-item" style="display: block;">
                <a class="map-heading" data-id="location-3">TRAPO Balakong</a>
                <div class="map-body">
                  <div>
                    <p>27-G Jalan Simfoni 1 Balakong, 43300 Seri Kembangan, Selangor, Malaysia</p>
                    <a
                      href="https://www.google.com/maps/dir//trapo+balakong/@3.0261575,101.6811952,12z/data=!3m1!4b1!4m9!4m8!1m1!4e2!1m5!1m1!1s0x31cdcbbc553478cd:0x6b3b20173218dc8d!2m2!1d101.7512358!2d3.0261598"
                      target="_blank"
                      class="action_button direction"
                      >Direction</a
                    >
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="map-item" style="display: block;">
                <a class="map-heading" data-id="location-4">Trapo Bangsar Hub</a>
                <div class="map-body">
                  <div>
                    <p>75, Jalan Maarof, Bangsar, 59000 Kuala Lumpur, Wilayah Persekutuan Kuala Lumpur, Malaysia</p>
                    <a
                      href="https://www.google.com/maps/place/Trapo+Bangsar+Hub/@3.1310563,101.663889,15z/data=!4m6!3m5!1s0x31cc4929b4ce44b1:0xfd55544ae91447c3!8m2!3d3.1310563!4d101.6726438!15sCgV0cmFwbyIDiAEBkgEVY2FyX2FjY2Vzc29yaWVzX3N0b3Jl?shorturl=1"
                      target="_blank"
                      class="action_button direction"
                      >Direction</a
                    >
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="map-item" style="display: block;">
                <a class="map-heading" data-id="location-5">Trapo Cheras Maluri Hub</a>
                <div class="map-body">
                  <div>
                    <p>15, Jalan Jejaka 3, Maluri, 55100 Cheras, Wilayah Persekutuan Kuala Lumpur, Malaysia</p>
                    <a
                      href="https://www.google.com/maps/place/TRAPO+Car+Mats+Cheras+Maluri+Hub/@3.1274414,101.7276613,17z/data=!3m1!4b1!4m5!3m4!1s0x31cc37472e5a4411:0xc8496c81ae70994!8m2!3d3.127436!4d101.72985"
                      target="_blank"
                      class="action_button direction"
                      >Direction</a
                    >
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="map-item" style="display: block;">
                <a class="map-heading" data-id="location-6">Trapo Desa Park City Hub</a>
                <div class="map-body">
                  <div>
                    <p>
                      5, Persiaran Residen, Desa Parkcity, 52200 Kuala Lumpur, Wilayah Persekutuan Kuala Lumpur,
                      Malaysia
                    </p>
                    <a
                      href="https://www.google.com/maps/place/TRAPO+Car+Mats+The+Waterfront+Hub+@+Desa+ParkCity/@3.1878394,101.6297491,15z/data=!4m5!3m4!1s0x0:0x23ddf4a554e99cff!8m2!3d3.1873091!4d101.6272332"
                      target="_blank"
                      class="action_button direction"
                      >Direction</a
                    >
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="map-item" style="display: block;">
                <a class="map-heading" data-id="location-7">Trapo Glenmarie Hub</a>
                <div class="map-body">
                  <div>
                    <p>17-G, Jalan Penguasa A U1/53A, TEMASYA GLENMARIE, 40150 Shah Alam, Selangor, Malaysia</p>
                    <a
                      href="https://www.google.com/maps/place/TRAPO+Glenmarie+Hub/@3.0879705,101.5782913,15z/data=!4m5!3m4!1s0x0:0xe04a194044664a7!8m2!3d3.0879705!4d101.5782913"
                      target="_blank"
                      class="action_button direction"
                      >Direction</a
                    >
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="map-item">
                <a class="map-heading" data-id="location-8">Trapo Kuching, Sarawak</a>
                <div class="map-body">
                  <div>
                    <p>No. 89, Lot 7615, Jalan Wan Alwi, Taman Wan Alwi, 93250 Kuching, Sarawak, Malaysia</p>
                    <a href="https://goo.gl/maps/dGoSZK8tQ6SkZyez8" target="_blank" class="action_button direction"
                      >Direction</a
                    >
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="map-item">
                <a class="map-heading" data-id="location-9">Trapo Melaka Raya Hub</a>
                <div class="map-body">
                  <div>
                    <p>177, Jln Merdeka, Taman Melaka Raya, 75000 Melaka, Malaysia</p>
                    <a
                      href="https://www.google.com/maps/place/TRAPO+Car+Mats+Melaka+Raya+Hub/@2.1884185,102.2525614,17z/data=!3m1!4b1!4m5!3m4!1s0x31d1ee1e06dbaf4f:0x3a672560b928eef7!8m2!3d2.1884131!4d102.2547501"
                      target="_blank"
                      class="action_button direction"
                      >Direction</a
                    >
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="map-item">
                <a class="map-heading" data-id="location-10">Trapo Pulau Tikus Penang</a>
                <div class="map-body">
                  <div>
                    <p>2, Persiaran Midlands, Pulau Tikus, 10250 George Town, Pulau Pinang, Malaysia</p>
                    <a href="https://goo.gl/maps/WbMyBWAxoGyBSFEbA" target="_blank" class="action_button direction"
                      >Direction</a
                    >
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="right-sec">
          <img
            loading="lazy"
            data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/mid_valley.jpg"
            class="locimg active lazyload"
            id="loc-img-1"
            alt="Mid Valley Hub"
          >
          <img
            loading="lazy"
            data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/1_utama.jpg"
            class="locimg lazyload"
            id="loc-img-2"
            alt="Trapo 1 Utama"
          >
          <img
            loading="lazy"
            data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/balakong.jpg"
            class="locimg lazyload"
            id="loc-img-3"
            alt="TRAPO Balakong"
          >
          <img
            loading="lazy"
            data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/bangsar_de2e71c8-fa6e-49b2-96f0-0862d9fb11f8.jpg"
            class="locimg lazyload"
            id="loc-img-4"
            alt="Trapo Bangsar Hub"
          >
          <img
            loading="lazy"
            data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/cheras.jpg"
            class="locimg lazyload"
            id="loc-img-5"
            alt="Trapo Cheras Maluri Hub"
          >
          <img
            loading="lazy"
            data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/desa_park.jpg"
            class="locimg lazyload"
            id="loc-img-6"
            alt="Trapo Desa Park City Hub"
          >
          <img
            loading="lazy"
            data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/glenmarie.jpg"
            class="locimg lazyload"
            id="loc-img-7"
            alt="Trapo Glenmarie Hub"
          >
          <img
            loading="lazy"
            data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/kuching_dc5d96ae-a15e-47f9-a712-dff2cdff6af5.jpg"
            class="locimg lazyload"
            id="loc-img-8"
            alt="Trapo Kuching, Sarawak"
          >
          <img
            loading="lazy"
            data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/melaka_raya.jpg"
            class="locimg lazyload"
            id="loc-img-9"
            alt="Trapo Melaka Raya Hub"
          >
          <img
            loading="lazy"
            data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/penang.jpg"
            class="locimg lazyload"
            id="loc-img-10"
            alt="Trapo Pulau Tikus Penang"
          >
        </div>
      </div>
    </div>
  </div>
</section>

<style>
    .cars_shop{
            margin-top: 50px;
        }
    .cars_shop .container {
      display: block;
  }
    .whats-hot-slider .thumbnail .title {
            font-size: 16px!important;
            margin-top: 10px!important;
            margin-bottom: 0px!important;
            text-transform: initial!important;
            text-align: center!important;
            font-family: 'Roboto' !important;
            color: grey!important;
            font-weight: 700!important;
            line-height: 20px!important;
            min-height: 40px !important;
    		letter-spacing: 0px;
        }
      .whats-hot-slider .thumbnail .price span.money {
        font-family: 'Roboto' !important;
        font-weight: 600!important;
        color: #e82276 !important;
    	font-size:16px;
    }
  .whats-hot-slider .thumbnail .price .current_price span.money,
  .whats-hot-slider .thumbnail .price .current_price .from{
    color: #16406D !important;
  }
  .whats-hot-slider .thumbnail .price .current_price.sale span.money{
    color: #e82276 !important;
  }
      .whats-hot-slider .thumbnail .price .was_price span.money {
        font-family: 'Roboto' !important;
        font-weight: 500!important;
        color: grey!important;
    	font-size:14px;
    }
    .whats-hot-slider .okeReviews .okeReviews-reviewsSummary-starRating{
      display:none;
    }
    .js-product-slider .flickity-prev-next-button svg{
      top: 25%;
    }
     .js-product-slider .flickity-prev-next-button.next {
      right: -1px;
  }
    .one-whole.column .caption-content .headline{
      display:block;
    }
                .featuredon-section .container{
                    display: block;
                  max-width:1100px
                }
                .featuredon-section .main-slide img {
                    width: 100%;
                }

                .featuredon-section {
                    padding-block: 30px;
                }

                .featuredon-section .featuredon_row {
                    position: relative;
                    display: block;
                    height: 100%;
                    overflow: hidden;
                }

                .featuredon-section .featuredon_row .featuredon_title {
                    position: absolute;
                    top: 50%;
                    left: 0;
                    transform: translate(0, -50%);
                }

                .featuredon-section .featuredon_row .featuredon_title h2 {
                    margin: 0;
                    text-transform: uppercase;
                    font-size: 20px;
                    color: #a0a0a0;
                    font-family: "Roboto" !important;
                    font-weight: 700;
                    letter-spacing: 0;
                    padding-top: 13px;
                }

                .featuredon-section .featuredon_block {
              width: calc(100% - 200px);
              margin-left: auto;
              padding-inline: 60px;
              position: relative;
          }

                .featuredon-section .featuredon_block .prev-arrow {
                    position: absolute;
                    top: 50%;
                    left: -40px;
                    transform: translate(0, -50%);
                }

                .featuredon-section .featuredon_block .next-arrow {
                    position: absolute;
                    top: 50%;
                    right: -40px;
                    transform: translate(0, -50%);
                }
  .liked_trapo_row .prev-arrow {
                    position: absolute;
                    top: 50%;
                    left: 5px;
                    transform: translate(0, -50%);
                }

                .liked_trapo_row .next-arrow {
                    position: absolute;
                    top: 50%;
                    right: 15px;
                    transform: translate(0, -50%);
                }

                .featuredon-section .slick-track {
                    display: flex;
                    align-items: center;
                }

                .featuredon-section .slick-list .slick-slide {
                    padding-inline: 15px;
                }

                .featuredon-slider .slide-arrow {
                    padding: 0;
                    width: 30px;
                    height: 25px;
                    background: transparent;
                    border: 0;
                    box-shadow: none;
                }

                .featuredon-slider .slide-arrow::after {
                    content: "";
                    position: absolute;
                    left: 10px;
                    z-index: 11;
                    display: block;
                    width: 15px;
                    height: 15px;
                    border-top: 3px solid #808080;
                    border-left: 3px solid #808080;
                    transform: rotate(-45deg)
                }

                .featuredon-slider .next-arrow::after {
                    transform: rotate(-225deg);
                    left: 5px
                }

                .liked_trapo_row .slide-arrow {
                    padding: 0;
                    width: 30px;
                    height: 25px;
                    background: transparent;
                    border: 0;
                    box-shadow: none;
                }

                .liked_trapo_row  .slide-arrow::after {
                    content: "";
                    position: absolute;
                    left: 10px;
                    z-index: 11;
                    display: block;
                    width: 20px;
                    height: 20px;
                    border-top: 4px solid #e82276;
                    border-left: 4px solid #e82276;
                    transform: rotate(-45deg)
                }

                .liked_trapo_row .next-arrow::after {
                    transform: rotate(-225deg);
                    left: 5px
                }
            .full_range{
                margin-bottom:120px;
            }
            .trapo_ecosystem {
                padding-block: 0;
              padding: 50px 0px;
              background-color: #F8F8F8;
              padding-top:0;
            }
            .trapo_ecosystem .container{
                display: grid;
                max-width: unset;
                padding-left: calc((100% - 1100px) / 2);
                grid-template-columns: 44% 1fr;
                align-items: center;
                padding-right: calc((100% - 1400px) / 2);
                background-color: #F8F8F8;
                padding-block: 40px;
              padding-top:0;
            }
  .trapo_ecosystem #gf-form.loaded{
    margin-bottom:0;
  }
            .trapo_ecosystem .container > div {
                float: unset;
            }
            .trapo_ecosystem .container  img{
                width: 100%;
                height: 100%;
                object-fit: contain
            }
            .trapo_ecosystem .container h2{
                font-size:60px;
                line-height: 60px;
                font-weight: bold;
                color: #414042;
                margin-bottom: 30px;
            }
            .trapo_ecosystem .container p{
                font-size: 19px;
                line-height: 27px;
                color: #414042
            }
            .trapo_ecosystem .container a{
                font-size: 19px;
                text-decoration: underline;
                color: #E82276
            }

            .safety_row{
                display: flex;
            }
            .safety_row .fsafety_title{
                width: 30%;
                float: left;
                background-color: #1B3D6D;
                display: flex;
                align-items: start;
                justify-content: center;
                flex-direction: column;
                padding-left: 8%;
                padding-right: 6.5%;
            }
            .safety_row .fsafety_title img{
                margin-bottom: 30px
            }
            .safety_row .fsafety_title p{
                font-size: 19px;
                line-height: 27px;
                color: #fff
            }
            .safety_row .fsafety_block{
                float: left;
                width: calc(100% - 30%);
                padding-left: 20px;
                height: 100%
            }
            .slick-track{
                display: flex;
                column-gap: 13px
            }
            .slick-track:before{
                display: none
            }
            .safety_row .slick-track .main-slide{
                background-color: #DEDEDE;
            }
            .safety_row .slick-track .main-slide .img{
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: #F8F8F8;
                flex: 1;
                width: 100%
            }
            .safety_row .slick-track .main-slide .img img {
                display: block;
                width: 100%;
                aspect-ratio: 1/1;
                object-fit: contain;
            }
            .safety_row .slick-list,
            .safety_row .slick-track{
                padding-right: 120px;
            }
            .slick-track:after{
                display: none;
            }
            .safety_row .slick-slide {
                height: inherit !important;
                display: flex !important;
                justify-content: center;
                align-items: start;
                flex-direction: column
            }
            .safety_row .slick-slide .content{
                padding: 30px 30px 20px;
            }
            .safety_row .slick-slide .content h6{
                margin: 0;
                padding: 0 0 30px;
                font-size: 21px;
                color: #414042;
                font-weight: 500;
                line-height: 27px;
                letter-spacing: 0.19px;
            }
            .safety_row .slick-slide .content a img{
                transform: rotate(180deg)
            }
            /* marquee div container */
            .marquee {
                color: #fff;
                font-family: 'Courier New', Courier, monospace;
                overflow: hidden;
                position: relative;
              height:80px;
              margin-bottom: 50PX;
            }
            /* nested div inside the container */
            .marquee div {
                display: block;
                width: 200%;
                position: absolute;
                overflow: hidden;
                animation: marquee 20s linear infinite;
                display: flex;
            }
            /* keyframe */
            @keyframes marquee {
                0% { left: 0; }
                100% { left: -100%; }
            }
            .full_range .container{
                display: block
            }


            .new_car {
                position: relative;
                min-height: 500px;
                margin-bottom: 80px;
            }
            .new_car > img{
                width: 100%;
            }
            .new_car .content h2{
                font-size: 60px;
                font-weight: bold;
                color: #fff;
                margin: 0 0 20px;
                line-height: 67px;
            }
            .new_car .content p{
                font-size: 19px;
                line-height: 27px;
                color: #fff;
                max-width: 387px;
                margin-bottom: 100px
            }
            .new_car .container{
                position: absolute;
                top: 50%;
                left: calc((100% - 1320px) / 2);
                transform: translate(0, -50%);
            }
            .new_car .content img{
                max-width: 460px;
                width: 100%;
                display: block;
                margin-bottom: 40px
            }
            .new_car .content a{
                font-size: 19px;
                line-height: 27px;
                color: #fff;
                text-decoration: underline;
                font-weight: 300;
                letter-spacing: 0.19px;
            }
            .liked_trapo .container{
                display: block;
            }
            .sec_title{
                text-align: center;
                font-size: 24px;
                font-weight: 600;
                line-height: 28px;
                letter-spacing: 5px;
              text-transform: uppercase;
            }
            .full_range_content .inside_wrap{
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap:34px;
                margin-bottom: 30px;
            }
            .full_range_content img{
                width: 100%;
                display: block
            }
            .full_range_content .item{
                position: relative;
            }
            .full_range_content .item span{
                position: absolute;
                bottom: 50px;
                font-size: 42px;
                font-weight: bold;
                color: #fff;
                left: 30px
            }
            .full_range_content .inside_wrap_2{
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr;
                gap:23px;
            }
            .full_range_content .inside_wrap_2 span{
                font-size: 24px;
                bottom: 25px;
                left:25px;
                font-weight: 600
            }
            .trusted_by {
                margin-block: 30px
            }
            .trusted_by .container{
                display: block;
            }
            .liked_trapo h2,
          .trusted_by h1,
     .trusted_by .shop-title span,
  .trusted_by h2{
              text-align: center;
              font-size: 24px;
              letter-spacing: 5px;
              text-transform: uppercase;
              font-weight: bold;
              line-height: 1.3;
    color: #1b3d6d;
          }
  .trusted_by .shop-title span{
    padding-top:4px;
  }
  .shop-title{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: max-content;
    margin: 0 auto;
  }

    .trusted_by h1{
      margin-bottom:0
    }
    .trusted_by h2{
      margin-top:0;
      margin-bottom:25px;
    }
            .trusted_by img{
                width: 100%;
                max-width: 1150px;
                margin: 0 auto;
                display: block;
            }
            .liked_trapo_row video{
                width: 100%;
                display: block;
                border-radius: 10px;
            }
            .liked_trapo{
                margin-bottom: 80px;
            }

           .experience {
            padding-block: 20px;
        }
          .experience_block {
            display: grid;
            align-items: center;
            grid-template-columns: 42% auto;
        }
          .experience .expe_title {
            font-size: 60px;
            line-height: 112%;
            margin-bottom: 15px;
            font-weight: 700;
            color: #1b3d6d;
            font-family: "Roboto" !important;
            text-transform: initial;
        }
          .experience .expe_desc {
            font-size: 19px;
            line-height: 27px;
            margin-bottom: 30px;
            letter-spacing: 0.01em;
            color: #1b3d6d;
        }
          .locate_us {
            background-image: none;
            background-color: #d82477;
            box-shadow: #000000bf 5px 2px 11px -5px;
            font-weight: 600;
            padding: 14px 20px 13px;
            letter-spacing: 1px;
            max-width: 190px;
            color: #fff !important;
            font-family: "Roboto" !important;
            width: 100%;
            display: block;
            text-align: center;
            line-height: 1;
            border-radius: 50px;
            margin: 0;
            text-transform: capitalize;
        }
          .left-sec {
            width: 40%;
            float: left;
            padding-right: 15px;
        }
          .right-sec {
            width: 60%;
            float: left;
        }
          ul.map-items-wrapper {
            height: 474px;
            overflow-y: scroll;
            list-style: none;
            padding-left: 0;
            margin: 0;
        }
          ul.map-items-wrapper li {
            padding: 8px 16px;
            border: 1px solid #dfe0e0;
            border-radius: 3px;
        }
          .map-item a.map-heading {
            font-family: Roboto !important;
            font-weight: 600 !important;
            font-size: 18px;
            line-height: 20px;
            margin: 10px 0;
            display: block;
            cursor: pointer;
            color: #e82276;
        }
          .map-item .map-body div p {
            text-align: justify;
            margin: 0 0 5px;
            font-style: normal;
            font-family: Roboto !important;
            font-weight: normal !important;
            font-size: 14px !important;
            line-height: 16px !important;
        }
          .map-item .map-body div a.action_button.direction {
            color: #fff;
            border-radius: 30px;
            font-weight: 600;
            letter-spacing: 1px;
            font-family: 'Roboto' !important;
            font-size: 14px;
            line-height: normal;
            padding: 10px 20px;
            text-align: center;
            background: #e82276;
            padding-top: 13px;
            vertical-align: middle;
            display: inline-flex;
            width: auto;
        }
          .right-sec img.active {
            display: block;
        }
          .right-sec img {
            width: 100%;
            display: none;
        }
    .desktop-only .sq-app {
      padding: 0;
    }


            @media(max-width:1400px){
                .new_car .container{
                    left: calc((100% - 1140px) / 2)
                }
                .full_range {
                    margin-bottom: 70px;
                  margin-bottom:35px;
                }
                .new_car .content h2 {
                    font-size: 35px;
                    font-weight: 500;
                    margin: 0 0 10px;
                    line-height: 1.3;
                }
                .new_car .content p{
                    line-height: 1.4;
                    margin-bottom: 40px
                }
                .new_car{
                    min-height: unset;
                    margin-bottom: 50px
                }
                .liked_trapo {
                margin-bottom: 50px;
            }
            }
            @media(max-width:1199px){
                .trapo_ecosystem .container{
                    padding-left: 20px
                }
                .trapo_ecosystem .container h2{
                    font-size: 42px;
                    line-height: 1.2
                }
                .full_range_content .inside_wrap_2{
                    gap:10px
                }
                .full_range_content .inside_wrap{
                    gap:10px;
                    margin-bottom: 10px;
                }
                .trapo_ecosystem {
                    padding-block: 0px;
                }
                 .new_car .container{
                    left: calc((100% - 960px) / 2)
                }
                .full_range_content .item span {
                    bottom: 20px;
                    font-size: 24px;
                    left: 20px;
                    width: 100%;
                }
                .full_range_content .inside_wrap_2 span{
                    font-size: 18px;
                    bottom: 10px;
                }
                .marquee {
                    height: 50px;
                    margin-bottom: 25px;
                }
                .marquee img {
                    height: 50%;
                }
                .full_range {
                    margin-bottom: 50px;
                }
                .liked_trapo h2, .trusted_by h1,.trusted_by .shop-title span,.trusted_by h2{
                    font-size: 20px;
                    letter-spacing: 3px;
                }
            }
            @media(max-width:991px){
                .trapo_ecosystem .container p{
                    font-size: 16px;
                    line-height: 24px;
                }
                 .new_car .container{
                    left: calc((100% - 720px) / 2)
                }
                .new_car .content h2{
                    font-size: 28px;
                }
                .new_car .content p{
                    font-size: 16px;
                    margin-bottom: 10px
                }
                .featuredon-section {
                    padding-block: 0px 30px;
                }
                .trapo_ecosystem .container h2 {
                    font-size: 34px;
                    line-height: 1.2;
                    margin-bottom: 10px;
                }
            }
            @media(min-width:768px){
                .m_view{
                    display: none !important;
                }
            }
            @media(max-width:767px){
                  .banner .caption.position-left {
        left: 0;
        bottom: 50%;
    }
                  .homepage-slideshow .flickity-prev-next-button {
        width: 10%;
    }
              .whats-hot-slider .thumbnail .title {
            font-size: 14px!important;
            line-height: 16px!important;
        }
              .js-product-slider .flickity-prev-next-button svg{
                left:0;
                width:100%;
                height:100%;
              }
              .js-product-slider .slider-gallery .flickity-prev-next-button{
                width:8%;
              }
                .d_view{
                    display: none !important;
                }
                .trapo_ecosystem .container {
                    grid-template-columns: 1fr;
                    padding-inline: 15px;
                }
                .trapo_ecosystem .container .left {
                    display: flex;
                    flex-direction: column;
                    text-align: center;
                }

                .trapo_ecosystem .container .left .img {
                    order: 1;
                    margin-top: 60px;
                }

                .trapo_ecosystem .container h2 {
                    font-size: 28px;
                    color: #1B3D6D;
                }

                .trapo_ecosystem .container a {
                    font-size: 16px;
                }
                    .full_range_content .inside_wrap {grid-template-columns: 1fr;}

                .full_range_content .inside_wrap_2 {
                    grid-template-columns: 1fr 1fr;
                }

                .full_range_content .inside_wrap_2 span {
                    font-size: 16px;
                }
              .left-sec{
                width: 100%;
                padding-right: 0px;
              }

              .right-sec{
                width: 100%;
              }
              .experience .expe_title {
              font-size: 24px;
          }
              .experience .expe_desc {
              font-size: 16px;
              margin-block: 5px 15px;
          }
              .experience .left-sec {
              margin-bottom: 20px;
          }
              .map-item .map-body div a.action_button.direction {
              padding-block: 5px 6px;
              height: auto !important;
              min-height: unset;
          }
              .right-sec {
              width: 100%;
          }
            .new_car .container {
                left: 50%;
                top: 2%;
                transform: translate(-50%, 0);
                text-align: center;
                display: block;
            }
            .new_car a.m_view {
        margin-top: -60px;
        display: block;
        color: #fff;
        text-align: center;
        text-decoration: underline;
        margin-bottom: 80px;
    }
    .liked_trapo .container{
        padding: 0;
    }
    .liked_trapo .container .slick-track {
        padding-left: 30px;
    }
    .featuredon-section .featuredon_block {
        width: 100%;
        margin: 0 auto;
        padding: 0;
    }

    .featuredon-section .featuredon_row .featuredon_title {
        position: unset;
        transform: unset;
    }

    .featuredon-section .featuredon_row .featuredon_title h2 {
        text-align: center;
        margin-bottom: 10px;
    }

    .featuredon-section .featuredon_block .prev-arrow {left: 0;top: 10px;
            transform: unset;}

    .featuredon-section .featuredon_block .next-arrow {
        right: 0;
        top: 10px;
            transform: unset;
    }

    .featuredon-section .featuredon_block .slick-list {
        padding-inline: 20px;
    }

            }
        @media (max-width: 1024px) {
          .locate_us {
              margin: 0 auto;
          }
          .experience_block {
              grid-template-columns: 1fr;
              gap: 20px;
          }
          .experience_block .left {
              text-align: center;
          }

      }
</style>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.slick/1.4.1/slick.min.js"></script>
<script>
  $('.featuredon-slider').slick({
        dots: false,
        infinite: false,
        speed: 300,
        slidesToShow: 5,
        slidesToScroll: 1,
        prevArrow: '<button class="slide-arrow prev-arrow"></button>',
        nextArrow: '<button class="slide-arrow next-arrow"></button>',
        responsive: [
            {
            breakpoint: 1199,
            settings: {
                slidesToShow: 3
            }
            },
            {
            breakpoint: 1024,
            settings: {
                slidesToShow: 3
            }
            },
            {
            breakpoint: 600,
            settings: {
                slidesToShow: 3
            }
            },
            {
            breakpoint: 480,
            settings: {
                slidesToShow: 2,
                slidesToScroll: 1
            }
            }
        ]
    });
  $('.liked_trapo_row').slick({
        dots: false,
        infinite: true,
        speed: 300,
        slidesToShow: 4,
        slidesToScroll: 1,
        prevArrow: '<button class="slide-arrow prev-arrow"></button>',
        nextArrow: '<button class="slide-arrow next-arrow"></button>',
        responsive: [
            {
            breakpoint: 1024,
            settings: {
                slidesToShow: 3
            }
            },
            {
            breakpoint: 600,
            settings: {
                slidesToShow: 2
            }
            },
            {
            breakpoint: 480,
            settings: {
                slidesToShow: 2,
                slidesToScroll: 1
            }
            }
        ]
    });

  $(".map-items-wrapper li a").click(function() {
        var locId = $(this).data("id");
        $(".locimg").removeClass('active');
        if(locId == 'location-1'){
          $("#loc-img-1").addClass('active');
        }
        if(locId == 'location-2'){
          $("#loc-img-2").addClass('active');
        }
        if(locId == 'location-3'){
          $("#loc-img-3").addClass('active');
        }
        if(locId == 'location-4'){
          $("#loc-img-4").addClass('active');
        }
        if(locId == 'location-5'){
          $("#loc-img-5").addClass('active');
        }
        if(locId == 'location-6'){
          $("#loc-img-6").addClass('active');
        }
        if(locId == 'location-7'){
          $("#loc-img-7").addClass('active');
        }
        if(locId == 'location-8'){
          $("#loc-img-8").addClass('active');
        }
        if(locId == 'location-9'){
          $("#loc-img-9").addClass('active');
        }
        if(locId == 'location-10'){
          $("#loc-img-10").addClass('active');
        }
      });
</script>
