<a name="pagecontent" id="pagecontent"></a>
<div class="container page-content px-3">
      <h1 class="page-title">Atome & Shopback Installments</h1>

      <div class="row">
             <div class="col-12 row text-center my-4">
                    <div class="col-sm-4 col-12">
                           <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/h-d-1.png?v=1646220518" width="" height="" style="" alt="atome" class="img-fluid">
                    </div>
                    <div class="col-sm-4 col-12">
                           <!--<img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/h-d-2.png?v=1646220518" width="" height="" style="" alt="" class="img-fluid">-->
                            <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/h-d-6.webp?v=1656404977" width="" height="" style="" alt="shopback" class="img-fluid">
                    </div>
                     <div class="col-sm-4 col-12">
                           <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/BNPL.jpg?v=1689138035" width="" height="" style="" alt="grab" class="img-fluid">
                    </div>
             </div>
             <div class="col-12 text-center mt-2">
                    <span style="font-size: 40px; font-family: Roboto !important;line-height: 42px;"><strong>3 interest-free installments with </strong></span><br>

                    <span style="font-size: 40px; font-family: Roboto !important;line-height: 42px;"><strong>either debit or credit cards</strong></span><br>

                    <p>Buy what you need now, and pay later with hoolah/atome</p><br>

                    <span style="font-family: Roboto;"><span style="font-size: 16px;"><u>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </u></span></span>
             </div>
             <div class="col-12 row text-center">
                    <div class="col-sm-4 col-12">
                           <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/h-d-3.jpg?v=1646220519" width="" height="" style="" alt="" class="shogun-image img-fluid">
                           <p><span style="font-family: Roboto!important; font-size: 18px;font-weight: 700;">Get what you need and</span><br>
                           <span style="font-family: Roboto!important; font-size: 18px;font-weight: 700;">checkout with Hoolah or Atome</span></p>
                    </div>
                    <div class="col-sm-4 col-12">
                            <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/h-d-4.jpg?v=1646220519" width="" height="" style="" alt="" class="shogun-image img-fluid">
                            <p><span style="font-size: 18px; font-family: Roboto!important;font-weight: 700;">Receive the items by</span><br>
                            <span style="font-size: 18px; font-family: Roboto!important;font-weight: 700;">just paying 1/3 of the total amount</span></p>
                    </div>
                    <div class="col-sm-4 col-12">
                            <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/h-d-5.jpg?v=1646220519" width="" height="" style="" alt="" class="shogun-image img-fluid">
                            <p><span style="font-size: 18px; font-family: Roboto!important;font-weight: 700;">Installments will be</span><br>
                            <span style="font-size: 18px; font-family: Roboto!important;font-weight: 700;">automatically deducted with no interest</span></p>
                    </div>
             </div>
             <div class="col-12 text-center my-4">
                    <h1><span style="color: #000000; font-family: Roboto !important; font-size: 36px;font-weight: 700;">How does it work?</span></h1>
                    <p><span style="font-family: Roboto !important; font-size: 20px; font-weight: 600; ">Step-by-step guide on how you can use hoolah or atome.<br></span></p>
                    <p class="m-0" style="font-family: Roboto !important; font-size: 18px; font-weight: 500; ">
                            For more information, please visit <a class="hoolah_font_explainer hoolah_a" href="https://www.shopback.my/?ref=explainer" target="_blank" rel="noopener" style="text-decoration: none; color: #ee2a7b;">shopback.my</a>
                     </p>
                    <p class="m-0" style="font-family: Roboto !important; font-size: 18px; font-weight: 500; ">
                           For more information, please visit <a class="hoolah_font_explainer hoolah_a" href="https://www.atome.my/" target="_blank" rel="noopener" style="text-decoration: none; color: #ee2a7b;">atome.my</a>
                    </p>
             </div>
             <div class="col-12 my-4">
                    <img width="" height="" style="" alt="" class="d-none d-lg-block img-fluid" src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/h-d-7-new.webp?v=1689138167">
					<img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/h-m-1.jpg?v=1646220519" width="" height="" style="" alt="" class="d-lg-none img-fluid">
					<img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/h-m-2.png?v=1689140046" width="" height="" style="" alt="" class="d-lg-none img-fluid">
					<img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/h-m-3.jpg?v=1646220519" width="" height="" style="" alt="" class="d-lg-none img-fluid">
					<img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/h-m-4.jpg?v=1646220519" width="" height="" style="" alt="" class="d-lg-none img-fluid">
             </div>
      </div>                      
  </div>
<style>
  .container.page-content{
        max-width: 900px;
      }
  @media screen and (max-width: 479px){
  img.shogun-image.img-fluid {
    width: 21%;
}
  }
</style>