<!-- Hero Banner -->

<section class="bgimage">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h1></h1>
      </div>
    </div>
  </div>
</section>


<!-- What is Trapo -->
<div class="container-fluid what-is-trapo">
<div class="container">      
  <div class="row px-5">
    
    <div class="col-md-6">
      <div class="h-100 trapo-img">
        <img src="https://cdn.shopify.com/s/files/1/0332/5801/2811/files/trapo_founder.webp" alt="trapo_founder" class="img-size">
      </div>
    </div>
    <div class="col-md-6">
      <div class="h-100 pb-4 trapo-txt">
        <h1 class="display-5 fw-bold head">Our Story</h1>
        <p class="col-md-12">
          TRAPO is the leading automotive accessories brand in Malaysia, Singapore, Thailand and Indonesia. The brand was built with the aim to repurposing industrial waste into high quality usable and desirable automotive products for every consumer. We believe that a comfortable and safe driving environment is essential for every driver. Hence, TRAPO provides antibacterial properties along with a host of other functionalities which aim to solve common pain points of everyday drivers and to elevate their driving experience.
        </p>
      </div>
      <a class="col-12 col-md-12" href="/pages/about-us">About Us</a>
    </div>
  </div>
</div>
</div>
<!-- What is Trapo End-->


<!-- Car Mat vs PVC --> 
<section style="background:#F2F2F2">
<div class="pt-5">
  <div class="container-fluid text-center">
    <h1 class="display-5 py-3 fw-bold head" style="padding-bottom: 0px;color: #16406d;">Trapo Car Mat vs PVC Coil Mat</h1>
  </div>
</div>

<div class="container section-3">      
  <div class="row px-5">  
    <div class="col-md-6">
      <div class="h-100 trapo-img">
        <img src="https://cdn.shopify.com/s/files/1/0332/5801/2811/files/trapo_car_mat.webp" alt="trapo_car_mat" class="img-size">
        <div class="w-50 m-auto ">
          <h3>Trapo Car Mat</h3>
          <p>Traps dirt efficiently</p>
          <p>Fungus resistant</p>
          <p>Kills 99.99% of bacteria</p>
          <p>Anti-slip</p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="h-100 trapo-img">
        <img src="https://cdn.shopify.com/s/files/1/0332/5801/2811/files/pvc_coil_mat.webp" alt="pvc_coil_mat" class="img-size">
      	<div class="w-50 m-auto">
          <h3>PVC Coil Mat</h3>
          <p>Hard to clean</p>
          <p>Wear off easily</p>
          <p>Slippery</p>
          <p>Strong smell</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-3"> 
    <div class="col-4 col-md-4"></div>
    <div class="col-4 col-md-4 learn-more">
      <a href="/pages/car-mats" >Learn More</a>
    </div>
    <div class="col-4 col-md-4"></div>
  </div>
</div>
</section>
<!-- Car Mat vs PVC End --> 


<!-- Section 4 --> 
<section class="section-4 img-with-text">
<div class="container">      
  <div class="row px-5">
    <div class="col-md-5">
      <div class="h-100 trapo-img">
        <img src="https://cdn.shopify.com/s/files/1/0332/5801/2811/files/trapo_hex_ii_car_mat.webp" alt="trapo_hex_ii_car_mat" class="img-size">
      </div>
    </div>
    <div class="col-md-7">
      <div class="h-100 pb-4">
        <h1 class="display-5 head">Trapo HEX II Car Mat</h1>
        <p class="col-md-12">
          You demand the best, we get that. That's why Trapo Hex II is engineered for those who appreciate the finer things in life. Up to 10X more durable and with our patented Fix anti-slip technology. Bring your driving pleasure to new heights with the All-New Trapo HEX II.
        </p>
      </div>
    </div>
  </div>
</div>
</section>
<!-- Section 4 End --> 


<!-- Section 5 --> 
<section class="section-4 img-with-text">
<div class="container">      
  <div class="row px-5">
    <div class="col-md-7">
      <div class="h-100 pb-4">
        <h1 class="display-5 head">Trapo FIX patented anti-slip technology</h1>
        <p class="col-md-12">
          Added to the bottom of our HEX car mats from the factory TRAPO FIX is our patented anti-slip technology which allows maximum traction and causes 0 damage to your floorboard. Welcome to the next level of anti-slip technology.
        </p>
      </div>
    </div>
    <div class="col-md-5">
      <div class="h-100 trapo-img">
        <img src="https://cdn.shopify.com/s/files/1/0332/5801/2811/files/trapo_fix_antislip.webp" alt="trapo_fix_antislip" class="img-size">
      </div>
    </div>
  </div>
</div>
</section>
<!-- Section 5 End --> 


<!-- Features Section --> 
<section>
<div class="container">
  <div class="row px-5 plus-hide-mobile">
    <div class="col-12 col-md-12">
      <img src="https://cdn.shopify.com/s/files/1/0332/5801/2811/files/trapo_features.webp" alt="trapo_features" class="img-size">
    </div> 
    <div class="col-12 col-md-12">
      <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/trapo_hygienic_mat_in_malasiya.webp" alt="trapo_hygienic_mat_in_malasiya" class="img-size">
    </div> 
  </div>
  <div class="row px-5 plus-hide-desktop">
    <div class="col-12 col-md-12">
      <img src="https://cdn.shopify.com/s/files/1/0332/5801/2811/files/mhex6.webp" alt="trapo_features" class="img-size">
    </div> 
    <div class="col-12 col-md-12">
      <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/trapo_hygienic_mat_in_malasiya.webp" alt="trapo_hygienic_mat_in_malasiya" class="img-size">
    </div> 
  </div>
</div>
</section>
<!-- Features Section End--> 


<!-- Details Section --> 
<section style="background:#F2F2F2">
<div class="container section-detail">      
  <div class="row px-5">  
    <div class="col-md-12">
      <div class="h-100 trapo-img">
        <img src="https://cdn.shopify.com/s/files/1/0332/5801/2811/files/white_cars.webp" alt="white_cars" class="img-size">
        <div class="w-75 m-auto ">
          <h3>But Trapo fits all..</h3>
          <p>Sedan, hatchback, crossover or truck.If it has four wheels and a steering wheel, we'll have a car mat that fits. And if not, simply drive in to any one of our outlets for a custom measurement free of charge!</p>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="h-100 trapo-img">
        <img src="https://cdn.shopify.com/s/files/1/0332/5801/2811/files/family_outdoors_lifestyle.webp" alt="family_outdoors_lifestyle" class="img-size">
      	<div class="w-75 m-auto">
          <h3>..and all lifestyles</h3>
          <p>Trapo mats are made with you in mind. Be it a day out at the beach or a rainy day in the city, our car mats are specifically tailored to weather all conditions to ensure you have the best driving experience possible.</p>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="h-100 trapo-img">
        <!--<img src="https://cdn.shopify.com/s/files/1/0332/5801/2811/files/image-_6.webp" alt="Easy as 1,2,3" class="img-size">-->
      	<div class="w-80 m-auto">
          <h3>Easy as 1,2,3</h3>
          <p>Getting our car mats installed in your ride is super easy! Simply follow our easy-to-understand installation guide or alternatively, drive in to our Trapo Zervex Hub for a complimentary installation by our friendly Driving Experience Experts!</p>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
<!-- Details Section End --> 

<!-- Steps Section --> 
<section class="section-steps" style="background:#16406d">
  <div class="pt-5">
    <div class="container-fluid text-center">
      <h1 class="display-5 py-2 head" style="padding-bottom: 0px;color: #fff;">How to install Trapo Car Mats?</h1>
    </div>
  </div>
  
  <div class="container">      
    <div class="row px-5">
        <div class="col-md-3">
          <div class="h-100 trapo-img">
            <img src="https://cdn.shopify.com/s/files/1/0332/5801/2811/files/trapo_mat_driver.webp" alt="trapo_mat_driver" class="img-size">
          </div>
        </div>
        <div class="col-md-3">
          <div class="h-100 pb-4 trapo-txt">
            <p>Step 1:</p>
            <p>Remove all the original/coil car mat</p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="h-100 trapo-img">
            <img src="https://cdn.shopify.com/s/files/1/0332/5801/2811/files/trapo_mat_middle.webp" alt="trapo_mat_middle" class="img-size">
          </div>
        </div>
        <div class="col-md-3">
          <div class="h-100 pb-4 trapo-txt">
            <p>Step 2:</p>
            <p>Clean/Vacuum to ensure floorboard is clean</p>
          </div>
        </div>
    </div>
    
    <div class="row px-5 mt-5">
        <div class="col-md-3">
          <div class="h-100 trapo-img">
            <img src="https://cdn.shopify.com/s/files/1/0332/5801/2811/files/trapo_mat_with_shoe.webp" alt="trapo_mat_with_shoe" class="img-size">
          </div>
        </div>
        <div class="col-md-3">
          <div class="h-100 pb-4 trapo-txt">
            <p>Step 3:</p>
            <p>Place Trapo car mats firmly on the floorboard</p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="h-100 trapo-img">
            <img src="https://cdn.shopify.com/s/files/1/0332/5801/2811/files/trapo_sdg_goals.webp" alt="trapo_sdg_goals" class="img-size">
          </div>
        </div>
        <div class="col-md-3">
          <div class="h-100 pb-4 trapo-txt">
            <p>Step 4:</p>
            <p>Repeat until all pieces are fitted perfectly</p>
          </div>
        </div>
    </div>
    
    <div class="row mt-3"> 
      <div class="col-md-3"></div>
      <div class="col-md-6 car-mat-now">
        <a href="/pages/car-mats" >GET YOUR TRAPO CAR MAT NOW</a>
      </div>
      <div class="col-md-3"></div>
    </div>
  </div>
</section>
<!-- Steps Section End -->

<!-- Brands Section --> 
<section class="brand-section">
<div class="container">
  <div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-6">
      <img src="https://cdn.shopify.com/s/files/1/0332/5801/2811/files/trapo_awards_recognition_endeavor_lazada_shopee.webp" alt="trapo_awards_recognition_endeavor_lazada_shopee" class="img-size">
    </div>
    <div class="col-md-3">
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-6">
      <img src="https://cdn.shopify.com/s/files/1/0332/5801/2811/files/image_12.png" alt="trapo_awards_recognition_endeavor_lazada_shopee" class="img-size">
    </div>
    <div class="col-md-3">
    </div>
  </div>
</div>
</section>
<!-- Brands Section End--> 


<!-- Section Review --> 
<section class="section-review" style="background:#F2F2F2">
  <div class="container">
	<div class="pt-5">
      <div class="container-fluid text-center">
        <h1 class="display-5 py-2 head" style="padding-bottom: 0px;color: #000;">What our customers say about Trapo?</h1>
      </div>
    </div>
      <div class="col-md-12">
       <script 
            type="text/javascript" 
            src="https://cdn.grw.reputon.com/assets/widget.js?shop=trapomy.myshopify.com"></script>
<div class="reputon-google-reviews-widget"
                 data-theme="light"
                 data-type="carousel_static_plate"
                 data-autoscroll="false"
                 data-show-review-photos="false"
                 data-write-review="true"
                 data-position-type="regular"
                 data-position-vertical="bottom"
                 data-position-horizontal="center"></div>
 
    </div>
  </div>
</section>
<!-- Section Review --> 


{% schema %}
{
"name": "Landing Page",
"settings": [],
"presets": [
{
"name": "Landing Page",
"category": "Additional Sections"
}
]
}
{% endschema %}

<style>
.brand-section{
padding:10px 0;
}
.container.section-3,.section-steps .container,.section-review .container{
display:unset;
}
  .container.main.content{
    width: 100%;
    padding: 0;
    margin: 0;
    max-width: 100%;
  }
  
  .bgimage {
    width:100%;
    height:400px;
    background: url('https://cdn.shopify.com/s/files/1/0332/5801/2811/files/image_1.webp?v=1657091015');
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    background-attachment: fixed;
    position: relative;
  }
  .bgimage .container-fluid .row{
        position: absolute;
    top: 40%;
    left: 38%;
  }
  .bgimage h1 {
    color:white;
    font-size:64px;
  }
  
  .what-is-trapo{
     background: #16406d;
  }
  .trapo-txt h1{
    color:#fff;
    font-size:45px;
    line-height:54px;
  }
  .trapo-txt p{
    color:#fff;
    font-size:15px;
    line-height:24px;
    text-align:justify;
  }
   .what-is-trapo a{
    padding: 10px;
    border-radius: 50px;
    color: #ffffff !important;
    border: none;
    text-transform: uppercase;
    font-family: 'Roboto';
    width: 150px;
    display: grid;
    align-content: center;
    font-weight: 600;
    background-color: #E12B7B;
    text-align: center;
  }
  
   .section-3 h3{
    font-size:32px;
    line-height:45px;
    color:#16406d;
    text-align:center;
    margin-top:20px;
    font-weight:700;
  }
   .section-3 p{
    font-size:19px;
    line-height:26px;
    color:#000;
    margin-bottom:0px;
    text-align:center;
  }
   .learn-more{
    text-align: center; 
    margin-top: 40px;
  }
   .learn-more a{
    padding: 10px;
    border-radius: 50px;
    color: #ffffff !important;
    border: none;
    text-transform: uppercase;
    font-family: 'Roboto';
    width: auto;
    display: grid;
    align-content: center;
    font-weight: 600;
    background-color: #E12B7B;
    margin: auto;
    text-align: center;
    margin-bottom:25px;
  }
  
   .img-with-text .row{
    align-items: inherit;
  }
   .img-with-text h1{
    color:#16406d;
    font-size: 45px;
    line-height:54px;
  }
   .img-with-text p{
    color:#333333;
    font-size: 18px;
    line-height:30px;
  }
  
   .section-detail h3{
    font-size:32px;
    line-height:45px;
    color:#16406d;
    text-align:center;
    margin-top:20px;
    font-weight:700;
  }
   .section-detail p{
    font-size:16px;
    line-height:31px;
    color:#333;
    text-align:center;
  }
  
  .section-steps .row{
    align-items: inherit;
  }
   .section-steps p{
    font-size: 22px;
    line-height: 25px;
    letter-spacing: 0.5px;
  }
  
   .car-mat-now{
    text-align: center;
        margin-top: 40px;
  }
   .car-mat-now a{
        padding: 10px;
    border-radius: 50px;
    color: #ffffff !important;
    border: none;
    text-transform: uppercase;
    font-family: 'Roboto';
    width: 50%;
    display: grid;
    align-content: center;
    font-weight: 600;
    background-color: #E12B7B;
    margin: auto;
    text-align: center;
  }
  
  .linkedin-img{
    width: 30px !important;
  }
  .img-size{
    width: 100%;
  }
  .mb{
    margin: 0 0 !important;
  }
  div.row {
    margin-bottom: 0!important;
    justify-content: center;
    align-content: center;
    align-items: center;
}

  @media screen and (max-width: 767px){
  .what-is-trapo{
  padding-bottom:25px;
  .car-mat-now a{
  width:80%;
  }
    .bgimage h1 {
      color: white;
      font-size: 40px;
    }
    .bgimage .container-fluid .row {
      position: absolute;
      top: 50%;
      left: 20%;
    }
    .trapo-txt{
      margin-top:20px;
    }
    .row.px-5{
      padding-right:15px !important;
      padding-left:15px !important;
    }
    .trapo-img{
      margin-bottom: 25px;
    }
    .trapo-img .w-50{
      width:75% !important;
      margin: auto;
    }
    .bgimage{
      background-attachment: initial;
    }
     .learn-more {
      margin-top: 20px;
    }
     .img-with-text h1 {
      font-size: 30px;
      line-height: 35px;
    }
     .section-detail p {
      line-height: 25px;
    }
    .section-steps h1{
      font-size: 28px;
      padding-top: 15px;
    }
     .car-mat-now{
      margin-top:0px;
    }
  }
  
  @media screen and (max-width: 768px){
    .plus-hide-mobile {
      display: none;
    }
  }
  @media screen and (min-width: 769px) {
    .plus-hide-desktop {
      display: none;
    }
  }
</style>
  
