
<div class="loyalty-outer">
<section class="head-banner">
  <div class="container">    
    <div class="text-center">
      <img data-src="https://cdn.shopify.com/s/files/1/0332/5801/2811/files/Trapo_Loyalty_Logo_1.png" class="lazyload img-size" width="500">    
    </div>
    <div class="call-to-action">    
        <a href="/account/register" class="lion-action-button lion-action-button--primary lp-button">Sign up</a>
        <a href="/account/login" class="lion-action-button lion-action-button--neutral lp-button">Log in</a>
    </div>
  </div>
</section>
<section class="why-should-i-join">
<div class="container-fluid text-center" style="background: #003A70;padding: 2rem 0">    
  <div class="col-md-12 col-12 white">
      <span class="sub-head">What is it?</span>
      <p class="head">Why should I join?</p>
  </div>
  <div class="col-md-12 col-12 text-center ctc">
      <img data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Loyalty_Banner_Desktop_MY.png?v=1665576215" class="lazyload desktop" width="800">
      <img data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Loyalty_Banner_Mobile_MY.jpg?v=1665576215" class="lazyload img-size mobile">
  </div>
  <div class="col-md-12 col-12">
      <p class="txt-para" style="color: white;padding: 10px;">Oh wait, there's more! Sign up today and enjoy these benefits too:</p>    
      <img data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/exclusive_desktop.webp" class="lazyload img-bf ex-img desktop" alt="there's more! Sign up today and enjoy these benefits too">
     <img data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/exclusive_desktop.webp" class="lazyload img-bf ex-img mobile" alt="there's more! Sign up today and enjoy these benefits too">
  </div>
</div>
<div class="container-fluid" style="background: #EDEDED;padding: 3rem">
  <div class="row earn">
    <div class="col-md-6 col-12">
      <span class="sub-head">Nice, I'm interested.</span>
        <h1 class="head">What do I do now?</h1>
      <p>Fill in your details and start earning points. Enjoy more perks as you purchase Trapo products.</p>
    </div>
    <div class="col-md-6 col-12 text-center" style="text-align: -webkit-center;">
      <img data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/earn.png" class="lazyload desktop" width="150">
      <img data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/earn-m.png" class="lazyload img-size mobile">      
    </div>    
  </div>  
</div>
</section>
<section class="break">
  <div class="container text-center" style="padding: 2.5rem">
    <div class="row" style="margin-top: 20px;">
      <div class="col-md-12 col-12">
        <span class="sub-head">Want to earn more</span>
          <p class="head">without spending?</p>
      </div>
    </div>
  </div>
</section>
<section class="activities">
  <div class="container-fluid text-center" style="background: #E81F76;padding :2rem;">
    <h1 style="color: white;">Activities</h1>
    <div class="row">
      <div class="col-md-1 col-6 act desktop"></div>
      <div class="col-md-1 col-6 act desktop"></div>
      <div class="col-md-1 col-6 act desktop"></div>
      <div class="col-md-2 col-6 act">
        <img data-src="https://cdn.shopify.com/s/files/1/0332/5801/2811/files/birthday.png?v=1665489796" class="lazyload act-img">
        <span class="txt-label">Birthday <br>Point</span>
        <span class="points">+2000 pts</span>
      </div>
      <div class="col-md-2 col-6 act">
        <img data-src="https://cdn.shopify.com/s/files/1/0332/5801/2811/files/mail-list.png?v=1665489796" class="lazyload act-img">
        <span class="txt-label">Sign up to our <br>mailing list</span>
        <span class="points">+200 pts</span>
      </div>
      <div class="col-md-2 col-12 act">
        <img data-src="https://cdn.shopify.com/s/files/1/0332/5801/2811/files/review-fb.png?v=1665489796" class="lazyload act-img">
        <span class="txt-label">Review us on <br>Facebook</span>
        <span class="points">+500 pts</span>
      </div>
      <!--<div class="col-md-2 col-6 act">
        <img data-src="https://cdn.shopify.com/s/files/1/0332/5801/2811/files/insta.png?v=1665489796" class="lazyload act-img">
        <span class="txt-label">Follow us on <br>Instagram</span>
        <span class="points">+150 pts</span>
      </div>
      <div class="col-md-2 col-6 act">
        <img data-src="https://cdn.shopify.com/s/files/1/0332/5801/2811/files/facebook.png?v=1665489795" class="lazyload act-img">
        <span class="txt-label">Like us on <br>Facebook</span>
        <span class="points">+150 pts</span>
      </div>-->
      
      <div class="col-md-1 col-6 act desktop"></div>
      <div class="col-md-1 col-6 act desktop"></div>
      <div class="col-md-1 col-6 act desktop"></div>
<!--       <div class="col-md-2 col-6 act">
        <img data-src="https://cdn.shopify.com/s/files/1/0332/5801/2811/files/tiktok_1.png?v=1665489796" class="lazyload act-img">
        <span class="txt-label">Follow us on <br>TikTok</span>
        <span class="points">+250 pts</span>
      </div> -->
    </div>
  </div>
</section>
<section class="referrals">
  <div class="container-fluid text-center" style="background: #54C0E8;padding :2rem;">
    <h1>Referrals</h1>
    <div class="row">
      <div class="col-md-4 col-6 ref">
        <img data-src="https://cdn.shopify.com/s/files/1/0332/5801/2811/files/Group_256.png?v=1665489796" class="lazyload ref-img">
        <span class="txt-label"><b>RM30 off</b> your <br>friend’s first purchase <br>via your <b>referral link</b></span>        
      </div>
      <div class="col-md-4 col-6 ref">
        <img data-src="https://cdn.shopify.com/s/files/1/0332/5801/2811/files/Group_195.png?v=1665489796" class="lazyload ref-img">
        <span class="txt-label"><b>Get RM30</b> for every <br>successful purchase <br>from your friend</span>        
      </div>
      <div class="col-md-4 col-12 ref">
        <img data-src="https://cdn.shopify.com/s/files/1/0332/5801/2811/files/Group_185.png?v=1665489796" class="lazyload ref-img">
        <span class="txt-label"><b>Redeem points</b> with <br>us for free gifts and <br>cash rebate vouchers</span>        
      </div>
    </div>
  </div>
</section>
<section class="tier">
  <div class="container text-center" style="padding :3rem 0 2rem;">
      <div class="col-md-12 col-12 text-center ctc">
        <p class="head">Shop more to level up!</p>
        <span class="sub-head sm-font">Collect exclusive TRAPO car stickers to unlock awesome offline benefits! <br></br>Stickers are available with any purchase of TRAPO car mats.</span><br/><br/>
        <img data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/tier_desktop-new.png?v=1729578579" class="lazyload desktop" width="800">
        <img data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/tier_mobile-new.png?v=1729578577" class="lazyload img-size mobile">
      </div>
  </div>
</section>
<section class="redeem">
  <div class="container-fluid text-center">
      <div class="col-md-12 col-12">        
        <span class="sub-head">Awesome!</span>
        <p class="head">What can I redeem?</p>        
      </div>
    <div class="row prod">
      <div class="col-md-3 col-6">
        <img data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/1-LP.png?v=1716454207" class="lazyload img-prod" width="200">
      </div>
      <div class="col-md-3 col-6">
        <img data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/2-LP.png?v=1716454207" class="lazyload img-prod" width="200">
      </div>
      <div class="col-md-3 col-6">
        <img data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/3-LP.png?v=1716454207" class="lazyload img-prod" width="200">
      </div>
      <div class="col-md-3 col-6">
        <img data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/4-LP.png?v=1716454207" class="lazyload img-prod" width="200">
      </div>
      {% comment %}<div class="col-md-3 col-6">
        <img data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/trapo_website_loyalty_1.png?v=1674021075" class="lazyload img-prod" width="200">
      </div>
      <div class="col-md-3 col-6">
        <img data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/trapo_website_loyalty_2.png?v=1674020939" class="lazyload img-prod" width="200">
      </div>
      <div class="col-md-3 col-6">
        <img data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/loyalty_1.png?v=1672880090" class="lazyload img-prod" width="200">
      </div>
      <div class="col-md-3 col-6">
        <img data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/loyalty_2.png?v=1672880090" class="lazyload img-prod" width="200">
      </div>{% endcomment %}
    </div>
  </div>
  <div class="container-fluid text-center">
      <div class="col-md-12 col-12">        
        <span class="sub-head">Great!</span>
        <p class="head">How do I redeem points?</p>        
      </div>
    <div class="container-fluid text-center" style="background: #EDEDED;padding: 2rem">
      <p class="redeem-txt">Redeem cash</p>
      <div class="row cash text-center">
        <div class="col-md-6 col-12">
          <label>Desktop</label>
          <img data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/desktop_redeem_cash.gif" class="lazyload img-size" width="300">
        </div>
        <div class="col-md-6 col-12">
          <label>Mobile</label>
          <img data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/mobile_redeem_cash.gif" class="lazyload img-size" width="300">
        </div>
      </div>
    </div>
    <div class="container-fluid text-center" style="background: #DBDBDB;padding: 2rem">
      <p class="redeem-txt">Redeem item</p>
      <div class="row cash text-center">
        <div class="col-md-6 col-12 ">     
          <label>Desktop</label>
          <img data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/desktop_redeem_items.gif" class="lazyload img-size" width="300">
        </div>  
        <div class="col-md-6 col-12 ">
          <label>Mobile</label>
          <img data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/mobile_redeem_items.gif" class="lazyload img-size" width="300">
        </div>  
      </div>
    </div>
</section>
<section class="break">
  <div class="container text-center" style="padding: 3rem 0 1rem;">
    <div class="row" style="margin: 0 0;">
      <div class="col-md-12 col-12" style="line-height: 4rem">        
          <p class="head">I'm a believer!</p>
          <a href="/account/register" class="lion-action-button lion-action-button--primary lp-button" style="margin-right: unset">Sign up now</a>
      </div>
    </div>
  </div>
</section>
  </div>
<style>
*{
  margin: 0 0;
  padding: 0 0;
}
.container{
  max-width: 100% !important;
}
  .loyalty-outer .container{
    position: relative;
    margin: 0 auto;
    display: inherit;
  }
div.container.banner{
  padding: 0 0;
}
div.container{
  padding: 30px 0px;
} 
.head-banner .call-to-action{
  padding: 2rem;
  text-align: center !important;
}
.head-banner .call-to-action a.lp-button, .break a.lp-button{
  background-color: rgba(238, 42, 123, 1);
  color: white !important;
  padding: 10px 35px;
  border-radius: 30px !important;
  font-size: 16px !important;
  width: 150px;
  text-transform: inherit;
  font-family: inherit;
  font-weight:700;
}
.why-should-i-join .container-fluid .earn{padding: 0 24%}
.why-should-i-join .container-fluid{max-width: 100% !important;}
.why-should-i-join .white .head{color: white !important;font-size: 2rem;font-weight: 900;font-family: 'Roboto' !important;}
  .container.content .text-center p.txt-para{
  color: white !important;
  padding: 10px !important;
}
.why-should-i-join .white .sub-head{color: white;font-size: 2rem;font-weight: 400}

/* .why-should-i-join .earn{} */
.why-should-i-join .earn .head{color: #003A70;font-size: 2rem;font-weight: 700;
    letter-spacing: 0;
    text-transform: inherit;}
.why-should-i-join .earn p{
  font-size: 15px;
    text-align: justify;
    margin: 0 0 15px;
    font-style: normal;
    line-height: 1.6em;
    font-weight: 400!important;
}
.why-should-i-join .earn .sub-head{color: #003A70;font-size: 2rem;font-weight: 400}
  
.break .sub-head, .tier .sub-head, .redeem .sub-head{color: #003A70;font-size: 2rem;font-weight: 400}
.break .head, .tier .head, .redeem .head{color: #003A70;padding: 0 0; margin: 0 0 !important; font-size: 2rem !important; font-family: 'Roboto' !important;}

.activities .row{margin: 0 15%;}  
.referrals .row{margin: 0 30%;}
.redeem .cash{margin: 0 20%}
  
.activities .act, .referrals .ref{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0px;
}
.activities .act-img, .referrals .ref-img{
  width: 100px;
}
.activities .txt-label{
  font-size: 14px;
  color: white;
  padding :10px 0;
}
.activities .points{
  color: white;
  font-family: 'Roboto' !important;
  font-size: 20px;
  font-weight: 700;
}
.activities h1, .referrals h1{
 font-size: 1.5rem; 
}
.referrals .txt-label{
  font-size: 16px;
  color: #003A70;
  padding :10px 0;
  font-weight: 200 !important;
}
.redeem .prod{
  margin: 0 20%;
  padding: 2rem 0;
  justify-content: center;
}
.cash label{
  text-transform: uppercase;
  font-size: 14px;
  color: #E81F76;
  text-align: center;
  padding: 10px 0px;
}
.redeem-txt{
  font-size: 1.5rem !important; 
  font-weight: 900;
  color:#E81F76;
  font-family: 'Roboto' !important;
}
.redeem .container-fluid{
  padding: 0 0;
}
.ctc{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.desktop{display: block}
.mobile{display: none}
.sub-head.sm-font{
  font-size: 15px;
    line-height: 10px;
    font-weight: 700;
    color: #000;
  padding: 0 10px;
}
  h2.title{
    font-weight:700 !important;
  }
  
@media only screen and (max-width: 600px){
  .container{
    width: 100%;
  }
  .head-banner .call-to-action{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  .why-should-i-join .container-fluid .earn{padding: 0 0}
  .for-mobile{
    width: 100%;
    height: 50px;
  }
  .activities .row, .referrals .row, .redeem .prod, .redeem .cash{
    margin: 0 0;
  }  
  .referrals .row{
    display: flex;
  }
  .tier .sub-head{
    line-height: 1.3;
  }
  .img-size{
    width: 100%;
  }
  .img-prod{
    width: 150px;
  }
  .img-bf{
    width: 200px;
  }
  .redeem .container-fluid{
    padding: unset;
  }
  .redeem .prod div.col-6{
    padding: 8px;
  }
  .container.footer-menu-wrap {
    padding: 10px;
  }
  .mobile{display: block}
  .desktop{display: none !important;}
}

  .ex-img.desktop{
    margin: auto;
    width: 50%;
  }

  .ex-img.mobile{
    margin: auto;
    width: 85%;
  }
  .loyalty-outer{
    margin:0px;
  }
</style>

{% schema %}
{
"name": "Loyalty Program New",
"settings": [],
"presets": [
{
"name": "Loyalty Program New",
"category": "Additional Sections"
}
]
}
{% endschema %}
