<section class="car_coating">
  <div class="container">
    <div class="img">
      <img
        src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/150248014_1.png?v=1721544398"
        alt="did you know that your car coating needs upkeep?"
      >
    </div>
    <div class="contant">
      <img
        src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_514.png?v=1721544396"
        alt="did you know that your car coating needs upkeep?"
      >
      <h2>did you know that your car coating needs upkeep?</h2>
    </div>
  </div>
</section>
<section class="why_recommend">
  <img
    src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_529.png?v=1721544398"
    alt="Trapo Maintenance Program"
  >
  <div class="container">
    <h3>Here’s why we recommend:</h3>
    <h2>Trapo Maintenance Program</h2>
  </div>
</section>

<section class="protect_coting">
  <div class="container">
    <div class="protect_coting_row">
      <div class="item">
        <div class="img">
          <img
            src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Layer_1_32569207-45b5-4fad-a8c0-9ab6918ba964.png?v=1721544396"
            alt="Regular care keeps your coating’s protective power intact."
          >
        </div>
        <div>
          <p>Keeps your coating protection strong</p>
          <span>Regular care keeps your coating’s protective power intact.</span>
        </div>
      </div>
      <div class="item">
        <div class="img">
          <img
            src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Layer_1_1.png?v=1721544396"
            alt="Keeps your coating’s ability to repel water and dirt."
          >
        </div>
        <div>
          <p>Maintains coating’s optimal performance</p>
          <span>Keeps your coating’s ability to repel water and dirt.</span>
        </div>
      </div>
      <div class="item">
        <div class="img">
          <img
            src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Layer_1_2.png?v=1721544397"
            alt="Shields against UV rays and pollutants which extends your car coating’s life."
          >
        </div>
        <div>
          <p>Protects your coating’s integrity</p>
          <span>Shields against UV rays and pollutants which extends your car coating’s life.</span>
        </div>
      </div>
      <div class="item">
        <div class="img">
          <img
            src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Layer_1_3.png?v=1721544396"
            alt="A well-kept coating means your car looks better for longer."
          >
        </div>
        <div>
          <p>Preserves your car’s value</p>
          <span>A well-kept coating means your car looks better for longer.</span>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="dont_risk_it">
  <div class="container">
    <h2 class="title">
      What happens if you <span> skip </span> <br>
      coating maintenance?
    </h2>
    <div class="dont_risk_it_row">
      <div class="item">
        <img
          src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Rectangle_268.png?v=1721545930"
          alt="Diminished hydrophobic eﬀect"
        >
        <p>
          Diminished <br>
          hydrophobic effect
        </p>
        <span
          >Your car could get dirtier and stained <br>
          more easily.</span
        >
      </div>
      <div class="item">
        <img
          src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Rectangle_269.png?v=1721545930"
          alt="Reduced shine and lustre"
        >
        <p>
          Reduced shine <br>
          and lustre
        </p>
        <span>Your car won’t look as glossy anymore</span>
      </div>
      <div class="item">
        <img
          src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Rectangle_270.png?v=1721545930"
          alt="More vulnerable to environmental damage"
        >
        <p>
          More vulnerable to <br>
          environmental damage
        </p>
        <span>Contaminants like bird droppings / UV rays / dirt/etc can more easily damage your car’s exterior</span>
      </div>
    </div>
    <div class="dont_risk_img">
      <img
        src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_522.png?v=1721544396"
        alt="Contaminants like bird droppings / UV rays / dirt/etc"
      >
    </div>
  </div>
</section>

<section class="experience_program">
  <div class="container">
    <h3>You can avoid this when you...</h3>
    <h2>
      Experience the benefits of <br>
      Trapo Maintenance Program
    </h2>
    <div class="experience_program_row">
      <div class="item">
        <img
          src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Rectangle_271.png?v=1721545930"
          alt="Deep Wash (Rim + Paint)"
        >
        <div class="contant">
          <h4>STEP 1</h4>
          <span>Deep Wash (Rim + Paint)</span>
        </div>
      </div>
      <div class="item">
        <img
          src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Rectangle_272.png?v=1721545930"
          alt="Polishing / Watermark Removing"
        >
        <div class="contant">
          <h4>STEP 2</h4>
          <span>Polishing / Watermark Removing</span>
        </div>
      </div>
      <div class="item">
        <img
          src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Rectangle_273.png?v=1721545930"
          alt="Paint Coating"
        >
        <div class="contant">
          <h4>STEP 3</h4>
          <span>Paint Coating</span>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="work_for">
  <div class="container">
    <h2 class="title"><span>Works for</span></h2>
    <div class="work_for_row">
      <div class="item">
        <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_530.png?v=1721546576" alt="Works for">
        <span class="from_label">From RM199</span>
      </div>
      <div class="item">
        <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_531.png?v=1721546577" alt="Works for">
        <span class="from_label">From RM299</span>
      </div>
    </div>
    <h3>
      Book your slot today <br>
      and protect your car’s coating!
    </h3>
    <a href="https://bit.ly/TrapoDetailing" class="link_btn">BOOK NOW</a>
  </div>
</section>
<style>
      .car_coating{
          background-color: #D9D9D9;
      }
      section .container{
      max-width: 1480px;
      padding: 0 15px;
      margin: 0 auto;
      width: 100%;
  }
  .car_coating .img{
      max-width: 479px;
      height: 100%;
      margin-bottom: -140px;
      position: relative;
      z-index: 9
  }
  .car_coating  .container {
      gap: 84px;
      display: grid;
      grid-template-columns: 34% 1fr;
  }
  .car_coating .img img{
      width: 100%;
  }
  .car_coating .contant{
      padding-top: 150px;
  }
  .car_coating .contant img{
       max-width: 500px;
      width: 100%;
      display: block;
      margin-bottom: 30px
  }
  .car_coating .contant h2{
      font-size: 32px;
      text-transform: uppercase;
      max-width: 480px;
      text-align: center;
      line-height: 40px;
      font-weight: 600;
  }
  .why_recommend {
      position: relative
  }
  .why_recommend img{
      width: 100%;
      display: block;
  }
  .why_recommend .container{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: block;
  }
  .why_recommend .container h3{
      margin: 0 0 10px;
      color: #fff;
      font-size: 33px;
  }

  .why_recommend .container h2{
      font-size: 45px;
      line-height: 1;
      margin: 0;
      color: #fff;
      font-weight: bold;
      letter-spacing: 2px
  }
  .protect_coting .protect_coting_row{
      max-width: 880px;
      width: 100%;
      margin: 0 auto;
      display: grid;
      grid-template-columns: 1fr 1fr;
      padding-block:110px;
      gap:80px 50px
  }
  .protect_coting .protect_coting_row .item{
      display: grid;
      align-items: center;
      gap:23px;
      grid-template-columns: 118px 1fr;
  }
  .protect_coting .protect_coting_row .item p{
      font-size: 24px;
      font-weight: bold;
      color: #1b3d6d;
      line-height:30px;
      margin: 0 0 10px
  }
  .protect_coting .protect_coting_row .item span{
      font-size: 16px;
      color: #1b3d6d
  }
  .dont_risk_it{
      background-color: #C2C2C2;
      border-radius: 30px;
      padding-block:50px 40px;
      margin-bottom: 80px;
  }
  .dont_risk_it .container{
      display: block;
  }
  .dont_risk_it .container .dont_risk_it_row{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap:34px;
      text-align: center
  }

  .dont_risk_it .container .dont_risk_it_row .item img{
      display: block;
      width: 100%;
      margin-bottom: 30px;
  }
  .dont_risk_it .container .dont_risk_it_row .item p{
      font-size: 24px;
      line-height: 28px;
      color: #1B3D6D;
      font-weight: bold;
      letter-spacing: 2px;
  }
  .dont_risk_it .container .dont_risk_it_row .item span{
      font-size: 16px;
      color: #1B3D6D;
      line-height: 1.3;
      display: block;
      width: 90%;
    margin: 0 auto;
  }
  .dont_risk_it .title{
      text-align: center;
      color: #222222;
      font-weight: bold;
      letter-spacing: 4px;
      font-size: 32px;
      line-height: 40px;
      margin: 0 0 40px
  }
  .dont_risk_it .title span{
      font-size: 40px;
      color: #E82276;
      font-style: italic;
  }
  .dont_risk_img{
      margin:30px auto -100px;
      display: block;
      text-align: center
  }
  .experience_program{
      margin-bottom: 68px;
  }
  .experience_program .container{
      display: block
  }
  .experience_program   h3{
      font-size: 32px;
      line-height: 48px;
      color: #E82276;
      text-align: center;
      font-weight: bold;
      letter-spacing: 2px;
      margin-bottom: 30p;
  }
  .experience_program h2{
      text-align: center;
      font-weight: bold;
      letter-spacing: 1px;
      margin: 0 0 60px
  }
  .experience_program_row{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap:40px 30px;
  }
  .experience_program_row .item{
      width: 48.7%;
      display: grid;
      grid-template-columns: 37% 1fr;
      align-items: center;
      gap:24px;
      background-color: #003A70;
      border-radius: 20px;
      color: #fff
  }
  .experience_program_row .item img{
      width: 100%;
  }
  .experience_program_row .item:last-child{
      margin: 0 auto;
  }
  .experience_program_row .item .contant h4{
      font-size: 32px;
      color: #fff;
      margin: 0;
      font-weight: bold;
      letter-spacing: 3px;
  }
  .experience_program_row .item .contant span{
      font-size: 24px;
  }
  .work_for .container{
      display: block;
  }
  .work_for .container .title{
      position: relative;
      max-width: 627px;
      width: 100%;
      margin: 0 auto;
      text-align: center;
      margin-bottom: 40px
  }
  .work_for .title:before{
      content: '';
      width: 100%;
      border: 3px solid #003A70;
      position: absolute;
      left: 0;
      top: 20px;
      height: 100%;
      min-height: 100px;
      border-bottom: 0;
      border-radius: 30px 30px 0 0
  }
  .work_for .title span{
      background-color: #fff;
      position: relative;
      display: block;
      width: fit-content;
      margin: 0 auto;
      padding-inline:30px;
      font-weight: bold;
      text-transform: uppercase;
  }
  .work_for_row{
      display: grid;
      grid-template-columns: 1fr 1fr;
      z-index: 9;
      position: relative;
      gap:60px;margin-bottom: 50px
  }
  .work_for_row .item{
      position: relative;
  }
  .work_for_row .item .from_label{
      position: absolute;
      background-color: #E82276;
      bottom: 15%;
      right: 0;
      font-size: 35px;
      color: #fff;
      padding: 20px 40px;
      border-radius: 18px 0 0 18px
  }
  .work_for_row .item img{
      width: 100%;
  }
  .work_for h3{
      text-align: center;
      font-weight: bold;
      font-size: 32px;
      letter-spacing: 2px;
      line-height: 1.3;
      margin: 0 0 40px
  }
  .link_btn{
      background-color: #E82276;
          color:#fff;
      margin: 0 auto;
      display: block;
      width: fit-content;
      padding: 10px 30px;
      border-radius: 50px;
      font-size: 14px;
  }
  .link_btn:visited,.link_btn:hover{
    color:#fff
  }

  @media(max-width:1199px){
      .car_coating .contant {
          padding-top: 100px;
      }
      .car_coating .contant img{
          max-width: 350px;
          margin-bottom: 10px
      }
      .car_coating .contant h2{
          font-size: 22px;
          line-height: 1;
          max-width: 330px
      }
      .car_coating .img{
          margin-bottom: -120px
      }
      .why_recommend .container h3{
          font-size: 28px;
          margin-bottom: 0
      }
      .why_recommend .container h2{
          font-size: 35px;
      }
      .dont_risk_it .container .dont_risk_it_row{
          gap:10px
      }
      .experience_program_row .item{
          width: 46%
      }
      .experience_program_row{
          justify-content: space-around
      }
      .experience_program_row .item .contant h4{
          padding:  0;
          font-size: 19px
      }
      .experience_program_row .item .contant span{
          font-size: 18px;
      }
  }
  @media(max-width:991px){
      .experience_program_row{
          flex-direction: column;
          gap:30px
      }
      .experience_program_row .item{
          width: 100%;
      }
      .work_for_row{
          gap:10px;
          margin-bottom: 30px
      }
      .work_for_row .item .from_label{
          font-size: 22px;
          padding: 10px 20px;
      }
      .work_for h3{
          font-size: 28px;
          line-height: 1;
          margin-bottom: 30px
      }
      .work_for .container .title{
          margin-bottom: 20px;
      }
      .experience_program h2{
          line-height: 1.2
      }
      .dont_risk_it .title{
          line-height: 1
      }
      .protect_coting .protect_coting_row{
          gap:50px 20px;
          padding-block:70px
      }
      .protect_coting .protect_coting_row .item{
          grid-template-columns: 80px 1fr
      }
      .protect_coting .protect_coting_row .item img{
          width: 100%
      }
      .protect_coting .protect_coting_row .item p{
          font-size:19px;
          line-height: 1;
          margin-bottom: 5px
      }
      .why_recommend .container h3{
          font-size: 20px
      }
      .why_recommend .container h2{
          font-size: 28px;
      }
      .car_coating .contant{
          padding-top: 50px
      }
      .car_coating .img{
          margin-bottom: -80px
      }
      .car_coating .container{
          gap:30px
      }
  }
  @media(max-width:767px){
      .car_coating .container{
          grid-template-columns: 1fr;
          margin-bottom: 30px;
          gap:20px
      }
      .car_coating .img{
          max-width: 220px;
          margin: 0 auto;
      }
      .car_coating .contant{
          padding-top: 20px;
      }
      .car_coating .contant img,
      .car_coating .contant h2{
          margin: 0 AUTO 20PX
      }
      .why_recommend .container{
          position: unset;
          transform: unset;
      }
      .why_recommend{
          display: flex;
          flex-direction: column-reverse
      }
      .why_recommend .container{
          margin-bottom: 20px
      }
      .why_recommend .container h2{
          color: #222222;
          text-align: center;
          font-size: 20px;
      }
      .why_recommend .container h3{
          color: #222222;
          text-align: center;
          font-size: 17px;
      }
      .why_recommend img{
          max-width: 330px;
          width: 100%;
          height: 182px;
          margin: 0 auto;
          border-radius: 10px;
          object-fit: cover;
          object-position: center
      }
      .protect_coting .protect_coting_row{
          padding-block: 30px 40px;
          grid-template-columns: 1fr;
          max-width: 400px;
          gap:30px
      }
      .dont_risk_it .title{
          font-size: 20px;
      }
      .dont_risk_it .title span{
          font-size: 25px;
      }
      .dont_risk_it .container .dont_risk_it_row{
          grid-template-columns: 1fr;
          gap:20px
      }
      .dont_risk_it .container .dont_risk_it_row .item img{
          margin-bottom: 15px;
      }
      .dont_risk_it .container .dont_risk_it_row .item p{
          font-size: 20px;
          margin: 0
      }
      .dont_risk_it .container .dont_risk_it_row .item p br{
          display: none
      }
      .dont_risk_img{
          max-width: 180px;
          margin-bottom: -75px
      }
      .dont_risk_img img{
          width: 100%;
      }
      .dont_risk_it{
          margin-bottom: 50px
      }
      .experience_program h3{
          font-size: 18px;
          line-height: 1
      }
      .experience_program h2{
          margin-bottom: 20px
      }
      .experience_program_row .item .contant span{
          font-size: 15px;
      }
      .experience_program{
          margin-bottom: 30px
      }
      .work_for_row{
          grid-template-columns: 1fr;
      }
      .work_for .title:before{
          display: none
      }
      .work_for_row .item .from_label{
          left: 0;
          right: auto;
          border-radius: 0 10px 10px 0;
          font-size: 19px;
          padding: 5px 20px
      }
      .work_for .title span{
          font-size: 22px
      }
      .work_for h3{
          font-size: 22px;
      }
  }
</style>
