<a name="pagecontent" id="pagecontent"></a>
<div class="container page-content nano-clean text-left px-3">
      <h1 class="page-title">Trapo Oxtra Nano Clean Spray</h1>

      <div class="row gy-3">
               <div class=" box col-12">
                     <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/nano-d-1.jpg?v=1646214308" width="" height="" style="" alt="" class="d-none d-lg-block img-fluid">
                 <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/nano-m-1.jpg?v=1646214308" width="" height="" style="" alt="" class="d-lg-none img-fluid">

                     <div class="detail">
                            <h5 class="text-center">Protection that last for months.</h5>
                            <div>
                                   <p class="m-0">A water-based formulation that uses nano photocatalyst technology (Japan) activating</p>
                                   <p class="m-0">self-sterilizing function. Suitable on all surfaces, hard and soft,</p>
                                   <p class="m-0">spray, the surface is protected up to 60 days. It will self-motivated and eliminate bacteria</p>
                                   <p class="m-0">and viruses when surface is expose to any kind of lights.</p>
                            </div>
                     </div>
              </div>   

              <div class="col-12">
                     <div class="video">
                    <div class="wrapper">
                    <div class="youtube" data-embed="v3VKEpooh7g">
                    <div class="play-button"></div>
                    </div>
                    </div>
                    </div>
              </div>

              <div class=" col-12">
                     <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/nano-d-2.jpg?v=1646214308" width="" height="" style="" alt="" class="img-fluid d-none d-lg-block">
					 <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/nano-m-2.jpg?v=1646214308" width="" height="" style="" alt="" class="d-lg-none img-fluid">
					 
              </div>

              <div class=" col-12">
                     
                            
                            <div class="col-12">
                                   <img width="" height="" style="" alt="" class="img-fluid d-none d-lg-block" src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/nano-d-3.jpg?v=1646214308">
								   <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/nano-m-3.jpg?v=1646214308" width="" height="" style="" alt="" class="d-lg-none img-fluid">
                            </div>
                   
              </div>

              <div class="col-12">
                     <img width="" height="" style="" alt="" class="img-fluid d-none d-lg-block" src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/nano-d-4-new.jpg?v=1646214308">
					 
              </div>

              <div class="col-12">
                     <img width="" height="" style="" alt="" class="img-fluid d-none d-lg-block" src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/nano-d-5.jpg?v=1646214308">
					 <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/nano-m-5.jpg?v=1646214308" width="" height="" style="" alt="" class="d-lg-none img-fluid">
              </div>

              <div class="col-12 ">
                <div class="d-none d-lg-block">
                     <div class="text-center">
                            <strong><span style="font-size: 30px;">How does it work ?</span></strong>
                     </div>
                     <div class=" row align-items-center pt-4">
                            <div class="box col-6">
                                  <img width="" height="" style="" alt="" class="shogun-image  shogun-lazyloaded" src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/nano-d-6.jpg?v=1646214308">

                                  <div class="work-detail fw-bold">
                                         <p style=" max-width: 300px;line-height: 20px;">
                                                 <span style="font-size: 18px;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  Spray the solution to any </span><br><span style="font-size: 18px;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  surface which we get in </span><br><span style="font-size: 18px;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  contact with daily</span>
                                          </p> 
                                  </div>
                            </div>
                            <div class="box col-6">
                                  <img width="" height="" style="" alt="" class="img-fluid mt-4" src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/nano-d-7.jpg?v=1646214308">

                                  <div class="work-detail fw-bold">
                                         <p class="text-left" style=" max-width: 500px;line-height: 20px;">
                                                 <span style="font-size: 16px;"><span style="font-size: 18px;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Utilizing nano photocatalysis<br> technology,</span></span><br>
                                                 <span style="font-size: 18px;"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; the sterilization process is <br> activated in  the</span><br><span style="font-size: 18px;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  presence of a light source. This <br>results in the </span><br><span style="font-size: 18px;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  elimination of 99% of bacteria<br> and viruses</span><br><span style="font-size: 18px;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  on the applied surface</span>
                                          </p>
                                  </div>
                            </div>

                     </div>
        		</div>
				<div class="d-lg-none">
				<img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/nano-m-6.jpg?v=1646214308" width="" height="" style="" alt="" class="img-fluid">
				</div>
  
              </div>
              <div class="col-12 pb-2 pt-5">
                     <img width="" height="" style="" alt="" class="img-fluid d-none d-lg-block" src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/nano-d-8.jpg?v=1646214308">
              </div>
              <div class="col-12 row " >
                     <div class="col-6">
                             <img width="" height="" style="" alt="" class="img-fluid" src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/nano-d-9.jpg?v=1646214308">
                     </div>
                   <div class="col-6">
                            <img width="" height="" style="" alt="" class="img-fluid" src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/nano-d-10.jpg?v=1646214308">
                     </div>
                     <div class="col-6">
                            <img width="" height="" style="" alt="" class="img-fluid" src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/nano-d-11.jpg?v=1646214308">
                     </div>
                     <div class="col-6">
                            <img width="" height="" style="" alt="" class="img-fluid" src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/nano-d-12.jpg?v=1646214308">
                     </div>
              </div>
              <div class="col-12">
                     <img dwidth="" height="" style="" alt="" class="img-fluid d-none d-lg-block" src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/nano-d-13.jpg?v=1646214308">
					 <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/nano-m-7.jpg?v=1646214308" width="" height="" style="" alt="" class="d-lg-none img-fluid">
              </div>
              <div class="col-12">
                     <a href="#">
                            <img width="" height="" style="" alt="" class="img-fluid d-none d-lg-block" src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/nano-d-14.jpg?v=1646214308">
							<img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/nano-m-8.jpg?v=1646214308" width="" height="" style="" alt="" class="d-lg-none img-fluid">
                     </a>
              </div>
      </div>
                           
  </div>

<style>
  .container.page-content{
        max-width: 900px;
      }
   .detail{
       max-width: 550px;
      }
      .nano-clean .box{
       position: relative;
      }
       .nano-clean .box .detail{
       position: absolute;
       bottom: 10px;
       left: 40%;
       transform: translate(-40%);
      }
      
       .work-detail{
       position: absolute;
       top: 0;
      }
       .work-detail p{
       max-width: 500px;
       line-height: 20px;
      }
.detail h5{
  font-weight: 700;
    font-style: normal;
    font-size: 19px;
    text-transform: none;
    line-height: 1.5;
    color: #173f6d;
    display: block;
    letter-spacing: 0px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0 0 0.5em;
    padding: 7px 0;
}

@media only screen and (max-width: 540px){
           .nano-clean .box .detail{
              display: block;
    position: inherit;
          } 
       }

      @media only screen and (max-width: 768px){
           .box .detail p{
              font-size: 0.8rem;
         }
      }
</style>