<a name="pagecontent" id="pagecontent"></a>
<div class="container page-content px-3">
      <h1 class="page-title">Trapo  Oxtra Nano Clean Spray Certificate</h1>

       <div class="row my-2">
              <div class="col-12">
                     <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/cert-d-1.jpg?v=1646218297" width="" height="" style="" alt="" class="img-fluid">
              </div>
              <div class="col-12">
                     <div class="video">
                    <div class="wrapper">
                    <div class="youtube" data-embed="oyQe_0c0Fg0">
                    <div class="play-button"></div>
                    </div>
                    </div>
                    </div>
              </div>
              <div class="col-12">
                     <div class="video">
                    <div class="wrapper">
                    <div class="youtube" data-embed="Mx8wGZISdKs">
                    <div class="play-button"></div>
                    </div>
                    </div>
                    </div>
              </div>
         <div class="col-12">
                     <div class="video">
                    <div class="wrapper">
                    <div class="youtube" data-embed="SwCSF7h_dwA">
                    <div class="play-button"></div>
                    </div>
                    </div>
                    </div>
              </div>
              <div class="col-12 row g-3 text-center">
                     <div class="col-sm-4 col-12">
                            <img width="" height="" style="" alt="" class="img-fluid" src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/cert-d-2.jpg?v=1646218297">
                     </div>
                     <div class="col-sm-4 col-12">
                            <img width="" height="" style="" alt="" class="img-fluid" src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/cert-d-3.jpg?v=1646218297">
                     </div>
                     <div class="col-sm-4 col-12">
                            <img width="" height="" style="" alt="" class="img-fluid" src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/cert-d-4.jpg?v=1646218297">
                     </div>
                     <div class="col-sm-4 col-12">
                            <img width="" height="" style="" alt="" class="img-fluid" src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/cert-d-5.jpg?v=1646218297">
                     </div>
                     <div class="col-sm-4 col-12">
                            <img width="" height="" style="" alt="" class="img-fluid" src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/cert-d-6.jpg?v=1646218297">
                     </div>
                     <div class="col-sm-4 col-12">
                            <img width="" height="" style="" alt="" class="img-fluid" src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/cert-d-7.jpg?v=1646218297">
                     </div>
              </div>
       </div>
                           
  </div>
<style>
  .container.page-content{
        max-width: 900px;
      }
</style>