<div class="container">
  <div style="width:100%;text-align-left">
<h1 class="page-title">In the News</h1>
  </div>
<div class="news-list">
  {% if section.blocks.size > 0 %}
  	{% for block in section.blocks %}
      <div class="one-third column news-single medium-down--one-half small-down--one-half">
        <a href="{{block.settings.news_link}}" target="_blank">
       	{% include 'image-element', image: block.settings.image, alt: block.settings.image.alt %}
        </a>
        <hr>
        {% if block.settings.news_desc %}
        	<h3>{{ block.settings.news_desc }}</h3>
        {% endif %}
        {% if block.settings.news_link %}
        	<a href="{{block.settings.news_link}}" target="_blank">Read More</a>
        {% endif %}
      </div>
  	{% endfor %}
  {% endif %} 
  
  {% comment %}<div class="one-whole column medium-down--one-whole">
  	<a href="javascript:void(0);" class="older-news">Older News</a>
  </div>{% endcomment %}
</div>

</div>

<style>
  .news-list{
        width: 100%;
    margin: auto;
  }
  .news-list .news-single{
    margin-bottom:40px;
  }
  .news-list hr{
        display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #000;
    margin: 1em 0;
    padding: 0;
    margin-top:5px;
    margin-bottom:15px;
  }
  .news-list h3{
    font-size: 16px;
    color: #000;
    font-weight: 400;
    letter-spacing: 1px;
    width: 100%;
    min-height: 75px;
  }
  .news-list .news-single a {
    text-transform: uppercase;
    font-weight: 600;
  }
  .news-list a.older-news{
    display: block;
    width: 100%;
    background: #173f6d;
    max-width: 100%;
    text-align: center;
    padding: 10px;
    font-size: 16px;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 1px;
  }
  .news-list .news-single:nth-child(2) .image-element__wrap{
    max-width:55px !important;
  }
  .news-list .news-single .image-element__wrap{
    min-height:65px !important;
    margin: unset;
    margin-left: 10px;
  }
  h1.page-title{
        text-align: left;
    margin-bottom: 40px;
  }
  .column, .columns {
    float: left;
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
    box-sizing: border-box;
}
  @media screen and (max-width: 479px){
    .news-list {
      width: 100%;
      margin: auto;
    }
    .news-list h3 {
      min-height: 120px;
    letter-spacing: 0;
    }
    
    h1.page-title {
      font-size: 30px;
    }
  }
  @media only screen and (max-width: 480px){
    .small-down--one-half {
        width: calc(50% - 20px);
    }
  }
</style>

{% schema %}
  {
    "name": "News List",
    "class": "news-section",
    "max_blocks": 24,
    "settings": [
      
    ],
    "blocks": [
      {
        "type": "image",
        "name": "Image",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "News Image"
          },
		  {
            "type": "textarea",
            "id": "news_desc",
            "label": "News Short Description"
          },
		  {
            "type": "url",
            "id": "news_link",
            "label": "News URL"
          }
        ]
      }
    ],
     "presets": [
      {
        "name": "News List",
        "category": "Image",
        "blocks": [
          {
            "type": "image"
          },
          {
            "type": "image"
          },
          {
            "type": "image"
          },
          {
            "type": "image"
          },
          {
            "type": "image"
          },
          {
            "type": "image"
          },
          {
            "type": "image"
          },
          {
            "type": "image"
          }
        ]
      }
    ]
  }
{% endschema %}



{% javascript %}
{% endjavascript %}
