<!-- Desktop -->
<div class="plus-hide-mobile">
  <div class="header-section-offline">
    <p class="no-padding">
      <img
        data-src='https://cdn.shopify.com/s/files/1/0234/7089/9277/files/trapo_offline_premium_service_logo.png?v=1684125727'
        alt="Trapo offline premium service logo" data-expand="10" class="img-size lazyload">
    </p>
    <div class="page-text">
      <p>Your family's safety and comfort are our top priority. Drop by any of our hubs and enjoy our top-notch services
        today!</p>
    </div>
  </div>

  <div class="container main-container" >
    <div class="offline-sec" >
      <div class="offline-card ">
        <div class=" offline-card-img">
            <img data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/1-img_desktop_3_windowCleaning.png?v=1712129323"
            class=" h-100 img-size lazyload img-fluid" alt="Window Cleaning  Coating" />
            <p class="service-desc">
              Ready for a crystal-clear view on the road? Let us help you give your windshield and car windows a fresh new look in just minutes! With our expert cleaning service, you can keep your view sharp and bright and enjoy a safe journey.
            </p>
        </div>
        <div class="offline-card-detail">
          <div class="card-body">
            <h3>Window Cleaning <br> & Coating</h3>
            <div>
              <p class="service-duration">15 minutes</p>
            <p class="service-desc">
              Ready for a crystal-clear view on the road? Let us help you give your windshield and car windows a fresh new look in just minutes! With our expert cleaning service, you can keep your view sharp and bright and enjoy a safe journey.
            </p>
            <p class="service-charge">RM 10</p>
            </div>
          </div>
        </div>
      </div>
      <div class="offline-card ">
        <div class=" offline-card-img">
            <img data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/2-img_desktop_4_plasticGuard.png?v=1712129326"
            class=" h-100 img-size lazyload img-fluid" alt="PlasticGuard Restoring" />
            <p class="service-desc">
              Say goodbye to dull and faded parts. Our plastic guard restoring service can help bring your car's exterior plastic and rubber components back to life, making them look as good as new!
            </p>
        </div>
        <div class="offline-card-detail">
          <div class="card-body">
            <h3>PlasticGuard <br> Restoring</h3>
            <div>
              <p class="service-duration">15 minutes</p>
            <p class="service-desc">
              Say goodbye to dull and faded parts. Our plastic guard restoring service can help bring your car's exterior plastic and rubber components back to life, making them look as good as new!
            </p>
            <p class="service-charge">RM 10</p>
            </div>
          </div>
        </div>
      </div>
      <div class="offline-card ">
        <div class=" offline-card-img">
            <img data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/3-img_desktop_2_nano.png?v=1712129323"
            class=" h-100 img-size lazyload img-fluid" alt="Dashcam Installation" />
            <p class="service-desc">
              Upgrade your vehicle's safety and security with our professional Dashcam Installation service. Trust our expert technicians to seamlessly install your dashcam, ensuring peace of mind on every journey.
            </p>
        </div>
        <div class="offline-card-detail">
          <div class="card-body">
            <h3>Dashcam <br> Installation</h3>
            <div>
              <p class="service-duration">45 minutes - 1 hour</p>
            <p class="service-desc">
              Upgrade your vehicle's safety and security with our professional Dashcam Installation service. Trust our expert technicians to seamlessly install your dashcam, ensuring peace of mind on every journey.
            </p>
            <p class="service-charge">RM 50-150</p>
            </div>
          </div>
        </div>
      </div>
      <div class="offline-card ">
        <div class=" offline-card-img">
            <img data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/4-img_desktop_5_carMatCleaning.png?v=1712129323"
            class=" h-100 img-size lazyload img-fluid" alt="Dashcam Removal"/>
            <p class="service-desc">
              Simplify your vehicle's transition with our hassle-free Dashcam Removal service. Let our skilled technicians expertly uninstall your dashcam, leaving your car pristine and ready for its next adventure.
            </p>
        </div>
        <div class="offline-card-detail">
          <div class="card-body">
            <h3>Dashcam <br> Removal</h3>
            <div>
              <p class="service-duration">20 - 40 minutes</p>
            <p class="service-desc">
              Simplify your vehicle's transition with our hassle-free Dashcam Removal service. Let our skilled technicians expertly uninstall your dashcam, leaving your car pristine and ready for its next adventure.
            </p>
            <p class="service-charge">RM 50-100</p>
            </div>
          </div>
        </div>
      </div>

      <div class="offline-card ">
        <div class=" offline-card-img">
            <img data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/5-img_desktop_1_ppf.png?v=1712129323"
            class=" h-100 img-size lazyload img-fluid" alt="Pre Cut / Custom Cut Door PPF"/>
            <p class="service-desc">
              Want to keep your car looking sharp and scratch-free? We've got you covered with our custom cut paint protection film (PPF) service! Say goodbye to unsightly scratches and hello to a sleek and stylish ride.
            </p>
        </div>
        <div class="offline-card-detail">
          <div class="card-body">
            <h3>Pre Cut / Custom <br> Cut Door PPF</h3>
            <div>
              <p class="service-duration">15 - 30 minutes</p>
            <p class="service-desc">
              Want to keep your car looking sharp and scratch-free? We've got you covered with our custom cut paint protection film (PPF) service! Say goodbye to unsightly scratches and hello to a sleek and stylish ride.
            </p>
            <p class="service-charge">RM 35-60</p>
            </div>
          </div>
        </div>
      </div>

      <div class="offline-card ">
        <div class=" offline-card-img">
            <img data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/6-img_desktop_5_carMatCleaning.png?v=1712129323"
            class=" h-100 img-size lazyload img-fluid" alt="Wiper Installation"/>
            <p class="service-desc">
              Revamp your driving visibility effortlessly with our complimentary Wiper Installation service upon purchasing wipers. Our expert technicians ensure swift and precise installation.
            </p>
        </div>
        <div class="offline-card-detail">
          <div class="card-body">
            <h3>Wiper <br> Installation</h3>
            <div>
              <p class="service-duration">10 - 15 minutes</p>
            <p class="service-desc">
              Revamp your driving visibility effortlessly with our complimentary Wiper Installation service upon purchasing wipers. Our expert technicians ensure swift and precise installation.
            </p>
            <p class="service-charge">FREE with purchase</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="note-text"><p>*Valid to selected hubs only</p></div>
    <div class="row mt-4 m-0">
      <div class="col-md-12  text-center  book-slot-btn">
        <a href="https://linktr.ee/trapohub" class="action_button">Enquire Now</a>
      </div>
    </div>
  </div>
</div>


<style>
  .note-text{
        margin-top: 10px;
  }
  .note-text p{
    font-size: 12px;
    letter-spacing: 0.5px;
    color: red;
  }
  .container.main-container{
    margin-top:30px;
    display:block;
  }
  .offline-sec{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 28px 17px ;
  }
  .offline-card-detail{
    padding-block:17px 30px;
  }
  div.container.main.content {
    max-width: 100%;
  }

  div.container.main.content div.container {
    padding: 0;
  }

  .header-section-offline {
    background: #252525;
    padding: 25px 20px;
    text-align: center;
    color: #fff;
  }

  .header-section-offline p img {
    max-width: 458px;
    width: 100%;
  }

  .header-section-offline p {
    text-align: center;
    color: #fff !important;
    font-family: 'Roboto' !important;
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
  }

  .card {
    border: 0;
    flex-direction: row;
  }

  .offline-card {
    background: #D9D9D9;
        display: grid;
    column-gap: 21px;
    grid-template-columns: 58% 38%;
    justify-content: space-between;
    padding-inline:0 20px;
  }
.offline-card img{
  object-fit: cover;
}
  .card-body {
    padding: 0;
  }

  .card-body h3 {
    font-family: "Roboto" !important;
    font-weight: 700;
    font-size: 36px;
    line-height: 35px;
    margin-bottom: 5px;
  }

  p.service-duration {
    font-weight: 400;
    font-style: italic;
    font-family: "Roboto" !important;
    color: #003A70;
    font-size: 19px;
    margin-bottom: 10px;
    line-height: 22px;
  }

  p.service-desc {
    font-weight: 400;
    font-family: "Roboto" !important;
    color: #003A70;
    font-size: 16px;
    line-height: 18px;
  }

  p.service-charge {
    text-align: right;
    font-family: 'Roboto' !important;
    font-weight: 700;
    color: #003A70;
    font-size: 24px;
    line-height: 28px;
  }
  .offline-card-img .service-desc{
      display:none;
    }
  .book-slot-btn{
    padding-block:60px 84px;
  }
  .book-slot-btn a.action_button{
    border-radius: 50px !important;
    color: #fff;
    font-family: 'Roboto';
    font-weight: 600;
    background: #e82276;
    padding: 15px 20px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
  }
  @media screen and (max-width: 1540px){
    .card-body h3 {
        font-size: 24px;
        line-height: 25px;
    }
    p.service-duration{
      font-size:16px;
    }
    p.service-desc{
      font-size:16px;
      min-height:145px;
    }
    p.service-charge{
      font-size:20px;
    }
  }
  @media screen and (max-width: 1024px){
    .offline-card{
      grid-template-columns: 1fr;
      padding: 0;
    }
    .offline-card-detail{
      padding: 10px;
    }
    .offline-card-img{
      max-height: 300px;
    }
  }
  @media screen and (max-width: 768px) {
    .offline-sec {
      grid-template-columns: 1fr;
      gap: 10px;
    }
    .offline-card{
      display: flex;
      flex-direction: column-reverse;
    }
    .offline-card-detail .service-desc{
      display: none;
    }
    .offline-card-img .service-desc{
      display:block;
    }
    .offline-card img {
        max-height: 250px;
        width: 100%;
        object-fit: cover;
    }
    .offline-card-img {
        max-height: unset;
    }
    .offline-card-detail .card-body{
      display: flex;
    }
    div.container.main.content div.container {
        margin: 0 !important;
        max-width: 100% !important;
    }
    .offline-card-detail, .service-desc {
        padding-inline: 0;
    }
    .header-section-offline {
        padding: 25px 33px;
    }
    .offline-card:nth-child(odd) {
        background: #fff;
    }
    .offline-card-detail .card-body > div {
        display: flex;
        flex-direction: column-reverse;
    }
    
    .offline-card-detail .card-body > div p {
        margin-bottom: 0 !important;
    }
    p.service-charge {
      font-size: 24px;
  }
    p.service-duration {
        font-size: 19px;
    }
    p.service-desc {
      margin-top: 10px;
    min-height: auto;
    font-size: 16px!important;
    line-height: 18px!important;
    font-weight: 400!important;
    color: #000!important;
    font-family: Roboto!important;
    text-align: justify!important;
    }
    .offline-card{
      background: transparent;
    }
    .header-section-offline p {
    text-align: center;
    color: #fff !important;
    ffont-size: 16px!important;
    line-height: 18px!important;
    font-weight: 400!important;
    font-family: Roboto!important;
}
    .book-slot-btn {
    padding-block: 10px 10px;
}
    .container.main-container{
    max-width:100%;
  }
  }

  @media screen and (min-width: 769px) {
    .plus-hide-desktop {
      display: none;
    }
    
  }
</style>