<div class="about-us-main">
<main>
  <div class="container-fluid">
    <div class="text-center">
      <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Trapo-new.jpg" class="img-new lazyload">
    </div>
  </div>
</main>
<!-- Our Story-->
<div class="mb-4 our-story">
  <div class="container-fluid py-5">
    <h1 class="display-5 fw-bold head">Our Story</h1>
    <p class="col-md-12 story-txt">TRAPO is the leading automotive accessories brand in Malaysia, Singapore, Thailand and Indonesia. Founded in 2016 and headquartered in Malaysia, the brand was built with the aim to repurposing industrial waste into high quality usable and desirable automotive products for every consumer. We believe that a comfortable and safe driving environment is essential for every driver. Hence, TRAPO provides antibacterial properties along with a host of other functionalities which aim to solve common pain points of everyday drivers and to elevate their driving experience. </p>
    <!-- <button class="btn btn-primary btn-lg" type="button">Example button</button> -->
  </div>
</div>
<!-- Our Story Ends-->

<!-- Founders Story -->
<div class="container">      
  <div class="row">
    <div class="col-md-6">
      <div class="h-100 founders-txt">
        <h1 class="display-5 fw-bold head">Founders Story</h1>
        <p class="col-md-12">The Lee brothers, Tzong & Zare Lee. TRAPO was created with the intention of elevating the driving experience by providing a hygienic, comfortable and safe drive. With that in mind, they have created the antibacterial car mats which are now the signature product. Realising that health, hygiene and safety factors are not just limited to vehicles, the Lee brothers also come out with the OXTRA range of car accessory products, of which their utility extends beyond the car due to portability and practicality. <br><br>
          Being business minded throughout their upbringing, these brothers have been doing their research of not only customers’ wants and needs but also the trends of e-commerce. From their research they realised that there are not many products that focus on the health, hygiene and safety aspects of drivers and created solutions which are beneficial for the masses.
        </p>
      </div>
    </div>
    <div class="col-md-6">
      <div class="h-100 founders-img">
        <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/founders-1.jpg" class="img-size lazyload">
      </div>
    </div>
  </div>
</div>
<!-- Founders Story Ends-->
<!-- Quote -->
<div class="container-fluid">
  <div class="bg-blue2 text-center">
    <h4 class="py-5 bg-blue2">“Always understand your customer before creating a product.” <br/>- Tzong & Zare</h4>
  </div>
</div>
<!-- Quote Ends-->
<!-- Leadership Team -->
<div class="mb">
  <div class="container-fluid py-4 text-center">
    <h1 class="display-5 fw-bold head">Leadership Team</h1>
  </div>
</div>
<div class="album py-1 bg-light">
  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 leadership-p">
      <div class="col">
        <div class="card shadow-sm">
          <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/tzong-new.webp" class="img-size lazyload">
          <div class="card-body">
            <div class="row">
              <div class="col-6" style="width:70%">
                <p class="card-text"><b>Tzong Lee</b><br>Co-CEO / Co-Founder</p>
              </div>
              <div class="col-6 text-right" style="width:30%">
                <a href="https://www.linkedin.com/in/tzong-lee-9b8876ab/">
                  <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/linkedin.jpg" class="linkedin-img lazyload">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/zare-new.webp" class="img-size lazyload">
          <div class="card-body">
            <div class="row">
              <div class="col-6" style="width:70%">
                <p class="card-text"><b>Zare Lee</b><br>Co-CEO / Co-Founder</p>
              </div>
              <div class="col-6 text-right" style="width:30%">
                <a href="https://www.linkedin.com/in/tzong-ee-zare-lee-4ab59a55/">
                  <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/linkedin.jpg" class="linkedin-img lazyload">
                </a>
              </div>
            </div>            
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/ionut-new.webp" class="img-size lazyload">
          <div class="card-body">
            <div class="row">
              <div class="col-6" style="width:70%">
                <p class="card-text"><b>Ionut Danifeld</b><br>Chief Marketing Officer</p>
              </div>
              <div class="col-6 text-right" style="width:30%">
                <a href="https://www.linkedin.com/in/ionutdanifeld/">
                  <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/linkedin.jpg" class="linkedin-img lazyload">
                </a>
              </div>
            </div>               
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/sarah-2-new.webp" class="img-size lazyload">
          <div class="card-body">
            <div class="row">
              <div class="col-6" style="width:70%">
                <p class="card-text"><b>Sarah</b><br>Commercial Sales Lead</p>
              </div>
              <div class="col-6 text-right" style="width:30%">
                <a href="https://www.linkedin.com/in/sarah-yusof-2b419b11b/">
                  <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/linkedin.jpg" class="linkedin-img lazyload">
                </a>
              </div>
            </div>            
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/stan-new.webp" class="img-size lazyload">
          <div class="card-body">
            <div class="row">
              <div class="col-6">
                <p class="card-text"><b>Stan Tan</b><br>Online Sales Lead</p>
              </div>
              <div class="col-6 text-right">
                <a href="https://www.linkedin.com/in/sin-yie-tan-375376195/">
                  <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/linkedin.jpg" class="linkedin-img lazyload">
                </a>
              </div>
            </div>               
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/wei-cheit-new.webp" class="img-size lazyload">
          <div class="card-body">
            <div class="row">
              <div class="col-6" style="width:70%">
                <p class="card-text"><b>Wei Cheit</b><br>People & Culture Manager</p>
              </div>
              <div class="col-6 text-right" style="width:30%">
                <a href="https://www.linkedin.com/in/wei-cheit-lim-shrm-cp-496ab8b3/">
                  <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/linkedin.jpg" class="linkedin-img lazyload">
                </a>
              </div>
            </div>               
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Leadership Team Ends-->
<!-- Time Line -->
<div class="mb">
  <div class="container-fluid py-5 text-center">
    <h1 class="display-5 fw-bold head journey-title">The Journey</h1>
  </div>
</div>
<div class="container">
  <div class="main-timeline">
    <!-- start experience section-->
    <div class="timeline">
      <div class="icon"></div>
      <div class="date-content">
        <div class="date-outer">
          <span class="date">
            <!-- <span class="month">2 Years</span> -->
            <span class="year">2016</span>
          </span>
        </div>
      </div>
      <div class="timeline-content">
        <h5 class="title">Established in Malaysia</h5>
        <p class="description">
          In 2016, TRAPO was launched in Malaysia.
        </p>
      </div>
    </div>
    <!-- end experience section-->
    <!-- start experience section-->
    <div class="timeline">
      <div class="icon"></div>
      <div class="date-content">
        <div class="date-outer">
          <span class="date">
            <!-- <span class="month">1 Years</span> -->
            <span class="year">2017</span>
          </span>
        </div>
      </div>
      <div class="timeline-content">
        <h5 class="title">Launched our first hub</h5>
        <p class="description">
          In 2017, TRAPO launched its first hub in Melaka Raya. 
        </p>
      </div>
    </div>
    <!-- end experience section-->
    <!-- start experience section-->
    <div class="timeline">
      <div class="icon"></div>
      <div class="date-content">
        <div class="date-outer">
          <span class="date">
            <!-- <span class="month">2 Years</span> -->
            <span class="year">2018</span>
          </span>
        </div>
      </div>
      <div class="timeline-content">
        <h5 class="title">TRAPO Indonesia</h5>
        <p class="description">
          Introduced TRAPO to Indonesia<br>In 2018, TRAPO expanded its first branch in Indonesia.
        </p>
      </div>
    </div>
    <!-- end experience section-->
    <!-- start experience section-->
    <div class="timeline">
      <div class="icon"></div>
      <div class="date-content">
        <div class="date-outer">
          <span class="date">
            <!-- <span class="month">2 Years</span> -->
            <span class="year">2019</span>
          </span>
        </div>
      </div>
      <div class="timeline-content">
        <h5 class="title">Introduction of Oxtra car accessories and Shopee store expansion</h5>
        <p class="description">
          In 2019, Oxtra car accessories were launched in Malaysia with a purpose of elevating users'<br/> 
          driving experience. Meanwhile, we’ve also launched our first online store at Shopee Malaysia. 
        </p>
      </div>
    </div>
    <!-- end experience section-->
    <!-- start experience section-->
    <div class="timeline">
      <div class="icon"></div>
      <div class="date-content change1">
        <div class="date-outer">
          <span class="date">
            <!-- <span class="month">2 Years</span> -->
            <span class="year">2020</span>
          </span>
        </div>
      </div>
      <div class="timeline-content">
        <h5 class="title">Offline hubs expansion | Singapore expansion</h5>
        <p class="description">
          In 2020, we’ve expanded our offline hubs at Klang Valley areas such as Cheras Maluri, Glenmarie, <br>
          Desa Park City and Mid Valley. Meanwhile, TRAPO is introduced to Singapore and <br/>owns its first offline store at Zervex, Singapore.
        </p>
      </div>
    </div>
    <!-- end experience section-->
    
    <!-- start experience section-->
    <div class="timeline">
      <div class="icon"></div>
      <div class="date-content change2">
        <div class="date-outer">
          <span class="date">
            <!-- <span class="month">2 Years</span> -->
            <span class="year">2021</span>
          </span>
        </div>
      </div>
      <div class="timeline-content">
        <h5 class="title">TRAPO Thailand / New generation of TRAPO car mats</h5>
        <p class="description">
          In September 2021, TRAPO expanded it's wings and launched itself in Thailand.<br>
          Along with that, TRAPO understood what modern customers' need in a product <br>that is constantly evolving.
          Having that in mind, we updated new versions of our <br>signature car mats such as,
          TRAPO Hex II, TRAPO Classic Mark III and TRAPO Eco II.
        </p>
      </div>
    </div>
    <!-- end experience section-->
  </div>
</div>
<!-- Timeline Ends-->


<!-- Awards -->
<div class="mb">
  <div class="container-fluid py-5 text-center">
    <h1 class="display-5 fw-bold head">Awards</h1>
  </div>
</div>

<div class="container desktop-only">
  <div class="row mission">
     <div class="col-md-3 text-center">
      <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/LAWA_2023_Brandmark_Finalist.png?v=1698054537" alt="LAWA_2023_Brandmark_Finalist" class="img-size lazyload">       
    </div>
    <div class="col-md-3 text-center">
      <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Endeavor_s-Local-Selection-Panel-2021.jpg?v=1643283815" alt="Endeavor_s-Local-Selection-Panel-2021" class="img-size lazyload">
    </div>
    <div class="col-md-3 text-center">
      <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/LazMall---LazMall-Brand-Of-The-Year-Motors-Category-2021.jpg?v=1643283815" alt="LazMall-Brand-Of-The-Year-Motors-Category-2021" class="img-size lazyload">
    </div>
    <div class="col-md-3 text-center">
      <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Shopee-_2-Mall-Brand-Sales-_Motors_-2020.jpg?v=1643283815" alt="Shopee-_2-Mall-Brand-Sales-_Motors_-2020" class="img-size lazyload">      
    </div>
  </div>
</div>

<!-- For Mobile -->
<section class="customer-logos slider mobile-only">
  <div class="slide"><img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/LAWA_2023_Brandmark_Finalist.png?v=1698054537" width="300px" class="lazyload"></div>
  <div class="slide"><img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Endeavor_s-Local-Selection-Panel-2021.jpg?v=1643283815" width="300px" class="lazyload"></div>
  <div class="slide"><img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/LazMall---LazMall-Brand-Of-The-Year-Motors-Category-2021.jpg?v=1643283815" width="300px" class="lazyload"></div>
  <div class="slide"><img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Shopee-_2-Mall-Brand-Sales-_Motors_-2020.jpg?v=1643283815" width="300px" class="lazyload"></div>
</section>

<!-- For Mobile Ends -->

<p class="col-md-12 py-5 text-center awards-txt">At TRAPO, our employee-onwers are driven by a shared mission & vision - to be the leading car accessories provider in Asia; To encourage safety, hygiene and comfortable during experience through innovative & reasonable priced product. We believe that skill represented through the our numerous awards</p>
<!-- Mission Starts-->

<div class="container">
  <div class="row mission">
    <div class="col-md-4">
      <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/vision.png?v=1643796826" class="img-size lazyload">
    </div>
    <div class="col-md-4">
      <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/mission.png?v=1643796825" class="img-size lazyload">
    </div>    
    <div class="col-md-4">
      <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/future.png?v=1643796825" class="img-size lazyload">
    </div>
  </div>
</div>

<!-- Mission Ends-->

<!-- Awards Ends-->
<!-- Our Culture --> 
<div class="mb-4">
  <div class="container-fluid py-5">
    <h1 class="display-5 fw-bold head text-center">Our Culture</h1>
    <p class="col-md-12 py-3 text-center culture-txt">TRAPO strives to form a culture that empowers a creative, fun and independent workforce. We are passionate about delivering the best services and products to our consumers. Hence, we believe that creativity and innovation are powerful tools to help them make their dreams a reality. <br><br>
      We LOVE how each new creative hire adds to our culture. And, we’re hiring! <br><br>
      We believe that what makes us unique makes us stronger. We want to build a more diverse, inclusive and innovative organization that is good for our teams, our customers and our community. By empowering each other, we are to bring unique perspectives and experiences to work, we continually seek new ways to do so.
    </p>
    <!-- <button class="btn btn-primary btn-lg" type="button">Example button</button> -->
  </div>
</div>

<!-- Our Culture Ends-->


<div class="container-fluid">
  <div class="text-center">
    <a href="https://my.trapo.asia/pages/careers">
      <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/We-Are-Hiring-new.webp" class="img-size lazyload"></a>
  </div>
</div>

<!-- Our Values 
<div class="mb">
  <div class="container-fluid py-5 text-center">
    <h1 class="display-5 fw-bold head">Our Values</h1>
  </div>
</div>
<!-- Our Values Ends-->
<!-- Countries -->

<div class="mb-4">
  <div class="container-fluid py-5" style="padding-bottom: 0 !important">
    <h1 class="display-5 fw-bold head text-center">Countries</h1>
<!--     <p class="col-md-12 py-3 text-center culture-txt">TRAPO strives to form a culture that empowers a creative, fun and independent workforce. We are passionate about delivering the best services and products to our consumers. Hence, we believe that creativity and innovation are powerful tools to help them make their dreams a reality. <br><br>
      We LOVE how each new creative hire adds to our culture. And, we’re hiring! <br><br>
      We believe that what makes us unique makes us stronger. We want to build a more diverse, inclusive and innovative organization that is good for our teams, our customers and our community. By empowering each other, we are to bring unique perspectives and experiences to work, we continually seek new ways to do so.
    </p> -->
    <!-- <button class="btn btn-primary btn-lg" type="button">Example button</button> -->
  </div>
</div>

<div class="container countries">
  <div class="row">
    <div class="col-12" style="padding-bottom: 20px;">
      <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/trapo-malaysia.jpg" class="img-size lazyload" style="border-radius: 10px">
    </div>
    <div class="col-6">
      <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/trapo-singapore.jpg" class="img-size lazyload" style="border-radius: 10px">
    </div>
    <div class="col-6">
      <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/trapo-indonesia.jpg" class="img-size lazyload" style="border-radius: 10px">
    </div>      
  </div>
</div>

<!-- Countries End -->

<!-- Press Kit & CSR Campaign  -->
<div class="container press-kit">
  <div class="row">
    <div class="col-6">
      <h3 style="font-size: 20px">Press Kit</h3>
       <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Press-kit-new.jpg" class="img-size lazyload" style="border-radius: 10px">
      <p class="pkit">
        Guidelines to help you use our brand and assets without to negotiate legal arrangements for each use.
        <br><a href="https://my.trapo.asia/pages/press-kit"><button class="btn-style-abt">Learn More</button></a>
      </p>      
    </div>
    <div class="col-6">
      <h3 style="font-size: 20px">CSR Campaign</h3>
      <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/CSR-new.jpg" class="img-size lazyload" style="border-radius: 10px">
      <p class="pkit">
        Trapo's initiative to build a sustainable future for the next generation starting with <br>car mats.
        <br><a href="https://my.trapo.asia/pages/corporate-social-responsibility"><button class="btn-style-abt">Learn More</button></a>
      </p>      
    </div>  
  </div>
</div>


<!-- Press Kit & CSR Campaign Ends -->

<!-- Our Happy Moments --> 
<div class="mb">
  <div class="container-fluid text-center">
    <h1 class="display-5 py-3 fw-bold head" style="padding-bottom: 0px;">Our Happy Moments</h1>
    <p class="py-3 moments-txt">Work hard, play hard. We celebrate every milestone and success with everyone <br>after hard work.</p>
  </div>
</div>

<div class="album py-1 bg-light">
  <div class="container" style="padding: 0 2%">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 ">
      <div class="col">
        <div class="card shadow-sm">
          <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Award-Ceremony-3.webp?v=1642516668" class="img-size lazyload">
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/moments-2.webp?v=1642516668" class="img-size lazyload">
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Christmas-Celebration.webp?v=1642516668" class="img-size lazyload">
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Company-Annual-Dinner.webp?v=1642516668" class="img-size lazyload">
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Company-Badminton-Section.webp?v=1642516668" class="img-size">
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Team-Building-Dinner.webp?v=1642516668" class="img-size lazyload">
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Company_Morning_Excersice.webp?v=1642516668" class="img-size lazyload">
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Award-Ceremony-5.webp?v=1642516668" class="img-size lazyload">
        </div>
      </div>               
      <div class="col">
        <div class="card shadow-sm">
          <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/moments-3.webp" class="img-size lazyload">
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<!-- Our Happy Moments Ends -->  
<script src="https://code.jquery.com/jquery-2.2.0.min.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.js"></script>

{% schema %}
{
"name": "About Us",
"settings": [],
"presets": [
{
"name": "About Us",
"category": "Additional Sections"
}
]
}
{% endschema %}

<style>
  .about-us-main .container{
        position: relative;
    margin: 0 auto;
    display: inherit;
  }
.linkedin-img{
  width: 30px !important;
}
.img-size{
  width: 100%;
}
.mb{
  margin: 0 0 !important;
}
.nav{
  flex-direction: column;
} 
.main-timeline .change1:before {
    top: 15px !important;
}
.main-timeline .change2:before {
    top: 45px !important;
}
.about-us-main p,.about-us-main p.description{
  color: #333333;
    font-size: 1.3rem;
    line-height: 30px;
    text-align: center;
  font-weight: normal;
}
html, body {
  overflow-x: hidden;
}    
body{
  margin:  0;
  font-family: Roboto;
  position: relative;
}      
.one-whole, .one-whole > h1 {
  display: none;
}
.about-us-main div.section{
  margin:0;
}
.about-us-main .columns{
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.about-us-main .container, .about-us-main .section{
  max-width: 100% !important;
  width: 100%;
}
.about-us-main .container-fluid{
  padding-right: 0 !important;
  padding-left: 0 !important;
}
.about-us-main div.content, .about-us-main div.container{
  padding: 0;
}
.about-us-main .container-fluid{
  padding:  0px;
}
.bg-blue{
  background-color: #183f68;
  height: 65vh;   
  width: 100vw;         
}
.bg-blue2{
  background-color: #183f68;                
  color: white;
  font-size: 1.5rem;
}
.img-new{ 
  margin-top: 1%;
  height: 100vh;                
}
.our-story{        
  text-align: center;
}
.mission{
  padding: 0 10%;
}
.head{
  text-transform: uppercase;
  font-size: 3rem;
  padding-bottom: 1.5rem;
}  
.story-txt, .awards-txt, .culture-txt, .moments-txt{
  padding: 0 15% 0 15%;
  font-size: 18px;
} 
.founders-txt{
  padding-left: 15%;
  padding-top: 5%;
  font-size: 18px;
} 
.founders-img{
  padding-right: 15%;
  padding-bottom: 5%;
}  
.leadership-p{
  padding: 0 15%;
}
.card-text{
  font-size: 14px !important;
  text-align: inherit;
}
.about-us-main .container.desktop-only{
  display: block;
}
.about-us-main .mobile-only{
  display: none;
}
  .press-kit h3{
    font-weight:700;
  }
.countries, .press-kit{
  padding: 0 15% !important;
}
.pkit{
 font-size: 18px;
}
.btn-style-abt{
  background: #ee2a7b;
  padding: 10px 20px;
  border-radius: 10px;
  color: white;
  margin: 10px 0px;
}
/*.awards-txt{
padding: 0 20% 0 20%;
}
.culture-txt{
padding: 0 20% 0 20%;
}*/
.main-timeline {
  position: relative
}

.main-timeline:before {
  content: "";
  display: block;
  width: 2px;
  height: 100%;
  background: #ee2a7b;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0
}

.main-timeline .timeline {
  margin-bottom: 40px;
  position: relative
}

.main-timeline .timeline:after {
  content: "";
  display: block;
  clear: both
}

.main-timeline .icon {
  width: 18px;
  height: 18px;
  line-height: 18px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0
}

.main-timeline .icon:before,
.main-timeline .icon:after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.33s ease-out 0s
}

.main-timeline .icon:before {
  background: #fff;
  border: 2px solid #ee2a7b;
  left: 0px
}

.main-timeline .icon:after {
  border: 2px solid #ee2a7b;
  left: 0px
}

/*.main-timeline .timeline:hover .icon:before {
left: 3px
}

.main-timeline .timeline:hover .icon:after {
left: -3px
}*/

.main-timeline .date-content {
  width: 50%;
  float: left;
  margin-top: 22px;
  position: relative
}

.main-timeline .date-content:before {
  content: "";
  width: 36.5%;
  height: 2px;
  background: #ee2a7b;
  margin: auto 0;
  position: absolute;
  top: -20px;
  right: 10px;
  bottom: 0
}

.main-timeline .date-outer {
  width: 125px;
  height: 125px;
  font-size: 16px;
  text-align: center;
  margin: auto;
  z-index: 1
}

.main-timeline .date-outer:before,
.main-timeline .date-outer:after {
  content: "";
  width: 125px;
  height: 125px;
  margin: 0 auto;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  transition: all 0.33s ease-out 0s
}

.main-timeline .date-outer:before {
  background: #183f68;
  border: 2px solid #183f68;    
  /*left: -6px*/
}

/*.main-timeline .date-outer:after {
border: 2px solid #c6c6c6;
left: 6px
}*/
/*
.main-timeline .timeline:hover .date-outer:before {
left: 6px
}

.main-timeline .timeline:hover .date-outer:after {
left: -6px
}*/

.main-timeline .date {
  width: 100%;
  margin: auto;
  position: absolute;
  top: 27%;
  left: 0
}

.main-timeline .month {
  font-size: 18px;
  font-weight: 700
}

.main-timeline .year {
  display: block;
  font-size: 30px;
  font-weight: 700;
  color: #fff;
  line-height: 50px
}

.main-timeline .timeline-content {
  width: 50%;
  padding: 20px 0 20px 50px;
  float: right
}

.main-timeline .title {
  font-size: 19px;
  font-weight: 700;
  line-height: 24px;
  margin: 0 0 15px 0
}

.main-timeline .description {
  margin-bottom: 0	
}
.description{
  font-size: 13px !important;
  text-align: inherit !important;

}
.main-timeline .timeline:nth-child(2n) .date-content {
  float: right
}

.main-timeline .timeline:nth-child(2n) .date-content:before {
  left: 10px
}

.main-timeline .timeline:nth-child(2n) .timeline-content {
  padding: 20px 50px 20px 0;
  text-align: right
}
 p.card-text{
    text-align:left;
}
@media only screen and (max-width: 991px) {
  .main-timeline .date-content {
    margin-top: 35px
  }
  .main-timeline .date-content:before {
    width: 22.5%
  }
  .main-timeline .timeline-content {
    padding: 10px 0 10px 30px
  }
  .main-timeline .title {
    font-size: 17px
  }
  .main-timeline .timeline:nth-child(2n) .timeline-content {
    padding: 10px 30px 10px 0
  }
}

@media only screen and (max-width: 767px) {
  .bg-blue{
    height: 25vh;
  }
  .img-new {
    width: 100%;
    height: auto;
    justify-content: center;
    margin-top: 0vh;
  }
  .head{
    font-size: calc(1.425rem + 2.1vw);
    text-align: center;
    margin: 0;
    padding: 0;
  }
  .p-5{
    padding: 3rem 1.5rem 0rem 1.5rem !important;
  }
  .our-story{
    margin-top: 0%;        
  }
  .story-txt, .awards-txt, .culture-txt, .moments-txt{
    padding: 5%;
  } 
  .founders-txt{
    padding: 0!important;
    text-align: center;
  } 
  .founders-img{
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }  
  .leadership-p{
    padding: 0 15%;
  }
  .main-timeline{
  	margin: 0px 10px;
  }
  .main-timeline:before {
    margin: 0;
    left: 7px
  }
  .main-timeline .timeline {
    margin-bottom: 20px
  }
  .main-timeline .timeline:last-child {
    margin-bottom: 0
  }
  .main-timeline .icon {
    margin: auto 0
  }
  .main-timeline .date-content {
    width: 95%;
    float: right;
    margin-top: 0
  }
  .main-timeline .date-content:before {
    display: none
  }
  .main-timeline .date-outer {
    width: 110px;
    height: 110px
  }
  .main-timeline .date-outer:before,
  .main-timeline .date-outer:after {
    width: 110px;
    height: 110px
  }
  .main-timeline .date {
    top: 30%
  }
  .main-timeline .year {
    font-size: 24px
  }
  .main-timeline .timeline-content,
  .main-timeline .timeline:nth-child(2n) .timeline-content {
    width: 95%;
    text-align: center;
    padding: 10px 0
  }
  .main-timeline .title {
    margin-bottom: 10px
  }
  .about-us-main .container.desktop-only{
    display: none;
  }
  .about-us-main .mobile-only{
    display: block;
  }
  .leadership-p{
  	padding: 0 5%;
  }
  .countries, .press-kit{
    padding: 0 5% !important;
  }
  .pkit{
 	font-size: 13px;
  }
   .about-us-main p, .about-us-main p.description {  
    font-size: 16px!important;
    line-height: 20px!important;
    font-weight: 400!important;
    color: #000!important;
    font-family: "Roboto" !important;
    text-align: justify !important;
     padding: 15px 0!important;
  }
  .container h1.head{
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .py-5 {
    padding-top: 0.5rem!important;
    padding-bottom: 0.5rem!important;
}
  .bg-blue2{
    padding:30px 0;
  }
  .bg-blue2 h4{
    font-weight:700;
    margin-bottom:0;
  }
  .about-us-main .card-body p.card-text{
    padding-top: 0 !important;
    font-size: 15px !important;
    text-align: left;
  }
  h1.journey-title{
    margin-bottom:25px;
  }
}
/* Logo Slider */
.customer-logos .flickity-prev-next-button .arrow{
      fill: #e82276 !important;
}
 .customer-logos .flickity-prev-next-button svg{
    width:90%;
  }
.slick-slide {
  margin: 0px 20px;
}

.slick-slide img {
  width: 100%;
}

.slick-slider
{
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list
{
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.slick-list:focus
{
  outline: none;
}
.slick-list.dragging
{
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track
{
  position: relative;
  top: 0;
  left: 0;
  display: block;
}
.slick-track:before,
.slick-track:after
{
  display: table;
  content: '';
}
.slick-track:after
{
  clear: both;
}
.slick-loading .slick-track
{
  visibility: hidden;
}

.slick-slide
{
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}
[dir='rtl'] .slick-slide
{
  float: right;
}
.slick-slide img
{
  display: block;
}
.slick-slide.slick-loading img
{
  display: none;
}
.slick-slide.dragging img
{
  pointer-events: none;
}
.slick-initialized .slick-slide
{
  display: block;
}
.slick-loading .slick-slide
{
  visibility: hidden;
}
.slick-vertical .slick-slide
{
  display: block;
  height: auto;
  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}
 @media only screen and (max-width: 600px){
   .about-us-main{
     margin:0 10px;
   }
 }
</style>

{% javascript %}
$(document).ready(function(){
$('.customer-logos').slick({
slidesToShow: 4,
slidesToScroll: 1,
autoplay: true,
autoplaySpeed: 1500,
arrows: false,
dots: false,
pauseOnHover: false,
responsive: [{
breakpoint: 768,
settings: {
slidesToShow: 3
}
}, {
breakpoint: 520,
settings: {
slidesToShow: 2
}
}]
});
});

{% endjavascript %}
