<div class="carcare_banner">
  <div class="carcare_banner_wrap">
      <img class="mobile_view" src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_727.png?v=1733933801">
      <img class="desc_view" src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_30_2.png?v=1733886877">
  </div>
</div>

<div class="what_we_are">
  <div class="sec_heading">
    <h3>What We Offer?</h3>
  </div>
  <div class="clean_coat_row">
    <span class="CLEAN">CLEAN</span>
    <span class="COAT">COAT</span>
  </div>
  <div class="what_we_are_row glass">
    <div class="row_header">
      <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Vector_3.png?v=1733887269">
        <span>GLASS</span>
    </div>
    <div class="row_content">
        <div class="item CLEAN">
          <span>
            <strong>STREAKOFF</strong>
            <span>Works gently on surfaces</span>
          </span>
          <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Clip_path_group.png?v=1733887381" />
        </div>
        <div class="item COAT">
          <span>
            <strong>RAINGUARD</strong>
            <span>Waterproofing <br>In A Bottle</span>
          </span>
          <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Clip_path_group_1.png?v=1733934966" />
        </div>
    </div>
  </div>
  
  <div class="what_we_are_row glass  car_bodypint">
    <div class="row_header">
      <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Vector_3.png?v=1733887269">
        <span>CAR BODYPAINT</span>
    </div>
    <div class="row_content">
      <div class="left CLEAN">
        <div class="item">
          <span>
            <strong>STREAKOFF</strong>
            <span>Gentle on Coating,<br> Tough on Streaks</span>
          </span>
          <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Clip_path_group_2.png?v=1733935015" />
        </div>
        <div class="item">
          <span>
            <strong>BLITZOFF</strong>
            <span>Snow Fresh,<br> Sparkling Finish</span>
          </span>
          <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/blitzoff.png?v=1733935095" />
        </div>
      </div>
      <div class="right COAT">
        <div class="item">
          <span>
            <strong>DIRTOFF</strong>
            <span>Cleans And <br>Coats</span>
          </span>
          <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Clip_path_group_3.png?v=1733935123" />
        </div>
        <div class="item">
          <span>
            <strong>SHINEGUARD</strong>
            <span>Restore Your <br>Car Shine</span>
          </span>
          <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Clip_path_group_4.png?v=1733935123" />
        </div>
      </div>
    </div>
  </div>
  
  <div class="what_we_are_row glass  car_interior">
    <div class="row_content">
      <div class="left ">
        <div class="row_header">
          <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Vector_3.png?v=1733887269">
            <span>RIM</span>
        </div>
        <div class="inside_content CLEAN"> 
          <div class="item">
            <span>
              <strong>IRONOFF</strong>
              <span>Strong Rush <br> Remover</span>
            </span>
            <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Clip_path_group_5.png?v=1733935391" />
          </div>
        </div>
      </div>
      <div class="middle ">
        <div class="row_header">
          <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Vector_3.png?v=1733887269">
            <span>CAR INTERIOR</span>
        </div>
        <div class="inside_content">
          <div class="item CLEAN">
            <span>
              <strong>STAINOFF</strong>
              <span>Stain-Free Clean,<br>Everytime</span>
            </span>
            <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Clip_path_group_7.png?v=1733935442" />
          </div>
          <div class="item COAT">
            <span>
              <strong>LEATHERGUARD</strong>
              <span>Flawless Leather,<br>Oil-Free Shine</span>
            </span>
            <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Clip_path_group_8.png?v=1733935442" />
          </div>
        </div>
      </div>
      <div class="right ">
        <div class="row_header">
          <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Vector_3.png?v=1733887269">
            <span>GLASS</span>
        </div>
        <div class="inside_content COAT">
          <div class="item">
            <span>
              <strong>PLASTIGUARD</strong>
              <span>Restore And<br>Protect</span>
            </span>
            <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Clip_path_group_6.png?v=1733935391" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="how_to_use">
  <div class="sec_heading">
    <h3>How to Use?</h3>
  </div>
 <div class="how_to_use_row">
  <div class="how_to_use_header">
    <div class="item">
      <span> Bundle </span>
    </div>
    <div class="item">
      <span>Time to<br> complete</span>
    </div>
    <div class="item">
      <span>Application<br> Ease</span>
    </div>
    <div class="item">
      <span>Tutorial <br> Video</span>
    </div>
  </div>

   <div class="accordion-item">
      <div class="accordion-titel">
        <span>
          Basic Maintenance & Cleaning
          <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_629.png?v=1733323608" />          
        </span>
      </div>
     <div class="accordion-contant">
        <img  class="mobile_view" src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_1_ec7adc78-e4af-4031-a83b-edb26b2b6581.png?v=1733245041" />
        <img class="desc_view" src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_723.svg?v=1733932733" />          
        <div class="accordion-titel">
          <span>
            <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_629.png?v=1733323608" />          
          </span>
        </div>
     </div>
   </div>
   <div>
     <div class="how_to_use_content_row">
        <div class="item">
          Quick Wash Bundle
        </div>
        <div class="item">
          <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/time_-_low.svg?v=1733245453" />
        </div>
        <div class="item">
          <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/difficulty_-_low.svg?v=1733245453" />
        </div>
        <div class="item video_modal" data-modal-target="modal1">
          <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group.svg?v=1733245453" />
        </div>
     </div>
     <div class="how_to_use_content_row">
        <div class="item">
          On-The-Go Car Protectant Kit
        </div>
        <div class="item">
          <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/time_-_mid.svg?v=1733324881" />
        </div>
        <div class="item">
          <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/difficulty_-_low.svg?v=1733245453" />
        </div>
        <div class="item video_modal" data-modal-target="modal2">
          <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group.svg?v=1733245453" />
        </div>
     </div>
   </div>
   <div class="accordion-item">
      <div class="accordion-titel">
        <span>
          Comprehensive Care & Protection
            <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_629.png?v=1733323608" />          
        </span>
      </div>
     <div class="accordion-contant">
          <img  class="mobile_view" style="max-width:164px" src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_720.svg?v=1733324273" />          
          <img class="desc_view"  style="max-width:274px"  src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_724.svg?v=1733932733" />          
        <div class="accordion-titel">
          <span>
            <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_629.png?v=1733323608" />          
          </span>
        </div>
     </div>
   </div>
   <div id="modal1" class="modal-overlay">
      <div class="modal-content">
        <span class="close-modal">&times;</span>
        <div class="content-container">
          
    <iframe 
        src="https://www.youtube.com/embed/Rr5vcYuYkig"
        frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
        referrerpolicy="strict-origin-when-cross-origin" 
        allowfullscreen 
        style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;">
    </iframe>

        </div>
      </div>
    </div>
    
    <div id="modal2" class="modal-overlay">
      <div class="modal-content">
        <span class="close-modal">&times;</span>
        <div class="content-container">
          Your specific content here 2
        </div>
      </div>
    </div>
   
   <div>
      <div class="how_to_use_content_row">
        <div class="item">
          Pro Wash and Shine Kit
        </div>
        <div class="item">
          <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/time_-_mid.svg?v=1733324881" />
        </div>
        <div class="item">
          <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/difficulty_-_mid.svg?v=1733324982" />
        </div>
        <div class="item video_modal" data-modal-target="modal3">
          <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group.svg?v=1733245453" />
        </div>
     </div>
     <div class="how_to_use_content_row">
        <div class="item">
          Heavy Duty Paint Care Kit
        </div>
        <div class="item">
          <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/time_-_high.svg?v=1733324982" />
        </div>
        <div class="item">
          <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/difficulty_-_high.svg?v=1733324982" />
        </div>
        <div class="item video_modal" data-modal-target="modal4">
          <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group.svg?v=1733245453" />
        </div>
     </div>
   </div>
    <div id="modal3" class="modal-overlay">
      <div class="modal-content">
        <span class="close-modal">&times;</span>
        <div class="content-container">
          Your specific content here 3
        </div>
      </div>
    </div>
    
    <div id="modal4" class="modal-overlay">
      <div class="modal-content">
        <span class="close-modal">&times;</span>
        <div class="content-container">
          Your specific content here 4
        </div>
      </div>
    </div>
  
   <div class="accordion-item">
      <div class="accordion-titel">
        <span>
          Specialized Surface Care
            <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_629.png?v=1733323608" />          
        </span>
      </div>
     <div class="accordion-contant">
          <img  class="mobile_view" style="max-width:161px" src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_721.svg?v=1733324388" />          
          <img class="desc_view" style="max-width:274px" src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_725.svg?v=1733932733" />          
        <div class="accordion-titel">
          <span>
            <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_629.png?v=1733323608" />          
          </span>
        </div>
     </div>
   </div>
   <div>
    

     <div class="how_to_use_content_row">
        <div class="item">
          Water Stain Eraser Kit
        </div>
        <div class="item">
          <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/time_-_low_1.svg?v=1733325129" />
        </div>
        <div class="item">
          <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/difficulty_-_low_8e927a9b-c4b5-48e3-a559-7efe52866906.svg?v=1733325154" />
        </div>
        <div class="item video_modal" data-modal-target="modal5">
          <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group.svg?v=1733245453" />
        </div>
     </div>
     <div class="how_to_use_content_row">
        <div class="item">
          Glass Care Kit
        </div>
        <div class="item">
          <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/time_-_mid.svg?v=1733324881" />
        </div>
        <div class="item">
          <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/difficulty_-_low_8e927a9b-c4b5-48e3-a559-7efe52866906.svg?v=1733325154" />
        </div>
        <div class="item video_modal" data-modal-target="modal6">
          <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group.svg?v=1733245453" />
        </div>
     </div>
     <div class="how_to_use_content_row">
        <div class="item">
          Interior Leather Care Bundle
        </div>
        <div class="item">
          <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/time_-_high.svg?v=1733324982" />
        </div>
        <div class="item">
          <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/difficulty_-_high.svg?v=1733324982" />
        </div>
        <div class="item video_modal" data-modal-target="modal7">
          <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group.svg?v=1733245453" />
        </div>
     </div>
   </div>
    <div id="modal5" class="modal-overlay">
      <div class="modal-content">
        <span class="close-modal">&times;</span>
        <div class="content-container">
          Your specific content here 5
        </div>
      </div>
    </div>
    
    <div id="modal6" class="modal-overlay">
      <div class="modal-content">
        <span class="close-modal">&times;</span>
        <div class="content-container">
          Your specific content here 6
        </div>
      </div>
    </div>
   <div id="modal7" class="modal-overlay">
      <div class="modal-content">
        <span class="close-modal">&times;</span>
        <div class="content-container">
          Your specific content here 7
        </div>
      </div>
    </div>
   <div class="accordion-item">
      <div class="accordion-titel">
        <span>
          Enhanced Appearance
            <img  src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_629.png?v=1733323608" />          
        </span>
      </div>
     <div class="accordion-contant">
          <img class="mobile_view" style="max-width:265px" src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_722.svg?v=1733324388" />          
          <img class="desc_view"  src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_726.svg?v=1733932733" />          
        <div class="accordion-titel">
          <span>
            <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_629.png?v=1733323608" />          
          </span>
        </div>
     </div>
   </div>
   <div>
     <div class="how_to_use_content_row">
        <div class="item">
          Interior Leather Care Bundle
        </div>
        <div class="item">
          <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/time_-_low_1.svg?v=1733325129" />
        </div>
        <div class="item">
          <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/difficulty_-_low_8e927a9b-c4b5-48e3-a559-7efe52866906.svg?v=1733325154" />
        </div>
        <div class="item  video_modal" data-modal-target="modal8">
          <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group.svg?v=1733245453" />
        </div>
     </div>
   </div>
      <div id="modal8" class="modal-overlay">
      <div class="modal-content">
        <span class="close-modal">&times;</span>
        <div class="content-container">
          Your specific content here 8
        </div>
      </div>
    </div>
 </div>
</div>
<style>
  .car_interior .row_content .item,
.car_bodypint .row_content .item{
    padding-top: 20px
}

  .carcare_banner img{
    width: 100%;
    display: block;
}
.what_we_are{
    max-width:1330px;
    width: 100%;
    text-align: center;
    margin: 0 auto 70px;
  padding-inline:15px
}
.clean_coat_row{
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-inline:2px solid #fff
}
 .CLEAN{
    background-color: #D1D2D3;
     color: #000;
}
.COAT{
    background-color: #58595B;
    color: #fff;
}
.what_we_are_row.glass .row_header{
    position: relative;
  z-index:9
}
.what_we_are_row.glass .row_header img{
    display: block;
  width:100%;
}
.what_we_are_row.glass .row_header span{
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 22px;
    color: #fff;
}
.row_content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: -10px;
    border-inline:2px solid #fff
}
.row_content .item{
    display: flex;
    align-items: center;
    justify-content:  center;
}
.row_content .item > span{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left
}
.row_content .item > span span{
    font-size: 18px;
}
.row_content .item > span strong{
    font-size: 20px;
}

.car_bodypint .row_content > div{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.car_bodypint .row_content .left{
    border-right: 2px solid #fff
}
.car_bodypint .row_content .item + .item{
    border-left: 2px solid #fff
}
.carcare_banner{
    margin-bottom: 30px
}
.car_interior .row_content{
    grid-template-columns: 1fr 2fr 1fr;
}
.car_interior .row_content > div{
    float: unset;
}
.car_interior .row_content .middle .inside_content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-inline:1px solid #fff
}
.car_interior .row_content .row_header{
    height: 53px;
}
.car_interior .row_content .row_header img{
    height: 100%;
    object-fit: containe;
}
.car_interior .row_content .inside_content{
    margin-top: -10px;
}
.sec_heading h3{
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
  text-align:center
}








  .how_to_use{
    max-width: 355px;
    margin: 0 auto;
}
.how_to_use_header{
    display: grid;
    grid-template-columns: 120px auto auto auto;
    align-items: center;
    background-color: #1B3D6D;
    color: #fff;
}
.how_to_use .item{
    padding:10px 5px;
    line-height: 20px;
}
.how_to_use_header .item + .item{
    text-align: center;
    border-left: 1px solid #fff;
}
.how_to_use_content_row{
    display: grid;
    grid-template-columns: 120px auto auto auto;
    align-items: center;
    background-color: #FFFFFF
}
.how_to_use_content_row:first-child{
    background-color: #F8F8F8
}
.how_to_use_content_row .item + .item{
    text-align: center;
    border-left: 1px solid #DEDEDE;
}
.accordion-item{
    background-color: #4274AF;
    color: #fff;
    padding: 6px;
}
.accordion-titel span{
    display: flex;
    align-items: center;
    justify-content: space-between;
  cursor: pointer;
}
.accordion-titel.active span img{
    display: none
}
.accordion-titel.active span{
    justify-content: center
}
.accordion-contant > img{
    width: 100%;
    max-width: 255px;
    margin: 20px auto 10px;
    display: block
}
.accordion-contant span{
    display: block;
    width: 100%;
    padding:15px 10px;
}
.accordion-contant span img{
    margin: 0 auto;
    display: block;
    transform: rotate(180deg);
}
  .accordion-contant{
    display:none
  }
@media(max-width:991px){
  .row_content .item {
      flex-direction: column;
      padding-top: 20px;
      height: 100%;
      justify-content: space-between
  }
  .row_content .item img{
      width: 100%;
      object-fit: contain
  }
  .row_content .item > span{
      text-align: center;
  }
  .row_content .item > span strong{
      font-size: 14px;
  }
  .row_content .item > span span{
      font-size: 13px;
      line-height: 1.2
  }
  .car_interior .row_content .row_header{
      height: 31px
  }
  .what_we_are_row.glass:not(.car_bodypint, .car_interior) .item img{
      width: 100px
  }
  .what_we_are_row.glass .row_header span{
      font-size: 14px;
      line-height: 1;
      top: 7px
  }
  .what_we_are_row.glass .row_header img,
  .what_we_are_row.car_bodypint .row_header img{
      height: 30px;
  }
  .clean_coat_row span{
      padding:5px 10px
  }
  .what_we_are {
    margin: 0 auto 40px;
}
}
@media(min-width:768px){
  .mobile_view{
    display:none !important
  }
  .how_to_use{
      max-width: 1037px;
      font-size: 18px;
    padding-inline:15px
  }
  .how_to_use_content_row,
  .how_to_use_header{
      grid-template-columns: 2fr 1fr 1fr 1fr
  }
  .how_to_use_header .item span br{
      display: none
  }
  .accordion-item,
  .how_to_use_content_row .item{
      padding: 25px 30px
  }
  .how_to_use_header .item{
      padding: 10px 20px
  }
  .accordion-contant {
      display: block;
  }
  .accordion-titel span img,
  .accordion-contant .accordion-titel{
      display: none
  }
  .accordion-contant > img{
      margin-left: 0;
    max-width:410px
  }
  .accordion-titel{
    pointer-events:none
  }
}
@media(max-width:767px){
  .desc_view{
    display:none !important
  }
  .car_interior .row_content .inside_content{
    height:100%
  }
}
@media(max-width:425px){
  .what_we_are_row.glass .row_header span{
      font-size: 10px
  }
  .row_content .item > span strong{
      font-size: 10px;
  }
  .row_content .item > span span{
      font-size: 10px
  }
  .how_to_use{
      font-size: 12px
  }
  .row_content .item img{
      height: 60px;
      object-fit: contain;
      width: 100%
  }
  .clean_coat_row span{
      font-size: 12px;
      line-height: 1;
  }
}
</style>
<script>
document.addEventListener("DOMContentLoaded", function () {
  const accordionTitles = document.querySelectorAll(".accordion-titel");

  accordionTitles.forEach((title) => {
    title.addEventListener("click", function () {
      const currentItem = this.closest(".accordion-item");
      const currentContent = currentItem.querySelector(".accordion-contant");

      // Toggle the clicked item's content
      if (currentContent.style.display === "block") {
        currentContent.style.display = "none";
        this.classList.remove("active");
      } else {
        currentContent.style.display = "block";
        this.classList.add("active");
      }

      // Close all previous items and remove active class
      let previousSibling = currentItem.previousElementSibling;
      while (previousSibling) {
        const content = previousSibling.querySelector(".accordion-contant");
        if (content) content.style.display = "none";
        const title = previousSibling.querySelector(".accordion-titel");
        if (title) title.classList.remove("active");
        previousSibling = previousSibling.previousElementSibling;
      }

      // Close all next items and remove active class
      let nextSibling = currentItem.nextElementSibling;
      while (nextSibling) {
        const content = nextSibling.querySelector(".accordion-contant");
        if (content) content.style.display = "none";
        const title = nextSibling.querySelector(".accordion-titel");
        if (title) title.classList.remove("active");
        nextSibling = nextSibling.nextElementSibling;
      }
    });
  });
});
</script>




<script>
      document.addEventListener('DOMContentLoaded', function() {
        // Get all video modal triggers
        const videoModals = document.querySelectorAll('.video_modal');
        
        // Get all close buttons
        const closeButtons = document.querySelectorAll('.close-modal');
        
        // Add click event to all video modal triggers
        videoModals.forEach(trigger => {
          trigger.addEventListener('click', function(e) {
            const modalId = this.dataset.modalTarget;
            const modal = document.getElementById(modalId);
            if (modal) {
              modal.classList.add('active');
            }
          });
        });
      
        // Add click event to all close buttons
        closeButtons.forEach(button => {
          button.addEventListener('click', function() {
            const modal = this.closest('.modal-overlay');
            modal.classList.remove('active');
          });
        });
      
        // Close modal when clicking outside content
        document.addEventListener('click', function(e) {
          if (e.target.classList.contains('modal-overlay')) {
            e.target.classList.remove('active');
          }
        });
      
        // Optional: Close modal with ESC key
        document.addEventListener('keydown', function(e) {
          if (e.key === 'Escape') {
            const activeModal = document.querySelector('.modal-overlay.active');
            if (activeModal) {
              activeModal.classList.remove('active');
            }
          }
        });
      });
   </script>
   <style>
    .modal-overlay {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.8);
      z-index: 9999;
    }
    
    .modal-content {
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: white;
      padding: 20px;
      max-width: 800px;
      width: 90%;
    }
    
    .close-modal {
      position: absolute;
      right: 10px;
      top: 10px;
      font-size: 24px;
      cursor: pointer;
    }
    
    .content-container {
      margin-top: 15px;
    }
    
    /* Add this class for active modal */
    .modal-overlay.active {
      display: block;
    }
 </style>