
<div class="about_us_banner_video">
  <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_525.png?v=1762790308" class="img-new desktop_img">
  <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_528.png?v=1762794557" class="img-new mobile_img">
</div>
<div class="about_us_banner_video_wrap tint_new_video">
  <div class="container_md">
    <div class="video">
      <div class="wrapper">
        <div data-embed="PWlP1osrhAw" class="youtube">
          <div class="play-button"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="text_wrap">
    <h2>Our Story</h2>
    <p>
      TRAPO is Southeast Asia’s leading automotive accessories brand, with a strong presence in Malaysia, Singapore, Thailand, and Indonesia. Founded in 2016 and headquartered in Malaysia, we began by transforming industrial waste into innovative car mats — a commitment to sustainability that remains at the heart of our brand.
      From that starting point, TRAPO has expanded into a complete ecosystem of automotive solutions, including wipers, detailing services, and a wide range of car accessories designed to meet the needs of modern drivers.
    </p>
    <p>
      Our belief is simple: every journey should be safer, cleaner, and more comfortable. That’s why TRAPO products are infused with antibacterial properties and practical features that directly address common driving challenges.
      Today, TRAPO continues to push boundaries in innovation and quality, building towards our vision of becoming the ultimate one-stop solution for all automotive needs in the region.
    </p>
  </div>
</div>
<div class="the_journey">
  <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/about-journey-desk.webp?v=1764146170" class="img-new desktop_img">
  <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/about-journey-mob.webp?v=1764146170" class="img-new mobile_img">
</div>
<div class="awards_wrap">
  <div class="container_md">
    <h2>Awards</h2>
    <div class="award_list">
      <div class="award_list_item">
        <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/LAWA_2023_Brandmark_Finalist_1.png?v=1762790305" class="img-new ls-is-cached">
        <div class="award-title">
          Life At Work <br> Awards - Finalist<br> <small>By TalentCorp<br> 2023</small>
        </div>
      </div>
      <div class="award_list_item">
        <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Endeavor_s-Local-Selection-Panel-2021_1.png?v=1762790306" class="img-new ls-is-cached">
        <div class="award-title">
          Local Selection <br>Panel<br><small>endeavor<br> 2021</small>
        </div>
      </div>
      <div class="award_list_item">
        <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/LazMall---LazMall-Brand-Of-The-Year-Motors-Category-2021_1.png?v=1762790306" class="img-new ls-is-cached">
        <div class="award-title">
          Brand Of The Year<br> Motors Category<br><small>LazMall <br>2021</small>
        </div>
      </div>
      <div class="award_list_item">
        <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Shopee-_2-Mall-Brand-Sales-_Motors_-2020_1.png?v=1762790305" class="img-new ls-is-cached">
        <div class="award-title">
          2nd Place <br>Mall Brand Sales “MOTORS”<br><small>Shopee <br>2020</small>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="who_we_are">
  <h2>Who We Are</h2>
  <div class="who_we_are_wrap">
    <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_513.png?v=1762790307" class="img-new ls-is-cached">
    <div class="text_wrap">
      <p>Brothers Tzong and Zare Lee founded TRAPO with one mission: to make every journey more hygienic, comfortable, and safe. Their first innovation, antibacterial car mats, quickly became the brand’s signature product — protecting drivers from both dirt and unseen health risks.</p>
      <p>Since then, TRAPO has grown into a complete ecosystem of car mats, wipers, accessories, and detailing solutions, all designed to solve real driving challenges while staying true to its philosophy of being Smart, Safe, Sustainable.</p>
      <p>Guided by a strong business mindset and deep customer research, the Lee brothers identified a gap in the market: few brands focused on health and hygiene in driving. TRAPO was created to fill that gap, delivering practical, innovative solutions that improve everyday life while shaping a cleaner, safer, and more sustainable future.</p>
    </div>
  </div>
  <div class="about_us_banner_video_wrap tint_new_video podcast">
    <div class="container_md">
      <div class="video">
        <div class="wrapper">
          <div data-embed="8W6WqVtDSvc" class="youtube">
            <div class="play-button"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

    <div class="the_culture_product">
      <div class="the_culture_product-images">
            <h3>THE CULTURE</h3>
            <div class="the_culture_slider_outer">
              <div class="the_culture_slider">
                  <div>
                      <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Event-01-Full.png?v=1764095690" alt="Image 1">
                  </div>
                  <div>
                      <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Event-02-Full.png?v=1764095690" alt="Image 2">
                  </div>
                  <div>
                      <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Event-03-Full.png?v=1764095690" alt="Image 3">
                  </div>
                  <div>
                      <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Event-04-Full.png?v=1764095690" alt="Image 4">
                  </div>
                  <div>
                      <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Event-05-Full.png?v=1764095690" alt="Image 5">
                  </div>
                  <div>
                      <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Event-06-Full.png?v=1764095690" alt="Image 6">
                  </div>
                  <div>
                      <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Event-07-Full.png?v=1764095690" alt="Image 7">
                  </div>
              </div>
              <div class="the_culture_slider-thumbnails">
                  <div>
                    <div class="culture_img_wrap">
                      <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Event-01-Thumbnail.png?v=1764095550" alt="Thumbnail 1">
                    </div>
                  </div>
                  <div>
                      <div class="culture_img_wrap">
                        <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Event-02-Thumbnail.png?v=1764095549" alt="Thumbnail 2">
                      </div>
                  </div>
                  <div>
                    <div class="culture_img_wrap">
                      <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Event-03-Thumbnail.png?v=1764095549" alt="Thumbnail 3">
                    </div>
                  </div>
                  <div>
                    <div class="culture_img_wrap">
                      <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Event-04-Thumbnail.png?v=1764095550" alt="Thumbnail 4">
                    </div>
                  </div>
                  <div>
                    <div class="culture_img_wrap">
                      <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Event-05-Thumbnail.png?v=1764095550" alt="Thumbnail 5">
                    </div>
                  </div>
                  <div>
                    <div class="culture_img_wrap">
                      <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Event-06-Thumbnail.png?v=1764095550" alt="Thumbnail 6">
                    </div>
                  </div>
                  <div>
                    <div class="culture_img_wrap">
                      <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Event-07-Thumbnail.png?v=1764095550" alt="Thumbnail 7">
                    </div>
                  </div>
              </div>
            </div>
            <div class="the_culture_slider_text">
              <p>
                TRAPO strives to form a culture that empowers a creative, fun and independent workforce. We are passionate about delivering the best services and products to our consumers. Hence, we believe that creativity and innovation are powerful tools to help them make their dreams a reality.
              </p>
              <p>
                We LOVE how each new creative hire adds to our culture. And, we’re hiring!
              </p>
              <p>
                We believe that what makes us unique makes us stronger. We want to build a more diverse, inclusive and innovative organization that is good for our teams, our customers and our community. By empowering each other, we are to bring unique perspectives and experiences to work, we continually seek new ways to do so.
              </p>
          </div>
        </div>
    </div>

    <div class="join_us_btn">
      <a href="/pages/careers" class="btn btn-primary">jOIN US</a>
    </div>

    <div class="csr_wrap">

    <a class="csr_wrap_item" href="/pages/corporate-social-responsibility">
    <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_526.png?v=1762790305" class="img-new ls-is-cached">
    <span>CSR initiatives</span>
    </a>
  
  
    <a class="csr_wrap_item" href="/pages/press-kit">
    <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_525_1.png?v=1762790305" class="img-new ls-is-cached">
    <span>Press kit</span>
    </a>
  </div>
</div>



    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.slick/1.4.1/slick.min.js"></script>

    <script>
            $('.the_culture_slider').slick({
                slidesToShow: 1,
                slidesToScroll: 1,
                arrows: true,
                fade: true,
                infinite:true,
                asNavFor: '.the_culture_slider-thumbnails'
            });
            console.log('Main slider initialized');            
            $('.the_culture_slider-thumbnails').slick({
                slidesToShow: 4,
                slidesToScroll: 1,
                asNavFor: '.the_culture_slider',
                dots: false,
                arrows: true,
                infinite: false,
                centerMode: false,
                focusOnSelect: true,
                responsive: [
                    {
                        breakpoint: 768,
                        settings: {
                            slidesToShow: 2,
                            slidesToScroll: 1
                        }
                    }
                ]
            });
            console.log('Thumbnail slider initialized');
        
    </script> 

    <style>
        .the_culture_product{
          background-color: #555555;
          padding-block:50px 100px;
          }
          .the_culture_product-images {
              width: 100%;
              max-width: 1150px;
              margin: 0 auto;
              text-align:center;
              color:#fff;
            }
            .the_culture_slider_text{
              width: 100%;
              max-width: 1150px;
              margin: 0 auto;
              padding-inline:50px;
            }
            .the_culture_slider_outer{
              padding-inline:50px;
              position: relative;
          }
          .the_culture_product-images p{
            font-size:19px;
          }
          .the_culture_product-images p:last-child{
            margin-bottom:0
          }
          .the_culture_slider {
              margin-bottom: 15px;
              position: static;
          }
          .the_culture_slider .slick-slide {
              outline: none;
          }
          .the_culture_slider .slick-slide img {
              width: 100%;
              height: auto;
              display: block;
              border-radius: 20px;
          }
          .the_culture_slider .slick-prev,
          .the_culture_slider .slick-next {
              width: 40px;
              height: 40px;
              z-index: 100;
              background-position: center;
              background-repeat: no-repeat;
              background-size: 100%;
              font-size: 0;
              background-color:transparent;
              position: absolute;
              top: 35%;
              left: 50%;
              transform: translate(-50%, -50%);
              padding: 0 !important
          }
          .the_culture_slider .slick-prev {
              left: 15px;
              background-image: url('https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_138_750e4f13-8d0a-4a1b-8f75-bf648f7980ab.png?v=1764093074');
          }
          .the_culture_slider .slick-next {
              left: auto;
              right: -25px;
              background-image: url('https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_516.png?v=1764093077');
          }
          .the_culture_product-images h3{
            text-align: center;
            color: #fff;
            font-weight: 600;
            margin-bottom: 40px;
        }
          .the_culture_slider-thumbnails {
              margin: 0 -10px 46px;
          }
           .the_culture_slider-thumbnails .slick-slide {
            cursor: pointer;
            transition: opacity 0.3s ease;
            outline: none;
        }

        .the_culture_slider-thumbnails .slick-slide:hover {
            opacity: 0.8;
        }

        .the_culture_slider-thumbnails .slick-slide.slick-current {
            opacity: 1;
        }
          .the_culture_slider-thumbnails .slick-slide img {
              width: 100%;
              height: auto;
              display: block;
              border-radius: 20px;

          }
          .the_culture_slider-thumbnails .slick-slide.slick-current img {
              border-color: #333;
          }
          .the_culture_slider-thumbnails .slick-prev,
          .the_culture_slider-thumbnails .slick-next {
              width: 30px;
              height: 30px;
              display: none !important;
          }
          .culture_img_wrap{
              padding: 0 10px
          }
          .the_culture_slider-thumbnails .slick-list{
    /*overflow: visible*/
}
.the_culture_slider_outer{
    overflow: hide   
}
.join_us_btn .btn{ 
    background-color: #EE2A7B;
    padding:15px;
    max-width: 215px;
    width: 100%;
    display: block;
    margin: 64px auto 0;
    border-radius: 50px;
    border: 0;
    font-size: 19px;;
    font-weight: 600;
    text-transform: uppercase;
    color:#fff;
}

          @media(max-width:767px){
            .the_culture_product-images h3{
    font-size: 25px;
    line-height: 40px;
    margin-bottom: 22px;
}
.the_culture_slider_outer{
    padding-inline:20px
}
.the_culture_slider .slick-prev, .the_culture_slider .slick-next{
    top: 35%;
}
.the_culture_slider .slick-next{
    right: -15px
}
.the_culture_slider .slick-prev{
    left: 25px
}
.culture_img_wrap {
    padding: 0 7px;
}
.the_culture_slider-thumbnails {
    margin: 0 -7px 46px;
}
          }
          .the_culture_slider_text {
    padding-inline: 20px;
}
.the_culture_product {
    padding-block: 20px 40px;
}
.join_us_btn .btn{
    font-size: 14px;
    line-height: 16px;
    max-width: 185px;
    margin: 56px auto 0
}
    </style>





<style>
  .container.breadcrumb-container-page{
    display:none;
  }
  .about_us_banner_video img{
    width:100%;
    display:block;
  }
  .about_us_banner_video_wrap{
    max-width:1038px;
    width:100%;
    margin:0 auto;
    padding-inline:20px
  }
  .about_us_banner_video_wrap .container_md{
    margin:-85px auto 75px;
  }
  .about_us_banner_video_wrap .video{
    border-radius:44px;
    overflow:hidden;
  }
  .about_us_banner_video_wrap .video .youtube{
    margin-bottom:0 ;
  }
  .about_us_banner_video_wrap .text_wrap{
    text-align:center
  }
  .about_us_banner_video_wrap .text_wrap h2{
    font-size:32px;
    line-height:30px;
    letter-spacing:2px;
    font-weight:bold;
    text-transform:uppercase;
  }
  .about_us_banner_video_wrap .text_wrap p{
    font-size:19px;
    line-height:27px;
    letter-spacing: 0.19px;
  }
  .the_journey img{
    display:block;
    width:100%;
    max-width:1435px;
    margin:0 auto;
    padding-inline:20px
  }
  .the_journey{
      margin-top: 70px;
  }
  .awards_wrap .container_md{
      max-width: 1440px;
      width: 100%;
      margin: 0 auto;
      padding-inline:20px;
      margin-block: 70px 100px
  }
  .awards_wrap .award_list{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;;
      text-align: center;
      align-content: start;
      justify-content: center;
  }
  .awards_wrap .award_list{
      font-size: 22px;
      font-weight: 600;
      color: #003A70;
  }
  .awards_wrap .award_list small{
      font-size: 16px;
      font-weight: 500;
  }
  .awards_wrap .award_list img{
      display: block;
      width: 100%;
      max-width: 200px;
      margin: 0 auto;
      margin-bottom: 10px;
  }
    .thee_culture_slider h2,
  .who_we_are h2,
  .awards_wrap h2{
      font-size:32px;
      line-height:30px;
      letter-spacing:2px;
      font-weight:bold;
      text-transform:uppercase;
      text-align: center;
      margin-bottom: 25px;
  }
    .thee_culture_slider h2{
    color:#fff;}
  .who_we_are{
      max-width: 1440px;
      width: 100%;
      margin: 0 auto;
      padding-inline:20px;
      margin-bottom:50px;
  }
  .who_we_are_wrap{
      max-width: 1050px;
      width: 100%;
      margin: 0 auto;
      padding-inline:20px;
      display: grid;
      grid-template-columns:1.5fr 1fr;
      align-items: center;
      margin-top: 50px;
      margin-bottom: 40px;
  }
  .who_we_are_wrap p{
      font-size: 19px;
      color: #222222;;
      line-height: 27px;
  }
  .who_we_are .about_us_banner_video_wrap .container_md{
      margin: 0;
  }
  .csr_wrap{
      max-width: 400px;
      width: 100%;
      margin: 40px auto 0;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap:40px;
      text-align: center;
      padding-inline:20px
  }
  .csr_wrap .csr_wrap_item img{
    display:block;
    width:100%;
  }
  .csr_wrap .csr_wrap_item{
      display: flex;
      flex-direction: column;
      gap:20px;
      font-size: 23px;
      line-height: 31px;
      font-weight: 600;
      color: #16406D;
  }
  .csr_wrap .csr_wrap_item span{
      font-size: 23px;
      line-height: 31px;
      font-weight: 600;
      color: #16406D;
  }
  .who_we_are_wrap img{
      width: 100%;
      display: block;
  }
   .thee_culture_slider{
      background-color: #555555;
      color: #fff;
      padding: 40px
  }
  .thee_culture_slider .text{
      max-width: 950px;
      width: 100%;
      margin: 0 auto;
      text-align: center;
  }
  .thee_culture_slider .slider-container {
    max-width: 1046px;
    margin:0 auto 45px;
    position: relative;
  }

  .thee_culture_slider .main-slider img {
    width: 100%;
    border-radius: 10px;
  }

  .thee_culture_slider .thumb-slider {
    margin-top: 10px;
  }

  .thee_culture_slider .thumb-slider img {
    width: 255px;
    object-fit: cover;
    border-radius: 8px;
    opacity: 0.6;
    cursor: pointer;
    transition: all 0.3s;
  }

  .thee_culture_slider .thumb-slider .slick-current img {
    opacity: 1;
    border: 2px solid #007bff;
  }

  .thee_culture_slider .slick-prev:before,.thee_culture_slider  .slick-next:before {
    color: #007bff;
    font-size: 40px;
  }

  .thee_culture_slider .slick-prev {
    left: -55px;
    z-index: 10;
  }

  .thee_culture_slider .slick-next {
    right: -55px;
    z-index: 10;
  }
  @media(min-width:769px){
    .mobile_img{display:none !important}
  }
  @media(max-width:768px){
    .desktop_img{display:none !important}
    .about_us_banner_video_wrap .container_md {
        margin: 40px auto;
    }
    .about_us_banner_video_wrap .video {
      border-radius: 17px;
    }
    .thee_culture_slider h2,
    .who_we_are h2, .awards_wrap h2,
    .about_us_banner_video_wrap .text_wrap h2 {
      font-size: 25px;
      letter-spacing: 1px;
      font-weight: bold;
      text-transform: capitalize;
    }
    .awards_wrap .award_list{
      display:flex;
      flex-wrap:wrap;
      justify-content:space-between
    }
    .awards_wrap .award_list .award_list_item{
      width:35%;
      max-width:180px;
      margin:0 auto
    }
    .awards_wrap .award_list .award_list_item .award-title{
          letter-spacing: 0.29px;
    font-weight: 400;
    }
    
    .awards_wrap .award_list {
        font-size: 12px;
        font-weight: 600;
        color: #003A70;
        line-height: 1.3;
    }
    .awards_wrap .award_list  small{
      font-size:10px;
    }
    .who_we_are_wrap {
        grid-template-columns: 1fr;
        margin-top: 20px;
        margin-bottom: 25px;
        gap: 30px;
        text-align: -webkit-center;
    }
    .who_we_are_wrap p {
        font-size: 16px;
        color: #222222;
        line-height: 27px;
        letter-spacing: 0.19px;
    }
    .the_culture_product-images p {
        font-size: 16px;
        line-height: 27px;
        letter-spacing: 0.19px;
    }
     .csr_wrap{
      max-width: 320px;
      gap:20px
    }
    .csr_wrap .csr_wrap_item{
      font-size:16px;
      line-height:1;
    }
    .csr_wrap .csr_wrap_item span{
      font-size:16px;
      line-height:1;
  }
    .about_us_banner_video_wrap .text_wrap p{
      font-size:16px;
    }
    .thee_culture_slider .thumb-slider img{
        width: 100%
    }
    .thee_culture_slider .slick-list{
        overflow: visible
    }
    .thee_culture_slider .thumb-slider .slick-list .slick-slide{
        padding-inline:10px
    }
    .thee_culture_slider .thumb-slider button{
        display: none !important
    }
    .thee_culture_slider .main-slider .slick-next{
        right: 0;
        width: 40px;
        height: 40px;
    }
    .thee_culture_slider .main-slider .slick-prev{
        left: 0;
        width: 40px;
        height: 40px;
    }   
  }
</style>