<section class="car_mat_guide">
    <div class="container_md">
        <a href="/pages/detailing-guide" class="back-button" style="display: block; width: fit-content; margin-block:30px 5px;">&lt; BACK</a>
        <div class="sec_header">
            <h2>Car coating guide</h2>
            <p>Start learning about car coating today. Pick a topic below to begin.</p>
        </div>
        <div class="donts_wrap">
            <h4>What to do within 5 days?</h4>
            <div class="donts_list">
                <div class="donts_item">
                    <p><span>⚠️</span> Avoid car wash and rain</p>
                    <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Rectangle_576_16_24fe815c-6dc2-47b2-9a53-df66e32c1eae.png?v=1764770656" alt="" class="desktop_view">
                    <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Rectangle_576_17.png?v=1764770656" alt="" class="mobile_view">
                </div>
            </div>
            <div class="info_line"><img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_1256.png?v=1764762400" alt=""/>Dab the car dry with a microfiber cloth (no wiping) to avoid marks.</div>
            <h4>What to expect?</h4>
            <div class="donts_list immediately_list">
                <div class="donts_item">
                    <p><span>✅</span> Glossy and shiny car</p>
                    <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Rectangle_576_18.png?v=1764770656" alt="" class="desktop_view">
                    <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Rectangle_576_20.png?v=1764770656" alt="" class="mobile_view">
                </div>
                <div class="donts_item">
                    <p><span>✅</span> Easy to wash</p>
                    <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Rectangle_576_19.png?v=1764770656" alt="" class="desktop_view">
                    <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Rectangle_576_21.png?v=1764770656" alt="" class="mobile_view">
                </div>
            </div>
            <h4>Warranty coverage</h4>
            <div class="dos_list Warranty_list ">
                <div class="dos_item">
                    <p>Discoloration Prevention</p>
                    <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Rectangle_576_22.png?v=1764770830" alt="" />
                </div>
                <div class="dos_item">
                    <p> Oxidation & Corrosion Protetion</p>
                    <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Rectangle_576_23.png?v=1764770830" alt="" />
                </div>
                <div class="dos_item">
                    <p> Hydrophobic Loss Re-Coat</p>
                    <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Rectangle_576_24.png?v=1764770830" alt="" />
                </div>
                <div class="dos_item">
                    <p> Accident-Related Knockdown Re-Coat</p>
                    <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Rectangle_576_25.png?v=1764770830" alt="" />
                </div>
            </div>
        </div>
    </div>
</section>


<section class="do_you_know_outer">
    <div class="container">
      <div class="warrenty_table">
          <table>
              <tr>
                <tr>
                    <th></th>
                    <th>
                        <picture class="image_3">
                            <source media="(min-width:767px)" srcset="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_3_c5fc99ce-7f95-4657-a4e2-8306a4f021ed.png?v=1764765835">
                            <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_1026_1.png?v=1764849704" alt="" style="width:auto;">
                        </picture>
                    </th>
                    <th>
                        <picture class="image_3">
                            <source media="(min-width:767px)" srcset="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_4_d98b8f20-402e-43a9-a26e-ab243cbe9cfb.png?v=1764765835">
                            <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/logo_mobile_coat_proshield_392f31fc-f6df-43c6-a0aa-76efa173990a.png?v=1764849705" alt="" style="width:auto;">
                        </picture>
                    </th>
                    <th>
                        <picture class="image_3">
                            <source media="(min-width:767px)" srcset="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/logo_coat_diamond_af248c7e-5b28-4c73-9294-ef3f1d871445.png?v=1764765835">
                            <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/logo_mobile_coat_diamond_257d2847-2797-44d7-a691-0d12146fd648.png?v=1764849705" alt="" style="width:auto;">
                        </picture>
                    </th>
                </tr>
              </tr>
              <tr>
                  <td style="width:33%;border-left:0">
                    <div class="inner_td">
                        Warranty Period <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_355.png?v=1717173807" alt=""/>
                    </div>
                    </td>
                  <td>1 <br> Years </td>
                  <td>3 <br> Years </td>
                  <td style="border-right:0">4 <br> Years </td>
              </tr>
          </table>
      </div>
    <div class="warranty_wrap">
      <div class="warranty_wrap_inner">
        <div>
          <strong>What does the warranty for Trapo Coating cover?</strong>  
          <p>The warranty covers defects related to the coating’s performance, including failure to protect against UV damage, oxidation, and other environmental factors.</p>
          <strong>How long does the Trapo Coating warranty last?</strong>  
          <p>The warranty period offers multiple options: 1-year, 3-years, or 4-years plans​.</p>
        </div>
        <div>
          <strong>What isn’t covered by the Trapo Coating warranty?</strong>  
          <p>The warranty does not cover damage due to improper application, misuse, or normal wear and tear over time.</p>
          <strong>How do I claim the warranty for Trapo Coating?</strong>  
          <p>Contact our Customer Service team with proof of purchase and details of the coating issue to start the warranty claim process.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="car_mat_guide">
    <div class="container_md">
        <div class="donts_wrap">
            <h4>How to maintain?</h4>
            <div class="donts_list immediately_list">
                <div class="donts_item">
                    <p><span>✅</span>Wash your car weekly</p>
                    <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Rectangle_576_6.png?v=1764679191" alt="" />
                </div>
            </div>
        </div>
    </div>
</section>

<section class="do_you_know_outer">
  <div class="container">
    <div class="do_you_know_wrap">
        <div class="do_you_know_img">
            <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/150248014_1_2x_007ef294-c124-4cc4-b9eb-984b4190eb61.png?v=1764675377" alt="" />
        </div>  
      <div class="do_you_know_detail">
        <h2>Did your know that your car PPF & Coating needs upkeep?</h2>
        <span>More info available here:</span>
        <a href="/pages/trapo-ppf" class="btn btn--secondary">MORE INFO</a>
      </div>
    </div>
      <p>Need help? Tap the Whatsapp button to get in touch with our team.</p>
  </div>
  <style>
    .do_you_know_outer .do_you_know_wrap{ background-color: #1B3D6D; filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); color: #fff; display: grid; gap:100px; grid-template-columns:271px auto; padding-inline:71px 61px; border-radius: 18px; align-items: center; width:100%;margin-bottom:45px;}
    .do_you_know_outer .do_you_know_wrap img{ width: 100%; display: block;padding-bottom:28px;}
    .do_you_know_outer .do_you_know_wrap h2{ margin: 0 0 13px; color: inherit; font-size: 32px; line-height: 30px; letter-spacing: 2px; font-weight: 600;max-width:440px }
    .do_you_know_outer .do_you_know_wrap span{ font-size: 16px; line-height: 24px; margin-bottom: 34px; display: block; }
    .do_you_know_outer .do_you_know_wrap a { color: #fff; padding: 16px 35px; font-size: 14px; font-weight: 600; text-transform: uppercase; line-height: 17px; border-radius: 50px; background-color: #E82276; max-width: 240px; width: 100%; display: block; text-align: center; }
    @media(max-width:1024px){
        .do_you_know_outer .do_you_know_wrap{ padding-inline:40px }
        .do_you_know_outer .do_you_know_wrap h2{ font-size: 23px; }
        .do_you_know_outer .do_you_know_wrap span{ margin-bottom: 30px }
    }
    @media(max-width:767px){
        .do_you_know_outer .do_you_know_wrap{ grid-template-columns: 1fr; padding-inline:21px; text-align: center; padding-bottom: 28px;gap:31px }
        .do_you_know_outer .do_you_know_wrap h2{ line-height: 24px;max-width:300px;margin-inline:auto}
        .do_you_know_outer .do_you_know_wrap a{ box-shadow: 0px 4px 4px 0px #00000040; }
        .do_you_know_outer .do_you_know_wrap .do_you_know_img{ order: -1; max-width: 157px; margin: 0 auto; }
        .do_you_know_outer .container { margin: 34px auto 0; }
        .do_you_know_outer .do_you_know_wrap a{margin:auto}
    }
  </style>
</section>

<style>
  .breadcrumb-container-page{display:none}
    .car_mat_guide{ margin-top:20px }
    .car_mat_guide .container_md{ max-width: 1030px; width: 100%; margin: 0 auto; padding-inline:20px; }
    .car_mat_guide h2{ font-size: 48px; font-weight: 600; line-height: 67px; letter-spacing: 2px; margin: 0; } 
    .car_mat_guide img{ display: block; width: 100%; height: 100%;object-fit: cover;}
    .car_mat_guide p{ font-size: 19px; line-height: 27px; color: #1B3D6D; }
    .car_mat_guide .guide-card-left{ height: 100%; }
    .car_mat_guide .guide-tag{ font-size: 11px; }
    .car_mat_guide .guide-title{ font-size: 16px; line-height: 24px; }
    .car_mat_guide .guide-card-right{ padding: 20px 5px 20px 19px; }

    .warranty_wrap { color: #1B3D6D; font-size: 19px; line-height: 27px;}
    .warranty_wrap h4{ font-size: 28px; line-height: 21px; letter-spacing: 1px; font-weight: 700; margin-bottom: 42px; }
    .warranty_wrap .warranty_wrap_inner{ display: grid; grid-template-columns: 1fr 1fr;gap:36px;margin-bottom:22px;}
    .warranty_wrap .warranty_wrap_inner strong:not(ul strong){ font-weight: 700; margin-bottom: 20px; display: block }
    .warranty_wrap .warranty_wrap_inner p { line-height: inherit; }
    .warranty_wrap li:not(:last-child){ margin-bottom:5px}

    .info_line{ display: grid; grid-template-columns: 33px 1fr; align-items: center; font-size: 19px; line-height: 27px; color: #1B3D6D; margin-bottom: 58px; gap:15px; }   
    .info_line img{ display: block; width: 100%; height: auto; }
    .do_you_know_outer .container{ max-width: 1046px; width: 100%; margin: 40px auto 0;padding-inline:23px}
    .donts_wrap{ margin-top: 35px; }
    .donts_wrap h4{ font-size: 28px; line-height: 21px; letter-spacing: 1px; font-weight: 700; margin: 0 auto 30px;padding:0 }
    .donts_wrap .donts_list{ display: grid; grid-template-columns: 1fr 1fr; gap:15px; margin-bottom: 30px; }
    .donts_wrap .donts_item{ background-color: #F5931E; display: flex; flex-direction: column; }
    .donts_wrap .immediately_list .donts_item{ background-color: #39B54B;}
    .donts_wrap .donts_item p{ color: #fff; font-size: 18px; line-height: normal; display: flex; align-items: center; flex-direction: column; padding: 12px; margin: 0 ;text-align:center}
    .donts_wrap img { display: block; width: 100%; }
    .dos_list{ display: grid; grid-template-columns: 1fr 1fr 1fr 1fr; gap:15px; text-align:center}
    .donts_wrap .dos_item{ background-color: #808080; display: flex; flex-direction: column; }
    .donts_wrap .dos_list p{ color: #fff; font-size: 18px; line-height: normal; display: flex; align-items: center; flex-direction: column; padding: 12px; margin: 0 }
    .warrenty_table{ width: 100%; margin-bottom: 50px; } 
    .warrenty_table table{ width: 100% }
    .warrenty_table th{ border: 0 !important; background-color: #fff !important; padding-bottom:17px !important; text-align: center; }
    .warrenty_table td{ background-color: #F8F8F8; font-size: 18px; line-height: 18px; color: #1B3D6D; padding:25px 30px !important; text-align: center; min-width: 188px; }
    .warrenty_table td:first-child{ color: #808080; border-left: 0 !important; min-width: 200px; }
    .warrenty_table td:last-child{ border: 0 !important; }
    .warrenty_table tr{ border: 0 !important }
    .warrenty_table th img{ height:40px; width: 100%; display: block; margin: 0 auto;width:auto;}
    .warrenty_table .inner_td{ display: flex;justify-content: space-between; align-items: center; }
    .Warranty_list p{ min-height: 98px; display: flex; align-items: center; justify-content: center; }

    @media(min-width:768px){
        .mobile_view,
        .immediately_list br{ display:none !important}
    }
    @media(max-width:767px){
        .desktop_view{ display:none !important}
        .car_mat_guide h2 { font-size: 23px; line-height: 24px; letter-spacing: 1px; margin-bottom: 16px; }
        .car_mat_guide p { font-size: 16px; line-height: 24px; margin:0}
        .warranty_wrap h4 { font-size: 23px; line-height: 24px; margin-bottom: 25px; }
        .warranty_wrap {font-size: 16px; line-height: 24px;}
        .warranty_wrap .warranty_wrap_inner{ grid-template-columns:1fr;font-size: 16px; line-height: 24px;}
        .donts_wrap .donts_list{display:block}
        .donts_list.immediately_list{display:flex;flex-wrap:wrap;gap:15px;}
        .dos_list{grid-template-columns: 1fr 1fr; gap:10px}
        .donts_wrap .donts_item p,
        .donts_wrap .dos_list p{font-size:14px}
        .donts_wrap h4 { font-size: 23px; line-height: 24px;margin-bottom:20px; }
        .warrenty_table{ overflow-x: auto;margin-bottom:43px}
        .warrenty_table td{ font-size: 14px; line-height: 14px; padding: 20px !important } 
        .warrenty_table .inner_td img{ width: 16px; }
        .info_line{ font-size: 16px; line-height: 24px; margin-bottom: 46px; }
        .Warranty_list p{ min-height: 77px; }
        .donts_wrap .donts_item { display: grid; grid-template-rows: 1fr auto; }
        .donts_wrap .immediately_list .donts_item{
        display:flex;
        flex-direction:column
            }
    .warrenty_table th img{ height: 40px; width: 100%; }
        .warrenty_table th, .warrenty_table td{ min-width: unset; width: 80px; padding: 13px 10px !important;}
        .warrenty_table td:first-child { min-width: 100px; text-align: left; }
        .warrenty_table td:first-child div{ gap:10px; }
    }
    @media(max-width:391px){
        .warrenty_table th, .warrenty_table td{  font-size:13px}
        .warrenty_table th img { height: 30px; }
    }
</style>
