<div class="main_banner">
    <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Campaign_Page_-_TxG_1.jpg?v=1749652759" alt="">
</div>
<div class="what_is_trapo">
    <h1 class="sec_title">WHAT IS TRAPO TRADE-IN PROGRAMME?</h1>
    <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Campaign_Page_-_TxG-03_1.jpg?v=1749653108" alt="">
</div>
<div class="what_you_can_trad">
    <h1 class="sec_title">WHAT YOU CAN TRADE-IN?</h1>
    <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Campaign_Page_-_TxG-04_1.jpg?v=1749653108" alt="">
</div>
<div class="exclusive_trad">
    <h1 class="sec_title">EXCLUSIVE TRADE-IN DEAL</h1>
    <div class="img_wrap">
        <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Campaign_Page_-_TxG-05_1.jpg?v=1749653109" alt="" class="img_1">
        <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/sdd.png?v=1749653423" alt="" class="img_2">
        <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Campaign_Page_-_TxG-06_1.jpg?v=1749653108" alt="">
    </div>
</div>
<div class="how_to_trade">
    <h1 class="sec_title">HOW TO TRADE</h1>
    <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Campaign_Page_-_TxG-07_1.jpg?v=1749653108" alt="" >
</div>
<div class="trad_in_your">
    <h1 class="sec_title">Trade-in your old items today!</h1>
    <span class="sec_accent">Find the nearest Trapo retail near you.</span>
</div>
<div class="more_special">
    <h1 class="sec_title">MORE SPECIAL DEALS FOR YOU</h1>
    <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Campaign_Page_-_TxG_2.jpg?v=1749653108" alt="">
    <h1 class="sec_title">Let’s GRAB the promo today!</h1>
</div>