{% render 'announcement-banner' %}

<!-- Page 1 -->

{% if page.handle == 'spin-the-wheel' %}
  <div class="container">
  <script src="//latest.trapo.asia/resources/sharing/embed.js?sharing=lp-embed&domain=latest.trapo.asia&id=5FL1-DG6%2Fspinthewheel%22&description="></script>
  </div>
{% endif %}

<style>
  .breadcrumb-container-page{
    display:none;
  }
</style>