<section class="car_mat_guide">
    <div class="container_md">
        <a href="/pages/detailing-guide" class="back-button" style="display: block; width: fit-content; margin-block:30px 5px;">&lt; BACK</a>
        <div class="sec_header">
            <h2>Tint guide</h2>
            <p>Start learning about car window tint today. Pick a topic below to begin.</p>
        </div>
        <div class="donts_wrap">
            <h4>What you may experience within 3 days?</h4>
            <div class="donts_list">
                <div class="donts_item">
                    <p><span>⚠️</span> Air bubbles</p>
                    <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Rectangle_576_26.png?v=1764771125" alt="" class="desktop_view">
                    <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Rectangle_576_28.png?v=1764771125" alt="" class="mobile_view">
                </div>
                <div class="donts_item">
                    <p><span>⚠️</span> Haziness in visibility</p>
                    <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Rectangle_576_27.png?v=1764771126" alt="" class="desktop_view">
                    <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Rectangle_576_29.png?v=1764771126" alt="" class="mobile_view">
                </div>
            </div>
            <div class="info_line"><img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_1256.png?v=1764762400" alt=""/>Park your car under the hot sun for 3 days to allow tint to fully dry.</div>
            <h4>What can you do immediately?</h4>
            <div class="donts_list immediately_list">
                <div class="donts_item">
                    <p><span>✅</span> Roll down your <br> windows</p>
                    <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Rectangle_576_30.png?v=1764771126" alt="" class="desktop_view">
                    <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Rectangle_576_32.png?v=1764771125" alt="" class="mobile_view">
                </div>
                <div class="donts_item">
                    <p><span>✅</span> Clean your <br> windows</p>
                    <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Rectangle_576_31.png?v=1764771125" alt="" class="desktop_view">
                    <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Rectangle_576_33.png?v=1764771125" alt="" class="mobile_view">
                </div>
            </div>
            <div class="info_line"><img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_1256.png?v=1764762400" alt=""/>Wipe your windows with a microfiber cloth and water for a clear view.</div>
            <h4>Warranty coverage</h4>
            <div class="dos_list Warranty_list ">
                <div class="dos_item">
                    <p>Peeling</p>
                    <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Rectangle_576_6_9054150c-73ba-4beb-8bfe-3b95a5b41c91.png?v=1764771368" alt="" />
                </div>
                <div class="dos_item">
                    <p> Bubbling</p>
                    <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Rectangle_576_7_6878b92c-96ef-40dc-a29b-bf3171a747cd.png?v=1764771368" alt="" />
                </div>
                <div class="dos_item">
                    <p> Fading</p>
                    <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Rectangle_576_8_3958d96b-7c74-435e-8891-031992688722.png?v=1764771367" alt="" />
                </div>
                <div class="dos_item">
                    <p> Adhesive Failure</p>
                    <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Rectangle_576_9_00866e34-6f77-4138-9c6d-634e2e3cb2d8.png?v=1764771367" alt="" />
                </div>
            </div>
        </div>
    </div>
</section>


<section class="do_you_know_outer">
    <div class="container">
      <div class="warrenty_table">
          <table>
              <tr>
                  <th></th>
                  <th>
                      <picture class="image_3">
                        <source media="(min-width:767px)" srcset="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/tint-logo-crystal_1f399e7c-da60-49df-b30c-7ee7e5d47c75.png?v=1764763255">
                        <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_3_dd50d24b-0ed2-4917-9caa-4def7bc8371b.png?v=1764850319" alt="" style="width:auto;">
                    </picture>
                </th>
                <th>
                      <picture class="image_3">
                        <source media="(min-width:767px)" srcset="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/tint-logo-dfend_85c76ebe-2576-492e-a60c-3e63c247e04f.png?v=1764763255">
                        <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_4_2d0acb7f-5260-446d-bf29-50b2a89fde0e.png?v=1764850319" alt="" style="width:auto;">
                    </picture>
                </th>
                <th>
                      <picture class="image_3">
                        <source media="(min-width:767px)" srcset="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/tint-logo-chroma_73011264-70f9-43f4-9a45-05ae76fd8556.png?v=1764763255">
                        <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Layer_13.png?v=1764850319" alt="" style="width:auto;">
                    </picture>
                  </th>
              </tr>
              <tr>
                  <td style="width:33%;border-left:0">
                        <div class="inner_td">
                            Warranty Period <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_355.png?v=1717173807" alt=""/>
                        </div>
                    </td>
                  <td>5 <br> Years </td>
                  <td>7 <br> Years </td>
                  <td style="border-right:0">10 <br> Years </td>
              </tr>
          </table>
      </div>
    <div class="warranty_wrap">
      <div class="warranty_wrap_inner">
        <div>
          <strong>What does the warranty for Trapo Tint cover?</strong>  
          <p>The warranty covers defects in materials and workmanship, such as bubbling, peeling, or discoloration under normal use.</p>
          <strong>How long is the warranty period for Trapo Tint?</strong>  
          <p>The warranty period is 5-10 years, depending on the specific tint film selected​.</p>
        </div>
        <div>
          <strong>What is not covered under the Trapo Tint warranty?</strong>  
          <p>The warranty does not cover damage caused by improper installation, misuse, accidents, or normal wear and tear.</p>
          <strong>How do I claim the warranty for Trapo Tint?</strong>  
          <p>Contact our Customer Service team with proof of purchase and details of the issue. Our team will guide you through the warranty claim process.</p>
        </div>
      </div>
      <p>Need help? Tap the Whatsapp button to get in touch with our team.</p>
    </div>
  </div>
</section>

<style>
  .breadcrumb-container-page{display:none}
    .car_mat_guide{ margin-top:20px }
    .car_mat_guide .container_md{ max-width: 1030px; width: 100%; margin: 0 auto; padding-inline:20px; }
    .car_mat_guide h2{ font-size: 48px; font-weight: 600; line-height: 67px; letter-spacing: 2px; margin: 0; } 
    .car_mat_guide img{ display: block; width: 100%; height: 100%;object-fit: cover;}
    .do_you_know_outer p,
    .car_mat_guide p{ font-size: 19px; line-height: 27px; color: #1B3D6D; }
    .car_mat_guide .guide-card-left{ height: 100%; }
    .car_mat_guide .guide-tag{ font-size: 11px; }
    .car_mat_guide .guide-title{ font-size: 16px; line-height: 24px; }
    .car_mat_guide .guide-card-right{ padding: 20px 5px 20px 19px; }

    .warranty_wrap { color: #1B3D6D; font-size: 19px; line-height: 27px;}
    .warranty_wrap h4{ font-size: 28px; line-height: 21px; letter-spacing: 1px; font-weight: 700; margin-bottom: 42px; }
    .warranty_wrap .warranty_wrap_inner{ display: grid; grid-template-columns: 1fr 1fr;gap:36px;margin-bottom:22px;}
    .warranty_wrap .warranty_wrap_inner strong:not(ul strong){ font-weight: 700; margin-bottom: 20px; display: block }
    .warranty_wrap .warranty_wrap_inner p { line-height: inherit; }
    .warranty_wrap li:not(:last-child){ margin-bottom:5px}

    .info_line{ display: grid; grid-template-columns: 33px 1fr; align-items: center; font-size: 19px; line-height: 27px; color: #1B3D6D; margin-bottom: 58px; gap:15px; }   
    .info_line img{ display: block; width: 100%; height: auto; }
    .do_you_know_outer .container{ max-width: 1046px; width: 100%; margin: 40px auto 0;padding-inline:23px}
    .donts_wrap{ margin-top: 35px; }
    .donts_wrap h4{ font-size: 28px; line-height: 21px; letter-spacing: 1px; font-weight: 700; margin: 0 auto 30px;padding:0 }
    .donts_wrap .donts_list{ display: grid; grid-template-columns: 1fr 1fr; gap:15px; margin-bottom: 30px; }
    .donts_wrap .donts_item{ background-color: #F5931E; display: flex; flex-direction: column; }
    .donts_wrap .immediately_list .donts_item{ background-color: #39B54B;}
    .donts_wrap .donts_item p{ color: #fff; font-size: 18px; line-height: normal; display: flex; align-items: center; flex-direction: column; padding: 12px; margin: 0 ;text-align:center}
    .donts_wrap img { display: block; width: 100%; }
    .dos_list{ display: grid; grid-template-columns: 1fr 1fr 1fr 1fr; gap:15px; text-align:center}
    .donts_wrap .dos_item{ background-color: #808080; display: flex; flex-direction: column; }
    .donts_wrap .dos_list p{ color: #fff; font-size: 18px; line-height: normal; display: flex; align-items: center; flex-direction: column; padding: 12px; margin: 0 }
    .warrenty_table{ width: 100%; margin-bottom: 50px; } 
    .warrenty_table table{ width: 100% }
    .warrenty_table th{ border: 0 !important; background-color: #fff !important; padding-bottom:17px !important; text-align: center; }
    .warrenty_table td{ background-color: #F8F8F8; font-size: 18px; line-height: 18px; color: #1B3D6D; padding:25px 30px !important; text-align: center; min-width: 188px; }
    .warrenty_table td:first-child{ color: #808080; border-left: 0 !important; min-width: 200px; }
    .warrenty_table td:last-child{ border: 0 !important; }
    .warrenty_table tr{ border: 0 !important }
    .warrenty_table th img{ height:40px; width: 100%; display: block; margin: 0 auto;width:auto;}
    .warrenty_table .inner_td{ display: flex;justify-content: space-between; align-items: center; }
    .Warranty_list p{ min-height: 98px; display: flex; align-items: center; justify-content: center; }

     @media(min-width:768px){
        .mobile_view,
        .warrenty_table td br,
        .immediately_list br{ display:none !important}
    }
    @media(max-width:767px){
        .desktop_view{ display:none !important}
        .car_mat_guide h2 { font-size: 23px; line-height: 24px; letter-spacing: 1px; margin-bottom: 16px; }
        .do_you_know_outer p,
        .car_mat_guide p { font-size: 16px; line-height: 24px; margin:0}
        .warranty_wrap h4 { font-size: 23px; line-height: 24px; margin-bottom: 25px; }
        .warranty_wrap {font-size: 16px; line-height: 24px;}
        .warranty_wrap .warranty_wrap_inner{ grid-template-columns:1fr;font-size: 16px; line-height: 24px;}
        .donts_wrap .donts_list{grid-template-columns: 1fr; }
        .dos_list{grid-template-columns: 1fr 1fr; gap:10px}
        .donts_wrap .donts_item p,
        .donts_wrap .dos_list p{font-size:14px}
        .donts_wrap h4 { font-size: 23px; line-height: 24px;margin-bottom:20px; }
        .warrenty_table{ overflow-x: auto }
        .warrenty_table td{ font-size: 14px; line-height: 14px; padding: 20px !important } 
        .warrenty_table .inner_td img{ width: 16px; }
        .info_line{ font-size: 16px; line-height: 24px; margin-bottom: 46px; }
        .donts_wrap .donts_list.immediately_list{ grid-template-columns: 1fr 1fr; gap:10px }
        .Warranty_list p{ min-height: 77px; }
        .donts_wrap .donts_item { display: flex; }
        .warrenty_table th img{ height: 40px; width: 100%; }
        .warrenty_table th, .warrenty_table td{ min-width: unset; width: 80px; padding: 13px 10px !important; }
        .warrenty_table td:first-child { min-width: 100px; text-align: left; }
        .warrenty_table td:first-child div{ gap:10px; }
    }
    @media(max-width:391px){
        .warrenty_table th, .warrenty_table td{  font-size:13px}
        .warrenty_table th img { height: 30px; }
    }
</style>
