<div class="how_to_use">
 <div class="how_to_use_row">
  <div class="how_to_use_header">
    <div class="item">
      <span> Bundle </span>
    </div>
    <div class="item">
      <span>Time to<br> complete</span>
    </div>
    <div class="item">
      <span>Application<br> Ease</span>
    </div>
    <div class="item">
      <span>Tutorial <br> Video</span>
    </div>
  </div>

   <div class="accordion-item">
      <div class="accordion-titel">
        <span>
          Basic Maintenance & Cleaning
          <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_629.png?v=1733323608" />          
        </span>
      </div>
     <div class="accordion-contant">
        <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_1_ec7adc78-e4af-4031-a83b-edb26b2b6581.png?v=1733245041" />
        <div class="accordion-titel">
          <span>
            <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_629.png?v=1733323608" />          
          </span>
        </div>
     </div>
   </div>
   <div>
     <div class="how_to_use_content_row">
        <div class="item">
          Quick Wash Bundle
        </div>
        <div class="item">
          <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/time_-_low.svg?v=1733245453" />
        </div>
        <div class="item">
          <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/difficulty_-_low.svg?v=1733245453" />
        </div>
        <div class="item">
          <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group.svg?v=1733245453" />
        </div>
     </div>
     <div class="how_to_use_content_row">
        <div class="item">
          Quick Wash Bundle
        </div>
        <div class="item">
          <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/time_-_low.svg?v=1733245453" />
        </div>
        <div class="item">
          <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/difficulty_-_low.svg?v=1733245453" />
        </div>
        <div class="item">
          <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group.svg?v=1733245453" />
        </div>
     </div>
   </div>
   <div class="accordion-item">
      <div class="accordion-titel">
        <span>
          Comprehensive Care & Protection
            <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_629.png?v=1733323608" />          
        </span>
      </div>
     <div class="accordion-contant">
          <img style="max-width:164px" src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_720.svg?v=1733324273" />          
        <div class="accordion-titel">
          <span>
            <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_629.png?v=1733323608" />          
          </span>
        </div>
     </div>
   </div>
   <div>
     <div class="how_to_use_content_row">
        <div class="item">
          Quick Wash Bundle
        </div>
        <div class="item">
          <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/time_-_low.svg?v=1733245453" />
        </div>
        <div class="item">
          <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/difficulty_-_low.svg?v=1733245453" />
        </div>
        <div class="item">
          <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group.svg?v=1733245453" />
        </div>
     </div>
     <div class="how_to_use_content_row">
        <div class="item">
          Quick Wash Bundle
        </div>
        <div class="item">
          <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/time_-_low.svg?v=1733245453" />
        </div>
        <div class="item">
          <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/difficulty_-_low.svg?v=1733245453" />
        </div>
        <div class="item">
          <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group.svg?v=1733245453" />
        </div>
     </div>
   </div>
   <div class="accordion-item">
      <div class="accordion-titel">
        <span>
          Specialized Surface Care
            <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_629.png?v=1733323608" />          
        </span>
      </div>
     <div class="accordion-contant">
          <img style="max-width:161px" src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_721.svg?v=1733324388" />          
        <div class="accordion-titel">
          <span>
            <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_629.png?v=1733323608" />          
          </span>
        </div>
     </div>
   </div>
   <div>
     <div class="how_to_use_content_row">
        <div class="item">
          Quick Wash Bundle
        </div>
        <div class="item">
          <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/time_-_low.svg?v=1733245453" />
        </div>
        <div class="item">
          <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/difficulty_-_low.svg?v=1733245453" />
        </div>
        <div class="item">
          <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group.svg?v=1733245453" />
        </div>
     </div>
     <div class="how_to_use_content_row">
        <div class="item">
          Quick Wash Bundle
        </div>
        <div class="item">
          <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/time_-_low.svg?v=1733245453" />
        </div>
        <div class="item">
          <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/difficulty_-_low.svg?v=1733245453" />
        </div>
        <div class="item">
          <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group.svg?v=1733245453" />
        </div>
     </div>
   </div>
   <div class="accordion-item">
      <div class="accordion-titel">
        <span>
          Enhanced Appearance
            <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_629.png?v=1733323608" />          
        </span>
      </div>
     <div class="accordion-contant">
          <img style="max-width:265px" src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_722.svg?v=1733324388" />          
        <div class="accordion-titel">
          <span>
            <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_629.png?v=1733323608" />          
          </span>
        </div>
     </div>
   </div>
   <div>
     <div class="how_to_use_content_row">
        <div class="item">
          Quick Wash Bundle
        </div>
        <div class="item">
          <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/time_-_low.svg?v=1733245453" />
        </div>
        <div class="item">
          <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/difficulty_-_low.svg?v=1733245453" />
        </div>
        <div class="item">
          <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group.svg?v=1733245453" />
        </div>
     </div>
     <div class="how_to_use_content_row">
        <div class="item">
          Quick Wash Bundle
        </div>
        <div class="item">
          <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/time_-_low.svg?v=1733245453" />
        </div>
        <div class="item">
          <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/difficulty_-_low.svg?v=1733245453" />
        </div>
        <div class="item">
          <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group.svg?v=1733245453" />
        </div>
     </div>
   </div>
 </div>
</div>
<style>
  .how_to_use{
    max-width: 355px;
    margin: 0 auto;
}
.how_to_use_header{
    display: grid;
    grid-template-columns: 120px auto auto auto;
    align-items: center;
    background-color: #1B3D6D;
    color: #fff;
}
.how_to_use .item{
    padding:10px 5px;
    line-height: 20px;
}
.how_to_use_header .item + .item{
    text-align: center;
    border-left: 1px solid #fff;
}
.how_to_use_content_row{
    display: grid;
    grid-template-columns: 120px auto auto auto;
    align-items: center;
    background-color: #FFFFFF
}
.how_to_use_content_row:first-child{
    background-color: #F8F8F8
}
.how_to_use_content_row .item + .item{
    text-align: center;
    border-left: 1px solid #DEDEDE;
}
.accordion-item{
    background-color: #4274AF;
    color: #fff;
    padding: 6px;
}
.accordion-titel span{
    display: flex;
    align-items: center;
    justify-content: space-between
}
.accordion-titel.active span img{
    display: none
}
.accordion-titel.active span{
    justify-content: center
}
.accordion-contant > img{
    width: 100%;
    max-width: 255px;
    margin: 20px auto 10px;
    display: block
}
.accordion-contant span{
    display: block;
    width: 100%;
    padding:15px 10px;
}
.accordion-contant span img{
    margin: 0 auto;
    display: block;
    transform: rotate(180deg);
}
  .accordion-contant{
    display:none
  }
</style>
<script>
document.addEventListener("DOMContentLoaded", function () {
  const accordionTitles = document.querySelectorAll(".accordion-titel");

  accordionTitles.forEach((title) => {
    title.addEventListener("click", function () {
      const currentItem = this.closest(".accordion-item");
      const currentContent = currentItem.querySelector(".accordion-contant");

      // Toggle the clicked item's content
      if (currentContent.style.display === "block") {
        currentContent.style.display = "none";
        this.classList.remove("active");
      } else {
        currentContent.style.display = "block";
        this.classList.add("active");
      }

      // Close all previous items and remove active class
      let previousSibling = currentItem.previousElementSibling;
      while (previousSibling) {
        const content = previousSibling.querySelector(".accordion-contant");
        if (content) content.style.display = "none";
        const title = previousSibling.querySelector(".accordion-titel");
        if (title) title.classList.remove("active");
        previousSibling = previousSibling.previousElementSibling;
      }

      // Close all next items and remove active class
      let nextSibling = currentItem.nextElementSibling;
      while (nextSibling) {
        const content = nextSibling.querySelector(".accordion-contant");
        if (content) content.style.display = "none";
        const title = nextSibling.querySelector(".accordion-titel");
        if (title) title.classList.remove("active");
        nextSibling = nextSibling.nextElementSibling;
      }
    });
  });
});


</script>