<div class="roadshow_event">
    <div class="main_banner">
        <img class="desktop_view" src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Campaign_Page_-_TxG_1_c2358a0b-e181-4da3-8aaf-60c40282b0bf.jpg?v=1749653108" alt="">
        <img class="mobile_view" src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/111.png?v=1749660132" alt="">
    </div>
    <div class="what_is_trapo">
        <h1 class="sec_title">WHAT IS TRAPO TRADE-IN PROGRAMME?</h1>
        <img class="desktop_view" src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/1_80756d63-7bae-4f07-969c-d23bba2bd15b.png?v=1749659108" alt="">
        <img class="mobile_view" src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/11_c221f545-24cb-4a62-a6ad-034ed81277b6.png?v=1749659108" alt="">
    </div>
    <div class="what_you_can_trad">
        <h1 class="sec_title">WHAT YOU CAN TRADE-IN?</h1>
        <img class="desktop_view" src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/2_2cf8f57b-0ca7-4d14-8698-1fcf192cac71.png?v=1749659109" alt="">
        <img class="mobile_view" src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/22_4d98f7a5-301d-46ac-a48c-a188253c460f.png?v=1749659108" alt="">
    </div>
    <div class="exclusive_trad">
        <h1 class="sec_title">EXCLUSIVE TRADE-IN DEAL</h1>
        <div class="img_wrap">
            <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/3_159c6b5e-8448-401f-a1d3-555a05b58234.png?v=1749659109"alt="" class="img_1 desktop_view">
            <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/33.png?v=1749659108"alt="" class="img_1 mobile_view">
            <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/sdd.png?v=1749653423" alt="" class="img_2">
            <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/4_580b9713-52cf-4389-ad69-c2811ba5ad56.png?v=1749659108" alt="" class="img_3 desktop_view">
            <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/44.png?v=1749659108" alt="" class="img_3 mobile_view">
        </div>
    </div>
    <div class="how_to_trade">
        <h1 class="sec_title"><br>HOW TO TRADE</h1>
        <img class="desktop_view" src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/5_c4ca7339-7faf-47e8-a406-c48b0f0fde3e.png?v=1749659108" alt="">
        <img class="mobile_view" src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/55.png?v=1749659107" alt="">
    </div>
    <div class="trad_in_your">
        <div class="trad_in_your_wrap">
            <h1 class="sec_title"><br>Trade-in your old items today!</h1>
            <span class="sec_accent">Find the nearest Trapo retail near you.</span>
        </div>
    </div>
    <div class="more_special">
        <h1 class="sec_title">MORE SPECIAL DEALS FOR YOU</h1>
        <img class="desktop_view" src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/6_239bfdbe-5e4a-4cc0-a833-5491e6a430ce.png?v=1749659109" alt="">
        <img class="mobile_view" src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/66.png?v=1749659108" alt="">
        <h1 class="sec_title">Let’s GRAB the promo today!</h1>
    </div>
</div>
<style>
    .roadshow_event img:not(.img_2) {
        display: block;
        width: 100%;
        height: auto;
    }

    .roadshow_event .sec_title {
        padding-top: 0;
        text-align: center;
        padding-inline: 20px;
        font-size: 54px;
        line-height: 51px;
        letter-spacing: 3%;
        font-style: italic;
        color: #fff;
        font-weight: bold;
    }

    .what_is_trapo {
        padding: 110px 20px 17px;
        background-color: #F02A7D
    }

    .what_is_trapo img {
        max-width: 1261px;
        margin: 0 auto
    }

    .what_is_trapo .sec_title {
        margin-bottom: 52px;
    }

    .what_you_can_trad {
        padding: 183px 20px 78px;
        background-image: url('https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Polygon_2.png?v=1749653107');
        background-position: top top;
        background-repeat: no-repeat;
        background-size: contain;
    }

    .what_you_can_trad .sec_title {
        color: #16406D;
        margin-bottom: 24px;
    }

    .what_you_can_trad img {
        max-width: 1590px;
    }

    .exclusive_trad {
        margin-bottom: -210px;
      padding-inline:20px
    }

    .exclusive_trad .sec_title {
        margin-bottom: 47px;
        color: #16406D;
    }

    .exclusive_trad img:not(.img_2) {
        max-width: 1261px;
        margin: 0 auto
    }

    .exclusive_trad .img_2 {
        margin: 0 auto;
        display: block;
        max-height: 130px;
        object-fit: center
    }

    .how_to_trade {
        background-image: url('https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_2.jpg?v=1749653107');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 295px 20px 20px;
        background-color: #F02A7D
    }

    .how_to_trade .sec_title {
        color: #fff;
        margin-bottom: 69px;
    }

    .how_to_trade img {
        max-width: 1261px;
        margin: 0 auto;
    }

    .trad_in_your {
        padding: 241px 20px 148px
    }

    .trad_in_your .sec_title {
        color: #1B3D6D;
        font-style: inherit;
        margin-bottom: 22px;
        padding: 0
    }

    .trad_in_your {
        color: #1B3D6D;
        text-align: center;
        background-image: url('https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_1_1.svg?v=1749653106');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover
    }

    .more_special {
        padding: 69px 20px 100px;
    }

    .more_special .sec_title {
        margin-bottom: 114px;
        color: #1B3D6D
    }

    .more_special img {
        max-width: 1260px;
        margin: 0 auto 73px;
    }

    .more_special .sec_title:last-child {
        margin-bottom: 0
    }
    .sec_accent{
        font-size: 19px;
        line-height: 27px;
        letter-spacing: 0.2px;
    }

  
    @media screen and (min-width: 768px) {
        .roadshow_event img.mobile_view {
            display: none;
        }
        .sec_title br{
            display: none
        }
    }
  
    @media screen and (max-width: 1199px) {
      .what_is_trapo{
          padding-top: 60px;
          padding-bottom: 40px
      }
      .roadshow_event .sec_title{
          font-size: 44px;
          line-height: normal
      }
      .what_is_trapo .sec_title{
          margin-bottom: 35px;
      }
      .what_you_can_trad{
          padding-top: 140px;
          padding-bottom: 40px
      }
      .trad_in_your{
          padding-top: 180px;
          padding-bottom: 100px
      }
      .more_special .sec_title{
          margin-bottom: 60px;
      }
      .more_special img{
          margin-bottom: 50px;
      }
    }
    @media screen and (max-width: 767px) {
        .roadshow_event img.desktop_view {
            display: none;
        }
      
      .roadshow_event .sec_title{
          font-size: 27px;
          line-height: 28px;
      }
      .what_is_trapo{
          padding-inline: 0;
          padding-top: 42px;
        padding-bottom:10px
      }
      .what_is_trapo .sec_title{
          margin-bottom: 27px;
      }
      .what_you_can_trad{
          padding-inline:0;
          padding-top: 56px;
          padding-bottom: 27px;
      }
      .what_is_trapo img,
      .exclusive_trad img{
          padding-inline:24px;
      }
      .exclusive_trad{
          margin: 0;
        padding-inline:0;
      }
      .how_to_trade{
          padding-top: 30px;
          padding-bottom: 0;
          margin-bottom: -20px;
      }
      .how_to_trade .sec_title{
          margin-top: 63px;
          margin-bottom: 30px;
      }
      .trad_in_your{
          padding-top: 60px;
          padding-bottom: 68px
      }
      .trad_in_your_wrap{
          padding-top: 30px
      }
      .trad_in_your .sec_title{
          font-size: 28px;
          margin-bottom:10px;
          max-width: 210px;
          line-height: 33px
      }
      .sec_accent{
          font-size: 16px;
      }
      .more_special{
          padding-top: 46px;
      }
      .more_special .sec_title{
          margin-bottom: 23px;
      }
      .more_special{
          padding-inline:0;
      }
      .more_special img{
          padding-inline:24px;
      }
      .more_special .sec_title:last-child{
          padding-inline:30px;
      }
      .exclusive_trad .img_2{
          height: 110px;
          margin-bottom: -13px;
      }
      .exclusive_trad .sec_title{
          margin-bottom: 30px
      }
      .more_special img{
          margin-bottom: 25px;
      }
    }
</style>