<section class="section">
  <div
    class="
      container
      content
      page
    "
  >
    <div class="one-whole column">
      {% unless page.handle contains 'which-car-mat-model-suits-you-best' %}
      <h1 class="page-title">{{ page.title }}</h1>
      {% endunless %}
    </div>

    {%
      render 'page-multi-column',
      content: page.content,
    %}
  </div>
</section>
