<section class="trapo_product_guid">
    <div class="container_md">
        <a href="/pages/product-guide" class="back-button" style="display: block; width: fit-content;  margin-block:30px 5px;">&lt; BACK</a>
        <h2>Detailing guide</h2>
        <p>Start learning about car detailing today. Pick a topic below to begin.</p>
        <div class="grid_col_3">
            <div class="grid_col">
                <a href="/pages/tint-guide">
                    <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_509_2.png?v=1764758999" alt="">
                </a>
            </div>
            <div class="grid_col">
                <a href="/pages/coating-guide">
                    <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_510_1.png?v=1764758998" alt="">
                </a>
            </div>
            <div class="grid_col">
                <a href="/pages/ppf-guide">
                    <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_511_a89ad9bb-bdf3-4348-b6ef-7e2ceb7c7468.png?v=1764758998" alt="">
                </a>
            </div>
        </div>
        <p>Need help? Tap the Whatsapp button to get in touch with our team.</p>
    </div>
</section>
<style>
    .breadcrumb-container-page{display:none}
    .trapo_product_guid{ margin-top:20px }
    .trapo_product_guid .container_md{ max-width: 1060px; width: 100%; margin: 0 auto; padding-inline:12px; }
    .trapo_product_guid h2{ font-size: 48px; font-weight: 600; line-height: 67px; letter-spacing: 2px; margin: 0; } 
    .trapo_product_guid .grid_col_3{ display: grid; grid-template-columns: 1fr 1fr 1fr; gap:20px; margin-block: 47px 50px; }
    .trapo_product_guid .grid_col_3 img{ display: block; width: 100%; }
    .trapo_product_guid p{ font-size: 19px; line-height: 27px; color: #1B3D6D; }
    @media(max-width:767px){
        .trapo_product_guid h2{ font-size: 23px; line-height: 24px; letter-spacing: 1px; margin-bottom: 16px; }
        .trapo_product_guid p{ font-size: 16px; line-height: 24px; }
        .trapo_product_guid .grid_col_3{ margin-block:24px; grid-template-columns: 1fr 1fr; gap:10px; }
    }
</style>