{% render 'announcement-banner' %}

<!-- Page 1 -->

{% if page.handle == 'spin-the-wheel' %}
  <div class="container">
  <script src="//latest.trapo.asia/resources/sharing/embed.js?sharing=lp-embed&domain=latest.trapo.asia&id=5FL1-DG6%2Fspinthewheel%22&description="></script>
  </div>
{% endif %}

{% if page.handle == 'claim-your-prize' %}
  <div class="container">
    <div class="claim-header">
    <h3 class="main-title">Congratulations!</h3>
    <h3 class="sub-title">You’ve unlocked</h3>
    </div>

    <div class="claim-middle">
    <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/gift.gif?v=1747196787" class="scratch-gif" />
    <h3 class="sub-title">1x TRAPO Scratch & Win Card</h3>
    <p class="claim-p">Head to a nearby Trapo Hub to redeem your card. Your prize awaits!</p>

    <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/prize.png?v=1747196894" class="prize-img" />
    </div>

    <div class="claim-bottom">
      <h3 class="sub-title">Ready to claim?</h3>
      <a href="/pages/fill-in-form" class="claim-btn">SUBMIT</a>
    </div>
  </div>
{% endif %}

{% if page.handle == 'fill-in-form' %}
  <div class="container">
  </div>
{% endif %}

<style>
  .breadcrumb-container-page{
    display:none;
  }
  .announcement-banner {
    padding: 0;
}
  .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
  .main-title{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 0px;
    margin-top:2rem;
  }
  .sub-title{
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 0px;
  }
  img.scratch-gif{
    width:50%;
    margin-bottom: 2rem;
  }
  p.claim-p{
    color: #1B3D6D;
    font-size: 14px;
  }
  img.prize-img{
    width: 55%;
  }
  a.claim-btn{
    display: block;
    font-size: 14px;
    margin: 0 auto;
    width: 100%;
    background-color: #EE2A7B;
    padding: 14px;
    border-radius: 50px;
    color: #fff;
    font-weight: 700;
    letter-spacing: 0.5px;
    margin-top: 1rem;
  }
  @media screen and (max-width: 767px){
    img.scratch-gif {
    width: 90%;
}
    img.prize-img{
    width: 90%;
  }
    .main-title{
      font-size:34px;
    }
    .sub-title{
      font-size:24px
    }
  }
</style>