<section class="video_wrap">
    <div class="tint_new_video">
        <div class="container_md">
            <div class="video">
                <div class="wrapper">
                    <div data-embed="ogqkQc9XLpU" class="youtube">
                        <div class="play-button"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="total_prot_img">
            <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_917.png?v=1763904246">
        </div>
        <div class="choose_one_list">
            <div class="choose_one_item">
                <span class="text-wrap">Window<br> Tint</span>
                <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Rectangle_501.png?v=1763904246">
            </div>
            <div class="choose_one_item">
                <span class="text-wrap">Car Body Coating</span>
                <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Rectangle_502.png?v=1763904245">
            </div>
            <div class="choose_one_item">
                <span class="text-wrap">Paint Protection Film<br>  (PPF)</span>
                <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Rectangle_503.png?v=1763904245">
            </div>
        </div>
    </div>
</section>

<section class="tint_range_wrap tint_range_wrap_top">
    <div class="container">
        <div class="tint_range_top">
            <img alt="" src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_1214.png?v=1763915011" class="desk_img" />
            <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_1217.png?v=1763915012" alt="" class="mobile_img" />
        </div>
        <div class="our_tint">
            <h4>OUR TINT RANGE:</h4>
            <div class="our_tint_list">
                <div class="our_list_item">
                <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_880.png?v=1763889623" alt=""/>
                </div>
                <div class="our_list_item">
                <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_885.png?v=1763889623" alt=""/>
                </div>
                <div class="our_list_item">
                <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_883.png?v=1763889622" alt=""/>
                </div>
            </div>
            <a class="btn btn--primary" href="/products/trapo-crystal-window-tint">BUY NOW</a>
        </div>
    </div>
</section>

<section class="tint_coating_range_wrap">
    <div class="container">
        <div class="tint_range_top">
            <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_1220.png?v=1763916698" alt="" class="desk_img" />
            <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_1218.png?v=1763916476" alt="" class="mobile_img" />
        </div>
        <div class="our_tint">
            <h4>OUR COATING RANGE:</h4>
            <div class="our_tint_list">
                <div class="our_list_item">
                <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_880_1.png?v=1763916476" alt=""/>
                </div>
                <div class="our_list_item">
                <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_1219.png?v=1763916476" alt=""/>
                </div>
                <div class="our_list_item">
                <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_883_1.png?v=1763916497" alt=""/>
                </div>
            </div>
            <a class="btn btn--primary" href="/products/trapo-quik-shield-car-coating">BUY NOW</a>
        </div>
    </div>
</section>

<section class="tint_range_wrap ">
    <div class="container">
        <div class="tint_range_top">
            <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_1216.png?v=1763916906" alt="" class="desk_img" />
            <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_1221.png?v=1763916906" alt="" class="mobile_img" />
        </div>
        <div class="our_tint">
            <h4>OUR PPF RANGE:</h4>
            <div class="our_tint_list">
                <div class="our_list_item">
                    <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_909.png?v=1763916905" alt=""/>
                </div>
                <div class="our_list_item">
                    <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_908.png?v=1763916905" alt=""/>
                </div>
                <div class="our_list_item">
                    <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_907.png?v=1763916905" alt=""/>
                </div>
            </div>
            <a class="btn btn--primary" href="/products/trapo-ppf-paint-protection-film">BUY NOW</a>
        </div>
    </div>
</section>

<section class="happy_our_cutomer">
    <div class="container">
        <div class="happy_our_cutomer_wrap">
            <h4>OUR HAPPY CUSTOMERS:</h4>
            <div class="happy_our_list">
                <div class="happy_our_list_item">
                    <span class="cust_name">puteriAqila</span>
                    <img class="star-img" src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/5-star-review.png?v=1764148060">
                    <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/image_38_ee30c528-9649-4849-a8b7-8af949e1956b.png?v=1763999522" alt=""/>
                    <span class="car_name">Proton e.MAS</span>
                    <p class="review_text">“did tint and coat... my ride looks super cool now! TQ trapo👏”</p>
                    <small>24-FEB-2025</small>
                </div>
                <div class="happy_our_list_item">
                    <span class="cust_name">Ricky Johnson2</span>
                    <img class="star-img" src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/5-star-review.png?v=1764148060">
                    <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/review-2_0ba3ca7f-e242-4b08-bf49-f1a005aaacda.png?v=1764148196" alt=""/>
                    <span class="car_name">Tesla Model Y</span>
                    <p class="review_text">“Very convenient having all detailing services under 1-roof. Will definitely recommend! 👍👍”</p>
                    <small>17-MAY-2025</small>
                </div>
                <div class="happy_our_list_item">
                    <span class="cust_name">amirr_alza431</span>
                    <img class="star-img" src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/5-star-review.png?v=1764148060">
                    <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/review-3_377528c3-6864-4242-8d7e-cd04e95ec00c.png?v=1764148196" alt=""/>
                    <span class="car_name">Perodua Alza</span>
                    <p class="review_text">“keter nampak mcm baru balik, Terbaik service~ 5 bintangg”</p>
                    <small>6-DEC-2024</small>
                </div>
                <div class="happy_our_list_item">
                    <span class="cust_name">lydiaNg87</span>
                    <img class="star-img" src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/5-star-review.png?v=1764148060">
                    <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/review-4.png?v=1764148196" alt=""/>
                    <span class="car_name">Proton X50 Facelift</span>
                    <p class="review_text">“installed ppf for my new car. best protection for my investment”</p>
                    <small>11-SEP-2025</small>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="tint_brochure tint_brochure_2">
  <div class="container">
    <div class="bottom">
      {% render 'detailing-hubs' %}
      <a href="https://wa.link/qdzkrs" class="cstm_btn">BOOK NOW</a>
    </div>
  </div>
</section>


<style>
    .container.breadcrumb-container-page{
        display:none;
    }
    .our_tint{
        width: 100%;
        text-align: center;
    }
    .our_tint .our_tint_list{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap:10px;
        margin-bottom: 50px;
    }
    .our_tint_list img{
        width: 100%;
        display: block;
    }
    .our_tint h4{
        font-size: 20px;
        font-weight: 600;
        letter-spacing: 2px;
        line-height: 21px;
        margin-bottom: 20px;
        font-style:italic
    }
    .tint_brochure {
        margin-top: 70px;
        }
        .tint_brochure_2{
        background-color:#DEDEDE;
        padding-block:30px;
    }
    .tint_brochure .container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .tint_brochure .top h3{
        font-size: 34px;
        margin: 0;
        line-height: 52px;
        font-weight: 300
    }
    .tint_brochure .top h1{
        font-size: 60px;
        font-weight: bold;
        line-height: 68px;
    }
    .tint_brochure .top span{
        color: #808080;
        text-transform: normal;
        display: block;
        margin-bottom: 10px;
        cursor:default;
    }
    .tint_brochure .cstm_btn{
        display: block;
        max-width: 210px;
        font-size: 14px;
        margin: 0 auto;
        width: 100%;
        background-color: #EE2A7B;
        padding: 14px;
        border-radius: 50px;
        color: #fff;
    }
    .tint_brochure .bottom h2{
        font-size: 24px;
        line-height: 24px;
        letter-spacing: 2px;
        margin-bottom: 42px;
        font-weight:600;
    }
    .tint_brochure .bottom img{
        margin-bottom: 0px;
        width: 100%;
    }
    .tint_brochure .bottom span{
        font-size: 16px;
        color: #808080;
        display: block;
        margin-bottom: 30px;
        font-weight:700;
    }
    h3.l-main-title {
    font-weight: 700;
}
a.l-link {
    text-decoration: underline;
}
    p.l-title {
            font-weight: 700;
            letter-spacing: 0.5px;
            line-height: normal;
            font-size: 16px;
        }
    .video_wrap{
        background-color: #1B3D6D;
        margin-bottom: 120px
    }
    .tint_new_video{
        margin: 0 auto;
        padding-block: 34px 20px;
        max-width: 1000px;
    }
    .tint_new_video .video .wrapper{
        border-radius: 18px;
        overflow: hidden;
    }
    .video_wrap .container{
        max-width:850px;
        width: 100%;
        margin: 0 auto;
    }
    .total_prot_img{
        max-width: 586px;
        margin: 0 auto 50px;
        width: 100%;
    }
    .total_prot_img img{ 
        display: block;
        width: 100%;
    }
    .choose_one_list{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap:50px;
        margin-bottom: -120px;
    }
    .choose_one_list img{
        width: 100%;
        display: block;
    }
    .choose_one_list .choose_one_item{
        background-color: #E82276;
        filter: drop-shadow(0px 5.01111px 5.01111px rgba(0, 0, 0, 0.25));
        color: #fff;
        border-radius: 12px;
        text-align: center;
        display: grid;
        grid-template-rows: 1fr auto;
        overflow: hidden
    }
    .choose_one_list .choose_one_item .text-wrap{
        display: flex;
        padding: 10px;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: 21px;
        line-height: 22px;
        font-weight: 600;
    }
        
    .tint_range_wrap{
        margin-bottom: 62px;
    }   
    .tint_range_wrap_top{
        padding-top:100px
    }

    .tint_coating_range_wrap {
        background: linear-gradient(257.14deg, #DAD8D8 -24.09%, #D2D1D1 -10.14%, #BFBEBE 11.42%, #B6B6B6 19.03%, #B3B3B3 20.3%, #979898 36.79%, #868787 50.74%, #818282 62.15%, #848585 71.03%, #8F9090 79.91%, #A1A3A3 88.79%, #BBBDBD 96.4%, #D3D5D5 102.74%);
        color: #fff;
        padding-block:60px;
    }
    .tint_coating_range_wrap h4{
        color: #fff;
        font-style: italic;
    }
    .tint_coating_range_wrap .container,
    .tint_range_wrap .container{
        max-width:1000px;
        margin: 0 auto 0;
        width: 100%;
        padding:0;
    }    
    .tint_range_top img,
    .tint_range_wrap img{
        width: 100%;
        display: block;
    }    
    .tint_range_wrap .tint_range_top{
        margin-bottom: 34px;
    }
    .btn.btn--primary{
        background-color: #EE2A7B;
        color: #fff;
        padding: 10px 30px;
        border-radius: 50px;
        font-size: 16px;
        line-height: 16px;
        font-weight: 600;
        display: block;
        width: fit-content;
        margin: 0 auto;
    }    
    .tint_coating_range_wrap{
        margin-bottom: 90px;
    }
    .tint_coating_range_wrap .tint_range_top{
        margin-bottom: 20px;
    }
    .happy_our_cutomer .container{
        max-width: 1210px;
        width: 100%;
        margin: 0 auto;
    }
    .happy_our_cutomer_wrap .happy_our_list{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap:18px;
        margin-bottom:40px;
    }
    .happy_our_cutomer_wrap .happy_our_list img{
        width: 100%;
        display: block
    }
    .happy_our_cutomer_wrap .happy_our_list img.star-img{
            width: 35%;
            margin: 0 auto;
            padding-bottom: 10px;
    }
    .happy_our_list .happy_our_list_item{
        background-color: #dedede;
        padding: 15px 0;
        border-radius: 12px;
        text-align: center;
    }
    .happy_our_list .happy_our_list_item .car_name,
    .happy_our_list .happy_our_list_item .cust_name{
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0.5px;
        font-weight: 600;
        margin-bottom: 10px;
        margin-inline: auto;
        display: block;
    }
    .happy_our_list .happy_our_list_item .cust_name{
        margin-bottom: 7px;
    }
    .happy_our_list .happy_our_list_item .car_name{
        margin-top: 20px;
    }

    .happy_our_list .happy_our_list_item small{
        font-size: 12px;
        line-height: 19px;
        letter-spacing: 3px;
    }
    .happy_our_cutomer_wrap h4{
        font-size: 20px;
        font-weight: 600;
        letter-spacing: 2px;
        line-height: 21px;
        margin-bottom: 20px;
        font-style: italic;
        text-align: center;
    }
    .happy_our_cutomer_wrap .review_text{
    padding-inline:75px;
}
    @media(min-width:768px){
        .mobile_img{
                display:none !important;
              }

    }
    @media(max-width:767px){
        .happy_our_cutomer_wrap .review_text{
            padding-inline: 45px;
        }
        .desk_img{
                display:none !important;
              }
        .our_tint {
            width: calc(100% + 24px)
        }
        .our_tint .our_tint_list{
            display: flex;
            padding-inline: 12px;
            overflow-x: auto
        }
        .our_tint .our_list_item{
            flex: 0 0 90%;
        }
        .tint_brochure .top h1{
            font-size: 28px;
            line-height: 31px;
        }
        .tint_brochure .top h3{
            font-size: 16px;
            line-height: 24px;
        }
        .tint_brochure {
            margin-top: 35px;
        }
        .tint_brochure .top span {
            font-size: 16px;
            line-height: 24px;
            max-width: 100%;
            text-transform: capitalize;
            color: #1B3D6D;
            margin-bottom: 33px;
        }
        .tint_brochure .top {
            margin-bottom: 30px;
        }
        .tint_brochure .bottom h2{
            font-size: 20px
        }
        .tint_brochure .bottom h2 {
            font-size: 20px;
            max-width: 300px;
            margin: 0 auto 18px;
        }
        .tint_brochure .bottom img {
            margin-bottom: 18px;
            width: 100%;
        }
        .our_tint .our_tint_list{
            margin-bottom:20px
        }
        .tint_coating_range_wrap{
            margin-bottom:0;
            padding-top:0;
        }
        .total_prot_img {
    margin: 0 auto 30px;
}
        .choose_one_list{
            gap:10px;
            padding-inline:15px;
            margin-bottom: -108px;
        }
        .total_prot_img img {
            max-width: 390px;
            padding-inline: 10px;
            margin: 0 auto;
        }
        .choose_one_list .choose_one_item .text-wrap {
            font-size: 13px;
            line-height: 1;
            padding-inline: 5px;
            font-weight:500;
        }
        .tint_range_wrap_top {
            padding-top: 25px;
        }
        .happy_our_cutomer_wrap {
            width: calc(100% + 24px);
        }
        .happy_our_cutomer_wrap .happy_our_list{
            display: flex;
            overflow-x: auto;
            padding-inline:20px
        }
        .happy_our_list .happy_our_list_item{
            flex: 0 0 90%;
        }
        .tint_new_video{
            padding-top:0;
        }
    }
</style>