<section class="eco_system_sec">
  <div class="container">
    <div class="eco_system_row">
      <div class="eco_system_item">
        <img
          class="exo_logo"
          src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Layer_1_7.png?v=1732471575"
          alt=""
        >
        <img
          class="exo_icon"
          src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/exo_icons_1.png?v=1715189807"
          alt=""
        >
    <h2>Your one-stop solution for high-quality car essentials and trusted services.</h2>
        <p>
          With multiple hubs conveniently located, accessing expert care and advice is quick and easy. From innovative car accessories to professional detailing services, Trapo provides everything you need to enhance your driving experience, backed by our top-notch customer service that ensures reliability and convenience at every turn.
        </p>
      </div>
    </div>
  </div>
</section>


<!-- <section class="eco_video_sec">
  <div class="eco_video">
    <div class="video">
      <div class="wrapper">
      <iframe width="315" height="560" src="https://www.youtube.com/embed/cs1iPUSaEt8" title="From car mats to detailing, we’ve got you covered #trapo #exosystem #automobile #carmats #detailing" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

      </div>
    </div>
  </div>
</section> -->

<div style="width: 341px; height: 606px; overflow: hidden;margin: 0 auto;margin-top:25px;margin-bottom:25px">
    <iframe 
        src="https://www.youtube.com/embed/cs1iPUSaEt8" 
        title="From car mats to detailing, we’ve got you covered #trapo #exosystem #automobile #carmats #detailing" 
        frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
        referrerpolicy="strict-origin-when-cross-origin" 
        allowfullscreen 
        style="width: 341px; height: 606px; position: absolute; top: 0; left: 0;">
    </iframe>
</div>


<section class="cstm_solution Enjoy_customizable">
  <div class="container">
    <div class="sec_header">
      <h1>Innovative car accessories</h1>
      <p>
        Tailor your car experience with customizable solutions, allowing you to personalize your vehicle according to your preferences and lifestyle. With different ranges of car mats to auto-detailing options, we’ve got the solutions to suit your lifestyle.
      </p>
    </div>
    <div class="cstm_solution_row ">
      <div class="image_item">
        <div class="image-wrap">
          <div class="shoppable-wrapper" style="top:45%;left: 34%;">
            <div class="dot_wrap">
              <span class="dot"></span>
            </div>
            <a class="ing_tooltip" href="/products/trapo-i-sight-t550-dashcam">
              <div class="left">
               <p class="productname">Trapo Dashcam</p>
                <span class="short-description">Dashcam T-550</span>
                <small class="price">From RM 549</small>
              </div>
              <div class="right">
                <img
                  src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/right_arrow_99ee6c2c-5da4-4aea-8800-a3cb2404292b.png?v=1715491226"
                  alt="right arrow"
                  title="right arrow"
                >
              </div>
            </a>
          </div>
          <div class="image">
            <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Mask_group_5_a5462764-6bfb-449b-9c28-66cde77cbe5e.png?v=1732473825" alt="">
          </div>
        </div>
        <div class="image-wrap">
          <div class="shoppable-wrapper" style="top:70%;left: 27%;">
            <div class="dot_wrap">
              <span class="dot"></span>
            </div>
            <a class="ing_tooltip" href="/products/trapo-dirtoff">
              <div class="left">
                <p class="productname">Trapo Car Care</p>
                <span class="short-description">DirtOff</span>
                <small class="price">From RM 39.90</small>
              </div>
              <div class="right">
                <img
                  src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/right_arrow_99ee6c2c-5da4-4aea-8800-a3cb2404292b.png?v=1715491226"
                  alt="right arrow"
                  title="right arrow"
                >
              </div>
            </a>
          </div>
          <div class="shoppable-wrapper" style="top:48%;left: 54%;">
            <div class="dot_wrap">
              <span class="dot"></span>
            </div>
            <a class="ing_tooltip" href="/products/trapo-streakoff">
              <div class="left">
                 <p class="productname">Trapo Car Care</p>
                <span class="short-description">StreakOff</span>
                <small class="price">From RM 99.90</small>
              </div>
              <div class="right">
                <img
                  src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/right_arrow_99ee6c2c-5da4-4aea-8800-a3cb2404292b.png?v=1715491226"
                  alt="right arrow"
                  title="right arrow"
                >
              </div>
            </a>
          </div>
          <div class="shoppable-wrapper" style="top:66%;left: 77%;">
            <div class="dot_wrap">
              <span class="dot"></span>
            </div>
            <a class="ing_tooltip" href="/products/ironoff">
              <div class="left">
                <p class="productname">Trapo Car Care</p>
                <span class="short-description">IronOff</span>
                <small class="price">From RM 99.90</small>
              </div>
              <div class="right">
                <img
                  src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/right_arrow_99ee6c2c-5da4-4aea-8800-a3cb2404292b.png?v=1715491226"
                  alt="right arrow"
                  title="right arrow"
                >
              </div>
            </a>
          </div>
          <div class="image">
            <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/comfort_clener_4.png?v=1715223367" alt="">
          </div>
        </div>
      </div>
      <div class="image-wrap">
        <div class="shoppable-wrapper" style="top:69%;left: 48%;">
          <div class="dot_wrap">
            <span class="dot"></span>
          </div>
          <a class="ing_tooltip" href="/pages/car-mats">
            <div class="left">
              <p class="productname">Trapo Classic Mat</p>
                <span class="short-description">Mark-4</span>
                <small class="price">From RM 135.90</small>
            </div>
            <div class="right">
               <img
                  src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/right_arrow_99ee6c2c-5da4-4aea-8800-a3cb2404292b.png?v=1715491226"
                  alt="right arrow"
                  title="right arrow"
                >
            </div>
          </a>
        </div>
        <div class="image">
          <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/DSC03467_1.png?v=1732472751" alt="">
        </div>
      </div>
    </div>
  </div>
</section>

<section class="cstm_solution safe_enhanced ">
  <div class="container">
    <div class="sec_header">
      <h1>Professional detailing services</h1>
      <p>
        Tailor your car experience with customizable solutions, allowing you to personalize your vehicle according to your preferences and lifestyle. With different ranges of car mats to auto-detailing options, we’ve got the solutions to suit your lifestyle.
      </p>
    </div>
    <div class="cstm_solution_row">
      <div class="image-wrap">
        <div class="shoppable-wrapper" style="top:41%;left: 46%;">
          <div class="dot_wrap">
            <span class="dot"></span>
          </div>
          <a class="ing_tooltip" href="/pages/trapo-car-tint">
            <div class="left">
             <p class="productname">Trapo Tint</p>
              <span class="short-description">Car Tinting</span>
              <small class="price">From RM 750</small>
            </div>
            <div class="right">
              <img
                src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/right_arrow_99ee6c2c-5da4-4aea-8800-a3cb2404292b.png?v=1715491226"
                alt="right arrow"
                title="right arrow"
              >
            </div>
          </a>
        </div>
        <div class="image">
          <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/safe_security_1.png?v=1715223218" alt="">
        </div>
      </div>
      <div class="image_item">
        <div class="image-wrap">
          <div class="shoppable-wrapper" style="top:57%;left: 55%;">
            <div class="dot_wrap">
              <span class="dot"></span>
            </div>
            <a class="ing_tooltip" href="/products/trapo-ppf-paint-protection-film">
              <div class="left">
                <p class="productname">Trapo PPF</p>
              <span class="short-description">Car PPF</span>
              <small class="price">From RM 90</small>
              </div>
              <div class="right">
                <img
                  src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/right_arrow_99ee6c2c-5da4-4aea-8800-a3cb2404292b.png?v=1715491226"
                  alt="right arrow"
                  title="right arrow"
                >
              </div>
            </a>
          </div>
          <div class="image">
            <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Mask_group_3_eabb4f69-ad2a-4ab3-a46e-5ce28b75914e.png?v=1732473487" alt="">
          </div>
        </div>
        <div class="image-wrap">
          <div class="shoppable-wrapper" style="top:60%;left: 41%;">
            <div class="dot_wrap">
              <span class="dot"></span>
            </div>
            <a class="ing_tooltip" href="/products/trapo-quik-shield-car-coating" style="left: -90px;">
              <div class="left">
                <p class="productname">Trapo Coating</p>
              <span class="short-description">Car Coating</span>
              <small class="price">From RM 399</small>
              </div>
              <div class="right">
                <img
                  src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/right_arrow_99ee6c2c-5da4-4aea-8800-a3cb2404292b.png?v=1715491226"
                  alt="right arrow"
                  title="right arrow"
                >
              </div>
            </a>
          </div>
          <div class="image">
            <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Mask_group_4_d6f24c7c-1f9e-4de1-a7b1-883a0c047379.png?v=1732473487" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="cstm_solution guidance_reliable">
  <div class="container">
    <div class="sec_header">
      <h1>Get expert guidance and reliable support</h1>
      <p>
       Rely on the expertise and support of Trapo professionals who are dedicated to providing exceptional customer service and guidance throughout your ownership experience. Rest easy with a comprehensive warranty on all Trapo EXOsystem products and services, offering peace of mind and confidence in your investment.
      </p>
    </div>
    
    <div class="cstm_solution_row">
      <div class="image-wrap">
        <div class="shoppable-wrapper" style="top:70%;left: 30%;">
          <div class="dot_wrap">
            <span class="dot"></span>
          </div>
          <a class="ing_tooltip" href="/pages/location">
            <div class="left">
              <p class="productname">Trapo Hubs</p>
              <span class="short-description">Location list</span>
              <small class="price">Visit us today</small>
            </div>
            <div class="right">
              <img
                src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/right_arrow_99ee6c2c-5da4-4aea-8800-a3cb2404292b.png?v=1715491226"
                alt="right arrow"
                title="right arrow"
              >
            </div>
          </a>
        </div>
        <div class="image">
          <img
            src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/guidance_reliable_55.png?v=1715620775"
            alt=""
          >
        </div>
      </div>
      <div class="image_item">
        <div class="image-wrap">
          <div class="image">
            <img
              src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/guidance_reliable_6.png?v=1715225813"
              alt=""
            >
          </div>
        </div>
        <div class="image-wrap">
          <div class="image">
            <img
              src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/guidance_reliable_7.png?v=1715225812"
              alt=""
            >
          </div>
        </div>
      </div>
      <div class="image-wrap">
        <div class="image">
          <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/guidance_reliable_8.png?v=1715225813" alt="">
        </div>
      </div>
    </div>
    <div class="sec_header">
      <h1 class="sec_header_h1">When you purchase Trapo product, you will have access to :</h1>
    </div>
    <div class="gr_list">
      <div class="gr_item">
        <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/guidance_reliable_4.png?v=1715225643" alt="">
        <span>Free Shipping (West Malaysia)</span>
      </div>
      <div class="gr_item">
        <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/guidance_reliable_3.png?v=1715225562" alt="">
        <span>Online Customer Support</span>
      </div>
      <div class="gr_item">
        <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/guidance_reliable_2.png?v=1715225563" alt="">
        <span>7 Days Return Policy</span>
      </div>
      <div class="gr_item">
        <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/guidance_reliable_1.png?v=1715225262" alt="">
        <span>Up to 5-Year Warranty</span>
      </div>
    </div>
    
  </div>
</section>
<section class="check_out_eco">
  <div class="container">
    <div class="sec_header">
      <h1>Shop now and enjoy RM30 OFF!</h1>
      <div class="use_code">
          <strong>
            Use Code: BUY2GET30
            <small>Buy 2 items and get RM30 OFF</small>
          </strong>
        <div>
          <span>Valid while stock last</span>
          <span class="terms" id="show-popup-btn">T&C</span>
          
        </div>
      </div>
    </div>
      <a href="/pages/car-accessories" class="cstm_btn">SHOP NOW</a>
      <a href="/pages/location" class="cstm_btn_link">Find a Trapo Hub</a>
  </div>
</section>
<div class="popup-overlay" id="popup">
        <div class="popup-content">
            <h2>Terms & Conditions</h2>
            <p>Voucher is only valid for use when you log in your Loyalty account, or when you input your Loyalty email address during checkout.</p>
            <button class="close-btn" id="close-popup-btn">×</button>
        </div>
    </div>
<style>
.popup-overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.5);
            display: none;
            justify-content: center;
            align-items: center;
        }
        .popup-content {
            background: white;
            padding: 20px;
            border-radius: 10px;
            text-align: left;
            width: calc(100% - 20px);
            position: relative;
            max-width: 600px
        }
.popup-content h2{
    font-size: 20px;
    font-weight: 600;
}
        .close-btn {
            border: none;
            border-radius: 5px;
            cursor: pointer;
            position: absolute;
            top: 5px;
            right: 5px;
            background-color:transparent;
    color: #aaa;
    font-size: 20px;
    cursor: pointer;
        }

  </style>
    <script>
        // Get elements
        const popup = document.getElementById('popup');
        const showPopupBtn = document.getElementById('show-popup-btn');
        const closePopupBtn = document.getElementById('close-popup-btn');

        // Show pop-up
        showPopupBtn.addEventListener('click', () => {
            popup.style.display = 'flex';
        });

        // Close pop-up
        closePopupBtn.addEventListener('click', () => {
            popup.style.display = 'none';
        });

        // Close pop-up when clicking outside of it
        window.addEventListener('click', (e) => {
            if (e.target === popup) {
                popup.style.display = 'none';
            }
        });
    </script>

<style>
      .eco_system_sec{
          background-image: url('https://cdn.shopify.com/s/files/1/0234/7089/9277/files/web_header_bg_1.png?v=1715192445');
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
          min-height: 677px;
          padding: 110px 0;
      }
      .eco_system_sec .eco_system_row{
          text-align: center;
      }
      .eco_system_sec .eco_system_row .exo_logo{
          max-width: 444px;
          width: 100%;
          display: block;
          margin:0 auto 48px;
      }
      .eco_system_sec .eco_system_row p{
          font-size: 19px;
          line-height: 27px;
          letter-spacing: 0.19px;
          color: #DEDEDE;
          font-weight: 300;
          margin-bottom: 30px
      }
      .eco_system_sec .eco_system_row .exo_icon{
          width: 100%;
          display: block;
      }
      .intr_extr_img_wrap .intr_extr_desk_img{
          width: 100%;
          margin: -90px 0 83px;
      }
      .interior_exterior_sec .intr_extr_row{
          display: grid;
          grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
          gap:30px;
          padding: 45px 70px;
          border-radius: 35px;
          background-image: url('https://cdn.shopify.com/s/files/1/0234/7089/9277/files/interior_border.png?v=1715193741');
          background-size: 100%;
          margin:-90px -30px 83px;
          background-repeat: no-repeat;
      }
      .interior_exterior_sec .intr_extr_row img{
          width: 100%;
      }
  .eco_video_sec{
    padding: 80px 0;
}
.eco_video_sec .wrapper{
    text-align: center
}
      .sec_header{
          text-align: center;
          margin-bottom: 52px
      }
      .sec_header h1{
          font-size: 46px;
          color: #16406D;
          margin-bottom: 20px;
      
      }
  .sec_header h1.sec_header_h1{
    max-width:70%;
  }
  
      .sec_header p{
          font-size: 19px;
          line-height: 27px;
          letter-spacing: 0.27px;
          color:#1B3D6D;
      }
      .cstm_solution{
          margin-bottom: 126px;
      }
      .cstm_solution .cstm_solution_row{
          display: grid;
          gap:26px;
          grid-template-columns: 360px 1fr;
        width:100%
      }
      .cstm_solution .cstm_solution_row .image_item{
          display: grid;
          grid-template-rows: 360px 360px;
          gap:26px;
      }
      .cstm_solution .cstm_solution_row .image{
          display: flex;
          height: 100%;
      }
      .cstm_solution .cstm_solution_row .image img{
          width: 100%;
          object-fit: cover;
          height: 100%;
      }
      .cstm_solution.safe_enhanced .cstm_solution_row{
          grid-template-columns:1fr 27.8%;
      }
  .cstm_solution.guidance_reliable{
    margin-bottom:35px;
  }
      .cstm_solution.guidance_reliable .cstm_solution_row{
          grid-template-columns:1fr 27.8% 27.8%;
      }
      .guidance_reliable .sec_header{
          margin-bottom: 34px;
      }
      .gr_list{
          display: grid;
          grid-template-columns: 1fr 1fr 1fr 1fr;
          background-color: #1B3D6D;
          margin-bottom: 20px;
          gap:40px;
          padding: 45px 40px;
      }
      .gr_list .gr_item{
          display: grid;
          grid-template-columns: 60px 1fr;
          gap:48px;
          align-items: center;
      }
      .gr_list .gr_item img{
          width: 100%;
      }
      .gr_list .gr_item span{
          font-size: 22px;
          line-height: 24.6px;
          color: #fff;
      }
      .image-wrap{
          position: relative;
      }
      .shoppable-wrapper{
          position: absolute;
          top: 0;
      }
      .shoppable-wrapper .dot{
          width: 28px;
          height: 28px;
          background-color: #E81F76;
          border: 7px solid #fff;
          display: block;
          border-radius: 50px;
      }
      .shoppable-wrapper .dot:before{
          content: '';
          width: 34px;
          height: 34px;
          border: 1px solid #fff;
          position: absolute;
          top: -3px;
          right: -3px;
          border-radius: 50px;
      }
      .shoppable-wrapper .ing_tooltip{
          position: absolute;
          background-color: #fff;
          filter: drop-shadow(-2px 4px 4px rgba(0, 0, 0, 0.45));
          border-radius: 11px;
          min-width: 172px;
          overflow: hidden;
          display: grid;grid-template-columns: 1fr 33px;
          margin-top: 10px;
          left: -50px;
          opacity: 0;
          visibility: hidden;
          pointer-events: none;
          transition: all 0.3s ease-in-out;
          z-index: 99;
      }
      .shoppable-wrapper .ing_tooltip .left{
          padding: 9px 10px 10px 15px;
      }
  .guidance_reliable .cstm_solution_row{
    margin-bottom: 60px
}
.guidance_reliable .sec_header{
    text-align: center;width: 100%;
}
      .shoppable-wrapper .ing_tooltip .productname{
          margin-bottom: 2px;
          font-size: 13px;
          line-height: 19px;
          color: #1B3D6D;
          font-weight: 600;
      }
      .shoppable-wrapper .ing_tooltip .short-description{
          font-size: 11px;
          color: #1B3D6D;
          display: block;
          line-height: 1;
          margin-bottom: 14px;
      }
      .shoppable-wrapper .ing_tooltip .price{
          font-size: 10px;
          line-height: 1;
          color: #808080;
          display: block;
      }
      .shoppable-wrapper .ing_tooltip .right{
          background-color: #E82276;
          display: flex;
          align-items: center;
          justify-content: center
      }
      .shoppable-wrapper .ing_tooltip .right img{
          width: 10px;
      }
      .shoppable-wrapper:hover{
          padding: 0 0 20px;
      }
      .shoppable-wrapper:hover .ing_tooltip{
          opacity: 1;
          visibility: visible;
          pointer-events: all
      }
  .shoppable-wrapper.active .ing_tooltip{
    opacity: 1;
          visibility: visible;
          pointer-events: all
  }
      .check_out_eco {
          background-image: url('https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Rectangle_136.png?v=1715537518');
          padding: 49px 20px 63px;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: top center;
      }
      .check_out_eco .sec_header {
          max-width: 750px;
          width: 100%;
          margin: 0 auto
      }
      .check_out_eco .sec_header h1{
          color: #fff;
      }
      .check_out_eco .sec_header p{
          color: #fff;
          font-weight: 300;
          margin-bottom: 38px;
      }
      .check_out_eco .cstm_btn{
          font-size: 20px;
          color: #fff;
          background-color: #e82276;
          padding: 16px 30px;
          border-radius: 50px
      }
  .check_out_eco .container{
    display: block;
    text-align: center;
}
.check_out_eco .container a{
    display: block;
    width: fit-content;
    margin: 0 auto;
}
.check_out_eco .sec_header{
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 250px;
    margin-bottom: 30px
}
.check_out_eco .sec_header h1{
    font-size: 46px;
    font-weight: 600;
    text-align: left;
    line-height: 53px;
}
.check_out_eco .sec_header .use_code{
    border: 1px solid #808080;
    border-radius: 11px;
    padding: 15px;
    color: #fff;
    text-align: left;
    line-height: 1;
    font-size: 16px;
}
.check_out_eco .sec_header .use_code strong{
    font-size: 16px;
}
.check_out_eco .sec_header .use_code strong small{
    font-size: 11px;
    display: block;
    margin-top: 5px;
}
.check_out_eco .sec_header .use_code > div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #808080;
    margin-top: 15px;
    font-size: 12px;
    line-height: 24px;
}
.check_out_eco .sec_header .use_code > div a{
    margin: 0;
    text-decoration: underline;
    
}
.check_out_eco a.cstm_btn_link{
    margin-top: 30px;
    color: #fff;
    text-decoration: underline;
    font-size: 16px;
    
}
  .check_out_eco .terms{
    cursor:pointer
  }
.eco_system_sec .container{
    justify-content: center;
}
.eco_system_sec .eco_system_item{
    max-width: 1100px;
    width: 100%;
    margin-inline:auto;
}
.eco_system_sec .eco_system_item h2{
    font-size: 50px;
    font-weight: 600;
    color: #fff;
    line-height: 60px;
}
  .eco_system_sec .container{
    justify-content: center;
}
.eco_system_sec .eco_system_item{
    max-width: 1100px;
    width: 100%;
    margin-inline:auto;
}
.eco_system_sec .eco_system_item h2{
    font-size: 50px;
    font-weight: 600;
    color: #fff;
    line-height: 60px;
}
.eco_video_sec .wrapper img{
    width: 100%;
    max-width: 600px;
}








      @media(max-width:1199px){
          .gr_list{
              padding: 20px;
              gap:20px;
          }
          .gr_list .gr_item{
              gap:15px;
              grid-template-columns: 40px 1fr;
          }
          .gr_list .gr_item span{
              font-size: 16px;
              line-height: 1.3
          }
      }
      @media(max-width:1024px){
          .interior_exterior_sec .intr_extr_row{
              padding:35px 50px;
              gap:15px;
              margin: -50px -30px 50px;
          }
          .eco_system_sec{
              padding: 50px 0;
              min-height: 530px;
          }
          .eco_system_sec .eco_system_row .exo_logo{
              max-width: 278px;
              margin-bottom: 20px;
          }
          .eco_system_sec .eco_system_row{
              grid-template-columns: 60% 1fr;
              gap:40px;
          }

          .interior_exterior_sec .intr_extr_row{
          }
          .sec_header{
              margin-bottom: 20px
          }
          .sec_header h1{
              font-size: 28px;
              line-height: 31px;
              margin-bottom: 5px;
              font-weight: 600;
          }
          .sec_header p{
              font-size: 18px;
              line-height: 1.2;
          }
          .eco_video_sec,
          .cstm_solution{
              margin-bottom: 40px;
          }
          .cstm_solution .cstm_solution_row .image_item,
          .cstm_solution .cstm_solution_row{
              gap:10px
          }
          .gr_list{
              grid-template-columns:1fr 1fr;
              width: 100%;
              padding: 15px 20px
          }
          .intr_extr_img_wrap .intr_extr_desk_img {
              margin: -50px 0 63px;
          }
          .shoppable-wrapper .dot {
              width: 18px;
              height: 18px;
              border: 4px solid #fff;
          }
          .shoppable-wrapper .dot:before {
              width: 24px;
              height: 24px;
          }
        .eco_video_sec .wrapper img {
    max-width: 350px;
}
.eco_system_sec .eco_system_item h2 {
    font-size: 28px;
    color: #fff;
    line-height: 40px;
}
.eco_system_sec .eco_system_item {
    max-width: 670px;
}
.eco_video_sec {
    padding: 80px 0 0;
}
      }
      @media(min-width:768px){
          .eco_system_sec .eco_system_row .eco_system_item:first-child .exo_icon{
              display: none;
          }
          .intr_extr_img_wrap .intr_extr_mobile_img{
              display: none
          }
      }
      @media(min-width:768px){
          .eco_system_sec .eco_system_row .eco_system_item:first-child .exo_icon{
              display: none;
          }
      }
  @media(max-width:767px){
      .intr_extr_img_wrap .intr_extr_desk_img{
          display: none
      }
      .eco_system_sec .eco_system_row .eco_system_item:last-child .exo_icon{
          display: none;
      }
      .eco_system_sec .eco_system_row .eco_system_item .exo_icon{
          margin-bottom: 49px;
      }
      .eco_system_sec{
          background-position: right;
          background-image: url('https://cdn.shopify.com/s/files/1/0234/7089/9277/files/web_header_bg_mobile_1.png?v=1715533881');
      }
      .eco_system_sec .eco_system_row .exo_logo{
          margin: 0 auto 78px;
      }
      .eco_system_sec .eco_system_row p{
          padding: 0 40px;
      }
      .intr_extr_img_wrap {
          width: 100%;
      }
      .intr_extr_img_wrap .intr_extr_mobile_img{
          width: 100%;
          margin: -70px 0 36px;
      }
      .interior_exterior_sec {
          margin-bottom: 36px;
      }
      .interior_exterior_sec .intr_extr_row{
          background-image: url('https://cdn.shopify.com/s/files/1/0234/7089/9277/files/exo_concept_mobile_1.png?v=1715534196');
          min-height: 560px;
          border-radius: 0;
          grid-template-columns: 1fr 1fr 1fr;
          margin: -70px 0 0;
          padding: 45px 40px;
          gap:10px;
      }
      .sec_header{
          padding: 0 20px;
          margin-bottom: 25px;
      }
      .sec_header h1{
          margin-bottom: 23px;
      }
    .sec_header h1.sec_header_h1{
    max-width:90%;
  }
      .sec_header p {
          font-size: 16px;
          line-height:24px;
          letter-spacing: 0.19px;
          margin-bottom: 0
      }
      .gr_list {
          grid-template-columns: 1fr;
          padding: 48px 20px;
          margin: 0 -14px 19px;
          width: calc(100% + 26px);
          overflow: hidden;
      }
      .gr_list .gr_item{
          max-width: 300px;
          width: 100%;
          margin: 0 auto;
          grid-template-columns: 60px 1fr;
          gap:48px;
      }
      .gr_list .gr_item span {
          font-size: 22px;
          line-height: 24.6px;
      }
      .cstm_solution .cstm_solution_row{
          display: flex;
          flex-wrap: wrap;
          gap:12px;
      }
    .cstm_solution.Enjoy_customizable{
      overflow:hidden
    }
      .cstm_solution.Enjoy_customizable .cstm_solution_row .image_item{
          flex: 1
      }
      .cstm_solution.Enjoy_customizable .cstm_solution_row .image-wrap:nth-child(2){
          flex: 1;
      }
      .cstm_solution.safe_enhanced .cstm_solution_row .image_item{
          flex: 1;
          order: 1;
          grid-template-columns:1fr 1fr;
          grid-template-rows:unset;
      }
      .cstm_solution.safe_enhanced .cstm_solution_row > .image-wrap:nth-child(1){
          order: 2;
      }

      .cstm_solution.comfort_cleaner .cstm_solution_row .image_item{
          flex: 1
      }
      .cstm_solution.comfort_cleaner .cstm_solution_row .image-wrap:nth-child(2){
          flex: 1;
      }
      .cstm_solution.guidance_reliable .cstm_solution_row .image_item{
          flex: 1;
          order: 1;
      }
      .cstm_solution.guidance_reliable .cstm_solution_row > .image-wrap:nth-child(3){
          flex: 1;
          order: 2;
      }
      .cstm_solution.guidance_reliable .cstm_solution_row > .image-wrap:nth-child(1){
          order: 3;
      }
      .eco_system_sec .eco_system_row{
          grid-template-columns: 1fr;
      }
      .check_out_eco{
          position: relative;
          background-size: 100px cover;
      }
      .check_out_eco:before{
          content: '';
          background-color: #231F20;
          width: 100%;
          height: 100%;
          position: absolute;
          bottom: 0;
          left: 0;
      }
      .check_out_eco .sec_header{
          padding: 0
      }
      .check_out_eco .cstm_btn{
          font-size: 14px;
          text-transform: uppercase;
      }
    .eco_video_sec {
    padding: 28px 0;
      margin:0;
}
    .cstm_solution.Enjoy_customizable .cstm_solution_row{
    flex-direction: column;
}
.cstm_solution.Enjoy_customizable .cstm_solution_row .image_item{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: unset;
}
.cstm_solution .cstm_solution_row .image_item{
    grid-template-rows: unset;
}
.check_out_eco .sec_header{
    grid-template-columns: 1fr;
}
.check_out_eco .sec_header h1{
    font-size: 28px;
    text-align: center;
    font-weight: 500;
    max-width: 300px;
    line-height: 30px
}
.check_out_eco .sec_header .use_code{
    max-width: 270px;
    margin-inline:auto;
    width: 100%
}
.check_out_eco a.cstm_btn_link{
    margin-top: 25px;
}
  }
  @media(max-width:321px){
      .eco_system_sec .eco_system_row p,
      .sec_header{
          padding: 0;
      }
  }
  .footer{
    margin-top:0 !important;
  }
</style>
