<section class="eco_system_sec">
  <div class="container">
    <div class="eco_system_row">
      <div class="eco_system_item">
        <img
          class="exo_logo"
          src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/exo_logo_1.png?v=1715189809"
          alt=""
        >
        <img
          class="exo_icon"
          src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/exo_icons_1.png?v=1715189807"
          alt=""
        >
        <p>
          Introducing the TRAPO EXO SYSTEM, a groundbreaking solution revolutionizing car care for Malaysian drivers.
          From interior and exterior detailing to a range of products and services, our comprehensive ecosystem is your
          go-to destination for all your car care needs. Elevate your driving experience with our complete range of
          solutions, ensuring top-notch care for your vehicle inside and out.
        </p>
        <p>Get the Elevated X-perience On-the-road with the TRAPO EXO SYSTEM.</p>
      </div>
      <div class="eco_system_item">
        <img
          class="exo_icon"
          src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/exo_icons_1.png?v=1715189807"
          alt=""
        >
      </div>
    </div>
  </div>
</section>
<section class="interior_exterior_sec">
  <div class="container">
    <div class="intr_extr_img_wrap">
      <img
        src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/exo_concept_desktop_1_5d81eba2-2172-404f-9d14-2541884983b2.png?v=1715617772"
        class="intr_extr_desk_img"
        alt=""
      >
      <img
        src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/exo_concept_mobile.png?v=1715617775"
        class="intr_extr_mobile_img"
        alt=""
      >
    </div>
    <!--
      <div class="intr_extr_row">
          <a href="#" class="item_link">
              <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/car_mats.png?v=1715191023" alt="car mats" title="car mats">
          </a>
          <a href="#" class="item_link">
              <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/interior_accessiries.png?v=1715191017" alt="interior accessiries" title="interior accessiries">
          </a>
          <a href="#" class="item_link">
              <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/phone_holders.png?v=1715191017" alt="phone holders" title="phone holders">
          </a>
          <a href="#" class="item_link">
              <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/dashcams.png?v=1715191018" alt="dashcams" title="dashcams">
          </a>
          <a href="#" class="item_link">
              <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/car_care.png?v=1715191017" alt="car care" title="car care">
          </a>
          <a href="#" class="item_link">
              <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/tint_films.png?v=1715191017" alt="tint films" title="tint films">
          </a>
          <a href="#" class="item_link">
              <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/purifiers.png?v=1715191017" alt="purifiers" title="purifiers">
          </a>
          <a href="#" class="item_link">
              <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/vacuums.png?v=1715191017" alt="vacuums" title="vacuums">
          </a>
          <a href="#" class="item_link">
              <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/seat_covers.png?v=1715191017" alt="seat covers" title="seat covers">
          </a>
          <a href="#" class="item_link">
              <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/wiper_blades.png?v=1715191018" alt="wiper blades" title="wiper blades">
          </a>
          <a href="#" class="item_link">
              <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/paint_protection_films.png?v=1715191017" alt="paint protection films" title="paint protection films">
          </a>
          <a href="#" class="item_link">
              <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/coating.png?v=1715191017" alt="coating" title="coating">
          </a>
      </div>
    -->
  </div>
</section>
<section class="eco_video_sec">
  <div class="eco_video">
    <div class="video">
      <div class="wrapper">
        <div data-embed="VjfQ5xAMAjM" class="youtube" style="margin-bottom: 0;">
          <div class="play-button"></div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="cstm_solution Enjoy_customizable">
  <div class="container">
    <div class="sec_header">
      <h1>Enjoy customizable solutions</h1>
      <p>
        Tailor your car experience with customizable solutions, allowing you to personalize your vehicle according to
        your preferences and lifestyle. With different ranges of car mats to auto-detailing options, we’ve got the
        solutions to suit your lifestyle.
      </p>
    </div>
    <div class="cstm_solution_row">
      <div class="image_item">
        <div class="image-wrap">
          <div class="shoppable-wrapper" style="top:45%;left: 34%;">
            <div class="dot_wrap">
              <span class="dot"></span>
            </div>
            <a class="ing_tooltip" href="/pages/trapo-car-coating">
              <div class="left">
                <p class="productname">Trapo Quik Shield</p>
                <span class="short-description">Car Coating</span>
                <small class="price">From RM 699</small>
              </div>
              <div class="right">
                <img
                  src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/right_arrow_99ee6c2c-5da4-4aea-8800-a3cb2404292b.png?v=1715491226"
                  alt="right arrow"
                  title="right arrow"
                >
              </div>
            </a>
          </div>
          <div class="image">
            <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/cstm_solution_1.png?v=1715223116" alt="">
          </div>
        </div>
        <div class="image-wrap">
          <div class="shoppable-wrapper" style="top:40%;left: 57%;">
            <div class="dot_wrap">
              <span class="dot"></span>
            </div>
            <a class="ing_tooltip" href="/pages/car-wiper-malaysia">
              <div class="left">
                <p class="productname">Trapo Car Wiper</p>
                <span class="short-description">Car Wiper Malaysia</span>
                <small class="price">From RM 139.90</small>
              </div>
              <div class="right">
                <img
                  src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/right_arrow_99ee6c2c-5da4-4aea-8800-a3cb2404292b.png?v=1715491226"
                  alt="right arrow"
                  title="right arrow"
                >
              </div>
            </a>
          </div>
          <div class="image">
            <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/cstm_solution_2.png?v=1715223113" alt="">
          </div>
        </div>
      </div>
      <div class="image-wrap">
        <div class="shoppable-wrapper" style="top:44%;left: 13%;">
          <div class="dot_wrap">
            <span class="dot"></span>
          </div>
          <a class="ing_tooltip" href="/pages/trapo-ppf">
            <div class="left">
              <p class="productname">Trapo Protect Plus</p>
              <span class="short-description">Paint Protection Film</span>
              <small class="price">From RM 2,200</small>
            </div>
            <div class="right">
              <img
                src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/right_arrow_99ee6c2c-5da4-4aea-8800-a3cb2404292b.png?v=1715491226"
                alt="right arrow"
                title="right arrow"
              >
            </div>
          </a>
        </div>
        <div class="image">
          <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/cstm_solution_3.png?v=1715223113" alt="">
        </div>
      </div>
      <div class="image-wrap">
        <div class="shoppable-wrapper" style="top:80%;left: 48%;">
          <div class="dot_wrap">
            <span class="dot"></span>
          </div>
          <a class="ing_tooltip" href="/pages/car-mats">
            <div class="left">
              <p class="productname">Trapo Classic Mat</p>
              <span class="short-description">Mark-4</span>
              <small class="price">From RM 135.90</small>
            </div>
            <div class="right">
              <img
                src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/right_arrow_99ee6c2c-5da4-4aea-8800-a3cb2404292b.png?v=1715491226"
                alt="right arrow"
                title="right arrow"
              >
            </div>
          </a>
        </div>
        <div class="image">
          <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/cstm_solution_4.png?v=1715223114" alt="">
        </div>
      </div>
    </div>
  </div>
</section>

<section class="cstm_solution safe_enhanced ">
  <div class="container">
    <div class="sec_header">
      <h1>Feel safe with enhanced security</h1>
      <p>
        Prioritize safety on the road with advanced safety features and accessories designed to protect you and your
        passengers in any driving condition. From voice activated dashcams to durable window tints, we’ve got the
        solution for you.
      </p>
    </div>
    <div class="cstm_solution_row">
      <div class="image-wrap">
        <div class="shoppable-wrapper" style="top:41%;left: 46%;">
          <div class="dot_wrap">
            <span class="dot"></span>
          </div>
          <a class="ing_tooltip" href="/pages/trapo-car-tint">
            <div class="left">
              <p class="productname">Trapo Tint</p>
              <span class="short-description">Car Tinting</span>
              <small class="price">From RM 750</small>
            </div>
            <div class="right">
              <img
                src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/right_arrow_99ee6c2c-5da4-4aea-8800-a3cb2404292b.png?v=1715491226"
                alt="right arrow"
                title="right arrow"
              >
            </div>
          </a>
        </div>
        <div class="image">
          <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/safe_security_1.png?v=1715223218" alt="">
        </div>
      </div>
      <div class="image_item">
        <div class="image-wrap">
          <div class="shoppable-wrapper" style="top:57%;left: 55%;">
            <div class="dot_wrap">
              <span class="dot"></span>
            </div>
            <a class="ing_tooltip" href="/products/trapo-i-sight-t350-dashcam">
              <div class="left">
                <p class="productname">Trapo Dashcam</p>
                <span class="short-description">Dashcam T-350</span>
                <small class="price">From RM 219</small>
              </div>
              <div class="right">
                <img
                  src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/right_arrow_99ee6c2c-5da4-4aea-8800-a3cb2404292b.png?v=1715491226"
                  alt="right arrow"
                  title="right arrow"
                >
              </div>
            </a>
          </div>
          <div class="image">
            <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/safe_security_22.png?v=1715619346" alt="">
          </div>
        </div>
        <div class="image-wrap">
          <div class="shoppable-wrapper" style="top:60%;left: 41%;">
            <div class="dot_wrap">
              <span class="dot"></span>
            </div>
            <a class="ing_tooltip" href="#product" style="left: -90px;">
              <div class="left">
                <p class="productname">Trapo Dashcam</p>
                <span class="short-description">Dashcam T-550</span>
                <small class="price">From RM 549</small>
              </div>
              <div class="right">
                <img
                  src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/right_arrow_99ee6c2c-5da4-4aea-8800-a3cb2404292b.png?v=1715491226"
                  alt="right arrow"
                  title="right arrow"
                >
              </div>
            </a>
          </div>
          <div class="image">
            <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/safe_security_3.png?v=1715223218" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="cstm_solution comfort_cleaner ">
  <div class="container">
    <div class="sec_header">
      <h1>Drive in comfort with a cleaner environment</h1>
      <p>
        Maintain a clean and hygienic car interior with innovative products like air purifiers and cordless vacuums,
        ensuring a fresh and healthy driving environment. Use our range of car car solutions to achieve a glossy and
        protected exterior.
      </p>
    </div>
    <div class="cstm_solution_row">
      <div class="image_item">
        <div class="image-wrap">
          <div class="shoppable-wrapper" style="top:60%;left: 41%;">
            <div class="dot_wrap">
              <span class="dot"></span>
            </div>
            <a class="ing_tooltip" href="/products/diatomite-car-coaster">
              <div class="left">
                <p class="productname">Trapo Car Interior</p>
                <span class="short-description">Diatomite Car Coaster</span>
                <small class="price">From RM 29.90</small>
              </div>
              <div class="right">
                <img
                  src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/right_arrow_99ee6c2c-5da4-4aea-8800-a3cb2404292b.png?v=1715491226"
                  alt="right arrow"
                  title="right arrow"
                >
              </div>
            </a>
          </div>
          <div class="image">
            <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/comfort_clener_1.png?v=1715223366" alt="">
          </div>
        </div>
        <div class="image-wrap">
          <div class="shoppable-wrapper" style="top:70%;left: 27%;">
            <div class="dot_wrap">
              <span class="dot"></span>
            </div>
            <a class="ing_tooltip" href="/products/trapo-dirtoff">
              <div class="left">
                <p class="productname">Trapo Car Care</p>
                <span class="short-description">DirtOff</span>
                <small class="price">From RM 39.90</small>
              </div>
              <div class="right">
                <img
                  src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/right_arrow_99ee6c2c-5da4-4aea-8800-a3cb2404292b.png?v=1715491226"
                  alt="right arrow"
                  title="right arrow"
                >
              </div>
            </a>
          </div>
          <div class="shoppable-wrapper" style="top:48%;left: 54%;">
            <div class="dot_wrap">
              <span class="dot"></span>
            </div>
            <a class="ing_tooltip" href="/products/trapo-streakoff">
              <div class="left">
                <p class="productname">Trapo Car Care</p>
                <span class="short-description">StreakOff</span>
                <small class="price">From RM 99.90</small>
              </div>
              <div class="right">
                <img
                  src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/right_arrow_99ee6c2c-5da4-4aea-8800-a3cb2404292b.png?v=1715491226"
                  alt="right arrow"
                  title="right arrow"
                >
              </div>
            </a>
          </div>
          <div class="shoppable-wrapper" style="top:66%;left: 77%;">
            <div class="dot_wrap">
              <span class="dot"></span>
            </div>
            <a class="ing_tooltip" href="/products/ironoff">
              <div class="left">
                <p class="productname">Trapo Car Care</p>
                <span class="short-description">IronOff</span>
                <small class="price">From RM 99.90</small>
              </div>
              <div class="right">
                <img
                  src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/right_arrow_99ee6c2c-5da4-4aea-8800-a3cb2404292b.png?v=1715491226"
                  alt="right arrow"
                  title="right arrow"
                >
              </div>
            </a>
          </div>
          <div class="image">
            <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/comfort_clener_4.png?v=1715223367" alt="">
          </div>
        </div>
      </div>
      <div class="image_item">
        <div class="image-wrap">
          <div class="shoppable-wrapper" style="top:40%;left: 45%;">
            <div class="dot_wrap">
              <span class="dot"></span>
            </div>
            <a class="ing_tooltip" href="/products/car-cordless-vacuum-pro" style="left: -90px;">
              <div class="left">
                <p class="productname">Trapo Vacuum</p>
                <span class="short-description">Cordless Car Vacuum Pro</span>
                <small class="price">From RM 299.90</small>
              </div>
              <div class="right">
                <img
                  src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/right_arrow_99ee6c2c-5da4-4aea-8800-a3cb2404292b.png?v=1715491226"
                  alt="right arrow"
                  title="right arrow"
                >
              </div>
            </a>
          </div>
          <div class="image">
            <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/comfort_clener_22.png?v=1715620104" alt="">
          </div>
        </div>
        <div class="image-wrap">
          <div class="shoppable-wrapper" style="top:52%;left: 49%;">
            <div class="dot_wrap">
              <span class="dot"></span>
            </div>
            <a class="ing_tooltip" href="/products/magsafe-car-phoner-holder-pro" style="left: -90px;">
              <div class="left">
                <p class="productname">Trapo Phone Holders</p>
                <span class="short-description">Magsafe Car Phone Holder Pro</span>
                <small class="price">From RM 114.90</small>
              </div>
              <div class="right">
                <img
                  src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/right_arrow_99ee6c2c-5da4-4aea-8800-a3cb2404292b.png?v=1715491226"
                  alt="right arrow"
                  title="right arrow"
                >
              </div>
            </a>
          </div>
          <div class="image">
            <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/comfort_clener_33.png?v=1715620153" alt="">
          </div>
        </div>
      </div>
      <div class="image-wrap">
        <div class="shoppable-wrapper" style="top:80%;left: 43%;">
          <div class="dot_wrap">
            <span class="dot"></span>
          </div>
          <a class="ing_tooltip" href="/products/trapo-premium-motion-sensor-car-air-purifier">
            <div class="left">
              <p class="productname">Air Purifier Classic</p>
              <span class="short-description">with filters</span>
              <small class="price">From RM 299.90</small>
            </div>
            <div class="right">
              <img
                src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/right_arrow_99ee6c2c-5da4-4aea-8800-a3cb2404292b.png?v=1715491226"
                alt="right arrow"
                title="right arrow"
              >
            </div>
          </a>
        </div>
        <div class="image">
          <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/comfort_clener_5.png?v=1715223368" alt="">
        </div>
      </div>
    </div>
  </div>
</section>

<section class="cstm_solution guidance_reliable">
  <div class="container">
    <div class="sec_header">
      <h1>Get expert guidance and reliable support</h1>
      <p>
        Maintain a clean and hygienic car interior with innovative products like air purifiers and cordless vacuums,
        ensuring a fresh and healthy driving environment. Use our range of car car solutions to achieve a glossy and
        protected exterior.
      </p>
    </div>
    <div class="gr_list">
      <div class="gr_item">
        <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/guidance_reliable_4.png?v=1715225643" alt="">
        <span>Free Shipping (West Malaysia)</span>
      </div>
      <div class="gr_item">
        <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/guidance_reliable_3.png?v=1715225562" alt="">
        <span>Online Customer Support</span>
      </div>
      <div class="gr_item">
        <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/guidance_reliable_2.png?v=1715225563" alt="">
        <span>7 Days Return Policy</span>
      </div>
      <div class="gr_item">
        <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/guidance_reliable_1.png?v=1715225262" alt="">
        <span>Up to 5-Year Warranty</span>
      </div>
    </div>
    <div class="cstm_solution_row">
      <div class="image-wrap">
        <div class="shoppable-wrapper" style="top:70%;left: 30%;">
          <div class="dot_wrap">
            <span class="dot"></span>
          </div>
          <a class="ing_tooltip" href="/pages/location">
            <div class="left">
              <p class="productname">Trapo Hubs</p>
              <span class="short-description">Location list</span>
              <small class="price">Visit us today</small>
            </div>
            <div class="right">
              <img
                src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/right_arrow_99ee6c2c-5da4-4aea-8800-a3cb2404292b.png?v=1715491226"
                alt="right arrow"
                title="right arrow"
              >
            </div>
          </a>
        </div>
        <div class="image">
          <img
            src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/guidance_reliable_55.png?v=1715620775"
            alt=""
          >
        </div>
      </div>
      <div class="image_item">
        <div class="image-wrap">
          <div class="image">
            <img
              src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/guidance_reliable_6.png?v=1715225813"
              alt=""
            >
          </div>
        </div>
        <div class="image-wrap">
          <div class="image">
            <img
              src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/guidance_reliable_7.png?v=1715225812"
              alt=""
            >
          </div>
        </div>
      </div>
      <div class="image-wrap">
        <div class="image">
          <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/guidance_reliable_8.png?v=1715225813" alt="">
        </div>
      </div>
    </div>
  </div>
</section>
<section class="car-package">
  <div class="container">
    <div class="main-package">
      <h3>Not sure where to start?</h3>
      <p>Check out our hassle-free packages here to elevate your driving experience.</p>
      <a href="/pages/trapo-new-car-package">VIEW PACKAGES</a>
    </div>
  </div>
</section>
<section class="check_out_eco">
  <div class="container">
    <div class="sec_header">
      <h1>Check out Trapo Exosystem</h1>
      <p>
        Ready to start elevating your driving experience on the road? Get in touch with our participating Trapo Hubs to
        discover the Trapo Exosystem for yourself!
      </p>
      <a href="/pages/location" class="cstm_btn">Visit Us Today</a>
    </div>
  </div>
</section>

<style>
  .car-package .container{
    background: #DEDEDE;
    padding: 25px;
    border-radius: 15px;
  }
  .car-package .container .main-package{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .car-package .container .main-package h3{
    color: #16406D;
    margin: 0;
    font-weight: 500;
    font-size: 42px;
    line-height: 50px;
  }
  .car-package .container .main-package p{
        width: 35%;
    color: #1B3D6D;
    font-size: 19px;
    line-height: 27px;
    letter-spacing: 0.19px;
  }
  .car-package .container .main-package a{
    border: 1px solid #EE2A7B;
    padding: 12px 20px;
    border-radius: 9px;
    font-size: 14px;
    line-height: normal;
  }
      .eco_system_sec{
          background-image: url('https://cdn.shopify.com/s/files/1/0234/7089/9277/files/web_header_bg_1.png?v=1715192445');
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
          min-height: 677px;
          padding: 110px 0;
      }
      .eco_system_sec .eco_system_row{
          display: grid;
          grid-template-columns: 54% 31%;
          gap:5%;
          justify-content: space-between;
      }
      .eco_system_sec .eco_system_row .exo_logo{
          max-width: 444px;
          width: 100%;
          display: block;
          margin-bottom: 48px;
      }
      .eco_system_sec .eco_system_row p{
          font-size: 19px;
          line-height: 27px;
          letter-spacing: 0.19px;
          color: #DEDEDE;
          font-weight: 300;
          margin-bottom: 30px
      }
      .eco_system_sec .eco_system_row .exo_icon{
          width: 100%;
          display: block;
      }
      .intr_extr_img_wrap .intr_extr_desk_img{
          width: 100%;
          margin: -90px 0 83px;
      }
      .interior_exterior_sec .intr_extr_row{
          display: grid;
          grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
          gap:30px;
          padding: 45px 70px;
          border-radius: 35px;
          background-image: url('https://cdn.shopify.com/s/files/1/0234/7089/9277/files/interior_border.png?v=1715193741');
          background-size: 100%;
          margin:-90px -30px 83px;
          background-repeat: no-repeat;
      }
      .interior_exterior_sec .intr_extr_row img{
          width: 100%;
      }
      .eco_video_sec{
          margin-bottom: 92px;
      }
      .sec_header{
          text-align: center;
          margin-bottom: 52px
      }
      .sec_header h1{
          font-size: 46px;
          color: #16406D;
          margin-bottom: 20px;
      }
      .sec_header p{
          font-size: 19px;
          line-height: 27px;
          letter-spacing: 0.27px;
          color:#1B3D6D;
      }
      .cstm_solution{
          margin-bottom: 126px;
      }
      .cstm_solution .cstm_solution_row{
          display: grid;
          gap:26px;
          grid-template-columns: 27.8% 27.8% 1fr;
      }
      .cstm_solution .cstm_solution_row .image_item{
          display: grid;
          grid-template-rows: 1fr 1fr;
          gap:26px;
      }
      .cstm_solution .cstm_solution_row .image{
          display: flex;
          height: 100%;
      }
      .cstm_solution .cstm_solution_row .image img{
          width: 100%;
          object-fit: cover;
          height: 100%;
      }
      .cstm_solution.safe_enhanced .cstm_solution_row{
          grid-template-columns:1fr 27.8%;
      }
      .cstm_solution.guidance_reliable .cstm_solution_row{
          grid-template-columns:1fr 27.8% 27.8%;
      }
      .guidance_reliable .sec_header{
          margin-bottom: 34px;
      }
      .gr_list{
          display: grid;
          grid-template-columns: 1fr 1fr 1fr 1fr;
          background-color: #1B3D6D;
          margin-bottom: 20px;
          gap:40px;
          padding: 45px 40px;
      }
      .gr_list .gr_item{
          display: grid;
          grid-template-columns: 60px 1fr;
          gap:48px;
          align-items: center;
      }
      .gr_list .gr_item img{
          width: 100%;
      }
      .gr_list .gr_item span{
          font-size: 22px;
          line-height: 24.6px;
          color: #fff;
      }
      .image-wrap{
          position: relative;
      }
      .shoppable-wrapper{
          position: absolute;
          top: 0;
      }
      .shoppable-wrapper .dot{
          width: 28px;
          height: 28px;
          background-color: #E81F76;
          border: 7px solid #fff;
          display: block;
          border-radius: 50px;
      }
      .shoppable-wrapper .dot:before{
          content: '';
          width: 34px;
          height: 34px;
          border: 1px solid #fff;
          position: absolute;
          top: -3px;
          right: -3px;
          border-radius: 50px;
      }
      .shoppable-wrapper .ing_tooltip{
          position: absolute;
          background-color: #fff;
          filter: drop-shadow(-2px 4px 4px rgba(0, 0, 0, 0.45));
          border-radius: 11px;
          min-width: 172px;
          overflow: hidden;
          display: grid;grid-template-columns: 1fr 33px;
          margin-top: 10px;
          left: -50px;
          opacity: 0;
          visibility: hidden;
          pointer-events: none;
          transition: all 0.3s ease-in-out;
          z-index: 99;
      }
      .shoppable-wrapper .ing_tooltip .left{
          padding: 9px 10px 10px 15px;
      }
      .shoppable-wrapper .ing_tooltip .productname{
          margin-bottom: 2px;
          font-size: 13px;
          line-height: 19px;
          color: #1B3D6D;
          font-weight: 600;
      }
      .shoppable-wrapper .ing_tooltip .short-description{
          font-size: 11px;
          color: #1B3D6D;
          display: block;
          line-height: 1;
          margin-bottom: 14px;
      }
      .shoppable-wrapper .ing_tooltip .price{
          font-size: 10px;
          line-height: 1;
          color: #808080;
          display: block;
      }
      .shoppable-wrapper .ing_tooltip .right{
          background-color: #E82276;
          display: flex;
          align-items: center;
          justify-content: center
      }
      .shoppable-wrapper .ing_tooltip .right img{
          width: 10px;
      }
      .shoppable-wrapper:hover{
          padding: 0 0 20px;
      }
      .shoppable-wrapper:hover .ing_tooltip{
          opacity: 1;
          visibility: visible;
          pointer-events: all
      }
      .check_out_eco {
          background-image: url('https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Rectangle_136.png?v=1715537518');
          padding: 49px 20px 63px;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: top center;
      }
      .check_out_eco .sec_header {
          max-width: 750px;
          width: 100%;
          margin: 0 auto
      }
      .check_out_eco .sec_header h1{
          color: #fff;
      }
      .check_out_eco .sec_header p{
          color: #fff;
          font-weight: 300;
          margin-bottom: 38px;
      }
      .check_out_eco .cstm_btn{
          font-size: 20px;
          color: #fff;
          background-color: #e82276;
          padding: 16px 30px;
          border-radius: 50px
      }
      @media(max-width:1199px){
          .gr_list{
              padding: 20px;
              gap:20px;
          }
          .gr_list .gr_item{
              gap:15px;
              grid-template-columns: 40px 1fr;
          }
          .gr_list .gr_item span{
              font-size: 16px;
              line-height: 1.3
          }
      }
      @media(max-width:1024px){
          .interior_exterior_sec .intr_extr_row{
              padding:35px 50px;
              gap:15px;
              margin: -50px -30px 50px;
          }
          .eco_system_sec{
              padding: 50px 0;
              min-height: 530px;
          }
          .eco_system_sec .eco_system_row .exo_logo{
              max-width: 278px;
              margin-bottom: 20px;
          }
          .eco_system_sec .eco_system_row{
              grid-template-columns: 60% 1fr;
              gap:40px;
          }

          .interior_exterior_sec .intr_extr_row{
          }
          .sec_header{
              margin-bottom: 20px
          }
          .sec_header h1{
              font-size: 28px;
              line-height: 31px;
              margin-bottom: 5px;
              font-weight: 600;
          }
          .sec_header p{
              font-size: 18px;
              line-height: 1.2;
          }
          .eco_video_sec,
          .cstm_solution{
              margin-bottom: 40px;
          }
          .cstm_solution .cstm_solution_row .image_item,
          .cstm_solution .cstm_solution_row{
              gap:10px
          }
          .gr_list{
              grid-template-columns:1fr 1fr;
              width: 100%;
              padding: 15px 20px
          }
          .intr_extr_img_wrap .intr_extr_desk_img {
              margin: -50px 0 63px;
          }
          .shoppable-wrapper .dot {
              width: 18px;
              height: 18px;
              border: 4px solid #fff;
          }
          .shoppable-wrapper .dot:before {
              width: 24px;
              height: 24px;
          }
      }
      @media(min-width:768px){
          .eco_system_sec .eco_system_row .eco_system_item:first-child .exo_icon{
              display: none;
          }
          .intr_extr_img_wrap .intr_extr_mobile_img{
              display: none
          }
      }
      @media(min-width:768px){
          .eco_system_sec .eco_system_row .eco_system_item:first-child .exo_icon{
              display: none;
          }
      }
  @media(max-width:767px){
      .intr_extr_img_wrap .intr_extr_desk_img{
          display: none
      }
      .eco_system_sec .eco_system_row .eco_system_item:last-child .exo_icon{
          display: none;
      }
      .eco_system_sec .eco_system_row .eco_system_item .exo_icon{
          margin-bottom: 49px;
      }
      .eco_system_sec{
          background-position: right;
          background-image: url('https://cdn.shopify.com/s/files/1/0234/7089/9277/files/web_header_bg_mobile_1.png?v=1715533881');
      }
      .eco_system_sec .eco_system_row .exo_logo{
          margin: 0 auto 78px;
      }
      .eco_system_sec .eco_system_row p{
          padding: 0 40px;
          text-align: justify
      }
      .intr_extr_img_wrap {
          width: 100%;
      }
      .intr_extr_img_wrap .intr_extr_mobile_img{
          width: 100%;
          margin: -70px 0 36px;
      }
      .interior_exterior_sec {
          margin-bottom: 36px;
      }
      .interior_exterior_sec .intr_extr_row{
          background-image: url('https://cdn.shopify.com/s/files/1/0234/7089/9277/files/exo_concept_mobile_1.png?v=1715534196');
          min-height: 560px;
          border-radius: 0;
          grid-template-columns: 1fr 1fr 1fr;
          margin: -70px 0 0;
          padding: 45px 40px;
          gap:10px;
      }
      .sec_header{
          padding: 0 40px;
          margin-bottom: 25px;
      }
      .sec_header h1{
          margin-bottom: 23px;
      }
      .sec_header p {
          font-size: 16px;
          line-height:24px;
          letter-spacing: 0.19px;
          text-align: justify;
          margin-bottom: 0
      }
      .gr_list {
          grid-template-columns: 1fr;
          padding: 48px 20px;
          margin: 0 -14px 19px;
          width: calc(100% + 26px);
          overflow: hidden;
      }
      .gr_list .gr_item{
          max-width: 300px;
          width: 100%;
          margin: 0 auto;
          grid-template-columns: 60px 1fr;
          gap:48px;
      }
      .gr_list .gr_item span {
          font-size: 22px;
          line-height: 24.6px;
      }
      .cstm_solution .cstm_solution_row{
          display: flex;
          flex-wrap: wrap;
          gap:12px;
      }
      .cstm_solution.Enjoy_customizable .cstm_solution_row .image_item{
          flex: 1
      }
      .cstm_solution.Enjoy_customizable .cstm_solution_row .image-wrap:nth-child(2){
          flex: 1;
      }
      .cstm_solution.safe_enhanced .cstm_solution_row .image_item{
          flex: 1;
          order: 1;
          grid-template-columns:1fr 1fr;
          grid-template-rows:unset;
      }
      .cstm_solution.safe_enhanced .cstm_solution_row > .image-wrap:nth-child(1){
          order: 2;
      }

      .cstm_solution.comfort_cleaner .cstm_solution_row .image_item{
          flex: 1
      }
      .cstm_solution.comfort_cleaner .cstm_solution_row .image-wrap:nth-child(2){
          flex: 1;
      }
      .cstm_solution.guidance_reliable .cstm_solution_row .image_item{
          flex: 1;
          order: 1;
      }
      .cstm_solution.guidance_reliable .cstm_solution_row > .image-wrap:nth-child(3){
          flex: 1;
          order: 2;
      }
      .cstm_solution.guidance_reliable .cstm_solution_row > .image-wrap:nth-child(1){
          order: 3;
      }
      .eco_system_sec .eco_system_row{
          grid-template-columns: 1fr;
      }
      .check_out_eco{
          position: relative;
          background-size: 100px cover;
      }
      .check_out_eco:before{
          content: '';
          background-color: #231F20;
          width: 100%;
          height: 100%;
          position: absolute;
          bottom: 0;
          left: 0;
      }
      .check_out_eco .sec_header{
          padding: 0
      }
      .check_out_eco .cstm_btn{
          font-size: 14px;
          text-transform: uppercase;
      }
  }
  @media(max-width:321px){
      .eco_system_sec .eco_system_row p,
      .sec_header{
          padding: 0;
      }
  }
</style>
