<section class="car_mat_guide">
    <div class="container_md">
        <a href="/pages/detailing-guide" class="back-button" style="display: block; width: fit-content;  margin-block:30px 5px;">&lt; BACK</a>
        <div class="sec_header">
            <h2>Paint Protection Film (PPF) guide</h2>
            <p>Start learning about car paint protection film (PPF) today. Pick a topic below to begin.</p>
        </div>
        <div class="donts_wrap">
            <h4>What to do within 7 days?</h4>
            <div class="donts_list_3">
                <div class="donts_item color_2">
                    <p><span>✅</span>  Sun the car</p>
                    <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Rectangle_576_12.png?v=1764769390" alt="" />
                    <div class="info_line">
                        <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_1256.png?v=1764762400" alt=""/>
                        Dab the car dry with a microfiber cloth (no wiping) to avoid marks.
                    </div>
                </div>
                <div class="donts_item color_1">
                    <p><span>⚠️</span> Avoid car wash and rain</p>
                    <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Rectangle_576_13.png?v=1764769390" alt="" />
                    <div class="info_line">
                        <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_1256.png?v=1764762400" alt=""/>
                        Avoid washing or exposing the car to rain for the next 7 days to allow the PPF to fully cure. This ensures long-lasting protection.
                    </div>
                </div>
                <div class="donts_item color_1">
                    <p><span>⚠️</span> Avoid driving fast</p>
                    <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Rectangle_576_14.png?v=1764769390" alt="" />
                    <div class="info_line">
                        <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_1256.png?v=1764762400" alt=""/>
                        High speeds can cause strong wind pressure, potentially lifting the PPF edges.
                    </div>
                </div>
            </div>
            <h4>What you may experience within 7 days?</h4>
            <div class="donts_list immediately_list">
                <div class="donts_item color_1">
                    <p><span>⚠️</span>  Milky / Hazy appearance</p>
                    <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Rectangle_576_15.png?v=1764769390" alt="" />
                    <div class="info_line">
                        <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_1256.png?v=1764762400" alt=""/>
                        Park your car under the hot sun for 7 days. The air bubbles and haziness will disappear once the tint fully dries.
                    </div>
                </div>
                <div class="donts_item color_1">
                    <p><span>⚠️</span>Warped edges (Lifting)</p>
                    <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Rectangle_576_16.png?v=1764769390" alt="" />
                    <div class="info_line">
                        <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_1256.png?v=1764762400" alt=""/>
                        PPF edges may lift if the car is driven in wind or rain before fully drying. Don’t worry—just bring it back to us, and we’ll fix it for you.
                    </div>
                </div>
            </div>
            <h4>What to expect?</h4>
            <div class="dos_list ">
                <div class="dos_item color_2">
                    <p>Glossy and shiny car</p>
                    <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Rectangle_576_8_481cb1a2-08ef-418a-8cfb-a18cecd3c7c8.png?v=1764769527" alt="" />
                </div>
                <div class="dos_item color_2">
                    <p>Easy to wash</p>
                    <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Rectangle_576_6_d759705f-33d4-491d-afad-ae4c64449575.png?v=1764769528" alt="" />
                </div>
                <div class="dos_item color_2">
                    <p>Self-healing from light scratches</p>
                    <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Rectangle_576_9_519229b6-a348-4fab-8388-75b1ca4a4594.png?v=1764769527" alt="" />
                </div>
                <div class="dos_item color_2">
                    <p>No more rock chips</p>
                    <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Rectangle_576_7_9eab10e5-e769-41c7-9d45-cff843b25261.png?v=1764769527" alt="" />
                </div>
            </div>
            <h4>Warranty coverage</h4>
            <div class="dos_list donts_list_5">
                <div class="dos_item">
                    <p>Discoloration</p>
                    <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Rectangle_576_10_356a0ffb-ca50-4451-96d2-7eb062735393.png?v=1764769600" alt="" />
                </div>
                <div class="dos_item">
                    <p>Film cracking</p>
                    <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Rectangle_576_11_cccf47c3-466c-4097-9aa0-35c3da477ae1.png?v=1764769601" alt="" />
                </div>
                <div class="dos_item">
                    <p>Hydrolysis</p>
                    <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Rectangle_576_12_04690fb5-0100-44d1-814f-3e4756806607.png?v=1764769600" alt="" />
                </div>
                <div class="dos_item">
                    <p>Glue residue</p>
                    <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Rectangle_576_13_86102715-546f-4f70-87c7-176383d5f9a9.png?v=1764769600" alt="" />
                </div>
                <div class="dos_item">
                    <p>Film dullness</p>
                    <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Rectangle_576_14_a77b55ec-87a6-4e66-94a3-d825eaceb3e3.png?v=1764769600" alt="" />
                </div>
            </div>
        </div>
    </div>
</section>


<section class="do_you_know_outer">
    <div class="container">
      <div class="warrenty_table">
          <table>
              <tr>
                  <th></th>

                    <th>
                        <picture class="image_3">
                            <source media="(min-width:767px)" srcset="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_1289.png?v=1764518716">
                            <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_1312.png?v=1764850558" alt="" style="width:auto;">
                        </picture>
                    </th>
                    <th>
                        <picture class="image_3">
                            <source media="(min-width:767px)" srcset="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_1135_2.png?v=1764769762">
                            <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_5_d6f785ed-c17a-4c06-9e31-9bb0678b421d.png?v=1764850557" alt="" style="width:auto;">
                        </picture>
                    </th>
                    <th>
                        <picture class="image_3">
                            <source media="(min-width:767px)" srcset="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_1136.png?v=1764769762">
                            <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_6_b8f57785-81d8-4f6a-9267-1891723ede89.png?v=1764850559" alt="" style="width:auto;">
                        </picture>
                    </th>
              </tr>
              <tr>
                  <td style="width:33%;border-left:0">
                    <div class="inner_td">
                        Warranty Period <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_355.png?v=1717173807" alt=""/>
                    </div>
                    </td>
                  <td>7  Years </td>
                  <td>10  Years </td>
                  <td style="border-right:0">10  Years </td>
              </tr>
          </table>
      </div>
    <div class="warranty_wrap">
      <div class="warranty_wrap_inner">
        <div>
          <strong>What does the warranty for Trapo PPF cover?</strong>  
          <p>The warranty covers defects such as yellowing, cracking, bubbling, and peeling under normal usage.</p>
          <strong>How long is the warranty period for Trapo PPF?</strong>  
          <p>The warranty options are 7-year or 10-year plans​.</p>
        </div>
        <div>
          <strong>What is excluded from the Trapo PPF warranty?</strong>  
          <p>Damage caused by improper installation, misuse, accidents, or normal wear and tear is not covered under the warranty.</p>
          <strong>How can I claim the Trapo PPF warranty?</strong>  
          <p>To initiate a warranty claim, contact our Customer Service team with your purchase details and a description of the issue.</p>
        </div>
      </div>
    </div>
    <div class="info_line">
        <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_1256.png?v=1764762400" alt=""/>
        Non-Transferable Warranty: Warranty does not transfer to new owners if the car is sold.
    </div>
    <div class="info_line">
        <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_1256.png?v=1764762400" alt=""/>
        To maintain the warranty on your Trapo PPF, all maintenance must be performed by Trapo professionals. Services performed elsewhere may lead to mishandling and potential damage, which will void the warranty.
    </div>
  </div>
</section>

<section class="car_mat_guide maintain_list">
    <div class="container_md">
        <div class="donts_wrap">
            <h4>How to maintain?</h4>
            <div class="donts_list ">
                <div class="donts_item color_2">
                    <p><span>✅</span>Wash your car weekly</p>
                    <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Rectangle_576_15_e6fc428e-7383-4c77-a38e-824aa7add8c9.png?v=1764770035" alt="" />
                </div>
            </div>
        </div>
    </div>
</section>

<section class="do_you_know_outer">
  <div class="container">
    <div class="do_you_know_wrap">
        <div class="do_you_know_img">
            <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/150248014_1_2x_007ef294-c124-4cc4-b9eb-984b4190eb61.png?v=1764675377" alt="" />
        </div>  
      <div class="do_you_know_detail">
        <h2>Did your know that your car PPF & Coating needs upkeep?</h2>
        <span>More info available here:</span>
        <a href="/pages/trapo-ppf" class="btn btn--secondary">MORE INFO</a>
      </div>
    </div>
    <p>Need help? Tap the Whatsapp button to get in touch with our team.</p>
  </div>
  <style>
    .do_you_know_outer .do_you_know_wrap{ background-color: #1B3D6D; filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); color: #fff; display: grid; gap:100px; grid-template-columns:271px auto; padding-inline:71px 61px; border-radius: 18px; align-items: center; width:100%;margin-bottom:45px;}
    .do_you_know_outer .do_you_know_wrap img{ width: 100%; display: block;padding-bottom:28px;}
    .do_you_know_outer .do_you_know_wrap h2{ margin: 0 0 13px; color: inherit; font-size: 32px; line-height: 30px; letter-spacing: 2px; font-weight: 600;max-width:440px }
    .do_you_know_outer .do_you_know_wrap span{ font-size: 16px; line-height: 24px; margin-bottom: 34px; display: block; }
    .do_you_know_outer .do_you_know_wrap a { color: #fff; padding: 16px 35px; font-size: 14px; font-weight: 600; text-transform: uppercase; line-height: 17px; border-radius: 50px; background-color: #E82276; max-width: 240px; width: 100%; display: block; text-align: center; }
    @media(max-width:1024px){
        .do_you_know_outer .do_you_know_wrap{ padding-inline:40px }
        .do_you_know_outer .do_you_know_wrap h2{ font-size: 23px; }
        .do_you_know_outer .do_you_know_wrap span{ margin-bottom: 30px }
    }
    @media(max-width:767px){
        .do_you_know_outer .do_you_know_wrap{ grid-template-columns: 1fr; padding-inline:21px; text-align: center; padding-bottom: 28px;gap:31px }
        .do_you_know_outer .do_you_know_wrap h2{ line-height: 24px;max-width:300px;margin-inline:auto}
        .do_you_know_outer .do_you_know_wrap a{ box-shadow: 0px 4px 4px 0px #00000040; }
        .do_you_know_outer .do_you_know_wrap .do_you_know_img{ order: -1; max-width: 157px; margin: 0 auto; }
        .do_you_know_outer .container { margin: 34px auto 0; }
        .do_you_know_outer .do_you_know_wrap a{margin:auto}
    }
  </style>
</section>

<style>
    .breadcrumb-container-page{display:none}
    .car_mat_guide{ margin-top:20px }
    .car_mat_guide .container_md{ max-width: 1050px; width: 100%; margin: 0 auto; padding-inline:20px; }
    .car_mat_guide h2{ font-size: 48px; font-weight: 600; line-height: 67px; letter-spacing: 2px; margin: 0; } 
    .car_mat_guide img{ display: block; width: 100%; height: 100%;object-fit: cover;}
    .do_you_know_outer p,
    .car_mat_guide p{ font-size: 19px; line-height: 27px; color: #1B3D6D; }
    .car_mat_guide .guide-card-left{ height: 100%; }
    .car_mat_guide .guide-tag{ font-size: 11px; }
    .car_mat_guide .guide-title{ font-size: 16px; line-height: 24px; }
    .car_mat_guide .guide-card-right{ padding: 20px 5px 20px 19px; }

    .warranty_wrap { color: #1B3D6D; font-size: 19px; line-height: 27px;}
    .warranty_wrap h4{ font-size: 28px; line-height: 21px; letter-spacing: 1px; font-weight: 700; margin-bottom: 42px; }
    .warranty_wrap .warranty_wrap_inner{ display: grid; grid-template-columns: 1fr 1fr;gap:36px;margin-bottom:40px;}
    .warranty_wrap .warranty_wrap_inner strong:not(ul strong){ font-weight: 700; margin-bottom: 20px; display: block }
    .warranty_wrap .warranty_wrap_inner p { line-height: inherit; }
    .warranty_wrap li:not(:last-child){ margin-bottom:5px}

    .info_line{ display: grid; grid-template-columns: 33px 1fr; align-items: center; font-size: 19px; line-height: 27px; color: #1B3D6D; margin-bottom: 58px; gap:15px; background:#fff}   
    .donts_item .info_line{ margin-bottom:0 }
    .info_line img{ display: block; width: 100%; height: auto; }
    .do_you_know_outer .container{ max-width: 1046px; width: 100%; margin: 40px auto 0;padding-inline:23px}
    .donts_wrap{ margin-top: 35px; }
    .donts_wrap h4{ font-size: 28px; line-height: 21px; letter-spacing: 1px; font-weight: 700; margin: 0 auto 30px;padding:0 }
    .donts_wrap .donts_list_3{ display: grid; grid-template-columns: 1fr 1fr 1fr; gap:15px; margin-bottom: 70px; }
    .donts_wrap .donts_list_5{ display: grid; grid-template-columns: 1fr 1fr 1fr 1fr 1fr; gap:15px; margin-bottom: 70px; }
    .donts_wrap .donts_list{ display: grid; grid-template-columns: 1fr 1fr; gap:15px;margin-bottom: 70px;  }
    .donts_wrap .donts_item{ display: flex; flex-direction: column; }
    .donts_wrap .color_1{ background-color: #F5931E; }
    .donts_wrap .color_2{ background-color: #39B54B !important; }
    .donts_wrap .donts_item p{ color: #fff; font-size: 18px; line-height: normal; display: flex; align-items: center; flex-direction: column; padding: 12px; margin: 0 ;text-align:center}
    .donts_wrap img { display: block; width: 100%; }
    .dos_list{ display: grid; grid-template-columns: 1fr 1fr 1fr 1fr; gap:15px; text-align:center;margin-bottom: 70px;}
    .donts_wrap .dos_item{ background-color: #808080; display: flex; flex-direction: column; }
    .donts_wrap .dos_list p{ color: #fff; font-size: 18px; line-height: normal; display: flex; align-items: center; flex-direction: column; padding:28px 12px; margin: 0 ;justify-content:center}
    .warrenty_table{ width: 100%; margin-bottom: 50px; } 
    .warrenty_table table{ width: 100% }
    .warrenty_table th{vertical-align:bottom; border: 0 !important; background-color: #fff !important; padding-bottom:17px !important; text-align: center; }
    .warrenty_table td{ background-color: #F8F8F8; font-size: 18px; line-height: 18px; color: #1B3D6D; padding:25px 30px !important; text-align: center; min-width: 188px; }
    .warrenty_table td:first-child{ color: #808080; border-left: 0 !important; min-width: 200px; }
    .warrenty_table td:last-child{ border: 0 !important; }
    .warrenty_table tr{ border: 0 !important }
    .warrenty_table th img{ max-width:128px; width: 100%; display: block; margin: 0 auto;width:100%;}
    .warrenty_table .inner_td{ display: flex;justify-content: space-between; align-items: center; }
    .Warranty_list p{ min-height: 98px; display: flex; align-items: center; justify-content: center; }
    .donts_wrap .dos_item{ display: grid; grid-template-rows:  1fr auto }
    .donts_wrap .donts_item{ display: grid; grid-template-rows: auto auto 1fr }
    .donts_wrap .info_line{ padding-top: 20px; align-items: start }
    .maintain_list .donts_list{margin:0 0 34px}
    @media(min-width:768px){
        .immediately_list br{ display:none }
    }
    @media(max-width:767px){
        .car_mat_guide h2 { font-size: 23px; line-height: 24px; letter-spacing: 1px; margin-bottom: 16px; }
        .do_you_know_outer p,
        .car_mat_guide p { font-size: 16px; line-height: 24px; margin:0}
        .warranty_wrap h4 { font-size: 23px; line-height: 24px; margin-bottom: 25px; }
        .warranty_wrap {font-size: 16px; line-height: 24px;}
        .warranty_wrap .warranty_wrap_inner{ grid-template-columns:1fr;font-size: 16px; line-height: 24px;margin-bottom:20px}
        .donts_wrap .donts_list{grid-template-columns: 1fr;gap:25px; }
        .dos_list:not(.donts_list_5){display:flex;flex-wrap:wrap;justify-content:space-between}
        .dos_list:not(.donts_list_5) .dos_item{
             flex: 0 0 calc(50% - 9px) ;
             display:flex
        }
        .donts_wrap .donts_item p,
        .donts_wrap .dos_list p{font-size:14px;min-height:77px;justify-content:center}
        .donts_wrap h4 { font-size: 23px; line-height: 24px;margin-bottom:20px; }
        .warrenty_table{ overflow-x: auto;margin-bottom:43px}
        .warrenty_table td{ font-size: 14px; line-height: 14px; padding: 20px !important } 
        .warrenty_table .inner_td img{ width: 16px; }
        .info_line{ font-size: 16px; line-height: 24px; margin-bottom: 46px; }
        .Warranty_list p{ min-height: 77px; }
        .donts_wrap .donts_item { display: flex; }
        .donts_wrap .info_line { padding-top: 16px; }
        .donts_wrap .donts_list_3{ grid-template-columns: 1fr; gap:25px;}
        .donts_wrap .donts_list_5{ display: flex; flex-wrap: wrap; gap:10px; justify-content: space-between;margin-bottom:50px}
        .donts_wrap .donts_list_5 .dos_item:not(:last-child){ flex: 0 0 calc(50% - 6px);display:flex }
        .donts_wrap .dos_list p{padding-block:20px}
        .car_mat_guide{ margin:0}
        .maintain_list .donts_wrap,
        .maintain_list .donts_list{margin:0}
        .donts_wrap .dos_item{
            width:100%;
        }
        .donts_wrap .dos_item:last-child img{
    height: 160px
}
    .warrenty_table th img{ height: 40px; width: 100%; }
        .warrenty_table th, .warrenty_table td{ min-width: unset; width: 80px; padding: 13px 10px !important;}
        .warrenty_table td:first-child { min-width: 100px; text-align: left; }
        .warrenty_table td:first-child div{ gap:10px; }
        .warrenty_table th:nth-child(3) img, .warrenty_table th:nth-child(4) img { height: 27px; }
    }
    @media(max-width:391px){
        .warrenty_table th, .warrenty_table td{  font-size:13px}
        .warrenty_table th img { height: 30px; }
        .warrenty_table th:nth-child(3) img, .warrenty_table th:nth-child(4) img { height: 20px; }
    }
</style>
