
<section class="detail-top-bar">
  <div class="bar-outer">
    <div class="bar-left">
      <p><strong>Driving a WELL-USED car?</strong> Get Trapo Car Coating instead.</p>
    </div>
    <div class="bar-right">
      <a class="bar-btn" href="/pages/trapo-car-coating">View Coating</a>
    </div>
  </div>
</section>
<section class="tint_films">
  <div class="tint_films_img">
    <img
      src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_1288.png?v=1764513926"
      alt=""
      class="desk_img"
    >
    <img
      src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_1288_2.png?v=1764513925"
      alt=""
      class="mobile_img"
    >
    {% comment %} <a href="/products/trapo-ppf-paint-protection-film" class="banner-btn">BUY NOW</a> {% endcomment %}
  </div>
</section>
<section class="tint_new_video">
  <div class="container_md">
    <div class="video">
      <div class="wrapper">
        <div data-embed="Lx1lbTeqkWU" class="youtube">
          <div class="play-button"></div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="tired_of_dealing_wrap">
  <div class="container_md">
    <p>
      Invisible armor for your car — a durable, self-healing film that shields against scratches, chips, and stains while keeping your car looking brand new.
    </p>
    <div class="tired_of_dealing_list">
      <div class="tired_of_deal_item">
        <div class="tired_of_deal_content">
          Prevent corrosion from insect corpse and bird poo
        </div>
        <div class="tired_of_deal_img_wrap">
          <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/ppf-fe-1.png?v=1764824074"/>
        </div>
      </div>
      <div class="tired_of_deal_item">
        <div class="tired_of_deal_content">
              Prevent sharp <br> scratches
        </div>
        <div class="tired_of_deal_img_wrap">
          <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Rectangle_576_1_c16e6935-6853-4f78-bc61-2b8212677f49.png?v=1764517278"/>
        </div>
      </div>
      <div class="tired_of_deal_item">
        <div class="tired_of_deal_content">
              Prevent paint-damaging sand and gravel
        </div>
        <div class="tired_of_deal_img_wrap">
          <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Rectangle_576_2_75bcd0e3-437c-4906-ba12-fbc79b3c48fc.png?v=1764517279"/>
        </div>
      </div>
      <div class="tired_of_deal_item">
        <div class="tired_of_deal_content">
              Prevent paint from<br> being scratched
        </div>
        <div class="tired_of_deal_img_wrap">
          <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Rectangle_576_3_a5c9f10e-7d97-4204-b32a-cf57d778f14a.png?v=1764517279"/>
        </div>
      </div>
      <div class="tired_of_deal_item">
        <div class="tired_of_deal_content">
              Prevent smog and <br> acid rain
        </div>
        <div class="tired_of_deal_img_wrap">
          <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Rectangle_576_4_fd8a8e5d-a993-4358-963c-c3bd670c89ef.png?v=1764517278"/>
        </div>
      </div>
      <div class="tired_of_deal_item">
        <div class="tired_of_deal_content">
              Prevent car wash <br> scratches
        </div>
        <div class="tired_of_deal_img_wrap">
          <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Rectangle_576_5.png?v=1764517389"/>
        </div>
      </div>
    </div>
  </div>
  <style>
    .tired_of_dealing_wrap { padding-top:50px;padding-bottom:60px}
    .tired_of_dealing_wrap .container_md{ max-width: 824px; width: 100%; margin: 0 auto; text-align: center; padding-inline:12px;}
    .tired_of_dealing_wrap p{ margin-bottom: 40px; color: #1B3D6D; line-height: 24px; font-size: 16px; }
    .tired_of_dealing_list{ display: grid; grid-template-columns: 1fr 1fr 1fr; gap:20px; margin: 0 auto; }
    .tired_of_deal_item{ background-color: rgba(119, 118, 103, 1); color: #fff; font-size: 18px; text-align: center; }
    .tired_of_deal_item img{ display: block; width: 100%; }
    .tired_of_deal_content{ padding: 10px; font-size: 13px; line-height: 16px; min-height: 53px; display: flex; align-items: center; justify-content: center; }
    @media(max-width:767px){
      .tired_of_dealing_list { grid-template-columns: 1fr 1fr; gap: 6px; }
      .tired_of_deal_item { font-size: 14px; display: flex; flex-direction: column-reverse; }
    }
  </style>
</section>

<section class="two_blks">
  <div class="container_md">
    <div class="two_blks_row">
      <div class="col">
        <div class="left">
          <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/1a_-_Protect_Your_Original_Paint.gif?v=1718856546" alt="" >
        </div>
        <div class="right">
          <h1>protect you paint from deep scratches</h1>
          <p> Your car is your pride and investment. Our PPF film protects it from the elements, preserving its appearance and value. And with premium paint protection, you're enhancing its resale potential.</p>
        </div>
      </div>
      <div class="col">
        <div class="left">
          <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/1b_-_Superior_Craftmanship.gif?v=1718856544" alt="" style="width: 100%;" >
        </div>
        <div class="right">
          <h1>superior craftsmanship</h1>
          <p>Our PPF film boasts self-healing capabilities, activated at temperatures above 60°C, effectively repairing even stone chip damage for seamless protection.</p>
        </div>
      </div>
      <div class="col">
        <div class="left">
          <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/1c_-_Self_Healing_PPF_Films.gif?v=1718856546" alt="" >
        </div>
        <div class="right">
          <h1>light scratches self-heal under heat</h1>
          <p>Our professional installers bring 15 years of combined experience in PPF installation, guaranteeing exceptional quality and meticulous attention to detail. Count on precise panel edge wrapping for maximum protection</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="our_tint_outer">
  <div class="container_md">
    <div class="our_tint">
      <h4>AVAILABLE RANGES:</h4>
      <div class="our_tint_list">
        <div class="our_list_item">
          <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_909_1.png?v=1764518361" alt=""/>
        </div>
        <div class="our_list_item">
          <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_908_1.png?v=1764518361" alt=""/>
        </div>
        <div class="our_list_item">
          <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_907_1.png?v=1764518494" alt=""/>
        </div>
      </div>
    </div>
  </div>
  {% stylesheet %}
    .our_tint_outer .container_md{ max-width: 1037px; width: 100%; margin: 0 auto; }
    .our_tint{ width: 100%; text-align: center; }
    .our_tint .our_tint_list{ display: grid; grid-template-columns: 1fr 1fr 1fr; gap:10px; margin-bottom: 50px; }
    .our_tint_list img{ width: 100%; display: block; }
    .our_tint h4{ font-size: 20px; font-weight: 600; letter-spacing: 2px; line-height: 21px; margin-bottom: 20px; }
    @media(max-width:767px){
      .our_tint { margin-inline: 0; width: 100% }
      .our_tint .our_tint_list{ display: flex; padding-inline: 12px; overflow-x: auto }
      .our_tint .our_list_item{ flex: 0 0 90%; }
    }
  {% endstylesheet %}
</section>

<section class="tint_table">
  <div class="container_md">
    <table>
      <thead>
        <th></th>
        <th> <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_1289.png?v=1764518716" alt=""> </th>
        <th> <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_1135_1.png?v=1764518715" alt=""> </th>
        <th class="active"> <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_1290.png?v=1764518715" alt=""> </th>
      </thead>
      <tbody>
        <tr>
          <td class="col_1">
            <div>
              <span>Thickness</span>
              <a class="modal-toggle1" href="#" ><img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_355.png?v=1717173807" alt="" ></a>
            </div>
          </td>
          <td class="col_2">7.5 mil</td>
          <td class="col_3">8.5 mil</td>
          <td class="col_4">9.5 mil</td>
        </tr>
        <tr>
          <td class="col_1">
            <div>
              <span>UV Block</span>
              <a class="modal-toggle2" href="#" ><img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_355.png?v=1717173807" alt="" ></a>
            </div>
          </td>
          <td class="col_2"> ≥ 96%</td>
          <td class="col_3"> ≥ 96%</td>
          <td class="col_4"> ≥ 96%</td>
        </tr>
        <tr>
          <td class="col_1">
            <div>
              <span>TPU Material</span>
              <a class="modal-toggle3" href="#" ><img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_355.png?v=1717173807" alt="" ></a>
            </div>
          </td>
          <td class="col_2">(Germany)</td>
          <td class="col_3">(USA)</td>
          <td class="col_4"> (USA) </td>
        </tr>
        <tr>
          <td class="col_1">
            <div>
              <span>Self-Healing Coating</span>
              <a class="modal-toggle4" href="#" ><img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_355.png?v=1717173807" alt="" ></a>
            </div>
          </td>
          <td class="col_2">(Japan)</td>
          <td class="col_3">(Japan)</td>
          <td class="col_4"> (Japan) </td>
        </tr>
        <tr>
          <td class="col_1">
            <div> <span>Adhesive</span> <a class="modal-toggle5" href="#" ><img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_355.png?v=1717173807" alt="" ></a> </div>
          </td>
          <td class="col_2">(USA)</td>
          <td class="col_3">(USA)</td>
          <td class="col_4"> (USA) </td>
        </tr>
        <tr>
          <td class="col_1">
            <div>
              <span>Glossiness </span>
              <a class="modal-toggle6" href="#" ><img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_355.png?v=1717173807" alt="" ></a> 
            </div>
          </td>
          <td class="col_2">Up to 35%<br>(excluding matte)</td>
          <td class="col_3">Up to 35%</td>
          <td class="col_4">Up to 35%</td>
        </tr>
        <tr>
          <td class="col_1">
            <div>
              <span>Warranty</span>
              <a class="modal-toggle7" href="#" ><img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_355.png?v=1717173807" alt="" ></a>
            </div>
          </td>
          <td class="col_2">7 Year</td>
          <td class="col_3">10 Year</td>
          <td class="col_4">10 Year</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="modal model-1">
    <div class="modal-overlay modal-toggle"></div>
    <div class="modal-wrapper modal-transition">
      <div class="modal-header">
        <button class="modal-close modal-toggle modal-toggle1">
          <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_419.png?v=1717383520">
        </button>
      </div>

      <div class="modal-body">
        <div class="modal-content">
          <h2>PPF Thickness</h2>
          <p>
            Our PPF comes in 7.5 / 8.5 / 9.5 mil.
 1 mil is around 0.0254 mm, so 7.5 mil is about 3 stacked plastic ID cards thick—strong enough to absorb chips and scratches.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="modal model-2">
    <div class="modal-overlay modal-toggle"></div>
    <div class="modal-wrapper modal-transition">
      <div class="modal-header">
        <button class="modal-close modal-toggle modal-toggle2">
          <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_419.png?v=1717383520">
        </button>
      </div>

      <div class="modal-body">
        <div class="modal-content">
          <h2>UV Block</h2>
          <p>
We block ≥96% of UV rays, reducing paint fading and clear-coat damage. 
Regular films below 96% let in more UV, causing faster fading, yellowing, and dull paint over time.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="modal model-3">
    <div class="modal-overlay modal-toggle"></div>
    <div class="modal-wrapper modal-transition">
      <div class="modal-header">
        <button class="modal-close modal-toggle modal-toggle3">
          <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_419.png?v=1717383520">
        </button>
      </div>

      <div class="modal-body">
        <div class="modal-content">
          <h2>TPU Material</h2>
          <p>
            We use premium TPU from Germany and the USA for long-lasting clarity and flexibility.
 PVC and TPO films are cheaper but yellow faster, crack easier, or look cloudy, making them less protective.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="modal model-4">
    <div class="modal-overlay modal-toggle"></div>
    <div class="modal-wrapper modal-transition">
      <div class="modal-header">
        <button class="modal-close modal-toggle modal-toggle4">
          <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_419.png?v=1717383520">
        </button>
      </div>

      <div class="modal-body">
        <div class="modal-content">
          <h2>Self-Healing <br> Coating</h2>
          <p>
            Our Japanese topcoat lets light scratches disappear with heat, keeping the surface smooth with sunlight or warm water.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="modal model-5">
    <div class="modal-overlay modal-toggle"></div>
    <div class="modal-wrapper modal-transition">
      <div class="modal-header">
        <button class="modal-close modal-toggle modal-toggle5">
          <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_419.png?v=1717383520">
        </button>
      </div>

      <div class="modal-body">
        <div class="modal-content">
          <h2>Adhesive</h2>
          <p>
            Our USA-made adhesive bonds strongly but won’t damage factory paint, and resists peeling or residue during removal.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="modal model-6">
    <div class="modal-overlay modal-toggle"></div>
    <div class="modal-wrapper modal-transition">
      <div class="modal-header">
        <button class="modal-close modal-toggle modal-toggle6">
          <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_419.png?v=1717383520">
        </button>
      </div>

      <div class="modal-body">
        <div class="modal-content">
          <h2>Glossiness</h2>
          <p>
            Our Japanese topcoat lets light scratches disappear with heat, keeping the surface smooth with sunlight or warm water.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="modal model-7">
    <div class="modal-overlay modal-toggle"></div>
    <div class="modal-wrapper modal-transition">
      <div class="modal-header">
        <button class="modal-close modal-toggle modal-toggle7">
          <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_419.png?v=1717383520">
        </button>
      </div>

      <div class="modal-body">
        <div class="modal-content">
          <h2>Warranty</h2>
          <p>
            We provide 7 to 10 years warranty, covering yellowing, peeling, cracking, and other film defects for long-term peace of mind.
          </p>
        </div>
      </div>
    </div>
  </div>

  <style>
    .tint_table{ margin-bottom:52px; }
    .tint_table img{ max-width: 133px; }
    .tint_table table{ margin:0 auto;width:100%}
    .tint_table .container_md{ max-width: 1037px; width: 100%; margin: 0 auto; }
    .tint_table thead tr th{ background-color: transparent !important }
    .tint_table tbody tr:nth-child(odd){ background-color: #F8F8F8; }
    .tint_table th, .tint_table tr, .tint_table td{ border: 0 !important; }
    .tint_table th img{ width: 100%; } 
    .tint_table .col_1{ width: 32%; }
    .tint_table .col_1 div{ display: flex; align-items: center; justify-content: space-between; color: #808080 }
    .tint_table .col_1 div img{ width: 21px; }
    .tint_table td{ text-align: center; font-size: 18px; color: #1B3D6D; line-height: 19px; padding: 30px !important; min-width:180px; }
    .tint_table .col_2{ border-inline:1px solid #DEDEDE !important }
    .tint_table .col_3{ border-right:1px solid #DEDEDE !important }
    .tint_table .modal-content h2{ font-size:20px; line-height:21px; letter-spacing:2px; color:#fff; }
    .tint_table .modal-content p{ font-size:16px; line-linehgt:24px; color:#fff; }
    .tint_table .modal { position: absolute; z-index: 10000; top: 0; left: 0; visibility: hidden; width: 100%; height: 100%; }
    .tint_table  .modal.is-visible { visibility: visible; }
    .tint_table .modal-overlay { position: fixed; z-index: 10; top: 0; left: 0; width: 100%; height: 100%; background: hsla(0, 0%, 0%, 0.5); visibility: hidden; opacity: 0; transition: visibility 0s linear 0.3s, opacity 0.3s; }
    .tint_table .modal.is-visible .modal-overlay { opacity: 1; visibility: visible; transition-delay: 0s; }
    .tint_table .modal-wrapper { position: fixed; z-index: 9999; top: 20%; left: 50%; width: calc(100% - 30px); background-color: #E82276; box-shadow: 0 0 1em hsla(0, 0%, 0%, 0.25); border-radius: 12px; overflow: hidden; transform: translate(-50%, -20%); max-width: 500px; }
    .tint_table .modal-transition { transition: all 0.3s 0.12s; opacity: 0; }
    .tint_table .modal.is-visible .modal-transition { opacity: 1; }
    .tint_table .modal-header, .tint_table .modal-content { background-color: #E82276; text-align: center; padding: 15px 20px 20px; border: 0; }
    .tint_table .modal-header { position: relative; background-color: #E82276; border-bottom: 0; }
    .tint_table .modal-close { position: absolute; top: 15px; right: 15px; padding: 0; color: #aaa; background: none; border: 0; z-index: 999 }
    .tint_table .modal-close:hover { color: #777; }
    .tint_table .modal-heading { font-size: 1.125em; margin: 0; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
    .tint_table .modal-content > *:first-child { margin-top: 0; }
    .tint_table .modal-content > *:last-child { margin-bottom: 0; }
  </style>
</section>



<section class="how_its_done">
  <div class="container_md">
    <h2>HOW IS IT DONE?</h2>
    <div class="how_its_done_row">
      <div class="col">
        <img
          src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/GIF_Coat_2a_Deep_Wash_gif.gif?v=1719382685"
          alt=""
        >
      </div>
      <div class="col">
        <img
          src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/GIF_PPF_2b_Film_Application_gif.gif?v=1719382681"
          alt=""
        >
      </div>
      <div class="col">
        <img
          src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/GIF_PPF_2c_QC_Inspection_gif.gif?v=1719382682"
          alt=""
        >
      </div>
    </div>
  </div>
</section>
<section class="statisfid_customers">
  <h2>satisfied customers</h2>
  <div class="cstmr_row">
    <div class="col">
      <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Screenshot_2025-06-27_at_3.13.03_PM.webp?v=1756058996">
    </div>
    <div class="col">
      <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Screenshot_2025-06-27_at_3.15.44_PM.webp?v=1756058997">
    </div>
    <div class="col">
      <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Screenshot_2025-06-27_at_3.16.04_PM.webp?v=1756058995">
    </div>
    <div class="col">
      <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Screenshot_2025-06-27_at_3.17.53_PM.webp?v=1756058999">
    </div>
    <div class="col">
      <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Screenshot_2025-06-27_at_3.18.52_PM.webp?v=1756058996">
    </div>

    <div class="col">
      <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/1_ppf_new.jpg?v=1724837497">
    </div>
    <div class="col">
      <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/2_ppf_new.jpg?v=1724837497">
    </div>
    <div class="col">
      <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/3_ppf_new.jpg?v=1724837497">
    </div>
    <div class="col">
      <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/4_ppf_new.jpg?v=1724837497">
    </div>
    <div class="col">
      <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/5_ppf_new.jpg?v=1724837497">
    </div>
    <div class="col">
      <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/6_ppf_new.jpg?v=1724837497">
    </div>
    <div class="col">
      <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/7_ppf_new.jpg?v=1724837497">
    </div>
    <div class="col">
      <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/8_ppf_new.jpg?v=1724837497">
    </div>
    <div class="col">
      <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/9_ppf_new.jpg?v=1724837497">
    </div>
    <div class="col">
      <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/10_ppf_new.jpg?v=1724837497">
    </div>
    <div class="col">
      <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/11_ppf_new.jpg?v=1724837497">
    </div>
    <div class="col">
      <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/12_ppf_new.jpg?v=1724837497">
    </div>
    <div class="col">
      <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/13_ppf_new.jpg?v=1724837497">
    </div>
    {% comment %}
    <div class="col">
      <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/14_ppf_new.jpg?v=1724837497">
    </div>
    <div class="col">
      <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/15_ppf_new.jpg?v=1724837497">
    </div>
    <div class="col">
      <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/16_ppf_new.jpg?v=1724837497">
    </div>
    <div class="col">
      <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/17_ppf_new.jpg?v=1724837497">
    </div>
    <div class="col">
      <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/18_ppf_new.jpg?v=1724837497">
    </div>
    {% endcomment %}
  </div>
</section>

<section class="tint_brochure">
  <div class="container">
    <div class="top">
      <h3>Starting from</h3>
      <h1>RM 2900 ONLY!*</h1>
      <!-- <p>Get full info of our Trapo PPF price and spec list here:</p> -->
      <p>
        Explore ala carte prices from
        <a href="/products/trapo-ppf-paint-protection-film"><strong>ONLY RM90</strong> <span>here</span></a
        >.Interested to know more? Get our comprehensive brochure for more information today.
      </p>
      <script
        src="//latest.trapo.asia/resources/sharing/embed.js?sharing=lp-embed&domain=latest.trapo.asia&id=5FL1-BPY%2Fppfmagnet%22&description="
      ></script>
    </div>
  </div>
</section>

<section class="tint_brochure tint_brochure_2">
  <div class="container">
    <div class="bottom">
      {% render 'detailing-hubs' %}
      <a href="/products/trapo-ppf-paint-protection-film" class="cstm_btn">BOOK NOW</a>
      {% comment %} <p class="maint-link">Already got Trapo PPF? <a href="/pages/maintenance">Here's</a> how you can maintain it.</p> {% endcomment %}
    </div>
  </div>
  <style> .tint_brochure_2{ background-color:#DEDEDE; padding-block:30px; }</style>
</section>

<section class="do_you_know_outer">
  <div class="container">
    <div class="do_you_know_wrap">
      <div class="do_you_know_detail">
        <h2>DID YOU KNOW THAT YOUR CAR PPF & COATING NEEDS UPKEEP?</h2>
        <span>More info available here:</span>
        <a href="#" class="btn btn--secondary"> MORE INFO </a>
      </div>
      <div class="do_you_know_img">
        <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/150248014_1_3699f0d6-a62b-4346-a1ee-66b0a0479029.png?v=1764509225" alt="" />
      </div>  
    </div>
  </div>
  <style>
    .do_you_know_outer .container{ max-width: 1000px; width: 100%; margin: 80px auto 0; }
    .do_you_know_outer .do_you_know_wrap{ background-color: #222222; filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); color: #fff; display: grid; gap:30px; grid-template-columns: auto 271px; padding-inline:71px 61px; border-radius: 18px; align-items: center; width:100%}
    .do_you_know_outer .do_you_know_wrap img{ width: 100%; display: block; }
    .do_you_know_outer .do_you_know_wrap h2{ margin: 0 0 13px; color: inherit; font-size: 32px; line-height: 30px; letter-spacing: 2px; font-weight: 600;max-width:440px }
    .do_you_know_outer .do_you_know_wrap span{ font-size: 16px; line-height: 24px; margin-bottom: 34px; display: block; }
    .do_you_know_outer .do_you_know_wrap a{ color: #fff; border: 1px solid #fff; padding: 16px 35px; font-size: 14px; font-weight: 600; text-transform: uppercase; line-height: 17px; border-radius: 50px; }
  @media(max-width:1024px){
    .do_you_know_outer .do_you_know_wrap{ padding-inline:40px }
    .do_you_know_outer .do_you_know_wrap h2{ font-size: 24px; }
    .do_you_know_outer .do_you_know_wrap span{ margin-bottom: 30px }
  }
  @media(max-width:767px){
    .do_you_know_outer .do_you_know_wrap{ grid-template-columns: 1fr; padding-inline:21px; text-align: center; padding-bottom: 36px; }
    .do_you_know_outer .do_you_know_wrap h2{ font-size: 20px; line-height: 21px;max-width:300px;margin-inline:auto}
    .do_you_know_outer .do_you_know_wrap .do_you_know_img{ order: -1; max-width: 157px; margin: 0 auto; }
    .do_you_know_outer .container { margin: 50px auto 0; }
  }
  </style>
</section>

<section class="blog_post_container tint_service_blk" id="warranty-section">
  <div class="tint_service_tab">
    <ul id="tabs-nav">
      <li><a class="active" href="#tab1">FAQ</a></li>
      <li><a href="#tab2">Warranty</a></li>
    </ul>
    <div id="tabs-content">
      <div id="tab1" class="tab-content">
        <p class="faq-title"><strong>1. What is Trapo PPF?</strong></p>
        <p>
          Trapo PPF is a high-quality, transparent film applied to the surface of your vehicle to protect the paint from
          various types of damage.
        </p>
        <p class="faq-title"><strong>2. What does Trapo PPF protect against? </strong></p>
        <p>
          Trapo PPF provides protection against yellowing, corrosion, cracking, hydrolysis, glue residue, and dullness
          caused by everyday elements and environmental factors.
        </p>
        <p class="faq-title"><strong>3. How long does Trapo PPF last? </strong></p>
        <p>
          Trapo PPF is designed to be durable and long-lasting. The lifespan can vary depending on usage and
          environmental conditions, but it typically provides protection for several years.
        </p>
        <p class="faq-title"><strong>4. Is Trapo PPF easy to maintain? </strong></p>
        <p>
          Yes, Trapo PPF is low-maintenance. It can be washed and waxed like your vehicle's paint, ensuring that your
          car looks great while remaining protected.
        </p>
        <p class="faq-title"><strong>5. Can Trapo PPF be removed?</strong></p>
        <p>
          Yes, Trapo PPF can be safely removed without damaging your vehicle's paint. This allows for easy replacement
          or restoration of the film if necessary.
        </p>
        <p class="faq-title"><strong>6. Will Trapo PPF affect the appearance of my vehicle? </strong></p>
        <p>
          No, Trapo PPF is virtually invisible once applied, preserving the original look and color of your vehicle
          while providing enhanced protection.
        </p>
        <p class="faq-title"><strong>7. Can Trapo PPF be applied to any vehicle? </strong></p>
        <p>
          Yes, Trapo PPF can be applied to cars, trucks, SUVs, and other vehicles with painted surfaces. It is
          customizable to fit different parts of your vehicle, including hoods, bumpers, mirrors, and more.
        </p>
        <p class="faq-title"><strong>8. Does Trapo PPF come with a warranty? </strong></p>
        <p>
          Yes, Trapo PPF is backed by a warranty that covers specific protections and assurances. Please refer to our
          warranty terms for details on coverage and exclusions.
        </p>
        <p class="faq-title"><strong>9. How is Trapo PPF installed? </strong></p>
        <p>
          Trapo PPF installation is performed by trained professionals who ensure a precise fit and seamless
          application. The process involves cleaning the surface thoroughly before applying the film in a controlled
          environment.
        </p>
        <p class="faq-title"><strong>10. Where can I get Trapo PPF installed? </strong></p>
        <p>
          Trapo PPF is installed by authorized dealers and certified installers. Contact us or visit our website to find
          a location near you and schedule an installation appointment.
        </p>
        <p class="faq-title"><strong>Have more questions? </strong></p>
        <p>
          Feel free to reach out to our customer support team for any additional inquiries or information about Trapo
          PPF. We're here to help you protect your vehicle with the best paint protection film available!
        </p>
      </div>
      <div id="tab2" class="tab-content">
        <p class="faq-title"><strong>Yellowing Prevention:</strong></p>
        <p>PPF remains free from yellowing.</p>
        <p class="faq-title"><strong>Corrosion Protection:</strong></p>
        <p>PPF protects against corrosion.</p>
        <p class="faq-title"><strong>Cracking Prevention:</strong></p>
        <p>PPF will not crack.</p>
        <p class="faq-title"><strong>Hydrolysis Protection:</strong></p>
        <p>PPF is protected from hydrolysis.</p>
        <p class="faq-title"><strong>Glue Residue Protection:</strong></p>
        <p>PPF will not leave glue residue.</p>
        <p class="faq-title"><strong>Dullness Prevention:</strong></p>
        <p>PPF remains free from dullness.</p>
      </div>
    </div>
  </div>
</section>

<style>
  .container.breadcrumb-container-page{
  display:none;
  }
  p.maint-link{
    margin-top: 20px;
    font-weight: 700;
    letter-spacing: 0.5px;
  }
  .detail-top-bar{
    background-color: #DEDEDE;
    padding: 15px 15px;
    margin: 0 auto;
  }
  .detail-top-bar .bar-outer{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .detail-top-bar .bar-outer .bar-left{
    margin-right: 5%;
  }
  .detail-top-bar .bar-outer .bar-left p{
    margin: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 18px;
    letter-spacing: 0.5px;
  }
  .detail-top-bar .bar-outer .bar-right a.bar-btn{
    border-radius: 5px;
    color: #fff;
    padding: 10px 30px;
    background: #E82276;
    font-size: 11px;
    letter-spacing: 1px;
    font-weight: 700;
    text-transform: uppercase;
  }
            .tint_films img{
                width: 100%;
                display: block;
            }
            .tint_new_video{
                margin-top: -175px;
            }
            .tint_new_video img{
                display: block;
                margin: 0 auto;
              width:100%;
            }
            .two_blks{
                margin-bottom: 60px;
            }
            .two_blks .container_md{
                max-width: 1000px;
                width: 100%;
                margin: 0 auto;
            }
            .two_blks_row {
                display: flex;
                flex-direction: column;
                gap:21px;
            }
            .two_blks_row .col{
                display: grid;
                grid-template-columns: 39% 1fr;
                gap:55px;
                align-items: center;
            }
            .two_blks_row .col img{
                width: 100%;
                display: block;
               border-radius: 20px;
            }
            .two_blks_row .col h1{
                font-size: 32px;
                line-height: 30px;
                letter-spacing: 2px;
                margin-bottom: 14px;
                text-transform: uppercase;
                font-weight: 600
            }
            .two_blks_row .col p{
                color: #1B3D6D;
                font-size: 16px;;
                line-height: 24px;
                letter-spacing: 0.19px;
            }
            .two_blks_row .col:nth-child(2){
                 grid-template-columns:1fr 39%;
            }
            .two_blks_row .col:nth-child(2) .right{
                order: 1;
                padding-left: 40px
            }
            .two_blks_row .col:nth-child(2) .left{
                order: 2;
            }
  .ppf_slider.slick-slider .slick-track{
    display: flex !important;
  }
  .ppf_slider.slick-slider .slick-track .slick-slide{
    height: inherit !important;
  }
            .ppf_slider_wrapper{
                max-width: 1247px;
                width: 100%;
                margin: 0 auto 61px;
            }
            .ppf_slider_wrapper .item{
                background-color: #1B3D6D;
                padding: 58px 0;
                border-radius: 12px;
                margin: 0 15px;
            }
            .ppf_slider_wrapper .item h2{
                color: #fff;
                text-align: center;
                font-size: 24px;
                line-height: 28px;
                letter-spacing: 2px;
                text-transform: uppercase;
                margin: 0 0 27px
            }
  .ppf_slider_wrapper .item p.img-item{
    max-width: fit-content;
  }
            .ppf_slider_wrapper .item p{
                max-width: 595px;
                width: 100%;
                margin: 0 auto;
                color: #fff;
                font-size: 19px;
                line-height: 27px;
                letter-spacing: 0.19px;
                text-align: center;
            }
            .ppf_slider_wrapper button{
                position: absolute;
                top: 50%;
                left: 12%;
                transform:translate(0,-50%);
                width: 85px;
                height: 85px;
                border-radius: 50px;
                background-image: url('https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_138.png?v=1717089724');
                background-size: 100%;
                background-position: center;
                background-color: transparent;
                font-size: 0;
            }
            .ppf_slider_wrapper .slick-next{
                right: 12%;
                left: unset;
                background-image: url('https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_137_9a476264-6c67-49f6-9d42-563b0ee817b8.png?v=1717089735')
            }
            .how_its_done{
                background-color: #DEDEDE;
                padding: 60px 15px;
                margin-bottom: 43px;
            }
            .how_its_done .container_md{
                max-width: 983px;
                width: 100%;
                margin: 0 auto;
            }
            .how_its_done h2,.statisfid_customers h2,.tint_range h2{
                font-size: 24px;
                font-weight: 600;
                margin-bottom: 43px;
                line-height: 28px;
                letter-spacing: 2px;
                text-align: center;
              text-transform: uppercase;
              margin-bottom:20px;
            }
            .how_its_done_row{
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                gap:44px;
            }
            .how_its_done_row .col{
                position: relative;
            }
            .how_its_done_row .col h3{
                position: absolute;
                font-size: 36px;
                letter-spacing: 1px;
                font-weight: bold;
                line-height: 1;
                text-align: center;
                top: 50%;
                margin: 0;
                padding: 0;
                left: 50%;
                transform: translate(-50%,-50%);
                color: #fff;
            }
            .statisfid_customers {
              text-align: center;
          }

          .statisfid_customers .cstmr_row .col{
              border-radius: 12px;
              font-size: 16px;
              line-height: 19px;
              color: #fff;
              padding-inline:10px;
          }
          .statisfid_customers .cstmr_row .col span{
              margin-bottom: 16px;
              display: block;
          }
          .statisfid_customers .cstmr_row .col img{
              margin-bottom: 16px;
              display: block;
            width:100%;
          }
          .statisfid_customers .cstmr_row .col strong{
              display: block;
              color: #fff;
              margin-bottom: 8px;
          }
          .statisfid_customers .cstmr_row .col p{
              max-width: 171px;
              margin: 0 auto;
              width: 100%;
              line-height: 1.3;
              margin-bottom: 15px;
          }
          .statisfid_customers .cstmr_row .col a{
              color: #fff;
              text-decoration: underline;
          }
  .statisfid_customers .cstmr_row .slide-arrow{
      padding: 0;
      width: 30px;
      height: 25px;
      background: transparent;
      box-shadow: none;
      border: 0;
      position: absolute;
      top: 50%;
      left: 30px;
      transform: translate(0, -50%);
      z-index: 1;
  }
    .statisfid_customers .cstmr_row .next-arrow {
      right: 20px;
      left: auto;
  }
    .statisfid_customers .cstmr_row .prev-arrow::after{
      content: "";
      position: absolute;
      left: 0;
      z-index: 11;
      display: block;
      width: 20px;
      height: 20px;
      border-top: 3px solid #fff;
      border-left: 3px solid #fff;
      transform: rotate(-45deg);
  }
     .statisfid_customers .cstmr_row .next-arrow::after {
      content: "";
      position: absolute;
      left: 0;
      z-index: 11;
      display: block;
      width: 20px;
      height: 20px;
      border-top: 3px solid #fff;
      border-left: 3px solid #fff;
      transform: rotate(-225deg);
  }
            .tint_range {
                margin-bottom: 118px;
            }
            .tint_range h2{
                text-align: center;
                font-size: 24px;
                line-height: 28px;
                letter-spacing: 5px;
                margin-block:30px 24px;
            }
            .tint_range .high_clarity{
                background-color: #DEDEDE
            }
            .tint_range .high_clarity p{
                color: #1B3D6D
            }
            .tint_range .item {
                display: flex;
                flex-direction: column;
                height: 100%;
            }
            .tint_range .item img{
                max-width: 260px;
                width: 100%;
                margin: 0 auto 30px;;
            }

            .tint_range .premium_tint{
                background-color: #222222
            }
            .tint_table .container_md{
                max-width: 1037px;
                width: 100%;
                margin: 0 auto;
            }
            .tint_table thead tr th{
                background-color: transparent !important
            }
            .tint_table tbody tr:nth-child(odd){
                background-color: #F8F8F8;
            }
            .tint_table th,
            .tint_table tr,
            .tint_table td{
                border: 0 !important;
            }
            .tint_table th img{
                width: 100%;
            }
            .tint_table .col_1{
                width: 32%;
            }
            .tint_table .col_1 div{
                display: flex;
                align-items: center;
                justify-content: space-between;
                color: #808080
            }
            .tint_table .col_1 div img{
                width: 21px;
            }
            .tint_table td{
                text-align: center;
                font-size: 18px;
                color: #1B3D6D;
                line-height: 19px;
                padding: 30px !important;
            }
            .tint_table .col_2{
                border-inline:1px solid #DEDEDE !important
            }
            .tint_table .col_3{
                border-right:1px solid #DEDEDE !important
            }
            .tint_brochure .container{
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
            }
            .tint_brochure .top {
                margin-bottom: 75px;
            }
            .tint_brochure .top h3{
                font-size: 34px;
                margin: 0;
                line-height: 52px;
                font-weight: 300
            }
            .tint_brochure .top h1{
                font-size: 60px;
                font-weight: bold;
                line-height: 68px;
            }
            .tint_brochure .top p{
                color: #1b3d6d;
                text-transform: normal;
                display: block;
                margin-bottom: 10px;
              font-size: 18px;
              width: 70%;
    margin: 0 auto;
            }
  .tint_brochure .top p a{
    color: #1b3d6d;
  }
  .tint_brochure .top p a span{
    text-decoration: underline;
    color: #1b3d6d;
  }
            .tint_brochure .cstm_btn{
                display: block;
                max-width: 210px;
                font-size: 14px;
                margin: 0 auto;
                width: 100%;
                background-color: #EE2A7B;
                padding: 14px;
                border-radius: 50px;
                color: #fff;
            }
  .tint_films_img{
    position:relative;
  }
            .tint_films_img .banner-btn{
                position: absolute;
                top: 65%;
                left: 50%;
                transform: translate(-50%, -50%);
                display: block;
                max-width: 210px;
                font-size: 14px;
                margin: 0 auto;
                width: 100%;
                background-color: #EE2A7B;
                padding: 14px;
                border-radius: 50px;
                color: #fff;
              text-align: center;
            }
            .tint_brochure .bottom h2{
                font-size: 24px;
                line-height: 24px;
                letter-spacing: 2px;
                margin-bottom: 42px;
              font-weight:600;
            }
            .tint_brochure .bottom img{
                margin-bottom: 10px;
                width: 100%;
            }
  h3.l-main-title{
    font-weight:700;
  }
  p.l-title{
    font-weight: 700;
    letter-spacing: 0.5px;
    line-height: normal;
    font-size: 16px;
  }
  a.l-link{
    text-decoration: underline;
  }
            .tint_brochure .bottom span{
                font-size: 16px;
                color: #808080;
                display: block;
                margin-bottom: 30px;
              font-weight:700;
            }
              .how_its_done_row .col img {
                width: 100%;
            }
              .tint_table .modal-content h2{
                font-size:20px;
                line-height:21px;
                letter-spacing:2px;
                color:#fff;
              }
              .tint_table .modal-content p{
                font-size:16px;
                line-linehgt:24px;
                color:#fff;
              }
              .tint_table .modal {
                position: absolute;
                z-index: 10000; /* 1 */
                top: 0;
                left: 0;
                visibility: hidden;
                width: 100%;
                height: 100%;
              }

             .tint_table  .modal.is-visible {
                  visibility: visible;
              }

              .tint_table .modal-overlay {
                position: fixed;
                z-index: 10;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: hsla(0, 0%, 0%, 0.5);
                visibility: hidden;
                opacity: 0;
                transition: visibility 0s linear 0.3s, opacity 0.3s;
              }

              .tint_table .modal.is-visible .modal-overlay {
                opacity: 1;
                visibility: visible;
                transition-delay: 0s;
              }

              .tint_table .modal-wrapper {
        position: fixed;
        z-index: 9999;
        top: 20%;
        left: 50%;
        width: calc(100% - 30px);
        background-color: #E82276;
        box-shadow: 0 0 1em hsla(0, 0%, 0%, 0.25);
        border-radius: 12px;
        overflow: hidden;
        transform: translate(-50%, -20%);
        max-width: 500px;
    }

              .tint_table .modal-transition {
                transition: all 0.3s 0.12s;
                opacity: 0;
              }

              .tint_table .modal.is-visible .modal-transition {
                opacity: 1;
              }

              .tint_table .modal-header,
              .tint_table .modal-content {
                background-color: #E82276;
                  text-align: center;
                  padding: 15px 20px 20px;
                  border: 0;
              }

              .tint_table .modal-header {
                position: relative;
                background-color: #E82276;
                border-bottom: 0;
              }

              .tint_table .modal-close {
                position: absolute;
                top: 15px;
                right: 15px;
                padding: 0;
                color: #aaa;
                background: none;
                border: 0;
                  z-index: 999
              }

              .tint_table .modal-close:hover {
                color: #777;
              }

              .tint_table .modal-heading {
                font-size: 1.125em;
                margin: 0;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
              }

              .tint_table .modal-content > *:first-child {
                margin-top: 0;
              }

              .tint_table .modal-content > *:last-child {
                margin-bottom: 0;
              }
            .video {
              position: relative;
            top: 50px;
            width:100%;
            margin: 0 auto;
            margin-bottom: 85px;
            filter: drop-shadow(0px 0px 49.4px rgba(0, 0, 0, 0.5));
            max-width:1036px;
        }
        @media (max-width: 576px) {
            .video {
                top: 0;
                width: 100%;
                margin-bottom:0
            }
        }
              @media(max-width:1366px){
                .tint_new_video img{
                    width: 75vw;
                }
                .tint_new_video {
                    margin-top: -10vw;
                }
            }
            @media(max-width:1024px){
                .two_blks_row .col {
                    grid-template-columns: 42% 1fr;
                    gap: 25px;
                }
                .two_blks_row .col:nth-child(2) {
                    grid-template-columns: 1fr 42%;
                }
                .two_blks_row .col h1{
                    font-size: 28px;
                }
                .ppf_slider_wrapper .slick-prev{
                    left: 40px
                }
                .ppf_slider_wrapper .slick-next{
                    right: 40px;
                }
                .how_its_done_row .col h3{
                    font-size: 24px;
                }
                .how_its_done {
                    padding: 30px 15px;
                }
                .how_its_done_row{
                    gap:25px;
                }
                .tint_table td{
                    padding: 20px !important;
                  min-width:180px
                }
                .statisfid_customers .cstmr_row{
                    gap:10px
                }
            }
              @media(min-width:768px){
                .mobile_img{
                  display:none !important;
                }
              }
            @media(max-width:767px){
              .tint_films_img .banner-btn{
                top: 85%;
              }
              p.l-title{
                max-width: 95px;
    margin: 0 auto;
              }
              .detail-top-bar .bar-outer .bar-right a.bar-btn{
                  display: block;
        width: 120px;
        text-align: center;
        padding: 5px 10px;
            }
              .desk_img{
                display:none !important;
              }
              .tint_new_video img {
                width: 100%;
            }
              .tint_new_video {
                margin-block: -80px 45px;
            }
                .two_blks_row .col:nth-child(2),
                .two_blks_row .col {
                    grid-template-columns:1fr;
                    gap: 25px;
                }
                .two_blks {
                    overflow: hidden;
                }
                .two_blks_row .col img {
                    width: calc(100% + 40px) !important;
                    margin: 0 -20px;
                }
                .two_blks_row .col:nth-child(2) .left {
                    order: 1;
                }
                .two_blks_row .col .right{
                    text-align: center;
                    padding: 0 15px;
                  padding-left: 15px !important;
                }
                .two_blks_row .col h1 {
                    font-size: 20px;
                    font-weight: 600
                }
                .ppf_slider_wrapper{
                    padding: 0 15px;
                }
                .statisfid_customers .cstmr_row {
                  display: unset;
              }
              .statisfid_customers .cstmr_row button{
                display:none !important
              }
              .statisfid_customers {
                padding: 0 5px;
            }
              .statisfid_customers .cstmr_row .col{
                margin:0 10px;
                padding-inline:0;
              }
                .ppf_slider_wrapper button{
                        width: 44px;
                        height: 44px;
                }
              .ppf_slider_wrapper .slick-prev {
        left: 20px;
    }
                  .ppf_slider_wrapper .slick-next {
        right: 20px;
    }
                .ppf_slider_wrapper .item {
                    padding:40px 20px;
                    margin: 0;
                }
                .ppf_slider_wrapper .item p{
                    font-size: 16px;
                }
                .ppf_slider_wrapper .item h2{
                    font-size: 20px;
                    margin-bottom: 21px;
                }
                
                .tint_table {
                    overflow-y: auto;
                    width: calc(100% - 20px);
                    margin: 0 auto 52px;
                }
                .tint_table .col_1 {
                    min-width: 220px;
                }
                .tint_table{
                    overflow-y: auto
                }
                .tint_brochure .top h1{
                    font-size: 28px;
                    line-height: 31px;
                }
                .tint_brochure .top h3{
                    font-size: 16px;
                    line-height: 24px;
                }
                .tint_brochure {
                    margin-top: 30px;
                }
                .tint_brochure .top p {
                    font-size: 16px;
                    line-height: 24px;
                    text-transform: capitalize;
                    color: #1B3D6D;
                    margin-bottom: 33px;
                    margin: 0 auto;
    max-width: 75%;
    text-align: center;
                }
                .tint_brochure .top {
                    margin-bottom: 25px;
                }
                .tint_brochure .bottom h2{
                    font-size: 20px
                }
                .tint_brochure .bottom h2 {
                    font-size: 20px;
                    margin: 0 auto 18px;
                }
                .tint_brochure .bottom img {
                    margin-bottom: 18px;
                    width: 100%;
                }
                .tint_range {
                    margin-bottom: 70px;
                }
                .how_its_done h2,
                .statisfid_customers h2,
                .tint_range h2 {
                    font-size: 20px;
                    line-height: 28px;
                    letter-spacing: 2px;
                    font-weight: 600;
                    text-transform: uppercase
                }
                .how_its_done_row .col h3 {
                    font-size: 36px;
                }
            }
      .blog_post_container{ max-width: 1210px; width: 100%; margin: 160px auto 97px; }
        section.blog_post_container.tint_service_blk { margin: 100px auto 50px; }
      .tint_service_tab #tabs-nav{ list-style-type: none; display: flex; justify-content: space-evenly; margin: 0 20px 50px; border-bottom: 3px solid #DEDEDE; padding: 0; }
            .tint_service_tab #tabs-nav li{ margin: 0; }
            .tint_service_tab #tabs-nav li a{ font-size: 19px; line-height: 16.8px; color: #E82276; position: relative; cursor: pointer; }
            .tint_service_tab #tabs-nav li.active a:after{ content: ''; position: absolute; width: 100%; height: 3px; background-color: #E82276; bottom: -5px; left: 0 }
            .tint_service_tab #tabs-content .tab-content .tab_img{ display: grid; grid-template-columns: 1fr 1fr 1fr; gap:15px; }
            .tint_service_tab #tabs-content img{ width: 100%; }
         @media(max-width:1440px){
                  section.blog_post_container.tint_service_blk { margin: 50px auto 50px; }
                  .blog_post_container{ margin-block:120px 50px }
              }
         @media(max-width:1199px){
           section.blog_post_container.tint_service_blk { margin: 50px auto 50px; }
         }
         @media(max-width:992px){
           .blog_post_container{ margin-top: 170px; }
           section.blog_post_container.tint_service_blk { margin: 40px auto; }
                  .blog_post_container { margin-bottom: 40px; }
           .tint_service_tab #tabs-nav{ margin: 0 20px 15px }
                .tint_service_tab #tabs-content .tab-content .tab_img{ gap:10px }
         }
        @media(max-width:767px){
          .blog_post_container { margin-top: 150px; }
          section.blog_post_container.tint_service_blk { margin: 30px auto 20px; }
          .tint_service_tab #tabs-nav li a{ font-size: 16px; }

    .ppf_slider_wrapper .slick-list,
    .statisfid_customers .slick-list{
        padding-inline: 30px
    }
    .ppf_slider_wrapper,
    .statisfid_customers{
        padding: 0
    }
    .ppf_slider_wrapper .item {
        margin: 0 10px;
    }
    section.blog_post_container.tint_service_blk{
        margin-inline: 0 !important;
        width: 100%;
        padding: 0 15px;
    }

  .tired_of_dealing_wrap { padding-top: 10px; padding-bottom: 47px; }
  .how_its_done_row{ display: flex; flex-wrap: wrap; gap:20px; justify-content: center; }
  .how_its_done_row .col{ flex:0 0 calc(50% - 20px); }
  .tired_of_deal_item{
    display: grid;
    grid-template-rows: 1fr auto;
}
.tired_of_deal_content{
    order: 1
}
.tired_of_deal_item img {
    height: 100%;
    object-fit: cover;
}
  
}
@media(max-width:576px){
  .blog_post_container{ width: calc(100% + 35px); position: unset; margin: 120px -20px 40px !important; }
  section.blog_post_container.tint_service_blk { margin-top: 60px !important; }
  .tint_service_tab #tabs-content .tab-content .tab_img { grid-template-columns: 1fr; gap:0; }
  .tint_service_tab #tabs-nav li a { font-size: 19px; }
  .tint_service_tab #tabs-nav{ margin-bottom: 25px; border-bottom: 2px solid #DEDEDE; }
  .tint_service_tab #tabs-nav li.active a:after{ height: 2px; bottom: -2px }
  .tired_of_deal_content{
    min-height:67px
}
}

body.modal-open {
    position: unset !important;
}
</style>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.slick/1.4.1/slick.min.js"></script>
<script>
  $(".ppf_slider").slick({
    slidesToShow: 1,
    infinite: true,
    slidesToShow: 1,
    vertical: false,
    nav:true
  });
</script>
<script>
    //mobileOnlySlider(".cstmr_row", true, false, 767);

  function mobileOnlySlider($slidername, $dots, $arrows, $breakpoint) {
  	var slider = $($slidername);
  	var settings = {
  		mobileFirst: true,
  		responsive: [
  			{
  				breakpoint: $breakpoint,
  				settings: "unslick"
  			}
  		]
  	};

  	slider.slick(settings);

  	$(window).on("resize", function () {
  		if ($(window).width() > $breakpoint) {
  			return;
  		}
  		if (!slider.hasClass("slick-initialized")) {
  			return slider.slick(settings);
  		}
  	});
  } // Mobile Only Slider
</script>

<script>
  $('.cstmr_row').slick({
          dots: false,
          infinite: true,
    autoplay: true,
    autoplaySpeed: 1000,
          speed: 300,
          slidesToShow: 5,
          slidesToScroll: 1,
          prevArrow: '<button class="slide-arrow prev-arrow"></button>',
          nextArrow: '<button class="slide-arrow next-arrow"></button>',
          responsive: [
              {
              breakpoint: 1024,
              settings: {
                  slidesToShow: 3
              }
              },
              {
              breakpoint: 600,
              settings: {
                  slidesToShow: 2
              }
              }
          ]
      });
    $('.modal-toggle1').on('click', function(e) {
        e.preventDefault();
        $('.model-1').toggleClass('is-visible');
      });
      $('.modal-toggle2').on('click', function(e) {
        e.preventDefault();
        $('.model-2').toggleClass('is-visible');
      });
      $('.modal-toggle3').on('click', function(e) {
        e.preventDefault();
        $('.model-3').toggleClass('is-visible');
      });
      $('.modal-toggle4').on('click', function(e) {
        e.preventDefault();
        $('.model-4').toggleClass('is-visible');
      });
      $('.modal-toggle5').on('click', function(e) {
        e.preventDefault();
        $('.model-5').toggleClass('is-visible');
      });
      $('.modal-toggle6').on('click', function(e) {
        e.preventDefault();
        $('.model-6').toggleClass('is-visible');
      });
      $('.modal-toggle7').on('click', function(e) {
        e.preventDefault();
        $('.model-7').toggleClass('is-visible');
      });
  $('#tabs-nav li:first-child').addClass('active');
        $('.tab-content').hide();
        $('.tab-content:first').show();
        $('#tabs-nav li').click(function(){
            $('#tabs-nav li').removeClass('active');
            $(this).addClass('active');
            $('.tab-content').hide();
            var activeTab = $(this).find('a').attr('href');
            $(activeTab).fadeIn();
            return false;
        });

  $(window).on('load', function () {
      // Get the section ID from URL parameter
      const urlParams = new URLSearchParams(window.location.search);
      const sectionId = urlParams.get('section');
  //console.log(sectionId);
      if (sectionId) {
        // Find the section element
        const $section = $('#' + sectionId);

        $('#tabs-nav li').removeClass('active');
        $('#tabs-nav li:nth-child(2)').addClass('active');
        $('.tab-content').hide();
        $('#tab2').fadeIn();

        if ($section.length) {
          // Smooth scroll to the section
          $('html, body').animate({
            scrollTop: $section.offset().top + 100
          }, 2000); // 1000ms = 1 second duration
        }
      }
    });
</script>
