<section class="detail-top-bar">
  <div class="bar-outer">
    <div class="bar-left">
      <p><strong>Driving a WELL-USED car?</strong> Get Trapo Car Coating Films instead.</p>
    </div>
    <div class="bar-right">
      <a class="bar-btn" href="/pages/trapo-car-coating">View Coating</a>
    </div>
  </div>
</section>
<section class="tint_films">
  <div class="tint_films_img">
    <img
      src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/ppf-header-desktop-new.webp?v=1724389410"
      alt=""
      class="desk_img"
    >
    <img
      src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/ppf-header-mobile-new1.png?v=1724397673"
      alt=""
      class="mobile_img"
    >
    <a href="https://api.whatsapp.com/send?phone=60126388285" class="banner-btn">BOOK NOW</a>
  </div>
</section>
<section class="tint_new_video">
  <div class="container_md">
    <div class="video">
      <div class="wrapper">
        <div data-embed="Lx1lbTeqkWU" class="youtube">
          <div class="play-button"></div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="two_blks">
  <div class="container_md">
    <div class="two_blks_row">
      <div class="col">
        <div class="left">
          <img
            src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/1a_-_Protect_Your_Original_Paint.gif?v=1718856546"
            alt=""
          >
        </div>
        <div class="right">
          <h1>PROTECT YOUR ORIGINAL PAINT</h1>
          <p>
            Your car is your pride and investment. Our PPF film protects it from the elements, preserving its appearance
            and value. And with premium paint protection, you're enhancing its resale potential.
          </p>
        </div>
      </div>
      <div class="col">
        <div class="left">
          <img
            src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/1b_-_Superior_Craftmanship.gif?v=1718856544"
            alt=""
            style="width: 100%;"
          >
        </div>
        <div class="right">
          <h1>superior craftsmanship</h1>
          <p>
            Our professional installers bring 15 years of combined experience in PPF installation, guaranteeing
            exceptional quality and meticulous attention to detail. Count on precise panel edge wrapping for maximum
            protection
          </p>
        </div>
      </div>
      <div class="col">
        <div class="left">
          <img
            src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/1c_-_Self_Healing_PPF_Films.gif?v=1718856546"
            alt=""
          >
        </div>
        <div class="right">
          <h1>SELF HEALING PPF FILMS</h1>
          <p>
            Our PPF film boasts self-healing capabilities, activated at temperatures above 60°C, effectively repairing
            even stone chip damage for seamless protection.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="ppf_slider_wrapper">
  <div class="ppf_slider">
    <div class="item">
      <h2>OUR WARRANTY</h2>
      <p>
        Our Car PPF Films come with comprehensive warranty coverage options: choose from 5-year or 7-year plans to best
        suit your needs. This warranty covers yellowing, cracking, reduced glossiness, and glue residue upon removal. To
        ensure your PPF film performs optimally and maintains its protective qualities, regular maintenance is
        essential.
      </p>
    </div>
    <div class="item">
      <h2>industry leading technical partners</h2>
      <p class="img-item">
        <img
          class="lazyload desk_img"
          data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/technical-partners.png?v=1718018368"
        >
        <img
          class="lazyload mobile_img"
          data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/industry-img-mobile.png?v=1720074405"
        >
      </p>
    </div>
    <div class="item">
      <h2>1-to-1 replacement</h2>
      <p>
        Should your PPF film experience any issues such as yellowing, cracking, glue residue, corrosion, hydrolysis, or
        dullness, our 1-to-1 replacement promise ensures that your car maintains its original glossy appearance and
        water-repellent capabilities.
      </p>
    </div>
  </div>
</section>
<section class="how_its_done">
  <div class="container_md">
    <h2>HOW IS IT DONE?</h2>
    <div class="how_its_done_row">
      <div class="col">
        <img
          src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/GIF_Coat_2a_Deep_Wash_gif.gif?v=1719382685"
          alt=""
        >
      </div>
      <div class="col">
        <img
          src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/GIF_PPF_2b_Film_Application_gif.gif?v=1719382681"
          alt=""
        >
      </div>
      <div class="col">
        <img
          src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/GIF_PPF_2c_QC_Inspection_gif.gif?v=1719382682"
          alt=""
        >
      </div>
    </div>
  </div>
</section>
<section class="statisfid_customers">
  <h2>satisfied customers</h2>
  <div class="cstmr_row">
    <div class="col">
      <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/1_ppf_new.jpg?v=1724837497">
    </div>
    <div class="col">
      <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/2_ppf_new.jpg?v=1724837497">
    </div>
    <div class="col">
      <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/3_ppf_new.jpg?v=1724837497">
    </div>
    <div class="col">
      <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/4_ppf_new.jpg?v=1724837497">
    </div>
    <div class="col">
      <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/5_ppf_new.jpg?v=1724837497">
    </div>
    <div class="col">
      <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/6_ppf_new.jpg?v=1724837497">
    </div>
    <div class="col">
      <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/7_ppf_new.jpg?v=1724837497">
    </div>
    <div class="col">
      <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/8_ppf_new.jpg?v=1724837497">
    </div>
    <div class="col">
      <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/9_ppf_new.jpg?v=1724837497">
    </div>
    <div class="col">
      <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/10_ppf_new.jpg?v=1724837497">
    </div>
    <div class="col">
      <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/11_ppf_new.jpg?v=1724837497">
    </div>
    <div class="col">
      <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/12_ppf_new.jpg?v=1724837497">
    </div>
    <div class="col">
      <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/13_ppf_new.jpg?v=1724837497">
    </div>
    <div class="col">
      <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/14_ppf_new.jpg?v=1724837497">
    </div>
    <div class="col">
      <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/15_ppf_new.jpg?v=1724837497">
    </div>
    <div class="col">
      <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/16_ppf_new.jpg?v=1724837497">
    </div>
    <div class="col">
      <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/17_ppf_new.jpg?v=1724837497">
    </div>
    <div class="col">
      <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/18_ppf_new.jpg?v=1724837497">
    </div>
  </div>
</section>

<section class="tint_brochure">
  <div class="container">
    <div class="top">
      <h3>Starting from</h3>
      <h1>RM 2900 ONLY!*</h1>
      <p>Get full info of our Trapo PPF price and spec list here:</p>
      <script
        src="//latest.trapo.asia/resources/sharing/embed.js?sharing=lp-embed&domain=latest.trapo.asia&id=5FL1-BPY%2Fppfmagnet%22&description="
      ></script>
    </div>
    <div class="bottom">
      <div class="row justify-content-center main-img mb-5">
        <h3 class="l-main-title">Available at:</h3>
        <div class="col-lg-4 col-4">
          <img
            class="lazyload"
            data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Bangsar_Hub.png?v=1721795818"
          >
          <p class="l-title">
            TRAPO <br>
            Bangsar Hub
          </p>
          <a
            class="l-link"
            href="https://www.google.com/maps/place/Trapo+Bangsar+Hub/@3.1310563,101.663889,15z/data=!4m6!3m5!1s0x31cc4929b4ce44b1:0xfd55544ae91447c3!8m2!3d3.1310563!4d101.6726438!15sCgV0cmFwbyIDiAEBkgEVY2FyX2FjY2Vzc29yaWVzX3N0b3Jl?shorturl=1"
            >View Location</a
          >
        </div>

        <div class="col-lg-4 col-4">
          <img
            class="lazyload"
            data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/TD_Hub.png?v=1721795821"
          >
          <p class="l-title">
            TRAPO <br>
            Taman Daya JB Hub
          </p>
          <a
            class="l-link"
            href="https://www.google.com/maps?q=TRAPO+Taman+Daya+Hub+(Car+Mats+%26+Accessories),+TD+Central,+5F,+Jalan+Sagu+21,+Taman+Daya,+81100+Johor+Bahru,+Johor&ftid=0x31da6d9dc26cacb9:0x957492f0cdcb0e17&entry=gps&lucs=,94222349,47071704,47069508,94218635,94203019,47084304,94208458,94208447&g_ep=CAISDTYuMTE3LjEuNjI5MjAYACCenQoqSCw5NDIyMjM0OSw0NzA3MTcwNCw0NzA2OTUwOCw5NDIxODYzNSw5NDIwMzAxOSw0NzA4NDMwNCw5NDIwODQ1OCw5NDIwODQ0N0ICTVk%3D&g_st=com.alibaba.dingtalklite.ShareExtension"
            >View Location</a
          >
        </div>
        <div class="col-lg-4 col-4">
          <img
            class="lazyload"
            data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Trapo_Glenmarie_Profile_Pic.png?v=1723711380"
          >
          <p class="l-title">
            TRAPO <br>
            Glenmarie Hub
          </p>
          <a
            class="l-link"
            href="https://www.google.com/maps/place/TRAPO+Glenmarie+Hub/@3.0879705,101.5782913,15z/data=!4m5!3m4!1s0x0:0xe04a194044664a7!8m2!3d3.0879705!4d101.5782913"
            >View Location</a
          >
        </div>
      </div>
      <a href="https://api.whatsapp.com/send?phone=60126388285" class="cstm_btn">BOOK NOW</a>
      <p class="maint-link">Already got Trapo PPF? <a href="/pages/maintenance">Here's</a> how you can maintain it.</p>
    </div>
  </div>
</section>

<section class="blog_post_container tint_service_blk">
  <div class="tint_service_tab">
    <ul id="tabs-nav">
      <li><a class="active" href="#tab1">FAQ</a></li>
      <li><a href="#tab2">Warranty</a></li>
    </ul>
    <div id="tabs-content">
      <div id="tab1" class="tab-content">
        <p class="faq-title"><strong>1. What is Trapo PPF?</strong></p>
        <p>
          Trapo PPF is a high-quality, transparent film applied to the surface of your vehicle to protect the paint from
          various types of damage.
        </p>
        <p class="faq-title"><strong>2. What does Trapo PPF protect against? </strong></p>
        <p>
          Trapo PPF provides protection against yellowing, corrosion, cracking, hydrolysis, glue residue, and dullness
          caused by everyday elements and environmental factors.
        </p>
        <p class="faq-title"><strong>3. How long does Trapo PPF last? </strong></p>
        <p>
          Trapo PPF is designed to be durable and long-lasting. The lifespan can vary depending on usage and
          environmental conditions, but it typically provides protection for several years.
        </p>
        <p class="faq-title"><strong>4. Is Trapo PPF easy to maintain? </strong></p>
        <p>
          Yes, Trapo PPF is low-maintenance. It can be washed and waxed like your vehicle's paint, ensuring that your
          car looks great while remaining protected.
        </p>
        <p class="faq-title"><strong>5. Can Trapo PPF be removed?</strong></p>
        <p>
          Yes, Trapo PPF can be safely removed without damaging your vehicle's paint. This allows for easy replacement
          or restoration of the film if necessary.
        </p>
        <p class="faq-title"><strong>6. Will Trapo PPF affect the appearance of my vehicle? </strong></p>
        <p>
          No, Trapo PPF is virtually invisible once applied, preserving the original look and color of your vehicle
          while providing enhanced protection.
        </p>
        <p class="faq-title"><strong>7. Can Trapo PPF be applied to any vehicle? </strong></p>
        <p>
          Yes, Trapo PPF can be applied to cars, trucks, SUVs, and other vehicles with painted surfaces. It is
          customizable to fit different parts of your vehicle, including hoods, bumpers, mirrors, and more.
        </p>
        <p class="faq-title"><strong>8. Does Trapo PPF come with a warranty? </strong></p>
        <p>
          Yes, Trapo PPF is backed by a warranty that covers specific protections and assurances. Please refer to our
          warranty terms for details on coverage and exclusions.
        </p>
        <p class="faq-title"><strong>9. How is Trapo PPF installed? </strong></p>
        <p>
          Trapo PPF installation is performed by trained professionals who ensure a precise fit and seamless
          application. The process involves cleaning the surface thoroughly before applying the film in a controlled
          environment.
        </p>
        <p class="faq-title"><strong>10. Where can I get Trapo PPF installed? </strong></p>
        <p>
          Trapo PPF is installed by authorized dealers and certified installers. Contact us or visit our website to find
          a location near you and schedule an installation appointment.
        </p>
        <p class="faq-title"><strong>Have more questions? </strong></p>
        <p>
          Feel free to reach out to our customer support team for any additional inquiries or information about Trapo
          PPF. We're here to help you protect your vehicle with the best paint protection film available!
        </p>
      </div>
      <div id="tab2" class="tab-content">
        <p class="faq-title"><strong>Yellowing Prevention:</strong></p>
        <p>PPF remains free from yellowing.</p>
        <p class="faq-title"><strong>Corrosion Protection:</strong></p>
        <p>PPF protects against corrosion.</p>
        <p class="faq-title"><strong>Cracking Prevention:</strong></p>
        <p>PPF will not crack.</p>
        <p class="faq-title"><strong>Hydrolysis Protection:</strong></p>
        <p>PPF is protected from hydrolysis.</p>
        <p class="faq-title"><strong>Glue Residue Protection:</strong></p>
        <p>PPF will not leave glue residue.</p>
        <p class="faq-title"><strong>Dullness Prevention:</strong></p>
        <p>PPF remains free from dullness.</p>
      </div>
    </div>
  </div>
</section>

<style>
  p.maint-link{
    margin-top: 20px;
    font-weight: 700;
    letter-spacing: 0.5px;
  }
  .detail-top-bar{
    background-color: #DEDEDE;
    padding: 15px 15px;
    margin: 0 auto;
  }
  .detail-top-bar .bar-outer{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .detail-top-bar .bar-outer .bar-left{
    margin-right: 5%;
  }
  .detail-top-bar .bar-outer .bar-left p{
    margin: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 18px;
    letter-spacing: 0.5px;
  }
  .detail-top-bar .bar-outer .bar-right a.bar-btn{
    border-radius: 5px;
    color: #fff;
    padding: 10px 30px;
    background: #E82276;
    font-size: 11px;
    letter-spacing: 1px;
    font-weight: 700;
    text-transform: uppercase;
  }
            .tint_films img{
                width: 100%;
                display: block;
            }
            .tint_new_video{
                margin-top: -175px;
            }
            .tint_new_video img{
                display: block;
                margin: 0 auto;
              width:100%;
            }
            .two_blks{
                margin-bottom: 60px;
            }
            .two_blks .container_md{
                max-width: 1000px;
                width: 100%;
                margin: 0 auto;
            }
            .two_blks_row {
                display: flex;
                flex-direction: column;
                gap:21px;
            }
            .two_blks_row .col{
                display: grid;
                grid-template-columns: 39% 1fr;
                gap:55px;
                align-items: center;
            }
            .two_blks_row .col img{
                width: 100%;
                display: block;
               border-radius: 20px;
            }
            .two_blks_row .col h1{
                font-size: 32px;
                line-height: 30px;
                letter-spacing: 2px;
                margin-bottom: 14px;
                text-transform: uppercase;
                font-weight: 500
            }
            .two_blks_row .col p{
                color: #1B3D6D;
                font-size: 16px;;
                line-height: 24px;
                letter-spacing: 0.19px;
            }
            .two_blks_row .col:nth-child(2){
                 grid-template-columns:1fr 39%;
            }
            .two_blks_row .col:nth-child(2) .right{
                order: 1;
                padding-left: 40px
            }
            .two_blks_row .col:nth-child(2) .left{
                order: 2;
            }
  .ppf_slider.slick-slider .slick-track{
    display: flex !important;
  }
  .ppf_slider.slick-slider .slick-track .slick-slide{
    height: inherit !important;
  }
            .ppf_slider_wrapper{
                max-width: 1247px;
                width: 100%;
                margin: 0 auto 61px;
            }
            .ppf_slider_wrapper .item{
                background-color: #1B3D6D;
                padding: 58px 0;
                border-radius: 12px;
                margin: 0 15px;
            }
            .ppf_slider_wrapper .item h2{
                color: #fff;
                text-align: center;
                font-size: 24px;
                line-height: 28px;
                letter-spacing: 2px;
                text-transform: uppercase;
                margin: 0 0 27px
            }
  .ppf_slider_wrapper .item p.img-item{
    max-width: fit-content;
  }
            .ppf_slider_wrapper .item p{
                max-width: 595px;
                width: 100%;
                margin: 0 auto;
                color: #fff;
                font-size: 19px;
                line-height: 27px;
                letter-spacing: 0.19px;
                text-align: center;
            }
            .ppf_slider_wrapper button{
                position: absolute;
                top: 50%;
                left: 12%;
                transform:translate(0,-50%);
                width: 85px;
                height: 85px;
                border-radius: 50px;
                background-image: url('https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_138.png?v=1717089724');
                background-size: 100%;
                background-position: center;
                background-color: transparent;
                font-size: 0;
            }
            .ppf_slider_wrapper .slick-next{
                right: 12%;
                left: unset;
                background-image: url('https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_137_9a476264-6c67-49f6-9d42-563b0ee817b8.png?v=1717089735')
            }
            .how_its_done{
                background-color: #DEDEDE;
                padding: 60px 15px;
                margin-bottom: 43px;
            }
            .how_its_done .container_md{
                max-width: 983px;
                width: 100%;
                margin: 0 auto;
            }
            .how_its_done h2,.statisfid_customers h2,.tint_range h2{
                font-size: 24px;
                font-weight: 600;
                margin-bottom: 43px;
                line-height: 28px;
                letter-spacing: 2px;
                text-align: center;
              text-transform: uppercase;
              margin-bottom:20px;
            }
            .how_its_done_row{
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                gap:44px;
            }
            .how_its_done_row .col{
                position: relative;
            }
            .how_its_done_row .col h3{
                position: absolute;
                font-size: 36px;
                letter-spacing: 1px;
                font-weight: bold;
                line-height: 1;
                text-align: center;
                top: 50%;
                margin: 0;
                padding: 0;
                left: 50%;
                transform: translate(-50%,-50%);
                color: #fff;
            }
            .statisfid_customers {
              text-align: center;
          }

          .statisfid_customers .cstmr_row .col{
              border-radius: 12px;
              font-size: 16px;
              line-height: 19px;
              color: #fff;
              padding-inline:10px;
          }
          .statisfid_customers .cstmr_row .col span{
              margin-bottom: 16px;
              display: block;
          }
          .statisfid_customers .cstmr_row .col img{
              margin-bottom: 16px;
              display: block;
            width:100%;
          }
          .statisfid_customers .cstmr_row .col strong{
              display: block;
              color: #fff;
              margin-bottom: 8px;
          }
          .statisfid_customers .cstmr_row .col p{
              max-width: 171px;
              margin: 0 auto;
              width: 100%;
              line-height: 1.3;
              margin-bottom: 15px;
          }
          .statisfid_customers .cstmr_row .col a{
              color: #fff;
              text-decoration: underline;
          }
  .statisfid_customers .cstmr_row .slide-arrow{
      padding: 0;
      width: 30px;
      height: 25px;
      background: transparent;
      box-shadow: none;
      border: 0;
      position: absolute;
      top: 50%;
      left: 30px;
      transform: translate(0, -50%);
      z-index: 1;
  }
    .statisfid_customers .cstmr_row .next-arrow {
      right: 20px;
      left: auto;
  }
    .statisfid_customers .cstmr_row .prev-arrow::after{
      content: "";
      position: absolute;
      left: 0;
      z-index: 11;
      display: block;
      width: 20px;
      height: 20px;
      border-top: 3px solid #fff;
      border-left: 3px solid #fff;
      transform: rotate(-45deg);
  }
     .statisfid_customers .cstmr_row .next-arrow::after {
      content: "";
      position: absolute;
      left: 0;
      z-index: 11;
      display: block;
      width: 20px;
      height: 20px;
      border-top: 3px solid #fff;
      border-left: 3px solid #fff;
      transform: rotate(-225deg);
  }
            .tint_range {
                margin-bottom: 118px;
            }
            .tint_range h2{
                text-align: center;
                font-size: 24px;
                line-height: 28px;
                letter-spacing: 5px;
                margin-block:30px 24px;
            }
            .tint_range .high_clarity{
                background-color: #DEDEDE
            }
            .tint_range .high_clarity p{
                color: #1B3D6D
            }
            .tint_range .item {
                display: flex;
                flex-direction: column;
                height: 100%;
            }
            .tint_range .item img{
                max-width: 260px;
                width: 100%;
                margin: 0 auto 30px;;
            }

            .tint_range .premium_tint{
                background-color: #222222
            }
            .tint_table .container_md{
                max-width: 1037px;
                width: 100%;
                margin: 0 auto;
            }
            .tint_table thead tr th{
                background-color: transparent !important
            }
            .tint_table tbody tr:nth-child(odd){
                background-color: #F8F8F8;
            }
            .tint_table th,
            .tint_table tr,
            .tint_table td{
                border: 0 !important;
            }
            .tint_table th img{
                width: 100%;
            }
            .tint_table .col_1{
                width: 32%;
            }
            .tint_table .col_1 div{
                display: flex;
                align-items: center;
                justify-content: space-between;
                color: #808080
            }
            .tint_table .col_1 div img{
                width: 21px;
            }
            .tint_table td{
                text-align: center;
                font-size: 18px;
                color: #1B3D6D;
                line-height: 19px;
                padding: 30px !important;
            }
            .tint_table .col_2{
                border-inline:1px solid #DEDEDE !important
            }
            .tint_table .col_3{
                border-right:1px solid #DEDEDE !important
            }
            .tint_brochure {
                margin-top: 89px;
            }
            .tint_brochure .container{
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
            }
            .tint_brochure .top {
                margin-bottom: 75px;
            }
            .tint_brochure .top h3{
                font-size: 34px;
                margin: 0;
                line-height: 52px;
                font-weight: 300
            }
            .tint_brochure .top h1{
                font-size: 60px;
                font-weight: bold;
                line-height: 68px;
            }
            .tint_brochure .top p{
                color: #808080;
                text-transform: normal;
                display: block;
                margin-bottom: 10px;
            }
            .tint_brochure .cstm_btn{
                display: block;
                max-width: 210px;
                font-size: 14px;
                margin: 0 auto;
                width: 100%;
                background-color: #EE2A7B;
                padding: 14px;
                border-radius: 50px;
                color: #fff;
            }
  .tint_films_img{
    position:relative;
  }
            .tint_films_img .banner-btn{
                position: absolute;
                top: 65%;
                left: 50%;
                transform: translate(-50%, -50%);
                display: block;
                max-width: 210px;
                font-size: 14px;
                margin: 0 auto;
                width: 100%;
                background-color: #EE2A7B;
                padding: 14px;
                border-radius: 50px;
                color: #fff;
              text-align: center;
            }
            .tint_brochure .bottom h2{
                font-size: 24px;
                line-height: 24px;
                letter-spacing: 2px;
                margin-bottom: 42px;
              font-weight:600;
            }
            .tint_brochure .bottom img{
                margin-bottom: 10px;
                width: 100%;
            }
  h3.l-main-title{
    font-weight:700;
  }
  p.l-title{
    font-weight: 700;
    letter-spacing: 0.5px;
    line-height: normal;
    font-size: 16px;
  }
  a.l-link{
    text-decoration: underline;
  }
            .tint_brochure .bottom span{
                font-size: 16px;
                color: #808080;
                display: block;
                margin-bottom: 30px;
              font-weight:700;
            }
              .how_its_done_row .col img {
                width: 100%;
            }
              .tint_table .modal-content h2{
                font-size:20px;
                line-height:21px;
                letter-spacing:2px;
                color:#fff;
              }
              .tint_table .modal-content p{
                font-size:16px;
                line-linehgt:24px;
                color:#fff;
              }
              .tint_table .modal {
                position: absolute;
                z-index: 10000; /* 1 */
                top: 0;
                left: 0;
                visibility: hidden;
                width: 100%;
                height: 100%;
              }

             .tint_table  .modal.is-visible {
                  visibility: visible;
              }

              .tint_table .modal-overlay {
                position: fixed;
                z-index: 10;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: hsla(0, 0%, 0%, 0.5);
                visibility: hidden;
                opacity: 0;
                transition: visibility 0s linear 0.3s, opacity 0.3s;
              }

              .tint_table .modal.is-visible .modal-overlay {
                opacity: 1;
                visibility: visible;
                transition-delay: 0s;
              }

              .tint_table .modal-wrapper {
        position: fixed;
        z-index: 9999;
        top: 20%;
        left: 50%;
        width: calc(100% - 30px);
        background-color: #E82276;
        box-shadow: 0 0 1em hsla(0, 0%, 0%, 0.25);
        border-radius: 12px;
        overflow: hidden;
        transform: translate(-50%, -20%);
        max-width: 500px;
    }

              .tint_table .modal-transition {
                transition: all 0.3s 0.12s;
                opacity: 0;
              }

              .tint_table .modal.is-visible .modal-transition {
                opacity: 1;
              }

              .tint_table .modal-header,
              .tint_table .modal-content {
                background-color: #E82276;
                  text-align: center;
                  padding: 15px 20px 20px;
                  border: 0;
              }

              .tint_table .modal-header {
                position: relative;
                background-color: #E82276;
                border-bottom: 0;
              }

              .tint_table .modal-close {
                position: absolute;
                top: 15px;
                right: 15px;
                padding: 0;
                color: #aaa;
                background: none;
                border: 0;
                  z-index: 999
              }

              .tint_table .modal-close:hover {
                color: #777;
              }

              .tint_table .modal-heading {
                font-size: 1.125em;
                margin: 0;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
              }

              .tint_table .modal-content > *:first-child {
                margin-top: 0;
              }

              .tint_table .modal-content > *:last-child {
                margin-bottom: 0;
              }
            .video {
              position: relative;
            top: 50px;
            width: 75%;
            margin: 0 auto;
            margin-bottom: 85px;
        }
        @media (max-width: 576px) {
            .video {
                top: 40px;
                width: 95%;
            }
        }
              @media(max-width:1366px){
                .tint_new_video img{
                    width: 75vw;
                }
                .tint_new_video {
                    margin-top: -10vw;
                }
            }
            @media(max-width:1024px){
                .two_blks_row .col {
                    grid-template-columns: 42% 1fr;
                    gap: 25px;
                }
                .two_blks_row .col:nth-child(2) {
                    grid-template-columns: 1fr 42%;
                }
                .two_blks_row .col h1{
                    font-size: 28px;
                }
                .ppf_slider_wrapper .slick-prev{
                    left: 40px
                }
                .ppf_slider_wrapper .slick-next{
                    right: 40px;
                }
                .how_its_done_row .col h3{
                    font-size: 24px;
                }
                .how_its_done {
                    padding: 30px 15px;
                }
                .how_its_done_row{
                    gap:25px;
                }
                .tint_table td{
                    padding: 20px !important;
                  min-width:180px
                }
                .statisfid_customers .cstmr_row{
                    gap:10px
                }
            }
              @media(min-width:768px){
                .mobile_img{
                  display:none !important;
                }
              }
            @media(max-width:767px){
              .tint_films_img .banner-btn{
                top: 85%;
              }
              p.l-title{
                max-width: 95px;
    margin: 0 auto;
              }
              .detail-top-bar .bar-outer .bar-right a.bar-btn{
                  display: block;
        width: 120px;
        text-align: center;
        padding: 5px 10px;
            }
              .desk_img{
                display:none !important;
              }
              .tint_new_video img {
                width: 100%;
            }
              .tint_new_video {
                margin-block: -80px 45px;
            }
                .two_blks_row .col:nth-child(2),
                .two_blks_row .col {
                    grid-template-columns:1fr;
                    gap: 25px;
                }
                .two_blks {
                    overflow: hidden;
                }
                .two_blks_row .col img {
                    width: calc(100% + 40px) !important;
                    margin: 0 -20px;
                }
                .two_blks_row .col:nth-child(2) .left {
                    order: 1;
                }
                .two_blks_row .col .right{
                    text-align: center;
                    padding: 0 15px;
                  padding-left: 15px !important;
                }
                .two_blks_row .col h1 {
                    font-size: 20px;
                    font-weight: 600
                }
                .ppf_slider_wrapper{
                    padding: 0 15px;
                }
                .statisfid_customers .cstmr_row {
                  display: unset;
              }
              .statisfid_customers .cstmr_row button{
                display:none !important
              }
              .statisfid_customers {
                padding: 0 5px;
            }
              .statisfid_customers .cstmr_row .col{
                margin:0 10px;
                padding-inline:0;
              }
                .ppf_slider_wrapper button{
                        width: 44px;
                        height: 44px;
                }
              .ppf_slider_wrapper .slick-prev {
        left: 20px;
    }
                  .ppf_slider_wrapper .slick-next {
        right: 20px;
    }
                .ppf_slider_wrapper .item {
                    padding:40px 20px;
                    margin: 0;
                }
                .ppf_slider_wrapper .item p{
                    font-size: 16px;
                }
                .ppf_slider_wrapper .item h2{
                    font-size: 20px;
                    margin-bottom: 21px;
                }
                .how_its_done_row {
                    grid-template-columns: 1fr;
                    gap:30px
                }
                .how_its_done_row .col{
                    max-width: 311px;
                    width: 100%;
                    margin: 0 auto
                }
                .tint_table {
                    overflow-y: auto;
                    width: calc(100% - 20px);
                    margin: 0 auto;
                }
                .tint_table .col_1 {
                    min-width: 220px;
                }
                .tint_table{
                    overflow-y: auto
                }
                .tint_brochure .top h1{
                    font-size: 28px;
                    line-height: 31px;
                }
                .tint_brochure .top h3{
                    font-size: 16px;
                    line-height: 24px;
                }
                .tint_brochure {
                    margin-top: 30px;
                }
                .tint_brochure .top p {
                    font-size: 16px;
                    line-height: 24px;
                    text-transform: capitalize;
                    color: #1B3D6D;
                    margin-bottom: 33px;
                    margin: 0 auto;
    max-width: 75%;
    text-align: center;
                }
                .tint_brochure .top {
                    margin-bottom: 25px;
                }
                .tint_brochure .bottom h2{
                    font-size: 20px
                }
                .tint_brochure .bottom h2 {
                    font-size: 20px;
                    margin: 0 auto 18px;
                }
                .tint_brochure .bottom img {
                    margin-bottom: 18px;
                    width: 100%;
                }
                .tint_range {
                    margin-bottom: 70px;
                }
                .how_its_done h2,
                .statisfid_customers h2,
                .tint_range h2 {
                    font-size: 20px;
                    line-height: 28px;
                    letter-spacing: 2px;
                    font-weight: 600;
                    text-transform: uppercase
                }
                .how_its_done_row .col h3 {
                    font-size: 36px;
                }
            }
      .blog_post_container{ max-width: 1210px; width: 100%; margin: 160px auto 97px; }
        section.blog_post_container.tint_service_blk { margin: 100px auto 50px; }
      .tint_service_tab #tabs-nav{ list-style-type: none; display: flex; justify-content: space-evenly; margin: 0 20px 50px; border-bottom: 3px solid #DEDEDE; padding: 0; }
            .tint_service_tab #tabs-nav li{ margin: 0; }
            .tint_service_tab #tabs-nav li a{ font-size: 19px; line-height: 16.8px; color: #E82276; position: relative; cursor: pointer; }
            .tint_service_tab #tabs-nav li.active a:after{ content: ''; position: absolute; width: 100%; height: 3px; background-color: #E82276; bottom: -5px; left: 0 }
            .tint_service_tab #tabs-content .tab-content .tab_img{ display: grid; grid-template-columns: 1fr 1fr 1fr; gap:15px; }
            .tint_service_tab #tabs-content img{ width: 100%; }
         @media(max-width:1440px){
                  section.blog_post_container.tint_service_blk { margin: 50px auto 50px; }
                  .blog_post_container{ margin-block:120px 50px }
              }
         @media(max-width:1199px){
           section.blog_post_container.tint_service_blk { margin: 50px auto 50px; }
         }
         @media(max-width:992px){
           .blog_post_container{ margin-top: 170px; }
           section.blog_post_container.tint_service_blk { margin: 40px auto; }
                  .blog_post_container { margin-bottom: 40px; }
           .tint_service_tab #tabs-nav{ margin: 0 20px 15px }
                .tint_service_tab #tabs-content .tab-content .tab_img{ gap:10px }
         }
        @media(max-width:767px){
          .blog_post_container { margin-top: 150px; }
          section.blog_post_container.tint_service_blk { margin: 30px auto 20px; }
          .tint_service_tab #tabs-nav li a{ font-size: 16px; }

    .ppf_slider_wrapper .slick-list,
    .statisfid_customers .slick-list{
        padding-inline: 30px
    }
    .ppf_slider_wrapper,
    .statisfid_customers{
        padding: 0
    }
    .ppf_slider_wrapper .item {
        margin: 0 10px;
    }
    section.blog_post_container.tint_service_blk{
        margin-inline: 0 !important;
        width: 100%;
        padding: 0 15px;
    }
        }
        @media(max-width:576px){
          .blog_post_container{ width: calc(100% + 35px); position: unset; margin: 120px -20px 40px !important; }
          section.blog_post_container.tint_service_blk { margin-top: 60px !important; }
          .tint_service_tab #tabs-content .tab-content .tab_img { grid-template-columns: 1fr; gap:0; }
                .tint_service_tab #tabs-nav li a { font-size: 19px; }
                .tint_service_tab #tabs-nav{ margin-bottom: 25px; border-bottom: 2px solid #DEDEDE; }
                .tint_service_tab #tabs-nav li.active a:after{ height: 2px; bottom: -2px }
        }
</style>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.slick/1.4.1/slick.min.js"></script>
<script>
  $(".ppf_slider").slick({
    slidesToShow: 1,
    infinite: true,
    slidesToShow: 1,
    vertical: false,
    nav:true
  });
</script>
<script>
    //mobileOnlySlider(".cstmr_row", true, false, 767);

  function mobileOnlySlider($slidername, $dots, $arrows, $breakpoint) {
  	var slider = $($slidername);
  	var settings = {
  		mobileFirst: true,
  		responsive: [
  			{
  				breakpoint: $breakpoint,
  				settings: "unslick"
  			}
  		]
  	};

  	slider.slick(settings);

  	$(window).on("resize", function () {
  		if ($(window).width() > $breakpoint) {
  			return;
  		}
  		if (!slider.hasClass("slick-initialized")) {
  			return slider.slick(settings);
  		}
  	});
  } // Mobile Only Slider
</script>

<script>
  $('.cstmr_row').slick({
          dots: false,
          infinite: false,
          speed: 300,
          slidesToShow: 5,
          slidesToScroll: 1,
          prevArrow: '<button class="slide-arrow prev-arrow"></button>',
          nextArrow: '<button class="slide-arrow next-arrow"></button>',
          responsive: [
              {
              breakpoint: 1024,
              settings: {
                  slidesToShow: 3
              }
              },
              {
              breakpoint: 600,
              settings: {
                  slidesToShow: 2
              }
              }
          ]
      });
    $('.modal-toggle').on('click', function(e) {
    e.preventDefault();
    $('.modal').toggleClass('is-visible');
  });
  $('#tabs-nav li:first-child').addClass('active');
        $('.tab-content').hide();
        $('.tab-content:first').show();
        $('#tabs-nav li').click(function(){
            $('#tabs-nav li').removeClass('active');
            $(this).addClass('active');
            $('.tab-content').hide();
            var activeTab = $(this).find('a').attr('href');
            $(activeTab).fadeIn();
            return false;
        });
</script>
