<div class="press-kit-outer">

<main>
  <div class="container">
    <h1 class="page-title">Press Kit</h1>
    <div class="text-center">
      <img data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/press-kit-1.jpg" class="img-new lazyload" width="100%">
    </div>
  </div>
</main>
<div class="container">
  <p class="col-md-12 para-text" style="padding: 15px;">Hello! We've created some guidelines to help you use our brand and assets, 
    including our logo, content and trademark without having to negotiate legal agreement for each use.
  </p>
</div>
<div class="container" id="trapo-images">      
  <div class="row">
    <div class="col-md-6 col-6">
      <h3 class="text-center">Trapo Non-White Border</h3>
      <div class="h-100 para-text">
        <img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/cover_trapoLogo_non-white_border.jpg?v=1727757366" width="100%">
        <div class="links"><a href="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Trapo_Non-White_Border_Logo.png?v=1611557714">PNG</a> | <a href="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Trapo_Non-White_Border_Logo.svg?v=1611557714">SVG</a></div>
      </div>
    </div>
    <div class="col-md-6 col-6">
      <h3 class="text-center">Trapo White Border</h3>
      <div class="h-100 para-text">
        <img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/cover_trapoLogo_white_border.jpg?v=1727757365" width="100%">
        <div class="links"><a href="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Trapo_White_Border_Logo.png?v=1611557714">PNG</a> | <a href="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Trapo_White_Border_Logo.svg?v=1611557714">SVG</a></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-6">
      <h3 class="text-center">Trapo Monochrome Black</h3>
      <div class="h-100 para-text">
        <img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/cover_trapoLogo_monochrome_black.jpg?v=1727757365" width="100%">
        <div class="links"><a href="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Trapo_Monochrome_Black_Logo.png?v=1611557714">PNG</a> | <a href="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Trapo_Monochrome_Black_Logo.svg?v=1611557714">SVG</a></div>
      </div>
    </div>
    <div class="col-md-6 col-6">
      <h3 class="text-center">Trapo Monochrome White</h3>
      <div class="h-100 para-text">
        <img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/cover_trapoLogo_monochrome_white.jpg?v=1727757366" width="100%">
        <div class="links"><a href="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Trapo_Monochrome_White_Logo.png?v=1611557714">PNG</a> | <a href="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Trapo_Monochrome_White_Logo.svg?v=1611557714">SVG</a></div>
      </div>
    </div>
  </div>
</div>
<div class="container" id="mat-images">      
  <div class="row">
    <div class="col-md-6 col-6">
      <h3 class="text-center">Trapo Classic Front</h3>
      <div class="h-100 para-text">
        <img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/cover__classic_front.jpg?v=1727757366" width="100%">
        <div class="links text-center"><a href="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Trapo_Classic_Front.png?v=1611558365">PNG</a></div>
      </div>
    </div>
    <div class="col-md-6 col-6">
      <h3 class="text-center">Trapo Classic Side</h3>
      <div class="h-100 para-text">
        <img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/cover__classic_side.jpg?v=1727757366" width="100%">
        <div class="links text-center"><a href="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Trapo_Classic_Side.png?v=1611558363">PNG</a> </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-6">
      <h3 class="text-center">Trapo Hex Front</h3>
      <div class="h-100 para-text">
        <img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/cover__hex_front.jpg?v=1727757366" width="100%">
        <div class="links text-center"><a href="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/01.png?v=1637575535">PNG</a></div>
      </div>
    </div>
    <div class="col-md-6 col-6">
      <h3 class="text-center">Trapo Hex Side</h3>
      <div class="h-100 para-text">
        <img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/cover__hex_side.jpg?v=1727757366" width="100%">
        <div class="links text-center"><a href="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/02.png?v=1637575536">PNG</a></div>
      </div>
    </div>
  </div>
  <div class="row trapo_eco_press_kit">
    <div class="col-md-6 col-6">
      <h3 class="text-center">Trapo Eco Front</h3>
      <div class="h-100 para-text">
        <img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/ECO_IV_-_Front.webp?v=1770183386" width="100%">
        <div class="links text-center"><a href="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/ECO_IV_-_Front.webp?v=1770183386">PNG</a></div>
      </div>
    </div>
    <div class="col-md-6 col-6">
      <h3 class="text-center">Trapo Eco Side</h3>
      <div class="h-100 para-text">
        <img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/ECO_IV_-_Side.webp?v=1770183385" width="100%">
        <div class="links text-center"><a href="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/ECO_IV_-_Side.webp?v=1770183385">PNG</a></div>
      </div>
    </div>
  </div>
  <style>
    .trapo_eco_press_kit img{
    display: block;
    width: 100%;
    aspect-ratio:1/1;
    object-fit: contain; 
    margin-bottom:10px   
}
  </style>
</div>

<!-- Hex  -->

<div class="container" id="lifestyle-shots">
  <div class="row">
    <h2 class="text-center">Trapo Hex II</h2> 
    <div class="col-md-12 col-12">
      <img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Hex-LS-1.jpg" width="100%">
    </div>
    <div class="col-md-6 col-6">
      <img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Hex-LS-2.jpg" width="100%">
    </div>
    <div class="col-md-6 col-6">
      <img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Hex-LS-3.jpg" width="100%">
    </div>    
  </div>
  <div class="row">
    <h3 class="">Trapo Hex Fitted in Proton X70 Interior</h3>
    <img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/hex-1.jpg" width="100%">
    <div class="links">
      <a href="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/X70-1_05921e64-88d8-41df-b8cf-604cb2a9b313.jpg?v=1637575265">Picture 1</a> | 
      <a href="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/X70-2_90a8fd0c-d495-4efc-890b-a7acd7c48ea4.jpg?v=1637575264">Picture 2</a> | 
      <a href="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/X70-3_76ae5feb-4d4d-4c8f-b163-af41be68507f.jpg?v=1637575265">Picture 3</a> | 
      <a href="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/X70-4_974316d4-a032-44b1-ab4c-44c5c3b6caf7.jpg?v=1637575265">Picture 4</a>
    </div>
  </div>

  <!-- Classic -->

  <div class="row">
    <h2 class="text-center">Trapo Classic Mark III</h2> 
    <div class="col-md-12 col-12">
      <img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Classic-LS-1.jpg" width="100%">
    </div>
    <div class="col-md-6 col-6">
      <img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Classic-LS-2.jpg" width="100%">
    </div>
    <div class="col-md-6 col-6">
      <img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Classic-LS-3.jpg" width="100%">
    </div>    
  </div>
  <div class="row">
    <h3 class="">Trapo Classic Fitted in Nissan Almera</h3>
    <img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/classic-1.jpg" width="100%">    
    <div class="links">
      <a href="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Trapo_Classic_in_Nissan_Almera-1.jpg?v=1611538915">Picture 1</a> | 
      <a href="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Trapo_Classic_in_Nissan_Almera-2.jpg?v=1611538915">Picture 2</a> | 
      <a href="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Trapo_Classic_in_Nissan_Almera-3.jpg?v=1611538915">Picture 3</a> | 
      <a href="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Trapo_Classic_in_Nissan_Almera-4.jpg?v=1611538915">Picture 4</a>
    </div>
  </div>

  <!-- Eco  -->

  <div class="row">
    <h2 class="text-center">Trapo Eco II</h2> 
    <div class="col-md-12 col-12">
      <img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Eco-LS-1.jpg" width="100%">
    </div>
    <div class="col-md-6 col-6">
      <img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Eco-LS-2.jpg" width="100%">
    </div>
    <div class="col-md-6 col-6">
      <img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Eco-LS-3.jpg" width="100%">
    </div>    
  </div>

  <div class="row">
    <h3 class="">Trapo Eco Fitted in Proton X50</h3>
    <img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/eco-1.jpg" width="100%">   
    <div class="links">
      <a href="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Trapo_Eco_in_X50-1.jpg?v=16115389978">Picture 1</a> | 
      <a href="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Trapo_Eco_in_X50-2.jpg?v=16115389978">Picture 2</a> | 
      <a href="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Trapo_Eco_in_X50-3.jpg?v=16115389978">Picture 3</a> | 
      <a href="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Trapo_Eco_in_X50-4.jpg?v=16115389978">Picture 4</a>
    </div>
  </div>

  <!-- Wiper Blade -->

  <div class="row">
    <h2 class="text-center">Trapo Hydrophobic Wiper Blades</h2> 
    <div class="col-md-12 col-12">
      <img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/1_0c8ca1b5-46b0-47dc-89da-86fed2038a54.jpg?v=1710858218" width="100%">
    </div>
    <div class="col-md-6 col-6">
      <img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/2_e9d25463-1784-49ec-99df-31112134582a.jpg?v=1710858220" width="100%">
    </div>
    <div class="col-md-6 col-6">
      <img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/3_dd0e8f74-cbde-4940-a518-39d0b61eeb09.jpg?v=1710858219" width="100%">
    </div>    
  </div>

  <div class="row">  
    <div class="links">
      <a href="https://drive.google.com/drive/u/2/folders/1Wubgr7PqtLq-0DOyeiNyhtHztsLHTlfC" target="_blank">Download Images</a>
    </div>
  </div>

  <!-- T550 -->

  <div class="row">
    <h2 class="text-center">Trapo's i-SIGHT Dashcam T-550</h2> 
    <div class="col-md-12 col-12">
      <img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/DSC00398-Enhanced-NR-_1.webp?v=1710858616" width="100%">
    </div>
    <div class="col-md-6 col-6">
      <img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/DSC00409-Enhanced-NR-_1.webp?v=1710858642" width="100%">
    </div>
    <div class="col-md-6 col-6">
      <img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/DSC00379-_1.webp?v=1710858691" width="100%">
    </div>    
  </div>

  <div class="row">  
    <div class="links">
      <a href="https://drive.google.com/drive/u/2/folders/1E3mMgfMUCncNkLxuuoDrdns9e7HQF5Ug" target="_blank">Download Images</a>
    </div>
  </div>

  <!-- T350 -->

  <div class="row">
    <h2 class="text-center">Trapo's i-SIGHT Dashcam T-350</h2> 
    <div class="col-md-12 col-12">
      <img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/T350-1.webp?v=1710859002" width="100%">
    </div>
    <div class="col-md-6 col-6">
      <img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/T350-2.webp?v=1710859002" width="100%">
    </div>
    <div class="col-md-6 col-6">
      <img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/T350-3.webp?v=1710859002" width="100%">
    </div>    
  </div>

  <div class="row">  
    <div class="links">
      <a href="https://drive.google.com/drive/u/2/folders/1bN83OWV2WIhp5daONiVpOI3tHnn9kQg8" target="_blank">Download Images</a> 
    </div>
  </div>

  <!-- 3D Car Mat -->

  <div class="row">
    <h2 class="text-center">Trapo Xtreme 3D Car Mat</h2> 
    <div class="col-md-12 col-12">
      <img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/A3_1.webp?v=1710862124" width="100%">
    </div>
    <div class="col-md-6 col-6">
      <img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/A1_1.webp?v=1710862124" width="100%">
    </div>
    <div class="col-md-6 col-6">
      <img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/DSC07465_1.webp?v=1710862123" width="100%">
    </div>    
  </div>

  <div class="row">  
    <div class="links">
      <a href="https://drive.google.com/drive/folders/1JdSC0v_vKf3zonrcO3lpLiiwk2g3Ge3J" target="_blank">Download Images</a>
    </div>
  </div>

  <!-- Air Purifier Classic -->

  <div class="row">
    <h2 class="text-center">TRAPO Air Purifier Classic</h2> 
    <div class="col-md-12 col-12">
      <img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Air_Purifier_-_Classic_2.jpg?v=1710859390" width="100%">
    </div>
    <div class="col-md-6 col-6">
      <img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Air_Purifier_-_Classic_1.jpg?v=1710859293" width="100%">
    </div>
    <div class="col-md-6 col-6">
      <img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Air_Purifier_-_Classic_3.jpg?v=1710859294" width="100%">
    </div>    
  </div>

  <div class="row">  
    <div class="links">
      <a href="https://drive.google.com/drive/u/2/folders/1hqhQs6P1XYqvSfVByNxnDRit9LkK2MGa" target="_blank">Download Images</a>
    </div>
  </div>

  <!-- Modular Car Phone Holder -->

  <div class="row">
    <h2 class="text-center">TRAPO Modular Car Phone Holder (Mix and Match)</h2> 
    <div class="col-md-12 col-12">
      <img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/DSC08284-Enhanced-NR_1.jpg?v=1710862449" width="100%">
    </div>
    <div class="col-md-6 col-6">
      <img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/DSC08282-Enhanced-NR_1.jpg?v=1710862449" width="100%">
    </div>
    <div class="col-md-6 col-6">
      <img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/DSC08286-Enhanced-NR_1.jpg?v=1710862450" width="100%">
    </div>
    
  </div>

  <div class="row">  
    <div class="links">
      <a href="https://drive.google.com/drive/folders/1cU09Kl64hHgWZn4oCGXQdvfMyf1VkVxx" target="_blank">Download Images</a>
    </div>
  </div>

  <!-- Vacuum -->

  <div class="row">
    <h2 class="text-center">TRAPO Cordless Car Vacuum Pro</h2> 
    <div class="col-md-12 col-12">
      <img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/DSC05329_trapo.jpg?v=1710859697" width="100%">
    </div>
    <div class="col-md-6 col-6">
      <img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/DSC05369_trapo.jpg?v=1710859666" width="100%">
    </div>
    <div class="col-md-6 col-6">
      <img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/DSC05433_trapo.jpg?v=1710859666" width="100%">
    </div>
  </div>

  <div class="row">  
    <div class="links">
      <a href="https://drive.google.com/drive/u/2/folders/16u6zuJvew9SHJT_MJt8V-Ho3GW1CfAfZ" target="_blank">Download Images</a>
    </div>
  </div>
  
</div>

</div>
{% schema %}
{
"name": "Press Kit",
"settings": [],
"presets": [
{
"name": "Press Kit",
"category": "Additional Sections"
}
]
}
{% endschema %}

<style>
 
.menu{
flex: 1 1 auto !important;
}
h2{
  padding: 20px 0px;
}
#trapo-images, #mat-images, #car-images{
  margin: 0 auto;
}

.para-text{
  font-size: 1.5rem !important;
}
.links{
      padding: 0 15px !important;
}

  .h3-heading{
    font-weight:700;
  }
  .para-text a,.links a{
    color: #173f6d;
    text-decoration: none;
    font-weight:600;
  }
  
@media(max-width: 500px){
div.container{
  padding: 0px!important;
}
  h1.page-title{
    font-size:24px;
  }
  h2{
    font-family: Roboto !important; 
    font-size:32px !important;
    line-height:36px !important;
    
  }
  .links.text-center {
    font-size: 24px;
}
  .para-text {
    font-size: 14px !important;
    text-align: justify;
}
  .h3-heading {
    font-weight: 700;
    font-size: 14px;
}
  div.press-kit-outer{
    margin:0 10px;
  }
}
</style>
