
  <div class="section">
  <div class="container">
    <section class="section  
        product-container
        is-flex
        is-flex-wrap
      ">
    <div
      class="
        one-whole
        column
        custom-html-container
      "
    >
      {% if section.settings.desc_text != blank %}
          {{ section.settings.desc_text }}
      {% endif %}
    </div>
      </section>
  </div>
  </div>


{% schema %}
{
  "name": "Accessories Description",
  "class": "shopify-section--desc",
  "settings": [
    {
      "type": "richtext",
      "id": "desc_text",
      "label": "Text"
    }
  ],
  "presets": [
    {
      "name": "Accessories Description",
      "category": "Content"
    }
  ]
}

{% endschema %}