<div class="container">
<div class="sixteen columns">
<h1 class="head top">Trapo Loyalty Points</h1>
<span class="txt-membership">{{ customer.metafields.loyaltylion.loyalty_tier }} Member</span> <br>
<span class="txt-points">You have<b><span data-lion-points="approved"></span></b>points</span><br> 
<h1 class="head">Your Rewards</h1>
<div data-lion-claimed-rewards-list=""></div>
<h1 class="head">Rewards</h1>
<div data-lion-rewards-list=""></div>
<h1 class="head">Earn Points</h1>
<div data-lion-rules-list></div>
<h1 class="head">Tier Overview</h1>
  <div class="tier-img">
<img data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Assets-MainPage-_updated-Tier.png?v=1666082764" alt="reward-tier" class="img-size lazyload" width="100%">
  </div>
    <!--<div data-lion-tier-rules-compare></div>-->
<h1 class="head">History</h1>
<div data-lion-history-table></div>
</div>
</div>

{% schema %}
  {
    "name": "Rewards New",
    "settings": []
  }
{% endschema %}
<style>
.head{
  text-align: center;
  text-transform: uppercase;
  font-family: 'Roboto' !important;
  font-size: 2.2rem;
  color: #173f6d;
  padding: 10px 0px;
  margin: 15px auto;
  font-weight: 700;
    letter-spacing: 0px;
}
.txt-membership{
  text-align: center;
  font-size: 1.5rem;
  color: #173f6d;
  display: flex;
  flex-direction: column;
  line-height: 1;
  font-weight: 900;
}
.txt-points{
  text-align: center;
  font-size: 1.5rem;
  color: #173f6d;
  display: flex;
  flex-direction: column;
  line-height: 1;
}
span [data-lion-points]{
  text-align: center;
  color: #ee2a7b !important;
  font-size: 5rem !important;
}
  .jsFAQ .title{
      padding-bottom: 0;
    margin-bottom: 0;
        font-weight: 700;
    margin-top: 0;
}
  .tier-img{
    text-align:center;
  }
  .tier-img img{
    width:100%;
  }
@media only screen and (max-width: 500px){
  .shopify-section{
    margin-top: 10% !important;
  }
}
</style>
{% javascript %}
{% endjavascript %}