<div class="container main content"">
    <div class="page-text">
          <h3>Luxury Design. Superior Protection.</h3>
          <p>Get the look and feel of luxury while driving in comfort. Experience an innovative car leather seat design that's superior in both fit and protection. Now you get to completely transform the look of your car at a reasonable price!</p>
    </div>
	<p class="no-padding">
      <img data-src='https://cdn.shopify.com/s/files/1/0234/7089/9277/files/leather-car-seat-web-1-wt.webp' alt="Luxury Design. Superior Protection." data-expand="10" class="img-size lazyload plus-hide-mobile">
      <img data-src='https://cdn.shopify.com/s/files/1/0234/7089/9277/files/leather-car-seat-mobile-1-wt.webp' alt="Luxury Design. Superior Protection." data-expand="10" class="img-size lazyload plus-hide-desktop">
    </p>

    <div class="page-text-bg">
          <h3>Certified High Quality Materials</h3>
    </div>
	
    <p class="no-padding">
      <img data-src='https://cdn.shopify.com/s/files/1/0234/7089/9277/files/leather-car-seat-web-2.webp' alt="Certified High Quality Materials" data-expand="10" class="img-size lazyload plus-hide-mobile">
      <img data-src='https://cdn.shopify.com/s/files/1/0234/7089/9277/files/leather-car-seat-mobile-2.webp' alt="Certified High Quality Materials" data-expand="10" class="img-size lazyload plus-hide-desktop">
    </p>

    <div class="video">
      <div class="wrapper">
        <div class="youtube" data-embed="ksqn1-INlC8" style="margin-bottom:0px;">
          <div class="play-button"></div>
        </div>
      </div>
    </div>

   <p class="no-padding btn-shop-now" style="background: #E5E7E9;padding: 20px 0px !important;">
        <a href="https://api.whatsapp.com/send?phone=60126388285" target="_blank">
          <img data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/whatsapp-btn-removebg.png" alt="Whatsapp Call" class="lazyload" />
        </a>
    </p>
    
    <p class="no-padding">
      <img data-src='https://cdn.shopify.com/s/files/1/0234/7089/9277/files/leather-car-seat-web-3.webp' alt="Precision Stitching SNAPFIT seat covers offers ultra-precise stitching for an immaculate finish. TRAPO I DK SCHWEIZER Amazing Fit and Finish Completely transform the feel and look of your car with the luxuries of comfort, style, and durability." data-expand="10" class="img-size lazyload plus-hide-mobile">
      <img data-src='https://cdn.shopify.com/s/files/1/0234/7089/9277/files/leather-car-seat-mobile-3.webp' alt="Precision Stitching SNAPFIT seat covers offers ultra-precise stitching for an immaculate finish. TRAPO I DK SCHWEIZER Amazing Fit and Finish Completely transform the feel and look of your car with the luxuries of comfort, style, and durability." data-expand="10" class="img-size lazyload plus-hide-desktop">
    </p>

    <p class="no-padding">
      <img data-src='https://cdn.shopify.com/s/files/1/0234/7089/9277/files/leather-car-seat-web-4.webp' alt="Airbag Compatibility SNAPFIT seat covers are airbag-compatible, ensuring that your airbags will deploy safely in cases of emergency." data-expand="10" class="img-size lazyload plus-hide-mobile">
      <img data-src='https://cdn.shopify.com/s/files/1/0234/7089/9277/files/leather-car-seat-mobile-4.webp' alt="Airbag Compatibility SNAPFIT seat covers are airbag-compatible, ensuring that your airbags will deploy safely in cases of emergency." data-expand="10" class="img-size lazyload plus-hide-desktop">
    </p>

    <p class="no-padding">
      <img data-src='https://cdn.shopify.com/s/files/1/0234/7089/9277/files/leather-car-seat-web-5.webp' alt="DK SCHWEIZER PERSONALISATION FOR ALL A collaboration with DK SCHWEIZER, a notable OEM Leather Supplier with 20+ years experience" data-expand="10" class="img-size lazyload plus-hide-mobile">
      <img data-src='https://cdn.shopify.com/s/files/1/0234/7089/9277/files/leather-car-seat-web-6.webp' alt="DK SCHWEIZER PERSONALISATION FOR ALL A collaboration with DK SCHWEIZER, a notable OEM Leather Supplier with 20+ years experience" data-expand="10" class="img-size lazyload plus-hide-mobile">
      <img data-src='https://cdn.shopify.com/s/files/1/0234/7089/9277/files/leather-car-seat-mobile-5.webp' alt="DK SCHWEIZER PERSONALISATION FOR ALL A collaboration with DK SCHWEIZER, a notable OEM Leather Supplier with 20+ years experience" data-expand="10" class="img-size lazyload plus-hide-desktop">
    </p>

    <p class="no-padding">
      <img data-src='https://cdn.shopify.com/s/files/1/0234/7089/9277/files/leather-car-seat-web-7-wt.webp' alt="Currently Available for Alza,Persona,Bezza,Saga,Ativa,Myvi,Axia,Yaris" data-expand="10" class="img-size lazyload plus-hide-mobile">
      <img data-src='https://cdn.shopify.com/s/files/1/0234/7089/9277/files/leather-car-seat-mobile-6-wt.webp' alt="Currently Available for Alza,Persona,Bezza,Saga,Ativa,Myvi,Axia,Yaris" data-expand="10" class="img-size lazyload plus-hide-desktop">
    </p>
    <div class="page-text last-p" style="margin-top: 0;margin-bottom:5px">
          <p>Get in touch with us for more information</br>or to book an appointment</p>
    </div>
    
    <p class="no-padding btn-shop-now">
        <a href="https://api.whatsapp.com/send?phone=60126388285" target="_blank">
          <img data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/whatsapp-btn.webp" alt="Whatsapp Call" class="lazyload" />
        </a>
    </p>
</div> 

<style>
* {
  	margin: 0 0;
  	padding: 0 0;
  }
  
  .footer ul {
  	list-style: none !important
  }
  
  .section {
  	width: 100% !important;
  }
  
  .wrap {
  	line-height: 0 !important
  }
  
  div p {
  	text-align: center;
  }
  
  .desktop {
  	display: block;
  }
    .no-padding {
    	margin: 0px 0px !important;
    	line-height: 0px !important;
    }
    
    .section {
    	width: 100% !important
    }
    
    .no-padding img {
    	width: 100% !important;
    }
    
    .page-text {
    	margin: 50px auto;
    	width: 80%;
    }
    .page-text-bg{
      background: #E5E7E9;
      padding: 0;
      width: 100%;
    }
    .page-text-bg h3{
      margin:0;
      color: #16406d;
      font-size: 2.81rem;
      line-height: 54px;
      text-align: center;
      font-weight: 400;
    }
    .page-text.white-text {
    	background-color: #CECECE;
    	padding: 50px 0;
    	width: 100%;
    	margin: auto;
    }
    
    .page-text h3 {
    	color: #16406d;
    	font-size: 2.81rem;
    	line-height: 54px;
    	text-align: center;
    	font-weight: 400;
    }
    
     .page-text p {
    	color: #333333;
    	font-size: 1.3rem;
    	line-height: 30px;
    	text-align: center;
    }
    .btn-shop-now {
      text-align:center !important;
      margin-bottom: 20px !important;
    }
    .btn-shop-now a img{
       width:30% !important;
    }
    .page-text p{
      
    }
    @media screen and (max-width: 768px) {
    	.plus-hide-mobile {
    		display: none;
    	}
    
    	.container.breadcrumb-container-page {
    		padding-top: 15px;
    	}
    
    	.page-text {
    		margin: 20px auto;
    		width: 100%;
    	}
    
    	.page-text h3 {
    		font-size: 1.5rem;
    		line-height: 40px;
    	}
        .page-text-bg {
    		width: 100%;
    	}
        .page-text-bg h3 {
    		font-size: 1.5rem;
    		line-height: 40px;
    	}
        .page-text.white-text p{
            width: 85%;
            margin: auto;
        }
        .btn-shop-now a img{
            width:50% !important;
        }
         .page-text.last-p p{
            font-size: 1rem;
            line-height: 20px;
        }
         .page-text p{
            font-size: 1rem;
            line-height: 24px;
        }

    }
    
    @media screen and (min-width: 769px) {
    	.plus-hide-desktop {
    		display: none;
    	}
    }
</style>