
<section class="tint_films">
  <div class="tint_films_img">
    <img
      src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_1266.png?v=1763883093"
      alt=""
      class="desk_img"
    >
    <img
      src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Frame_1133.png?v=1763883410"
      alt=""
      class="mobile_img"
    >
  </div>
</section>
<section class="tint_new_video">
  <div class="container_md">
    <div class="video">
      <div class="wrapper">
        <div data-embed="pnSfM-p5QcI" class="youtube">
          <div class="play-button"></div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="main_wrap_outer">
  <div class="container">
    <div class="two_block">
      <div class="two_block_item">
        <h3>NANO-CERAMIC <br> FILM</h3>
        <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/7c1849edd92e76b345cdc3979a105a60.gif?v=1764821971" alt=""/>
        <ul>
          <li>Absorbs heat to keep your cabin cool, even under Malaysia’s hot sun.</li>
          <li>Metal-free — no issues with SmartTAG, GPS, or radio signals.</li>
          <li>Keeps seats and dashboard cooler.</li>
          <li>Matte finish for a sleek, premium look.</li>
        </ul>
      </div>
      <div class="two_block_item">
        <h3>METALIZED <br> FILM</h3>
        <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/22921f34cdd3fcb7a0aab281788e16ce.gif?v=1764821970" alt=""/>
        <ul>
          <li>Reflects heat so your windows stay cool to touch.</li>
          <li>Strong heat rejection with a thin metal layer.</li>
          <li>May affect SmartTAG or GPS signals.</li>
          <li>Shiny surface for a bold, polished style.</li>
        </ul>
      </div>
    </div>
    <div class="two_image_blk">
      <img
      src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_1268.png?v=1763889622"
      alt=""
      class="desk_img"
    >
    <img
      src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_1308.png?v=1764748349"
      alt=""
      class="mobile_img"
    >
      <img class="image_2" src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_1269.png?v=1763889622" alt=""/>
    </div>
    <div class="three_blk">
      <div class="three_item">
        <h3>HIGH HEAT<br> REJECTION</h3>
        <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/image_86.png?v=1763889623" alt=""/>
        <p>
          With Malaysia’s average 32°C heat, our high heat-rejection tints block intense sunlight to keep your car cooler, reduce AC use, save fuel, and enhance comfort.
        </p>
      </div>
      <div class="three_item">
        <h3>high UVR / good for <br> skin+car interior</h3>
        <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/tint_protect_skin_copy_1.png?v=1763889623" alt=""/>
        <p>
          Trapo Tint blocks harmful UV rays that can damage your skin and fade your car’s interior, keeping the cabin cool and comfortable.
        </p>
      </div>
      <div class="three_item">
        <h3>extensive warranty period <br> with 1-tO-1 replacement</h3>
        <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/DSC04018-Enhanced-NR_colder_2.png?v=1763889623" alt=""/>
        <p>
          Up to 10 years of warranty coverage, it includes protection against peeling, bubbling, fading, and adhesive failure*. Terms and condition apply.
        </p>
      </div>
    </div>
    <div class="our_tint">
      <h4>OUR TINT RANGE:</h4>
      <div class="our_tint_list">
        <div class="our_list_item">
          <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_880.png?v=1763889623" alt=""/>
        </div>
        <div class="our_list_item">
          <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_885.png?v=1763889623" alt=""/>
        </div>
        <div class="our_list_item">
          <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_883.png?v=1763889622" alt=""/>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="tint_table">
  <div class="container_md">
    <table>
      <thead>
        <th></th>
        <th>
          <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/tint-logo-crystal_1.png?v=1717173642" alt="">
        </th>
        <th>
          <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/tint-logo-dfend_1.png?v=1717173642" alt="">
        </th>
        <th>
          <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/tint-logo-chroma_1.png?v=1717173642" alt="">
        </th>
      </thead>
      <tbody>
        <tr>
          <td class="col_1">
            <div>
              <span>Technology</span>
              <a class="modal-toggle1" href="#"
                ><img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_355.png?v=1717173807" alt=""
              ></a>
            </div>
          </td>
          <td class="col_2">Nano Ceramic</td>
          <td class="col_3">Nano Ceramic</td>
          <td class="col_4">Metalized</td>
        </tr>
        <tr>
          <td class="col_1">
            <div>
              <span>Mil</span>
              <a class="modal-toggle2" href="#"
                ><img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_355.png?v=1717173807" alt=""
              ></a>
            </div>
          </td>
          <td class="col_2">2 Mil</td>
          <td class="col_3">2 Mil (front) / 4 Mil</td>
          <td class="col_4">3 Mil</td>
        </tr>
        <tr>
          <td class="col_1">
            <div>
              <span>IRR</span>
              <a class="modal-toggle3" href="#"
                ><img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_355.png?v=1717173807" alt=""
              ></a>
            </div>
          </td>
          <td class="col_2">92%</td>
          <td class="col_3">95%</td>
          <td class="col_4">97%</td>
        </tr>
        <tr>
          <td class="col_1">
            <div>
              <span>UVR</span>
              <a class="modal-toggle4" href="#"
                ><img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_355.png?v=1717173807" alt=""
              ></a>
            </div>
          </td>
          <td class="col_2">≥99%</td>
          <td class="col_3">≥99%</td>
          <td class="col_4">≥99%</td>
        </tr>
        <tr>
          <td class="col_1">
            <div>
              <span>VLT</span>
              <a class="modal-toggle5" href="#"
                ><img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_355.png?v=1717173807" alt=""
              ></a>
            </div>
          </td>
          <td class="col_2">5/20/50/70</td>
          <td class="col_3">5/20/50/70</td>
          <td class="col_4">5/20/50/70</td>
        </tr>
        <tr>
          <td class="col_1">
            <div>
              <span>Warranty Period</span>
            </div>
          </td>
          <td class="col_2">5 Years</td>
          <td class="col_3">7 Years</td>
          <td class="col_4">10 Years</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="modal model-1">
    <div class="modal-overlay modal-toggle"></div>
    <div class="modal-wrapper modal-transition">
      <div class="modal-header">
        <button class="modal-close modal-toggle modal-toggle1">
          <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_419.png?v=1717383520">
        </button>
      </div>

      <div class="modal-body">
        <div class="modal-content">
          <h2>Technology (Nano vs Metallized)</h2>
          <p>
            Nano-ceramic tint acts like clear sunscreen for your car, shielding it from heat and UV rays without
            changing its appearance or affecting electronic devices. Metallized tint functions akin to reflective
            sunglasses, deflecting heat from your car's interior to keep it cooler but potentially causing a mirrored
            effect and electronic interference.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="modal model-2">
    <div class="modal-overlay modal-toggle"></div>
    <div class="modal-wrapper modal-transition">
      <div class="modal-header">
        <button class="modal-close modal-toggle modal-toggle2">
          <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_419.png?v=1717383520">
        </button>
      </div>

      <div class="modal-body">
        <div class="modal-content">
          <h2>Mil</h2>
          <p>
            This refers to the thickness of the window tint film. It's measured in mils, which are thousandths of an
            inch. Essentially, the higher the mil, the thicker and more durable the film. So, the higher the mil, the
            harder it is to break through the tint.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="modal model-3">
    <div class="modal-overlay modal-toggle"></div>
    <div class="modal-wrapper modal-transition">
      <div class="modal-header">
        <button class="modal-close modal-toggle modal-toggle3">
          <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_419.png?v=1717383520">
        </button>
      </div>

      <div class="modal-body">
        <div class="modal-content">
          <h2>IRR (Infrared Rejection)</h2>
          <p>
            This indicates the window tint's ability to block or reduce the amount of infrared radiation (heat) that
            enters your car through the windows. Higher IRR percentages mean more heat is being rejected, resulting in a
            cooler interior.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="modal model-4">
    <div class="modal-overlay modal-toggle"></div>
    <div class="modal-wrapper modal-transition">
      <div class="modal-header">
        <button class="modal-close modal-toggle modal-toggle4">
          <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_419.png?v=1717383520">
        </button>
      </div>

      <div class="modal-body">
        <div class="modal-content">
          <h2>UVR (Ultraviolet Rejection)</h2>
          <p>
            This measures the window tint's effectiveness in blocking ultraviolet (UV) radiation from the sun. UV rays
            can cause damage to your skin and the interior of your car, such as fading upholstery and dashboard
            deterioration. A higher UVR percentage means more UV rays are being blocked, providing better protection.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="modal model-5">
    <div class="modal-overlay modal-toggle"></div>
    <div class="modal-wrapper modal-transition">
      <div class="modal-header">
        <button class="modal-close modal-toggle modal-toggle5">
          <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_419.png?v=1717383520">
        </button>
      </div>

      <div class="modal-body">
        <div class="modal-content">
          <h2>VLT (Visible Light Transmission)</h2>
          <p>
            This refers to the amount of visible light that can pass through the window tint. It's usually expressed as
            a percentage. For example, a VLT of 50% means that half of the visible light is transmitted through the
            tint, while the other half is blocked. The VLT percentage helps you choose the level of darkness or
            lightness for your window tint based on your preference for privacy and visibility.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="how_its_done">
  <div class="container_md">
    <h2>HOW IS IT DONE?</h2>
    <div class="how_its_done_row">
      <div class="col">
        <img
          src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/GIF_Tint_2a_Glass_Cleaning_gif.gif?v=1719382685"
          alt=""
        >
      </div>
      <div class="col">
        <img
          src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/GIF_Tint_2b_Tint_Film_Installation_gif.gif?v=1719382685"
          alt=""
        >
      </div>
      <div class="col">
        <img
          src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/GIF_Tint_2c_Drying_and_Inspection_gif.gif?v=1719382683"
          alt=""
        >
      </div>
    </div>
  </div>
</section>


<section class="statisfid_customers">
  <h2>satisfied customers</h2>
  <div class="cstmr_row">
    <div class="col">
      <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/red_25.jpg?v=1762498239">
    </div>
    <div class="col">
      <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/black_30.jpg?v=1762498232">
    </div>
    <div class="col">
      <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/black_31.jpg?v=1762498232">
    </div>
    <div class="col">
      <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/black_32.jpg?v=1762498232">
    </div>

    <div class="col">
      <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Screenshot_2025-06-27_at_3.10.21_PM.webp?v=1756058680">
    </div>
    <div class="col">
      <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Screenshot_2025-06-27_at_3.11.45_PM.webp?v=1756058680">
    </div>
    <div class="col">
      <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Screenshot_2025-06-27_at_3.17.30_PM.webp?v=1756058680">
    </div>
    <div class="col">
      <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Screenshot_2025-06-27_at_3.19.28_PM.webp?v=1756058678">
    </div>
    <div class="col">
      <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Screenshot_2025-06-27_at_3.19.54_PM.webp?v=1756058680">
    </div>

    <div class="col">
      <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/1_tint_new.jpg?v=1724836866">
    </div>
    <div class="col">
      <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/2_tint_new.jpg?v=1724836866">
    </div>
    <div class="col">
      <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/3_tint_new.jpg?v=1724836866">
    </div>
    <div class="col">
      <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/4_tint_new.jpg?v=1724836866">
    </div>
    <div class="col">
      <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/5_tint_new.jpg?v=1724836866">
    </div>
  </div>
</section>

<section class="tint_brochure">
  <div class="container">
    <div class="top">
      <h3>Starting from</h3>
      <h1>RM 750 ONLY!*</h1>
      <span>get full info of our trapo tint price and spec list here.</span>
      <script
        src="//latest.trapo.asia/resources/sharing/embed.js?sharing=lp-embed&domain=latest.trapo.asia&id=5FL1-BPN%2Ftintmagnet%22&description="
      ></script>
      <!-- <a href="#" class="cstm_btn">DOWNLOAD BROCHURE</a> -->
    </div>
  </div>
</section>
<section class="tint_brochure tint_brochure_2">
  <div class="container">
    <div class="bottom">
      {% render 'detailing-hubs' %}
      <a href="/products/trapo-crystal-window-tint" class="cstm_btn">BOOK NOW</a>
    </div>
  </div>
</section>

<section class="blog_post_container tint_service_blk" id="warranty-section">
  <div class="tint_service_tab">
    <ul id="tabs-nav">
      <li><a class="active" href="#tab1">FAQ</a></li>
      <li><a href="#tab2">Warranty</a></li>
    </ul>
    <div id="tabs-content">
      <div id="tab1" class="tab-content">
        <p class="faq-title"><strong>1. What is Trapo Tint? </strong></p>
        <p>
          Trapo Tint is a premium window tinting solution designed to enhance privacy, reduce heat, and improve the
          aesthetics of your vehicle.
        </p>
        <p class="faq-title"><strong>2. What benefits does Trapo Tint offer? </strong></p>
        <p>
          Trapo Tint provides UV protection, reduces glare, improves interior comfort by reducing heat buildup, and
          enhances the privacy of passengers and belongings inside the vehicle.
        </p>
        <p class="faq-title"><strong>3. How long does Trapo Tint last? </strong></p>
        <p>Trapo Tint is durable and typically lasts for many years with proper care and maintenance.</p>
        <p class="faq-title"><strong>4. Is Trapo Tint legal in my area? </strong></p>
        <p>
          Trapo Tint complies with legal regulations in most areas, offering various tint levels to suit different
          preferences and local laws. Check with local authorities or our dealers for specific regulations.
        </p>
        <p class="faq-title"><strong>5. Will Trapo Tint affect my visibility at night? </strong></p>
        <p>
          No, Trapo Tint is designed to maintain visibility and clarity both day and night while reducing glare from
          headlights and streetlights.
        </p>
        <p class="faq-title"><strong>6. Can Trapo Tint be applied to any vehicle's windows? </strong></p>
        <p>Yes, Trapo Tint is suitable for application on windows of cars, trucks, SUVs, and other vehicles.</p>
        <p class="faq-title"><strong>7. Does Trapo Tint come with a warranty? </strong></p>
        <p>
          Yes, Trapo Tint is backed by a warranty that covers specific protections and assurances. Refer to our warranty
          terms for details on coverage and exclusions.
        </p>
        <p class="faq-title"><strong>8. How is Trapo Tint installed? </strong></p>
        <p>
          Trapo Tint is installed by trained professionals using precise techniques to ensure a seamless, bubble-free
          application.
        </p>
        <p class="faq-title"><strong>9. Where can I get Trapo Tint installed? </strong></p>
        <p>
          Trapo Tint is available through authorized dealers and certified installers. Contact us or visit our website
          to locate a nearby installation center.
        </p>
        <p class="faq-title"><strong>10. Can Trapo Tint be removed if needed? </strong></p>
        <p>
          Yes, Trapo Tint can be safely removed without damaging the vehicle's windows, allowing for replacement or
          restoration if desired.
        </p>

        <p class="faq-title"><strong>11. Can we tint a double layer?</strong></p>
        <p>
          Yes, it is possible, but we highly do not recommend this. For optimal results, it's recommended to use Trapo
          Tint for the first layer. Nonetheless, it's not advisable for the front windscreen to have a double layer tint
          due to visibility and safety concerns.
        </p>
        <p class="faq-title"><strong>12. Does Trapo Tint affect my RFID and smart tag?</strong></p>

        <p>
          Yes, Trapo Tint will affect Smart Tag / RFID signal due to high IR rejection, as we believe Tint is made for
          Heat Reduction / Rejection and not made for Devices. <br>
          However , we’re able to do as below to pass through the toll : <br>

          1) Wind down the window and expose smart tag externally <br>
          2) Cut a small square on the windscreen and attach smart tag on it <br>
          3) Apply RFID on headlamp or stick behind the car number plate. As for Crystal / Dfend , it’s able to stick on
          the top right corner of windscreen .
        </p>
        <p class="faq-title"><strong>13. How long can I move down the side window after tint?</strong></p>
        <p>You can wind down or up immediately , no waiting time needed .</p>

        <p class="faq-title"><strong>Have more questions? </strong></p>
        <p>
          Feel free to contact our customer support team for additional information or assistance regarding Trapo Tint.
          Enhance your driving experience with superior window tinting from Trapo!
        </p>
      </div>
      <div id="tab2" class="tab-content">
        <p class="faq-title"><strong>Peeling Prevention:</strong></p>
        <p>Tinting remains free from peeling.</p>
        <p class="faq-title"><strong>Bubbling Prevention:</strong></p>
        <p>Tinting remains free from bubbling.</p>
        <p class="faq-title"><strong>Fading Protection:</strong></p>
        <p>Tinting won't fade over time.</p>
        <p class="faq-title"><strong>Adhesive Failure Protection:</strong></p>
        <p>Tinting adhesive will not fail.</p>
        <p class="faq-title"><strong>Free Tint Replacement:</strong></p>
        <p>One free tint replacement for break-ins.</p>
      </div>
    </div>
  </div>
</section>



<style>
  .container.breadcrumb-container-page{
    display:none;
  }
  .main_wrap_outer .container{
    max-width:1036px;
    width: 100%;
    margin: 0 auto;
}
.two_block {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:16px;
    color: #1B3D6D;
    margin: 50px 0;
}
.two_block .two_block_item{
    background: #F8F8F8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    padding: 30px;
}

.two_block .two_block_item img{
    max-height: 170px;
    width: auto;
    width: 100%;
    margin: 0 auto;
    display: block;
    object-fit: contain;
}
.two_block .two_block_item ul,
.two_block .two_block_item ul li:last-child{
    margin-bottom: 0
}
.two_block .two_block_item h3{
    font-size: 28px;
    line-height: 30px;
    letter-spacing: 2px;
    text-align: center;
    font-weight:700;
}
.two_image_blk{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap:15px;
    margin-bottom: 55px;
}
.two_image_blk img{
    display: block;
    width: 100%;
}
.three_blk{
    display: flex;
    flex-wrap: wrap;
    gap:40px 10px;
    justify-content: space-between;
    margin-bottom: 50px;
}
.three_blk .three_item{
    flex: 0 0 calc(50% - 10px);
    text-align: center;
}
.three_blk .three_item h3{
    font-size: 20px;
    letter-spacing: 2px;
    line-height: 21px;
    font-weight: 600;
    text-transform: uppercase;
}
.three_blk .three_item img{
    width: 100%;
    display: block;
    margin: 25px 0
}
.three_blk .three_item:last-child{
    margin: 0 auto;
}
.three_blk .three_item p{
    color:#1B3D6D;
    letter-spacing: 0.19px;
}
.our_tint{
    width: 100%;
    text-align: center;
}
.our_tint .our_tint_list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:10px;
    margin-bottom: 50px;
}
.our_tint_list img{
    width: 100%;
    display: block;
}
.our_tint h4{
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 2px;
    line-height: 21px;
    margin-bottom: 20px;
}
@media(max-width:767px){
  .two_block{
    margin-top:0;
    gap:10px
  }
  .two_block .two_block_item{
      padding: 6px;
  }
  .two_block .two_block_item h3{
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.1px;
  }
  .two_block .two_block_item img{
      max-height: 110px;
  }
  .two_block .two_block_item ul{
      padding-left: 20px;
      font-size: 14px;
      line-height: 1.5
  }
  .two_image_blk{
      grid-template-columns: 1fr;
      padding-inline:10px
  }
  .three_blk {
      margin-inline: -12px;
      overflow: hidden;
      gap:20px;
      margin-bottom: 20px
  }
  .three_blk .three_item{
      flex: 0 0 100%;
  }
  .three_blk .three_item img {
      margin: 15px auto;
      width: 95%;
  }
  .three_blk .three_item p{
      font-size: 16px;
      padding-inline:20px
  }
  .our_tint {
      margin-inline: -12px;
      width: calc(100% + 24px)
  }
  .our_tint .our_tint_list{
      display: flex;
      padding-inline: 12px;
      overflow-x: auto
  }
  .our_tint .our_list_item{
      flex: 0 0 90%;
  }
}
</style>

{% comment %} pujan end {% endcomment %}
<style>
            .tint_films img{
                width: 100%;
                display: block;
            }
            .tint_new_video{
                margin-top: -175px;
            }
            .tint_new_video img{
                display: block;
                margin: 0 auto;
              width:100%;
            }
  .ppf_slider.slick-slider .slick-track{
    display: flex !important;
  }
  .ppf_slider.slick-slider .slick-track .slick-slide{
    height: inherit !important;
  }
            .ppf_slider_wrapper{
                max-width: 1247px;
                width: 100%;
                margin: 0 auto 61px;
            }
            .ppf_slider_wrapper .item{
                background-color: #1B3D6D;
                padding: 58px 0;
                border-radius: 12px;
                margin: 0 15px;
            }
            .ppf_slider_wrapper .item h2{
                color: #fff;
                text-align: center;
                font-size: 24px;
                line-height: 28px;
                letter-spacing: 2px;
                text-transform: uppercase;
                margin: 0 0 27px
            }
            .ppf_slider_wrapper .item p{
                max-width: 595px;
                width: 100%;
                margin: 0 auto;
                color: #fff;
                font-size: 19px;
                line-height: 27px;
                letter-spacing: 0.19px;
                text-align: center;
            }
            .ppf_slider_wrapper button{
                position: absolute;
                top: 50%;
                left: 12%;
                transform:translate(0,-50%);
                width: 85px;
                height: 85px;
                border-radius: 50px;
                background-image: url('https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_138.png?v=1717089724');
                background-size: 100%;
                background-position: center;
                background-color: transparent;
                font-size: 0;
            }
            .ppf_slider_wrapper .slick-next{
                right: 12%;
                left: unset;
                background-image: url('https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_137_9a476264-6c67-49f6-9d42-563b0ee817b8.png?v=1717089735')
            }
            .how_its_done{
                background-color: #DEDEDE;
                padding: 60px 15px;
                margin-bottom: 43px;
            }
            .how_its_done .container_md{
                max-width: 983px;
                width: 100%;
                margin: 0 auto;
            }
            .how_its_done h2,.statisfid_customers h2,.tint_range h2{
                font-size: 24px;
                font-weight: 600;
                margin-bottom: 43px;
                line-height: 28px;
                letter-spacing: 2px;
                text-align: center;
              text-transform: uppercase;
              margin-bottom:20px;
            }
            .how_its_done_row{
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                gap:44px;
            }
            .how_its_done_row .col{
                position: relative;
            }
            .how_its_done_row .col h3{
                position: absolute;
                font-size: 36px;
                letter-spacing: 1px;
                font-weight: bold;
                line-height: 1;
                text-align: center;
                top: 50%;
                margin: 0;
                padding: 0;
                left: 50%;
                transform: translate(-50%,-50%);
                color: #fff;
            }
            .statisfid_customers {
              text-align: center;
          }

          .statisfid_customers .cstmr_row .col{
              border-radius: 12px;
              font-size: 16px;
              line-height: 19px;
              color: #fff;
              padding-inline:10px;
          }
          .statisfid_customers .cstmr_row .col span{
              margin-bottom: 16px;
              display: block;
          }
          .statisfid_customers .cstmr_row .col img{
              margin-bottom: 16px;
              display: block;
            width:100%;
          }
          .statisfid_customers .cstmr_row .col strong{
              display: block;
              color: #fff;
              margin-bottom: 8px;
          }
          .statisfid_customers .cstmr_row .col p{
              max-width: 171px;
              margin: 0 auto;
              width: 100%;
              line-height: 1.3;
              margin-bottom: 15px;
          }
          .statisfid_customers .cstmr_row .col a{
              color: #fff;
              text-decoration: underline;
          }
  .statisfid_customers .cstmr_row .slide-arrow{
      padding: 0;
      width: 30px;
      height: 25px;
      background: transparent;
      box-shadow: none;
      border: 0;
      position: absolute;
      top: 50%;
      left: 30px;
      transform: translate(0, -50%);
      z-index: 1;
  }
    .statisfid_customers .cstmr_row .next-arrow {
      right: 20px;
      left: auto;
  }
    .statisfid_customers .cstmr_row .prev-arrow::after{
      content: "";
      position: absolute;
      left: 0;
      z-index: 11;
      display: block;
      width: 20px;
      height: 20px;
      border-top: 3px solid #fff;
      border-left: 3px solid #fff;
      transform: rotate(-45deg);
  }
     .statisfid_customers .cstmr_row .next-arrow::after {
      content: "";
      position: absolute;
      left: 0;
      z-index: 11;
      display: block;
      width: 20px;
      height: 20px;
      border-top: 3px solid #fff;
      border-left: 3px solid #fff;
      transform: rotate(-225deg);
  }
            .tint_range {
                margin-bottom: 75px;
            }
            .tint_range h2{
                text-align: center;
                font-size: 24px;
                line-height: 28px;
                letter-spacing: 5px;
                margin-block:30px 24px;
            }
            .tint_range .high_clarity{
                background-color: #DEDEDE
            }
            .tint_range .high_clarity p{
                color: #1B3D6D
            }
            .tint_range .item {
                display: flex;
                flex-direction: column;
                height: 100%;
            }
            .tint_range .item img{
                max-width: 150px;
                width: 100%;
                margin: 0 auto 30px;;
            }

            .tint_range .premium_tint{
                background-color: #222222
            }
            .tint_table{
              margin-bottom:43px;
            }
            .tint_table .container_md{
                max-width: 1037px;
                width: 100%;
                margin: 0 auto;
            }
            .tint_table thead tr th{
                background-color: transparent !important
            }
            .tint_table tbody tr:nth-child(odd){
                background-color: #F8F8F8;
            }
            .tint_table th,
            .tint_table tr,
            .tint_table td{
                border: 0 !important;
            }
            .tint_table th img{
                width: 100%;
            }
            .tint_table .col_1{
                width: 32%;
            }
            .tint_table .col_1 div{
                display: flex;
                align-items: center;
                justify-content: space-between;
                color: #808080
            }
            .tint_table .col_1 div img{
                width: 21px;
            }
            .tint_table td{
                text-align: center;
                font-size: 18px;
                color: #1B3D6D;
                line-height: 19px;
                padding: 30px !important;
              min-width:180px
            }
            .tint_table .col_2{
                border-inline:1px solid #DEDEDE !important
            }
            .tint_table .col_3{
                border-right:1px solid #DEDEDE !important
            }
            .tint_brochure {
                margin-top: 70px;
              }
              .tint_brochure_2{
                background-color:#DEDEDE;
                padding-block:30px;
            }
            .tint_brochure .container{
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
            }
            .tint_brochure .top h3{
                font-size: 34px;
                margin: 0;
                line-height: 52px;
                font-weight: 300
            }
            .tint_brochure .top h1{
                font-size: 60px;
                font-weight: bold;
                line-height: 68px;
            }
            .tint_brochure .top span{
                color: #808080;
                text-transform: normal;
                display: block;
                margin-bottom: 10px;
              cursor:default;
            }
            .tint_brochure .cstm_btn{
                display: block;
                max-width: 210px;
                font-size: 14px;
                margin: 20px auto 0;
                width: 100%;
                background-color: #EE2A7B;
                padding: 14px;
                border-radius: 50px;
                color: #fff;
            }
  .tint_films_img{
    position:relative;
  }
            .tint_films_img .banner-btn{
                position: absolute;
                top: 65%;
                left: 50%;
                transform: translate(-50%, -50%);
                display: block;
                max-width: 210px;
                font-size: 14px;
                margin: 0 auto;
                width: 100%;
                background-color: #EE2A7B;
                padding: 14px;
                border-radius: 50px;
                color: #fff;
              text-align: center;
            }
            .tint_brochure .bottom h2{
                font-size: 24px;
                line-height: 24px;
                letter-spacing: 2px;
                margin-bottom: 42px;
              font-weight:600;
            }
            .tint_brochure .bottom img{
                margin-bottom: 10px;
                width: 100%;
            }
  h3.l-main-title{
    font-weight:700;
  }
  p.l-title{
    font-weight: 700;
    letter-spacing: 0.5px;
    line-height: normal;
    font-size: 16px;
  }
  a.l-link{
    text-decoration: underline;
  }
            .tint_brochure .bottom span{
                font-size: 16px;
                color: #808080;
                display: block;
                margin-bottom: 30px;
              font-weight:700;
            }
              .how_its_done_row .col img {
                width: 100%;
            }
              .tint_table .modal-content h2{
                font-size:20px;
                line-height:21px;
                letter-spacing:2px;
                color:#fff;
              }
              .tint_table .modal-content p{
                font-size:16px;
                line-linehgt:24px;
                color:#fff;
              }
              .tint_table .modal {
                position: absolute;
                z-index: 10000; /* 1 */
                top: 0;
                left: 0;
                visibility: hidden;
                width: 100%;
                height: 100%;
              }

             .tint_table  .modal.is-visible {
                  visibility: visible;
              }

              .tint_table .modal-overlay {
                position: fixed;
                z-index: 10;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: hsla(0, 0%, 0%, 0.5);
                visibility: hidden;
                opacity: 0;
                transition: visibility 0s linear 0.3s, opacity 0.3s;
              }

              .tint_table .modal.is-visible .modal-overlay {
                opacity: 1;
                visibility: visible;
                transition-delay: 0s;
              }

              .tint_table .modal-wrapper {
      position: fixed;
      z-index: 9999;
      top: 20%;
      left: 50%;
      width: calc(100% - 30px);
      background-color: #E82276;
      box-shadow: 0 0 1em hsla(0, 0%, 0%, 0.25);
      border-radius: 12px;
      overflow: hidden;
      transform: translate(-50%, -20%);
      max-width: 500px;
  }

            .tint_table .modal-transition {
              transition: all 0.3s 0.12s;
              opacity: 0;
            }

            .tint_table .modal.is-visible .modal-transition {
              opacity: 1;
            }

              .tint_table .modal-header,
              .tint_table .modal-content {
                background-color: #E82276;
                  text-align: center;
                  padding: 15px 20px 20px;
                  border: 0;
              }

              .tint_table .modal-header {
                position: relative;
                background-color: #E82276;
                border-bottom: 0;
              }

              .tint_table .modal-close {
                position: absolute;
                top: 15px;
                right: 15px;
                padding: 0;
                color: #aaa;
                background: none;
                border: 0;
                  z-index: 999
              }

              .tint_table .modal-close:hover {
                color: #777;
              }

              .tint_table .modal-heading {
                font-size: 1.125em;
                margin: 0;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
              }

              .tint_table .modal-content > *:first-child {
                margin-top: 0;
              }

              .tint_table .modal-content > *:last-child {
                margin-bottom: 0;
              }
            .video {
              position: relative;
            top: 62px;
            width:100%;
            max-width:1036px;
            margin: 0 auto;
            margin-bottom: 70px;
            filter:drop-shadow(0px 0px 49.4px rgba(0, 0, 0, 0.5))
        }
        @media (max-width: 576px) {
            .video {
                top: 0;
                width: 95%;
                margin-bottom:0
            }
        }
              @media(max-width:1366px){
                .tint_new_video img{
                    width: 75vw;
                }
                .tint_new_video {
                    margin-top: -10vw;
                }
            }
            @media(max-width:1024px){
                .ppf_slider_wrapper .slick-prev{
                    left: 40px
                }
                .ppf_slider_wrapper .slick-next{
                    right: 40px;
                }
                .how_its_done_row .col h3{
                    font-size: 24px;
                }
                .how_its_done {
                    padding: 30px 15px;
                }
                .how_its_done_row{
                    gap:25px;
                }
                .tint_table td{
                    padding: 20px !important
                }
                .statisfid_customers .cstmr_row{
                    gap:10px
                }
            }
              @media(min-width:768px){
                .mobile_img{
                  display:none !important;
                }
                .two_block .two_block_item br{
  display:none
}
              }
            @media(max-width:767px){
              .tint_films_img .banner-btn{
                top: 85%;
              }
              p.l-title{
                max-width: 95px;
    margin: 0 auto;
              }
              .desk_img{
                display:none !important;
              }
              .tint_new_video img {
                width: 100%;
            }
              .tint_new_video {
                margin-block: -80px 0;
            }
                .ppf_slider_wrapper{
                    padding: 0 15px;
                }
                .statisfid_customers .cstmr_row {
                  display: unset;
              }
              .statisfid_customers .cstmr_row button{
                display:none !important
              }
              .statisfid_customers {
                padding: 0 5px;
            }
              .statisfid_customers .cstmr_row .col{
                margin:0 10px;
                padding-inline:0;
              }
                .ppf_slider_wrapper button{
                        width: 44px;
                        height: 44px;
                }
              .ppf_slider_wrapper .slick-prev {
        left: 20px;
    }
                  .ppf_slider_wrapper .slick-next {
        right: 20px;
    }
                .ppf_slider_wrapper .item {
                    padding:40px 20px;
                    margin: 0;
                }
                .ppf_slider_wrapper .item p{
                    font-size: 16px;
                }
                .ppf_slider_wrapper .item h2{
                    font-size: 20px;
                    margin-bottom: 21px;
                }
                .how_its_done_row {
                    gap:0px;
                    display:flex;
                    flex-wrap:wrap
                }
                .how_its_done_row .col {
                    max-width: 311px;
                    width: 100%;
                    margin: 0 auto;
                    flex: 0 0 46%;
                }
                .tint_table {
                    overflow-y: auto;
                    width: calc(100% - 20px);
                    margin: 0 auto 30px;
                }
                .tint_table .col_1 {
                    min-width: 220px;
                }
                .tint_table{
                    overflow-y: auto
                }
                .tint_brochure .top h1{
                    font-size: 28px;
                    line-height: 31px;
                }
                .tint_brochure .top h3{
                    font-size: 16px;
                    line-height: 24px;
                }
                .tint_brochure {
                    margin-top: 35px;
                }
                .tint_brochure .top span {
                    font-size: 16px;
                    line-height: 24px;
                    max-width: 100%;
                    text-transform: capitalize;
                    color: #1B3D6D;
                    margin-bottom: 33px;
                }
                .tint_brochure .top {
                    margin-bottom: 30px;
                }
                .tint_brochure .bottom h2{
                    font-size: 20px
                }
                .tint_brochure .bottom h2 {
                    font-size: 20px;
                    max-width: 300px;
                    margin: 0 auto 18px;
                }
                .tint_brochure .bottom img {
                    margin-bottom: 18px;
                    width: 100%;
                }
                .tint_range {
                    margin-bottom: 70px;
                }
                .how_its_done h2,
                .statisfid_customers h2,
                .tint_range h2 {
                    font-size: 20px;
                    line-height: 28px;
                    letter-spacing: 2px;
                    font-weight: 600;
                    text-transform: uppercase
                }
                .how_its_done_row .col h3 {
                    font-size: 36px;
                }
            }
      .blog_post_container{ max-width: 1210px; width: 100%; margin: 160px auto 97px; }
        section.blog_post_container.tint_service_blk { margin: 52px auto 50px; }
      .tint_service_tab #tabs-nav{ list-style-type: none; display: flex; justify-content: space-evenly; margin: 0 20px 50px; border-bottom: 3px solid #DEDEDE; padding: 0; }
            .tint_service_tab #tabs-nav li{ margin: 0; }
            .tint_service_tab #tabs-nav li a{ font-size: 19px; line-height: 16.8px; color: #E82276; position: relative; cursor: pointer; }
            .tint_service_tab #tabs-nav li.active a:after{ content: ''; position: absolute; width: 100%; height: 3px; background-color: #E82276; bottom: -5px; left: 0 }
            .tint_service_tab #tabs-content .tab-content .tab_img{ display: grid; grid-template-columns: 1fr 1fr 1fr; gap:15px; }
            .tint_service_tab #tabs-content img{ width: 100%; }
         @media(max-width:1440px){
                  section.blog_post_container.tint_service_blk { margin: 50px auto 50px; }
                  .blog_post_container{ margin-block:120px 50px }
              }
         @media(max-width:1199px){
           section.blog_post_container.tint_service_blk { margin: 50px auto 50px; }
         }
         @media(max-width:992px){
           .blog_post_container{ margin-top: 170px; }
           section.blog_post_container.tint_service_blk { margin: 40px auto; }
                  .blog_post_container { margin-bottom: 40px; }
           .tint_service_tab #tabs-nav{ margin: 0 20px 15px }
                .tint_service_tab #tabs-content .tab-content .tab_img{ gap:10px }
         }
        @media(max-width:767px){
          .blog_post_container { margin-top: 150px; }
          section.blog_post_container.tint_service_blk { margin: 30px auto 20px; }
          .tint_service_tab #tabs-nav li a{ font-size: 16px; }



    .ppf_slider_wrapper .slick-list,
    .statisfid_customers .slick-list{
        padding-inline: 30px
    }
    .ppf_slider_wrapper,
    .statisfid_customers{
        padding: 0
    }
    .ppf_slider_wrapper .item {
        margin: 0 10px;
    }
    section.blog_post_container.tint_service_blk{
        margin-inline: 0 !important;
        width: 100%;
        padding: 0 15px;
    }
        }
        @media(max-width:576px){
          .blog_post_container{ width: calc(100% + 35px); position: unset; margin: 120px -20px 40px !important; }
          section.blog_post_container.tint_service_blk { margin-top: 60px !important; }
          .tint_service_tab #tabs-content .tab-content .tab_img { grid-template-columns: 1fr; gap:0; }
                .tint_service_tab #tabs-nav li a { font-size: 19px; }
                .tint_service_tab #tabs-nav{ margin-bottom: 25px; border-bottom: 2px solid #DEDEDE; }
                .tint_service_tab #tabs-nav li.active a:after{ height: 2px; bottom: -2px }
        }

        body.modal-open {
    position: unset !important;
}
</style>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.slick/1.4.1/slick.min.js"></script>
<script>
  $(".ppf_slider").slick({
    slidesToShow: 1,
    infinite: true,
    slidesToShow: 1,
    vertical: false,
    nav:true
  });
</script>
<script>
    //mobileOnlySlider(".cstmr_row", true, false, 767);

  function mobileOnlySlider($slidername, $dots, $arrows, $breakpoint) {
  	var slider = $($slidername);
  	var settings = {
  		mobileFirst: true,
  		responsive: [
  			{
  				breakpoint: $breakpoint,
  				settings: "unslick"
  			}
  		]
  	};

  	slider.slick(settings);

  	$(window).on("resize", function () {
  		if ($(window).width() > $breakpoint) {
  			return;
  		}
  		if (!slider.hasClass("slick-initialized")) {
  			return slider.slick(settings);
  		}
  	});
  } // Mobile Only Slider
</script>

<script>
      $('.cstmr_row').slick({
              dots: false,
              infinite: true,
        autoplay: true,
        autoplaySpeed: 1000,
              speed: 300,
              slidesToShow: 5,
              slidesToScroll: 1,
              prevArrow: '<button class="slide-arrow prev-arrow"></button>',
              nextArrow: '<button class="slide-arrow next-arrow"></button>',
              responsive: [
                  {
                  breakpoint: 1024,
                  settings: {
                      slidesToShow: 3
                  }
                  },
                  {
                  breakpoint: 600,
                  settings: {
                      slidesToShow: 2
                  }
                  }
              ]
          });
      $('.modal-toggle1').on('click', function(e) {
        e.preventDefault();
        $('.model-1').toggleClass('is-visible');
      });
      $('.modal-toggle2').on('click', function(e) {
        e.preventDefault();
        $('.model-2').toggleClass('is-visible');
      });
      $('.modal-toggle3').on('click', function(e) {
        e.preventDefault();
        $('.model-3').toggleClass('is-visible');
      });
      $('.modal-toggle4').on('click', function(e) {
        e.preventDefault();
        $('.model-4').toggleClass('is-visible');
      });
      $('.modal-toggle5').on('click', function(e) {
        e.preventDefault();
        $('.model-5').toggleClass('is-visible');
      });
      $('#tabs-nav li:first-child').addClass('active');
            $('.tab-content').hide();
            $('.tab-content:first').show();
            $('#tabs-nav li').click(function(){
                $('#tabs-nav li').removeClass('active');
                $(this).addClass('active');
                $('.tab-content').hide();
                var activeTab = $(this).find('a').attr('href');
                $(activeTab).fadeIn();
                return false;
            });

      $(window).on('load', function () {
      // Get the section ID from URL parameter
      const urlParams = new URLSearchParams(window.location.search);
      const sectionId = urlParams.get('section');
  //console.log(sectionId);
      if (sectionId) {
        // Find the section element
        const $section = $('#' + sectionId);

        $('#tabs-nav li').removeClass('active');
        $('#tabs-nav li:nth-child(2)').addClass('active');
        $('.tab-content').hide();
        $('#tab2').fadeIn();

        if ($section.length) {
          // Smooth scroll to the section
          $('html, body').animate({
            scrollTop: $section.offset().top + 100
          }, 2000); // 1000ms = 1 second duration
        }
      }
    });
</script>
