
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <style>
        .tint_bg { position: relative; width: 100vw; left: 50%; right: 50%; margin-left: -50vw; margin-right: -50vw; background-image: url('https://cdn.shopify.com/s/files/1/0234/7089/9277/files/tint_banner_bg.png?v=1705428504'); background-repeat: no-repeat; background-size: cover; background-position: top 145px center; }
        .tin_service_container{ max-width: 1130px; margin: 100px auto 30px; width: 100%; }
        .tint_service_banner { position: relative; }
        .tint_service_banner .trapo_car { width: auto; display: block; margin: auto; text-align: right; }
        .tint_service_banner .tint_films_logo { margin-bottom: -10% }
        .tint_title { margin-bottom: 25px; color: #1B3D6D; font-size: 24px; font-weight: bold; line-height: 28px; letter-spacing: 2px; text-align: center; }
        .top_reason{ overflow: hidden; }
        .top_reason .top_reason_imgs { display: flex; align-items: center; justify-content: space-between; }
        .top_reason .top_reason_imgs { display: flex; align-items: center; justify-content: center; }
         .top_reason .top_reason_imgs .top_reason_img:nth-child(1) { margin-right: -50px }
        .top_reason .top_reason_imgs .top_reason_img:nth-child(2) { margin-right: -25px }
        .top_reason .top_reason_imgs .top_reason_img:nth-child(3) { margin-inline: -25px }
        .top_reason .top_reason_imgs .top_reason_img:nth-child(4) { margin-left: -25px }
        .top_reason .top_reason_imgs .top_reason_img:nth-child(5) { margin-left: -50px }
        .top_reason .top_reason_imgs .top_reason_img img { display: block; }
        .reason_icon_blk{ margin:30px auto; }
        .reason_icon_blk .reason_icon_blk_row{ display: flex; align-items: center; }
        .reason_icon_blk .reason_icon_item{ flex: 1; display: grid; grid-template-columns: 85px auto; align-items: center; gap:25px }
        .reason_icon_blk .reason_icon_item span{ font-size: 19px; color: #1B3D6D; line-height: 27px; letter-spacing: 0.19px; font-weight: 400; display: block; max-width: 220px; width: 100%; }
        .why_trapo_tint .why_trapo_row{ display: grid; grid-template-columns: 1fr 1fr 1fr; gap:20px; }
        .why_trapo_tint .why_trapo_row .why_trapo_item{ background-color: #1B3D6D; border-radius: 12px; color: #fff; margin-top: 65px; padding: 0 20px 20px; text-align: center; }
        .why_trapo_tint .why_trapo_row .why_trapo_item img{ background-color: #fff; padding: 10px; border-radius: 50%; margin: 0 auto; display: block; margin-top: -65px; }
        .why_trapo_tint .why_trapo_row .why_trapo_item h6{ color: #fff; font-size: 22px; line-height: 24.6px; letter-spacing: 0; margin-top: 20px }
        .why_trapo_tint .why_trapo_row .why_trapo_item p{ text-align: center; font-size: 16px; letter-spacing: 0.19px; line-height: 24px; max-width: 300px; width: 100%; margin: 0 auto; font-weight:300 !important; }
        .tint_video_blk { text-align: center; }
        .tint_video_blk img{ /*margin: 30px 0 -230px;*/ }
        .tint_bg{ margin-bottom: 125px }
         .action a.tint_btn{ font-size: 14px; line-height: 16.8px; font-weight: 400; padding: 19px 20px; height: auto; max-width: 220px; width: 100%; border-radius: 50px; margin: 30px auto 30px; display: block;font-weight: 700;
    background: #E82276;
    color: #fff; text-align:center}
        .nano_ceramic_blk .nano_ceramic_img{ text-align: center; margin-bottom: 25px }
        .nano_ceramic_blk .nano_ceramic_img img { width: 100%; max-width: 1090px; }
         .nano_ceramic_blk p{ max-width: 905px; width: 100%; text-align: center; margin: 0 auto 25px; font-size: 19px; line-height: 27px; letter-spacing: 0.19px; color: #1B3D6D !important }
        .nano_ceramic_blk .nano_ceramic_icons{ max-width: 865px; width: 100%; margin: 70px auto 15px; display: flex; justify-content: center; gap:10px; }
        .tint_film{ max-width: 960px; width: 100%; margin: 0 auto 0; padding-top: 45px }
        .tint_film_row{ display: grid; grid-template-columns: 1fr 1fr 1fr; gap:20px; }
        .tint_film_row .tint_film_item{ box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.25); border-radius: 12px; padding: 40px 20px 20px; text-align: center; position: relative; background-color: #fff; }
        .tint_film_row .tint_film_item.active:before{ content: 'OUR BEST TINT'; position: absolute; top: -45px; left: 0; height: 50px; background-color: #E82276; width: 100%; font-size: 18px; line-height: 22.4px; font-weight: 300; color: #fff; display: flex; align-items: center; justify-content: center; border-radius: 12px; z-index: -1; padding-bottom: 15px }
        .tint_film_row .tint_film_item .tint_film_desc { margin: 20px 0 30px }
        .tint_film_row .tint_film_item .tint_film_desc span{ display:block; font-size: 18px; line-height: 51px; color: #808080; font-weight: 500; }
        .tint_film_row .tint_film_item button{ width: 100%; border-radius: 12px; color: #1B3D6D; border: 1px solid #1B3D6D; background-color: transparent; font-size: 14px; line-height: 16.8px; font-weight: 500; height: auto; padding: 18px 10px }
        .tint_film_row .tint_film_item.active button{ border-color: #DEDEDE; background-color: #E82276; color: #fff; }
        .tint_film .tint_film_desc { margin-top: 34px }
        .tint_film .tint_film_desc p{ font-size: 13px; line-height: 22px; letter-spacing: 0.19px; color: #808080 !important; text-align: center; }
        .croma_slider{ margin-bottom: 80px; }
        #croma_slider { margin-top: 65px }
        #croma_slider .slick-list{ /* overflow: visible; */ }
        #croma_slider .slide-item img{ width: 100%; }
        #croma_slider .slide-item{ padding: 0 30px }
        #croma_slider .slide-arrow{ position: absolute; top: 27%; left: 130px; width: 90px; height: 90px; background-color: transparent; background-size: 100%; padding: 0; background-position: center; background-repeat: no-repeat; }
        #croma_slider .prev-arrow{ background-image: url('https://cdn.shopify.com/s/files/1/0234/7089/9277/files/left_arrow.png?v=1705596438') }
        #croma_slider .next-arrow{ left: unset; background-image: url('https://cdn.shopify.com/s/files/1/0234/7089/9277/files/right_arrow.png?v=1705596438'); right: 130px; }
        .blog_post_container{ max-width: 1210px; width: 100%; margin: 160px auto 97px; }
        .blog_post_blk{ display: flex; align-items: center; background-image: url('https://cdn.shopify.com/s/files/1/0234/7089/9277/files/post_bg.png?v=1705597485'); background-size: cover; background-repeat: no-repeat; background-position:  right 100px top; padding: 27px 0 15px 47px; }
        .blog_post_blk .blog_post_content{ padding-right: 40px }
        .blog_post_blk .blog_post_content strong{ font-size: 13px; line-height: 19.2px; color: #fff; margin-bottom: 14px; display: block; font-weight: 400 !important; }
        .blog_post_blk .blog_post_content h6{ font-size: 22px; line-height: 24.6px; color: #fff; margin:0 0 14px; font-weight: 500 !important }
        .blog_post_blk .blog_post_content p{ font-size: 19px; line-height: 27px; letter-spacing: 0.19px; color: #fff; margin:0 0 10px; font-weight: 300 !important; }
        .blog_post_blk .blog_post_content span{ font-size: 19px; line-height: 27px; letter-spacing: 0.19px; color: #fff; }
        .blog_post_blk .blog_post_img{ margin-top: -150px }
        .action .tint_btn.blog_post_btn{ max-width: unset !important; width: max-content !important; padding-inline:40px; }
        section.blog_post_container.tint_service_blk { margin: 100px auto 50px; }
        .tint_service_tab #tabs-nav{ list-style-type: none; display: flex; justify-content: space-evenly; margin: 0 20px 50px; border-bottom: 3px solid #DEDEDE; padding: 0; }
        .tint_service_tab #tabs-nav li{ margin: 0; }
        .tint_service_tab #tabs-nav li a{ font-size: 19px; line-height: 16.8px; color: #E82276; position: relative; cursor: pointer; }
        .tint_service_tab #tabs-nav li.active a:after{ content: ''; position: absolute; width: 100%; height: 3px; background-color: #E82276; bottom: -5px; left: 0 }
        .tint_service_tab #tabs-content .tab-content .tab_img{ display: grid; grid-template-columns: 1fr 1fr 1fr; gap:15px; }
        .tint_service_tab #tabs-content img{ width: 100%; }
        a.tint_film_btn{
         border: 1px solid #173f6d;
    border-radius: 5px;
    width: 100%;
    max-width: 100%;
    display: block;
    padding: 15px;
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
	color:#173f6d;
       }
       a.tint_film_btn.active{
        background: #E82276;
    color: #fff;
    border: 1px solid #E82276;
      }
       p.faq-title{
            padding-bottom: 0px ;
    margin-bottom: 0;
}
      .nano_ceramic_icons img{
    align-self: center;
      }
      .video{
        position: relative;
    top: 75px;
    width: 75%;
    margin: 0 auto;
      }

      
        @media(max-width:1440px){
            section.blog_post_container.tint_service_blk { margin: 50px auto 50px; }
            .blog_post_container{ margin-block:120px 50px }
            .croma_slider { margin-bottom: 50px; }
            #croma_slider { margin-top: 50px; }
            .tin_service_container:not(.tint_service_banner){ margin-top: 50px }
        }
        @media(max-width:1199px){
            .tint_service_banner .trapo_car img{ width: 60%; object-fit: contain; margin-right: 4%; }
            .tint_service_banner .tint_films_logo img{ width: 35%; object-fit: contain; margin-left: 4% }
            .top_reason .top_reason_imgs .top_reason_img img{ width: 100%; height: auto; }
            .top_reason .top_reason_imgs .top_reason_img:nth-child(1) { margin-right: -40px; }
            .top_reason .top_reason_imgs .top_reason_img:nth-child(2) { margin-right: -20px }
            .top_reason .top_reason_imgs .top_reason_img:nth-child(3) { margin-inline: -20px }
            .top_reason .top_reason_imgs .top_reason_img:nth-child(4) { margin-left: -20px }
            .top_reason .top_reason_imgs .top_reason_img:nth-child(5) { margin-left: -40px }
            .tint_video_blk, .why_trapo_tint .why_trapo_row, .reason_icon_blk .reason_icon_blk_row{ width: 80%; margin: 0 auto; }
            .reason_icon_blk .reason_icon_item{ grid-template-columns: 60px auto; gap:15px; }
            .reason_icon_blk .reason_icon_item img{ width: 100%; height: auto; }
            .reason_icon_blk .reason_icon_item span{ font-size: 16px; line-height: 22px; }
            .tint_video_blk img{ /*width: 100%; height: auto; padding: 0 40px; margin: 30px 0 -200px;*/ }
            .nano_ceramic_blk .nano_ceramic_img img { width: 100%; max-width: 900px; height: auto; }
            .blog_post_blk { background-position: right 60px top; }
            .blog_post_blk .blog_post_content{ width: 50%; }
            .blog_post_blk .blog_post_img{ width: 50%; margin-top:-200px }
            .blog_post_blk .blog_post_img img{ width: 100%; height: auto; }
            section.blog_post_container.tint_service_blk { margin: 50px auto 50px; }
            .tint_service_banner{ margin-bottom: 0 }
        }
        @media(max-width:992px){
            .tint_video_blk, .why_trapo_tint .why_trapo_row, .reason_icon_blk .reason_icon_blk_row { width: 90%; }
            .blog_post_blk{ flex-wrap: wrap; flex-direction: column-reverse; background-position: center; gap:20px; padding: 27px 0 27px 47px; border-radius: 8px }
            .blog_post_blk .blog_post_img { margin-top: -150px; text-align: right; margin-inline: auto; width: 80%; }
            .blog_post_container{ margin-top: 170px; }
            .blog_post_blk .blog_post_content { padding-right: 120px; width: 100%; }
            .tint_service_tab #tabs-nav{ margin: 0 20px 15px }
            .tint_service_tab #tabs-content .tab-content .tab_img{ gap:10px }
            .tint_film_row .tint_film_item img{ width: 100%; height: auto; }
            .tint_film_row .tint_film_item .tint_film_desc span{ line-height: 40px }
            .tint_service_banner .tint_films_logo { margin-bottom: -11%; }
            .tint_service_banner .trapo_car img{ height: auto; }
            .tint_service_banner { margin-top: 10px; padding-top: 50px }
            .tint_service_banner .tint_films_logo img{ width: 30%; }
            .top_reason .top_reason_imgs .top_reason_img:nth-child(1) { margin-right: -20px; }
            .top_reason .top_reason_imgs .top_reason_img:nth-child(2) { margin-right: -10px }
            .top_reason .top_reason_imgs .top_reason_img:nth-child(3) { margin-inline: -10px }
            .top_reason .top_reason_imgs .top_reason_img:nth-child(4) { margin-left: -10px }
            .top_reason .top_reason_imgs .top_reason_img:nth-child(5) { margin-left: -20px }
            .tint_bg { margin-bottom: 120px; }
            .tin_service_container.nano_ceramic_blk  { margin-top: 30px; }
            #croma_slider .slide-item { padding: 0 10px; }
            section.blog_post_container.tint_service_blk { margin: 40px auto; }
            .blog_post_container { margin-bottom: 40px; }
            #croma_slider { margin-top: 30px; }
            .tint_film_row .tint_film_item .tint_film_desc { margin: 15px 0 ; }
            .tint_film_row .tint_film_item .tint_film_desc.desc-2 { margin-top: 20px; }
            .tint_film_row .tint_film_item{ padding: 20px 15px }
        }
        @media(max-width:767px){
           a.tint_film_btn{
            font-size:11px;
            padding:7px;
          }
           .action a.tint_btn{
            font-size:12px;
          }
          .tab-content{
            padding:0 20px;
          }
          .tab-content .tab_img img{
            padding-bottom:10px;
          }
            .why_trapo_tint .why_trapo_row .why_trapo_item img{ width: 100px; height: auto; margin-top: -50px }
            .nano_ceramic_blk .nano_ceramic_icons{ gap:5px; align-items: flex-start; }
            .nano_ceramic_blk .nano_ceramic_icons img{ width: auto; height: 80px; object-fit: contain; }
            .why_trapo_tint .why_trapo_row .why_trapo_item p{ color: #fff !important; }
            .why_trapo_tint .why_trapo_row .why_trapo_item h6{ margin-top: 10px; }
            .why_trapo_tint .why_trapo_row .why_trapo_item{ padding: 0 10px 0 }
            .tint_video_blk img{ /*margin-top: 10px*/ }
            .tin_service_container:not(.tint_service_banner){ margin-block: 30px 10px }
            .tint_film .tint_film_desc { margin-top: 20px; }
            .why_trapo_tint .tint_title{ margin-bottom: 0px }
            .nano_ceramic_blk .nano_ceramic_img,  .nano_ceramic_blk p{ margin-bottom: 0 }
            .tint_film_row .tint_film_item .tint_film_desc span { line-height: 30px; font-size: 14px }
            .tint_film_row .tint_film_item.active:before{ font-size: 16px; height: 55px; top: -40px }
            .action .tint_btn{ padding: 10px; margin: 0 auto; }
            .tint_film_row .tint_film_item button{ padding: 10px }
            #croma_slider { margin-top: 0px; }
            .croma_slider { margin-bottom: 30px; }
            .blog_post_container { margin-top: 150px; }
            .blog_post_blk .blog_post_content p{ color: #fff !important; margin: 0 }
            .blog_post_blk .blog_post_content{ padding-right: 47px }
            .blog_post_blk .blog_post_content h6{ margin: 0; padding: 0 }
            section.blog_post_container.tint_service_blk { margin: 30px auto 20px; }
            .tint_service_tab #tabs-nav li a{ font-size: 16px; }
        }
        @media(min-width:577px){
            .mobile_view, #why_trapo_tint{ display: none !important; }
        }
        @media(max-width:576px){
            .desc_view{ display: none !important; }
            .tint_bg { width: calc(100% + 35px); position: unset; margin: 0 -20px 75px; }
            .video {top: 40px;width: 95%;}
            .tint_service_banner{ display: flex; flex-direction: column; margin: 0 0 20px; justify-content: center; align-items: center; padding: 20px 15px 0; gap:20px }
            .tint_service_banner .tint_films_logo { margin-bottom: 0; }
            .tint_service_banner .tint_films_logo img{ margin: 0 auto; display: block; width: 100%; max-width: 225px }
            .tint_service_banner .trapo_car{ text-align: center }
            .tint_title{ font-size: 20px; line-height: 21px; letter-spacing: 2px; max-width: 260px; margin: 0 auto 10px; width: 100%; }
            .top_reason .top_reason_imgs .top_reason_img img{ height: 116px; width: 137px; }
            .reason_icon_blk .reason_icon_blk_row{ flex-wrap: wrap; gap:22px; justify-content: center; max-width: 290px; width: 100%; margin: 0 auto; }
            .reason_icon_blk .reason_icon_item{ flex: unset; width: 100%; gap:20px; grid-template-columns: 65px auto; }
            .tin_service_container.reason_icon_blk{ margin-bottom: 50px }
            .why_trapo_tint .why_trapo_row{ display: unset; }
            .why_trapo_tint .why_trapo_row .slick-list{ padding: 0 20px !important }
            .why_trapo_tint .why_trapo_row .why_trapo_item { padding: 0 5px 0; background-color: transparent; }
            .why_trapo_tint .why_trapo_row .why_trapo_item > div{ background-color: #1B3D6D; border-radius: 12px; padding: 10px; }
            .why_trapo_tint .why_trapo_row .why_trapo_item img { width: 125px; margin-top: -65px; }
            .why_trapo_tint .why_trapo_row .why_trapo_item h6 { margin-top: 20px; }
            .why_trapo_tint .why_trapo_row .why_trapo_item p { padding: 0 0 20px !important; line-height: 24px !important }
            .tint_film_row .tint_film_item img { /*width: auto; height: auto;*/ }
            .tint_video_blk img { /*margin: 10px 0 -100px; width: 100%; height: auto; padding: 0*/ }
            .nano_ceramic_blk .nano_ceramic_icons{ flex-wrap: wrap; gap:20px 10px; justify-content: space-between; }
            .nano_ceramic_blk .nano_ceramic_icons img { height: 110px; object-fit: contain; margin: 0 auto; }
            .nano_ceramic_blk .nano_ceramic_img { width: calc(100% + 35px); position: unset; margin: 0 -20px 10px; }
            .nano_ceramic_blk .nano_ceramic_img img{ width: 100%; }
             .nano_ceramic_blk p{ max-width: 305px; width: 100%; font-size: 16px !important; line-height: 24px !important; letter-spacing: 0.19px !important; }
            .nano_ceramic_blk .nano_ceramic_icons{ margin-top: 30px }
            .tint_film_row{ gap:10px; }
            .tint_film_row .tint_film_item { box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.25); padding: 19px 5px 7px; border-radius: 8px; }
            .tint_film_row .tint_film_item.active:before { font-size: 11px; height: 40px; top: -23px; }
            .tint_film_row .tint_film_item button { font-size: 11px; padding:6px 5px ; min-height: unset; border-radius: 4px; }
            .tint_film_row .tint_film_item .tint_film_desc span { line-height: 25px; font-size: 12px; white-space: nowrap; }
            .tint_film .tint_film_desc p{ color: #808080 !important; font-size: 11px!important; line-height: 16px !important; }
            .blog_post_container{ width: calc(100% + 35px); position: unset; margin: 120px -20px 40px !important; }
            .blog_post_blk .blog_post_img{ margin-top: -100px }
            .blog_post_blk{ padding: 20px 20px 40px; border-radius: 0; }
            .blog_post_blk .blog_post_content { padding-right: 0; max-width: 320px; width: 100%; margin: 0 auto; text-align: center }
            .blog_post_blk .blog_post_content p{ text-align: center; font-size: 19px !important; line-height: 27px !important; letter-spacing: 0.19px !important; }
            .blog_post_blk .blog_post_content span{ font-size: 16px; font-weight: 300; }
            section.blog_post_container.tint_service_blk { margin-top: 60px !important; }
            .tint_service_tab #tabs-content .tab-content .tab_img { grid-template-columns: 1fr; gap:0; }
            .tint_service_tab #tabs-nav li a { font-size: 19px; }
            .tint_service_tab #tabs-nav{ margin-bottom: 25px; border-bottom: 2px solid #DEDEDE; }
            .tint_service_tab #tabs-nav li.active a:after{ height: 2px; bottom: -2px }
            .croma_slider { width: calc(100% + 35px); margin: 0 -20px 30px; }
            #croma_slider .slide-arrow { width: 40px; height: 40px; top: 13.5%; left: 35px; }
            #croma_slider .next-arrow.slide-arrow { left: unset; right: 35px; }
            #croma_slider .slick-list { padding: 0 20px !important; }
            #croma_slider .slide-item { padding: 0 5px; }
        }
    </style>
    <div class="tint_bg">
        <section class="tint_service_banner tin_service_container">
            <div class="tint_films_logo">
                <img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/tint-films_icon_a56ce7a9-3abc-4dbb-ac9a-152a7ff81fdd.png?v=1705427065"
                    alt="TOP REASONS TO GET YOUR CAR TINTED" width="435px" height="100%">
            </div>
            <div class="trapo_car">
                <img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/trapo-porsche.png?v=1705427244" alt="TOP REASONS TO GET YOUR CAR TINTED"
                    width="729px" height="377px">
            </div>
        </section>
        <section class="top_reason">
            <h6 class="tint_title">TOP REASONS TO GET YOUR CAR TINTED</h6>
            <div class="top_reason_imgs">
                <div class="top_reason_img">
                    <img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/reason_11_left.png?v=1705430161" alt="" >
                </div>
                <div class="top_reason_img">
                    <img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/reason_11.png?v=1705429821" alt="Greatly reduce heat during a hot day" width="394px" height="332px">
                </div>
                <div class="top_reason_img">
                    <img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/reason_22.png?v=1705429821" alt="Reduce glare when driving on a sunny day" width="394px" height="332px">
                </div>
                <div class="top_reason_img">
                    <img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/reason_33.png?v=1705429821" alt="" width="394px" height="332px">
                </div>
                <div class="top_reason_img">
                    <img class="lazyload" src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/reason_11_right.png?v=1705430161" alt="Privacy and security protection of belongings">
                </div>
            </div>
        </section>
        <section class="reason_icon_blk tin_service_container">
            <div class="reason_icon_blk_row">
                <div class="reason_icon_item">
                    <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Issue_Icons_1.png?v=1707281426" alt="Greatly reduce heat during a hot day" height="80px" width="80px">
                    <span>Greatly reduce heat during a hot day</span>
                </div>
                <div class="reason_icon_item">
                    <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Issue_Icons_2.png?v=1707281426" alt="Reduce glare when driving on a sunny day" height="80px" width="80px">
                    <span>Reduce glare when driving on a sunny day</span>
                </div>
                <div class="reason_icon_item">
                    <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Issue_Icons_3.png?v=1707281426" alt="Privacy and security protection of belongings" height="80px" width="80px">
                    <span>Privacy and security protection of belongings</span>
                </div>
            </div>
        </section>
        <section class="why_trapo_tint tin_service_container" >
            <h6 class="tint_title">WHY TRAPO TINT?</h6>
            <div class="why_trapo_row desc_view" >
                <div class="why_trapo_item">
                    <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/no_inner_door_removal.svg?v=1707372129" alt="No Inner Door Removal" height="125px" width="125px">
                    <h6>No Inner Door <br> Removal</h6>
                    <p>With Trapo Tint, there's no need to remove the car's interior door panels during the installation process. This saves time and avoids damaging your car's interior components.</p>
                </div>
                <div class="why_trapo_item">
                    <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/use_power_windows_immediately.svg?v=1707372129" alt="Use Power Windows Immediately" height="125px" width="125px">
                    <h6>Use Power Windows<br> Immediately</h6>
                    <p>Enjoy your newly tinted windows right away, as Trapo Tint ensures immediate usability of power windows. The strong adhesive properties of the tint guarantee a secure and long-lasting bond.</p>
                </div>
                <div class="why_trapo_item">
                    <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/1-1_replacement.svg?v=1707372044" alt="1-to-1 Replacement" height="125px" width="125px">
                    <h6>1-to-1 <br>Replacement</h6>
                    <p>For break-ins or accidents leading to window replacement, enjoy a hassle-free 1-to-1 tint replacement. Contact us for a seamless arrangement.T&C apply.</p>
                </div>
            </div>
            <div class="why_trapo_row" id="why_trapo_tint">
                <div class="why_trapo_item">
                    <div>
                        <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/waytint_1.png?v=1705508438" alt="No Inner Door Removal" height="125px" width="125px">
                        <h6>No Inner Door <br> Removal</h6>
                        <p>With Trapo Tint, there's no need to remove the car's interior door panels during the installation process. This saves time and avoids damaging your car's interior components.</p>
                    </div>
                </div>
                <div class="why_trapo_item">
                    <div>
                        <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/waytint_2.png?v=1705508439" alt="Use Power Windows Immediately" height="125px" width="125px">
                        <h6>Use Power Windows<br> Immediately</h6>
                        <p>Enjoy your newly tinted windows right away, as Trapo Tint ensures immediate usability of power windows. The strong adhesive properties of the tint guarantee a secure and long-lasting bond.</p>
                    </div>
                </div>
                <div class="why_trapo_item">
                    <div>
                        <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/waytint_3.png?v=1705508438" alt="1-to-1 Replacement" height="125px" width="125px">
                        <h6>1-to-1 <br>Replacement</h6>
                        <p>For break-ins or accidents leading to window replacement, enjoy a hassle-free 1-to-1 tint replacement. Contact us for a seamless arrangement.<br> T&C apply.</p>
                    </div>
                </div>
            </div>
            <div class="tint_video_blk">
               <!--<img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/waytint_video.png?v=1705510743" alt="" width="875px" height="444px">-->
              <div class="video">
                <div class="wrapper">
                  <div data-embed="2YvOj5yvHTs" class="youtube">
                  <div class="play-button"></div>
                  </div>
                </div>
              </div>
            </div>
        </section>
    </div>
    <div class="action">
        <a href="https://wa.link/7bwg8g" target="_blank" class="tint_btn">BOOK NOW</a>
    </div>
    <section class="nano_ceramic_blk tin_service_container">
        <h6 class="tint_title">NANO CERAMIC OR METALIZED?</h6>
        <div class="nano_ceramic_img">
            <img class="desc_view" src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/nano_ceramic.png?v=1705511735" alt="The main difference between the two tints lies in their composition. Nano-Ceramic tint is like high-tech sunglasses for your car, keeping the heat away and known for its clarity and non-interference. Metalized tint incorporates small metal particles for excellent heat reflection and offers reliable durability." width="1090px" height="574px">
            <img class="mobile_view" src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/nano_ceramic_mobile.png?v=1705858974" alt="The main difference between the two tints lies in their composition. Nano-Ceramic tint is like high-tech sunglasses for your car, keeping the heat away and known for its clarity and non-interference. Metalized tint incorporates small metal particles for excellent heat reflection and offers reliable durability." width="390px" height="237px">
        </div>
        <p>The main difference between the two tints lies in their composition. Nano-Ceramic tint is like high-tech sunglasses for your car, keeping the heat away and known for its clarity and non-interference. Metalized tint incorporates small metal particles for excellent heat reflection and offers reliable durability.</p>
        <p>In terms of keeping the car cooler over time, metalized tint proves to be a better choice as it can reflect heat for a more extended period compared to nano-ceramic tint. It's akin to choosing between a cool, clear vibe or a tough, reliable shield for your ride.</p>
        <div class="nano_ceramic_icons">
            <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/ultimate_privacy_protection.svg?v=1707372129" alt="ultimate privacy protection">
            <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/blocks_harmful_uv_ray.svg?v=1707372129" alt="blocks harmful uv ray">
            <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/glass_shard_protection.svg?v=1707372129" alt="glass shard protection">
            <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/less_eye_fatigue.svg?v=1707372129" alt="less eye fatigue">
            <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/anti_bacterial_coating.svg?v=1707372129" alt="anti bacterial coating">
            <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/hd_vision.svg?v=1707372129" alt="hd_vision">
            <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/high_heat_reduction.svg?v=1707372129" alt="high heat reduction">
        </div>
    </section>
    <section class="tin_service_container">
        <div class="tint_film">
            <div class="tint_film_row">
                <div class="tint_film_item">
                    <img class="desc_view" src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/tint-logo-1.png" alt="Crystal Tint Film" width="235px" height="50px">
                    <img class="mobile_view" src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/tint-logo-m-1.png" alt="Crystal Tint Film" width="77px" height="47px">
                    <div class="tint_film_desc">
                        <span>Nano Ceramic</span>
                        <span>2 Mil</span>
                        <span>92% IRR</span>
                        <span>≥99% UVR</span>
                        <span>15/50/70% VLT</span>
                        <span>5 Years Warranty</span>
                    </div>
                    <a href="https://wa.link/7bwg8g" target="_blank" class="tint_film_btn">MORE INFO</a>
                </div>
                <div class="tint_film_item">
                    <img class="desc_view" src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/tint-logo-2.png" alt="Defend Security Tint Film" width="255px" height="50px">
                    <img class="mobile_view" src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/tint-logo-m-2.png" alt="Defend Security Tint Film" width="83px" height="47px">
                    <div class="tint_film_desc desc-2">
                        <span>Nano Ceramic</span>
                        <span>4 Mil</span>
                        <span>95% IRR</span>
                        <span>≥99% UVR</span>
                        <span>20/50/70% VLT</span>
                        <span>7 Years Warranty</span>
                    </div>
                    <a href="https://wa.link/7bwg8g" target="_blank" class="tint_film_btn">MORE INFO</a>
                </div>
                <div class="tint_film_item active">
                    <img class="desc_view" src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/tint-logo-3.png" alt="Chroma Premium Tint Film" width="251px" height="50px">
                    <img class="mobile_view" src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/tint-logo-m-3.png" alt="Chroma Premium Tint Film" width="80px" height="47px">
                    <div class="tint_film_desc">
                        <span>Metalized</span>
                        <span>3 Mil</span>
                        <span>97% IRR</span>
                        <span>≥99% UVR</span>
                        <span>20/50/70% VLT</span>
                        <span>10 Years Warranty</span>
                    </div>
                    <a href="https://wa.link/7bwg8g" target="_blank" class="tint_film_btn active">MORE INFO</a>
                </div>
            </div>
            <div class="tint_film_desc">
                <p>*IRR - Infra Red Rejection (Heat rejection) <br> **UVR - Ultra Violet Rejection (UV ray block, protects human skin)</p>
            </div>
        </div>
    </section>
    <section  class="croma_slider" >
        <div id="croma_slider">
            <div class="slide-item">
                <img class="desc_view" src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/tint-slider-n-1.png" alt="Value-Conscious, Wallet-Friendly Designed for those looking to improve visibility and privacy of their car interior without sacrificing style or comfort. The aesthetics of ceramic film's non-reflective finish allows you to enjoy a much cooler protected interior while in broad daylight, fully protected from the sun's glare. With proper UV rays protection and heat-resistance, you'll get better fuel efficiency from a car that stays cooler for longer.">
                <img class="mobile_view" src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/tint-slider-m-n-1.png" alt="Value-Conscious, Wallet-Friendly Designed for those looking to improve visibility and privacy of their car interior without sacrificing style or comfort. The aesthetics of ceramic film's non-reflective finish allows you to enjoy a much cooler protected interior while in broad daylight, fully protected from the sun's glare. With proper UV rays protection and heat-resistance, you'll get better fuel efficiency from a car that stays cooler for longer.">
            </div>
            <div class="slide-item">
                <img class="desc_view" src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/tint-slider-n-2.png" alt="Ultimate Heat Rejection Made up of tiny nanometallic particles, this window tint offers maximum security while adding a touch of class and elegance. With ultra heat-rejection capabilities and impressive shatter-resistant features, this luxury model of window tint secures your privacy at all times while allowing you to indulge in the comforts of a thermo-regulated atmosphere.">
                <img class="mobile_view" src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/tint-slider-m-n-2.png" alt="Ultimate Heat Rejection Made up of tiny nanometallic particles, this window tint offers maximum security while adding a touch of class and elegance. With ultra heat-rejection capabilities and impressive shatter-resistant features, this luxury model of window tint secures your privacy at all times while allowing you to indulge in the comforts of a thermo-regulated atmosphere.">
            </div>
            <div class="slide-item">
                <img class="desc_view" src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/tint-slider-n-3.png" alt="Secure Break-Safe Shield In the event of a crash or a break-in, Trapo DFEND safeguards you from harmful glass shards thanks to the tiny nanoparticles that are tightly bound to make this model of ceramic window tint highly durable. Along with added privacy, you'll feel safer with the ultra protection while indulging in the comfort of a glare-free, pleasantly cool car interior.">
                <img class="mobile_view" src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/tint-slider-m-n-3.png" alt="Secure Break-Safe Shield In the event of a crash or a break-in, Trapo DFEND safeguards you from harmful glass shards thanks to the tiny nanoparticles that are tightly bound to make this model of ceramic window tint highly durable. Along with added privacy, you'll feel safer with the ultra protection while indulging in the comfort of a glare-free, pleasantly cool car interior.">
            </div>
        </div>
    </section>
    <div class="action">
        <a href="https://wa.link/7bwg8g" target="_blank" class="tint_btn">BOOK NOW</a>
    </div>
    <section class="blog_post_container">
        <div class="blog_post_blk">
            <div class="blog_post_content">
                <strong>TRAPO CHROMA TINT FILM</strong>
                <h6>I’m loving my cool car!</h6>
                <p><i>“Trapo Car Tint hooked up my beast ride! Installation was smooth.. thank you Trapo team~ No more heat vibes from sunny day. Glare's down for the fam, and the sleek look is lit. Everyone felt safer with their belongings! 🔥”</i></p>
                <span>- Chase M.</span>
            </div>
            <div class="blog_post_img">
                <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/post_item.png?v=1705597486" alt="Trapo Car Tint hooked up my beast ride! Installation was smooth.. thank you Trapo team~ No more heat vibes from sunny day. Glare's down for the fam, and the sleek look is lit. Everyone felt safer with their belongings!" width="700px">
            </div>
        </div>
    </section>
    <div class="action ">
        <a href="https://wa.link/7bwg8g" target="_blank" class="tint_btn blog_post_btn">CLICK HERE TO REDUCE YOUR CAR HEAT TODAY</a>
    </div>
    <section class="blog_post_container tint_service_blk">
        <div class="tint_service_tab">
            <ul id="tabs-nav">
                <li><a class="active" href="#tab1">Our Process</a></li>
                <li><a href="#tab2">FAQ</a></li>
            </ul>
            <div id="tabs-content">
                <div id="tab1" class="tab-content">
                    <div class="tab_img">
                        <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/our_process_1.png?v=1705601371" alt="Cleaning the Glass">
                        <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/our_process_2.png?v=1705601371" alt="Installing Tint Film">
                        <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/our_process_3.png?v=1705601371" alt="Drying and Quality Check">
                    </div>
                </div>
                <div id="tab2" class="tab-content">
                    <p class="faq-title"><strong>1) Can we tint a double layer?</strong></p>
                    <p>- ⁠Yes, it is possible, but we highly do not recommend this. For optimal results, it's recommended to use Trapo Tint for the first layer. Nonetheless, it's not advisable for the front windscreen to have a double layer tint due to visibility and safety concerns.</p>
                    <p class="faq-title"><strong>2) Does Trapo Tint affect my RFID and smart tag?</strong></p>
                    <p>- Yes, Trapo Tint will affect Smart Tag / RFID signal due to high IR rejection, as we believe Tint is made for Heat Reduction / Rejection and not made for Devices. </p>
                    <p>- ⁠However , we’re able to do as below to pass thru the toll : 1) Wind down the window and expose smart tag externally 2) Cut a small square on the windscreen and attach smart tag on it 3) Apply RFID on headlamp or stick behind the car number plate , as for Crystal / Dfend , it’s able to stick on the top right corner of windscreen . </p>
                    <p class="faq-title"><strong>3) How long can I move down the side window after tint?</strong></p>
                    <p>- You can wind down or up immediately , no waiting time needed .</p>
                </div>
            </div>
        </div>
    </section>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery.slick/1.4.1/slick.min.js"></script>
    <script>
        $("#croma_slider").slick({
            speed: 1000,
            dots: false,
            centerMode: false,
            focusOnSelect: true,
            prevArrow: '<button class="slide-arrow prev-arrow"></button>',
            nextArrow: '<button class="slide-arrow next-arrow"></button>',
            infinite: true,
            speed: 500,
        });
        $("#why_trapo_tint").slick({
            speed: 1000,
            dots: false,
            centerMode: true,
            focusOnSelect: true,
            prevArrow: false,
            nextArrow: false,
            infinite: true,
            speed: 500,
        });
        $('#tabs-nav li:first-child').addClass('active');
        $('.tab-content').hide();
        $('.tab-content:first').show();
        $('#tabs-nav li').click(function(){
            $('#tabs-nav li').removeClass('active');
            $(this).addClass('active');
            $('.tab-content').hide();
            var activeTab = $(this).find('a').attr('href');
            $(activeTab).fadeIn();
            return false;
        });
    </script>
