<section class="tint_films">
  <div class="tint_films_img">
    <img
      src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_461.png?v=1717086119"
      alt=""
      class="desk_img"
    >
    <img
      src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_465.png?v=1717347790"
      alt=""
      class="mobile_img"
    >
  </div>
</section>
<section class="tint_new_video">
  <div class="container_md">
    <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_417.png?v=1717086194" alt="">
  </div>
</section>
<section class="two_blks">
  <div class="container_md">
    <div class="two_blks_row">
      <div class="col">
        <div class="left">
          <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/image_66.png?v=1717087642" alt="">
        </div>
        <div class="right">
          <h1>HIGH HEAT REJECTION</h1>
          <p>
            Daytime temperatures in Malaysia average 32°C, which means that our high heat rejection car tints block the
            sun's intense rays. This keeps your car cooler and more comfortable, reduces the need for air conditioning,
            saves fuel, and ensures a more pleasant drive.
          </p>
        </div>
      </div>
      <div class="col">
        <div class="left">
          <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/image_65.png?v=1717087642" alt="">
        </div>
        <div class="right">
          <h1>security FILM</h1>
          <p>
            In Malaysia, where snatch theft by motorcyclists is a common threat, our security film car tints provide
            crucial protection. These tints make your windows harder to smash, deterring thieves and protecting your
            belongings.
          </p>
        </div>
      </div>
      <div class="col">
        <div class="left">
          <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/image_67.png?v=1717087642" alt="">
        </div>
        <div class="right">
          <h1>NIGHT CLARITY</h1>
          <p>
            For those with night blindness or astigmatism, our tints minimize glare from headlights and streetlights,
            improving visibility during night driving. Experience safer and more comfortable journeys after dark with
            our advanced car tints.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="ppf_slider_wrapper">
  <div class="ppf_slider">
    <div class="item">
      <h2>1-to-1 replacement</h2>
      <p>
        Experience worry-free protection with our tint's free 1-to-1 replacement for break-ins or accidents. Contact us
        now to arrange your hassle-free replacement. Terms and conditions apply.
      </p>
    </div>
    <div class="item">
      <h2>1-to-1 replacement</h2>
      <p>
        Experience worry-free protection with our tint's free 1-to-1 replacement for break-ins or accidents. Contact us
        now to arrange your hassle-free replacement. Terms and conditions apply.
      </p>
    </div>
    <div class="item">
      <h2>1-to-1 replacement</h2>
      <p>
        Experience worry-free protection with our tint's free 1-to-1 replacement for break-ins or accidents. Contact us
        now to arrange your hassle-free replacement. Terms and conditions apply.
      </p>
    </div>
    <div class="item">
      <h2>1-to-1 replacement</h2>
      <p>
        Experience worry-free protection with our tint's free 1-to-1 replacement for break-ins or accidents. Contact us
        now to arrange your hassle-free replacement. Terms and conditions apply.
      </p>
    </div>
    <div class="item">
      <h2>1-to-1 replacement</h2>
      <p>
        Experience worry-free protection with our tint's free 1-to-1 replacement for break-ins or accidents. Contact us
        now to arrange your hassle-free replacement. Terms and conditions apply.
      </p>
    </div>
  </div>
</section>
<section class="how_its_done">
  <div class="container_md">
    <h2>HOW IS IT DONE?</h2>
    <div class="how_its_done_row">
      <div class="col">
        <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Mask_group_2.png?v=1717088385" alt="">
        <h3>GLASS CLEANING</h3>
      </div>
      <div class="col">
        <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Mask_group.png?v=1717088347" alt="">
        <h3>TINT FILM INSTALLATION</h3>
      </div>
      <div class="col">
        <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Mask_group_1.png?v=1717088347" alt="">
        <h3>DRYING & INSPECTION</h3>
      </div>
    </div>
  </div>
</section>
<section class="statisfid_customers">
  <h2>satisfied customers</h2>
  <div class="cstmr_row">
    <div class="col">
      <span>carBoy1987</span>
      <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/image_38.png?v=1717088562" alt="">
      <strong>Mazda CX-5</strong>
      <p>My car damn cun woi! Thank you so much trapo</p>
      <a href="#">View full review</a>
    </div>
    <div class="col">
      <span>carBoy1987</span>
      <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/image_38.png?v=1717088562" alt="">
      <strong>Mazda CX-5</strong>
      <p>My car damn cun woi! Thank you so much trapo</p>
      <a href="#">View full review</a>
    </div>
    <div class="col">
      <span>carBoy1987</span>
      <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/image_38.png?v=1717088562" alt="">
      <strong>Mazda CX-5</strong>
      <p>My car damn cun woi! Thank you so much trapo</p>
      <a href="#">View full review</a>
    </div>
    <div class="col">
      <span>carBoy1987</span>
      <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/image_38.png?v=1717088562" alt="">
      <strong>Mazda CX-5</strong>
      <p>My car damn cun woi! Thank you so much trapo</p>
      <a href="#">View full review</a>
    </div>
    <div class="col">
      <span>carBoy1987</span>
      <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/image_38.png?v=1717088562" alt="">
      <strong>Mazda CX-5</strong>
      <p>My car damn cun woi! Thank you so much trapo</p>
      <a href="#">View full review</a>
    </div>
  </div>
</section>
<section class="ppf_slider_wrapper tint_range">
  <h2>OUR TINT RANGE</h2>
  <div class="ppf_slider">
    <div class="item high_clarity">
      <img
        src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/tint-logo-crystal_6ba13cee-318e-4f5c-a4ef-abeb2bdac368.png?v=1717171911"
        alt=""
      >
      <p>
        High-clarity tint <br>
        <br>
        For the nightly commuter navigating dimly lit roads, this tint ensures clear visibility, enhancing safety during
        evening drives while providing essential protection against UV rays and glare.
      </p>
    </div>
    <div class="item extra_thick">
      <img
        src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/tint-logo-chroma_f42e2362-6c27-4aab-b33a-d2966885e925.png?v=1717171910"
        alt=""
      >
      <p>
        Extra-thick for security <br>
        <br>
        For the urban dweller parking in bustling areas, this tint brings peace of mind. Its extra thickness acts as a
        deterrent against break-ins, doubling as a security film, safeguarding valuables left in the car.
      </p>
    </div>
    <div class="item premium_tint">
      <img
        src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/tint-logo-dfend_911f15cc-f4a1-489f-a20b-b42a0ed31417.png?v=1717171911"
        alt=""
      >
      <p>
        Premium metalized tint<br>
        <br>
        For the luxury car owner who values both style and comfort, this tint is ideal. Perfect for those who want to
        ride in elegance and stay comfortable in any climate.
      </p>
    </div>
  </div>
</section>
<section class="tint_table">
  <div class="container_md">
    <table>
      <thead>
        <th></th>
        <th>
          <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/tint-logo-crystal_1.png?v=1717173642" alt="">
        </th>
        <th>
          <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/tint-logo-dfend_1.png?v=1717173642" alt="">
        </th>
        <th>
          <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/tint-logo-chroma_1.png?v=1717173642" alt="">
        </th>
      </thead>
      <tbody>
        <tr>
          <td class="col_1">
            <div>
              <span>Technology</span>
              <a class="modal-toggle" href="#"
                ><img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_355.png?v=1717173807" alt=""
              ></a>
            </div>
          </td>
          <td class="col_2">Nano Ceramic</td>
          <td class="col_3">Nano Ceramic</td>
          <td class="col_4">Metalized</td>
        </tr>
        <tr>
          <td class="col_1">
            <div>
              <span>Mil</span>
              <a href="#"
                ><img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_355.png?v=1717173807" alt=""
              ></a>
            </div>
          </td>
          <td class="col_2">2 Mil</td>
          <td class="col_3">4 Mil</td>
          <td class="col_4">3 Mil</td>
        </tr>
        <tr>
          <td class="col_1">
            <div>
              <span>IRR</span>
              <a href="#"
                ><img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_355.png?v=1717173807" alt=""
              ></a>
            </div>
          </td>
          <td class="col_2">92%</td>
          <td class="col_3">95%</td>
          <td class="col_4">97%</td>
        </tr>
        <tr>
          <td class="col_1">
            <div>
              <span>UVR</span>
              <a href="#"
                ><img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_355.png?v=1717173807" alt=""
              ></a>
            </div>
          </td>
          <td class="col_2">≥99%</td>
          <td class="col_3">≥99%</td>
          <td class="col_4">≥99%</td>
        </tr>
        <tr>
          <td class="col_1">
            <div>
              <span>VLT</span>
              <a href="#"
                ><img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_355.png?v=1717173807" alt=""
              ></a>
            </div>
          </td>
          <td class="col_2">15/50/70</td>
          <td class="col_3">20/50/70</td>
          <td class="col_4">20/50/70</td>
        </tr>
        <tr>
          <td class="col_1">
            <div>
              <span>Warranty Period</span>
              <a href="#"
                ><img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_355.png?v=1717173807" alt=""
              ></a>
            </div>
          </td>
          <td class="col_2">5 Years</td>
          <td class="col_3">7 Years</td>
          <td class="col_4">10 Years</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="modal">
    <div class="modal-overlay modal-toggle"></div>
    <div class="modal-wrapper modal-transition">
      <div class="modal-header">
        <button class="modal-close modal-toggle">
          <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_419.png?v=1717383520">
        </button>
      </div>

      <div class="modal-body">
        <div class="modal-content">
          <h2>Technology (Nano vs Metallized)</h2>
          <p>
            Nano-ceramic tint acts like clear sunscreen for your car, shielding it from heat and UV rays without
            changing its appearance or affecting electronic devices. Metallized tint functions akin to reflective
            sunglasses, deflecting heat from your car's interior to keep it cooler but potentially causing a mirrored
            effect and electronic interference.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="tint_brochure">
  <div class="container">
    <div class="top">
      <h3>Starting from</h3>
      <h1>RM 750 ONLY!*</h1>
      <span>get full info of our trapo tint price and spec list here.</span>
      <a href="#" class="cstm_btn">DOWNLOAD BROCHURE</a>
    </div>
    <div class="bottom">
      <h2>0% INSTALLMENT AVAILABLE!*</h2>
      <img
        src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_461_1.png?v=1717178734"
        alt=""
        class="desk_img"
      >
      <img
        src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_261.png?v=1717348111"
        alt=""
        class="mobile_img"
      >
      <span>AND MANY MORE BANKS</span>
      <a href="#" class="cstm_btn">BOOK NOW</a>
    </div>
  </div>
</section>

<style></style>

<style>
  .tint_films img{
      width: 100%;
      display: block;
  }
  .tint_new_video{
      margin-top: -175px;
  }
  .tint_new_video img{
      display: block;
      margin: 0 auto;
    width:100%;
  }
  .two_blks{
      margin-bottom: 60px;
  }
  .two_blks .container_md{
      max-width: 1000px;
      width: 100%;
      margin: 0 auto;
  }
  .two_blks_row {
      display: flex;
      flex-direction: column;
      gap:21px;
  }
  .two_blks_row .col{
      display: grid;
      grid-template-columns: 39% 1fr;
      gap:55px;
      align-items: center;
  }
  .two_blks_row .col img{
      width: 100%;
      display: block
  }
  .two_blks_row .col h1{
      font-size: 32px;
      line-height: 30px;
      letter-spacing: 2px;
      margin-bottom: 14px;
      text-transform: uppercase;
      font-weight: 500
  }
  .two_blks_row .col p{
      color: #1B3D6D;
      font-size: 16px;;
      line-height: 24px;
      letter-spacing: 0.19px;
  }
  .two_blks_row .col:nth-child(2){
       grid-template-columns:1fr 39%;
  }
  .two_blks_row .col:nth-child(2) .right{
      order: 1;
      padding-left: 40px
  }
  .two_blks_row .col:nth-child(2) .left{
      order: 2;
  }
  .ppf_slider_wrapper{
      max-width: 1247px;
      width: 100%;
      margin: 0 auto 61px;
  }
  .ppf_slider_wrapper .item{
      background-color: #1B3D6D;
      padding: 58px 0;
      border-radius: 12px;
      margin: 0 15px;
  }
  .ppf_slider_wrapper .item h2{
      color: #fff;
      text-align: center;
      font-size: 24px;
      line-height: 28px;
      letter-spacing: 2px;
      text-transform: uppercase;
      margin: 0 0 27px
  }
  .ppf_slider_wrapper .item p{
      max-width: 595px;
      width: 100%;
      margin: 0 auto;
      color: #fff;
      font-size: 19px;
      line-height: 27px;
      letter-spacing: 0.19px;
      text-align: center;
  }
  .ppf_slider_wrapper button{
      position: absolute;
      top: 50%;
      left: 12%;
      transform:translate(0,-50%);
      width: 85px;
      height: 85px;
      border-radius: 50px;
      background-image: url('https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_138.png?v=1717089724');
      background-size: 100%;
      background-position: center;
      background-color: transparent;
      font-size: 0;
  }
  .ppf_slider_wrapper .slick-next{
      right: 12%;
      left: unset;
      background-image: url('https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_137_9a476264-6c67-49f6-9d42-563b0ee817b8.png?v=1717089735')
  }
  .how_its_done{
      background-color: #DEDEDE;
      padding: 60px 15px;
      margin-bottom: 43px;
  }
  .how_its_done .container_md{
      max-width: 983px;
      width: 100%;
      margin: 0 auto;
  }
  .how_its_done h2{
      font-size: 24px;
      font-weight: 600;
      margin-bottom: 43px;
      line-height: 28px;
      letter-spacing: 2px;
      text-align: center;
  }
  .how_its_done_row{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap:44px;
  }
  .how_its_done_row .col{
      position: relative;
  }
  .how_its_done_row .col h3{
      position: absolute;
      font-size: 36px;
      letter-spacing: 1px;
      font-weight: bold;
      line-height: 1;
      text-align: center;
      top: 50%;
      margin: 0;
      padding: 0;
      left: 50%;
      transform: translate(-50%,-50%);
      color: #fff;
  }
  .statisfid_customers {
      text-align: center;
  }
  .statisfid_customers .cstmr_row{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      max-width: 1513px;
      width: 100%;
      margin: 0 auto;
      gap:17px;
      padding:0 15px
  }
  .statisfid_customers .cstmr_row .col{
      background-color: #4274AF;
      border-radius: 12px;
      padding: 19px 0 31px;
      font-size: 16px;
      line-height: 19px;
      color: #fff;
  }
  .statisfid_customers .cstmr_row .col span{
      margin-bottom: 16px;
      display: block;
  }
  .statisfid_customers .cstmr_row .col img{
      margin-bottom: 16px;
      display: block;
    width:100%;
  }
  .statisfid_customers .cstmr_row .col strong{
      display: block;
      color: #fff;
      margin-bottom: 8px;
  }
  .statisfid_customers .cstmr_row .col p{
      max-width: 171px;
      margin: 0 auto;
      width: 100%;
      line-height: 1.3;
      margin-bottom: 15px;
  }
  .statisfid_customers .cstmr_row .col a{
      color: #fff;
      text-decoration: underline;
  }
  .tint_range {
      margin-bottom: 118px;
  }
  .tint_range h2{
      text-align: center;
      font-size: 24px;
      line-height: 28px;
      letter-spacing: 5px;
      margin-block:79px 24px;
  }
  .tint_range .high_clarity{
      background-color: #DEDEDE
  }
  .tint_range .high_clarity p{
      color: #1B3D6D
  }
  .tint_range .item {
      display: flex;
      flex-direction: column;
      height: 100%;
  }
  .tint_range .item img{
      max-width: 260px;
      width: 100%;
      margin: 0 auto 30px;;
  }

  .tint_range .premium_tint{
      background-color: #222222
  }
  .tint_table .container_md{
      max-width: 1037px;
      width: 100%;
      margin: 0 auto;
  }
  .tint_table thead tr th{
      background-color: transparent !important
  }
  .tint_table tbody tr:nth-child(odd){
      background-color: #F8F8F8;
  }
  .tint_table th,
  .tint_table tr,
  .tint_table td{
      border: 0 !important;
  }
  .tint_table th img{
      width: 100%;
  }
  .tint_table .col_1{
      width: 32%;
  }
  .tint_table .col_1 div{
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: #808080
  }
  .tint_table .col_1 div img{
      width: 21px;
  }
  .tint_table td{
      text-align: center;
      font-size: 18px;
      color: #1B3D6D;
      line-height: 19px;
      padding: 30px !important;
  }
  .tint_table .col_2{
      border-inline:1px solid #DEDEDE !important
  }
  .tint_table .col_3{
      border-right:1px solid #DEDEDE !important
  }
  .tint_brochure {
      margin-top: 89px;
  }
  .tint_brochure .container{
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
  }
  .tint_brochure .top {
      margin-bottom: 143px;
  }
  .tint_brochure .top h3{
      font-size: 34px;
      margin: 0;
      line-height: 52px;
      font-weight: 300
  }
  .tint_brochure .top h1{
      font-size: 60px;
      font-weight: bold;
      line-height: 68px;
  }
  .tint_brochure .top span{
      color: #808080;
      text-transform: normal;
      display: block;
      margin-bottom: 52px;
  }
  .tint_brochure .cstm_btn{
      display: block;
      max-width: 210px;
      font-size: 14px;
      margin: 0 auto;
      width: 100%;
      background-color: #808080;
      padding: 14px;
      border-radius: 50px;
      color: #fff;
  }
  .tint_brochure .bottom h2{
      font-size: 24px;
      line-height: 24px;
      letter-spacing: 2px;
      margin-bottom: 42px;
    font-weight:600;
  }
  .tint_brochure .bottom img{
      margin-bottom: 42px;
      width: 100%;
  }
  .tint_brochure .bottom span{
      font-size: 16px;
      color: #808080;
      display: block;
      margin-bottom: 30px
  }
    .how_its_done_row .col img {
      width: 100%;
  }
    .tint_table .modal-content h2{
      font-size:20px;
      line-height:21px;
      letter-spacing:2px;
      color:#fff;
    }
    .tint_table .modal-content p{
      font-size:16px;
      line-linehgt:24px;
      color:#fff;
    }
    .tint_table .modal {
      position: absolute;
      z-index: 10000; /* 1 */
      top: 0;
      left: 0;
      visibility: hidden;
      width: 100%;
      height: 100%;
    }

   .tint_table  .modal.is-visible {
        visibility: visible;
    }

    .tint_table .modal-overlay {
      position: fixed;
      z-index: 10;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: hsla(0, 0%, 0%, 0.5);
      visibility: hidden;
      opacity: 0;
      transition: visibility 0s linear 0.3s, opacity 0.3s;
    }

    .tint_table .modal.is-visible .modal-overlay {
      opacity: 1;
      visibility: visible;
      transition-delay: 0s;
    }

    .tint_table .modal-wrapper {
      position: fixed;
      z-index: 9999;
      top: 6em;
      left: 50%;
      width: 32em;
      margin-left: -16em;
      background-color: #E82276;
      box-shadow: 0 0 1em hsla(0, 0%, 0%, 0.25);
        border-radius: 12px;
        overflow: hidden;
    }

    .tint_table .modal-transition {
      transition: all 0.3s 0.12s;
      transform: translateY(-10%);
      opacity: 0;
    }

    .tint_table .modal.is-visible .modal-transition {
      transform: translateY(0);
      opacity: 1;
    }

    .tint_table .modal-header,
    .tint_table .modal-content {
      background-color: #E82276;
        text-align: center;
        padding: 15px 20px 20px;
        border: 0;
    }

    .tint_table .modal-header {
      position: relative;
      background-color: #E82276;
      border-bottom: 0;
    }

    .tint_table .modal-close {
      position: absolute;
      top: 15px;
      right: 15px;
      padding: 0;
      color: #aaa;
      background: none;
      border: 0;
        z-index: 999
    }

    .tint_table .modal-close:hover {
      color: #777;
    }

    .tint_table .modal-heading {
      font-size: 1.125em;
      margin: 0;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }

    .tint_table .modal-content > *:first-child {
      margin-top: 0;
    }

    .tint_table .modal-content > *:last-child {
      margin-bottom: 0;
    }
    @media(max-width:1366px){
      .tint_new_video img{
          width: 75vw;
      }
      .tint_new_video {
          margin-top: -13vw;
      }
  }
  @media(max-width:1024px){
      .two_blks_row .col {
          grid-template-columns: 42% 1fr;
          gap: 25px;
      }
      .two_blks_row .col:nth-child(2) {
          grid-template-columns: 1fr 42%;
      }
      .two_blks_row .col h1{
          font-size: 28px;
      }
      .ppf_slider_wrapper .slick-prev{
          left: 40px
      }
      .ppf_slider_wrapper .slick-next{
          right: 40px;
      }
      .how_its_done_row .col h3{
          font-size: 24px;
      }
      .how_its_done {
          padding: 30px 15px;
      }
      .how_its_done_row{
          gap:25px;
      }
      .tint_table td{
          padding: 20px !important
      }
      .statisfid_customers .cstmr_row{
          gap:10px
      }
  }
    @media(min-width:768px){
      .mobile_img{
        display:none !important;
      }
    }
  @media(max-width:767px){
    .desk_img{
      display:none !important;
    }
    .tint_new_video img {
      width: 100%;
  }
    .tint_new_video {
      margin-block: -80px 45px;
  }
      .two_blks_row .col:nth-child(2),
      .two_blks_row .col {
          grid-template-columns:1fr;
          gap: 25px;
      }
      .two_blks {
          overflow: hidden;
      }
      .two_blks_row .col img {
          width: calc(100% + 40px);
          margin: 0 -20px;
      }
      .two_blks_row .col:nth-child(2) .left {
          order: 1;
      }
      .two_blks_row .col .right{
          text-align: center;
          padding: 0 15px;
      }
      .two_blks_row .col h1 {
          font-size: 20px;
          font-weight: 600
      }
      .ppf_slider_wrapper{
          padding: 0 15px;
      }
      .statisfid_customers .cstmr_row {
        display: unset;
    }
    .statisfid_customers .cstmr_row button{
      display:none !important
    }
    .statisfid_customers {
      padding: 0 5px;
  }
    .statisfid_customers .cstmr_row .col{
      margin:0 10px;
    }
      .ppf_slider_wrapper button{
          display: none !important
      }
      .ppf_slider_wrapper .item {
          padding:40px 20px;
          margin: 0;
      }
      .ppf_slider_wrapper .item p{
          font-size: 16px;
      }
      .ppf_slider_wrapper .item h2{
          font-size: 20px;
          margin-bottom: 21px;
      }
      .how_its_done_row {
          grid-template-columns: 1fr;
          gap:30px
      }
      .how_its_done_row .col{
          max-width: 311px;
          width: 100%;
          margin: 0 auto
      }
      .tint_table {
          overflow-y: auto;
          width: calc(100% - 20px);
          margin: 0 auto;
      }
      .tint_table .col_1 {
          min-width: 220px;
      }
      .tint_table{
          overflow-y: auto
      }
      .tint_brochure .top h1{
          font-size: 28px;
          line-height: 31px;
      }
      .tint_brochure .top h3{
          font-size: 16px;
          line-height: 24px;
      }
      .tint_brochure {
          margin-top: 68px;
      }
      .tint_brochure .top span {
          font-size: 16px;
          line-height: 24px;
          max-width: 220px;
          text-transform: capitalize;
          color: #1B3D6D;
          margin-bottom: 33px;
      }
      .tint_brochure .top {
          margin-bottom: 76px;
      }
      .tint_brochure .bottom h2{
          font-size: 20px
      }
      .tint_brochure .bottom h2 {
          font-size: 20px;
          max-width: 300px;
          margin: 0 auto 18px;
      }
      .tint_brochure .bottom img {
          margin-bottom: 18px;
          width: 100%;
      }
      .tint_range {
          margin-bottom: 70px;
      }
      .how_its_done h2,
      .statisfid_customers h2,
      .tint_range h2 {
          font-size: 20px;
          line-height: 28px;
          letter-spacing: 2px;
          font-weight: 600;
          text-transform: uppercase
      }
      .how_its_done_row .col h3 {
          font-size: 36px;
      }
  }
</style>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.slick/1.4.1/slick.min.js"></script>
<script>
  $(".ppf_slider").slick({
    slidesToShow: 1,
    infinite: true,
    slidesToShow: 1,
    vertical: false,
    nav:true
  });
</script>
<script>
    mobileOnlySlider(".cstmr_row", true, false, 767);

  function mobileOnlySlider($slidername, $dots, $arrows, $breakpoint) {
  	var slider = $($slidername);
  	var settings = {
  		mobileFirst: true,
  		responsive: [
  			{
  				breakpoint: $breakpoint,
  				settings: "unslick"
  			}
  		]
  	};

  	slider.slick(settings);

  	$(window).on("resize", function () {
  		if ($(window).width() > $breakpoint) {
  			return;
  		}
  		if (!slider.hasClass("slick-initialized")) {
  			return slider.slick(settings);
  		}
  	});
  } // Mobile Only Slider
</script>

<script>
    $('.modal-toggle').on('click', function(e) {
    e.preventDefault();
    $('.modal').toggleClass('is-visible');
  });
</script>
