<div class="top_banner">
  <div class="item">
      <i class="sc-hWBuOZ iKxntp pf-11_ pfa pfa-circle-dot" data-pf-type="Icon"></i>
      <span>Free shipping (West Malaysia)</span>
  </div>
  <div class="item">
      <i class="sc-hWBuOZ iKxntp pf-11_ pfa pfa-circle-dot" data-pf-type="Icon"></i>
      <span>7 days free exchange/return</span>
  </div>
  <div class="item">
      <i class="sc-hWBuOZ iKxntp pf-11_ pfa pfa-circle-dot" data-pf-type="Icon"></i>
      <span>Up to 5 years warranty </span>
  </div>
  <div class="item">
      <i class="sc-hWBuOZ iKxntp pf-11_ pfa pfa-circle-dot" data-pf-type="Icon"></i>
      <span>Sign up and get RM25 off first purchase</span>
  </div>
</div>
{% schema %}
  {
    "name": "Top Bar",
    "settings": [],
    "presets": [{
    "name": "Top Bar",
    "category": "Image"
  }]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}