<div class="container main content">
  <div class="columns">
	<p class="no-padding">
      <img data-src='https://cdn.shopify.com/s/files/1/0234/7089/9277/files/wiper-product-description-v3_desktop_1.webp' alt="Driving is a risk in certain weather.Do you remember how scary it feels to drive when you can't really see what's in front of you?" data-expand="10" class="img-size lazyload plus-hide-mobile">
      <img data-src='https://cdn.shopify.com/s/files/1/0234/7089/9277/files/wiper-product-description-v3_mobile_1.webp' alt="Driving is a risk in certain weather.Do you remember how scary it feels to drive when you can't really see what's in front of you?" data-expand="10" class="img-size lazyload plus-hide-desktop">
    </p>
	<div class="page-text">
          <h3>Drive With Clear Vision</h3>
          <p>Hydrophobic wipers are designed to create strong water-repellent coatings on your windshield with every swipe. This produces an intense water-beading effect to prevent water build-up. Now, your vision stays clear even during heavy rain.</p>
    </div>
    <p class="no-padding">
      <img data-src='https://cdn.shopify.com/s/files/1/0234/7089/9277/files/wiper-product-description-v3_desktop_2.webp' alt="Driving with clear vision.Hydrophobic wipers are designed to create strong water-repellent coatings on your windshield with every swipe. This produce an intense water-beading efffect to prevent water build-up.Now, your vision stay clear even during heavy rain." data-expand="10" class="img-size lazyload plus-hide-mobile">
      <img data-src='https://cdn.shopify.com/s/files/1/0234/7089/9277/files/wiper_-_product_description_v3_mobile_2.webp' alt="Driving with clear vision.Hydrophobic wipers are designed to create strong water-repellent coatings on your windshield with every swipe. This produce an intense water-beading efffect to prevent water build-up.Now, your vision stay clear even during heavy rain." data-expand="10" class="img-size lazyload plus-hide-desktop">
    </p>
    <div class="page-text">
          <h3>Long Lasting Effect</h3>
          <p>Trapo Hydrophobic Wiper features water-repellent properties infused in its blades. This is why Trapo Hydrophobic Wiper lasts 24 months longer than the average rubber wiper.</p>
    </div>
	<p class="no-padding">
      <img data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/wiper-product-description-v3_desktop_3.webp" alt="Long lasting efffect.Oxtra Hydrophobic Wiper features water-reppelent properties infused in its blade. This is why Oxtra Hydrophobic Wiper lasts 24 month longer than average rubber wiper." data-expand="10" class="img-size lazyload plus-hide-mobile">
      <img data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/wiper_-_product_description_v3_mobile_3.webp" alt="Long lasting efffect.Oxtra Hydrophobic Wiper features water-reppelent properties infused in its blade. This is why Oxtra Hydrophobic Wiper lasts 24 month longer than average rubber wiper." data-expand="10" class="img-size lazyload plus-hide-desktop">
    </p>
    <p class="no-padding btn-shop-now">
        <a href="/collections/car-hydrophobic-wiper-blade">SHOP NOW</a>>
    </p>
	<p class="no-padding">
      <img data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/wiper-product-description-v3_desktop_4.webp" alt="Get an even swipe everytime. Balance wiper arm structure which applies even pressure throughout for excellent wiping performance." data-expand="10" class="img-size lazyload plus-hide-mobile">
      <img data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/wiper_-_product_description_v3_mobile_4.webp?v=1673848693" alt="Get an even swipe everytime. Balance wiper arm structure which applies even pressure throughout for excellent wiping performance." data-expand="10" class="img-size lazyload plus-hide-desktop">
    </p>
    <div class="page-text white-text">
          <h3>Heat resistance up to 250°c</h3>
          <p>Resists extreme temperatures and is highly durable. Perfect for multiple years of use!</p>
    </div>
	<p class="no-padding">
      <img data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/wiper-product-description-v3_desktop_5.webp" alt="Heat resistance up to 250. Resist extreme temperature and is highly durable.Perfect for multiple year of use!" data-expand="10" class="img-size lazyload plus-hide-mobile">
      <img data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/wiper_-_product_description_v3_mobile_5.webp" alt="Heat resistance up to 250. Resist extreme temperature and is highly durable.Perfect for multiple year of use!" data-expand="10" class="img-size lazyload plus-hide-desktop">
    </p>
    <div class="page-text">
          <h3>Compatible with all car models*</h3>
          <p>Plug and play. Quick and easy to install.</p>
    </div>
	<p class="no-padding">
      <img data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/wiper-product-description-v3_desktop_6.webp" alt="Compatible with all car models." data-expand="10" class="img-size lazyload plus-hide-mobile">
      <img data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/wiper_-_product_description_v3_mobile_6.webp" alt="Compatible with all car models." data-expand="10" class="img-size lazyload plus-hide-desktop">
    </p>
	<p class="no-padding">
      <img data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/wiper-product-description-v3_desktop_7.webp" alt="Installation made easy. As easy 1-2-3." data-expand="10" class="img-size lazyload plus-hide-mobile">
      <img data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/wiper_-_product_description_v3_mobile_7.webp" alt="Installation made easy. As easy 1-2-3." data-expand="10" class="img-size lazyload plus-hide-desktop">
    </p>
	<p class="no-padding">
      <img data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/wiper-product-description-v3_desktop_8.webp" alt="OXTRA Hydrophobic Wiper. 3x Longer Lasting.250 Temperature Resistant. 2 Years Lifespan" data-expand="10" class="img-size lazyload plus-hide-mobile">
      <img data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/wiper_-_product_description_v3_mobile_8.webp" alt="OXTRA Hydrophobic Wiper. 3x Longer Lasting.250 Temperature Resistant. 2 Years Lifespan" data-expand="10" class="img-size lazyload plus-hide-desktop">
    </p>
    <p class="no-padding btn-shop-now">
        <a href="/collections/car-hydrophobic-wiper-blade">SHOP NOW</a>>
    </p>
</div>
</div>
<style>
  * {
		 margin: 0 0;
		 padding: 0 0;
	}
.footer ul {list-style:none !important}
	.section{width: 100% !important;}
	.wrap{line-height: 0 !important}
	div p {
		 text-align: center;
	}

	.desktop {  
		 display: block;
	}
    .no-padding {
    	margin: 0px 0px !important;
    	line-height: 0px !important;
    }
    
    .section {
    	width: 100% !important
    }
    
    .no-padding img {
    	width: 100% !important;
    }
    
    .page-text {
    	margin: 50px auto;
    	width: 80%;
    }
    
    .page-text.white-text {
    	background-color: #CECECE;
    	padding: 50px 0;
    	width: 100%;
    	margin: auto;
    }
    
    .page-text h3 {
    	color: #16406d;
    	font-size: 2.81rem;
    	line-height: 54px;
    	text-align: center;
    	font-weight: 400;
    }
    
     .page-text p {
    	color: #333333;
    	font-size: 1.3rem;
    	line-height: 30px;
    	text-align: center;
    }
    .btn-shop-now a{
      padding: 20px;
      border-radius: 50px;
      color: #ffffff !important;
      border: none;
      text-transform: uppercase;
      font-family: 'Roboto';;
      display: grid;
      align-content: center;
      font-weight: 600;
      background-color: #E12B7B;
      margin: auto;
      text-align: center;
      width:15%;
      margin-bottom: 25px;
    }
  div.content, section.content {
    padding: 0px 0 15px;
}
    
    @media screen and (max-width: 768px) {
    	.plus-hide-mobile {
    		display: none;
    	}
    
    
    	.page-text {
    		margin: 20px auto;
    		width: 100%;
    	}
    
    	.page-text h3 {
    		font-size: 1.9rem;
    		line-height: 40px;
    	}
        .page-text.white-text p{
            width: 85%;
            margin: auto;
        }
      .btn-shop-now a{
          width:auto;
        }
    }
    
    @media screen and (min-width: 769px) {
    	.plus-hide-desktop {
    		display: none;
    	}
        
    }
</style>