<div class="container">
  <section id="banner" class="kl-north">
    <div class="container-fluid" style="height: inherit">
      <div class="banner-text text-left">
        <h1>Trapo KL North, Johor Bahru, Kuala Lumpur</h1>
        <a href="https://goo.gl/maps/peWMWUFVtTd3L7WU6"><button class="btn-direction mt-1">Get Directions</button></a>
      </div>
    </div>
  </section>
  <section id="description-map">
    <div class="container">
      <div class="row">
        <div class="col-md-6 description mt-1">
          <p class="mt-1">
            Situated near the major arterial road of Jalan Kuching within Kuala Lumpur, Trapo KL North is housed in an
            automotive complex, where you can browse new offerings from different car brands while checking out our
            latest products within just a walking distance away.
          </p>
          <div class="desc_fetch">
            <div claas="desc_fetch_item">
              <div class="img">
                <img
                  src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/car_mat.svg?v=1723179488"
                  alt="Car Mats"
                >
              </div>
              <p>Car Mats</p>
            </div>
            <div claas="desc_fetch_item">
              <div class="img">
                <img
                  src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/dashcam.svg?v=1723179489"
                  alt="Dashcam"
                >
              </div>
              <p>Dashcam</p>
            </div>
            <div claas="desc_fetch_item">
              <div class="img">
                <img
                  src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/wiper.svg?v=1723179488"
                  alt="Car Wipers"
                >
              </div>
              <p>Car Wipers</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <ul class="description-icon">
                <li class="marker">
                  <h4>Address</h4>
                  <p>
                    Lot 2097, Jalan 1/42,<br>
                    Off Jalan Kuching,<br>
                    51200 Kuala Lumpur.
                  </p>
                </li>

                <li class="clock">
                  <h4>Working Hours</h4>
                  <p>
                    Monday - Sunday<br>
                    8:30 A.M - 6:30 P.M <br>
                  </p>
                </li>
              </ul>
            </div>
            <div class="col-md-6">
              <ul class="services">
                <li class="cart-plus">
                  <h4>Services</h4>
                  <p>
                    <strong>In-store pick up</strong>: No<br>
                    <strong>In-store shopping</strong>: Yes<br>
                    <strong>Car Care Services</strong>: No
                  </p>
                </li>
                <li class="credit-card">
                  <h4>Payments accepted</h4>
                  <p>
                    <strong>Cash: </strong> Yes<br>
                    <strong>Card: </strong> Debit, Visa, Mastercard<br>
                    <strong>Buy Now, Pay Later: </strong> Grabpay, Atome, Shopback
                  </p>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3283.383566368984!2d101.6683903!3d3.1912428999999998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31cc478035ca921d%3A0x9bc3ac552927c3e9!2sTRAPO%20KL%20North%20Hub!5e1!3m2!1sen!2sin!4v1739889941639!5m2!1sen!2sin"
            width="100%"
            height="100%"
            style="border:0;"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
          ></iframe>
        </div>
      </div>
    </div>
  </section>
</div>
