<div class="main_banner">
        <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Banner-Book-Car_3.jpg?v=1746376360" />
    </div>
    <div class="container_new expirience_wrap">
        <div class="expirience_heding">
            <div class="expirience_heding_title">
                <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_2_3ff6b799-1752-4cae-933b-b1cfa4f997f8.png?v=1746380975" alt="" class="mobile_img">
                <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_463.svg?v=1746381996" alt="" class="desktop_img">
            </div>
            <span class="expirience_heding_text">See, touch, test our products!</span>
        </div>
        <div class="expirience_content">
            <div class="expirience_top">
                <div class="expirience_content_item">
                    <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Rectangle_334.jpg?v=1746379327" alt="">
                    <span>Tint Heat Demo</span>
                </div>
                <div class="expirience_content_item">
                    <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Rectangle_335.jpg?v=1746379326" alt="">
                    <span>Self-Healing Demo</span>
                </div>
            </div>
            <div class="expirience_bottom">
                <div class="expirience_content_item">
                    <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Rectangle_333.jpg?v=1746379325" alt="">
                    <span>PPF Stretch <br> Demo</span>
                </div>
                <div class="expirience_content_item">
                    <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Rectangle_336.jpg?v=1746379326" alt="">
                    <span>PPF Front <br> Demo</span>
                </div>
                <div class="expirience_content_item">
                    <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Rectangle_337.jpg?v=1746379326" alt="">
                    <span>Hydrophobic <br> Demo</span>
                </div>
                <div class="expirience_content_item">
                    <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Rectangle_338.jpg?v=1746379325" alt="">
                    <span>Car Mats <br> Selection Wall</span>
                </div>
            </div>
        </div>
        <div class="expirience_heding">
            <div class="expirience_heding_title">
                <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_465.svg?v=1746382105" alt="" class="mobile_img">
                <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_464.svg?v=1746381997" alt="" class="desktop_img">
            </div>
        </div>
    </div>
    <div class="container_new not_be_missed_wrap">
        <div class="not_be_missed">
            <div class="top">
                <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_457.jpg?v=1746380022" alt="" class="mobile_img">
                <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_454.png?v=1746380022" alt="" class="desktop_img">
            </div>
            <div class="middle">
                <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Vector_2.png?v=1746380113" alt="">
            </div>
            <div class="bottom">
                <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_458.png?v=1746380064" alt="" class="desktop_img">
                <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_459.jpg?v=1746380022" alt="" class="mobile_img">
            </div>