<div class="container">
  <section id="banner" class="glenmarie">
    <div class="container-fluid" style="height: inherit">
      <div class="banner-text text-left">
        <h1>Trapo Glenmarie Car Detailing Hub, Shah Alam</h1>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="13.548"
          height="13.546"
          viewBox="0 0 13.548 13.546"
          aria-hidden="true"
        >
          <path d="M3.534 8.834L0 5.3h4.712L6.479 0l2.356 5.3h4.712l-3.535 3.534 1.133 4.532-.1.074-4.57-3.428-4.123 3.534z" fill="#ffd35a"></path>
        </svg>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="13.548"
          height="13.546"
          viewBox="0 0 13.548 13.546"
          aria-hidden="true"
        >
          <path d="M3.534 8.834L0 5.3h4.712L6.479 0l2.356 5.3h4.712l-3.535 3.534 1.133 4.532-.1.074-4.57-3.428-4.123 3.534z" fill="#ffd35a"></path>
        </svg>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="13.548"
          height="13.546"
          viewBox="0 0 13.548 13.546"
          aria-hidden="true"
        >
          <path d="M3.534 8.834L0 5.3h4.712L6.479 0l2.356 5.3h4.712l-3.535 3.534 1.133 4.532-.1.074-4.57-3.428-4.123 3.534z" fill="#ffd35a"></path>
        </svg>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="13.548"
          height="13.546"
          viewBox="0 0 13.548 13.546"
          aria-hidden="true"
        >
          <path d="M3.534 8.834L0 5.3h4.712L6.479 0l2.356 5.3h4.712l-3.535 3.534 1.133 4.532-.1.074-4.57-3.428-4.123 3.534z" fill="#ffd35a"></path>
        </svg>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="13.548"
          height="13.546"
          viewBox="0 0 13.548 13.546"
          aria-hidden="true"
        >
          <path d="M3.534 8.834L0 5.3h4.712L6.479 0l2.356 5.3h4.712l-3.535 3.534 1.133 4.532-.1.074-4.57-3.428-4.123 3.534z" fill="#ffd35a"></path>
        </svg>
        &nbsp;&nbsp;<a
          href="https://www.google.com/search?q=glenmarie+trapo&sca_esv=564926619&hl=en&gl=MY&ei=8lEBZdq5F9vb4-EP2t2DoAU&gs_ssp=eJzj4tVP1zc0zMkwKC80KSg3YLRSMagwNkxONklJSzY1TEk0NjQztzKoSDUwSTS0NDEwMTEzM0k09-JPz0nNy00sykxVKClKLMgHAMU1FNE&oq=glen&gs_lp=Egxnd3Mtd2l6LXNlcnAiBGdsZW4qAggEMgsQABiKBRixAxiRAjINEC4YrwEYxwEYigUYQzIIEC4YigUYkQIyDRAAGIoFGLEDGIMBGEMyDRAuGIoFGMcBGK8BGEMyDRAAGIoFGLEDGIMBGEMyBxAAGIoFGEMyDRAAGIoFGLEDGIMBGEMyBRAAGIAEMgsQLhiABBjHARivATIcEC4YigUYxwEYrwEYQxiXBRjcBBjeBBjgBNgBAkjIKVDlDVj5F3ABeAGQAQCYAaECoAGMBqoBBTAuMy4xuAEByAEA-AEBqAIKwgIWEAAYAxiPARjlAhjqAhi0AhiMA9gBAcICFhAuGAMYjwEY5QIY6gIYtAIYjAPYAQHCAg4QABiKBRixAxiDARiRAsICCxAAGIAEGLEDGIMBwgIREC4YgAQYsQMYgwEYxwEY0QPCAg4QLhiABBixAxjHARjRA8ICCBAAGIoFGJECwgITEC4YigUYsQMYgwEYxwEYrwEYQ-IDBBgAIEGIBgG6BgQIARgKugYGCAIQARgU&sclient=gws-wiz-serp&bshm=rime/1#lrd=0x31cc4dfc51da3167:0xe04a194044664a7,1,,,,"
          style="font-size: 0.9rem"
          >(5 out of 5) - 1021 Reviews</a
        ><br>
        <a href="https://www.google.com/maps/place/TRAPO+Glenmarie+Hub/@3.0879705,101.5782913,15z/data=!4m5!3m4!1s0x0:0xe04a194044664a7!8m2!3d3.0879705!4d101.57829137"
          ><button class="btn-direction mt-1">Get Directions</button></a
        >
      </div>
    </div>
  </section>
  <section id="description-map">
    <div class="container">
      <div class="row">
        <div class="col-md-6 description mt-1">
          <p class="mt-1">
            Trapo Glenmarie Car Detailing Hub offers walk-in services, including our top-rated custom-made car mats, accessories, and car detailing services such as PPF, Coating, and Tinting. Our custom-fit car mats are designed for over 1,200 car models, ensuring a perfect fit every time. Visit us for free installation, vacuuming, and personalized service. Experience Malaysia's leading car care brand in a comfortable and welcoming environment.
          </p>
          <div class="desc_fetch">
            <div claas="desc_fetch_item">
              <div class="img">
                <img
                  src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/window_tint_film.svg?v=1723179488"
                  alt="Window Tint Film"
                >
              </div>
              <p>Window Tint Film</p>
            </div>
            <div claas="desc_fetch_item">
              <div class="img">
                <img
                  src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/car_coating.svg?v=1723179489"
                  alt="Car Coating"
                >
              </div>
              <p>Car Coating</p>
            </div>
            <div claas="desc_fetch_item">
              <div class="img">
                <img
                  src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/paint_protection_film.svg?v=1723179492"
                  alt="Paint Protection Film"
                >
              </div>
              <p>Paint Protection Film</p>
            </div>
            <div claas="desc_fetch_item">
              <div class="img">
                <img
                  src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/car_mat.svg?v=1723179488"
                  alt="Car Mats"
                >
              </div>
              <p>Car Mats</p>
            </div>
            <div claas="desc_fetch_item">
              <div class="img">
                <img
                  src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/dashcam.svg?v=1723179489"
                  alt="Dashcam"
                >
              </div>
              <p>Dashcam</p>
            </div>
            <div claas="desc_fetch_item">
              <div class="img">
                <img
                  src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/wiper.svg?v=1723179488"
                  alt="Car Wipers"
                >
              </div>
              <p>Car Wipers</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <ul class="description-icon">
                <li class="marker">
                  <h4>Address</h4>
                  <p>
                    17-G,Jalan Penguasa A U1/53A,<br>
                    Temasya Glenmarie,40150 Shah Alam,<br>
                    Selangor.
                  </p>
                </li>
                <li class="envelope">
                  <h4>Email</h4>
                  <p>enquiry.my@trapo.asia</p>
                </li>
                <li class="clock">
                  <h4>Working Hours</h4>
                  <p>
                    Monday - Sunday<br>
                    9 A.M - 7 P.M <br>
                    (except public holidays)
                  </p>
                </li>
              </ul>
            </div>
            <div class="col-md-6">
              <ul class="services">
                <li class="cart-plus">
                  <h4>Services</h4>
                  <p>
                    <strong>In-store pick up</strong>: Yes<br>
                    <strong>In-store shopping</strong>: Yes fully stocked showroom<br>
                    <strong>Car Care Services</strong>: Yes, check out our list
                    <a href="/pages/trapo-offline-services">here</a>.
                  </p>
                </li>
                <li class="credit-card">
                  <h4>Payments accepted</h4>
                  <p>
                    <strong>Cash: </strong> Yes<br>
                    <strong>Card: </strong> Debit, Visa, Mastercard<br>
                    <strong>Buy Now, Pay Later: </strong> Grabpay, Atome, Shopback
                  </p>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15936.10045489805!2d101.5782913!3d3.0879705!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31cc4dfc51da3167%3A0xe04a194044664a7!2sTRAPO%20Glenmarie%20Hub%20(Car%20Mats%20%26%20Accessories)!5e0!3m2!1sen!2smy!4v1694576172130!5m2!1sen!2smy"
            width="100%"
            height="100%"
            style="border:0;"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
          ></iframe>
        </div>
      </div>
    </div>
  </section>
</div>
