<div class="container">
  <section id="banner" class="midvalley-jb">
    <div class="container-fluid" style="height: inherit">
      <div class="banner-text text-left">
        <h1>Car Accessories at Trapo Mid Valley Southkey JB Hub</h1>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="13.548"
          height="13.546"
          viewBox="0 0 13.548 13.546"
          aria-hidden="true"
        >
          <path d="M3.534 8.834L0 5.3h4.712L6.479 0l2.356 5.3h4.712l-3.535 3.534 1.133 4.532-.1.074-4.57-3.428-4.123 3.534z" fill="#ffd35a"></path>
        </svg>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="13.548"
          height="13.546"
          viewBox="0 0 13.548 13.546"
          aria-hidden="true"
        >
          <path d="M3.534 8.834L0 5.3h4.712L6.479 0l2.356 5.3h4.712l-3.535 3.534 1.133 4.532-.1.074-4.57-3.428-4.123 3.534z" fill="#ffd35a"></path>
        </svg>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="13.548"
          height="13.546"
          viewBox="0 0 13.548 13.546"
          aria-hidden="true"
        >
          <path d="M3.534 8.834L0 5.3h4.712L6.479 0l2.356 5.3h4.712l-3.535 3.534 1.133 4.532-.1.074-4.57-3.428-4.123 3.534z" fill="#ffd35a"></path>
        </svg>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="13.548"
          height="13.546"
          viewBox="0 0 13.548 13.546"
          aria-hidden="true"
        >
          <path d="M3.534 8.834L0 5.3h4.712L6.479 0l2.356 5.3h4.712l-3.535 3.534 1.133 4.532-.1.074-4.57-3.428-4.123 3.534z" fill="#ffd35a"></path>
        </svg>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="13.548"
          height="13.546"
          viewBox="0 0 13.548 13.546"
          aria-hidden="true"
        >
          <path d="M3.534 8.834L0 5.3h4.712L6.479 0l2.356 5.3h4.712l-3.535 3.534 1.133 4.532-.1.074-4.57-3.428-4.123 3.534z" fill="#ffd35a"></path>
        </svg>
        &nbsp;&nbsp;<a
          href="https://www.google.com/search?q=TRAPO+KL+Mid+Valley+Hub+(Car+Mats+%26+Accessories)%2C+Lingkaran+Syed+Putra%2C+Mid+Valley+City%2C+Kuala+Lumpur%2C+Federal+Territory+of+Kuala+Lumpur%2C+Malaysia&oq=TRAPO+KL+Mid+Valley+Hub+(Car+Mats+%26+Accessories)%2C+Lingkaran+Syed+Putra%2C+Mid+Valley+City%2C+Kuala+Lumpur%2C+Federal+Territory+of+Kuala+Lumpur%2C+Malaysia&aqs=chrome..69i57j69i60l3.250j0j4&sourceid=chrome&ie=UTF-8#"
          style="font-size: 0.9rem"
          >(5 out of 5) - 505 Reviews</a
        ><br>
        <a href="https://www.google.com/maps/place/TRAPO+Midvalley+Southkey+Johor+Hub/@1.500349,103.7778871,15z/data=!4m2!3m1!1s0x0:0x4b73c55e8bfb7bc0?sa=X&ved=2ahUKEwjXxKSRz932AhXHwjgGHfM-D08Q_BJ6BAgdEAU"
          ><button class="btn-direction mt-1">Get Directions</button></a
        >
      </div>
    </div>
  </section>
  <section id="description-map">
    <div class="container">
      <div class="row">
        <div class="col-md-6 description mt-1">
          <p class="mt-1">
            Strategically situated within one of Johor Bahru's thriving shopping destinations, TRAPO MidValley Southkey
            brings you a diverse array of car accessories and personalized car mats that cater to everyday drivers. With
            its convenient and easily accessible location, the kiosk serves as a haven for those in proximity to Johor
            Bahru to explore high-quality, durable car mats before making a purchase. From cutting-edge car air
            purifiers to customizable modular phone holders and water-repellent silicone car wiper blades, TRAPO
            MidValley Southkey stands as the ultimate destination, fulfilling all your driving needs in a single stop.
          </p>

          <div class="desc_fetch">
            <div claas="desc_fetch_item">
              <div class="img">
                <img
                  src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/wiper.svg?v=1723179488"
                  alt="Car Wipers"
                >
              </div>
              <p>Car Wipers</p>
            </div>
            <div claas="desc_fetch_item">
              <div class="img">
                <img
                  src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/phone_accessories.svg?v=1723179488"
                  alt="Phone Accessories"
                >
              </div>
              <p>Phone Accessories</p>
            </div>
            <div claas="desc_fetch_item">
              <div class="img">
                <img
                  src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/car_care.svg?v=1723179489"
                  alt="Car Care"
                >
              </div>
              <p>Car Care</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <ul class="description-icon">
                <li class="marker">
                  <h4>Address</h4>
                  <p>
                    FK-02, First Floor,<br>
                    The Mall Midvalley Southkey,<br>
                    80150 Johor Bahru, Johor.
                  </p>
                </li>
                <li class="envelope">
                  <h4>Email</h4>
                  <p>enquiry.my@trapo.asia</p>
                </li>
                <li class="clock">
                  <h4>Working Hours</h4>
                  <p>
                    Monday - Sunday<br>
                    10 A.M - 10 P.M <br>
                    (including public holidays)
                  </p>
                </li>
              </ul>
            </div>
            <div class="col-md-6">
              <ul class="services">
                <li class="cart-plus">
                  <h4>Services</h4>
                  <p>
                    <strong>In-store pick up</strong>: Yes<br>
                    <strong>In-store shopping</strong>: Yes fully stocked showroom<br>
                    <strong>Car Care Services</strong>: Yes, check out our list
                    <a href="/pages/trapo-offline-services">here</a>.
                  </p>
                </li>
                <li class="credit-card">
                  <h4>Payments accepted</h4>
                  <p>
                    <strong>Cash: </strong> Yes<br>
                    <strong>Card: </strong> Debit, Visa, Mastercard<br>
                    <strong>Buy Now, Pay Later: </strong> Grabpay, Atome, Shopback
                  </p>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15953.801892024623!2d103.7778871!3d1.500349!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31da6d0fe9b12b31%3A0x4b73c55e8bfb7bc0!2sTRAPO%20Midvalley%20Southkey%20Johor%20Hub%20(Car%20Mats%20%26%20Accessories)!5e0!3m2!1sen!2smy!4v1694577459110!5m2!1sen!2smy"
            width="100%"
            height="100%"
            style="border:0;"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
          ></iframe>
        </div>
      </div>
    </div>
  </section>
</div>
