<div class="container">
  <section id="banner" class="cheras">
    <div class="container-fluid" style="height: inherit">
      <div class="banner-text text-left">
        <h1>Car Accessories at Trapo Cheras Hub</h1>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="13.548"
          height="13.546"
          viewBox="0 0 13.548 13.546"
          aria-hidden="true"
        >
          <path d="M3.534 8.834L0 5.3h4.712L6.479 0l2.356 5.3h4.712l-3.535 3.534 1.133 4.532-.1.074-4.57-3.428-4.123 3.534z" fill="#ffd35a"></path>
        </svg>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="13.548"
          height="13.546"
          viewBox="0 0 13.548 13.546"
          aria-hidden="true"
        >
          <path d="M3.534 8.834L0 5.3h4.712L6.479 0l2.356 5.3h4.712l-3.535 3.534 1.133 4.532-.1.074-4.57-3.428-4.123 3.534z" fill="#ffd35a"></path>
        </svg>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="13.548"
          height="13.546"
          viewBox="0 0 13.548 13.546"
          aria-hidden="true"
        >
          <path d="M3.534 8.834L0 5.3h4.712L6.479 0l2.356 5.3h4.712l-3.535 3.534 1.133 4.532-.1.074-4.57-3.428-4.123 3.534z" fill="#ffd35a"></path>
        </svg>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="13.548"
          height="13.546"
          viewBox="0 0 13.548 13.546"
          aria-hidden="true"
        >
          <path d="M3.534 8.834L0 5.3h4.712L6.479 0l2.356 5.3h4.712l-3.535 3.534 1.133 4.532-.1.074-4.57-3.428-4.123 3.534z" fill="#ffd35a"></path>
        </svg>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="13.548"
          height="13.546"
          viewBox="0 0 13.548 13.546"
          aria-hidden="true"
        >
          <path d="M3.534 8.834L0 5.3h4.712L6.479 0l2.356 5.3h4.712l-3.535 3.534 1.133 4.532-.1.074-4.57-3.428-4.123 3.534z" fill="#ffd35a"></path>
        </svg>
        &nbsp;&nbsp;<a
          href="https://www.google.com/search?gs_ssp=eJzj4tVP1zc0TDfJSiozqCgzYLRSMagwNkxONjY3MTdKNU00MTE0tDKoSLYwsTRLtjBMTDU3sLQ08eIpKUosyFdIzkgtSiwGAHM_Ezg&q=trapo+cheras&oq=trapo+cheras&aqs=chrome.1.0i355i512j46i175i199i512j0i512l2j69i60l3.4423j0j7&sourceid=chrome&ie=UTF-8&bshm=rime/1#lrd=0x31cc37472e5a4411:0xc8496c81ae70994,1,,,,"
          style="font-size: 0.9rem"
          >(4.9 out of 5) - 1507 Reviews</a
        ><br>
        <a href="https://www.google.com/maps/place/TRAPO+Car+Mats+Cheras+Maluri+Hub/@3.1274414,101.7276613,17z/data=!3m1!4b1!4m5!3m4!1s0x31cc37472e5a4411:0xc8496c81ae70994!8m2!3d3.127436!4d101.7298"
          ><button class="btn-direction mt-1">Get Directions</button></a
        >
      </div>
    </div>
  </section>
  <section id="description-map">
    <div class="container">
      <div class="row">
        <div class="col-md-6 description mt-1">
          <p class="mt-1">
            At TRAPO Cheras Hub, we bring you an assortment of premium designed car accessories and custom-made car mats
            that are thoughtfully crafted to enhance your driving experience by prioritizing safety and comfort. Our
            selection encompasses car air purifiers and water-repellent silicone wiper blades, as well as personalized
            modular phone holders. Serving as your go-to destination for all your driving essentials, TRAPO Cheras Hub
            invites you to delve into a world of top-notch car accessories and mats, coupled with a diverse range of
            offline premium car care services.
          </p>
          <div class="desc_fetch">
            <div claas="desc_fetch_item">
              <div class="img">
                <img
                  src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/car_mat.svg?v=1723179488"
                  alt="Car Mats"
                >
              </div>
              <p>Car Mats</p>
            </div>
            <div claas="desc_fetch_item">
              <div class="img">
                <img
                  src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/dashcam.svg?v=1723179489"
                  alt="Dashcam"
                >
              </div>
              <p>Dashcam</p>
            </div>
            <div claas="desc_fetch_item">
              <div class="img">
                <img
                  src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/wiper.svg?v=1723179488"
                  alt="Car Wipers"
                >
              </div>
              <p>Car Wipers</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <ul class="description-icon">
                <li class="marker">
                  <h4>Address</h4>
                  <p>
                    No.15,Jalan Jejaka 3, <br>
                    Taman Maluri, Cheras,55100<br>
                    Kuala Lumpur.
                  </p>
                </li>
                <li class="envelope">
                  <h4>Email</h4>
                  <p>enquiry.my@trapo.asia</p>
                </li>
                <li class="clock">
                  <h4>Working Hours</h4>
                  <p>
                    Monday - Sunday<br>
                    9 A.M - 7 P.M <br>
                    (except public holidays)
                  </p>
                </li>
              </ul>
            </div>
            <div class="col-md-6">
              <ul class="services">
                <li class="cart-plus">
                  <h4>Services</h4>
                  <p>
                    <strong>In-store pick up</strong>: Yes<br>
                    <strong>In-store shopping</strong>: Yes fully stocked showroom<br>
                    <strong>Car Care Services</strong>: Yes, check out our list
                    <a href="/pages/trapo-offline-services">here</a>.
                  </p>
                </li>
                <li class="credit-card">
                  <h4>Payments accepted</h4>
                  <p>
                    <strong>Cash: </strong> Yes<br>
                    <strong>Card: </strong> Debit, Visa, Mastercard<br>
                    <strong>Buy Now, Pay Later: </strong> Grabpay, Atome, Shopback
                  </p>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3983.8761254698775!2d101.72985!3d3.1274360000000003!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31cc37472e5a4411%3A0xc8496c81ae70994!2sTRAPO%20Cheras%20Maluri%20Hub%20(Car%20Mats%20%26%20Accessories)!5e0!3m2!1sen!2smy!4v1694576924035!5m2!1sen!2smy"
            width="100%"
            height="100%"
            style="border:0;"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
          ></iframe>
        </div>
      </div>
    </div>
  </section>
</div>
