<div class="container">
  <section id="banner" class="pulau">
    <div class="container-fluid" style="height: inherit">
      <div class="banner-text text-left">
        <h1>Car Accessories at Trapo Pulau Tikus</h1>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="13.548"
          height="13.546"
          viewBox="0 0 13.548 13.546"
          aria-hidden="true"
        >
          <path d="M3.534 8.834L0 5.3h4.712L6.479 0l2.356 5.3h4.712l-3.535 3.534 1.133 4.532-.1.074-4.57-3.428-4.123 3.534z" fill="#ffd35a"></path>
        </svg>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="13.548"
          height="13.546"
          viewBox="0 0 13.548 13.546"
          aria-hidden="true"
        >
          <path d="M3.534 8.834L0 5.3h4.712L6.479 0l2.356 5.3h4.712l-3.535 3.534 1.133 4.532-.1.074-4.57-3.428-4.123 3.534z" fill="#ffd35a"></path>
        </svg>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="13.548"
          height="13.546"
          viewBox="0 0 13.548 13.546"
          aria-hidden="true"
        >
          <path d="M3.534 8.834L0 5.3h4.712L6.479 0l2.356 5.3h4.712l-3.535 3.534 1.133 4.532-.1.074-4.57-3.428-4.123 3.534z" fill="#ffd35a"></path>
        </svg>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="13.548"
          height="13.546"
          viewBox="0 0 13.548 13.546"
          aria-hidden="true"
        >
          <path d="M3.534 8.834L0 5.3h4.712L6.479 0l2.356 5.3h4.712l-3.535 3.534 1.133 4.532-.1.074-4.57-3.428-4.123 3.534z" fill="#ffd35a"></path>
        </svg>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="13.548"
          height="13.546"
          viewBox="0 0 13.548 13.546"
          aria-hidden="true"
        >
          <path d="M3.534 8.834L0 5.3h4.712L6.479 0l2.356 5.3h4.712l-3.535 3.534 1.133 4.532-.1.074-4.57-3.428-4.123 3.534z" fill="#ffd35a"></path>
        </svg>
        &nbsp;&nbsp;<a
          href="https://www.google.com/search?q=TRAPO+Pulau+Tikus+Penang+(Car+Mats+%26+Accessories)%2C+Persiaran+Midlands%2C+Pulau+Tikus%2C+George+Town%2C+Penang%2C+Malaysia&oq=TRAPO+Pulau+Tikus+Penang+(Car+Mats+%26+Accessories)%2C+Persiaran+Midlands%2C+Pulau+Tikus%2C+George+Town%2C+Penang%2C+Malaysia&aqs=chrome..69i57j69i60j69i61.781j0j4&sourceid=chrome&ie=UTF-8#"
          style="font-size: 0.9rem"
          >(5 out of 5) - 375 Reviews</a
        ><br>
        <a href="https://goo.gl/maps/qCm65i1w8d2Ec9dg7"><button class="btn-direction mt-1">Get Directions</button></a>
      </div>
    </div>
  </section>
  <section id="description-map">
    <div class="container">
      <div class="row">
        <div class="col-md-6 description mt-1">
          <p class="mt-1">
            Welcome to TRAPO Pulau Tikus, conveniently located in Penang. Here, we offer an assortment of premium car
            accessories and custom car mats designed to enhance your driving experience with an emphasis on safety and
            comfort. Our product range includes advanced car air purifiers, water-repellent silicone wiper blades, and
            personalized modular phone holders. As your trusted destination for essential driving elements, we extend an
            invitation to explore our extensive selection of high-quality car accessories and mats. Additionally, we
            provide various premium car care services offline, under the TRAPO brand.
          </p>
          <div class="desc_fetch">
            <div claas="desc_fetch_item">
              <div class="img">
                <img
                  src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/car_mat.svg?v=1723179488"
                  alt="Car Mats"
                >
              </div>
              <p>Car Mats</p>
            </div>
            <div claas="desc_fetch_item">
              <div class="img">
                <img
                  src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/dashcam.svg?v=1723179489"
                  alt="Dashcam"
                >
              </div>
              <p>Dashcam</p>
            </div>
            <div claas="desc_fetch_item">
              <div class="img">
                <img
                  src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/wiper.svg?v=1723179488"
                  alt="Car Wipers"
                >
              </div>
              <p>Car Wipers</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <ul class="description-icon">
                <li class="marker">
                  <h4>Address</h4>
                  <p>
                    2, Persiaran midlands,<br>
                    Pulau tikus, Georgetown<br>
                    10250 Pulau Pinang
                  </p>
                </li>
                <li class="envelope">
                  <h4>Email</h4>
                  <p>enquiry.my@trapo.asia</p>
                </li>
                <li class="clock">
                  <h4>Working Hours</h4>
                  <p>
                    Monday - Sunday<br>
                    9 A.M - 7 P.M <br>
                    (except public holidays)
                  </p>
                </li>
              </ul>
            </div>
            <div class="col-md-6">
              <ul class="services">
                <li class="cart-plus">
                  <h4>Services</h4>
                  <p>
                    <strong>In-store pick up</strong>: Yes<br>
                    <strong>In-store shopping</strong>: Yes fully stocked showroom<br>
                    <strong>Car Care Services</strong>: Yes, check out our list
                    <a href="/pages/trapo-offline-services">here</a>.
                  </p>
                </li>
                <li class="credit-card">
                  <h4>Payments accepted</h4>
                  <p>
                    <strong>Cash: </strong> Yes<br>
                    <strong>Card: </strong> Debit, Visa, Mastercard<br>
                    <strong>Buy Now, Pay Later: </strong> Grabpay, Atome, Shopback
                  </p>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3971.8876941902204!2d100.30434667460504!3d5.434024334865014!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x304ac3245890002d%3A0x22bbf0afad1de684!2sTRAPO%20Pulau%20Tikus%20Penang%20(Car%20Mats%20%26%20Accessories)!5e0!3m2!1sen!2sin!4v1694522950775!5m2!1sen!2sin"
            width="100%"
            height="100%"
            style="border:0;"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
          ></iframe>
        </div>
      </div>
    </div>
  </section>
</div>
