<div class="container">
<section id="banner" class="desa-park">
  <div class="container-fluid" style="height: inherit">
    <div class="banner-text text-left">
      <h1>Car Accessories at Trapo Desa Park Hub</h1>
        <svg xmlns="http://www.w3.org/2000/svg" width="13.548" height="13.546" viewBox="0 0 13.548 13.546" aria-hidden="true"><path d="M3.534 8.834L0 5.3h4.712L6.479 0l2.356 5.3h4.712l-3.535 3.534 1.133 4.532-.1.074-4.57-3.428-4.123 3.534z" fill="#ffd35a"></path></svg>
        <svg xmlns="http://www.w3.org/2000/svg" width="13.548" height="13.546" viewBox="0 0 13.548 13.546" aria-hidden="true"><path d="M3.534 8.834L0 5.3h4.712L6.479 0l2.356 5.3h4.712l-3.535 3.534 1.133 4.532-.1.074-4.57-3.428-4.123 3.534z" fill="#ffd35a"></path></svg>
        <svg xmlns="http://www.w3.org/2000/svg" width="13.548" height="13.546" viewBox="0 0 13.548 13.546" aria-hidden="true"><path d="M3.534 8.834L0 5.3h4.712L6.479 0l2.356 5.3h4.712l-3.535 3.534 1.133 4.532-.1.074-4.57-3.428-4.123 3.534z" fill="#ffd35a"></path></svg>
        <svg xmlns="http://www.w3.org/2000/svg" width="13.548" height="13.546" viewBox="0 0 13.548 13.546" aria-hidden="true"><path d="M3.534 8.834L0 5.3h4.712L6.479 0l2.356 5.3h4.712l-3.535 3.534 1.133 4.532-.1.074-4.57-3.428-4.123 3.534z" fill="#ffd35a"></path></svg>
        <svg xmlns="http://www.w3.org/2000/svg" width="13.548" height="13.546" viewBox="0 0 13.548 13.546" aria-hidden="true"><path d="M3.534 8.834L0 5.3h4.712L6.479 0l2.356 5.3h4.712l-3.535 3.534 1.133 4.532-.1.074-4.57-3.428-4.123 3.534z" fill="#ffd35a"></path></svg>
        &nbsp;&nbsp;<a href="https://www.google.com/search?hl=en-MY&gl=my&q=GF,+TRAPO+The+Waterfront+Hub+@+Desa+ParkCity+(Car+Mats+%26+Accessories),+28,+Persiaran+Residen,+Desa+Parkcity,+52200+Kuala+Lumpur,+Federal+Territory+of+Kuala+Lumpur&ludocid=2584490752111910143&lsig=AB86z5XFaTameBOM6RQ9tvtguuC_&hl=en&gl=MY&bshm=rime/1#lrd=0x31cc4906b7a38171:0x23ddf4a554e99cff,1" style="font-size: 0.9rem">(5 out of 5) - 600 Reviews</a><br>
      <a href="https://www.google.com/maps/place/TRAPO+Car+Mats+The+Waterfront+Hub+@+Desa+ParkCity/@3.1878394,101.6297491,15z/data=!4m5!3m4!1s0x0:0x23ddf4a554e99cff!8m2!3d3.1873091!4d101.6272332"><button class="btn-direction mt-1">Get Directions</button></a>
    </div>
  </div>
</section>
<section id="description-map">
  <div class="container">
    <div class="row">
      <div class="col-md-6 description mt-1">
        <p class="mt-1">
         Welcome to TRAPO Desa Park Hub, where we offer a variety of high-quality car accessories and custom car mats designed to enhance your driving experience with a focus on safety and comfort. 
          Our range includes car air purifiers, water-repellent silicone wiper blades, and personalized modular phone holders. As your trusted destination for driving essentials, 
          we invite you to explore a wide selection of top-notch car accessories and mats, along with various premium car care services available offline.

        </p>
        <div class="row">
          <div class="col-md-6">
            <ul class="description-icon">
              <li class="marker">
                <h4>Address</h4>
                <p>
                  GF-28, Persiaran Residen, <br>
				 Desa Park City, 52200 Kuala Lumpur.
                </p>
                
              </li>
              <li class="envelope">
                <h4>Email</h4>
                <p>enquiry.my@trapo.asia</p>
              </li>
              <li class="clock">
                <h4>Working Hours</h4>
                <p>
                  Monday - Sunday<br>
                  10 A.M - 10 P.M <br>
                  (including public holidays)
                </p>
              </li>
            </ul>
          </div>
          <div class="col-md-6">
            <ul class="services">
              <li class="cart-plus">
                <h4>Services</h4>
                <p>
                  <strong>In-store pick up</strong>: Yes<br>
                  <strong>In-store shopping</strong>: Yes fully stocked showroom<br>
                  <strong>Car Care Services</strong>: Yes, check out our list
                  <a href="/pages/trapo-offline-services">here</a>.
                </p>
              </li>
              <li class="credit-card">
                <h4>Payments accepted</h4>
                <p>
                  <strong>Cash: </strong> Yes<br>
                  <strong>Card: </strong> Debit, Visa, Mastercard<br>
                  <strong>Buy Now, Pay Later: </strong> Grabpay, Atome, Shopback
                </p>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15934.57773256667!2d101.6297491!3d3.1878394!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31cc4906b7a38171%3A0x23ddf4a554e99cff!2sTRAPO%20The%20Waterfront%20Hub%20%40%20Desa%20ParkCity%20(Car%20Mats%20%26%20Accessories)!5e0!3m2!1sen!2smy!4v1694577135296!5m2!1sen!2smy"
          width="100%"
          height="100%"
          style="border:0;"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
      </div>
    </div>
  </div>
</section>
</div>
