<div class="container">
  <section id="banner" class="taman">
    <div class="container-fluid" style="height: inherit">
      <div class="banner-text text-left">
        <h1>Car Accessories at Trapo Taman Daya</h1>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="13.548"
          height="13.546"
          viewBox="0 0 13.548 13.546"
          aria-hidden="true"
        >
          <path d="M3.534 8.834L0 5.3h4.712L6.479 0l2.356 5.3h4.712l-3.535 3.534 1.133 4.532-.1.074-4.57-3.428-4.123 3.534z" fill="#ffd35a"></path>
        </svg>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="13.548"
          height="13.546"
          viewBox="0 0 13.548 13.546"
          aria-hidden="true"
        >
          <path d="M3.534 8.834L0 5.3h4.712L6.479 0l2.356 5.3h4.712l-3.535 3.534 1.133 4.532-.1.074-4.57-3.428-4.123 3.534z" fill="#ffd35a"></path>
        </svg>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="13.548"
          height="13.546"
          viewBox="0 0 13.548 13.546"
          aria-hidden="true"
        >
          <path d="M3.534 8.834L0 5.3h4.712L6.479 0l2.356 5.3h4.712l-3.535 3.534 1.133 4.532-.1.074-4.57-3.428-4.123 3.534z" fill="#ffd35a"></path>
        </svg>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="13.548"
          height="13.546"
          viewBox="0 0 13.548 13.546"
          aria-hidden="true"
        >
          <path d="M3.534 8.834L0 5.3h4.712L6.479 0l2.356 5.3h4.712l-3.535 3.534 1.133 4.532-.1.074-4.57-3.428-4.123 3.534z" fill="#ffd35a"></path>
        </svg>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="13.548"
          height="13.546"
          viewBox="0 0 13.548 13.546"
          aria-hidden="true"
        >
          <path d="M3.534 8.834L0 5.3h4.712L6.479 0l2.356 5.3h4.712l-3.535 3.534 1.133 4.532-.1.074-4.57-3.428-4.123 3.534z" fill="#ffd35a"></path>
        </svg>
        &nbsp;&nbsp;<a
          href="https://www.google.com/search?q=trapo+1+utama&sca_esv=564680935&ei=LV8AZZzEF8SbseMP46mkoAw&gs_ssp=eJzj4tVP1zc0LCmwLMg1Ts8zYLRSNagwNkxONrE0Mzc0sDRPNbU0tDKoSDM1NE42TjFMTE41s0hLMvbiLSlKLMhXMFQoLUnMTQQAoIIT9g&oq=TRAPO+1+&gs_lp=Egxnd3Mtd2l6LXNlcnAiCFRSQVBPIDEgKgIIADILEC4YgAQYxwEYrwEyBhAAGBYYHjIaEC4YgAQYxwEYrwEYlwUY3AQY3gQY4ATYAQFIuxZQAFj0BHAAeAGQAQCYAfIBoAGBA6oBBTAuMS4xuAEByAEA-AEBwgIIEAAYFhgeGAriAwQYACBBiAYBugYGCAEQARgU&sclient=gws-wiz-serp#"
          style="font-size: 0.9rem"
          >(5 out of 5) - 179 Reviews</a
        ><br>
        <a href="https://goo.gl/maps/peWMWUFVtTd3L7WU6"><button class="btn-direction mt-1">Get Directions</button></a>
      </div>
    </div>
  </section>
  <section id="description-map">
    <div class="container">
      <div class="row">
        <div class="col-md-6 description mt-1">
          <p class="mt-1">
            Welcome to TRAPO Taman Daya Hub, an innovative destination bringing TRAPO's renowned quality to Johor Bahru,
            Malaysia. Explore our meticulously curated selection of premium car accessories and custom car mats,
            designed to elevate your driving experience with a focus on safety and comfort. From car air purifiers to
            water-repellent silicone wiper blades and personalized modular phone holders, our diverse offerings cater to
            every driver's needs. Dive into our extensive collection and experience top-tier car care services, ensuring
            your vehicle receives the premium treatment it deserves.
          </p>
          <div class="desc_fetch">
            <div claas="desc_fetch_item">
              <div class="img">
                <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_509.svg?v=1723042650" alt="">
              </div>
              <p>Paint Protection Film</p>
            </div>
            <div claas="desc_fetch_item">
              <div class="img">
                <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_509.svg?v=1723042650" alt="">
              </div>
              <p>Car Coating</p>
            </div>
            <div claas="desc_fetch_item">
              <div class="img">
                <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_509.svg?v=1723042650" alt="">
              </div>
              <p>Dashcam</p>
            </div>
            <div claas="desc_fetch_item">
              <div class="img">
                <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_509.svg?v=1723042650" alt="">
              </div>
              <p>Phone Accessories</p>
            </div>
            <div claas="desc_fetch_item">
              <div class="img">
                <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_509.svg?v=1723042650" alt="">
              </div>
              <p>Window Tint Film</p>
            </div>
            <div claas="desc_fetch_item">
              <div class="img">
                <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_509.svg?v=1723042650" alt="">
              </div>
              <p>Car Mats</p>
            </div>
            <div claas="desc_fetch_item">
              <div class="img">
                <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_509.svg?v=1723042650" alt="">
              </div>
              <p>Car Wipers</p>
            </div>
            <div claas="desc_fetch_item">
              <div class="img">
                <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Group_509.svg?v=1723042650" alt="">
              </div>
              <p>Car Care</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <ul class="description-icon">
                <li class="marker">
                  <h4>Address</h4>
                  <p>
                    TD Central, 5F,<br>
                    Jalan Sagu 21, Taman Daya,<br>
                    81100 Johor Bahru, Johor.
                  </p>
                </li>
                <li class="envelope">
                  <h4>Email</h4>
                  <p>enquiry.my@trapo.asia</p>
                </li>
                <li class="clock">
                  <h4>Working Hours</h4>
                  <p>
                    Monday - Sunday<br>
                    9 A.M - 7 P.M <br>
                    (including public holidays)
                  </p>
                </li>
              </ul>
            </div>
            <div class="col-md-6">
              <ul class="services">
                <li class="cart-plus">
                  <h4>Services</h4>
                  <p>
                    <strong>In-store pick up</strong>: Yes<br>
                    <strong>In-store shopping</strong>: Yes fully stocked showroom<br>
                    <strong>Car Care Services</strong>: No
                  </p>
                </li>
                <li class="credit-card">
                  <h4>Payments accepted</h4>
                  <p>
                    <strong>Cash: </strong> Yes<br>
                    <strong>Card: </strong> Debit, Visa, Mastercard<br>
                    <strong>Buy Now, Pay Later: </strong> Grabpay, Atome, Shopback
                  </p>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.3649722343384!2d103.76591540000001!3d1.5465326000000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31da6d9dc26cacb9%3A0x957492f0cdcb0e17!2sTRAPO%20Taman%20Daya%20JB%20Hub%20(Car%20Mats%20%26%20Accessories)!5e0!3m2!1sen!2sin!4v1717566279928!5m2!1sen!2sin"
            width="100%"
            height="100%"
            style="border:0;"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
          ></iframe>
        </div>
      </div>
    </div>
  </section>
</div>

<style>
  .desc_fetch {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 8px 10px;
  }

  .desc_fetch > div {
      display: grid;
      grid-template-columns: 80px 1fr;
      align-items: center;
      justify-content: center;
      background-color: #1B3D6D;
      border-radius: 5px;
      overflow: hidden;
  }
  .desc_fetch > div p {
      margin: 0 0 0 15px;
      color: #fff;
  }

  .desc_fetch  .img {
      background-color: #C6C6C6;
      text-align: center;
      padding: 5px 10px;
  }
  @media(max-width:992px){
      .desc_fetch > div {
          grid-template-columns: 50px 1fr;
      }
      .desc_fetch > div p{
          font-size:14px;
          line-height:1;
          margin-left:10px
      }
  }
  @media(max-width:767px){
      .desc_fetch {
          grid-template-columns: 1fr;
      }
  }
</style>
