<div class="container">
  <section id="banner" class="melakaraya">
    <div class="container-fluid" style="height: inherit">
      <div class="banner-text text-left">
        <h1>Car Accessories at Trapo Melaka Raya Hub</h1>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="13.548"
          height="13.546"
          viewBox="0 0 13.548 13.546"
          aria-hidden="true"
        >
          <path d="M3.534 8.834L0 5.3h4.712L6.479 0l2.356 5.3h4.712l-3.535 3.534 1.133 4.532-.1.074-4.57-3.428-4.123 3.534z" fill="#ffd35a"></path>
        </svg>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="13.548"
          height="13.546"
          viewBox="0 0 13.548 13.546"
          aria-hidden="true"
        >
          <path d="M3.534 8.834L0 5.3h4.712L6.479 0l2.356 5.3h4.712l-3.535 3.534 1.133 4.532-.1.074-4.57-3.428-4.123 3.534z" fill="#ffd35a"></path>
        </svg>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="13.548"
          height="13.546"
          viewBox="0 0 13.548 13.546"
          aria-hidden="true"
        >
          <path d="M3.534 8.834L0 5.3h4.712L6.479 0l2.356 5.3h4.712l-3.535 3.534 1.133 4.532-.1.074-4.57-3.428-4.123 3.534z" fill="#ffd35a"></path>
        </svg>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="13.548"
          height="13.546"
          viewBox="0 0 13.548 13.546"
          aria-hidden="true"
        >
          <path d="M3.534 8.834L0 5.3h4.712L6.479 0l2.356 5.3h4.712l-3.535 3.534 1.133 4.532-.1.074-4.57-3.428-4.123 3.534z" fill="#ffd35a"></path>
        </svg>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="13.548"
          height="13.546"
          viewBox="0 0 13.548 13.546"
          aria-hidden="true"
        >
          <path d="M3.534 8.834L0 5.3h4.712L6.479 0l2.356 5.3h4.712l-3.535 3.534 1.133 4.532-.1.074-4.57-3.428-4.123 3.534z" fill="#ffd35a"></path>
        </svg>
        &nbsp;&nbsp;<a
          href="https://search.google.com/local/reviews?placeid=ChIJT6_bBh7u0TER9-4ouWAlZzo&q=TRAPO+Melaka+Raya+Hub+(Car+Mats+%26+Accessories)&hl=en&gl=IN"
          style="font-size: 0.9rem"
          >(4.9 out of 5) - 529 Reviews</a
        ><br>
        <a href="https://goo.gl/maps/w1i8aPZgadrkYbz97"><button class="btn-direction mt-1">Get Directions</button></a>
      </div>
    </div>
  </section>
  <section id="description-map">
    <div class="container">
      <div class="row">
        <div class="col-md-6 description mt-1">
          <p class="mt-1">
            TRAPO Melaka Raya Hub supplies a variety of premium designed car accessories and custom-made car mats
            engineered to elevate your driving experience through enhanced safety and comfort. From car air purifiers
            and water-repellent silicone car wiper blades to customizable modular phone holders, TRAPO Melaka Raya Hub
            is the perfect one-stop-shop that caters to a driver’s everyday needs. Visit TRAPO Melaka Raya Hub for
            high-quality car accessories and car mats, plus a host of premium car care services available exclusively
            offline.
          </p>
          <div claas="desc_fetch_item">
            <div class="img">
              <img
                src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/car_mat.svg?v=1723179488"
                alt="Car Mats"
              >
            </div>
            <p>Car Mats</p>
          </div>
          <div claas="desc_fetch_item">
            <div class="img">
              <img
                src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/dashcam.svg?v=1723179489"
                alt="Dashcam"
              >
            </div>
            <p>Dashcam</p>
          </div>
          <div claas="desc_fetch_item">
            <div class="img">
              <img
                src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/wiper.svg?v=1723179488"
                alt="Car Wipers"
              >
            </div>
            <p>Car Wipers</p>
          </div>
          <div class="row">
            <div class="col-md-6">
              <ul class="description-icon">
                <li class="marker">
                  <h4>Address</h4>
                  <p>
                    177, Jln Merdeka, Taman Melaka Raya,<br>
                    75000 Melaka, Malaysia
                  </p>
                </li>
                <li class="envelope">
                  <h4>Email</h4>
                  <p>enquiry.my@trapo.asia</p>
                </li>
                <li class="clock">
                  <h4>Working Hours</h4>
                  <p>
                    Monday - Sunday<br>
                    9 A.M - 6 P.M <br>
                    (except public holidays)
                  </p>
                </li>
              </ul>
            </div>
            <div class="col-md-6">
              <ul class="services">
                <li class="cart-plus">
                  <h4>Services</h4>
                  <p>
                    <strong>In-store pick up</strong>: Yes<br>
                    <strong>In-store shopping</strong>: Yes fully stocked showroom<br>
                    <strong>Car Care Services</strong>: Yes, check out our list
                    <a href="/pages/trapo-offline-services">here</a>.
                  </p>
                </li>
                <li class="credit-card">
                  <h4>Payments accepted</h4>
                  <p>
                    <strong>Cash: </strong> Yes<br>
                    <strong>Card: </strong> Debit, Visa, Mastercard<br>
                    <strong>Buy Now, Pay Later: </strong> Grabpay, Atome, Shopback
                  </p>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3986.9083685172777!2d102.25217517460081!3d2.1884184583076003!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31d1ee1e06dbaf4f%3A0x3a672560b928eef7!2sTRAPO%20Melaka%20Raya%20Hub%20(Car%20Mats%20%26%20Accessories)!5e0!3m2!1sen!2sin!4v1694417700809!5m2!1sen!2sin"
            width="100%"
            height="100%"
            style="border:0;"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
          ></iframe>
        </div>
      </div>
    </div>
  </section>
</div>
